[2017-03-31 19:45] alfonsogarciacaro commented on #2682
@cloudRoutine I would really appreciate the help, thank you! I opened https://github.com/fable-compiler/Fable/issues/787. Maybe we should continue the discussion there?

[2017-04-01 03:49] breyed opened #2760 "Block structure incorrect when using proportional font"
When the F# text editor uses a proportional font, the block structure shows extra lines, sometimes in addition to, sometimes in place of, the desired lines.

#### Repro steps

1. Set the Text Editor font to Calibri.

2. Create an F# file with this code:

[code]

#### Expected behavior

Two block structure vertical lines, like you get if you're using Consolas.

#### Actual behavior

A third, middle

[2017-04-01 06:12] vasily-kirichenko commented on #2760
we don't control the guide lines rendering. Please, report this bug to the Roslyn repository https://github.com/dotnet/roslyn/issues

[2017-04-01 07:33] CameronAavik opened #2761 "Feedback on the F# Tutorial Project + some minor issues"
Hello, I decided to play around with F# and noticed the tutorial project so I thought I would go through it. I've had no previous experience with F# but do know a bit about functional programming.

The tutorial [can be found here](https://github.com/Microsoft/visualfsharp/blob/master/vsintegration/ProjectTemplates/TutorialProject/Template/Tutorial.fsx)

Here is a list of all the errors/inconsisten

[2017-04-01 07:37] forki commented on #2761
Hi, could you please try to send a pull request with your feedback
incorporated. That would be super helpful. Thanks

Am 01.04.2017 09:33 schrieb "Cameron Aavik" <notifications@github.com>:

[2017-04-01 07:55] vasily-kirichenko commented on #2747
The bug on the third screenshot (keywords in the list after dot) is fixed in https://github.com/Microsoft/visualfsharp/pull/2762

[2017-04-01 08:04] CameronAavik commented on #2761
Sure thing.

[2017-04-01 08:07] forki commented on #2761
Thanks!

[2017-04-01 10:52] nikonthethird opened #2764 "Inconsistent indentation rules for `do yield` and `->`."
The rules for indentation are different for the expressions `[for a in b do yield { record }]` and `[for a in b -> { record }]`.

#### Repro steps

[code]

#### Expected behavior

Both variants should be valid according to the indentation rules.

#### Actual behavior

The sequence expression `doYield` is valid.
The sequence expression `arrow` shows a "possibly incorrect indentation" warning.

####

[2017-04-01 13:36] gulshan commented on #1339
Lots of issues being discussed here. I think there should be separate issues for discussion. And this or a new issue tracking them.

[2017-04-01 14:49] 21c-HK commented on #1339
Since he was mentioned here twice and since he also had a huge influence on me:
Rich Hickey's talks should be required watching if your bullshit threshold is (too) high. Even though he is clearly a strong advocate of dynamic typing - which is a source of lots of bullshit - (ironically) his views/ideas are even more true/valuable in the context of the kind of static typing and type inference that F

[2017-04-01 15:07] matthid opened #2766 "How did you start using F#?"
Inspired by https://github.com/Microsoft/visualfsharp/issues/1339 and all the other parts we maybe should ask how existing F# developers were "convinced" to start using F#. I think this might bring some insights in how more people can be attracted.

So I'll start with my story:
 - https://channel9.msdn.com/Blogs/pdc2008/TL11 did really make me curious (I was a student at the time)
 - Out of the cu

[2017-04-01 15:07] ctaggart opened #2767 "inconsistent embed options with Fsc and Csc tasks"
The option names are inconsistnent and Fsc only worked when full paths were passed in.

$(MSBuildProgramFiles32)\Microsoft SDKs\F#\4.1\Framework\v4.0\Microsoft.FSharp.Targets
C:\Program Files (x86)\Microsoft SDKs\F#\4.1\Framework\v4.0\Microsoft.FSharp.Targets
[code]

C:\Program Files\dotnet\sdk\1.0.0\Microsoft.CSharp.Core.targets
[code]

I [worked around](https://github.com/ctaggart/SourceLink/iss

[2017-04-01 15:50] vasily-kirichenko commented on #2673
I think we can close it now?

[2017-04-01 15:51] vasily-kirichenko commented on #2629
I cannot reproduce it anymore.

[2017-04-01 15:51] #2629 closed

[2017-04-01 15:52] vasily-kirichenko commented on #2602
I don't see this bug anymore.

[2017-04-01 15:52] #2602 closed

[2017-04-01 15:55] vasily-kirichenko commented on #2510
I cannot reproduce it on current master.

[2017-04-01 15:55] #2510 closed

[2017-04-01 16:36] breyed commented on #2760
Created dotnet/roslyn#18365

[2017-04-01 16:36] #2760 closed

[2017-04-01 18:35] jmarolf opened #2768 "Microsoft.VisualStudio.FSharp.Editor.FSharpDocumentDiagnosticAnalyze does not catch System.Threading.Tasks.TaskCanceledException"
[code]

[2017-04-01 18:36] jmarolf opened #2769 "UnusedOpensDiagnosticAnalyzer does not catch System.Threading.Tasks.TaskCanceledException"
[code]

[2017-04-01 19:00] vasily-kirichenko commented on #2768
Duplication of https://github.com/Microsoft/visualfsharp/issues/2100

[2017-04-01 19:39] saul commented on #2769
Dupe of #2100

[2017-04-01 19:54] saul commented on #2100
Fixed in #2770 I think

[2017-04-01 21:51] realvictorprm commented on #843
What's the status on this @zpodlovics

[2017-04-01 23:03] slang25 commented on #2766
For me, it was dumb luck. I thought I was a happy C# developer, then in 2015 I saw the [Advent of Code](https://adventofcode.com/2015) and thought this seems like a set of simple mathematical problems that would lend itself to F# (up till then, I knew about F# but didn't really "get it").

In doing the first 5 questions, I had the most fun coding I'd had in many years, I could solve the problems f

[2017-04-01 23:40] #2768 closed

[2017-04-01 23:40] #2769 closed

[2017-04-02 06:45] OnurGumus commented on #2181
Perhaps, this issue should be separated into two issues for each of .net core and .net standard, since they are different things, in order prevent confusion.

[2017-04-02 08:26] vasily-kirichenko opened #2771 "Cannot debug VFT inself anymore - FSharp.Editor has no PDB file"
* git cleanup
* deleted `c:\Users\me\AppData\Local\Microsoft\VisualStudio\15.0_183b437fFSharpDev`
* deleted `c:\Users\me\AppData\Roaming\Microsoft\VisualStudio\15.0_183b437fFSharpDev`
* `build vs`
* build VFT solution inside VS
* Ctrl+F5
* attached to the exp instance
* tried to set a breakpoint in several places in FSharp.Editor and FSharp.Language.Service

![image](https://cloud.githubuserconten

[2017-04-02 08:29] forki commented on #2771
Yes I noticed that as well. Since very recently I can't debug the compiler.
Usually I do:
* git clean -xdf
* build debug
* open vs
* set Fsc as startup project
* F5

I thought I messed up my settings, but since you see something similar...

Am 02.04.2017 10:26 schrieb "Vasily Kirichenko" <notifications@github.com>:

[2017-04-02 08:30] vasily-kirichenko commented on #2771
wow :((

[2017-04-02 08:32] forki commented on #2771
Ok so we should investigate if older commits still work. If so we probably
find the one using bisect

Am 02.04.2017 10:30 schrieb "Vasily Kirichenko" <notifications@github.com>:

[2017-04-02 08:40] vasily-kirichenko commented on #2771
I think the big diff was switching to more nuget VS packages instead of GAC deps.

[2017-04-02 08:46] forki commented on #2771
Sigh.
I think @cloudRoutine said something about nuget packages messing up his editor support yesterday. Why is this shit never working?
OK so what now? Can you reset before that and confirm it broke us?

[2017-04-02 08:56] vasily-kirichenko commented on #2771
![image](https://cloud.githubusercontent.com/assets/873919/24585794/70a2566e-179b-11e7-8199-10123f7258f2.png)

[2017-04-02 08:59] vasily-kirichenko commented on #2771
I'm completely stuck on working on VFT at the moment :(

[2017-04-02 10:34] cloudRoutine commented on #2771
![](http://i.imgur.com/UDmHhkj.png)
![](http://i.imgur.com/40ig3WJ.png)
![](http://i.imgur.com/hjtqrYc.png)

tried adding
[code]
to `visualfsharpopensource.csproj`, only seemed to make symbols load faster

after disabling just my code in debug settings

![](http://i.imgur.com/lS7w1xP.png)

Changing the setting suggested in the image below made no difference

![](http://i.imgur.com/CKPK7QY.png)

[2017-04-02 10:54] cloudRoutine commented on #2771
After trying to set a breakpoint crashed VS

I was able to set some breakpoints that came up as invalid while loading the experimental instance once it was actually running

![](http://i.imgur.com/6NeKDWb.png)

[2017-04-02 15:22] vasily-kirichenko commented on #2771
I looked at what FSharp.Editor.dll is actually loaded and there no *.pdb in that folder at all:

![image](https://cloud.githubusercontent.com/assets/873919/24588462/2309a0c0-17d1-11e7-85af-fd041aace0b9.png)

[2017-04-02 15:26] vasily-kirichenko commented on #2771
I've copied *.pdb manually, it's not helped.

[2017-04-02 15:36] vasily-kirichenko commented on #2771
`'devenv.exe' (CLR v4.0.30319: DefaultDomain): Loaded 'C:\USERS\VASKI\APPDATA\LOCAL\MICROSOFT\VISUALSTUDIO\15.0_183B437FFSHARPDEV\EXTENSIONS\MICROSOFT.VISUALFSHARPTOOLS\VISUAL F# TOOLS\42.42.42.42\FSharp.Editor.dll'. Skipped loading symbols. Module is optimized and the debugger option 'Just My Code' is enabled.`

Why the hell it's optimized??

[2017-04-02 15:51] surban commented on #2766
I was exploring Visual Studio and stumbled upon the Visual F# tutorial project in the New Project dialog. From there I worked my way to the F# for Fun and Profit site and finally bought the Expert F# 4.0 book.

[2017-04-02 15:54] cartermp commented on #2766
I had to build a small DSL (and parser) at my work while I was still in school, so I googled "build DSL C#", only to see a link saying "use F# to build your DSL".  I was interested, so I built one and loved it.  I didn't know about FPParsec.  Since then, F# has been my favorite language.

[2017-04-02 15:57] cartermp commented on #2181
@OnurGumus they're inseparable for the purposes of project system support.  Both require support for the new MSBuild file formats and understanding the .NET Standard reference assembly model.

[2017-04-02 15:59] sergey-tihon commented on #2771
not sure if it is related, but after update to latest nightly, VS2017 asked to install some VS updates ...
After installation I cannot open solutions with F# projects and I found that `VFT` extension is disables

I can do anything about it for now...
<img width="691" alt="vft-disabled" src="https://cloud.githubusercontent.com/assets/1197905/24588701/63cd95b2-17d6-11e7-9dbe-61de5fcb4433.png">

[2017-04-02 16:00] cartermp commented on #2771
@sergey-tihon Can you run VSIXInstaller to remove the nightly and load F# projects after that? (It should be using the vs2017 RTW version of the tools).

[2017-04-02 16:14] gcowin commented on #2766
I had developed a communication manager in C# -- mostly by myself. I had CI with a suite of automated tests. Had QA'd it myself and even a few beta testers. Once it was deployed, guess what happened? NullPointerException even though my code was littered with null checks and validation. My mind was open. There must be a better way, then I found it: F#. Powerful and expressive. I am most happy when

[2017-04-02 16:32] cloudRoutine commented on #2771
cc @ctaggart

[2017-04-02 17:36] cloudRoutine commented on #2771
switching back to my `navigable-improvements` branch/PR and the problem disappears

![](http://i.imgur.com/aKPFtnl.png)

so the problem should be within
https://github.com/cloudRoutine/visualfsharp/compare/navigable-improvements...cloudRoutine:master

[2017-04-02 17:44] 0x53A commented on #2771
The following fixed it for me: https://github.com/0x53A/visualfsharp/commit/3e11e0bdf804ada5ae91c6b03e07ecffb4cd586c
![image](https://cloud.githubusercontent.com/assets/4236651/24589555/abf14644-17dc-11e7-92f0-d865d5479eea.png)

My money is on disabling optimizations, but I am not 100% sure yet.

[2017-04-02 18:39] colinbull commented on #2766
In 2007 - 8 I was working on an optimisation engine for the U.K power system. My C# solution was lost in a sea of static members and delegates (pre-linq) I spoke with a colleague at the time about there must be a better way, googled a little  and the MSR site showed this language called F#. From there on happy days.. :)

[2017-04-02 20:13] saul opened #2774 "Queue diagnostics"
I sometimes find whilst debugging that things like semantic colourisation, structure guidelines or even syntax colourisation can take a while to show. While I'm waiting what's going through my mind is "what the hell is taking so long?"

Currently there is no visibility as to what's going on in the background - I'm absolutely sure that something *must* be happening that's causing the FCS to churn -

[2017-04-02 20:33] cloudRoutine commented on #2774
@saul that's what https://github.com/Microsoft/visualfsharp/blob/master/vsintegration/src/FSharp.Editor/Common/Logging.fs is for.

it's pretty simple to add additional functions that only run in debug mode

[2017-04-02 20:45] vasily-kirichenko commented on #2774
See https://github.com/dotnet/roslyn/issues/18376

7 SECONDS delay (!) Please, add more noise to that issue to make it fixed sooner.

[2017-04-02 20:55] cloudRoutine commented on #2774
If you added a message pump to the reactor in addition to the existing traces then all of those messages could be subscribed to by the current output pane, or there could be an additional pane dedicated to writing timestamped reactor messages.

I find the debug output pane far too cluttered to be useful most of the time and the reactor messages get lost in the chaff.

In VFPT we had a diagnostic m

[2017-04-02 21:18] cloudRoutine commented on #2774
It'd probably be useful to mix in rosyln workspace event notification messages, (doc opened, closed, command called, etc) with the F# language service specific logging to get the full picture of what's going on.

[2017-04-02 22:56] isaacabraham commented on #2766
I'd been toying with F# around the time F#3 came out. I struggled big time to "get it", but it was third time lucky for me (massively helped by going on a two day course run by some blokes called Tomas and Phil...). I'd just finished working on a large rules engine for a customer in finance and trying to create a composable, reusable set of rules within the confines of "accepted" OO design standar

[2017-04-03 07:04] wastaz commented on #2766
I was building a hobby-project in C# and I wanted full test coverage. However, this led to me either writing a million assertions in each test case or writing a ton of `Equals` implementations for classes that didnt need them - and then of course since I had written those I would have to test them as well. While I could have my tools generate these `Equals`, that just felt like I was adding more a

[2017-04-03 09:28] majocha commented on #2771
Thanks @0x53A !  It started to work with your fix, but only after another git clean.

[2017-04-03 09:53] 0x53A commented on #2771
@majocha you don't need to clean, but you need to change anything in any file, because the up-to-date check doesn't check the ``FSharpSource.Settings.targets``, and so doesn't rebuild by default. I always just added/removed one space in FSharp.Editor when testing this.

[2017-04-03 10:01] forki commented on #2771
clean is often needed if you want to rebuild proto or when nuget fucked up again.

[2017-04-03 10:30] buybackoff opened #2779 "Rename doesn't work for generic types"
Renaming generic types doesn't work. E.g. for original code

[code]

when I press F2, the line with `let myInstance...` becomes `let myInstance = new MyGenericTypeMyGenericType()` even before renaming, and after renaming to `MyRenamedGenericType` the result is:

[code]
I.e. all usages of the type duplicate the new type name and erase generic types.

VisualFSharp version 15.4.1.17040101

[2017-04-03 10:36] dsyme commented on #2741
Well, FSharp.Core has to be binary backwards-compatible, that's the bottom line.  If the change can be made with that (and no performance loss for retail code) then I'd imagine we'd go for it.  PR anyone?

[2017-04-03 10:39] vasily-kirichenko commented on #2741
Not today I'm afraid. @cloudRoutine go for it if you have time today.

[2017-04-03 10:40] dsyme commented on #2764
@nikonthethird Per CONTRIBUTING.md, please submit to http://github.com/fsharp/fslang-suggestions,thanks

[2017-04-03 10:40] #2764 closed

[2017-04-03 10:48] tpetricek commented on #2766
Sometime around 2005 or 2006, I got interested in the idea of translating C# to JavaScript, because I thought it was quite silly that you had to write a lot of logic twice if you wanted to add some client-side functionality to your ASP.NET WebForms applications. I though this would make a good topic for a final Bachelor project at the university.

I came across the Abstract IL project on one of th

[2017-04-03 10:54] Lleutch commented on #2766
I started F#, during my master thesis on session types. I have been told to use F# and type providers to see if we could have an implementation of session types in F#. So in fact, it was a first deep usage of F# I had, but because of a bit of background I had with Ocaml I wasn't lost with the syntax. The learning curve was really fast, and I learned a lot coming to F# even about things unrelated t

[2017-04-03 10:55] forki commented on #2766
I was writing my first attempt of a diploma thesis at the time when F# was hitting public beta. I immediately saw that it was a much better fit for what I was trying to do (compared to my ugly C# prototype). In the end I did not finish that first attempt for various unrelated reasons but from this time on I was a convert.
Today I think it's a better choice for basically every programming language.

[2017-04-03 10:59] deapsquatter commented on #2766
I was *looking for a better a way* after being stuck in OO hell for a while. I came across a talk on Functional Programming and chose to learn F# (coming from a C# background). I've never looked back. In fact about to ship a largish application to production in the next few weeks, 100% F#.

[2017-04-03 11:39] xperiandri commented on #2766
https://channel9.msdn.com/blogs/charles/luca-bolognese-c-and-vbnet-co-evolution-the-twain-shall-meet

[2017-04-03 12:08] kurtschelfthout commented on #2766
I wanted to pick up functional programming again (after some exposure to Haskell and Scheme in university), and did C# in the day job. I didn't want to spend time learning new APIs on top of learning another language, and being already familiar with .NET I saw this beta ML-like language created by some random guy in MSR ;). I started reading functional programming papers that I wanted to understan

[2017-04-03 12:23] misterspeedy commented on #2766
I was working at a fairly large financial/actuarial services company, and I happened to overhear a snippet of conversation where someone mentioned F#.  Raised it with my then boss who said "I wouldn't bother with that - it's just FORTRAN for .NET".  And I thought - 'that *can't* be right', so I googled it.  I then came across Luca Bolognese's great talk at PDC2008 (https://channel9.msdn.com/Blogs/

[2017-04-03 12:38] kylesonaty commented on #2766
A coworker and I were tasked to do a project. He was a python guy and I was a C# guy. We both didn't want to give in so we decided on F#. The project was successful and programming in F# changed my way of thinking. It was like I had another tool my arsenal for solving problems.. I was hooked and now I try to write F# whenever I can.

[2017-04-03 12:54] 0x53A commented on #2766
Like surban, I saw the F# node in the New Project dialog in VS2010, and wanted to know what that was about.

It took me about three tries of just opening the tutorial and staring at the code to even get started wrapping my head around the different syntax and the functional concepts. Before that, I didn't have any exposure to ML languages or even functional paradigms in general (a bit of Java in s

[2017-04-03 13:46] pblasucci commented on #2766
After spending ~10 years doing pro software development in Lingo/ActionScript/JavaScript/VBScript/VB/C#/VB/.NET, I felt like there must be a better way...

So, while getting up-to-speed in Ruby and Python (and realizing they are no better), I stumbled across [this blog explaining "functional programming" via Java](http://www.defmacro.org/ramblings/fp.html). I didn't really follow a lot of it. But

[2017-04-03 13:48] dsyme commented on #2766
Oh yeah, that one.... It must have come from "J#". I suppose people just assumed that F was for Fortran without even checking.  Really odd, I never predicted this effect when we chose the name.  Looking back I have no idea how we would have fought this problem except by choosing a different name completely.

[2017-04-03 14:07] ForNeVeR commented on #2766
Back in 2011 my CTO asked us, the programmers, what technical talks are we interested in (because we're hosting local .NET user group and organize talks periodically). I said that I'm interested in functional programming and F# and I'd like to _listen_ to some external speaker talking about F#. And guess what? *I* was asked to be the speaker talking about F# a couple of months afterwards :)

So, I

[2017-04-03 14:12] gfritz commented on #2766
I did OCaml in college (loved it), got my first job in a C# shop, tried Haskell but got bored, got REALLY bored with Microsoft CRM at work, decided to try F# to be less bored.  Started making build scripts, cleanup scripts, several throwaway prototypes to replace CRM screens, and I haven't lost interest yet!

[2017-04-03 14:29] simontcousins commented on #2766
Don't tell anyone, but what I did was: Solution -> Right-click -> Add -> New Project -> Visual F#. A year or so later F# code was in production (May 2010) balancing the schedule for a fleet of UK power stations.

[2017-04-03 14:59] tabakerov commented on #2766
Tried Scala (it was about 5 years ago). Tools (Eclipse + SBT +...) were awkward and not friendly for me (and quite slow compilation), but I'd loved FP. So I keep searching, tried Haskell (it was hardcore and I wasn't ready) and found F#.

[2017-04-03 15:16] jmecosta commented on #2550
same problem here, and those annoying squiggle lines dont disappear from the source code after setting build only

![image](https://cloud.githubusercontent.com/assets/1041352/24616365/99e02d4a-1899-11e7-8cb1-745e71150b99.png)

it happens when using type providers. and using latest nightly build

[2017-04-03 15:23] jackmott opened #2783 "build test does not work if you have a newer version of nunit console already installed"
nunit console will search the pc for the newest version of nunit-console installed, and this can cause a conflict can cause an error when trying to run `build test`

#### Repro steps

1. Install the newest [nunit-console](https://www.nunit.org/index.php?p=download)

2. run `build test`

#### Expected behavior

Should test

#### Actual behavior

Get an nunit error

#### Known workarounds

Uninstall

[2017-04-03 15:36] darrix commented on #2766
I needed to do a fair number of data transformation scripts a couple of years ago.  I had lots of experience with C# but it felt clumsy in this kind of work and then I stumbled into F#, its REPL and, wonder of wonders (not always, but enough of the time to make it valuable), type providers!  I was sold.  It's been a bit of a curve, however.

Acclimating my thinking to immutability and currying too

[2017-04-03 15:49] yawaramin commented on #2766
I actually also initially thought that F# was just Fortran for .NET; no idea how that got in my head. Eventually I found out the truth. Anyway, I spent a few years trying to learn Haskell while also trying to write my 'killer app' in C#, and whenever Haskell would become too overwhelming, I would jump into F# to clear my head and have some functional fun. Eventually I learned OCaml and Standard ML

[2017-04-03 16:13] dhwed commented on #2741
FWIW, the lack of async stack traces was a huge problem for my team, and this is a simplified version of the hack that we are currently using:

[code]

`ExceptionDispatchInfo.Capture` requires .NET 4.5, but the result is that the stack traces from async computation expressions end up looking exactly the same as C# async stack traces.

[2017-04-03 16:23] eiriktsarpalis commented on #2741
@dsyme I think binary compat can be preserved. The main issue is that I don't know of a good way to append lines to the stacktrace without resorting to reflection. I have been nagging at the coreclr team to add this functionality to ExceptionDispatchInfo.

[2017-04-03 16:25] vilinski commented on #2766
There was times when i played with Nemerle - .NET metaprogramming language. Somebody in internet complained, that F# has alienated syntax compared to C# and Nemerle. That made me curious instead :) I have already known about F# from Visual Studio Start Page or "Whats New" I guess, but didn't know why I actually need to learn it. First production stuff was F# script, importing data From Excel to SQ

[2017-04-03 18:05] vasily-kirichenko opened #2786 "NUnit 3 Test Adapter cannot find any tests anymore"
1. Build VFT
2. Open test explorer
3.

![image](https://cloud.githubusercontent.com/assets/873919/24623471/2c2e9706-18b1-11e7-95bb-5e9b199b2c4b.png)

It started a couple of days ago or so.

[2017-04-03 18:23] TIHan commented on #2766
I don't have much of a story. At the time right before F#, I was sort of anti - .NET. I was writing C at home and C# at work. I tested out FP in certain areas in C and I liked it. It was then I decided to find an actual FP language. I chose F# because of it being multi-paradigm and functional first, according to wikipedia :). After I started using it, I knew this was something that I wanted. And c

[2017-04-03 19:01] saul opened #2787 "Revert status bar changes implemented in #2683"
Can we revert the status bar changes implemented in #2683? I understand that there are good intentions, but personally I think we should try to stick to standard VS behaviours as much as possible. I don't think it's unreasonable to think that many people using F# are in a mixed C#/F# codebase, and having distinct results for the same action (missing definition dialog in this instance) is more conf

[2017-04-03 19:07] saul opened #2788 "No syntax highlighting in document"
![image](https://cloud.githubusercontent.com/assets/64654/24626349/ee534eca-18a8-11e7-887d-99839bb024ee.png)

Not sure what's going on here - this isn't the first time this has happened to me and I can't find a reliable repro.

Note that when I do Ctrl+G to jump to a line, I get a "First open a text file to go to a line" message. That may be telling as to what's going on here.

However the documen

[2017-04-03 19:18] cartermp commented on #2787
I agree - we should be loud and obvious about failure rather than not.

[2017-04-03 19:31] xdaDaveShaw commented on #2766
I can't really remember why I wanted to learn it TBH, I'd been working on making my C# more functional and less imperative, and then found there was a language on .NET that was functional first. At NDC London a couple of years ago there was a talk from Bob Martin on Functional Programming and one from Don Syme on Type Providers, and I realised how cool F# was. From then on it was just lots of read

[2017-04-03 20:25] KevinRansom commented on #2787
@cloudRoutine would you send a PR stripping out the status bar changes at issue, it would probably be preferable to reverting the whole PR. then have a discussion about the best way to incorporate those improvements.

Kevin

[2017-04-03 20:26] cloudRoutine commented on #2787
there's no reason to take all of them out, first of all it doesn't disable the dialog box in all instances, second a few lines need to be changed to make it appear more often than it already does

[2017-04-03 20:28] saul commented on #2787
@cloudRoutine sure, I can't speak for the rest of the guys but I'm happy with "Searching for symbol..." and the like. I just think the dialog box, as annoying as it is, at least makes failure obvious. 9pt text in the bottom left of my 30" screen is practically unnoticeable :(

[2017-04-03 20:32] vasily-kirichenko commented on #2787
Originally we use the localized message from Roslyn resources.

[2017-04-03 20:45] cloudRoutine commented on #2787
https://github.com/Microsoft/visualfsharp/pull/2791

[2017-04-03 20:57] cloudRoutine commented on #2788
This has been happening to me as well

![](http://i.imgur.com/bGwgGue.png)

in my case i know it's due to nuget detritus

![](http://i.imgur.com/giodAj8.png)

because once I delete these files and reload the project

![](http://i.imgur.com/4cAea0j.png)

[2017-04-03 22:50] Stift commented on #2766
My C# wasn't satisfying me anymore and I looked for a solution to get out of that hamster wheel. F# was one of the things I looked through. A good tip by @forki was to just go into it via FAKE. Best advice I got. From here started my journey to FP.

[2017-04-03 23:02] KevinRansom commented on #2766
I got a job on the Visual FSharp Tools team.   ...  I hope that isn't too disappointing.

[2017-04-03 23:20] rmschroeder commented on #2766
I had been writing C# for years, and then found Channel 9 videos, Erik Meijer's, which led me to Haskell. I developed a library in C# I originally modelled in Haskell, and it was a really satisfying result because of how general it was - however, the type annotations were an atrocity. As I continued to learn FP, finding F# was natural. Still learning, but having a lot more fun doing so.

[2017-04-04 00:43] breyed commented on #2756
I just ran into the problem again, and so have a couple new data points:
* It occurred after installing an unrelated extension (AFAIKT - I don't use F# every day).
* Switching the theme from Light to Dark fixed it (no need to go to the Fonts settings).

[2017-04-04 00:57] Thorium commented on #2766
I've been using C# from its beta-stages. I've been interested in how to make good software: How to keep maintainability in enterprise environment? How the intention of the developer would be visible in the source code?

There was this tool, Google Reader, and it was easy to use to follow blogs. So I was following over 80 blogs daily, mostly .NET and C#. To name a few people: Bart de Smet, Eric Lip

[2017-04-04 05:46] fjoppe commented on #2766
I've been making Silverlight games in the period 2008-2010, until Silverlight became unpopular. Still I noticed that I learned a lot, and decided to make a game, not to market, but to learn stuff. Such a project is big enough to learn new technologies and reach a relative deep level. I'm a conctractor, so it also helps proffessionally. The game I worked on was "Three is a crowd", which really is r

[2017-04-04 09:04] OnurGumus opened #2792 "Collapse to Definitions does not work."
With VS 2017 nightly, Collapse to Definitions does not work.

#### Repro steps

1. Open any FSharp file with some functions.
2. Hit CTRL M + CTRL O (alternatively right click to screen -> outlining -> collapse to definitions.

#### Expected behavior

All code should be collapsed to their definitions.

#### Actual behavior

Nothing happens.
#### Known workarounds

No.

#### Related information

VS

[2017-04-04 09:13] forki commented on #2771
This is really really painful

[2017-04-04 09:33] majocha commented on #2771
Yeah, I'm totally blocked again. Breakpoints fail to bind.

[2017-04-04 10:49] sidburn commented on #2766
My story somehow started 2008 with Perl. The first time I was introduced to the concept of Functional Programming was with Perl and the book Higher-Order Perl (HOP) (http://hop.perl.plover.com). Technically this book is more like Lisp in Perl. Before I did Procedural programming with C and later on OO with C++ and Perl, but i was never really satisfied, I always felt everything is still too much c

[2017-04-04 11:39] psiLearn commented on #2766
We have an in house simulation program I was using for some rotordynamic System. I wanted to do a parameter variation and the way my college showed me was to start the program from F#. To do more I started to look for more on the web and the video from Luca Bolognese, Scott Wlaschin, Ploeh, Tomas Petricek, Evelina Gabasova changed my view on programing.
The only disappointing thing was that I took

[2017-04-04 12:27] cartermp commented on #2771
cc @KevinRansom @brettfo - this has to be resolved quickly.

[2017-04-04 16:13] asik commented on #2766
It was somewhere early 2012. I had a background in C++ and C# mainly. F# was intriguing to me because it took a different approach (not object-oriented) and had very clean syntax. Once I understood some of the advantages (no nulls, programming with immutable values instead of mutable entities by default, algebraic types), I've always advocated it as the superior solution to C# and it would be hard

[2017-04-04 16:33] asik opened #2793 "Visual Studio 2017 hangs, crashes when opening large F# solution"
We have a large (~90 projects) solution, mostly F#. In VS2015 it takes maybe 20-30 seconds to open and the memory usage is around 400MB. In VS2017, the IDE hangs after loading all the projects, memory usage quickly climbs in the 3GB range, and it can stay like that for several minutes before eventually crashing.

This seems related to F# as larger C# solutions don't present this problem.

This is

[2017-04-04 17:09] vasily-kirichenko commented on #2793
Would you mine to take a gotMemory snapshot and share it?

[2017-04-04 17:10] vasily-kirichenko commented on #2793
Do I understand correctly that no files are open?

[2017-04-04 17:11] vasily-kirichenko commented on #2792
@Pilchie any points why it does not work? Should our structure service provide some special tags or whatever to make it work?

[2017-04-04 17:34] asik commented on #2793
Yes I just open Visual Studio 2017 and open the solution.

Not sure about sharing a dump, it's going to have file names and whatnot... but here are some screenshots in dotMemory when devenv.exe was around 1GB and climbing:

![image](https://cloud.githubusercontent.com/assets/1631157/24670101/d251f0c2-193a-11e7-9022-2961221f8e68.png)
![image](https://cloud.githubusercontent.com/assets/1631157/24670

[2017-04-04 17:50] vasily-kirichenko commented on #2793
Wow o_O. There should be strictly one `FSharpChecker`

[2017-04-04 17:51] vasily-kirichenko commented on #2793
Can you show retaining paths for FSharpChecker?

[2017-04-04 17:54] asik commented on #2793
Oh wait, the number on the right is the number of objects _under_ it. So there are only 2 FsharpChecker objects here (the number on the right).

[2017-04-04 18:07] asik commented on #2793
As vmmap suggests it looks like the growth in .NET objects is not the problem, it's mainly unmanaged memory:

![image](https://cloud.githubusercontent.com/assets/1631157/24671553/dba5a010-193f-11e7-831b-711d84cca908.png)

FWIW though here are the deltas for .NET objects, sorted by Objects delta:

![image](https://cloud.githubusercontent.com/assets/1631157/24671575/f4c8e084-193f-11e7-9792-81034b93f

[2017-04-04 18:11] vasily-kirichenko commented on #2793
From how many project do you have files opened? Can you open a single file from any project (and restart)?

[2017-04-04 18:20] asik commented on #2793
So this is all happening before any files are open in the editor. VS is hung on the Start Page, the Solution Explorer is empty. If it manages to load it (I have a smaller one with 61 projects that just barely loads, sometimes), right now one .fs file opens in the editor. The diff from my last post was on this solution.

[2017-04-04 18:43] vasily-kirichenko commented on #2793
Do you mind try https://drive.google.com/open?id=0B8HLQUKik9VtNFF1UEZNaElhZTg? I reduce project cache size from 200 to 5 in this build. First, open the dev command prompt and run

`Common7\IDE\VSIXInstaller.exe /uninstall:VisualFSharp`

Then run my vsix.

[2017-04-04 19:03] asik commented on #2793
Using your VSIX, I get "The 'FSharpProjectPackage' package did not load correctly in VS. In ActivityLog.xml this seems relevant:

`System.IO.FileLoadException: Could not load file or assembly &apos;file:///C:\Users\***\AppData\Local\Microsoft\VisualStudio\15.0_4ee222e8\Extensions\thoyrmux.2tv\FSharp.ProjectSystem.FSharp.dll&apos; or one of its dependencies. Strong name validation failed. (Exceptio

[2017-04-04 19:11] vasily-kirichenko commented on #2793
Ah, you have to disable strong validation checking.

Another thought: can it be the case that your solution has circular project references?

[2017-04-04 19:14] vasily-kirichenko commented on #2793
`sn -Vr *,*`

[2017-04-04 19:19] blumu commented on #2720
It may be tricky for us to get a consistent repro. Would a crash dump be helpful maybe? @dsyme

[2017-04-04 19:24] bchavez opened #2794 "Extended F# syntax coloring and color settings are missing"
Extended F# syntax colorization and color settings are missing.

@vasily-kirichenko says of [`VisualFSharpPowerTools`](https://github.com/fsprojects/VisualFSharpPowerTools/issues/1498#issuecomment-283611548):

Please see below.

### Repro steps

1. Step A : Install Visual Studio 2017 with F# language support

![vs_installershell_92](https://cloud.githubusercontent.com/assets/478118/24672741/b07d65

[2017-04-04 19:54] vasily-kirichenko commented on #2794
1. Install nightly Visual F# Tools, instructions here (very easy) https://blogs.msdn.microsoft.com/dotnet/2017/03/14/announcing-nightly-releases-for-the-visual-f-tools/
2. Use these color settings

![image](https://cloud.githubusercontent.com/assets/873919/24675876/67ce77d0-1989-11e7-84d9-135ea29e8770.png)

**and these**

![image](https://cloud.githubusercontent.com/assets/873919/24675894/7b9a75d4

[2017-04-04 20:24] bchavez commented on #2794
Ahh thank you so much @vasily-kirichenko ! (and I noticed rename works again too!). Happiness has been restored. I hope Microsoft is paying you handsomely for all this F# goodness. :+1:

Thank you again, I very much appreciate your help!

Have a wonderful day!
Brian

![devenv_97](https://cloud.githubusercontent.com/assets/478118/24676825/68773226-1939-11e7-9346-26a1bb5fcf5c.png)

:cloud: :sunny: *

[2017-04-04 20:24] #2794 closed

[2017-04-04 20:27] vasily-kirichenko commented on #2794
:)

[2017-04-04 20:56] gentauro commented on #2766
* Copenhagen Universities Biocenter

* Lundbeck Auditorium

* On March 26th at 10:15-12:00 a Thursday

It was a COPLAS Talk with regard of Microsoft announcing that it will be supporting F# as a first class language in Visual Studio 2010

At that point in studies I was taking the "Foundation of Computer Graphics" where we worked with a C++ framework. Template hell error messages (hidden bug that w

[2017-04-04 21:01] gentauro commented on #2766
@gfritz you might find this interesting -> http://delegateas.github.io/

[2017-04-04 21:18] eiriktsarpalis commented on #2766
I first heard about F# in 2009 while reading for a PhD in category theory. Apparently some crazy folks from the building across the street were bringing OCaml to Visual Studio. I was too anti-Microsoft at the time to bother trying it, but two years later I had dropped out of my studies and landed an F# job at Nessos.

[2017-04-04 21:22] giacomociti commented on #2766
FP was a prominent topic when I studied CS 25 years ago. But once in the industry I realized that nobody was using it. The only attempt I could find was something called HaskellDB from an academic called Erik Meijer. A few years later when he joined the industry and brought us LINQ I was really happy. But only around 2012 I decided it was time to try FP for real. I don't know why I skipped F#, eve

[2017-04-04 22:22] buybackoff commented on #1637
Is this still the case for the latest F# shipped with VS2017?

[2017-04-04 22:33] asik commented on #2793
The solution doesn't have circular references. I thought this was impossible but I was curious so I wrote a program to verify it; it really doesn't.

I'm seeing the same behavior using your VSIX.

[2017-04-04 22:42] asik commented on #2793
Well, on the smaller (61 projects) solution, with your VSIX it seems to more reliably open it and let me use it, after a very long loading time and going well into 2GB of RAM. But the full one still crashes as before.

[2017-04-05 05:12] vasily-kirichenko commented on #2793
@majocha can it be the case that your "register all projects in workspace as solution is loading" feature can eats all memory and take very long time to finnish?

@asik can you take a dotTrace "timeline" snapshot while it's loading your full solution?

[2017-04-05 06:12] cartermp commented on #2788
Is this with the latest nightly?

[2017-04-05 06:50] majocha commented on #2793
@vasily-kirichenko I think it did the same before, just not on load but after opening first file.

[2017-04-05 07:02] vasily-kirichenko commented on #2793
@majocha no. It loads the project a file belongs to and all referenced projects.

[2017-04-05 07:08] saul commented on #2793
@vasily-kirichenko that's my concern too. I noticed that there's a call in ProjectSiteAndFiles that is O(2^n) where n is the number of projects in the Solution (with a worst case dependency graph).

It's high on my list to investigate, but I imagine that memoising that function will significantly improve load time performance.

My other concern is that Roslyn workspace setup is done async but it c

[2017-04-05 07:08] majocha commented on #2793
@vasily-kirichenko that was the case for some time but before my change that was a PR that queued all the projects and processed them at once after file open. So it's not entirely my fault :)

[2017-04-05 07:14] saul commented on #2793
The O(2^n) function I'm referring to is ProjectSitesAndFiles.getProjectOptionsForProjectSite

[2017-04-05 07:18] vasily-kirichenko commented on #2793
I cannot reproduce it - all my solutions load quite fast. @asik a dotTrace snapshot would be very much appreciated.

[2017-04-05 07:29] cloudRoutine commented on #2788
i don't use the nightlies, I build my own tools straight off of master

[2017-04-05 07:46] vasily-kirichenko opened #2797 "Unable to debug VFT if a not toy solution is loaded into exp instance"
1. Load VFT solution.
2. F5.
3. Load VFPT solution in the exp instance.
3. The main VS instance's private set is increasing until it reaches > 2GB, after that it's unusable.

[2017-04-05 08:03] saul commented on #2793
@vasily-kirichenko, this should help you reproduce the issue that @asik is seeing:

1. Download and extract [Perf.zip](https://github.com/Microsoft/visualfsharp/files/672903/Perf.zip​)
2. Run gen.fsx
3. Open `dense/Dense.sln` in Visual Studio

[2017-04-05 09:15] Huqin-China commented on #2766
Write math funciton in C# can be painful.So i BaiDu and Bing and Google a easy language for math.Python had been considered a while ,but i'm not a professional IT worker,I just need to get full power of .NET,so i choose F# for my algorithm,C# for my UI

[2017-04-05 09:23] battermann commented on #2766
Reading "Clean Code" by Uncle Bob was one of the main drivers for me to look into functional languages and F#.

I remember a chapter on "Don't return or pass null". So I started to search for ways to improve my code in this respect and tried patterns like "Null Object", which wasn't really satisfying.

One day I heard about a programming language where null values don't exist. I couldn't imagine t

[2017-04-05 11:36] Thorium opened #2799 "Improve error reporting: do-keyword missing in a query"
# What

The following code results in an error message which could be improved upon: -
[code]
The error is: -
`error FS0010: Unexpected identifier in expression. Expected '->' or other token.`

# Why
The for-in-do-syntax (`for i in [|1;2;3|] do`) differs from other languages, and `do` is kind of non-intuitive here, so it is easy to forget. Also the error message is very cryptic and underlines the

[2017-04-05 12:05] Thorium opened #2800 "Improve Error Reporting: Multi-line records"
# What
Multi-line records can be used with or without ending `;`
However, when you don't use `;`, then the offset indentation leads to mysterious errors.

[code]

`error FS0010: Unexpected symbol ':' in type definition. Expected '}' or other token.`

and
[code]

`error FS0001: This expression was expected to have type string but here has type bool`

# Why

As generally F# doesn't need semicolons i

[2017-04-05 12:10] Thorium commented on #2800
The whole record-syntax is something that you have to get used to quite a lot, I would first try just copy-pasting the definition and creating the object with:

[code]

[2017-04-05 13:01] THeK3nger commented on #1339
After reading tons of comments in this thread, probably I can contribute to the discussion highlighting my first steps into F#.

I am not a .NET developer, but I code in C# often in Unity3D and I am very into functional programming. Therefore, as you can imagine F# is a natural attraction. However, my main point of conflict with F# is in the build system. I find it confusing and "unnecessarily" co

[2017-04-05 13:10] cartermp commented on #2800
cc @isaacabraham

[2017-04-05 14:06] vasily-kirichenko commented on #2793
@cloudRoutine this thing should be cached https://github.com/Microsoft/visualfsharp/blob/master/vsintegration/src/FSharp.LanguageService/ProjectSitesAndFiles.fs#L111, like
[code]

[2017-04-05 14:10] cloudRoutine commented on #2793
why can't we just pass it the `IVsSolution` as an arg?

[2017-04-05 14:48] Pilchie commented on #2793
Just wanted to point out that the call to `serviceProvider.GetService()` should effectively be a dictionary lookup in the shell after the first call, so caching it locally in F# isn't likely to help much.

[2017-04-05 15:21] GiorgioG commented on #2316
@cartermp any update on when we might see usable (even if beta) release for VS2017?

[2017-04-05 15:28] asik commented on #2793
@saul it's really cool you wrote that. It does repro the long loading time, however not the memory usage going out of control. But hopefully fixing the former would fix the latter.

I looked at dotTrace and unfortunately it also has file names of all the projects and dlls, can't share that. But if it's certain ETW events you want I can run perfview, any particular command line?

[2017-04-05 15:41] vasily-kirichenko commented on #2316
AFAIK, July is a super optimistic estimate.

[2017-04-05 15:50] forki commented on #2793
First PR addressing part of the problem is at https://github.com/Microsoft/visualfsharp/pull/2802

[2017-04-05 15:55] dsyme opened #2803 "Generative TPs in scripts in VS2017"
Some cases of generative type providers appear to give unexpected errors in the IDE in VS2017

#### Repro steps

Use this code in a file ``bug.fsx`` in

    tests\fsharp\typeProviders\helloWorld\bug.fsx

Code:

    #r "provider.dll"

    type TheGeneratedType4 = FSharp.HelloWorldGenerative.TheContainerType<"TheGeneratedType4">

After running tests

    .\build net40 tests

#### Expected behavior

[2017-04-05 16:08] dsyme commented on #2793
@asik It would be really, really great  if you could manufacture an entirely artificial huge solution that exhibits this problem.  I know it might take a bit of work generating fake projects and code, but if we can capture the solution then we can put it in our automated test cases and ensure that we always scale to a solution of this size.   This would be a hugely appreciated contribution if you

[2017-04-05 16:13] dsyme commented on #2803
This is a limitation of the test case, I'll fix it, not a product bug

[2017-04-05 16:13] #2803 closed

[2017-04-05 16:23] dsyme commented on #2425
Closing as I think this is an old issue now?

[2017-04-05 16:33] cartermp commented on #2425
May be worthwhile to keep it open since we haven't moved away from project.json yet, but it doesn't actually inhibit you from working in the solution.  The errors are a bit of a red herring

[2017-04-05 16:35] cartermp commented on #2316
@GiorgioG Current target is July.  Issues tracking it are here: https://github.com/dotnet/project-system/issues?q=is%3Aopen+is%3Aissue+label%3AArea-F%23

The "15.3" milestone represents the third update to VS 2017, which is likely to be around July.

[2017-04-05 16:35] dsyme commented on #2661
I checked:  this repros with both F# 4.0 and 4.1

Changing to use a curried ``let`` function works
[code]

[2017-04-05 16:59] dsyme commented on #2425
ok, thanks

[2017-04-05 17:05] dsyme opened #2804 "Debugging ranges all messed up"
I don't really know what's up, but my favourite debugging technique for the F# compiler now seems to be messed up.  I believe it's because the PDB files being generated by the compiler are now wrong somehow

Normally I do this:

    devenv /debugexe Debug\net40\bin\fsc.exe test.fs

If I then put some breakpoints in Optimizer.fs I expect to hit them, e.g. in OptimizeLambda and OptimizeImplFileInter

[2017-04-05 17:06] forki commented on #2804
We're all cheering to get https://github.com/Microsoft/visualfsharp/pull/2773 in

[2017-04-05 17:09] KevinRansom commented on #2804
@dsyme we are now using portable pdbs rather than desktop pdb's.  There may still be some issues because we haven't really been dogfooding them.

[2017-04-05 17:10] dsyme commented on #2804
I confirmed that moving to "full" makes this problem go away. Closing in favour of https://github.com/Microsoft/visualfsharp/pull/2773

[2017-04-05 17:10] #2804 closed

[2017-04-05 17:10] vasily-kirichenko commented on #2804
@dsyme use https://github.com/Microsoft/visualfsharp/pull/2773. Without it VFT isn't debuggable at all.

[2017-04-05 17:29] MusaJ commented on #2766
In Numerical Algorithm for Video, ML/AI & Modems coding pieces of Householder, Givens transforms my Matlab bill was over $20,000.00 and worse code was obscure C libraries spaghetti, then found John Harp's concise, clear, parallel, async, entropy, hardware, RTL, DSL, web code in F# for $0.00  Python, Wasm lag alot. Lots needs TBD, so am Happy to learn & mentor F# <3

[2017-04-05 18:32] asik commented on #2793
Good news! I can actually repro with @saul 's generated solution, on my work environment. I have no idea why in this environment the memory balloons out of control, whereas at home it doesn't. But maybe at home I'm not running the latest nightly. I'll retest when I get time.

So anyway, dotTrace snapshot from VS slowly dying:
https://www.dropbox.com/s/13swowphpptk8a4/VS2017%20timeline%20snapshot.7

[2017-04-05 18:41] 21c-HK commented on #1339
@THeK3nger Thank you for sharing your first-hand experience of getting started with F# as a non-.NET developer and confirming that the build-system is one of the first major issues encountered.

[2017-04-05 18:49] vasily-kirichenko opened #2806 "No tooltips for core union cases"
![1](https://cloud.githubusercontent.com/assets/873919/24721698/c8005c48-1a49-11e7-963c-7b314a1fe7c7.gif)

[2017-04-05 19:00] vasily-kirichenko commented on #2806
It turns out this is reproduced on https://github.com/Microsoft/visualfsharp/pull/2805 only, closing it.

[2017-04-05 19:00] #2806 closed

[2017-04-05 19:30] GiorgioG commented on #1339
@cartermp How do we convince/persuade Microsoft to put more resources on the F# team?  As a C# .NET dev, I'm giving up (yet again) on learning/using F# because the developer story is non-existant for .NET Core / MSBuild 15 / VS2017...at least through Q3 of this year realistically and by then C# 8.0 will probably be in alpha/beta ;)

Moving the adoption needle is a pipe-dream at this pace of develo

[2017-04-05 20:54] KoenigLear commented on #2399
I can also reproduce it on 26228.12 _Could not load file or assembly 'FSharp.Core, Version=4.4.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'_
[myproj.fsproj.txt](https://github.com/Microsoft/visualfsharp/files/900784/myproj.fsproj.txt)

[2017-04-05 21:15] chkn commented on #2766
I was writing an IL decompiler in C# using the visitor pattern at the time. The code was super verbose, and when I came across F# pattern matching, I started imagining how much cleaner it would be if I could use that. So I started "learning" F# by porting my C# project into it.

I think this was a good way to learn because I had an existing algorithm and just had to learn how to express that in F#

[2017-04-05 23:35] Krzysztof-Cieslak commented on #1339
I know pretty good way of developing F# using those.

[2017-04-05 23:48] GiorgioG commented on #1339
@Krzysztof-Cieslak VS Code is a nice lightweight editor, but it's not Visual Studio.

[2017-04-05 23:58] Krzysztof-Cieslak commented on #1339
That's the biggest advantage.

[2017-04-06 00:57] GiorgioG commented on #1339
You're obviously entitled to your opinion...even if you're wrong ;)

[2017-04-06 07:31] majocha commented on #2806
I think it's because here
[https://github.com/Microsoft/visualfsharp/blob/master/vsintegration/src/FSharp.Editor/QuickInfo/QuickInfoProvider.fs#L196](https://github.com/Microsoft/visualfsharp/blob/master/vsintegration/src/FSharp.Editor/QuickInfo/QuickInfoProvider.fs#L196)
`getTooltipFromRange` will fail when range doesn't point to a file in the solution.

[2017-04-06 08:01] OnurGumus commented on #2792
In addition to above, another problem is, if you make a mistake in your code while typing, all collapsed regions expand automatically after few seconds. Then you have to collapse them again.

Perhaps this is a different issue but surely it is annoying. IDE should not automatically expand anything even if there is a compile error.

[2017-04-06 08:01] vasily-kirichenko commented on #2792
We don't control collapsing behavior.

[2017-04-06 08:03] OnurGumus commented on #2792
Hmm though this is certainly annoying. Suppose that you have a long file and you collapsed some functions, then make a slight mistake and all collapses are gone. Where should I report this then ?

[2017-04-06 08:04] vasily-kirichenko commented on #2792
dotnet/roslyn

[2017-04-06 08:05] OnurGumus commented on #2792
Ah will do so. But note that this behavior only happens with F#.

[2017-04-06 08:10] vasily-kirichenko commented on #2792
F# parser is very sensitive to errors. So, it's quite easy to bring source code to a state when the parser does not return anything. If it returns nothing, we provide no structure (on which outlining is based) for the file and roslyn/VS decides to remove everything. When the code is fixed, we return good structure again, but roslyn/VS seem to be unable to match the new structure with the old one t

[2017-04-06 08:39] vasily-kirichenko commented on #2793
@asik could you try https://github.com/Microsoft/visualfsharp/pull/2801, grab vsix here https://drive.google.com/open?id=0B8HLQUKik9VtSlBtVTdfUHhYMjQ?

[2017-04-06 11:06] stanuku commented on #2766
I always had a curiosity about FP and F# in .NET. Being a C# and OOP developer for many years, I always wanted to do things in a more succint manner when possible without a lot of ceremony or bloat. A couple of years ago, I was trying to buid a DSL and one thing led to another with F# and I got hooked. I'm still a F# fan boy and will be. Hoping to see F# more in mainstream and more support in term

[2017-04-06 16:00] Pilchie commented on #2792
Tagging @cyrusnajmabadi too, but yes, - you need to indicate whether a region should be considered a "definition" or not.

[2017-04-06 16:41] asik commented on #2793
So it does load our solution, pretty fast as well. However, after that trying to open files from the solution explorer I am often greeted with
![image](https://cloud.githubusercontent.com/assets/1631157/24765530/2f8735cc-1ac6-11e7-8479-c6b53696097e.png)
and there is no syntax highlighting at all, even on small solutions.

[2017-04-06 17:36] CyrusNajmabadi commented on #2792
Correct.  If you go from no regions to some regions, there is no 'matching' done.  The only matching happens if you have existing regions and continuously produce updated regions.  This is how Roslyn's async-tagging architecture works.

You'll have to implement some sort of caching if your system cannot provide continuous, reasonable, structure tags.

[2017-04-06 17:52] CyrusNajmabadi commented on #2792
@vasily-kirichenko

You'll need to set this property on BlockSpan.  Thanks!

[code]

[2017-04-06 19:08] vasily-kirichenko commented on #2367
Fixed in https://github.com/Microsoft/visualfsharp/pull/2809

[2017-04-06 20:21] vasily-kirichenko commented on #2792
Fixed in https://github.com/Microsoft/visualfsharp/pull/2810 ("collapse to definition")

[2017-04-06 22:37] dsyme commented on #2647
@pblasucci The underlying reason for this is that the struct union type is not marked "sequential"

The bigger picture is that multi-case struct unions currently use a set of fields which are the union of all the different cases, plus a tag. This is obviously non-optimal in many cases, and in the future we may change this to use actual .NET IL union types that use overlapping fields, or which shar

[2017-04-07 00:32] JoshVarty opened #2812 "InitKeyBindings throws ArgumentNullException during creation of Peek Definition text view"
When a user triggers Peek (Alt+F12) there's a `ArgumentNullException` in `TextViewCreationListener.InitKeyBindings()`.

![image](https://cloud.githubusercontent.com/assets/1249087/24780652/e763c166-1aed-11e7-9602-63ea43eae0cb.png)

This went unnoticed for a long time because Visual Studio's `IGuardedOperations` class was mistakenly swallowing all exceptions in certain scenarios. The change to `IGu

[2017-04-07 07:00] saul commented on #2793
@asik that is left over from Vasily's investigation. To fix it, create that file on your disk.

[2017-04-07 07:09] vasily-kirichenko commented on #2793
That VSIX is not usable anyway, it's just POC where the problem is. I'm not gonna provide a fix.

[2017-04-07 08:58] OnurGumus opened #2814 "Better breakpoint support when clicking (works fine with F9)"
It is not possible to fine put fine grained breakpoints by clicking but only with F9.

#### Repro steps

Provide the steps required to reproduce the problem

1. Suppose we have the below code:

[code]

2. We try to click to left hand side of visual studio to line starting `| 1 -> x` . Visual studio puts the breakpoint to the match statement.

3. However if we click to `x` then hit F9 then a proper

[2017-04-07 09:11] harrisonmeister commented on #2313
Is there any update as to the timelines on getting the F# 4.1 compiler / stand-alone tools into the MS download center?

[2017-04-07 09:17] vasily-kirichenko commented on #2313
@harrisonmeister what about using https://www.nuget.org/packages/FSharp.Compiler.Tools/?

[2017-04-07 09:22] harrisonmeister commented on #2313
@vasily-kirichenko  - would this require me to change any fsproj files to locate the targets files correctly? I've tested with msbuild 15 and this was (one of) the issues. I'm happy to make the fsproj changes if needed!

[2017-04-07 09:32] OnurGumus commented on #2814
It might be a dup for https://github.com/Microsoft/visualfsharp/issues/2325 not entirely sure though.

[2017-04-07 09:37] pblasucci commented on #2647
Thanks, @dsyme. This actually makes a lot of sense. Maybe this is just a documentation issue?

[2017-04-07 09:50] #2661 closed

[2017-04-07 09:50] dsyme commented on #2661
fixed by PR above

[2017-04-07 10:01] cartermp commented on #2313
Ack, sorry!  It's been difficult to get it into the download center and I admit that I forgot about it last week.  I've made a note to myself to talk to the right people next week to get it in there.

(I'm not in Redmond this week, hence needing to do it next week)

[2017-04-07 10:10] forki commented on #2814
I'm taking a look

[2017-04-07 10:20] dsyme commented on #2416
@gusty,  This bug is caused by my switching of operations in  the commit https://github.com/Microsoft/visualfsharp/commit/4f89b4c872b59b0d70cef63b15e4bb91ac12cdfe when fixing  https://github.com/Microsoft/visualfsharp/issues/1306

We need to go back and review what we've done here, and perhaps revert the change

[2017-04-07 10:24] forki commented on #2814
I can repro

[2017-04-07 10:27] harrisonmeister commented on #2313
@cartermp - no problems whatsoever, we are running msbuild 14 for now, so no mega rush, was just curious :)

[2017-04-07 10:29] gusty commented on #2416
@dsyme
Hopefully we don't revert it, otherwise it will also be a regression now.
I would like to help to resolve this in a way we don't need to revert but I'll be out for holidays.
In the meantime let me know if you see other regressions related to this issue.

[2017-04-07 10:30] cartermp commented on #2814
It's sort of a dup but might not technically be a dup, even if overall it's still the same problem.  Breakpoint resolution is kinda janky with clicking.  This is something I want to look at soon.  @forki and @vasily-kirichenko have made improvements here before, too.

[2017-04-07 10:42] forki commented on #2814
https://github.com/Microsoft/visualfsharp/pull/2815 you are welcome

[2017-04-07 10:43] cartermp commented on #2647
@pblasucci I'm tracking work (which I'm currently doing) here: https://github.com/dotnet/docs/issues/1677

Would love to get your input on this area if you think it's worth documenting.

[2017-04-07 11:06] dsyme commented on #2416
@gusty I submitted a tentative fix here https://github.com/Microsoft/visualfsharp/issues/2416

[2017-04-07 13:12] forki commented on #2325
fixed with #2815

[2017-04-07 15:14] aliozgur commented on #2581
Same here.
<img width="1439" alt="2017-04-07_1812" src="https://cloud.githubusercontent.com/assets/799194/24806588/fe02b910-1bbd-11e7-9619-813d28933f23.png">

[2017-04-07 15:19] haf commented on #2581
This is (possibly) fixed in this repo, but there's no way to test it on OS X (no instructions on how to replace the FSI or change the underlying DLL). Instructions or hints on how to do that would be welcome.

[2017-04-07 15:53] #2812 closed

[2017-04-07 16:04] cartermp opened #2819 "Cannot load certain projects generated via Ionide in VS 2017"
Ensure you have VS 2017 installed with F#.

1. Clone the following: https://github.com/thinkbeforecoding/UnoFSharpX
2. Run `build.cmd` (there is an error)
3. Attempt to load one of the projects.

#### Expected behavior

Project loads.

#### Actual behavior

<img width="334" alt="screen shot 2017-04-07 at 5 00 01 pm" src="https://cloud.githubusercontent.com/assets/6309070/24808502/de35c834-1bb3-11e

[2017-04-07 16:06] #2814 closed

[2017-04-07 16:40] saul commented on #2325
@cartermp @KevinRansom this can be closed now :_

[2017-04-07 16:41] #2325 closed

[2017-04-07 16:42] thinkbeforecoding commented on #2819
After investigation, on my system, I have the VisualStudioVersion environment variable set to '14.0', and it builds using C:\Program Files (x86)\MSBuild\14.0\Bin\MSBuild.exe

When I set the env variable to '15.0' it runs C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\MSBuild\15.0\Bin\MSBuild.exe and fails with
    1>C:\Development\UnoFSharpX\Uno.Tests\Uno.Tests.fsproj : error MSB

[2017-04-07 17:04] vasily-kirichenko commented on #2792
@CyrusNajmabadi Thanks, it works :)

[2017-04-07 17:16] vasily-kirichenko commented on #2819
@cartermp Isn't it a ionide but?..

[2017-04-07 17:20] cartermp commented on #2819
@vasily-kirichenko Likely not.  If you create an F# 4.1 project in VS 2017 and attempt to build it with msbuild 14, it will fail as well.  Seems like we might have a setup authoring issue?

[2017-04-07 17:21] #2792 closed

[2017-04-07 17:57] #2367 closed

[2017-04-07 19:02] CyrusNajmabadi commented on #2792
Awesome!  You rock! :)

[2017-04-07 20:35] saul commented on #2184
I've figured out why this is occurring.

The new Roslyn EE support the same DebuggerTypeProxy attributes we're using on our types (Map, List, Set, etc), in the same way that the native EE did. I've stepped through the debugger (with another debugger) and found the exact point that our proxy type is being ignored.

We're failing this conditional in the Roslyn EE in [TypeHelpers.cs@201](https://gith

[2017-04-07 21:28] Pilchie commented on #2184
I know nothing about EE's or their requriements, but I'll inoke @cston here :)

[2017-04-07 22:01] saul commented on #2184
I think this is something we need to fix from the F# compiler side. I'm just awaiting @dsyme's comment, as I think we're setting the accessibility of property getter/setter methods incorrectly.

Types in internal modules set the property getter/setter to be private(!), whereas property getter/setter methods on types in public modules have the correct accessibility. I'm very lost in the depths of t

[2017-04-08 03:59] blumu commented on #2720
Repro details coming soon! :-)

[2017-04-08 08:59] saul opened #2820 "Fields and methods on internal types are impossible to make public"
This is causing #2184 - I don't think the Roslyn EE is doing anything wrong here.

[code]

Note how the only public instance methods are ones inherited from System.Object. `PublicMethod`, `CustomGetter`, `Items` nor `get_Items` are available on the public interface. This is in contrast to C#, where public members on internal types stay public.

Compare the same GetMembers call on a type in a publi

[2017-04-08 10:04] cartermp commented on #2714
Looks like we'll have to update the color here.  What we choose will also have to work under light/dark themes and Windows High Contrast White/Black modes.  I'll get a designer to give us a set of colors to choose from.

[2017-04-08 10:21] cartermp commented on #2820
Super interesting.  Thanks for the investigation, @saul.

[2017-04-08 13:18] vasily-kirichenko commented on #2771
Fixed in master.

[2017-04-08 13:18] #2771 closed

[2017-04-08 15:52] KevinRansom commented on #2820
@saul Why did these attributes work in the past?  Is this behavior different from before?

Kevin

[2017-04-08 16:43] Huqin-China opened #2822 "Same namespace cross project(C#,F#) will cause error."
## Actual behavior
### Fix description
Not intellisense bug.
It's caused by what's title said;
see below
![fsharpbug](https://cloud.githubusercontent.com/assets/15418465/24830616/67e7275e-1cbc-11e7-90ea-4ebe324eb23c.PNG)

Provide any related information
f# core  4.4.1
VFPT Nightly 2017040601
Target .Net 4.5

[2017-04-08 17:02] haf opened #2823 "Internal error in fsharpi - referencing a facade DLL"
Trying to run tests with Mono.Cecil as a reference throws 'internal error'

#### Repro steps

Run this file in `fsharpi` on OS X on mono 4.8.0 https://github.com/logary/RingBuffer/commit/a3282d70f06d32f799b91baca65745ad98b07468#diff-879359970577bc1dba6b3bc3fc59e6d2 after doing a `paket restore`. It triggers the issue on this line: `Tests.runTests defaultConfig tests`:

[code]

#### Expected behavi

[2017-04-08 17:31] saul commented on #2820
@KevinRansom, I'm quoting the code from Roslyn EE:

Unfortunately in F# the getters are non public as the type is internal, so the proxy doesn't work on Roslyn EE. However I think what Roslyn is doing is reasonable, I don't think the F# compiler should make members non public just because the type is. We should follow C# in this regard.

[2017-04-08 21:12] jack-pappas commented on #2786
Is this specific to F# projects? Can you reproduce the failure to find tests if you try to use the NUnit 3 test adapter to run tests from a C# project?

[2017-04-09 07:04] odytrice commented on #2766
I was listening to dotnet rocks and Yan Cui was talking about F#. That was when I first heard about it. The syntax put me off immediately. It took stumbling on several talks from Don Syme, Tomas Petricek and Rachel Reese for me to give it a try.

Ultimately it was a this talk [Ten things F# can do that C# can't](https://www.youtube.com/watch?v=hMjv8m--W28) by Liam McLennan and his pluralsight cour

[2017-04-09 07:05] forki commented on #2786
I saw the same thing here. I assume a bad commit (maybe nuget package changes) broke this.

[2017-04-09 11:00] kerams opened #2825 "Faulty coloring of numbers in comprehensions with a step"
When using list/seq/array comprehensions with a step, the final number is either partly or entirely miscolored.

#### Repro steps

![untitled](https://cloud.githubusercontent.com/assets/5063478/24836731/f70c010e-1d23-11e7-9394-c484daff2b3f.png)

#### Expected behavior

All numbers should have the same color.

#### Related information

Visual F# Tools version 15.4.1.17040601
.NET 4.6.2

[2017-04-09 11:03] kerams commented on #2825
The closing brace in `test3` is grey too by the looks of it.

[2017-04-09 14:35] bentayloruk commented on #2766
I attended the Microsoft PDC in 2008 and the charismatic Luca Bolognese did the rest!  You can still see his [Introduction to Microsoft F#](https://channel9.msdn.com/Blogs/pdc2008/TL11).

[2017-04-09 15:32] vasily-kirichenko commented on #2825
Fixed in https://github.com/Microsoft/visualfsharp/pull/2826

[2017-04-09 17:45] luajalla commented on #2766
I was a first-year student (2008) just starting to learn programming with some C, Java and C#. I just found out about existence of lambdas and asked a senior student how I could learn more about "something like this, but even more cool". He told me that there's functional programming and languages like Haskell and F# for .NET, so I went for F# + discovered F# community on twitter, it's quite addic

[2017-04-09 20:27] psfblair commented on #1096
In response to my earlier post about Unity allowing F# for writing 3D UWP apps, unfortunately that has turned out not to be true as well. More details on my blog at <http://seriouscodeblog.blogspot.ca/2017/04/no-virginia-you-cant-actually-write.html>.

[2017-04-09 20:32] saul opened #2827 "Add option to place open statements at the namespace level"
At present, refactorings that add open statements open them at the module level. I personally prefer to place open statements at the namespace level, but this isn't an option in the F# tools.

It would be great if we could have an option where this could be specified. I'm happy to have 'place at module level' as the default :) At the minute 'add open' is pretty useless to me as I have to manually

[2017-04-09 20:34] Mike-EEE commented on #1096
Not sure if you noticed, @psfblair, but you can't even upvote the bug as you suggest on your blog post.  F# truly gets no luv. 💔

[2017-04-09 20:46] psfblair commented on #1096
Until you mentioned it I hadn't; however, you can vote for Unity F# support here: https://feedback.unity3d.com/suggestions/f-support -- it's already got > 2000 votes.

[2017-04-09 20:49] vasily-kirichenko commented on #2827
Yeah, I thought about it. It's easy to implement after https://github.com/Microsoft/visualfsharp/pull/2805 is merged.

[2017-04-09 21:11] cartermp commented on #2827
I'd like this as well.  Personally I think it makes sense as the top option (assuming two options, where one is to `Add open` and the next is `Add open (module level)`).

[2017-04-09 21:53] Jason-Crump opened #2828 "Improve Error Reporting: Operator that has not been defined"
# What
An idea for the #1103 list. If you attempt to use an operator that you haven't defined (possibly because you've forgotten an "open" like in [this StackOverflow example](http://stackoverflow.com/questions/35822772/compile-error-for-kleisli-composition) or in some code I just wrote myself) you can receive an error message like:

# Why
Importing the operator could be a quick fix depending on t

[2017-04-09 22:23] OnurGumus commented on #1096
For the curious, let me summarize **my own observations**:
There's not much improvement regarding uwp support from Visual F# team since last year. They are mostly busy with IDE improvements and bugs. And probably their next big goal is to move the project system to Roslyn, so that we will have proper .NET core and standard support from Visual Studio. However, they are careful on not implementing s

[2017-04-10 02:58] cloudRoutine commented on #2819
i've run into this issue lots of times, there are a few different ways to address it. Setting a default visual studio version in the fsproj sometimes fixes it, but it doesn't always seem to work.
[code]

the other is to add something like this to the `build.fsx`

[code]

[2017-04-10 05:00] BentTranberg commented on #2766
After decades with Delphi and C# I was getting frustrated at their inefficiency, and F# happened to enter main stage at the right time. I'd likely have a career change if it wasn't for that.

I remember trying out F# on a small problem involving somewhat complicated generics, without actually knowing what the syntax was, and to my astonishment I guessed right and it worked, and with such ease with

[2017-04-10 07:54] mclang commented on #2766
I have always being interested about different programming languages.

Couple years ago I learned about functional programming from book called "Seven Languages in Seven Weeks". First I started experimenting with Clojure, but after problems with JVM and startup times I looked elsewhere... and found F#. Newer looked back since then.

[2017-04-10 10:08] Mike-EEE commented on #1096
I'm soooooo holding my snark @OnurGumus, but I am glad to hear of the inactivity of and away from UWP.  Although really one could say that UWP hasn't seen much activity for years. (oops, I tried).

Although, it does seem we have replaced one mediocre platform (UWP) with a better one (ReactXP), I am curious about how .NET integrates with this now.  As ReactXP and React in general is exclusively Jav

[2017-04-10 10:14] forki commented on #1096
Regarding reactxp: fable is already working VERY nicely with react and react native. I assume it would work with reactxp as well. We already discussed it on the fable channel. We basically agreed that new controls are very welcome, but we are very sceptical about the idea of abstracting mobile and web development. Usually you have very different workflows. It's just not a good idea from UX standpo

[2017-04-10 10:27] Mike-EEE commented on #1096
That's right!  I forgot to ask about that and thought about that while writing my earlier comment.  There **is** Fable, at the very least.  It would seem terribly shortsighted to not provide a bridge to .NET (since UWP is all about bridges ;) ;) ;) -- sorry, can't help it!), but who knows.  After Silverlight, I have not put much faith into the leadership there at Windows command. 😛

I am curious a

[2017-04-10 10:31] forki commented on #1096
@Mike-EEE the problem is that different devices allow you different workflows. I was actually starting to write a React/ReactNative layer for fable when I learned that I just don't want to use it. ;-)

TBH it would not be hard to do and maybe there are some apps that would work well with that.

Reagrding UWP - I personally could not care less. But react native allows you to target UWP - so then fa

[2017-04-10 10:35] OnurGumus commented on #1096
@Mike-EEE Despite the criticism, there is also one unique feature of UWP that is not available in any other platform. That is WinRT.

UWP (and previously windows store apps) is the only platform that supported JavaScript apps natively without any wrappers from the beginning.

One can most definitely develop a JavaScript HTML based UWP app and call C# written WinRT DLLs natively. This is a relative

[2017-04-10 10:59] Mike-EEE commented on #1096
@forki the problem is not being able to target UWP (or windows), it's being able to target Windows (or any platform) _in .NET_.  You have to realize that companies, organizations, and developers (:angel:) have over a decade of investment in this stack.  It makes the most business "cents" to be able to leverage those investments forward, rather than starting over and learning something completely n

[2017-04-10 11:09] forki commented on #1096
into what stack? UI frameworks on windows came and go like crazy.

[2017-04-10 11:15] Mike-EEE commented on #1096
Indeed. I mean .NET in general.  While not UI specifically, I refer to not only the knowledge gained by working with it, but code (which is encapsulated knowledge).  The idea/concept here is the cost savings realized when being able to leverage knowledge yielded in one tier into another -- much like you can do with NodeJS/React right now.  Silverlight was the premiere example of this on the .NET s

[2017-04-10 11:20] charlesroddie commented on #1096
Can we keep the thread on topic please? This thread about standard F# UWP applications, which work when compiled normally to IL, but not when compiled with .NET Native, and therefore cannot be released on the Windows Store. Unless XYZ javascript frameworks are a means to compile F# UWP and Xamarin applications to machine code to allow release on the Windows Store, then they don't solve this proble

[2017-04-10 11:23] forki commented on #1096
tbh realistically @cartermp should close it as won't fix.

[2017-04-10 11:33] OnurGumus commented on #1096
@Mike-EEE, off topic but need to clarify,  i meant winrt which are language agnostic com components. WinJS was just a JavaScript library invented by Microsoft without looking what the rest of the world was doing this failed inevitably. WinJS also runs in regular browsers.

[2017-04-10 12:47] theprash commented on #2766
I worked in a semi-technical software role for a few years and started automating tasks mainly through PowerShell scripts. I started to get interested in functional programming from blog posts and conference talks. FP felt quite natural to me and just easier, simpler and more powerful than OO (I had a more Mathematics educational background). I had tried to get into Java and ActionScript several y

[2017-04-10 13:07] amazingant commented on #2766
Matching @kurtschelfthout, my day job has me working on VB/C#, and I wanted to pick up functional programming. I was pretty happy with Haskell already, but the Haskell experience on Windows was a bit lacking at the time, so I took a look at F# and built some toy projects with it, and then started quietly slipping it into things at work.

The ability to use F# to power build scripts via FAKE greatl

[2017-04-10 14:40] jmmk commented on #2766
A few years ago I got interested in functional programming. I read about different languages and eventually settled on Clojure. Immutable data really clicked with me and I liked the FP model. I liked that Clojure was pragmatic - allows mutability where necessary, has a very strong interop story with both JS and Java.

The huge downside of Clojure (and dynamic languages in general) was in refactori

[2017-04-10 15:53] #2825 closed

[2017-04-10 15:59] dsyme commented on #2820
Right now, this is "by design in F#", though maybe we have to do something here

In my lonely logician's view of the world, it makes absolutely no sense whatsoever for a container to be internal, and its contents to be public. That's just a crazy logical situation, particularly when the default or things is "public".  For example, given this:
[code]
I really expect ``f`` to be ``public``.  I also

[2017-04-10 16:03] dsyme commented on #2822
I think we need a much more minimal repro for this, in an empty or minimal project?

[2017-04-10 16:05] KevinRansom commented on #2820
@saul ... could Roslyn make F# proxies work?  After all these used to work, and so this is a breaking change.

I think before we introduce a language change we should explore whether Roslyn can just fix the issue.

Make sense?

Kevin

@Pilchie Who do we need to follow up with?

[2017-04-10 16:08] Krzysztof-Cieslak commented on #1096
All you guys want is Microsoft stamp of approval. Can we just get @cartermp to say Fable + React Native is fine and everyone will be happy.

[2017-04-10 16:39] KevinRansom commented on #1096
Ahead of Time compilation of F# is a goal but not yet a priority of the F# team.  There are a number of .NetNative toolchain issues to iron out, for example .tail Tail calls are a big deal in F# and almost non-existent in C#.  Therefore those code paths are likely to be full of bugs that will be tricky to fix.  We have a lot to do that is higher priority and more broadly impactful right now.

[2017-04-10 16:49] forki commented on #1096
As I said. Close as "won't fix" is most honest thing to do.

[2017-04-10 17:54] dsyme commented on #2823
The problem appears to be that the ``4.5-api`` DLL is being used.  I don't know why this is used in preference to the explicitly referenced DLL, I wouldn't expect that to be the case.

    Binding session to '/usr/local/Cellar/mono/4.8.0.495/lib/mono/4.5-api/Mono.Cecil.dll'...

[2017-04-10 18:05] OnurGumus commented on #1096
@KevinRansom  and why don't you ignore tail calls for the time being? (I asked this question so many times but never received any response)

[2017-04-10 18:07] saul commented on #2820
@KevinRansom sure. They could revert to the old behaviour of the native EE.

@dsyme I think that's exactly the point. It's completely reasonable to access a type's members with GetMember, and you would expect a public property to be public. I find it bizarre that I can explicitly mark a property as public, and it's just ignored. This took way too long for me to figure out.

You mention that this i

[2017-04-10 18:10] forki commented on #1096
Because then excuses are gone. ;-)

(Javascript does not have tail calls - fable still works somehow. Magic ;-)  )

[2017-04-10 19:08] saul commented on #2820
I've raised an issue on the Roslyn repo to get the old behaviour: https://github.com/dotnet/roslyn/issues/18581

[2017-04-10 19:12] saul commented on #2104
This can be closed now

[2017-04-10 19:13] #2104 closed

[2017-04-10 19:13] saul commented on #2548
It's worth pointing out that build errors do *not* show in the "Build + IntelliSense" window. The only errors that show there are IntelliSense errors.

Build-only errors such as: `FSC: error FS0084: Assembly reference 'E:\Code\DevTools\libs\Foo\bin\Debug\Foo.dll' was not found or is invalid` do not show in the Error List window whatsoever.

Does anyone on the Roslyn side know how build errors are

[2017-04-10 19:16] dsyme commented on #1096
This would be the correct thing to do to unblock the use of F#.  Taking "tail." instruction tailcalls is not critical for app programming as long as the developer preparing the app knows that they are not being taken and can workaround the cases where they are critical.

[2017-04-10 19:19] dsyme commented on #2820
Yes, all in all it's totally reasonable to expect an explicit "public" on a member to actually be give a member public accessibility in the IL (or at very least give a compiler warning).  I would approve a PR to give this effect.

If you'd like a hand to try to make a PR to make this happen please share a WIP branch and I'll take a look :)

[2017-04-10 19:22] KevinRansom commented on #1096
It’s not the only problem.  There were issues around generics, with the coreclr pre-allocating all possible generics instead of generating them dynamically, bloating the size of assembies … and other stuff that I don’t even recall right now.  The issue is making the time to figure out what all of the current issues are.  Doing that means some other work has to go on the back burner.

We took the d

[2017-04-10 19:38] dsyme commented on #2548
So that's a regression then?

[2017-04-10 19:39] CyrusNajmabadi commented on #2548
Sorry, i'm unfamiliar with thsi part of Roslyn.  @heejaechang or @mavasani might know though.

[2017-04-10 19:58] dsyme commented on #2823
@haf If you get a chance to check with latest "fsharp" master from fsharp/fsharp (or latest tag) that would be great, I expect the bug has been fixed there (by preferring the `4.5` copy of Mono.Cecil)

[2017-04-10 20:03] saul commented on #2548
Yes @dsyme it's definitely a regression

[2017-04-10 20:05] saul commented on #2820
I tried to take a look at this over the weekend but the compiler is way too complex for me to grok in the couple of hours that I had. If you can point me to a function that I need to change I can probably work my way out from there :) I'm very keen to get this fixed as the debugging story in F# on VS 2017 is really poor at the minute due to the lack of info from maps/lists/sets.

[2017-04-10 20:19] mavasani commented on #2548
@heejaechang knows about the de-duping logic with Build and Build + Intellisense, though he is OOF this week.

[2017-04-10 21:34] saul commented on #2548
Thanks for the quick response @CyrusNajmabadi - I'll try paging @heejaechang next week.

Also for one of the F# team - can we remove the 'Flaky' tag from this and put in Bug and/or Regression?

[2017-04-10 21:43] blumu commented on #2720
We were able to extract a repro. Kudos to @marina-p for coming up with it! So far we've only been able to repro on a specific version of Mono with both F#4.0 and F#4.1 (`Mono Stable 4.6.2.7/08fd525 Mon Nov 14 10:53:45 UTC 2016`) on a single core VM. It does not repro on mono running on Windows.

We found a workaround (which simplified our code at the same time), so we are not blocked by it.
Perhap

[2017-04-10 22:51] saul commented on #2548
Okay I've got a fix locally. It looks like we're trying to grab SOleComponentManager too soon and it's returning null. I've copied what PTVS is doing and I've got the Error List to work normally. Will open a PR in a day or so 👍

[2017-04-11 00:34] Huqin-China commented on #2822
### More Situation
"." competionprovider also report the same error for  System.Collections.ImmutableDictionary  type.

[2017-04-11 03:12] KevinRansom commented on #2820
I just found this in the compiler;
[code]
Apparently we applied an internal hack to make it work.

[2017-04-11 04:45] Huqin-China opened #2831 "Creat new project in debug mode will fail because properties miss some value"
Please provide a succinct description of the issue.

#### Repro steps

1. Lastest Master branch,luanch visualfsharpopensource

2. Create new project using F#

#### Expected behavior

No error;

#### Actual behavior

debug report error,because {Microsoft.VisualStudio.FSharp.ProjectSystem.Automation.OAProperties.Properties} miss {TargetPlatformIdentifier}

there is a (if check) in source code ,when

[2017-04-11 05:40] KevinRansom commented on #2820
@saul checkout this:  https://github.com/Microsoft/visualfsharp/pull/2830

I tried it out on my machine, Even with a public setter the debug proxy didn't work.   Any ideas?

[2017-04-11 05:43] OnurGumus commented on #1096
I have a hypothetical question. Is it possible to craft a special version of F# compiler and libraries so that all F# generated generics are erased and thus making AOT happy?

[2017-04-11 06:05] BentTranberg opened #2832 "Visual F# Tools "More information" immediately starts download of vsix"
#### Actual behavior

In the Extensions and Updates dialog in VS 2017, when looking at the entry for Visual F# Tools, version 15.4.1.17040601, and clicking on the "More information" link, this link will promptly download VisualFSharp.15.4.1.17040601.vsix

This doesn't make sense. I asked for more information, not a download without confirmation.

#### Expected behavior

1) I would expect a link ti

[2017-04-11 11:22] 21c-HK commented on #2400
@cartermp Could you please change the number/bullet points to check boxes in the original post so that it's possible to track the current status of the individual work items?

[2017-04-11 11:48] Huqin-China commented on #2822
@dsyme Yes，i create new project,and  intellisense in this project looks good.

[2017-04-11 12:11] BentTranberg commented on #2100
I've got VS 2017 15.1 (26403.3) and Visual F# Tools, 15.4.1.17040601. My medium sized F#/C# solution still generates one single warning of this type. There used to be a handful in the last few weeks, but whether it's #2770 doing good, or just a coincidence that the count dropped...

Warning AD0001 Analyzer 'Microsoft.VisualStudio.FSharp.Editor.FSharpDocumentDiagnosticAnalyzer' threw an exception o

[2017-04-11 12:42] dsyme commented on #1096
@KevinRansom My impression was that F# libraries would likely work immediately in UWP (not coreclr native code gen) if tail. was ignored.  I think it's up to the UWP team though, not the Visual F# Tools team.

To be honest, it appears UWP is simply not implementing the .NET specs correctly - tail. has been in all editions of the ECMA 335 CLI Standard... Mind you, generics have also been in that st

[2017-04-11 13:15] 21c-HK commented on #1339
Disclosure: I haven't actually used F# 4.1 yet. I also haven't tried VS 2017 (yet, or may never).

This comment is not supposed to be fuel for one side in the discussion on F# with VS 2017 vs. VS code and other IDEs, but the information presented in #2400 (“2017 Status and Roadmap for F# and the Visual F# Tools”), #1096 (“F# Support in .NET Native and UWP”) and [Announcing F# 4.1 and the Visual F#

[2017-04-11 14:05] GiorgioG commented on #1339
This.

I don't think it's a matter of finding people who are capable of working on the platform so much as it is Microsoft's unwillingness to spend additional resources ($, time, etc) because it sees F# as second-class citizen (or just a niche language.)

There seems to be little point in trying to discuss improving the adoption rate until Microsoft takes F# seriously.  "Microsoft does take F# ver

[2017-04-11 14:45] cartermp commented on #1339
Something to note about .NET Core:

It's changing.  Tremendously.  .NET Core 1.0/1.1 and .NET Standard 1.x is unsuitable for the vast majority of code in the world, and the number one feedback the .NET team was given was to revert the **breaking** API changes they did and add as many APIs back as possible to .NET Core.  What this means in practical terms is that there will likely be a split in .NE

[2017-04-11 15:12] cartermp commented on #2100
Argh this bug is rather evasive

[2017-04-11 15:13] cartermp commented on #2100
@BentTranberg is there a way for you to perhaps reduce that to a minimal repro that we could take a look at?

[2017-04-11 15:17] cartermp commented on #2819
cc @brettfo @KevinRansom

[2017-04-11 15:18] GiorgioG commented on #1339
@cartermp if F# is no second class citizen, where are the ASP.NET Core project templates in Vs2017?  ASP.NET Core is supported by the full .NET framework.  So Microsoft's official position on this is that .NET Core isn't ready for prime time in general, so there was no point in trying to support 1.0 with F# in the short term?  Adding 10 developers to the team would be a drop in the bucket for Micr

[2017-04-11 15:19] Huqin-China commented on #2822
[https://git.oschina.net/RenewableEnergy/REDKit.git](url)

branch feature/core重构->REDKit.Core.Fsharp

i can't debug asyncmaybe method  ViualFsharp.sln

cc @vasily-kirichenko ,pls

[2017-04-11 15:38] cartermp commented on #1339
@GiorgioG All I can say is this: if you go hunting for reasons why something isn't what you wish it to be, you'll always find something.

Meanwhile, many F# developers are quite happy with first-class Azure Functions support (recently announced GA), being the _only_ .NET language which works on Azure Notebooks, revamped F# tooling in VS which is ~1 month away from a major update which unblocks loa

[2017-04-11 15:38] enricosada commented on #1339
@GiorgioG F# and .NET Core doesnt work in VS. That's it atm. it's logged in the roadmap. it's WIP, with expected release date too. What's vf# can do more? That's just a normal feature/scenario missing.
Let's wait a bit.

no, he just said, to convert existing libraries and use case, take time. .netstandard 2.0 will help about that.
for example for F# mean no Type provider. if you need that, you can

[2017-04-11 15:55] GiorgioG commented on #1339
@cartermp:

I'm not hunting for anything, getting F# to parity with the rest of the .NET stack is not a high priority for Microsoft.  I don't understand why it's such a big deal to say that. What matters is not your (or Microsoft's words,) but Microsoft's actions.  If the C# team had missed a Visual Studio RC cutoff date, the RC would have been delayed.  With F#, they basically said "meh, not impo

[2017-04-11 16:06] cartermp commented on #2832
Unfortunately, I don't think this is something we can control.  It's likely some old VS behavior.  @brettfo could you clarify on if this is something we can control?

[2017-04-11 16:09] KevinRansom commented on #2832
@brettfo can you forward this to someone on the vsix team please.  Perhaps they have an explanation, my guess is that the "more information" is stored in the vsix manifest.

[2017-04-11 16:21] cartermp commented on #1339
@GiorgioG I'm not sure what you're referring to here:

F# isn't an out of band extension/package.  This doesn't underscore the massive issues in RC1, which **we own** (not some lofty entity), but it is shipped in-band with good adoption already.  I'm not allowed to show adoption numbers, but it's proportional to all-up VS adoption at release.  And as a counterpoint, F# is getting an update in VS 2

[2017-04-11 16:31] brettfo commented on #2832
The feed itself (https://dotnet.myget.org/F/fsharp/vsix) doesn't expose a useful link that would be a good candidate for the "More Information" link and browsing the settings for the MyGet feed I was unable to find anything meaningful to set.  I've filed internal bug 406674 against the team that owns that dialog.

@KevinRansom, I looked through our VSIX manifest and didn't see anything that looked

[2017-04-11 16:40] KevinRansom commented on #2832
@brettfo :
If it's just a URL, then send it to either fsharp.org or to the docs here:
https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/visual-fsharp

@cartermp is there a better landing page for "further info"?

Kevin

[2017-04-11 16:54] BentTranberg commented on #2100
I am unable to reproduce the issue now, and I did not change the solution since my last report four hours ago. My VCS tells me so. Four hours ago I also did a Clean, restarted VS, and did a Rebuild, and the warning was still there. I also tried now going back to a release at the start of the month, and there was no warning of this kind now. I have no clue how this happened, but I think perhaps the

[2017-04-11 16:55] cartermp commented on #2832
@KevinRansom https://docs.microsoft.com/en-us/dotnet/articles/fsharp/

The MSDN docs are retired aside from the FSharp.Core API reference, which will soon be migrated to docs.microsoft.com as well

[2017-04-11 16:59] GiorgioG commented on #1339
https://github.com/Microsoft/visualfsharp/issues/2276 - "The latest VS2017 RC3 will not include updates to the F# tools over RC2. This is due to a mistake on our part, causing us to miss the update window for the new bits."

[2017-04-11 16:59] cartermp commented on #2100
Sounds good.  Thanks for raising the issue - hopefully it's gone forever 😄

[2017-04-11 17:26] 7sharp9 commented on #1339
@21c-HK >since you could (in theory) target iOS and other native-only platforms without having to use Xamarin.

Whats the problem using Xamarin and F# for that?

[2017-04-11 17:28] 21c-HK commented on #1339
Xamarin.

[2017-04-11 17:36] 7sharp9 commented on #1339
@21c-HK Thanks for that.  I guess you here for the troll factor rather than adding anything meaningful.

[2017-04-11 17:44] GiorgioG commented on #1339
@7sharp9 how is @21c-HK 's comment any more/less constructive than Krzysztof-Cieslak's comment about VS Code which was cheered & up-voted earlier in this thread?:

[2017-04-11 17:53] Krzysztof-Cieslak commented on #1339
Yeah.... i totally wonder what's the difference.

[2017-04-11 17:59] GiorgioG commented on #1339
Another non-trolling, constructive response.

So I'll follow up and finish with my own:  F# is doomed to remain a footnote in the functional programming world due to Microsoft's half-hearted interest - which is sad because it's so much better than the more popular languages.  Take care folks.

[2017-04-11 18:01] Krzysztof-Cieslak commented on #1339
See you!

[2017-04-11 18:37] 21c-HK commented on #1339
I'll summarize what happened since my last (serious) post:
- @GiorgioG made a few examples to explain why F# is treated as a second-class citizen by Microsoft.
- @cartermp made a few examples to illustrate how much Microsoft has invested into F# and that it is therefore not a second-class citizen.
- @GiorgioG emphasized that this does not disprove the fact that the F# team is still understaffed (r

[2017-04-11 18:48] cartermp opened #2833 "Visual F# Tools Announcement for April"
Hello folks,

This is the first of a monthly announcement I want to do on GitHub.  The goal here is to more effectively communicate what's happening and how it relates to the Visual Studio schedule.

**VS 2017 Update 2 will have a major update to the Visual F# Tools.  This will be in about 1 month.**

This will feature (roughly) all changes in the codebase up until last week.  We have validated th

[2017-04-11 19:30] BentTranberg commented on #2100
Ahem, boiling that down to a minimal example was not at all easy. The warnings seems to stick when they should go, and vice versa, and restarting VS seems to be the only way to trigger a change, and I am not sure I can even trust that to work. This makes it very time consuming to boil it down. I am thinking this might be caused by issues with the Error List pane (#2548, #2550, +?). Can I suggest t

[2017-04-11 19:34] vivainio opened #2834 "Wishlist: quick fix for "possible incorrect indentation""
#### Repro steps

Have this code:

[code]

You get squigglies for |, with the tip:

_Possible incorrect indentation: this token is offside of context started at position (119:15). Try indenting this token further or using standard formatting conventions."_

We could have an autofix to indent this correctly, yielding code:
[code]

As a bonus, pressing "tab" on the second line could stop at the mini

[2017-04-11 19:42] vivainio opened #2835 "Wrong completions for "member val x = 0 with get,""
#### Repro steps

Type in code:

[code]

If you enter "," after the completion tooltip shows, code gets expanded to:

[code]

The completion tooltip is shown here:

![image](https://cloud.githubusercontent.com/assets/557579/24927407/97ab76a0-1f07-11e7-8ff0-6e7c41e7a0ad.png)

#### Expected behavior

When pressing ",", it should just leave "get" there as it's legal syntax. Current workaround is wait

[2017-04-11 19:54] vivainio opened #2836 "quickfix/refactor idea: convert Record to class with properties"
Sometimes, you start with a Record type and want to move to class type afterwards (e.g. when introducing mutable members, or making the api more C# friendly).

A record can be substituted with a class that has matching property names. Of course all the sites where Record was instantiated needs to be fixed as well.

[2017-04-11 19:57] charlesroddie commented on #2766
Around 2009, looking for a language with less debugging pain than Mathematica but more intelligent than C#. Read Jon Harrop's F# for scientists and was amazed by the recursively defined types. Combination of powerful, safe and easy types is a great one. Found with F# I have to think hard about a problem at the beginning, but then implementation is quick and often works first time.

[2017-04-11 20:06] 0x53A commented on #2100
Using this version (which I think is the latest?)

![image](https://cloud.githubusercontent.com/assets/4236651/24928408/a55ecbc6-1f02-11e7-8f29-ac297f6dad80.png)

I got this after working with the Paket solution for a while, with a lot of open files and a lot of git diffs open.

![image](https://cloud.githubusercontent.com/assets/4236651/24928334/648b876a-1f02-11e7-8ccc-a39e60110cd1.png)

Details:

[2017-04-11 20:10] KevinRansom commented on #1339
I think this thread has run it's useful course.

Thanks for all of the contributions, suggestions and Ideas.

Kevin

[2017-04-11 20:11] fierval commented on #2611
Issue is back in 15.1, latest nightly: 15.4.1.17040601. Workaround works.

[2017-04-11 20:22] BentTranberg commented on #2100
That's what triggers it! The more open files, the higher the chance of getting this warning. Perhaps. I opened all the files in the project that the warnings originated from, and voila! Three warnings. It's late now, so I have to continue this tomorrow evening CET at the earliest. But I hope this can help others reproduce it.

[2017-04-11 20:29] saul commented on #2100
Hmm there may be a case that I've missed... but I thought I'd caught the root cause and I can't reproduce this with my locally built F# Tools.

[2017-04-12 03:36] panesofglass commented on #2833
@cartermp any word on whether generative type providers will be available as of .NET Core/Standard 2.0? Also, is the .NET Core support referenced above ready to test existing erasing type providers? (Or am I missing the point of this post?)

[2017-04-12 05:07] cartermp commented on #2833
@panesofglass No satisfactory answers to report, I'm afraid.

Generative TPs will be cut from .NET Core/.NET Standard 2.0.  They currently take a dependency on System.Reflection.Emit, which is not going to be available at that time.  The team who owns that library will be taking a look at how to bring it up later this year.  It's a high priority for them post-2.0 release.  Unless there's an effort

[2017-04-12 15:50] charlesroddie commented on #1096
@KevinRansom Of course the F# team has a huge amount of work to do with all the changes in .NET and VS, and some of this is obviously urgent. But to say that what is now the main Windows application platform is not yet a priority is hard to understand. [Hundreds](https://visualstudio.uservoice.com/forums/121579-visual-studio/suggestions/7542181-add-f-support-for-net-native) of [people](https://wpd

[2017-04-12 16:01] cartermp commented on #1096
@charlesroddie Part of the problem - well, the problem around this as a whole - is that there's very little we can technically do aside from diverting our own work and effectively being developers on the .NET Native toolchain itself.  There may be work we could do in the F# compiler to make the IL it emits easier for the .NET Native toolchain, but eventually it comes down to that backend compiler

[2017-04-12 16:34] charlesroddie commented on #1096
@cartermp That's an interesting angle. Now... in theory... if DNN is working on .NET Standard 2.0, and F# is working on .NET Standard 2.0, and .NET Standard 2.0 is a standard, then if they are both successful then DNN will support F#. Maybe with a bit of "coordination" you can make the theory come true?

Another thought occurs that they could flip a switch to enable compilation. Then we will get m

[2017-04-12 16:51] cartermp commented on #1096
@charlesroddie Yes, this is something which may end up being good, though I'm not sure how it solves some of the current issues with understanding the IL we emit.  From a targeting standpoint, things are certainly easier.  The answer to how you create any class library which runs on UWP is "use .NET Standard 2.0".

In terms of flipping a switch, this is also something we can see if they can do.  I

[2017-04-12 17:03] 7sharp9 commented on #2753
I guess somewhere in here: https://github.com/fsharp/fsharp/pull/655#issuecomment-274781520

[2017-04-12 17:43] saul commented on #2730
@gusty any update on this? No real rush, I'm just worried that a compiler regression has fallen by the wayside!

@cartermp what's the deadline for VS 2017 Update 2 in terms of code submissions on this repo? If we can't get this regression fixed in a reasonable timeframe before then, would it make sense to revert the performance optimisations that caused this bug? This is stopping our office from u

[2017-04-12 18:54] zpodlovics commented on #2833
@panesofglass Take a look at my comment about Managed.Reflection (it runs on .NET Core 1.0 and .NET Framework 4.6 and up) as fully managed System.Reflection.Emit replacement in https://github.com/Microsoft/visualfsharp/issues/2406#issuecomment-288205314

[2017-04-12 19:40] dsyme commented on #1096
A lot of the problem is that, historically, far too many teams at Microsoft have been happy to implement somewhat random subsets of the .NET (by which I mean the ECMA 335 Standard). These subsets hav historically had various adhoc limitations that seem barely to have been reviewed by any .NET architects.

There is something fundamentally broken about all this - it is such a recurring pattern over

[2017-04-12 19:55] lilred commented on #1096
@dsyme this was an absolutely brilliant answer. I know this is off-topic, but are there any books or blogs which you would recommend to learn about technical governance?

[2017-04-12 20:07] dsyme commented on #2753
@7sharp9 Could you link to a complete build log please?  We don't have OSX CI in this repo so can't see build logs.

[2017-04-12 20:08] dsyme commented on #2753
@7sharp9 Note that after https://github.com/Microsoft/visualfsharp/pull/2840 the fsharp/fsharp and Microsoft/visualfsharp repos are very much aligned codewise.  We should be able to get this sorted out.

[2017-04-12 20:20] dsyme commented on #1096
@lilred No, I don't know of any specific blogs or books, sorry. Anyone have recommendations?

[2017-04-12 20:35] forki commented on #1096
@dsyme I think you are right. But unfortunately "in the millions" seems to define the defacto standard. For the rest there is zero priority. After .NET core 2.0 threre will be the next important thing that comes first. It's just pointless to discuss in such issues. We can't get something actionable from this. Someone needs to take a whip and and go to certain offices.

[2017-04-12 20:48] Mike-EEE commented on #1096
Not to mention/kindly remind everyone that this thread is the destination of [the official public feedback tool from UWP](https://wpdev.uservoice.com/forums/110705-universal-windows-platform/suggestions/9110134-f-support-in-net-native-for-uwp), where it clearly states that this is being worked on ("Working On It"), when, in fact, it sounds like it isn't.

[2017-04-12 20:51] charlesroddie commented on #1096
@dsyme This could be promising if something comes of it: [Proposed .NET Standard Review Body](https://github.com/dotnet/standard/tree/master/docs/review-board)
"If a library is written in pure IL (for example C#, VB.NET, F# etc.), and targets .NET Standard, then it can run across all current and future .NET platforms with no code changes."

[2017-04-12 20:53] dsyme commented on #1096
Thanks, that's a super-helpful link.

[2017-04-12 20:59] saul commented on #2820
Opened a pull request on Roslyn: https://github.com/dotnet/roslyn/pull/18648

[2017-04-12 21:31] gusty commented on #2730
@saul I'd like to get to the bottom of this ASAP but right now am on holidays, this and next week.
It would be a shame to have to revert, since it's not just an optimization, it also solves some existing problems.
I also wonder if there is a deadline for the code submissions.
I the meantime I wonder if it's possible/makes sense for you to do some small adjustments in your code in order to make it

[2017-04-12 21:36] cartermp commented on #2730
@saul Unfortunately, this isn't something we can get in for Update 2.  We've already begun the insertion process, and we're in the current shipping process where we can only get something in if it's a critical bug which does something like crash VS.  I don't think we can do anything here to revert the change between now and then.  We could investigate something for Update 3 if a fix for the regres

[2017-04-12 21:54] dsyme commented on #2184
@saul Note that another fix is simply to make the debugger proxy types public in FSharp.Core.  I think that's acceptable if Roslyn don't want to make the change.

However the fix will only be useful for an updated FSharp.Core though - I suppose FSharp.Core 4.4.2.0

[2017-04-12 21:55] KevinRansom commented on #2184
I have a PR making the properties public, it should work.  We need to find out what is stopping it work with this fix.

Kevin

[2017-04-12 22:00] brettfo commented on #2832
I contacted the VSIX team and @KevinRansom was right; the link gets specified in the manifest file.  I've opened #2841 with a fix.

[2017-04-12 22:31] saul commented on #2184
@dsyme it's not entirely acceptable. What happens if you want to debug F# 4.0 or prior in VS 2017? It's still broken.

[2017-04-12 22:32] saul commented on #2730
Apologies - I was referring to Update 3 :) Do we have a cut off for that release?

[2017-04-12 22:33] KevinRansom commented on #2184
We will press the debugger team to fix their issue.  However, we want a way to move forward more quickly.

From: Saul Rennison <notifications@github.com>
Reply-To: Microsoft/visualfsharp <reply@reply.github.com>
Date: Wednesday, April 12, 2017 at 5:31 PM
To: Microsoft/visualfsharp <visualfsharp@noreply.github.com>
Cc: Kevin Ransom <Kevin.Ransom@microsoft.com>, Mention <mention@noreply.github.com>

[2017-04-12 22:33] dsyme commented on #2184
@saul @KevinRansom Yes, agreed

[2017-04-12 22:34] dsyme commented on #2730
This is the same root cause as https://github.com/Microsoft/visualfsharp/issues/2416.  I'm looking into trying to craft a fix that satisfies all the various tests.

[2017-04-12 22:45] cartermp commented on #2730
@saul Currently, no.  I imagine that would be sometime in early June, though.  Or perhaps mid-may.  It's hard to say, since we can sometimes make a case for a fix (or set of fixes), and the size of our component is both small and less tangled than others, making the justification for taking a fix less difficult.

I would assume, to be safe, that we have 1-1.5 months.

[2017-04-12 23:30] dsyme commented on #2730
@saul Fix is in https://github.com/Microsoft/visualfsharp/pull/2843, would be great if you could try that out on your larger company codebases.

[2017-04-12 23:34] dsyme commented on #2833
Generative TPs just need any code generator - our tests certainly use S.R.E, but any old binary generator will do (ILASM, CSC, FSC, Managed.Reflection, Mono.Cecil, whatever).

So our ability to test generative TPs extensively may be imparied - but we should be able to have the mechanisms technically speaking, unless we hit some unknown blocker

[2017-04-13 01:02] 7sharp9 commented on #1496
Is it a possibility that if IKVM reflection could be used for all the compilers refection emit capabilities that that PR would be accepted here?

[2017-04-13 01:05] 7sharp9 commented on #1204
In XS we have dual behaviour where the list can be sorted in inheritance depth order and normal compiler ordering.   The former is quite useful and I often use it.

[2017-04-13 04:38] #2730 closed

[2017-04-13 05:06] KevinRansom opened #2844 "Needless emit of callvirt for nullcheck when C# doesn't do it in corresponding code"
This link checks out the code for a relatively simple construct.  F# does not necessarily do well.

https://github.com/Spreads/Spreads/commit/b12b3be3b911cb82784ab5e8d10fe1043d3e6dff

[2017-04-13 05:43] vasily-kirichenko commented on #1204
@7sharp9 how would you calculate inheritance depth for a Item having TType available (I mean we have TType on which (dot) completion is executed and an Item which goes to completion list)? What I managed to achieve is only detect than an Item is defined in this TType and prioritize based on that.

[2017-04-13 06:18] Huqin-China commented on #2844
Ah,I think MS should give u more resources.Spreads's author also give his editiong feeling about current F#.

- [ ] the IDE is still not responsive and compilation is slow,While C# projects fly on this machine even with R#

- [ ] Project recompilation is slow and happens on every build, even if there are no changes.do not see changes in referenced C# projects when compiled separately

- [ ] Reload

[2017-04-13 06:51] forki opened #2846 "Enable tests for mono"
According to @7sharp9 we currently have a version that compiles on mono and even fsharpi works on mono. This is really nice and we should make sure we keep it like this.
We should enable at least a handful of tests on mono. Ideally we strive to run all fsc and fsi tests - but let's start small.

[2017-04-13 07:18] BentTranberg commented on #2100
Just a thought. Do you use only the Error List pane to detect these exceptions while trying to fix this issue? If so, won't that be a problem, considering the issues reported related to output to the Error List pane? I am thinking the exceptions that produce these warnings perhaps occur all the time in my solution, but I don't see them all the time because of those other issues.

[2017-04-13 07:38] vasily-kirichenko commented on #2844
@Huqin-China I don't think any of issues you described will ever be fixed. If they hurt you a lot, switch to another language and IDE.

[2017-04-13 07:39] nethatix commented on #2100
Hello,
With 15.4.1.17040601 the count of warnings has come down to 3 after working with an all F# solution using database and excel type providers.

[2017-04-13 07:44] forki commented on #2822
Is it fixed?

[2017-04-13 07:51] Huqin-China commented on #2844
@KevinRansom No offence.
I just suggest MS giving u more resource.
What I list before is a copy of Spreads's author  idea.
[https://github.com/Spreads/Spreads/issues/68](url)

[2017-04-13 10:50] 7sharp9 commented on #1204
@vasily-kirichenko  Recursively increment based on parentage back to object.

[2017-04-13 12:08] smoothdeveloper opened #2848 "improve smart indentation"
#### Repro steps

1. define a function which spans several lines
1. move carret on last line
1. press Enter, and then Backspace, then Enter

#### Expected behavior

The cursor remains indented to the same level as the one obtained after pressing Backspace

#### Actual behavior

The indentation jumps back to the indeted level corresponding to last line of the function, the way it works in VS2015.

[2017-04-13 12:08] 7sharp9 commented on #2406
@dsyme / etc Would a PR that used a dotnetcore version of ilvm reflection be accepted here?

[2017-04-13 12:20] sergey-tihon commented on #2406
@7sharp9 You mean [Managed.Reflection](https://github.com/jfrijters/Managed.Reflection)?

[2017-04-13 12:31] dsyme commented on #1496
I don't know. First, the use of SRE in generative type providers is entirely separate from the use of SRE in ilreflect.fs to implement FSI.EXE.  Only the latter is in this repo, so I assume you'd be removing that.  But that is working OK today on both .NET Core and .NET Framework, so there's no need to replace it?

If you want to replace the use of SRE in generative type providers, then the type p

[2017-04-13 12:34] dsyme commented on #2846
@forki Yes, that would be great. There is now pretty much total alignment of core code between fsharp/fsharp and Microsoft/visualfsharp, with a couple of very minor exceptions.

fsharp/fsharp includes some testing - a variant of the "fsharp" suite is compiled through "fsharpi" - see run-all.fsx.  That is one approach we could adopt - although it'a bit kludgy it does have some advantages in really

[2017-04-13 13:52] dsyme commented on #2844
@Huqin-China  The main issue we will track with this bug is the emit of ``callvirt`` in cases where C# doesn't do it.

You can suppress this with ``--alwayscallvirt-`` as mentioned on [twitter](https://twitter.com/buybackoff/status/852359143478493184) by @buybackoff .  Some details are https://github.com/Microsoft/visualfsharp/issues/468. But this is not ideal since it's rare that people even know

[2017-04-13 14:00] vasily-kirichenko opened #2850 "Go to Definition (F12) does not work in scripts"
![1](https://cloud.githubusercontent.com/assets/873919/25007895/a6dec7d0-206a-11e7-837a-66d66f1d1418.gif)

[2017-04-13 14:03] smoothdeveloper commented on #2850
I've noticed that in between two scripts (one loaded by the other), it would work only if both editors are open.

It works in VS2015 given VFPT is installed.

[2017-04-13 14:13] majocha commented on #2850
@smoothdeveloper single file projects created for scripts are eagerly removed as soon as the editor is closed. New project system will hopefully fix this.

[2017-04-13 14:15] smoothdeveloper commented on #2850
@majocha thanks, do you know if it will work even without opening the loaded .fsx in the first place?

[2017-04-13 14:16] majocha commented on #2850
@smoothdeveloper No idea, but it's what I would expect.

[2017-04-13 14:35] Huqin-China commented on #2822
@forki ,i find what cause this problem,but i can't sure it should be called an bug.

1. create REDKit.Core Lib use c#,
2. create REDKit.Core.Fsharp lib then reference REDKit.Core C# lib
3. Use the same root namespace the both project like REDKit.Core. Create some type in c# lib under root namespace,then create fs file in f# project
4. in fs  file  create new module or type under REDKit.Core(root)

[2017-04-13 14:39] buybackoff commented on #2844
@Huqin-China that post was mostly caused by a major frustration with .NET Core in project.json era and the situation is visibly improving, esp. with F# 4.1 and VS2017. Taking a pause did not hurt, but F# will stay there and is getting better.  Remaining issues are either well known and being taken care of, or there is always a workaround with using a C# assembly for low-level imperative things, li

[2017-04-13 14:56] majocha commented on #2850
[https://github.com/Microsoft/visualfsharp/blob/master/vsintegration/src/FSharp.Editor/Navigation/GoToDefinitionService.fs#L339](https://github.com/Microsoft/visualfsharp/blob/master/vsintegration/src/FSharp.Editor/Navigation/GoToDefinitionService.fs#L339)

It changes extension from fsx to fs and then fails to get the file because it doesn't exist.

[2017-04-13 15:20] SaxxonPike commented on #2766
I worked at a (primarily) Ruby shop in 2015. We ended up getting a Haskell project because someone on our team was very knowledgeable about it. I learned a bit about functional programming as a result, and wanted to leverage my investment in the .NET Framework while also experimenting with functional programming. F# was the perfect fit. I used it to write a 6502 emulator, with great success.

[2017-04-13 15:49] dsyme commented on #2844
The case for using "callvirt" is explained here: http://v2matveev.blogspot.com/2010/11/null-stringgetenumerator.html

Here are some relevant snippets quoted then:

[2017-04-13 15:54] mpodkolzin commented on #2766
Does anyone have warstory of how you convinced C# oriented team to switch (at least partially) to F#?
So far as I can read F# is either used for pets projects or when app is build in f# from scratch.
I wrote two DSLs for our testing and delpoyment in F#, but struggle with teammembers and management to approve f# for produciton use.

[2017-04-13 15:57] cartermp commented on #2766
@selketjah May have a good story here, @mpodkolzin.  She gave a great talk/had a great story to tell in [this talk](https://skillsmatter.com/skillscasts/9888-playing-nice-together-how-to-use-f-sharp-in-a-brownfield-project).  Aside from being a great talk, the subject matter seems spot-on with how you get F# into a C#-oriented codebase and workplace.

[2017-04-13 16:08] buybackoff commented on #2844
Now F# compiler doesn't use the knowledge for case 3 (calling `this.` and `base.` methods). I have noticed that F# compiler inlines small methods at IL level more aggressively than C# (which probably relies more on JIT for that, not sure if C# ever inlines methods in IL), so the issue doesn't affect properties and small methods in most cases.

[2017-04-13 16:50] cartermp opened #2851 "VSIXInstaller /quiet fails for F# nightly builds (from VS Community)"
Please provide a succinct description of the issue.

#### Repro steps

1. Install the Visual F# nightlies in quiet mode.

#### Expected behavior

It installsjust fine.

#### Actual behavior

Result: No UI, but this is the error

``` 4/9/2017 7:50:01 PM - The extension will be upgraded from version 15.4.1.17022502. 4/9/2017 7:50:03 PM - Uninstalling 'Visual F# Tools', version 15.4.1.17022502. 4/9/2

[2017-04-13 16:51] cartermp commented on #2851
This was reported by @ctaggart.  I cannot reproduce this right now on my machine, though.

[2017-04-13 16:59] cartermp commented on #2848
@dungpa Had made a change to improve indentation in vs2017 a while back.  I suspect there was a regression from the _beginning_ (not @dungpa's changes), and that it hasn't quite been picked up yet.

[2017-04-13 17:02] vasily-kirichenko opened #2852 "VS hangs forever if I try to build VFT solution"
That started to happen after yesterday VS update.

[2017-04-13 17:04] cartermp opened #2853 "Can't build latest master"
`build vs` produces:

[code]

[2017-04-13 17:04] cartermp commented on #2853
I've got F#, .NET, VS SDK, and Windows SDK as before

[2017-04-13 17:04] vasily-kirichenko commented on #2852
![image](https://cloud.githubusercontent.com/assets/873919/25015431/72d5a516-2084-11e7-833c-bd8bf91abb33.png)

[2017-04-13 17:14] majocha commented on #2853
`git clean -fdx` before build fixed this for me.

[2017-04-13 17:22] jackfoxy commented on #2766
I took a hobby project off the shelf that I hadn't thought about in a couple of years, and found I was trying to express my ideas by passing around functions in C#, which is painful. I had heard F# was a functional language and available in VS 2010. I really didn't know what that meant, but I started studying blog posts, mostly about monads, and studying the code base of FParsec. I guess it's sort

[2017-04-13 17:43] saul commented on #2100
@BentTranberg the analyzer warnings will always appear in the Error List as they're produced by Roslyn, not by F#. I think the warnings now are coming from a nested task that does not have these fixes introduced in my PR. I don't think there's any more work to do here.

[2017-04-13 17:57] 7sharp9 opened #2854 "Repo alignment - How to enable xplat workflow for easy contribution"
@dsyme says:

We would like to make it possible to contribute to core components that underlie the OSX and Linux experiences for F# by contributing to this repo (rather than [the historical way of routing these requests into the fsharp/fsharp and fsharp/FSharp.Compiler.Service repos](http://fsharp.github.io/2014/06/18/fsharp-contributions.html).   We can call this "repo alignment".

Separately, pe

[2017-04-13 18:14] brettfo commented on #2832
Fixed in #2841.

[2017-04-13 18:14] #2832 closed

[2017-04-13 18:25] #2852 closed

[2017-04-13 19:03] vasily-kirichenko commented on #2854
I'm +1000 for this. Enabling @7sharp9 to contribute worth any effort needed to make `FSharp.LanguageService.Compiler` usable from Ionide/XS (this means to make the API optionally public I guess?)

[2017-04-13 19:22] cboudereau commented on #2766
I have started with unit testing due to quick comparison, tuples, and fscheck for property based testing. Then after that, I had used fsharp with csharp in order to quickly integrate partner API.

Actually, I had used fsharp for 3 years in prod (20 apps). First experience thanks to fsharp.data xml and json type provider. 12Mrq/day.

I use fsharp to script or estimate how integrate a web api, build

[2017-04-13 19:47] vasily-kirichenko commented on #2850
Fixed in https://github.com/Microsoft/visualfsharp/pull/2855

[2017-04-13 20:12] smoothdeveloper commented on #2848
The implementation: https://github.com/Microsoft/visualfsharp/blob/427318deda16d340e9e61db6af220fee6e81bb78/vsintegration/src/FSharp.Editor/Formatting/IndentationService.fs

I believe we would need further information to provide to implement the logic, I'm thinking we should pass the current caret location (the column) because if user deindented, the caret location will be in a column less indente

[2017-04-13 20:32] ctaggart commented on #2851
@cartermp The bug is not while uninstalling, but while installing.

[2017-04-13 20:33] cartermp commented on #2851
Derp.  I'll repro when I get home tonight.

[2017-04-13 20:52] AviAvni commented on #2766
I started to learn F# in 2012 with a book because I wanted to learn another programming language
And because I wanted to learn different paradigm the OOP
The first and most exciting real thing that I did with F# is contributing to this repo
Thanks to @latkin that help me with that and to the F# Software Foundation for selected me to the mentorship program

[2017-04-13 22:12] brettfo opened #2858 "Re-enable high entropy and subsystem version tests"
Re-enable the tests disabled by PR #2857.

[2017-04-13 22:29] cartermp commented on #2854
Agreed, this is important.

[2017-04-13 22:45] 7sharp9 commented on #2854
At the moment Im trying to figure out how to replace the compiler installed in mono with the one just built in release, I cant see a script for that in this repo.

[2017-04-14 04:01] #2850 closed

[2017-04-14 08:22] parmigianig commented on #1254
would be very nice to turn FSharp.Options into nullables from a Record with compiler attributes from from F# side, or when marked with [<CLIMutable>] already convert options into nullables with default value null, so that methods/constructors have multiple overloads from c# side without many efforts from F# side, and also interface from C# point of view is nullables, options types (until c#7 or la

[2017-04-14 09:58] saul commented on #2320
@cartermp I'm keen to get this working for F#. Is this something that will 'just work' with the new project system, or do we need to do more?

[2017-04-14 10:44] 7sharp9 commented on #2854
I added some notes here on trying to get that fork running the TP sample: https://github.com/colinbull/visualfsharp/commit/c295f8a264efeef1faed305cebbd2dbfb666ce8c

[2017-04-14 14:59] ctaggart commented on #2851
This can be reproduced with the script from #2829. You need to not have an FSharp daily installed.
[code]
The error will be in the log `%temp%\VisualFSharp-15.4.1.17040601.txt`.

You can also just run without `-Version` to get the latest.
[code]

[2017-04-14 15:23] dsyme commented on #2854
@7sharp9 @vasily-kirichenko @KevinRansom @cartermp @brettfo I've added a lengthy description of all the work I know of to be done in the area of "repo unification" up above in the issue description, plus some additional comments

@KevinRansom @cartermp @brettfo You guys are the repo owners - if you don't want these things coming in to this repo, then you should say :)

[2017-04-14 15:29] KevinRansom commented on #2854
We are eager for the repos to be aligned.   And are willing to make the necessary changes to make that happen.  So long as our product pipeline is not broken by any changes we are good.

[2017-04-14 15:34] cartermp commented on #2854
Agreed with what @KevinRansom said.  Let's do it.

[2017-04-14 15:34] dsyme commented on #2854
@KevinRansom Thanks, that's great to know.

p.s. That said, I fear you may have a heart attack (joke!! I hope not!! :) )  when you see a PR proposing to integrate the [machine-wide policy files for FSharp.Core](https://github.com/fsharp/fsharp/tree/master/src/fsharp/policy.4.4.FSharp.Core) installed as part of Mono :)  The Mono packagings of F# have always used those to unify FSharp.Core to the la

[2017-04-14 15:39] dsyme commented on #2854
@vasily-kirichenko

Let's aim instead for building FSharp.Compiler.Service in this repo.

For now let's assume FSharp.LanguageService.Compiler remains a special version of this component used only by the Visual F# Tools.  This is because historically there was huge pressure from Visual Studio engineering to make FSharp.LanguageService.Compiler smaller - trimming out unnecessary parts.  This was to

[2017-04-14 15:42] smoothdeveloper commented on #2854
Disclaimer: not directly related to mono support in this repository.

Can we move the current scripts under scripts/misc and plan for a comprehensive layout for future build scripts under scripts/build?

My feeling is that we should start splitting the behemoth build.cmd into smaller independant scripts, each put in scripts/build, and have the top level build.cmd handling the main parts (setting e

[2017-04-14 15:55] dsyme commented on #2854
@smoothdeveloper Let's keep this thread on topic please, about repo unification

[2017-04-14 16:02] cisterni commented on #2766
It was 2001 when I first met @dsyme  at Microsoft Research and he was working on ILX, a variant of the Intermediate Language for .NET supporting functional programming abstractions. Back then he was able to bootstrap ML on ILX. In 2006 I was in Cambridge presenting work on .NET and robotics when I met Don again and he introduced me to F#. We had a very intense discussion about the syntax of the la

[2017-04-14 16:05] dsyme commented on #2854
@7sharp9 I've updated the issue description with a list of all the problems that will arise because of repo unification.

Specifically, if we do this unification we should go into it with our eyes open: it's important that you be aware of the inevitable problems listed above (e.g. the mess that is the Windows-specific ``build.cmd``,  or the fact that the Visual F# IDE Tools are part of this repo w

[2017-04-14 16:07] KevinRansom commented on #2854
Mostly we need to be able to do mono build and testing as part of normal dev work.

[2017-04-14 16:07] smoothdeveloper commented on #2854
@dsyme, sorry but I think it is relevant.

For example people using windows (hence build.cmd) might also want to loopback on getting FCS built from this repository, hence I think we should make the effort of making any addition to build scripts (which are not straight ports from fsharp/fsharp or FCS repositories at least) in smaller scripts, and possibly .fsx already if we don't want another round

[2017-04-14 16:10] dsyme commented on #2854
@smoothdeveloper  Yes, it makes sense.  But whether the scripts are large or small, how they are named, which directories they go in etc. is a detail we will sort out along the way.

[2017-04-14 16:13] dsyme commented on #2854
Yes, that's crucial.

@7sharp9's criteria is to be able to build and dev the core components that flow into Xamarin Studio (Visual Studio for Mac) using this repo, rather than making contributions here and then flowing them into the FCS repo.  And in general to have a first class OSX contribution story for this repo.

BTW I think I need to get myself a Mac....

[2017-04-14 17:15] vasily-kirichenko commented on #2854
It makes contributing by non-windows people, like @7sharp9 much more harder. There're a very few of us who contribute to FCS and cutting off #2 in this list is just unforgivable.

[2017-04-14 17:29] dsyme commented on #2854
I thiink I was misunderstood.  I was meaning adding something like this in this repo:

   build{.sh} fcs   -- builds the FSharp.Compiler.Service
   build{.sh} fcs test  -- builds and tests the FSharp.Compiler.Service
   build{.sh} fcs test nuget -- builds and tests the FSharp.Compiler.Service and makes the nuget

in addition to the existing build commands (maybe the nuget is not a separate thing).

[2017-04-14 17:35] vasily-kirichenko commented on #2854
Ah. I see. That's great. But we will end up building almost all the sources three times (FSharp.Compiler, FSharp.LanguageService.Compiler and FCS). However, if we, who use VS, won't have to build FCS in our workflow (not having it in VisualFSharp solution, basically), that's OK.

[2017-04-14 17:47] cartermp commented on #2320
@saul There's not much (if anything) we can do on our end - CPS support is orthagonal.  Currently the work to support F# for Deferred Project Load (the mechanism that Lightweight Solution Load uses) is scheduled for 15.3.  Since this is a closed-source area, there isn't anything actionable from the community.  I believe that it should be available to test in the first Preview of 15.3, which should

[2017-04-14 17:56] 7sharp9 commented on #2854
Why does there have to be 3 compilers built, is `FSharp.LanguageService.Compiler` the Windows / VS equivalent of FCS?

[2017-04-14 17:59] 7sharp9 commented on #2854
The non windows workflow would also need a compiler built and installed as well as FCS, unless there is a way of unifying both of those, or specifically decoupling the FCS parts as a facade over the compiler.

[2017-04-14 18:00] smoothdeveloper commented on #2854
yes

* fsharp.compiler (referenced by fsc and fsi)
* fsharp.languageservice.compiler for VS, it might trim down stuff with ifdef from FCS (due to memory constraint in devenv.exe)
* fsharp.compiler.service

We don't need the latest one when working in VS (as @vasily-kirichenko says) and indeed it would help if the second one was just adding to the compiler itself instead of compiling again (I wonde

[2017-04-14 18:05] 7sharp9 commented on #2854
@dsyme I added this to the top too:

[2017-04-14 18:07] dsyme commented on #2854
We can maybe reduce it to two or one - perhaps almost immediately after unification or even during it.  It depends in part if Microsoft continue to want internal symbols only in the VS bits they ship.  If they are ok with dropping this requirement then I reckon we can just use one FSharp.Compiler.Service.dll and nothing else.

[2017-04-14 18:13] KevinRansom commented on #2854
Or ...

We can move vsintegration into a separate repo.  If Iwe were to create a new repo … github.com\microsoft\fsharp we could move the cross platform compiler there.  Limit visualfsharptools to the vsintegration and windows packaging that might make a useful factoring.

There would be internal work we have to do to support that … but perhaps it now makes sense and will at least simplify some of

[2017-04-14 18:22] 7sharp9 commented on #2854
I think we all realise that any major change to code organisation is not going to happen in a reasonable time.

To me the first few steps could be:

* Get the necessary extra files in here from FCS and #if deffing them so a build could be generated for FCS.  This would satisfy retiring FCS quite quickly.

* The next part is getting an install script for mono, I must admit I find it hard to follow

[2017-04-14 18:22] smoothdeveloper commented on #2854
We might want to stick to one repository for now, and be very conscious about the build scripts (split), the single code base for all is the faster turnaround, given we put attention for each step to be optimized (don't rebuild stuff, don't build 3 compilers, etc.).

But well, I'm just a random peon as they say, you guys are the one doing real work...

[2017-04-14 19:37] KevinRansom opened #2860 "Remove internals visibleto to tao and tnugget"
I don't think these are used any longer.

[2017-04-14 22:16] psfblair commented on #1096
If I might add a case in which F# fails for compilation to UWP: F# core references the System.Net.WebClient class, which is not supported in UWP.

Details:

If I use Unity's Mono scripting back-end to try to compile an F# project for Windows Store, I get the error:

`System.Exception: Exception while processing System.Net.WebClient System.Net.WebClient Microsoft.FSharp.Control.WebExtensions/WebCli

[2017-04-15 02:54] pblasucci commented on #2647
I'm going to close this since it's really a documentation issue and being track by @cartermp

[2017-04-15 02:54] #2647 closed

[2017-04-15 12:47] d-saravanan commented on #2766
I started with a Scala course and found it different from the .net style. Found that people were using F# got some good video on F# by Scott and started, initially, it was like what a weird error message, but later learned to understand and did well.

I have written something similar to the fluent migrator in F# and also couple of helpers and shared libraries in F# and waiting for them to go on a

[2017-04-15 18:30] endeavour opened #2863 "FS0193 internal error when running F# interactive"
I'm not sure of the cause but certain combinations of packages seem to cause F# interactive to crash with the error:
[code]

#### Repro steps

I have created a small repository containing a set of dependencies that causes this issue:

https://github.com/endeavour/FS0193Repro

To reproduce:

1. Clone repository https://github.com/endeavour/FS0193Repro

2. Run bug.bat

#### Expected behavior

Prints

[2017-04-15 22:36] Treit opened #2864 "Incorrect code comment for revAcc function in FSharp.Core/local.fs"
The following comment on line 412 of FSharp.Core/local.fs implies the following revAcc function uses mutation. However, the implementation does not use mutation so the comment appears to be incorrect.

        412     // optimized mutation-based implementation. This code is only valid in fslib, where mutation of private
        413     // tail cons cells is permitted in carefully written library c

[2017-04-16 06:20] forki commented on #2864
Can you please send a pull request with a fix? Thanks

[2017-04-16 15:13] 0x53A opened #2865 "[Wish] publish nightlies of FSharp.Compiler.Tools"
FSharp.Compiler.Tools allows you to build projects independently of any system installed compiler.

It would be great if parallel to the nightly vsix, a nightly of this package would be published somewhere, e.g. myget.

Let's take https://github.com/Microsoft/visualfsharp/issues/2730 as an example. Locally, you can install the vsix, but you don't really want to install any preview vsixs on a build

[2017-04-16 16:04] smoothdeveloper opened #2866 "VS2017: completion icon issue for items in non opened namespaces"
When listing items which are not in scope, it seems the icon used (and impacts filtering as well) doesn't follow the type of symbols, at least for symbols defined in C# assembly:

![image](https://cloud.githubusercontent.com/assets/87944/25072455/e1496a72-22ce-11e7-8eb3-67dd61332a75.png)

[ClassLibrary1.zip](https://github.com/Microsoft/visualfsharp/files/924399/ClassLibrary1.zip)

[2017-04-16 16:06] jack-pappas commented on #2865
For some additional context: I mentioned in the the ``#fsharp`` Slack channel this morning that I had a bit of time to kill this morning so thought I'd do a bit of maintenance/cleanup on the unit tests for [ExtCore](https://github.com/jack-pappas/ExtCore). I haven't had much time to work on ExtCore lately, so this was the first time I'd really had a chance to work on it with VS2017. Unfortunately,

[2017-04-17 15:30] biosek commented on #2362
I still have this problem...
![](http://i.imgur.com/VPWSnMY.png)
When I try to hack it by copying
`c:\Program Files\dotnet\sdk\1.0.3\Sdks\FSharp.NET.Sdk\` into
`c:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\Sdks\`
after trying to open the project I get...
![](http://i.imgur.com/DyhHhAZ.png)

Was that `micro update` already issued? Or is it still in the workings? Thanks

[2017-04-17 15:34] cartermp commented on #2362
You're experiencing a different issue.  You're attempting to load a .NET Core project (likely created from the CLI?) into VS.  Our project system doesn't support that yet.  We have support in the new dotnet project system (dotnet/project-system on github), which is the one which supports those kinds of projects.  Release date is expected to be July, though there will be some previews available ear

[2017-04-17 16:27] cartermp commented on #2362
Phew, not on mobile anymore.  Much easier to link.  @biosek if you're interesting in tracking it, [here](https://github.com/dotnet/project-system/issues?q=is%3Aopen+is%3Aissue+label%3AArea-F%23) is the link.  You'll notice Milestones say "15.3".  That means the 3rd update of Visual Studio 2017 (and 15 is the technical version of Visual Studio).  3rd update is supposed to be out around July.

[2017-04-17 18:29] saul opened #2869 "F# options missing from Fonts and Colors"
In the latest nightly release (15.4.1.17041402), the F# options are missing from Fonts and Colors. It looks like the mutable variables are still highlighted as before, but functions are not, see:

![image](https://cloud.githubusercontent.com/assets/64654/25099417/13eb7b66-23a4-11e7-9de6-7ba5ba3b7c58.png)

Not sure when this was broken, or what could have caused it.

[2017-04-17 18:34] saul commented on #2184
Fixed in Roslyn, see #18648.

[2017-04-17 18:48] 0x53A opened #2870 "in debug, one unit test fails (peverify)"
#### Repro steps

* Clone master ( f3e952c  )
* (git clean -f -d -x)
* ``build net40 test debug``

#### Actual behavior

![image](https://cloud.githubusercontent.com/assets/4236651/25099979/bbb23646-23ae-11e7-8577-6482f02605f2.png)

![image](https://cloud.githubusercontent.com/assets/4236651/25100053/fe104708-23ae-11e7-852c-53b8522cd434.png)

[test-net40-fsharp-results.xml.txt](https://github.com/

[2017-04-17 19:49] cartermp commented on #2869
@saul Interesting.  I've got them in 15.4.1.17041701 (latest today).
<img width="493" alt="screen shot 2017-04-17 at 12 48 46 pm" src="https://cloud.githubusercontent.com/assets/6309070/25102206/3ec7b864-236c-11e7-9530-8b28f5a8145a.png">

[2017-04-17 19:52] cartermp commented on #2184
Nice, thanks for the work @saul!

[2017-04-17 19:52] #2184 closed

[2017-04-17 20:59] cartermp commented on #2827
Thinking about this some more, this may be a bit of work.  We have to account for any `#if` defines, and add it appropriately.  From what I understand, Roslyn has a fair bit of logic in determining where to place it at the top.  We may want to port that code over.

[2017-04-17 21:33] cartermp commented on #2827
Looks like it may depend on the Semantic Model API, so we'd be on our own on how to determine the proper location at the top :/

[2017-04-17 21:44] saul commented on #2827
It already puts it at the top if you're not in a module so there's already some code that does does this (somewhere :p)

[2017-04-17 23:54] tpetricek opened #2871 "Internal error when using #load in fsi"
In the sample below, F# Interactive reports:

#### Repro steps

Create `some.fs` with:

[code]

And `app.fsx` with:

[code]

Now, run: `fsiAnyCpu.exe --load:app.fsx`

#### Expected behavior

No error.

#### Actual behavior

#### Known workarounds

Would love to know how to workaround this!

#### Related information

* Operating system: Windows 10
* Branch: `fsiAnyCpu` from [Fsharp.Compiler.Tools](

[2017-04-18 05:58] forki commented on #2184
Thanks so much for this!

[2017-04-18 07:47] vasily-kirichenko opened #2872 "Changes in referenced projects are not seen until restart"
![1](https://cloud.githubusercontent.com/assets/873919/25119795/446134cc-2424-11e7-8b52-ab15f104b6b0.gif)

I think it's a huge bug.

[2017-04-18 09:37] vasily-kirichenko opened #2873 "Add "Install package" code fix"
![image](https://cloud.githubusercontent.com/assets/873919/25124177/a712570e-2433-11e7-8da1-33549de234e0.png)

We could steal / use packages indexing logic from Roslyn sources.

[2017-04-18 09:44] forki commented on #2873
Noooo. Please please please please let's not repeat that epic mistake. It will make dependency management even harder

[2017-04-18 09:55] vasily-kirichenko commented on #2873
Why? It would use Paket of course, respect paket.references for the current project, etc. What's the problem?..

[2017-04-18 10:04] forki commented on #2873
If the stuff is in lock file then fine. But things like R# are AFAIK
referencing stuff from nuget.org and just putting that package into your
app. That's madness.

Am 18.04.2017 11:55 vorm. schrieb "Vasily Kirichenko" <
notifications@github.com>:

[2017-04-18 10:42] vasily-kirichenko commented on #2873
Ah, no. If we will implement it, we implement it so that you and Peket are happy :)

[2017-04-18 10:52] smoothdeveloper commented on #2871
Interesting here it reproduces from command line, but neither in VS2015/17 when evaluating app.fsx.

[2017-04-18 11:01] majocha commented on #2872
I've noticed it will refresh when you click and focus the editor.
Still, it's not what one would expect.

It's bad already that you need to save the changes in one project to get them propagated to other project.

[2017-04-18 11:05] vasily-kirichenko commented on #2872
@majocha things are much worse. Restarting VS does not help (!). Rebuild does not help. Only deleting `obj` and `bin` folders does. And it does not reproduced on Debug configuration, only on Release (I mean the configuration that the test solution uses, not VFT is build on).

[2017-04-18 11:11] majocha commented on #2872
New project system desperately needed.

[2017-04-18 11:16] vasily-kirichenko commented on #2872
:) I strongly believe someone is working on it right now. Right now.

[2017-04-18 13:50] dsyme commented on #2872
@vasily-kirichenko I would have thought the DLL timestamps of the newly compiled DLL were being checked, causing a recheck in the dependent file.  I don't think it's a project system bug.  This is the incremental builder or something else in the process of rechecking files.

Any chance you could you make a minimal repro with exact steps?

[2017-04-18 13:53] dsyme commented on #1096
Which version of FSharp.Core are you referencing?

[2017-04-18 14:01] dsyme commented on #2865
Or we just check in a whole copy of ExtCore

[2017-04-18 16:00] cartermp commented on #2873
cc @CyrusNajmabadi, who built this feature for C#

There were some reasons why this was turned off by default for C#, part of which came down to needing to drop a new typeforwarding `.dll`.  If this were to be built, and the C# feature turned on, then we'd have two on-launch downloads of a compressed database of symbols, two typeforwarding `.dll`s, and two mechanisms by which packages get added th

[2017-04-18 16:56] dsyme commented on #2871
Whoa, I haven't seen such a simple type loading bug in fsi in ages.

It's odd, because the code is totally normal - there's just nothing unusual about it. Traditionally the System.Reflect.Emit implementation has had some trouble creating types that were mutually recursive, especially where nested types referred to their containing type in some way - but we haven't seen those problems for a while.

[2017-04-18 18:11] irium opened #2874 "Analyzer 'Microsoft.VisualStudio.FSharp.Editor.FSharpDocumentDiagnosticAnalyzer' threw an exception"
I'm constantly see the following in VS 2017 "Error List" window (many lines of it):

[code]
#### Related information

* Repro : just after solution rebuild.
* Windows 10 Pro
* VFPT Nightly 15.4.1.17041802
* .NET 4.6 project
* VS 2017 Pro with latest updates

[2017-04-18 19:01] vasily-kirichenko commented on #2827
Implemented in https://github.com/Microsoft/visualfsharp/pull/2875

[2017-04-18 19:04] vasily-kirichenko commented on #2873
@CyrusNajmabadi Yes, we need the index only. So we can import `ISymbolSearchService` and use it?

[2017-04-18 19:04] CyrusNajmabadi commented on #2873
right now it's internal.  do you have IVT?  Note: we reserve the right to change this interface at any time.  :)

[2017-04-18 19:08] vasily-kirichenko commented on #2873
@CyrusNajmabadi we don't http://source.roslyn.io/#Microsoft.CodeAnalysis.Workspaces/GeneratedInternalsVisibleTo.cs :(((

We want to :) Is it possible to add FSharp.Editor assembly there?

[2017-04-18 19:10] CyrusNajmabadi commented on #2873
I currently doubt it :)    IVTs are a super high burden for us.  They effectively open the door for any change becoming one that can break you.

Better would be a request for us to expose the ISymbolSearchService.

[2017-04-18 20:26] saul commented on #2874
Looking at this again now... it looks like we fixed it in 95% of cases but it's just whack-a-mole trying to figure out where we've gone wrong.

[2017-04-18 20:31] cartermp commented on #2874
Closing in favor of #2100, which I've re-opened.

[2017-04-18 20:31] #2874 closed

[2017-04-18 20:33] cartermp commented on #2828
Though this doesn't fully address what you've specified, in VS 2017 this will actually get picked up by the editor and will open the correct namespace for you.

Part of the issue in generating a good error message is if the namespace to be opened isn't visible to the compiler, though.

[2017-04-18 20:34] #2853 closed

[2017-04-18 21:08] forki commented on #2873
No. Really. Please don't activate that feature. It's just wrong.

Am 18.04.2017 6:00 nachm. schrieb "Phillip Carter" <notifications@github.com

[2017-04-18 22:53] dsyme commented on #2871
@tpetricek Putting the type in ``some.fs`` in a namespace is a workaround

BTW here is a single-file repro:
[code]

[2017-04-18 23:23] dsyme commented on #2871
Proposed fix is here: https://github.com/Microsoft/visualfsharp/pull/2879

[2017-04-19 00:18] dsyme commented on #2863
@endeavour Thanks for taking the time to make the repro.  However I haven't been able to get this fail using either fsi.exe from VS2015 or from VD201 or master

Any chance you could check if this repro's on master?
Thanks

[2017-04-19 00:20] dsyme commented on #2863
It could be that this was fixed here: https://github.com/Microsoft/visualfsharp/pull/707 but that fix was over a year ago now (though I think after the VS2015 release?)

[2017-04-19 00:41] dsyme commented on #2863
I'll close this for now since I believe it to have already been fixed.  But please reopen if I'm missing something or if you can repro on master

[2017-04-19 02:36] BentTranberg commented on #2100
Appears completely fixed now. I currently have VisualFSharpTools version 15.4.1.17041802. Thank you very much.

[2017-04-19 03:03] BentTranberg commented on #2100
Argh!!!! And again I spoke too soon. I think I'm going to make a rule for myself, saying I need at least a full days intensive work without observing any warning before I make any claims. But I do believe the frequency has come down at least. Pasting the error from the Error List pane:

Warning AD0001 Analyzer 'Microsoft.VisualStudio.FSharp.Editor.FSharpDocumentDiagnosticAnalyzer' threw an excepti

[2017-04-19 03:10] psfblair commented on #1096
I've seen this behavior in 2.3.0.0, 4.3.0.0, 4.3.1.0 and 4.4.1.0.

[2017-04-19 05:08] vasily-kirichenko opened #2882 "Show expression evaluation result next to it in a adornment layer"
Like this:

https://twitter.com/markwoodhall/status/854444009665810432

[2017-04-19 09:37] endeavour commented on #2863
I don't seem to have permission to re-open this ticket. I have just tried this on a machine with VS2017 RTM installed and still get the same issue.

[2017-04-19 14:31] cartermp commented on #2100
@BentTranberg Could you try @saul's PR #2877 to see if you can still repro on it?  That is if you're willing to clone + download the dependencies.  Specifically, you'll need:

1. F# and .NET (which you have)
2. Visual Studio Extensibility workload
3. Windows 10 SDK (you could install the UWP workload or find it in the Individual Components tab)

Then, open the Visual Studio Developer Command line

[2017-04-19 15:29] dsyme commented on #1096
@psfblair When attempting to compile for UWP I believe you should be using an appropriate Portable Profile PCL, e.g. the reference to WebCLient is not included in version ``3.78.41.0``, the Profile 78 ``portable-net45+netcore45+wp8`` profile. That DLL should be used both at compiler time and runtime

(As mentioned in the thread you're likely to hit other issues in any case - but please report back

[2017-04-19 15:30] dsyme commented on #2863
@endeavour Oh.  Can someone else please try to repro?  Thanks

[2017-04-19 15:32] nbevans commented on #2863
I repro'd it on my machine.

[2017-04-19 17:22] cartermp commented on #2882
This seems like an Alive-style thing - ping @JoshVarty if there's any context here.  However, even as an ephemeral comment, I think this would be great.

[2017-04-19 18:38] 7sharp9 commented on #2854
So Im going to take a crack at merging some bit of FCS over here and see where the #ifs go.

[code]
?

[2017-04-19 18:44] smoothdeveloper commented on #2854
@7sharp9 I'd go with bit more verbose: `#if FSHARP_COMPILER_SERVICE`.

[2017-04-19 20:04] BentTranberg commented on #2100
@cartermp, I have been thinking lately that I should somehow get involved with the source and start debugging on my own so that I can give more intelligent feedback, so your post is perfectly timed from my point of view. I hope to get a chance this week to try your instructions.

[2017-04-19 20:11] cartermp commented on #2100
Great!  Feel free to reach out for any questions.

[2017-04-19 20:40] blumu opened #2885 "kprintf broken on 64 bit"
#### Repro steps
Minimal repro obtained with @mgreisen:
- Create a new project
- Replace the main function with the following code
- In project settings unselect "Prefer 32 bit"
- Build, run and observe crash
[code]
#### Expected behavior

Program should not crash (`x` and `y` should be equal)

#### Actual behavior

Program crashes: in `y`, `guid1` gets expanded twice (instead of `guid1` and `guid

[2017-04-19 21:34] 0x53A commented on #2885
I can repro, but only with optimizations enabled. In debug configuration it works as expected.

[2017-04-19 22:48] dsyme commented on #2885
This must be a JIT64 bug? Perhaps with an obscure brand of tailcall?

[2017-04-19 22:52] 0x53A commented on #2885
Tailcalls are disabled in both assemblies, the only difference is the debuggable flag.

[2017-04-19 22:54] dsyme commented on #2854
Use
``
#if COMPILER_SERVICE
``
or an existing #if

[2017-04-19 22:56] dsyme commented on #2885
OK, then really must be a JIT bug.  We should open a bug in the relevant CLR repo (not sure which it is).  Would also be worth checking if RyuJIT on/offf makes a difference

[2017-04-19 22:56] 0x53A commented on #2885
It must somehow be related to large >=12 byte structs:

[code]

[2017-04-19 22:58] dsyme commented on #2863
@nbevans Thanks - could you list FSI.EXE  version info please?

[2017-04-19 23:05] dsyme commented on #2863
@nbevans @endeavour Here's some info from my machine, VS2017 cmd window
[code]
Here's another from a VS2015 cmd window:
[code]

[2017-04-19 23:05] dsyme commented on #2863
Perhaps we have different libraries in the GAC.  Are there any GAC binding failures or odd exceptions raised when executing fsi.exe under a debugger?

[2017-04-19 23:35] 0x53A commented on #2885
Since no one else volunteered I have created https://github.com/dotnet/coreclr/issues/11090, please chime in if you have anything to add.

[2017-04-19 23:37] dsyme commented on #2885
@0x53A Thanks!

[2017-04-20 04:16] cloudRoutine commented on #2854
[originally wrote this here](https://github.com/fsharp/FSharp.Compiler.Service/pull/729#issuecomment-289489200)

a suggestion on how we could make the alignment easier in the future - most places where `#if COMPILER` is used seem like types that it would be more useful to have the compiler service expose. So if we got rid of `COMPILER` as one of the defines for FCS add `|| COMPILER_SERVICE` to the

[2017-04-20 08:40] endeavour commented on #2863
Tried running with VS debugger, no binding failures or exceptions:

[code]

[2017-04-20 08:45] endeavour commented on #2863
[fusion logs.zip](https://github.com/Microsoft/visualfsharp/files/941651/fusion.logs.zip)

I have attached the binding logs from fuslogvw.

[2017-04-20 09:09] nbevans commented on #2863
C:\Users\nbevans>fsi

Microsoft (R) F# Interactive version 14.0.23413.0
Copyright (c) Microsoft Corporation. All Rights Reserved.

For help type #help;;

[2017-04-20 10:58] dsyme commented on #2854
@KevinRansom @Pilchie @brettfo Historically Microsoft-built DLLs that are private to Visual Studio have only had internal accesiblity on their APIs.  That's one reason that forces us to have two separate DLLs - one for FSharp.Compiler.Service (public API) and one for FSharp.LanguageService.Compiler.dll (internal API, shipped with VS).

Do you know if that needs to continue to be the case?   Adding

[2017-04-20 11:02] dsyme commented on #2863
OK, it's a case where we are binding to the wrong version of an assembly:
[code]

For some reason your fsi.exe is not binding to ``./packages/WindowsAzure.Storage/lib/net45/Microsoft.WindowsAzure.Storage.dll'...``

[2017-04-20 11:05] dsyme commented on #2863
Can anyone repro on master?

Could you run this please?
[code]

Since I can't repro this it's hard for me to debug it or validate a fix.

[2017-04-20 11:12] endeavour commented on #2863
[code]

(With FSI from VS 2017 RTM, I haven't had a chance to try with latest build from master yet)

[2017-04-20 11:37] dsyme commented on #2863
Thanks.  OK can now repro this once I installed the "Azure .NET libraries" extension to Visual Studio, adding

    C:\Program Files\Microsoft SDKs\Azure\.NET SDK\v2.9

and the AssemblyFoldersEx key.  Will work on it

[2017-04-20 12:04] charlesroddie commented on #2643
The negative number/operand parsing issue crops up in the increment too:
`[2..-1..0]` gives `[2;1;0]`
`let x = 2 in [x..(-1)..0]` gives `[2;1;0]`
`let x = 2 in [x..-1..0]` gives `error FS0001: The type 'int' does not support the operator '..-'`

[2017-04-20 12:58] endeavour commented on #2863
Great, thanks :)

[2017-04-20 13:31] Thorium opened #2886 "Quick fix to add missing pattern matching"
Suggestion to code editor quick fixes:

![example](http://i.imgur.com/RiMrnJkg.png)

When matching over enum or discriminated union type, and gotten warning "Incomplete pattern matches", provide a quick hint fix possibility to add missing enums.

[2017-04-20 13:53] ronniebarker commented on #2128
This isn't a duplicate - surely the entry point is in the test runner. This is still an issue for me using xUnit

[2017-04-20 14:21] dsyme commented on #2863
Proposed fix is here: https://github.com/Microsoft/visualfsharp/pull/2887/

Thanks for chasing this bug down, I'd seen it before but never had a good repo

[2017-04-20 14:31] Artur2 commented on #2400
Hi guys! What about automatically list members like in C# ?

[2017-04-20 14:48] smoothdeveloper commented on #2432
In places where a boolean is expected (like if or while, and possibly places taking a boolean value), resharper lists members returning `bool` first:

![image](https://cloud.githubusercontent.com/assets/87944/25236790/0d2402c0-25e9-11e7-944d-3c64aef7ded1.png)

This might be generalized to other types, but I think it is useful features.

[2017-04-20 16:16] dsyme commented on #2854
@7sharp9 I started some work towards supporting an installation process for Mono builds here https://github.com/fsharp/fsharp/pull/730/

It's hard to avoid just bringing the basic Makefile across, since we know it actually works on various linux distros, homebrew etc.  But I'll try to avoid bringing across all the files, and put everything in a "mono" directory

[2017-04-20 18:42] #2178 closed

[2017-04-20 18:42] #2048 closed

[2017-04-20 18:43] saul commented on #2539
@KevinRansom Closed by #2692

[2017-04-20 18:43] saul commented on #1095
@KevinRansom Closed by #2692

[2017-04-20 18:44] saul commented on #732
@KevinRansom Closed by #2692

[2017-04-20 18:46] #2539 closed

[2017-04-20 18:46] #1095 closed

[2017-04-20 18:46] #732 closed

[2017-04-20 18:47] saul commented on #1038
Dupe of #1081

[2017-04-20 18:48] saul commented on #2346
This was fixed by #2408

[2017-04-20 18:48] #2346 closed

[2017-04-20 18:49] #1038 closed

[2017-04-20 18:53] saul commented on #846
I can't reproduce this on Roslyn master with the latest F# nightlies:

![image](https://cloud.githubusercontent.com/assets/64654/25247558/1147e42e-2603-11e7-897c-d3c8fea85331.png)

Can close as fixed. @cartermp

[2017-04-20 18:54] saul commented on #117
@cartermp see my previous comment

[2017-04-20 19:02] cartermp commented on #117
Yeah, this seems like a wontfix to me.

[2017-04-20 19:02] #117 closed

[2017-04-20 19:03] cartermp commented on #846
Yup, and this should be live in VS 2017 Update 3.  Thanks @saul!

[2017-04-20 19:03] #846 closed

[2017-04-20 20:07] matthid opened #2890 "The current netcore "release" is missing GetUnionFields"
Please provide a succinct description of the issue.
`error FS0039: The field, constructor or member 'GetUnionFields' is not defined.`

#### Repro steps

Try to use `Microsoft.FSharp.Reflection.FSharpValue.GetUnionFields` on dotnetcore and try to compile.

#### Expected behavior

Compilation works.

#### Actual behavior

Compilation fails.

#### Known workarounds

Use https://gist.github.com/cloudR

[2017-04-20 20:30] BentTranberg commented on #2100
Other issues seems to have been fixed or improved now, and so today it was easy to try to produce a minimal solution with these warnings. I succeeded, sort of, but then again not. What I discovered during the hour I spent on reducing the solution, is that these warnings come and go as they please all over the place in F# projects. They are not tied to any specific source. They seem to occur more f

[2017-04-20 20:52] BentTranberg commented on #2100
While reading my previous post, I found that the solution was staring me in the face. (Not sure whether pun was intended.) I simply added a whole bunch of source files to the F# project, and now it's rather easy to reproduce the warnings. New solution attached.

[TDNet2.zip](https://github.com/Microsoft/visualfsharp/files/945438/TDNet2.zip)

To provoke the warnings, try opening a lot of files, do

[2017-04-20 21:10] BentTranberg commented on #2100
I have upped the count of bogus files to 100. Open the solution, open 10 bogus files, compile, open 10 bogus files, compile, etc. In this way, I am now able to reproduce the warning in less than 10 seconds, repeatedly.
[TDNet3.zip](https://github.com/Microsoft/visualfsharp/files/945482/TDNet3.zip)

[2017-04-20 21:11] panesofglass commented on #1020
I think F# 4.1 may have regressed this issue. I just updated and see the same thing happening within a nested loop. I'll try to create a small repro to verify. cc @ctaggart

[2017-04-20 22:59] 0x53A opened #2891 "FSI in VS throws warnings before code is comitted"
I was typing (not copy-pasting) some code in the VS FSI:

[code]

![image](https://cloud.githubusercontent.com/assets/4236651/25255899/a4948050-262d-11e7-9974-ddaeff476ec4.png)

![image](https://cloud.githubusercontent.com/assets/4236651/25255942/e2bd89f8-262d-11e7-88e9-d0f893a89433.png)

[2017-04-20 23:03] 0x53A commented on #2891
Unlike in the C# interactive, you can't go back up and edit a different line, so I guess it is ok that it analyzes it instantly, not like you can fix it anyway ...

[2017-04-20 23:03] #2891 closed

[2017-04-21 00:39] cloudRoutine commented on #2100
I still get the all the time too

![](http://i.imgur.com/8ral2RE.png)

And i'm using a build of VFT that includes @saul 's task cancellation fixes

[2017-04-21 07:23] vasily-kirichenko opened #2892 "Add new item dialog suggests existing file name"
This is regression for sure. I think it was introduced by @saul 's folder support PR merged yesterday.

![image](https://cloud.githubusercontent.com/assets/873919/25267186/821a53a2-267c-11e7-9b81-f787819b7c36.png)

![image](https://cloud.githubusercontent.com/assets/873919/25267140/632f100e-267c-11e7-9389-b0c748f139f1.png)

![image](https://cloud.githubusercontent.com/assets/873919/25267156/6b7fa5

[2017-04-21 08:34] JoshVarty commented on #2882
Yeah [Alive](https://www.youtube.com/watch?v=PZni_54s0o4) was pretty similar, but for C#. We're still doing research into how Alive might fit into future versions of Visual Studio.

I always thought the idea might be better applied to F#.

[2017-04-21 08:59] vasily-kirichenko commented on #2882
@JoshVarty is Alive open source? I don't think I like the slider for loop evaluating though. And I'm sure it complicates things a lot. Just showing each expression result next to it is totally enough.

[2017-04-21 09:03] vasily-kirichenko commented on #2882
28 Jun 2016
We started Code Connect to build tools that help developers be as productive as they can be. Over the course of the last two years we built and shipped Code Connect, Source Browser and Alive.

So it was almost a year ago. Is it available (for C# at least) in VS?

[2017-04-21 09:34] nethatix commented on #2100
Same here with latest visual tools 15.4.1.17042001
![image](https://cloud.githubusercontent.com/assets/2580304/25271879/4aab819a-268e-11e7-960c-c438ed173406.png)

[2017-04-21 10:11] jdh30 opened #2893 "Stack overflow in equality, comparison and hashing"
Equality, comparison and hashing stack overflow on deep data structures including both built-in structures like `list` and arrays as well as custom data structures.

#### Repro steps

Applying the built-in `hash` function to a long F# `list` causes a stack overflow:

    hash [1..1000000] // Process is terminated due to StackOverflowException.

Assuming a function that nests `n` applications of `f

[2017-04-21 11:27] vasily-kirichenko commented on #2873
@forki what's wrong with it?

[2017-04-21 11:32] cloudRoutine opened #2894 "Switch to Site Specific Notification Adornments over Modal Dialog Boxes"
I know @saul loves these popups and thinks we should use them just because C# does, but I really think we should try another approach. Modal dialog boxes are an obtrusive overkill just to provide a small amount of information.

![](http://i.imgur.com/BoQi2qQ.gif)

I think the criticism of the status bar notification I had it use instead was fair, if someone didn't know to look there they could eas

[2017-04-21 11:35] vasily-kirichenko opened #2895 "No link for a navigable symbol"
![image](https://cloud.githubusercontent.com/assets/873919/25275789/b11dff78-269f-11e7-8aa2-1faf95bf169a.png)

F12 works for it.

[2017-04-21 11:54] majocha commented on #2895
Yes, I noticed it sporadically fails now. Not sure but I think rebuilding solution fixes it (?)
![image](https://cloud.githubusercontent.com/assets/1760221/25275974/3e10b8ce-2698-11e7-9744-5714a09f7a1b.png)

The logic for creating links is fairly simple. If there is no valid range pointing to a symbol at the time tooltip is created, there is no link. Yet I think it worked reliably before(?) I must

[2017-04-21 12:13] vasily-kirichenko commented on #2866
Fixed in https://github.com/Microsoft/visualfsharp/pull/2896

[2017-04-21 12:15] saul commented on #2894
I don't love popups I just love consistency ;) I think the VS Code behaviour is better - it's more obvious than the status bar change. I don't think we have the capability in the IDE to create those kinds of popups though.

[2017-04-21 13:03] dsyme commented on #2893
use

    devenv /debugexe foo.exe args

from an admin command prompt and tick "CLR exceptions" in the "Debug --> Exceptions" dialog.  This will stop at the SO and give you a stack trace

Yes, for such data structures I think its best to take control of your destiny and write the recursive functions as you want them.  F# automatic hash/equality/comparison is what it is, for better or worse. I can s

[2017-04-21 13:10] vasily-kirichenko opened #2897 "Open script from a folder does not work for the first time"
1. Open a _folder_ that contains any fsx files
2. Double click on any script file

![image](https://cloud.githubusercontent.com/assets/873919/25278607/6e347f90-26ac-11e7-983c-9381092077db.png)

It turns out it's reproduced for any type of file (ps1 for instance).

@Pilchie where should I report this bug?

[2017-04-21 14:00] dsyme commented on #2890
Did you open ``FSharp.Reflection``?

There's a replacement extension member in
[code]

[2017-04-21 14:19] smoothdeveloper commented on #2866
Thanks!

[2017-04-21 14:52] cloudRoutine commented on #2894
@saul we can do it with adornments, you can make adornments with pretty much any kind of wpf element, position them relative to the viewport or a position in the textbuffer, and you can animate them too.

[2017-04-21 15:03] matthid commented on #2890
The code was explicitly using the fully qualified member from above and broke. Did dot try to open anything to be honest. I had no idea ;)

[2017-04-21 15:27] #2871 closed

[2017-04-21 15:28] #2863 closed

[2017-04-21 21:11] cartermp commented on #2894
I think this would be splendid.  Although this sort of thing is ultimately a downlevel concern that the VS editor team could build support for, the most effective way for that to happen is to demonstrate how awesome it can be in F#.

In other words, let's do this.

[2017-04-21 21:39] cartermp commented on #2897
cc @brettfo who was looking at a bug related to this

[2017-04-21 22:08] cartermp commented on #2897
Evidently this has been fixed, and should be in for 15.2.

[2017-04-21 22:08] #2897 closed

[2017-04-22 00:26] smoothdeveloper commented on #2897
@cartermp can you clarify? I'm seeing it in nightly, is it outside of visualfsharp?

[2017-04-22 01:00] cartermp commented on #2897
VS editor fix.  Not F#.

[2017-04-22 01:33] smoothdeveloper commented on #2897
Got it, thanks!

[2017-04-22 06:18] vasily-kirichenko commented on #2869
The settings are there on current master.

[2017-04-22 06:18] vasily-kirichenko commented on #2866
@cartermp Can we close it now?

[2017-04-22 06:22] vasily-kirichenko commented on #2835
I'm sure there is no AST available for such incomplete code. In such case we have no choice but suggest all unqualified symbols. We could use the lexer to try to parse such code on ourselves, but it's complex and error prone.

[2017-04-22 06:24] vasily-kirichenko commented on #2827
@cartermp Can we close this now?

[2017-04-22 06:25] vasily-kirichenko commented on #2788
I've not seen this for about two weeks at least.

[2017-04-22 06:26] vasily-kirichenko commented on #2787
@cartermp Can we close it now?

[2017-04-22 06:28] vasily-kirichenko commented on #2756
I still see this bug time to time, always after reinstalling OSS VSIX.

[2017-04-22 06:28] vasily-kirichenko commented on #2786
I still can reproduce it - no tests in Test Explorer.

[2017-04-22 06:31] cloudRoutine commented on #2786
A few days ago I ran into this, iirc the problem was caused by emitting pdb debug symbols, once I changed the output type the test runner started working again.

[2017-04-22 06:52] vasily-kirichenko commented on #2786
@cloudRoutine where is this output type changed? In project settings?

[2017-04-22 07:04] vasily-kirichenko commented on #2732
This is what completion looks like on current master:

![image](https://cloud.githubusercontent.com/assets/873919/25302246/d638f86e-2742-11e7-9bc2-42e0eaee79f2.png)

It looks like a completely right behavior to me.

What do you expect it to do by pressing Up Arrow? It does nothing and it's OK.

[2017-04-22 10:21] saul commented on #2100
@BentTranberg thanks for the repro - judging by @cloudRoutine's post it looks like there's still work to do.

[2017-04-22 10:35] majocha opened #2902 "Project's direct dependencies missing from dependency graph."
For example here FSharp.Editor references LanguageService.Compiler, yet it is not reflected in Roslyn's dependency graph, causing #2895

![dependentprojs](https://cloud.githubusercontent.com/assets/1760221/25303636/8cc56932-2757-11e7-840f-8db8c17d55c9.gif)

[2017-04-22 11:30] 0x53A commented on #2786
I think you can either switch to debug (which uses full pdbs), or edit the targets file to also use full in release.

Afaik this is caused by an old mono.cecil version, which can't handle portable pdbs yet: https://github.com/nunit/nunit-vs-adapter/issues/145

[2017-04-22 11:39] saul commented on #2902
GetDependentProjectIds will return the list of projects that depend on you, won't it? I'm not too familiar with Roslyn APIs, but is there not a GetDependencyProjectIds?

[2017-04-22 11:49] majocha commented on #2902
Yes, that's the idea. It definitely worked before.

[2017-04-22 11:52] majocha commented on #2902
`GetDependencyProjectIds` apparently is our own extension wrapping DependencyProjectGraph.

[2017-04-22 15:28] #2866 closed

[2017-04-22 15:29] #2827 closed

[2017-04-22 15:29] vasily-kirichenko commented on #2786
I'm on Debug.

[2017-04-22 15:30] #2787 closed

[2017-04-22 15:36] vasily-kirichenko commented on #2723
It was fixed some time ago. I cannot reproduce it on master. @cartermp close this please.

[2017-04-22 15:38] vasily-kirichenko commented on #2703
The style is ok and customizable now. Closing it.

[2017-04-22 15:38] #2703 closed

[2017-04-22 15:39] vasily-kirichenko commented on #2673
@cartermp Close it?

[2017-04-22 15:45] vasily-kirichenko commented on #2627
I'm not sure it's a bug. Either of `open System` can be considered as unused because we can remove either of them and the code will compile.

[2017-04-22 15:56] vasily-kirichenko commented on #2627
IDEA considers nearest import statement as "used" though:

![image](https://cloud.githubusercontent.com/assets/873919/25305971/61bb615c-278d-11e7-9fbb-ce78dd0a71a1.png)

I don't see the rationale in this logic still.

[2017-04-22 16:05] 0x53A commented on #2627
The first open is scoped to Module A:

![image](https://cloud.githubusercontent.com/assets/4236651/25306018/ef5c477c-2785-11e7-8fcc-cd8aa89ecff8.png)

If I move the first open to the global scope, then it works better:

![image](https://cloud.githubusercontent.com/assets/4236651/25306026/17cce37e-2786-11e7-8597-8dffd024be9b.png)

And imo that is correct, it should prefer outer opens.

[2017-04-22 16:13] vasily-kirichenko commented on #2627
ah! sorry, i'm stupid :(

[2017-04-22 16:33] #2673 closed

[2017-04-22 16:34] #2723 closed

[2017-04-22 17:30] vasily-kirichenko commented on #2627
Currently we don't correlate scope were a namespace or module is opened with symbol uses' scope. So fixing this bug requires rewriting the feature. I think we can live with it for now.

[2017-04-22 19:31] vivainio commented on #2835
The word I typed ("get") is already available in the suggested completions (as shown in the screenshot), it's just not the first completion. The problem is in the UI flow - if I typed something and press "," (not tab or whatever), it should be satisfied with that completion and leave the code as is.

[2017-04-22 21:59] jon49 commented on #2766
I was writing VBA and looked into projects surrounding writing Excel applications/Add-ins as VBA wasn't powerful enough for what I was doing. Started doing VB.NET, used C# when I had to. Then I came across people using F# with Excel. Then I started incorporating F# into my projects. Then I got my first full time programming Job as a Node.js developer porting projects from C#. But my lead left and

[2017-04-23 00:49] cartermp commented on #2766
Just wanted to say that this thread is both fun and inspiring to read.  Love seeing so many varied stories.

[2017-04-23 00:53] cartermp commented on #2756
Re-triaged this - I've run into it again as well, though it's so inconsistent and uncommon now that I can't say this is something which should be addressed with any priority.  Kind of annoying, though

[2017-04-23 00:54] cartermp commented on #2788
I've not seen this either.  @cloudRoutine or @saul please ping this if you see it again so I can re-open.

[2017-04-23 00:55] cartermp commented on #2869
Closing for now, as I've not seen this missing in nightlies either.  Perhaps it was a bad build.

[2017-04-23 00:55] #2869 closed

[2017-04-23 01:00] cartermp commented on #2902
Could this have also affected being able to click in QuickInfo to Go to Def on something in another project?  Noticing that on the nightly from Thursday night, this didn't work for a function defined in a module (though I could f12 to go to definition on it just fine).

[2017-04-23 12:39] vasily-kirichenko commented on #2609
I think we have a number of serious bugs here:

![image](https://cloud.githubusercontent.com/assets/873919/25313634/f2ba37f2-283a-11e7-95c2-48763245709d.png)

[2017-04-23 18:25] realvictorprm commented on #2368
I would like to give it a try. I talked with @cloudRoutine about some implementation details which need to be tested. If something works out I'll report it here.

[2017-04-23 19:00] vasily-kirichenko commented on #2368
@realvictorprm I tried to find a way to add an adornment that can be inserted between lines and failed. Maybe you will be more lucky.

[2017-04-23 21:18] majocha opened #2904 "F12 Go to definition not working for signature files in referenced project."
Latest nightly
![f12](https://cloud.githubusercontent.com/assets/1760221/25317546/ed48f020-287a-11e7-85b2-9aafdacab359.gif)

This is probably related to #2902.

[2017-04-23 21:19] 0x53A opened #2905 "Tooltip: show concrete generic parameters"
![image](https://cloud.githubusercontent.com/assets/4236651/25317490/ed9f20ae-2879-11e7-87f5-9530d9873b0f.png)

I would like to see what 'T refers to in this context.

For comparison, I think C# handles this quite nice wrt anonymous types:

![image](https://cloud.githubusercontent.com/assets/4236651/25317528/b1b2c3b0-287a-11e7-9648-0eb980e56e02.png)

If you use non-anonymous classes, then the para

[2017-04-23 21:19] panesofglass opened #2906 "Make Statically Resolved Type Parameters work with other .NET languages"
I attempted to use F#'s statically resolved type parameters to facilitate types declared in other projects, including C# projects. It appears that these only work with types declared in F#, even though the types should be equivalent. I would love to see or help make this work across languages.

As this is a compile-time step, I suspect this will not be possible without some sort of common integrat

[2017-04-23 21:24] 0x53A commented on #2905
What I would prefer:

![image](https://cloud.githubusercontent.com/assets/4236651/25317602/ea867a8c-287b-11e7-9180-9cdd401b766f.png)

[2017-04-24 02:38] cartermp commented on #2905
I think what you suggested would be great.  It's really easy to have `'T` be a long type, but having it at the bottom like that would alleviate the pain of really really long type signatures on a single line.

[2017-04-24 02:43] cartermp commented on #2906
I think this is a good candidate for a [language suggestion](https://github.com/fsharp/fslang-suggestions), as AFAIK SRTPs aren't intended to be consumed, thus this would be closed "by design".  That said, I definitely would support such a change if it were possible to do so without requiring changes to the C# and VB.NET compilers.

[2017-04-24 05:07] vasily-kirichenko commented on #2906
No way a inline function that uses SRTP will ever work being called from any other compiler but F#. All the magic is done by F# compiler.

[2017-04-24 06:38] 0x53A commented on #2906
The maximum that would be possible is to pre-specialize the function for a limited number of generics.

E.g. if you have

[code]

then you could call it with either int or double from C#, but all other types would still blow up.

[2017-04-24 09:02] dsyme commented on #2609
@vasily-kirichenko OK, thanks.  Probably the same underlying cause(s).

[2017-04-24 09:04] dsyme commented on #2905
I like this suggestion very much.  I can help with the FCS work to get the FSharpType values for the type instantiations available.

[2017-04-24 09:42] 0x53A commented on #1050
Just wanted to note that I hit this when I experimented a bit with a netcore fsproj (new sdk). For now I have worked around it by creating a C# project just to hold the resources ...

[2017-04-24 13:25] vasily-kirichenko opened #2907 "FSharpFunc => Action/Func implicit conversion"
It's super annoying that F# functions are not converted automatically to `Action`/`Func` when passed to methods:

![image](https://cloud.githubusercontent.com/assets/873919/25339225/9024b196-290a-11e7-859d-1c5d3cb74baf.png)

So we have to write ugly code like this `Action<_> (printfn "%s")` or like this `fun x -> printfn "%s" x`

[2017-04-24 13:48] matthid commented on #2907
This adds some corner cases and imlicit typing to the language. Maybe another way would be to have an operator for this, which converts to `Action`/`Func` as needed? And a special error message could show or advice that operator?

[2017-04-24 13:54] vasily-kirichenko commented on #2907
@matthid the compiler already converts lambdas to `Action`/`Func` and it's caused no problems so far, so why not to do the same for any value of type `FSharpFunc`?

[2017-04-24 13:59] matthid commented on #2907
@vasily-kirichenko But from a users perspective that's not an implicit conversion, instead the user is writing an action or func in that case (I guess that's a philosophical question). Maybe @dsyme can share his opinion on this.

[2017-04-24 14:01] vasily-kirichenko opened #2908 "Outlining: top level node collapses entire file"
![1](https://cloud.githubusercontent.com/assets/873919/25340840/9c03d1ae-290f-11e7-8286-2f89d800fb0d.gif)

[2017-04-24 14:02] isaacabraham commented on #2907
@matthid I had the same idea re: improve error reporting with guidance on how to convert (perhaps not even operators, just a few utility funcs added to FSharp.Core?)

[2017-04-24 14:58] cartermp commented on #2908
Thought I had seen this reported in one of the other issues for Structured Guidelines, but I can't find find it.

[2017-04-24 15:16] smoothdeveloper commented on #2908
@cartermp maybe this one: #2392

[2017-04-24 15:19] smoothdeveloper commented on #2907
@vasily-kirichenko consider adding some elements to #2503

[2017-04-24 15:20] smoothdeveloper commented on #2907
IMHO this is a problem with delegates altogether, not only `Action` `Func`.

[2017-04-24 15:39] matthid commented on #2907
Thanks @smoothdeveloper after https://github.com/fsharp/fslang-suggestions/issues/248#issuecomment-273176935 I kind of changed my mind. Maybe we need it to just work :)

[2017-04-24 15:51] dsyme commented on #2907
@matthid @vasily-kirichenko @smoothdeveloper Yes, this is a glitch (my fault, sorry...) that should be fixed.  I've marked https://github.com/fsharp/fslang-suggestions/issues/248 as approved in principle

Next steps would be to dig into the "single overload" path of method overload resolution and understand why it differs from the "multiple overload" path.

[2017-04-24 18:40] realvictorprm commented on #2368
@vasily-kirichenko I managed to achieve this.
![image](https://cloud.githubusercontent.com/assets/25414896/25353009/2960c818-292e-11e7-90c0-53f556c64daf.png)

The lines are being made bigger and a suitable adornment is added 😃 !

[2017-04-24 18:42] cloudRoutine commented on #2368
cc @JoshVarty

[2017-04-24 18:45] realvictorprm commented on #2368
Btw, where should I start adding the stuff?`
Any suggestions?

[2017-04-24 19:03] vasily-kirichenko commented on #2368
@realvictorprm I think `QuickInfo` folder in `FSharp.Editor` project is OK for now. However, maybe it's better to add a new `CodeLense` folder. Yeah, it may be better. As you wish.

[2017-04-24 19:04] vasily-kirichenko commented on #2368
And yes, it's absolutely awesome :) Make a PR as soon as possible so we all could review and help with it.

[2017-04-24 19:04] cartermp commented on #2368
A new CodeLens folder would probably be best.  If you have the latest nightly, it should be easy to add folders.  This looks really cool!

[2017-04-24 19:06] vasily-kirichenko commented on #2368
BTW, I think we will be able to make the signatures colored (unlike Code ;)

[2017-04-24 19:07] dsyme commented on #2906
@panesofglass Per CONTRIBUTING.md, please open a language design suggestion on this please - thanks! I did approve one suggestion today, so it sometimes happens :)

[2017-04-24 19:07] #2906 closed

[2017-04-24 19:09] realvictorprm commented on #2368
Everything is possible. It's a simple TextBox 😄 @vasily-kirichenko

[2017-04-24 19:10] cartermp commented on #2368
I, for one, would love rainbow colors in the signatures.

[2017-04-24 19:11] cloudRoutine commented on #2368
@vasily-kirichenko we definitely can, this is what I was telling you we could do the other day. Instead of using a textbox we could use a stack panel and have generalized mechanism for additional contextual information that can expand above or below any particular line. It could be for errors, inline evaluation, VCS metadata, etc.

[2017-04-24 19:19] dsyme commented on #2905
I started taking a look at this since it's something I've been meaning to do for a long time and I know it's a really awful bit of work in the compiler service (which is why it hasn't been done).  The code that tracks instantiations and their "pretty" form where we get rid of type inference variables in the IDE is a mess.

Anyway, here's a link to the branch - it will likely be a while before it i

[2017-04-24 20:49] realvictorprm commented on #2368
You can assign me to the issue (whoever is allowed to)

[2017-04-24 21:14] cartermp commented on #2368
@realvictorprm Interestingly enough, I cannot assign you here (though I can assign @saul, so the limitation does not appear to be organization-specific).

[2017-04-24 21:16] realvictorprm commented on #2368
What a bummer 😕 @cartermp
Any Idea why?

[2017-04-24 22:02] cartermp commented on #2368
Yup, looks like you can be assigned to the PR, just not the issue.  I think it's a quirk with GitHub:
![assign-people](https://cloud.githubusercontent.com/assets/6309070/25360691/089875ce-28ff-11e7-9a23-c8386f60a3eb.gif)

[2017-04-24 23:36] #1369 closed

[2017-04-24 23:38] cartermp commented on #1891
I've not been able to repro this and have not observed a broken VS2015 installation due to an install of the F# tools in VS 2017.  Closing unless a reliable repro can be produced.

[2017-04-24 23:38] #1891 closed

[2017-04-24 23:39] cartermp commented on #1941
Closing, as this has been made much better with recent performance improvements to FCS.  It's also really a symptom of classification taking a long time in FCS, particularly for files in VisualFSharp.sln.

[2017-04-24 23:39] #1941 closed

[2017-04-24 23:40] cartermp commented on #2181
Closing this, as templates for this are not planned to go directly into this repo.  They exist in the [dotnet/templating](https://github.com/dotnet/templating) repo and will be pulled in by the .NET Core SDK with the project system in VS 2017.

[2017-04-24 23:40] #2181 closed

[2017-04-24 23:41] cartermp commented on #1882
The ability to create these options has been done, and they're already in use.  I'll create a tracking issue for specific things which should get options.

[2017-04-24 23:41] #1882 closed

[2017-04-24 23:43] cartermp commented on #1801
Closing this for now, as I don't think we really have the bandwidth the fix this given .NET Core and other pushes.  Since there is a workable solution by repairing the VS 2015 install, this is a less severe issue for us.  FSharp.Core as a whole is moving GAC-less and eventually it will just be a package we pull in via the package cache which comes with VS.  This is a breaking change, but for the b

[2017-04-24 23:43] #1801 closed

[2017-04-24 23:45] cartermp commented on #1939
This has been implemented as WIP in #2658  by @cloudRoutine.

[2017-04-24 23:51] cartermp commented on #2742
@dsyme Could this be an issue in how MSBuild knows what the output?  The function isn't even output to an XML file if it has a default constructor constraint.

[2017-04-24 23:52] cartermp commented on #2851
cc @brettfo

[2017-04-25 03:27] #2548 closed

[2017-04-25 03:52] cartermp opened #2912 "Replace Unused suggestion causes code to not compile"
This is in `QuickInfoProvider.fs`.

![replace-underscore-bug](https://cloud.githubusercontent.com/assets/6309070/25368208/b5f38404-292f-11e7-9e3f-93ed684f8557.gif)

Though one could argue whether or not this is the responsibility of the code fix, generally code fixes should not suggest something which won't compile.

[2017-04-25 05:07] vasily-kirichenko commented on #2912
Yeah, it's a corner case. I think we have two definition locations for same symbol here.

[2017-04-25 08:54] vasily-kirichenko commented on #2912
Fixed in https://github.com/Microsoft/visualfsharp/pull/2914

[2017-04-25 11:15] saul commented on #1944
The reason this is happening is because in FSharpLanguageService we're listening on Workspace.DocumentClosed. This is fired when the script file is renamed, and so we remove the single-file project. DocumentOpened is never fired again and neither is SetupNewTextView (what we use to setup single file projects).

@Pilchie do you know what the proper way to setup single-file projects is? What event s

[2017-04-25 11:51] vasily-kirichenko commented on #2908
Fixed in https://github.com/Microsoft/visualfsharp/pull/2915

[2017-04-25 12:00] vasily-kirichenko opened #2916 "All features stop working on opened script files after project reloading"
![1](https://cloud.githubusercontent.com/assets/873919/25384132/cc5c2136-29c7-11e7-8db8-a246486b0d98.gif)

[2017-04-25 12:12] saul commented on #1944
@majoca We can't use MiscellaneousFileWorkspace until https://github.com/dotnet/roslyn/pull/17263 is made available. See https://github.com/dotnet/roslyn/pull/17263#issuecomment-297010447

[2017-04-25 13:47] saul commented on #2916
Think this is related to #1944 - I'm working on a fix now

[2017-04-25 13:49] saul opened #2917 "Latest nightly build 15.4.1.17042501 crashes Visual Studio on load"
@KevinRansom can this be rolled back ASAP?

ActivityLog states:
[code]

So I cleared my ComponentModelCache, and now Visual Studio crashes when trying to load F# solutions :(

[2017-04-25 14:18] majocha commented on #2917
Is it after clearing cache or just after installing?
What would make it stop working out of sudden?

Can't reproduce it
![image](https://cloud.githubusercontent.com/assets/1760221/25390081/c75f170a-29d2-11e7-8baa-dec9b425286a.png)

[2017-04-25 14:30] saul commented on #2917
The crash is after clearing the cache. The error in the ActivityLog breaks the package loading. That occurred immediately after updating to this version.

[2017-04-25 15:38] dsyme commented on #2917
It's a shame the VS update manager doesn't let you rollback to a specific version you want to use

[2017-04-25 17:14] charlesroddie commented on #1096
@cartermp I would like to try this. Can you give any more info? Thanks

[2017-04-25 17:30] cartermp commented on #2472
@vasily-kirichenko Are you still seeing this?

[2017-04-25 17:31] vasily-kirichenko commented on #2472
No.

[2017-04-25 17:31] #2472 closed

[2017-04-25 17:39] #2761 closed

[2017-04-25 17:39] cartermp commented on #2472
😄

[2017-04-25 18:46] vasily-kirichenko opened #2918 "System.TypeInitializationException: The type initializer for '<StartupCode$FSharp-Editor>.$Views' threw an exception."
1. Load a solution so that a script auto opens.
2. Unhandled error dialog pops up, no features work.
3. The log contains the following:

It's not reproduced 100% of time.

[2017-04-25 19:58] realvictorprm commented on #2368
Look here fellows:
https://github.com/realvictorprm/VisualFSharpCodeLens/

I made a small repo for the current working state. I wasn't able yet to integrate it tough.

[2017-04-25 20:15] saul commented on #2917
Also can't reproduce this anymore :/ It's auto updated again and it's working fine.

[2017-04-25 20:15] #2917 closed

[2017-04-25 20:28] vasily-kirichenko commented on #2368
wow, wow, wow. Don't use checkFileResults.PartialAssemblySignature.Entities, use checkFileResults.GetAllUsesOfAllSymbolsInFile instead.

[2017-04-25 20:30] realvictorprm commented on #2368
Haha thanks finally someone who tells me what could be improved.
@vasily-kirichenko I wasn't fine with that too :wink: but with what you suggest I couldn't come up yet with a solution. I'll try it now again 😄

[2017-04-25 20:36] vasily-kirichenko commented on #2368
:) GetProjectOptionsFromScript is a heavy operation, cache FSharpOptions for now (VFT does cache already, so it won't be a problem as merge it into the main repo)

[2017-04-25 20:37] realvictorprm commented on #2368
hmm, no I don't see a way using GetAllUsesOfAllSymbolsInFile @vasily-kirichenko
I tried it today for a couple of hours too but I didn't got the correct type name results.

okay I'll cache that now. maybe performance will go up with this 😄

[2017-04-25 20:40] majocha commented on #2918
@vasily-kirichenko Well, this sucks as it shouldn't happen and also I can't reproduce it. Could you please try if #2920 makes things better?

[2017-04-25 20:40] vasily-kirichenko commented on #2368
I'll try to fix the FCS part tomorrow and make a PR here.

[2017-04-25 20:41] realvictorprm commented on #2368
how you mean? Don't worry I can take care of the stuff :wink:

[2017-04-25 20:43] vasily-kirichenko commented on #2368
ok :)

[2017-04-25 20:54] vasily-kirichenko commented on #2368
How Ionide does it: it asks for a tooltip for each symbol, then takes the first line from it and shows. We want to get structured text instead (as it does Quick Info) and format it.

[2017-04-25 20:55] realvictorprm commented on #2368
Yeah I already thought about such approach too because the Quickinfo show the signature too.

[2017-04-25 20:59] majocha opened #2921 "Navbar steals keyboard focus from pre-opened editor."
#### Repro steps:

Open solution with some .fs (not .fsx) file pre-opened in editor.

Try arrow keys, tab and backspace in the opened editor.

Navbar reacts instead of the editor.

Latest master and nightly.

[2017-04-25 21:53] 0x53A commented on #2865
@dsyme did you close this on purpose? I would still really like a nightly (or weekly), if it isn't too much effort to implement. =)

[2017-04-25 22:43] dsyme commented on #2865
No.  Though just to note that you can get a nuget feed of FCT packages from the AppVeyor CI https://ci.appveyor.com/project/fsgit/fsharp

[2017-04-25 22:46] dsyme commented on #2742
odd. I'm not sure what's going on

[2017-04-25 22:50] 0x53A commented on #2865
Thanks, that looks good.
They even seem to be correctly strong-name signed, which is good, because I can't disable that on our buildservers.

[2017-04-26 01:40] manofstick opened #2923 "Tuple argument are handled inconsistently"
For a function argument that is a tuple, when the argument is referenced by the argument name, you may or may not get the same tuple (as denoted by obj.ReferenceEquals)

#### Repro steps

Given

    let source = [(1,1); (2,2)]

    source
    |> List.iter (fun outer ->
        source
        |> List.exists (fun inner -> obj.ReferenceEquals (outer, inner)) // but Seq.exists fails!!
        |> fun f

[2017-04-26 02:39] manofstick commented on #2923
In the slightly modified case:

    let source = [(1,1); (2,2)]

    let (*inline*) referenceEquals outer inner = obj.ReferenceEquals (outer, inner)

    source
    |> List.iter (fun outer ->
        source
        |> Seq.exists (referenceEquals outer)
        |> fun found -> if not found then failwith "boom!")

    printfn "Hooray!"

This works, but if the `inline` is uncommented then it fails ag

[2017-04-26 03:45] #2912 closed

[2017-04-26 03:49] #2908 closed

[2017-04-26 05:37] vasily-kirichenko commented on #2368
@realvictorprm I think we can (and should) port the logic used to format and colorize types used in fsi, see over here https://github.com/Microsoft/visualfsharp/blob/5b3688a91d13f5050cd89be594d939b816005426/src/fsharp/fsi/fsi.fs#L152

[2017-04-26 08:31] realvictorprm commented on #2368
Just for showing other people the progress here too:
![Showcase](https://raw.githubusercontent.com/realvictorprm/VisualFSharpCodeLens/master/misc/CodeLensShowcase1.gif)

Okay, I'll look into it @vasily-kirichenko There's still some small bugs left in the code lens, e.g. members of types where the signature should be `int` but is `unit -> int` (which logically is correctly but we don't apply unit.

[2017-04-26 08:32] yukitos opened #2925 "When running "dotnet test", some values are not able to get correctly."
Originally reported by @pocketberserker.

@pocketberserker and I know that the current version of F# doesn't fully support .net core, but we'd report this to be fixed until RTMed.

#### Repro steps

1. Download repro code from below and extract on a directory
   https://github.com/pocketberserker/FSharpNETCoreSandbox/tree/load-assembly-in-test

2. cd to `Test` subfolder, run `dotnet restore` and `

[2017-04-26 08:40] vasily-kirichenko commented on #2368
@realvictorprm Pull my PR please.

[2017-04-26 11:29] theprash opened #2926 "Intellisense and Quick Info do not show F# documentation in FSX files"
Version: VS 2017 Visual F# Tools v15.4.1.17042501

In FSX files only, Intellisense and Quick Info (hover tip) pop-ups show the type signature but not the summary documentation strings for F# core classes, modules and functions. However, the summary docs are displayed correctly for symbols defined by the user in F#, from F# libs and other .NET symbols.

#### Repro steps

Open an FSX file and type `

[2017-04-26 11:32] realvictorprm commented on #2926
Thanks @theprash
I consider this the next thing I should try :smile:

[2017-04-26 12:32] dsyme commented on #2923
@manofstick I'll close this as by design. IIRC the F# Language spec basically says that tuples may be made and consumed as much as the F# compiler likes, and ReferenceEquals is meaningless for these types.  We can dig out the relevant wording if you like

[2017-04-26 13:26] #2923 closed

[2017-04-26 13:54] dsyme opened #2927 "Bugs in the Error List"
Version 5.4.1.17042601

I'm getting consistent situations where the errors shown in the error list are incorrect.   I don't have a specific repro yet - I just notice it all the time when using FSharp.sln.

- Fixed intellisense errors not ever disappearing
- Unfixed intellisense errors not ever appearing
- Fixed intellisense errors taking a very long time to disappear

Notes:

- This applies both t

[2017-04-26 13:58] dsyme commented on #2927
It's possible that https://github.com/Microsoft/visualfsharp/pull/2839 fixes this but that seems to only be about "Build" errors

Also, ti seems to be a recent regression, whereas I think that was fixing a problem that's been around VS for a fair amount of time.

[2017-04-26 15:20] cartermp commented on #2927
I've noticed this as well in large files.  In particular, mucking about with `Salsa.fs`:

* Sometimes IntelliSense errors won't go away even if they're fixed
* Sometimes the Delete and Backspace keys don't work, neither do the arrow keys
* Sometimes I'll have errors reported for a line which I removed, and that reporting won't go away until a bit

I suspect this is related.

[2017-04-26 15:37] majocha commented on #2927
@cartermp backspace and arrow keys are recent indeed (#2921).
Other recent thing I'd add: switching branches often causes the colorization (and all other IDE functions) stop working.

[2017-04-26 15:50] enricosada commented on #1656
@forki or @KevinRansom , can you close this because is old and a dupe of #2316

[2017-04-26 15:52] #1656 closed

[2017-04-26 16:02] enricosada opened #2928 "Bundle partial `FSharp.NET.Sdk`"
the new fsproj templates (msbuild 15 and .net core sdk) need a partial `FSharp.NET.Sdk` bundled in msbuild Sdks directory, like .net core sdk (dotnet/cli) is doing now.

It also need to be updated for https://github.com/dotnet/project-system/issues/1857 , work is tracked in https://github.com/dotnet/netcorecli-fsc/issues/106

/cc @brettfo @KevinRansom

# Workaround

- locate `dotnet.exe`
- copy `s

[2017-04-26 16:13] cloudRoutine commented on #2928
This is how the VSIX can be configured to install the sdk components into the correct directory
https://docs.microsoft.com/en-us/visualstudio/extensibility/set-install-root

[2017-04-26 16:20] enricosada commented on #2928
To add some context, atm it need to be bundled this specific nuget packages, and just `Sdk` dir.

- bundle `FSharp.NET.Sdk` version `1.0.0-beta-040011`
- just the `Sdk` directory, not the others

like [dotnet cli does](https://github.com/dotnet/cli/blob/85ca206d84633d658d7363894c4ea9d59e515c1a/build/BundledSdks.props#L8), dotnet/cli bundle only `Sdk` dir too

I'll publish a package version with ju

[2017-04-26 16:21] LincolnYang1 opened #2930 "Partial application should have "closure" for mutable parameter"
it seems partial application doesn't have "closure", if I use mutable variable as parameter to build partial application, it seems it will make a copy of this parameter and as "immutable".  this is very misleading sometime, especial if not use partial application, just add full parameter, in case below just add b it will have a big different behavior

#### Repro steps

let add a b = a + b
let muta

[2017-04-26 16:42] dsyme commented on #2905
@0x53A @cartermp Am I right in thinking we would only want this for quick info (i.e. tooltips)?

For example, should "x.Foo" where "x" has generic type show explicit type variable instantiations in the item descriptions in the completion list for "Foo" ?  Currently I'm assuming not.

Right now the items in the declaration list show the substituted types
[code]

So as things stand with the prototyp