[2017-05-24 12:15] dsyme commented on #3107
Note that I believe #3063 would address many of these "long wait for language service features to become active on startup" problems.  Perhaps you can try it out.

[2017-05-24 12:18] dsyme commented on #3076
Ah I see, Yes, we need to improve the duplicate filtering there

[2017-05-24 12:22] dsyme commented on #3108
I think it's always been like this. TBH the use of ``Unchecked.default<_>`` on a type that doesn't support null as a normal value is just really not a good idea. BTW this issue is related https://github.com/Microsoft/visualfsharp/issues/1044 and we can probably merge this with that

[2017-05-24 12:35] eloraiby commented on #2992
Any update on this one ? My work is stalled waiting for a fix.
Any workaround ?

[2017-05-24 13:06] stanuku commented on #2316
@enricosada: Ok, understood. Thank you and please keep up the great work on F# front.

[2017-05-24 13:09] preetpalS commented on #2992
@eloraiby If you go to [https://developercommunity.visualstudio.com/content/problem/50930/f-blank-app-fails-to-load-on-fresh-instance-of-vs.html](https://developercommunity.visualstudio.com/content/problem/50930/f-blank-app-fails-to-load-on-fresh-instance-of-vs.html), it says that the issue is fixed pending release (but the change is not yet available as far as I can tell from testing the latest n

[2017-05-24 13:11] stanuku commented on #2316
@enricosada I've copied the F# SDK to the MSBuild cache and when I opened the .fsproj I got this error:

![image](https://cloud.githubusercontent.com/assets/10492082/26404674/bafa7136-4060-11e7-947f-8bfd4d1cd97b.png)

Please let me know if I should wait till the next VS 2017 update or if there is a work around for this error. or post this error/issue in some other repo?

[2017-05-24 13:14] enricosada commented on #2316
@stanuku  while copying sdk directory will make msbuild work from command line, is not enough for VS VF# extension, who need work for support the new project format (is a big change, but near completion).

See roadmap, need to wait until VS 2017 15.3 update at least (july timeframe)

[2017-05-24 13:25] cartermp commented on #3067
@dsyme Not sure.  AFAIK a change is still needed in FSharp.Editor to call the right overload.  @brettfo had that on his list as of Friday.  I've been out of town since Saturday though, so I'm not sure if that's been completed.

[2017-05-24 13:47] simoncowen88 commented on #3108
@dsyme - sure, agree that I'd never expect anything from {{Unchecked.defaultof}} to be a sane instance, however just using to show the issue succinctly and create a null instance here. The main issue I suspect here is one of interop, particularly with C# where having null references floating around is fairly 'usual'.
I did have a search for related issue to this, however didn't recognise that issu

[2017-05-24 14:56] asik commented on #3108
Seems to work fine with C# types:
[code]

I think what @dsyme is saying is that if you need to use `Unchecked` to repro the issue then it's not really an issue.

[2017-05-24 15:12] matthid commented on #3108
To be honest this is completely fine with the "fail-fast" principle. My first impression was that is should handle `null` just like you are suggesting. However than it will just fail at a later point as this type (from an F# compiler perspective) should never be null.

The only case which maybe could be allowed is that we don't fail when comparing with `null`, but you cannot even do that ;).

Trig

[2017-05-24 17:40] cartermp commented on #2992
@preetpalS I believe that you cannot access the fix because they are changes in the Xamarin tools, and not F# directly.  So you'll have to wait for that to be available to verify.

[2017-05-24 17:44] eloraiby commented on #2992
@cartermp any ETA or workarounds while waiting ?

[2017-05-24 17:46] asik opened #3110 "Value types colored as reference types"
Value types have their own color setting in the IDE (User Types - Structures). Let's make them Fuschia just to make it super obvious. There are a few cases where they are colored as reference types:

1) When they have a unit of measure, they are colored as reference types both in the text editor and tooltips:
![image](https://cloud.githubusercontent.com/assets/1631157/26416651/adf7b006-4084-11e7-9

[2017-05-24 17:53] JoshVarty commented on #3092
So I've looked into this a bit more and made the following observations:

### We have registered multiple editor factory GUIDs.

`4EB7CCB7-4336-4FFD-B12B-396E9FD079A9` is declared [here](https://github.com/Microsoft/visualfsharp/blob/ba63403cb5898596c5e875a14ce22b33ef618c01/vsintegration/src/FSharp.VS.FSI/fsiCommands.vsct#L252).
We're using this GUID [here](https://github.com/Microsoft/visualfshar

[2017-05-24 17:53] asik opened #3111 "Delegate declarations inherit the bold property from F# Functions/Methods"
EDIT: I ended up writing several bugs with delegate coloring and tooltips here, let me know if this should be split in multiple issues.

**Issue 1**
In Options -> Fonts and Colors, I have "F# Functions/Methods" set to use Bold:
![image](https://cloud.githubusercontent.com/assets/1631157/26417752/1115198c-4088-11e7-8fc4-18a903e04051.png)

When declaring a delegate, part of the declaration seems to

[2017-05-24 18:25] 0x53A opened #3112 "Compiler ignores AttributeUsage for Attributes attached to union cases"
While browsing stackoverflow for something unrelated, I found an old mention of some compiler error.

(ref https://stackoverflow.com/questions/24884814/serializing-f-discriminated-unions-with-protobuf)

[code]

## Expected:

Compiler Error

## Actual:

The compiler stuck the attributes to the static construction methods:

![image](https://cloud.githubusercontent.com/assets/4236651/26418997/9055b88

[2017-05-24 19:00] cartermp commented on #3096
I contacted GitHub.  Will close this when it's updated.

[2017-05-24 20:23] cartermp commented on #2992
@eloraiby Not sure.  Perhaps @nosami would know more.

[2017-05-24 23:23] preetpalS commented on #2992
@eloraiby I am not sure if this helps, but if you use Visual Studio for Mac (Community), you will not encounter this issue, just tested it right now.

[2017-05-25 01:11] enricosada opened #3113 "Generate F# assemblyinfo in new fsproj"
new fsproj should generate assemblyinfo attributes from props.

ref https://github.com/dotnet/netcorecli-fsc/issues/93

- in `dotnet/sdk` is done in the language agnostic target [Microsoft.NET.GenerateAssemblyInfo.targets#L93-L96](https://github.com/dotnet/sdk/blob/8204b6b1f3ff2f9717c5d66ab903795271de2e9c/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.GenerateAssemblyInfo.targets#L93-L96)

[2017-05-25 02:05] KevinRansom commented on #3113
@enricosada

To do this for the SDK we can override in our targets file and sdk apps will work fine.

https://github.com/dotnet/sdk/blob/8204b6b1f3ff2f9717c5d66ab903795271de2e9c/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.GenerateAssemblyInfo.targets#L51

But we should also send a PR to the dotnet sdk refactoring the current implementation a bit.
@nguerrera said he would welcome a PR t

[2017-05-25 04:11] BentTranberg commented on #2100
I am impatiently awaiting a chance to confirm that this is fixed, especially since the test case solution TDNet3.zip posted above no longer reproduces the problem on my machine, but my real life project certainly does, in abundance. The Visual F# Nightly hasn't been updated since 15.4.1.17051701, and so I just wondered why the long pause (8 days - build server ok?), and if there's an easy way for

[2017-05-25 09:56] enricosada commented on #3113
Yes, didnt know a refactoring effort was needed or ongoing, but is getting better. love to override only what's needed 👍

Let's wait a bit for new @dasMulli PR ( from https://github.com/Microsoft/msbuild/pull/2132#issuecomment-303930961 ) seems that refactoring is in progress already

Meanwhile i'll prepare a task to write the file to be added in `Microsoft.FSharp.Build` because attrs need escape

[2017-05-25 10:33] simoncowen88 commented on #3108
I suppose it depends on how "legit" you consider null handling in F# code...
It appears certainly to be legitimate enough for `isNull` to have been implemented in the standard library - it doesn't seem unreasonable to expect equality checks to gracefully handle null, and even more so I think devs would tend to expect equality (when properly implemented - and this is completely out-of-the-box auto-

[2017-05-25 14:10] auduchinok opened #3114 "Getting entities by compiled paths"
I'm trying to add a member to `FSharpAssemblySignature` to get an `FSharpEntity` by its compiled path like ``["MyNamespace"; "MyModule"; "MyCompiledName`2"]``.

I'm using [`mtyp.AllEntitiesByCompiledAndLogicalMangledNames`](https://github.com/fsharp/FSharp.Compiler.Service/blob/master/src/fsharp/tast.fs#L1651-L1660) in ModuleOrNamespaceType to get it recursively. However, using this approach I fou

[2017-05-25 14:22] eloraiby commented on #2992
I can confirm that PortableLibrary projects are suffering from the same issue. Given the severity of the issue, I m surprised that this got released without proper minimal testing.

[2017-05-25 15:34] KevinRansom commented on #3113
Actually I was referring to the dotnet sdk rather than an msbuild refactoring.  And it’s only a tiny refactor just enough to get the attributes separate from what we need to implement in an override.

[2017-05-25 15:34] dsyme commented on #3110
We've discussed this sort of thing before - the general principle is that F# tries to de-emphasize difference between things, and emphasizing difference via the color scheme needs to be done very cautiously

F# programmers will very often want to focus on domain semantics not incidental representational details.  Consider for example the common trick of wrapping a reference type in a single-field

[2017-05-25 15:36] dsyme commented on #3084
Fixed in recent commits for FSHarp.Compiler.Private

[2017-05-25 15:36] #3084 closed

[2017-05-25 15:38] dsyme commented on #3104
@realvictorprm We tend to track FCS issues in http://github.com/fsharp/FSHarp.Compiler.Service, partly because they clutter this repo, and partly because the docs etc. are still generated from that repo using it as a "packaging repo".

[2017-05-25 15:39] dsyme commented on #3085
@vasily-kirichenko Still a problem?

[2017-05-25 15:41] dsyme commented on #3047
@brettfo The fix is now in roslyn - https://github.com/dotnet/roslyn/pull/19561. Could you update this issue when we have those Roslyn binaries in this repo please?   THanks!

[2017-05-25 15:42] realvictorprm commented on #3104
I'm sorry, I didn't know that 😞
So, should I open an issue there too @dsyme ?

[2017-05-25 15:42] auduchinok commented on #3114
Sure, I'll move it to FCS.
But due to the repos merging I'm not sure when FCS packages are going to start being published from this repo. Do I get it right that I should I submit a PR here while opening an issue in FCS?

[2017-05-25 15:47] Pilchie commented on #3047
@dsyme We don't install roslyn binaries here.  As there are no API changes involved in the Roslyn change, this should just start working on newer builds of VS with that Roslyn change.

[2017-05-25 15:48] vasily-kirichenko commented on #3085
no

[2017-05-25 15:48] #3085 closed

[2017-05-25 15:50] enricosada commented on #3113
@KevinRansom yes @dasMulli is doing that with https://github.com/dotnet/sdk/pull/1255

1. `_CalculateAssemblyAttributes` which creates all AssemblyAttribute items.
2. `_CreateGeneratedAssemblyInfoInputsCacheFile` creates an obj/tfm/projectname.AssemblyInfoInputs.cache file containing the hash of all AssemblyAttribute items. This filename is available as $(GeneratedAssemblyInfoInputsCacheFile). The

[2017-05-25 15:51] dsyme commented on #3092
@JoshVarty I followed your recipe and pushed a version of it here: https://github.com/Microsoft/visualfsharp/pull/3115. Is that what you meant? However I haven't tried it out, and don't know what the different entries are doing exactly

[2017-05-25 16:02] dsyme commented on #3047
@Pilchie Ah. The problem is that we can't use the functionality until we can be sure we have the fix - if we ended up running against the old binaries we bring down the whole VS process because we end up hitting the FailFast here (I suggested a more gracious error handling technique would have been sensible :) )

https://github.com/dotnet/roslyn/blob/175c1605927859bc3cfcd4a84b720b27c4054ba9/src/Fe

[2017-05-25 16:10] Pilchie commented on #3047
In that case I would recommend either:

1. Holding the F# change until there is a public build with the fix, which is unforunate.
2. Conditioning the F# change on the file version of the Roslyn binary being higher than the first Roslyn signed build with this fix (looks like that's 20170524.5) and filing an issue to remove the lightup check once F# depends on a public version with the fix.

[2017-05-25 17:41] JoshVarty commented on #3092
It seems close, but I pulled it down and it seems to have the same issue: If you open a `.fs` file without a solution you can't use Alt+Enter because the wrong editor factory is chosen.

FWIW, you can see how VS is about to open the file by using `Open With...` and seeing which it has decided is the "Default" editor factory:
![image](http://i.imgur.com/TzBtfhi.gif)

[2017-05-25 21:07] realvictorprm commented on #2406
Well, can I help here somehow?

[2017-05-25 21:11] realvictorprm commented on #3104
Nevertheless @dsyme I know its currently not important but its still blocking my work. Please, any suggestions on where I should start would be enough.

[2017-05-25 22:49] asik commented on #3110
Well, the option is there in Visual Studio, and right now it's sometimes honored and sometimes not honored by F#. So at least it should be made consistent, either by always honoring it or never honoring it.

Personally I'd vote to support it. It's basically off by default since by default value types have the same color; those who want to be reminded of that difference can, by changing the font co

[2017-05-26 03:20] stephen-swensen opened #3118 "Internal error involving quotation of struct tuple"
The following quotation (involving struct tuple)

[code]
Produces the following error

Meanwhile, the following quotation (involving struct DU)

[code]
Produces the following output

So it compiles without error, but I am unsure if `AddressOf` makes sense here.

Visual F# 4.1

[2017-05-26 08:06] vasily-kirichenko opened #3120 "Yaml provided types aren't seen from referenced project"
https://github.com/fsprojects/FSharp.Configuration/issues/122

I posted it here because the solution is built successfully, it's the tooling that does not work, so the problem is not in the TP itself.

[2017-05-26 08:20] miegir opened #3121 "Make FSharp.Core.Operators.raise inline"
If `raise` will be inlined, tools such as unit test coverage analyzer in Visual Studio will not mark `raise` calls as partially covered. Methods that use it, such as `nullArg`, will also benefit from this. Is there a reason whiy `raise` is not inlined? I can redefine these operators myself, but it requires inline assembly and therefore that annoying red squiggles in Visual Studio.

[2017-05-26 08:26] dasMulli commented on #3113
[code]

Should now do the trick, the `$(GeneratedAssemblyInfoInputsCacheFile)` input is only to trigger the target on incremental builds if any attribute changes but the file's contents can be ignored.

[2017-05-26 08:30] dsyme commented on #3104
Yes please.

I suppose the complete definition location is available in the syntactic AST (not the symbols). Currently there's no way to get back to the AST declaration however

[2017-05-26 08:34] dsyme commented on #2406
I believe we are blocked on having the compiler target .NET Core 2.0

[2017-05-26 08:36] dsyme commented on #3047
That sounds plausible

[2017-05-26 08:38] dsyme commented on #3114
Yeah I know.  The merge is kind of half-complete - and we may still continue to build packages from fsharp/FSharp.Compiler.Service for a fair while

Yes, thanks.

[2017-05-26 08:41] vasily-kirichenko opened #3122 "All projects in VFT solution escaped their folders"
![image](https://cloud.githubusercontent.com/assets/873919/26487456/4068d63e-4208-11e7-8f39-ea2df44717bb.png)

[2017-05-26 08:44] dsyme commented on #2992
@brettfo @KevinRansom  @cartermp I have raised the priority of this issue and marked it as a regression

[2017-05-26 08:46] vasily-kirichenko commented on #3104
@realvictorprm nav bar uses this function https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/vs/ServiceNavigation.fs#L442 to get a file declarations' signature and body ranges, it may by useful for you.

[2017-05-26 09:11] vasily-kirichenko opened #3124 "Cannot build VFT"
[code]

[2017-05-26 09:30] forki commented on #3118
WIP see https://github.com/Microsoft/visualfsharp/pull/3125

[2017-05-26 09:48] #3114 closed

[2017-05-26 11:03] 0x53A commented on #3054
A few more observations from the last few days:

* I have one project I can more or less reliably trigger the no-colorization-at-all.
* I tried extracting that project from it's solution, but then the bug stopped occuring, so I have nothing I can share at the moment. :\
* If I clean the project and restart VS, the project gets colored OK.
* If I build the project and restart VS, it will be uncolor

[2017-05-26 15:22] realvictorprm commented on #3104
Thank you very much both @dsyme and @vasily-kirichenko

[2017-05-26 15:43] piaste opened #3133 "Nightly build 15.4.1.17052601 won't open any projects"
Updated to nightly 15.4.1.17052601 from the previous nightly and Visual Studio will now refuse to open any F# project:

![devenv_2017-05-26_17-32-41](https://cloud.githubusercontent.com/assets/12280683/26501320/8b19650a-4239-11e7-9e46-a5adf9e3569f.png)

![chrome_2017-05-26_17-38-22](https://cloud.githubusercontent.com/assets/12280683/26501507/26c19842-423a-11e7-9ace-06b5af3fb501.png)

Creating a n

[2017-05-26 15:57] cartermp commented on #3133
cc @brettfo

[2017-05-26 17:32] brettfo commented on #3133
Good catch, this is my bad.

The issue is that `Microsoft.VisualStudio.LanguageServices, Version=2.3.0.0` could not be loaded.  I've been developing locally with an internal 15.3 build and this obviously won't work for anybody else.

I'm testing the revert of #3062 locally (on the publically released VS :smile:) and once that's done I'll spin up another build.

ETA: 6 hours from now (official buil

[2017-05-26 17:32] realvictorprm commented on #3133
Ah thanks @brettfo had a beginner today which struggled with exactly this issue!

[2017-05-26 17:35] brettfo commented on #3133
As a temporary workaround you could:

1.  Disable the nightly F# feed from within VS.
2.  Remove the bad F# build from a developer command prompt: `VSIXInstaller.exe /uninstall:VisualFSharp`.
3.  (optional) If you still want newer bits, manually install the last good package from [here](https://dotnet.myget.org/F/fsharp/vsix/VisualFSharp-15.4.1.17051701.vsix).

[2017-05-26 17:37] realvictorprm commented on #3133
I'm sharing the workaround for those who are facing the issue. Thanks for posting @brettfo

[2017-05-26 17:39] brettfo commented on #3133
I've also deleted the bad build from the package source, but you'll still have to manually remove any existing installs and it may take a few minutes for the bad one to actually get unlisted.

[2017-05-26 19:19] curtnichols opened #3139 "#nowarn “2003” doesn't disable FS2003"
The repro code, below, compiled in a fresh console project in VS2017 (v15.2), fails to suppress the FS2003 warning (which the `#nowarn` directive should suppress). I'm targeting F# 4.1 (FSharp.Core 4.4.1.0).

We compile with "warnings as errors," so this is a strong issue. This is to be used in generated code, so `#nowarn` is far preferable to editing every F# project.

#### Repro steps

Provide t

[2017-05-26 20:12] #3133 closed

[2017-05-27 00:13] cartermp commented on #3067
Assigning @brettfo here just for completeness so it matches our dupe of this in VSTS for shiproom.

[2017-05-27 09:26] Dolfik1 opened #3141 "Quick Watch shows wrong value on variables with same name"
Quick Watch shows wrong value on variables with same name

#### Repro steps

Provide the steps required to reproduce the problem

1. Paste the following:
[code]

2. Set breakpoints on line with `// breakpoint 1` and `// breakpoint 2` comments.
3. Start debug
4. Quick watch `x` on lines with `// quick watch n` comment

#### Expected behavior

`quick watch 1: x = null`
`quick watch 2: x = "123"`
`qu

[2017-05-27 11:02] isaacabraham opened #3142 "Cannot run build VS Debug"
I'm trying to get things building so that I can actually try to contribute to things like FSharp.Core or even the compiler.

1. Open admin command prompt.
2. Run `build.cmd`. Works.
3. Run `build.cmd vs debug`.

Fails with the following warnings and errors: -

[code]

[2017-05-27 11:07] vasily-kirichenko commented on #3142
This stuff is a known issue. Install C++ SDK.

[2017-05-27 11:13] isaacabraham commented on #3142
Link?

[2017-05-27 11:17] forki commented on #3142
Should be listed in requirements

[2017-05-27 11:25] vasily-kirichenko commented on #3142
devguide.md:

![image](https://cloud.githubusercontent.com/assets/873919/26521080/58bf7a54-42e8-11e7-84d0-baa9339d36d9.png)

[2017-05-27 11:25] isaacabraham commented on #3142
Uhmmm... link? :-)

Just looking [here](https://github.com/Microsoft/visualfsharp/blob/master/DEVGUIDE.md#developing-the-f-compiler-windows) I can't see any mention of that.

[2017-05-27 11:27] isaacabraham commented on #3142
@vasily-kirichenko ok let me give that a bash..

[2017-05-27 11:28] isaacabraham commented on #3142
OK, nice - 2.3gb install?!

[2017-05-27 11:30] vasily-kirichenko commented on #3142
Yes. Kevin asks the proper team to make a tiny nuget for rc.exe (or whatever it's called), but they refused. Welcome to the Microsoft culture. Seriously, just use Rider, this boat is gonna sink.

[2017-05-27 16:54] cartermp commented on #3142
Closing, as this is specified [in the DEVGUIDE](https://github.com/Microsoft/visualfsharp/blob/master/DEVGUIDE.md#developing-the-visual-f-ide-tools-windows-only) and we can't lift our dependency on this immediately

[2017-05-27 16:54] #3142 closed

[2017-05-27 17:10] forki commented on #3142
Why? What's story behind it? Can't we go another way?

Am 27.05.2017 18:55 schrieb "Phillip Carter" <notifications@github.com>:

[2017-05-27 17:46] cartermp commented on #3142
Not until we eventually migrate completely away from the current project system, no.  And because the owners of rc.exe haven't decoupled it from the C++ SDK, there's no way forward aside from installing the Windows 10 SDK.

[2017-05-27 17:49] cartermp commented on #3122
cc @brettfo Any idea what could have caused this?

[2017-05-27 19:16] isaacabraham commented on #3142
Apologies for the erroneous issue. Can confirm that installing the SDK fixes the issue.

[2017-05-28 02:30] jdh30 commented on #294
"We do not expect the majority of F# developers to have the need to debug our libraries or tools."
At least in VS2015, exceptions thrown during the computation of global constants makes the debugger look for FSharp.Core.pdb, i.e. ordinary developer errors can require the debugging of your libraries.
![image](https://cloud.githubusercontent.com/assets/3476054/26525649/ee044050-4355-11e7-94c7-210fd9

[2017-05-28 02:33] KevinRansom commented on #294
@jdh30
We will be embedding portable PDBs in dlls shipped via nugget.  The windows pdbs for shipped FSharp dll are deployed to a symbol server.

[2017-05-28 09:25] realvictorprm commented on #3122
Any reproduction @vasily-kirichenko?
I updated my CodeLens to the latest master and only experienced improvements!

[2017-05-28 11:36] isaacabraham opened #3146 "Inconsistent error message for incompatible return type in nested if / else"
This code correctly does not compile. However, the error messages across both branches in the inner if / else are not consistent: -

[code]

I would have expected both errors to be the same, using second version (the F#4.1 improved error message).

cc: @forki

[2017-05-29 07:50] vasily-kirichenko commented on #3124
I'm not interested in building VFT anymore, closing.

[2017-05-29 07:50] #3124 closed

[2017-05-29 07:52] vasily-kirichenko commented on #3087
Thanks for closing it after #3102 was merged.

[2017-05-29 07:52] #3087 closed

[2017-05-29 07:52] #3060 closed

[2017-05-29 07:53] #2873 closed

[2017-05-29 07:53] #2201 closed

[2017-05-29 07:54] #2153 closed

[2017-05-29 07:55] #2198 closed

[2017-05-29 07:55] #2572 closed

[2017-05-29 07:56] forki commented on #3124
sigh. what happended?

[2017-05-29 07:59] vasily-kirichenko commented on #3124
There are better alternatives than self-built VS extension.

[2017-05-29 13:38] isaacabraham opened #3149 "Spurious error message on building FSharp solution"
At the present time, if you successfully get build to run locally, opening up `FSharp.sln` in VS still shows the following error messages: -

[code]

However, the solution still continues to "build" - you can compile and run unit tests.

[2017-05-29 13:53] vasily-kirichenko commented on #3149
Duplicate of https://github.com/Microsoft/visualfsharp/issues/2425

[2017-05-29 14:45] forki commented on #3146
This is very hard to do since you don't know how deep this goes.

[2017-05-29 14:54] forki commented on #3146
fsi only reports the first one:

![image](https://cloud.githubusercontent.com/assets/57396/26554255/7c723e52-448f-11e7-96d0-a1ec81feccee.png)

[2017-05-29 15:17] forki commented on #3146
![image](https://cloud.githubusercontent.com/assets/57396/26554868/b34b8638-4492-11e7-976b-ff079654c558.png)

would this help?

[2017-05-29 15:25] forki commented on #3146
WIP: https://github.com/Microsoft/visualfsharp/pull/3150

[2017-05-29 16:22] #3149 closed

[2017-05-29 16:23] bleis-tift opened #3151 "Improve diagnostic: member val in interface"
Automatically implemented property occurs internal error.

#### Repro steps

[code]

#### Expected behavior
No compile errors.

#### Actual behavior
Internal error.

#### Known workarounds
[code]

#### Related information

* Operating system: Windows 10
* Visual F# Tools: 15.4.1.17052902
* Editing Tools: Visual Studio 2017

[2017-05-29 22:02] 0x53A opened #3152 "Latest nightly doesn't install"
![image](https://cloud.githubusercontent.com/assets/4236651/26562914/32df9d84-44cb-11e7-8a07-447a4b09bc5e.png)

[2017-05-29 22:04] cartermp commented on #3152
FYI I saw this as well when I had the previous nightly installed.  Not sure what the exact repro steps are.  cc @brettfo

[2017-05-29 22:11] 0x53A commented on #3152
I uninstalled F# and reinstalled it. Afterwards VS2017 crashed when opening a solution (Paket).

![image](https://cloud.githubusercontent.com/assets/4236651/26563032/6d866f3e-44cc-11e7-8f0a-6e9484ff8c4c.png)

I clicked on Debug and selected VS2015:
![image](https://cloud.githubusercontent.com/assets/4236651/26563035/7a545be0-44cc-11e7-83cc-7bb70ccd32e5.png)

![image](https://cloud.githubuserconten

[2017-05-29 22:13] 0x53A commented on #3152
using the almighty dnSpy:

![image](https://cloud.githubusercontent.com/assets/4236651/26563050/b08f2f46-44cc-11e7-8a7d-e09a8dce3733.png)

![image](https://cloud.githubusercontent.com/assets/4236651/26563060/cb9538da-44cc-11e7-93c2-eb2b88a3a19b.png)

[2017-05-29 22:16] cartermp commented on #3152
@brettfo Could this be related to the Roslyn refs update?  Seems like an issue with the language service.

@0x53A Even though Update 3 Preview 1 is broken-ish for F# right now (no completion), could you try the latest nightly with that Preview?  Trying to see if it's breaking because the nightlies have an underlying assumption about what's in box.

[2017-05-29 22:38] 0x53A commented on #3152
@cartermp

Well, VS 2017.3pre with nightly does not crash.

But the thing with Vs 2017.2 is, I installed the original version from the setup, NOT the nightly, and it crashes, so it seems the uninstall wasn't removing everything.

[2017-05-29 22:44] cartermp commented on #3152
@0x53A Yes, it's a known issue.  @brettfo Is currently working on the fix (along with other fixes) and it should be in for Preview 2.

[2017-05-29 22:53] 0x53A commented on #3152
I haven't been able to restore the non-preview instance to working.

Neither deinstalling it from the gui nor ``VSIXInstaller.exe /u:VisualFSharp`` helped, it still crashes on opening the paket solution.

I haven't yet tried a repair, because it is 00:50 here and I need to sleep. =)

Since this is "just" on my private computer, not on my work computer, I will just ignore it for now ...

Ping me if

[2017-05-29 22:54] 0x53A commented on #3152
Ok I don't know what you did, but manually downloading https://dotnet.myget.org/feed/fsharp/package/vsix/VisualFSharp/15.4.1.17052902 and installing that seems to have fixed the issue, my VS 2015.2 (non preview instance) now works again.

[2017-05-29 22:55] cartermp commented on #3152
Okay.  Thanks for investigating @0x53A.  We'll try and get the word out; even though the assumption with nightlies is that you can be broken from time to time, this one basically does lock people out of a good tools install.

[2017-05-29 23:02] cartermp commented on #3152
https://twitter.com/_cartermp/status/869328082733219841

[2017-05-30 06:25] forki commented on #1637
AFAIK nobody has fixed this

[2017-05-30 07:28] isaacabraham commented on #3146
Would it be possible to use the same error messages in both places? I'm not really sure what "context type requirements" would mean to a newbie either.

[2017-05-30 07:52] forki commented on #3151
This error happens in TypeChecker.fs in  TcMutRecBindings_Phase2A_CreateRecursiveValuesAndCheckArgumentPatterns.

There is a `match classMemberDef, containerInfo with`  which doesn't match SynMemberDefn.AutoProperty and just fails. @KevinRansom I don't know to implement that matching case.

[2017-05-30 08:02] forki commented on #1637
I tried to find it in ECMA 335 but it's not there!?

[2017-05-30 08:17] forki commented on #3146
No we can't use the same error message. It's different reasons.

Am 30.05.2017 9:28 vorm. schrieb "Isaac Abraham" <notifications@github.com>:

[2017-05-30 08:36] forki commented on #1637
WIP in https://github.com/Microsoft/visualfsharp/pull/3154

[2017-05-30 08:36] vasily-kirichenko opened #3155 "Links are highlighted inside excluded and commented code"
![image](https://cloud.githubusercontent.com/assets/873919/26574971/207689a8-452c-11e7-8d78-c8d9785c6563.png)

[2017-05-30 10:03] forki commented on #1637
mhm I just tried C#:

![image](https://cloud.githubusercontent.com/assets/57396/26578395/055b1162-4530-11e7-9b66-bd62bcfd4cc0.png)

[2017-05-30 10:27] forki commented on #1637
ok that was an issue with DotPeek. ILSpy is showing:

![image](https://cloud.githubusercontent.com/assets/57396/26579239/477ef916-4533-11e7-9cee-d7ffc5d15381.png)

[2017-05-30 10:38] isaacabraham commented on #3146
What are the different reasons? It's an expression that needs to give consistent results; one half returns bool and the other half returns some non-bool. Yes, it trickles down but why is it any different?

[2017-05-30 10:46] forki commented on #1637
btw: it looks like noinlining is not respected as well.

[2017-05-30 11:03] forki commented on #3146
Seems I found a way:

![image](https://cloud.githubusercontent.com/assets/57396/26580425/6850447e-4538-11e7-9007-08a6e1e41b36.png)

[2017-05-30 11:09] forki commented on #3146
as you can see in https://github.com/Microsoft/visualfsharp/pull/3150/commits/e2b9efdea043a172f219125c1e4ee79168cf7300 this evaluates the current context and passes the Else info down if we are already in else branch.

[2017-05-30 16:07] cartermp commented on #3155
@Pilchie Is this something which comes from Roslyn, or is this an editor thing?

[2017-05-30 16:12] Pilchie commented on #3155
It's the editor, and there is an option for it Tools\Options.   See https://github.com/dotnet/roslyn/issues/17108 for some more context.

[2017-05-30 17:05] cartermp commented on #3155
Hmmm.  I'm not sure what we could do here for F#, then.  I suppose it's a bit annoying, but at least there's a setting to turn it off.  @vasily-kirichenko any thoughts?

[2017-05-30 17:07] realvictorprm commented on #3155
How are the text effects applied? If it's in roslyn then we might be able to change it.

[2017-05-30 17:16] Pilchie commented on #3155
It is not in Roslyn, it's directly in the editor.  It's a feature of the editor, with it's own option.  Why do you want to turn it off?

You *can* control it through the mechanism described in dotnet/roslyn#17108, but I'm not sure why you want to circumvent it.

[2017-05-31 00:02] eloraiby commented on #2992
Still having the same issue after the latest visual studio update (May 30 2017):
- Visual Studio 2017 15.2 (26430.12)
- Xamarin.Android SDK 7.3.1.2 (9dbc4c5)

[2017-05-31 09:07] lust4life opened #3164 "inline method chosen principal confusing"
how does inline method worked ?

#### Repro steps

[code]

#### Expected behavior

shouldn't `print` behavior be same with `printOrDefault`  ?

#### Actual behavior

`print` only shows "object" .

#### Known workarounds

: (

#### Related information

- https://stackoverflow.com/questions/44275556/f-inline-method-chosen-principal-confusing

[2017-05-31 14:41] cartermp commented on #2992
I cannot reproduce this with just the Visual F# tools installed.  Each of the PCL projects which come with the F# tools all can be created and re-opened with no issue on the latest VS update.  This isn't a regression of the F# tools.  As stated, this is likely to be a Xamarin issue.  I don't have an ETA for when those changes will be shipped.

[2017-05-31 15:24] eloraiby commented on #2992
I have made some tests trying to pinpoint the problem. It seems to be related to the way FSharpTargets are interpreted. Commenting out the section of "v2.3" seems to solve the problem of the message box but leads to another one related to the output path. While I don't have much visibility to judge, it does seem related to Xamarin as you mentioned.

[2017-05-31 17:00] #3146 closed

[2017-06-01 00:17] cartermp commented on #3069
I have updated this announcement to reflect current changes as of today.  Unfortunately, we will not be able to get an insertion into Preview 2 of 15.3.  It's a wild schedule right now, so this sort of churn is expected to happen at some point or another.

[2017-06-01 05:58] forki commented on #3069
What about promised new project system? Can't see it in the announcements?

[2017-06-01 06:16] cartermp commented on #3069
This is the project system support.  Since the CPS-based project system is only for .NET Core at the moment, we'll have the same story as C#: new project system support as the mechanism for .NET Core support in VS.

[2017-06-01 06:20] forki commented on #3069
Ok this is super confusing. You can't build with the project system for let's say net452?

[2017-06-01 09:27] forki opened #3168 "Can't open any F# project settings anymore"
With VF# tools from master I can't open any F# project settings anymore. I always see:

![image](https://cloud.githubusercontent.com/assets/57396/26673427/2b1265fc-46bd-11e7-9d13-4d7ae1605433.png)

[2017-06-01 09:31] BlythMeister commented on #2553
Some 3 months after F# 4.1 shipped and as far as i can see there is still no standalone msi to put the compiler tools onto CI machines...

Whilst i understand the FSharp.Compiler.Tools nuget has got the SDK in there, it's a rather bold step to enforce this change.  Also considering that an installation of VS2017 will successfully compile (if you include the F# stuff on installation) without the ne

[2017-06-01 09:36] vasily-kirichenko commented on #3168
:1st_place_medal:

[2017-06-01 09:37] forki commented on #3168
@vasily-kirichenko Do you see same?

[2017-06-01 09:39] vasily-kirichenko commented on #3168
I don't use VS.

[2017-06-01 09:40] forki commented on #3168
good for you. since couple of days I have a million crashes.

[2017-06-01 09:43] vasily-kirichenko commented on #3168
I think we should take a pause in using VS 2017 for a year or two to let the guys some time to fix it.

[2017-06-01 09:44] 0x53A commented on #3069
That's also what I would like to know.

I was under the impression before that new-proj-system == new-sdk, regardless of target.

What happens if I create a new-sdk core project, and just change the TargetFramework to net461?

[2017-06-01 09:51] forki commented on #3168
OMG I'm debugging this shit and now I'm in VB code:

![image](https://cloud.githubusercontent.com/assets/57396/26674395/a24978e2-46c0-11e7-87ce-6d8d95082a3a.png)

[2017-06-01 09:55] vasily-kirichenko commented on #3168
:))))))))))))) be strong.

[2017-06-01 10:05] forki commented on #3168
I "fixed" it https://github.com/Microsoft/visualfsharp/pull/3169
Tbh I have no idea why we cast to a type and then check that this type implements a certain interface - which it obviously doesn'T

[2017-06-01 13:16] forki commented on #3168
reinstalled VS. error gone. /shrug

[2017-06-01 13:16] #3168 closed

[2017-06-01 13:16] realvictorprm commented on #3168
@forki Does data in %appdata% remain after deinstallation?

[2017-06-01 13:33] cartermp commented on #3069
Yes, you can.  But the new project system doesn't support opening existing .NET Framework projects.  So the bulk of code out there can't utilize it unless they port over to the new SDK.

[2017-06-01 13:41] forki commented on #3069
ok so it's nothing to do with .NET core. thanks

[2017-06-01 13:53] 0x53A commented on #3069
So in theory, with VS15.3, I can move all my projects (C# + F#) to the new sdk, and still target net461?

[2017-06-01 13:55] cartermp commented on #3069
In theory, assuming you didn't depend on behavior in the old project system which isn't present in the new one, yes.  There isn't a tool for migration or anything, though.

[2017-06-01 13:58] 0x53A commented on #3069
Is there something I can already test? As I read it, it will only be available in Preview3, and by then it will probably be too late to fix any bugs anway.

[2017-06-01 14:05] forki commented on #3069
@0x53A no this time it will work out just fine ;-)

[2017-06-01 14:11] 0x53A commented on #3069
Maybe in vs16

[2017-06-01 14:28] cartermp commented on #3069
@0x53A No, nothing to test at the moment.

[2017-06-01 15:12] 0x53A opened #3170 "type solver fails with Linq .ToDictionary(fun,fun)"
I would expect the following code to work and produce a Dictionary<Guid,Guid>:

[code]

## Actual:

## Workaround:

[code]

## Version:
FSI from
![image](https://cloud.githubusercontent.com/assets/4236651/26686765/43652e10-46ee-11e7-9477-1506094c013c.png)

[2017-06-01 17:18] cartermp commented on #3069
As of today, the ship date for Update 3 has also moved back.  No definitive date yet.  This statement:

Is no longer true.  Further releases are also affected by this.  Again, nothing definitive about this.

What that means for us is we have more time.  I'll make another announcement on this repo once we have more definitive information.

[2017-06-01 17:22] 0x53A commented on #3069
@cartermp Since there is nothing public to test, I will just have to annoy you. =)

1) Will cross-referencing between old-sdk and new-sdk work? (For my use-case it wouldn't be breaking if ``no``, I can migrate all projects in the solution.)
2) Can you please verify if type providers work with the **new project-system** projects **targeting full-framework**?
This issue from the previous sdk suggest

[2017-06-01 18:20] chillitom opened #3171 "Compiler error causes VS2017 to crash"
Visual Studio crash caused by the F# compiler services.

I have a suspicion that it's related to fetch intellisense for a property on a type from another assembly (C#) where the property's type is in a third unreferenced assembly.

I'm running VS2017 with nighties. Initially saw the crash with a build from a few days ago, updated to test latest and still occuring, now running version 15.4.1.170601

[2017-06-01 18:34] cartermp commented on #3069
@0x53A We're still in the process of understanding what we can reasonably get done.  More obvious things like load/build/debug/IDE features/etc. will work (e.g., language service lights up and lightbulbs appear as in the old project system), but other scenarios are still unknown to us.

1. I would not assume that cross-SDK references will work, but it's something we'll validate.  Especially when 2

[2017-06-01 20:39] gh3x78E opened #3172 "Access protected const from base class in attribute"
Environment: I am using .Net Framework 4.6.1 together with the target F# runtime 4.1 (FSharp.Core, 4.4.1.0) in a F# class library which references XUnit (2.2.0, obtained via NuGet) in Visual Studio 2017 Community.

I have a C# base class with a constant

[code]

which I can consume in C# as follows

[code]

How do I consume it in a F# class? `Foo` is not recognized by the compiler.

[code]

The er

[2017-06-02 07:29] forki commented on #3170
I can repro. It's indead a bit weird that the first argument infers the type and the second doesn't

btw: I think you meant:

    with member x.Id =
            let (GuidWrapper id) = x
            id // not x

[2017-06-02 08:40] chillitom commented on #3171
Attached is the most minimal reproduction i could find.

The case seems to be an F# lib taking a dependency on a C# type (`class DirectDependency`) in one assembly which itself has a property of type `interface IIndirectDependency` in a third assembly. This type `IIndirectDependency` extends a type in a missing assembly, in this case `IJsonLineInfo` from Newtonsoft.Json but probably not important

[2017-06-02 09:10] forki commented on #3170
It looks like something in typeChecker at

    and TcUnnamedMethodArg  cenv env  (lambdaPropagationInfo,tpenv) (i,j,CallerArg(argTy,mArg,isOpt,argExpr)) =
        // Try to find the lambda propagation info for the corresponding unnamed argument at this position
        let lambdaPropagationInfoForArg =
            [| for (unnamedInfo,_) in lambdaPropagationInfo ->
                 if i < unnamedIn

[2017-06-02 09:24] forki commented on #3171
I can repro. I think it crashes somewhere in exceptionContinuation which was introduced by @dsyme in https://github.com/Microsoft/visualfsharp/commit/6f5b2c4d

[2017-06-02 09:34] forki commented on #3171
`tcs.TrySetException(exn)` crashes pretty hard and not even try catch around it can recover

[2017-06-02 09:46] forki commented on #3171
![image](https://cloud.githubusercontent.com/assets/57396/26720562/0f6589fc-4789-11e7-8885-3f14945442ee.png)

[2017-06-02 10:01] forki commented on #3171
https://github.com/Microsoft/visualfsharp/pull/3174 fixes it for me

[2017-06-02 10:11] chillitom commented on #3171
Good work!  So quick.

I commented on the commit, might be nothing to worry about but could there still be race conditions?

[2017-06-02 10:30] matthid commented on #3171
@chillitom I'm not even sure there is a race there. In this line the registration has already been disposed and it should be garantueed that only a single continuation function is called.

@forki you test for `tcs.Task.Status = TaskStatus.Running` So I guess in this situation the task is already cancelled / errored? This is interesting, but I guess there is no easy way for me to get this into the

[2017-06-02 10:41] forki commented on #3171
OK here is how I debugged it
* buy/install windows and vs2017and all the other prerequisites
* clone vf# report
* open vs2017 developer command prompt in administration mode
* run "build.cmd debug vs"
* open VF# solution in vs2017
* filter in solution explorer for "opensouce" and set that project as startup project
* F5
* debug hive vs2017 should open
* load the repro in debug hive
* follow repro

[2017-06-02 13:20] preetpalS commented on #2992
@cartermp You can still build Android projects using F# directly with MSBuild from the Developer's command prompt even if you can no longer open them in Visual Studio. Unfortunately you will get 20 warnings (comparatively if you build a C# Android app (using the C# version of the "Blank App (Android)" template) you will no get no warnings). Below I have pasted the output from the command line with

[2017-06-02 13:48] forki commented on #3170
4f731a4 fixes it for me. but it needs REAL review by @dsyme and @kevinransom

[2017-06-02 13:53] preetpalS commented on #2992
I am closing this issue since it's external to this repository.

@eloraiby If you're affected by this issue consider looking at filing it with Xamarin (https://developer.xamarin.com/guides/cross-platform/troubleshooting/questions/howto-file-bug/).

[2017-06-02 13:53] #2992 closed

[2017-06-02 13:54] 0x53A opened #3175 "[Question] Type solver fails with simple destructuring"
I would like to request a second a pair of eyes on this build failure. Basically I think it is a compiler error, but when I reduce it, then it compiles without any issues.

This is the reduced code that compiles OK (tested in FSI):

[code]

The relevant part is the destructuring in the second-last line (``let (PackageName(packageName, packageId)) = pkg``).

BUT the exact same code failed to build

[2017-06-02 14:28] matthid commented on #3170
I have definitely required similar not understandable workarounds for `FS0072` before.
See for example [this](https://github.com/fsprojects/Paket/blob/master/src/Paket.Core/PaketConfigFiles/DependenciesFile.fs#L319).
Maybe this is a regression?

`FS0072` is particular nasty because people probably don't report it as strictly as other errors (as you have a simple workaround). It's most of the time

[2017-06-02 14:34] forki commented on #3170
No idea. Create a minimal repro and I'm happy to check ;-) but this needs to be small otherwise I'm totally lost in type inference.

[2017-06-02 17:29] NatElkins commented on #3172
@gh3x78E I think you need to change it to `typeof<Foo>`.

[2017-06-02 17:54] 0x53A commented on #3172
[code]

fails with

I guess the F# compiler sees the Attribute declaration as outside of the class, so that the access is not allowed.

---

Compare with

[code]

which compiles ok, and shows that accessing the protected member inside the class works.

[2017-06-02 18:18] gh3x78E commented on #3172
@NatElkins: Sorry, that does not work - and makes no sense.

[2017-06-02 18:18] gh3x78E commented on #3172
@0x53A I do not understand why the behaviour is different in C# and F#. In my opinion there should not be any difference in usage.

[2017-06-02 18:25] NatElkins commented on #3172
@gh3x78E Sorry, skimmed your original post and thought you might've been trying to pass in a type rather than a string.  In the case that your attribute was taking a type (not a string) and `Foo` was a type (rather than a field), it would've caused an error because in that case `Foo` would be viewed as a function that returned an instance of `Foo`.

[2017-06-02 20:12] #3170 closed

[2017-06-03 04:18] jaustinhughey commented on #1096
I found this thread tonight while looking for information about how to build a UWP application using F# in Visual Studio Community 2017. I kept seeing lots of references to C# .NET and VB.NET for this purpose, but suspiciously F# was missing. Which made me curious:

And then I found this thread. _I now regret investing **any** time in examining F# as a future development platform for _any_ purpose

[2017-06-03 05:47] OnurGumus commented on #1096
@jaustinhughey, your point of view is wrong. F# doesn't need Microsoft. It has a healthy and self sustainable community. What you should avoid is UWP. Even Microsoft abandoned uwp, almost.... They instead bet on Windows on ARM now.

[2017-06-03 06:17] charlesroddie commented on #1096
@OnurGumus There is no evidence that microsoft has abandoned UWP. Microsoft's whole cross-platform strategy is based around UWP. The need for UWP support is more and more critical as Windows 8 store technology is abandoned. To run Xamarin Forms apps on Windows basically requires UWP. There is no competing mobile app platform for Windows. Windows on ARM is a version of Windows for low-end devices w

[2017-06-03 06:39] forki commented on #1096
@jaustinhughey if you really care that much for F# and UWP then you can checkout "fable |> react native". seriously. it works

[2017-06-03 06:57] OnurGumus commented on #1096
@charlesroddie , let me tell you my findings.
* New Microsoft Teams app is an electron app, not UWP.
* Microsoft said they will put non UWP version of office to windows store.
* Yesterday there were big news about Skype and how it changed. Microsoft declared nothing about Skype for UWP about this change.
* Build conference 2017 Microsoft introduced new Azure App for ios and android, not a single m

[2017-06-03 07:08] realvictorprm commented on #3152
Is this still valid?

[2017-06-03 07:11] cartermp commented on #3152
It looks like this may not be valid anymore.  I think were were some bad references in a series of nightlies that were reverted.  If nobody else can repro, this can be closed.

[2017-06-03 07:12] realvictorprm commented on #3152
Good. I didn't hear of any problems the last days.

[2017-06-03 07:25] OnurGumus commented on #1096
Oh and this UWP and .NET A native thing doesn't even work properly for C# too.
Try building Syncfusion samples under release mode with latest windows 10 and vs 2017 with all updates:
(https://www.syncfusion.com/products/uwp)
And you get:

[code]

[2017-06-03 07:27] charlesroddie commented on #1096
@OnurGumus

Everyone, including Microsoft, knows that iOS and Android are the most important mobile platforms. Writing a dedicated piece of software to target only Windows phones and tablets rarely makes sense.

However Xamarin is in a very good state and has a lot of F# users. Judging by the Slack channel, mobile development in F# is largely Xamarin. You have no problems making iOS and Android ap

[2017-06-03 07:51] 21c-HK commented on #1096
@jaustinhughey @OnurGumus @charlesroddie I think you are all right to some extent.

I can sympathize with each of your viewpoints and past experiences. It's true that Microsoft has messed up a lot in the recent past and that even Javascript is preferred over F# is deeply disturbing. But I think they are now getting their act together. A lot seems to have changed with the new Microsoft CEO, who see

[2017-06-03 08:14] realvictorprm commented on #3139
@cartermp Any ideas?

[2017-06-03 08:17] realvictorprm commented on #3093
@cartermp can we close this?

[2017-06-03 08:32] realvictorprm commented on #3040
@cartermp this is solved I think?

[2017-06-03 08:33] realvictorprm commented on #3083
@cartermp I think this is solved too.

[2017-06-03 08:44] realvictorprm commented on #3057
Intellisense even don't show, that you can do this though it does not complain if you use such syntax.

[2017-06-03 11:43] Mike-EEE commented on #1096
Said every sensible Silverlight (and .NET, for that matter) developer, ever.

❤️

@charlesroddie please quote sources, or source code. 😆   This is the first I have heard of this suggested.  Everything "cross platform" (or .NET, for that matter) has been Xamarin/Mono.

AFAIK no one is suggesting and/or recommending UWP.  Xamarin.Forms, while neat, also has its technical challenges.  It's all [Noesi

[2017-06-03 13:56] forki commented on #1096
I cannot only repeat myself und Really wonder why you dismiss it so easily. But Fable |> reactnative gives you support for Android + iOS + uwp in the same model. ReactNative is used in big apps and works pretty well. It is way to unblock yourself and much better than waiting for Microsoft to do something that might never come.

[2017-06-03 13:58] Krzysztof-Cieslak commented on #1096
@forki but it doesn't have "Microsoft stamp of approval" ™️

And as far as I can tell from reading this issue that's what people want.

[2017-06-03 13:59] forki commented on #1096
Yes like silverlight had.

[2017-06-03 14:23] Mike-EEE commented on #1096
![1q8nan](https://cloud.githubusercontent.com/assets/2931376/26754319/b5c1c280-4846-11e7-9e61-cdb69bd5d4a1.jpg)

[2017-06-03 16:30] cartermp commented on #3139
I can repro, though I'm not sure what the root cause is here.

[2017-06-03 16:36] #3093 closed

[2017-06-03 16:36] cartermp commented on #3040
I can confirm that this isn't an issue anymore.

[2017-06-03 16:36] #3040 closed

[2017-06-03 16:45] cartermp commented on #3122
Yeah this is still an issue on latest nightlies

[2017-06-03 16:54] cartermp commented on #3122
I'll be honest, I'm not even sure what we're doing in the solution file.  These files are horrendous and map guids to guids.  It doesn't *appear* anything which could have caused this was changed in that file.

[2017-06-03 17:32] cartermp commented on #3083
Yep, can confirm that this works on today's nightly.

[2017-06-03 17:32] #3083 closed

[2017-06-03 17:33] cartermp commented on #3152
Closing this, as I can confirm that the latest nightlies install now.

[2017-06-03 17:33] #3152 closed

[2017-06-03 19:46] cartermp commented on #1096
As a bit of an update @charlesroddie, unfortunately, there's no way for anyone outside of Microsoft to test it.  Testing .NET Native support requires using an internal build of the toolchain, which is closed-source 😢.  Additionally, we simply lack the bandwidth to do this in the near-term due to the push for .NET Core 2.0/.NET Standard 2.0.

That said, I doubt a whole lot more has changed.  The mo

[2017-06-03 20:07] cartermp commented on #3155
Closing for now, as this isn't a bug.  @vasily-kirichenko please feel free to re-open as a feature request for what @Pilchie was decribing.

[2017-06-03 20:07] #3155 closed

[2017-06-04 10:39] tlycken opened #3178 "FSI 4.1 won't start; fails to load System.Runtime 4.1.0.0 (and a bunch of other stuff)"
I've installed F# 4.1 through the Visual Studio 2017 installer, and FSI won't start. Instead, it shows the following message and crashes:

[code]

#### Repro steps

Provide the steps required to reproduce the problem

1. Install the "F# Language Support" component through the Visual Studio 2017 installer. (I'm using VS 2017 Enterprise, no idea if it matters)

2. Open PowerShell and go to the insta

[2017-06-04 16:59] ridecar2 commented on #3067
I'm still having this issue whenever I try to activate autocomplete.

[2017-06-04 21:51] NinoFloris opened #3179 "Struct tuple versions of functions like Map.ofList"
Just to give this a spot in the issue list I was wondering if struct tuples would get some deeper integration into the F# BCL.

Currently most of the cases just deal with reference tuples and converting struct tuples into ref tuples negates all of the gains :/
Concerning for instance (but probably not including all):
[code]

Would be interesting to look through the BCL for more cases

[2017-06-05 00:02] jsclary commented on #2181
Any chance someone could give people a hint on how to get that?  Neither 15.2 nor 15.3 preview2 with F# nightlies and the .NET Core 2.0 SDK preview1 seems to get you ".NET Standard" (or ".NET Core") templates for F# in VS.  "dotnet new" does indeed have F# templates but VS doesn't.  Maybe I'm missing a step?  It makes me sad that F# feels like a second class citizen in VS.  Though really it's more

[2017-06-05 10:43] dsyme commented on #3172
@gh3x78E This looks like a bug - thanks for the report.

As workaround please simply don't use "protected" in this case on your C# base class. In general, F# de-emphasizes the use of subclassing, and hence "protected" is seen as awkward for F# consumers, and can hit some corner-case issues like this.

[2017-06-05 10:49] dsyme commented on #3139
Yeah, it's a compiler issue.  The version information is checked before the scope pragma filters are in place

[2017-06-05 10:53] dsyme commented on #3164
The stackoverflow question linked covers this - especially the reply from Gustavo. A language suggestion and RFC would be needed to change this

[2017-06-05 10:53] #3164 closed

[2017-06-05 13:13] dsyme commented on #3179
@NinoFloris Please add a suggest to http://github.com/fsharp/fslang-suggestions.  Also I think it would be very important to give performance comparisons (also against inlined versions of the ref-tuple features)

[2017-06-05 13:13] dsyme commented on #3179
(Closing as this should first be tracked at fslang-suggestions)

[2017-06-05 13:13] #3179 closed

[2017-06-05 13:23] dsyme commented on #3141
I suspect that this is an off-by-one issue in emitting the range information for local variable names in the debug info.  I'm not sure though.

So it might be very easy to fix, particularly if some tools are available for dumping the debug information produced

[2017-06-05 13:30] NinoFloris commented on #3179
Ah alright, sorry for posting in the wrong location. Still hard to find the right repo without pointers, thanks!

[2017-06-05 13:32] dsyme commented on #3087
@vasily-kirichenko Thanks for closing

[2017-06-05 13:34] dsyme commented on #2161
Reopening as this is the canonical issue for this feature request right now

[2017-06-05 13:35] dsyme commented on #2091
Reopening as this is the canonical issue for this feature request right now

[2017-06-05 13:36] dsyme commented on #2670
Reopening as this is the canonical issue for this feature request right now

[2017-06-05 13:36] dsyme commented on #2998
Reopening as this is the canonical issue for this feature request right now

[2017-06-05 13:37] dsyme commented on #3044
This is a good suggestion for a code fix, and we'd accept a PR for it.  However I'll leave this feature request closed to reduce issue noise in the repo.

[2017-06-05 13:37] dsyme commented on #3043
This is a good suggestion for a code fix, and we'd accept a PR for it.  However I'll leave this feature request closed to reduce issue noise in the repo.

[2017-06-05 13:40] dsyme commented on #3151
@forki @bleis-tift Just to note that the ``member val`` isn't allowed in an interface implementation on a record or union type (because it implies a ``let`` definition in the type, which is not allowed).  So this is "just" a poor error message

[2017-06-05 14:02] dsyme commented on #3124
@vasily-kirichenko On behalf of people using F# via Visual Studio, I'd like to pause a moment and say a huge thank you for all your contributions to VFPT and VFT. Wherever and however you decide to contribute to open source projects and tooling I'll always be full of admiration.

First, I know for sure that many people are now using the VFPT and/or VFT editor tools happily.  Many people have said

[2017-06-05 14:52] dsyme commented on #3175
@0x53A I can't explain the paket build failure and error message - I looked around the code and perhaps there is some reason for it.

Could you reopen with exact repro instructions please and a minimized bug report? Thanks.. :)

[2017-06-05 15:04] 0x53A commented on #3175
I will try again to reduce it, but the error disappears relatively fast.

To reproduce it, clone the paket repository and checkout commit 9f3ec77df0a8ec3a25ad789ce283e71ba063f534.

Then either run build.cmd, or just open in the editor of your choice and build.

[2017-06-05 16:24] ImaginaryDevelopment opened #3180 "FSharpRangeToTextSpan crash on GoTo All"
Vs 2017 is crashing on go to all after typing a few letters

#### Repro steps

Have not been able to reproduce outside of my enterprise solution (12 projects) 6 C#, 5 F#, 1 .SqlProj
Only started since last VS update.

#### Expected behavior

A list of possible matches for what I typed comes up

#### Actual behavior

Visual studio crashes. without showing anything in the goto all box
![image](https

[2017-06-05 16:45] dsyme commented on #3180
I think the simple solution is to catch this exception in ``FSharpRangeToTextSpan``

[2017-06-05 16:52] cartermp commented on #2181
@jsclary No way to get it right now, but when we release it in the forthcoming preview of 15.3, the templates will light up automatically.

[2017-06-05 17:30] cartermp commented on #3180
Or perhaps [short-circuit out when `StartLine` is 0](https://github.com/Microsoft/visualfsharp/blob/master/vsintegration/src/FSharp.Editor/Common/RoslynHelpers.fs#L23), as I suspect this is what's returned when FCS cannot find something that matches.  Though I think it's a bit suspect that it was able to get this far and generate this kind of exception when Go to All doesn't have something to retu

[2017-06-05 18:11] cartermp commented on #2107
@saul given some of the fairly recent work, would you say this has improved over vs2015 load times for you?

[2017-06-05 18:23] cartermp commented on #3034
I'm still reproducing this on 15.2 with the latest nightlies, but I do not think that this is an F# issue anymore.  No lightbulbs are appearing for me at all.  @Pilchie, do you know if there were any changes in `CodeFixProvider` which could be causing this?

[2017-06-05 18:28] Pilchie commented on #3034
I'm not aware of anything.  @CyrusNajmabadi, are you?  @brettfo Does this work with the latest 15.3 binaries.

[2017-06-05 20:34] realvictorprm commented on #3180
Some additional checks in the method simply have to be made.

[2017-06-05 23:00] 0x53A commented on #3175
Well, seems I didn't really try last time, now I managed to reduce it =).

[code]

I'm no longer sure if this is really a bug or by design - the issue is that two different unions have a case with the same name.

[2017-06-05 23:18] dsyme commented on #3180
Yes

Yes :)

[2017-06-06 00:30] conniey commented on #3046
This should be fixed now, we updated the catalog to include most of the MSFT packages on NuGet.  Can you try rerunning your analysis against `.NET Standard` and/or `.NET Standard + Platform Extensions`?

![image](https://cloud.githubusercontent.com/assets/10136526/26808830/8de829d2-4a14-11e7-8cf5-1babe7fdeca9.png)

[2017-06-06 05:23] xkrt commented on #3046
@conniey for .NET Standard [+ Platform Extensions] report was improved, but what about .NET FW 4.6.2 for example? This is expected?

![screenshot-1](https://cloud.githubusercontent.com/assets/428187/26814879/60cdc68c-4a91-11e7-816d-225ec1bfb99d.png)

[2017-06-06 14:39] dsyme commented on #3175
Yes, this is by design.  There is no overloading of union case names.

[2017-06-06 14:39] #3175 closed

[2017-06-06 16:54] dsyme commented on #3180
@ImaginaryDevelopment If possible try https://github.com/Microsoft/visualfsharp/pull/3181 and see if it cures your problem? thanks

[2017-06-06 17:15] ImaginaryDevelopment commented on #3180
I'm not self-compiling fsharp tools, is that needed to try that fix?

On Tue, Jun 6, 2017 at 12:54 PM, Don Syme <notifications@github.com> wrote:

[2017-06-06 17:25] cartermp commented on #3180
@ImaginaryDevelopment Yes, it's needed to test it out.

[2017-06-06 17:31] dsyme commented on #3180
@cartermp I'm confident that the fix is stabilizing, but it would be absolutely fantastic to try it out.  Perhaps it's also needed to get the fix applied?

@ImaginaryDevelopment Alternatively you can provide us with a repro? which we can verify

thanks!
don

[2017-06-06 17:33] ImaginaryDevelopment commented on #3180
I tried to copy more and more files into another empty solution, but as far
as I went trying to avoid any actual work logic code, I could not get a
repro on a made-up solution.

On Tue, Jun 6, 2017 at 1:32 PM, Don Syme <notifications@github.com> wrote:

[2017-06-06 17:36] cartermp commented on #3180
@ImaginaryDevelopment If you're up for it, you can get started fairly easily.  This is the workflow I use:

1. Install prerequisites from here: https://github.com/Microsoft/visualfsharp/blob/master/DEVGUIDE.md#developing-the-visual-f-ide-tools-windows-only
2. Open the VS Command Prompt in Administrator mode
3. `build vs`
4. `msbuild VisualFSharp.sln`
5. `.\VisualFSharp.sln`
6. Set `VisualFSharpOpe

[2017-06-06 18:03] chlowell commented on #3046
Yes, the Framework targets still represent only what's in-box.

[2017-06-06 20:06] dsyme commented on #3092
@JoshVarty This stuff is beyond my skills :) I just copied what you had.

Any idea on what to do next?

[2017-06-06 20:35] #3122 closed

[2017-06-06 20:36] dsyme commented on #3122
Fixed.  @vasily-kirichenko  thanks for reporting this

[2017-06-06 20:36] KevinRansom opened #3185 "Remove F# portable library templates."
C# and VB have already deprecated the creation of new portable libraries in Visual Studio, we propose that Visual F# does the same.

The Scenarios for portable are now to be achieved through the use of the netstandard libraries.  Following implementation of this proposal it will no longer be possible to use the VS tooling to create new projects targeting portable libraries; existing projects will

[2017-06-06 20:40] dsyme commented on #3178
This is odd as this works just fine for me.

@KevinRansom The Binding to ``System.Runtime`` doesn't necessarily mean this is the .NET Core version of fsi.exe - that can still be a .NET Framework component

I wonder if .NET support is not properly installed on this mahine

[2017-06-06 20:44] KevinRansom commented on #3178
I am pretty certain this is a set of coreclr binaries.  If it was the desktop FSI then it would try and succeed in loading mscorlib.dll.  Not System.Runtime.dll.

Kevin
From: Don Syme [mailto:notifications@github.com]
Sent: Tuesday, June 6, 2017 1:40 PM
To: Microsoft/visualfsharp <visualfsharp@noreply.github.com>
Cc: Kevin Ransom <Kevin.Ransom@microsoft.com>; Mention <mention@noreply.github.com>
S

[2017-06-06 22:41] cartermp commented on #3096
Completed!  https://github.com/showcases/programming-languages

[2017-06-06 22:41] #3096 closed

[2017-06-07 00:18] KevinRansom commented on #3178
@tlycken
Hi, I guess we need to grab some more information.

1. What happens if you run at the dos prompt, I.e. not from powershell.
2. What does where fsi.exe show.
![image](https://user-images.githubusercontent.com/5175830/26856968-1a4dea16-4adc-11e7-8f00-57131d0bf938.png)

3.  what is the size and file version of the fsi.exe and fsharp.core that you execute
you can see file version of the detai

[2017-06-07 06:57] tlycken commented on #3178
@KevinRansom Thanks for looking into this. CMD session:

[code]

I seem to have a later file version than yours:

![fsi.exe details](https://user-images.githubusercontent.com/1550920/26865555-91da2910-4b5d-11e7-8cab-ca9df610478e.png)

I see this behavior with and without .NET Core installed.

And no, Visual Studio doesn't seem to work either; trying to create a new F# project, I got the following

[2017-06-07 13:02] dsyme commented on #3178
But how one would even get the CoreCLR compiler binaries through the Visual Studio installer?  My understanding is that they aren't even used in the installation as yet.

[2017-06-07 14:05] dsyme commented on #3178
@tlycken I really don't understand this one :)

 Have you ever built http://github.com/Microsoft/visualfsharp on this machine?

Have you previously installed any versions of ,NET Core on this machine, and could there be some relic from that involved?

I took a look at the fusion logs and the attempts to bind to System.Runtime 4.1.0.0 look wrong. But the size and ILDASM of ``fsi,exe`` look like the

[2017-06-07 15:02] tlycken commented on #3178
@dsyme That makes (at least) two of us :)

No.

Yes; uninstalling them were part of my troubleshooting here, but of course there could have been some relics left behind still screwing up the results. I have now re-installed the version that comes with Visual Studio 2017, since uninstalling did not change anything.

[2017-06-07 16:07] dsyme commented on #3178
@tlycken Could you try building this repo "build net40" then running "release\net40\bin\fsi,exe" please?  That might give us an indication if it is the state of your machine or the F# bits.

[2017-06-07 16:07] dsyme commented on #3178
Just a thought.  I really have no idea.  Your F# bits look fine

[2017-06-07 19:50] KevinRansom commented on #3178
Sigh!!!  I hate install issues.

So ... it's probably best to blow everything away.

1:  Uninstall Visual Studio
2:  Delete:   C:\Program Files (x86)\Microsoft SDKs\F#
3:  Delete:   C:\Program Files (x86)\Reference Assemblies\Microsoft\FSharp
4:  C:\Users\<youruser>\AppData\Local\Microsoft\VisualStudio
5: Edit the Path environment variable to remove anything pointing at F#

I doubt if removing the

[2017-06-08 06:24] tlycken commented on #3178
@KevinRansom Haha, at least you didn't ask me to wipe to a clean installation of Windows ;)

I'll try that (and, in addition, remove all F# related extensions from VS Code, just to be safe). If it doesn't work, I'll try building from source as @dsyme suggested, too - but as you say, it seems more likely that this is an issue with my system specifically than that there's something wrong with the F#

[2017-06-08 07:37] tlycken commented on #3178
@KevinRansom Resetting everything you suggested did not make a difference 😢

@dsyme Actually, the build fails - still failing to find `System.Runtime 4.1.0.0`. I ran `./build net40` from an administrative PowerShell prompt, and got the attached output.

[build-log.txt](https://github.com/Microsoft/visualfsharp/files/1060228/build-log.txt)

[2017-06-08 08:49] dsyme commented on #3178
@tlycken Can you build from a non-Powershell VS2017 developer prompt?

[2017-06-08 08:51] dsyme commented on #3178
That's a strange log.  Could you also check "gacutil /l FSharp.Core" please?

It feels like you have some strange machine-wide problem, perhaps a machine-wide binding redirect installed or something.  Very odd

[2017-06-08 09:03] tlycken commented on #3178
@dsyme Gacutil seems to show something suspicious:

[code]

Here's a build log from the VS2017 dev cmd prompt: [build-log.txt](https://github.com/Microsoft/visualfsharp/files/1060437/build-log.txt)

[2017-06-08 09:30] dsyme commented on #3178
@tlycken Yes, I think that 4.4.1.0 FSharp.Core entry in the GAC is wrong.  It would be very nice to find out how it got there!

If you're game, try

    gacutil /uf "FSharp.Core, Version=4.4.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"

[2017-06-08 09:30] dsyme commented on #3178
Here is the listing on my machine with VS2017 installed:

[code]

[2017-06-08 11:22] tlycken commented on #3178
@dsyme Thanks a lot - cleaning up the GAC was the solution!

I can now run FSI with F# 4.1, as well as create new F# projects with `dotnet new` and Visual Studio (though the latter required a repair and reboot before it worked...).

No idea how F# 4.1.0.0 ended up in the GAC, and I guess we'll never know. Either way, thanks to both of you for helping me fix this!

[2017-06-08 11:22] #3178 closed

[2017-06-09 15:44] enricosada commented on #294
@KevinRansom afaik this is now done with `FSharp.Core` 4.2.x packages, so this can be closed?

[2017-06-09 15:44] divad4686 commented on #2553
Any updates on this? I have a large solution we are trying to move to visual studio 2017 and msbuild 15, but we can't put it in our C.I server because there is a small fsharp project there.

[2017-06-09 15:55] 0x53A commented on #2553
@divad4686 I've had a lot of success using the nuget package FSharp.Compiler.Tools. Would that be an option for you?

You can install that into your F# project (using either the normal nuget client, or paket), and it will override the in-box compiler with the compiler from that package. That means you can use it to compile F# code on a buildserver that has only msbuild but no F# installed.

I can

[2017-06-09 16:00] divad4686 commented on #2553
@0x53A yea I will try that. Thanks!

[2017-06-09 16:03] BlythMeister commented on #2553
If that is the Microsoft preferred approach, why is that not how it works out of the box.
The fact that every new project created required a manual step to get the compiler into it seems like a huge backwards step from the visual studio and .net teams.

Yes it works.
Yes it may have advantages.
Yes it may be the future.
But no it's not in step with the rest of the tooling.

[2017-06-09 16:06] BlythMeister commented on #2553
And for that matter, why ship msbuild compiler at all....it's like the c# and VB teams went yeah we do this shiney new thing, but will let people still work the old way.

The f# team have gone with the only new way and you can fix your stuff...not exactly the best user experience and really puts a barrier to entry for using the f# language.
And in a company where f# usage may already cause frictio

[2017-06-09 17:56] KevinRansom commented on #294
Can we leave it around for a while.  I want to revisit everything we do about pdbs, including generating portables by default and converting them to windows pdb on windows builds.

[2017-06-09 18:56] enricosada commented on #2553
@BlythMeister

As a note `FSharp.Compiler.Tools` package is from F# foundation, not MS.
It resolve the exact issue you have (reproducible builds, your dev vs ci) who community think is important but has some tradeoff, and friction because is not the default way in templates choosen by MS.
Is like use `PackageReference` without a lock file (the way paket works).
Is a way to resolve the `ci server o

[2017-06-09 19:16] BlythMeister commented on #2553
@enricosada thank you for the full and clear answer!

Historical we have installed the f# compiler sdk.
whilst i see the benefit of having the compiler bundled as a nuget package meaning no installs on ci and means easier compiler upgrades, but this isn't a path we can just take if it's not baked into the tooling (as I'm sure you would understand)

We will await msbuild 15.3 (https://github.com/Mi

[2017-06-10 00:24] cartermp commented on #2553
After getting approval, VPNs, tools, and process _finally_ taken care of, there is now a download of the F# 4.1 compiler SDK here: http://download.microsoft.com/download/F/3/D/F3D6045E-4040-4058-ADAD-2698F1793CBC/Microsoft.FSharp.SDK.Core.msi

A few things to note:

1. The bits in here aren't any different than the contents F# Build Tools NuGet package, so if you're already using that, then there'

[2017-06-10 00:24] #2553 closed

[2017-06-10 05:26] AnthonyDGreen commented on #2091
Looks awesome. Ship it!

[2017-06-10 09:42] dsyme commented on #2553
@cartermp Thanks!!!

Could you also update the information on http://fsharp.org/use/windows to reflect this please? thx :)

[2017-06-10 15:43] cartermp commented on #2553
@dsyme Done!  https://github.com/fsharp/fsfoundation/pull/654

[2017-06-11 04:54] BentTranberg commented on #2693
I ask that if the Fantomas source code formatter is brought into VS, then make sure it removes spaces at the end of all lines, and not add it to some lines. A code formatter that works against the one most obvious of all de facto formatting rules - remove trailing spaces - I consider not only useless, but a nuisance.

Why important? Source is normally written so that there are no trailing spaces i

[2017-06-11 06:10] BentTranberg commented on #3075
An issue that I suspect is related, was reported on Stack Overflow today. Not sure what's going on there. This is the link: https://stackoverflow.com/questions/44479927/f-fs0039-namespace-is-not-defined
PS: I took a screenshot in case the issue is deleted from SO.

[2017-06-11 15:47] cartermp commented on #3075
@BentTranberg Could you provide a repro project?  I don't observe this behavior.

[2017-06-11 17:36] BentTranberg commented on #3075
If you mean the two reports I referred to on SO, I've tried to replicate both, without luck. I thought the info might still have some value when looking at FS0039's behavior.

If you mean my original report here, you need to type `System` or `System.` as when to use qualified access in a function or something, and not after the `open` keyword.

[2017-06-11 17:38] forki commented on #3075
FS0039 is a very very common error and happens all the time. Just from
looking at the code you will probably see nothing. We need a concrete repro
case for investigation. Sorry

Am 11.06.2017 19:36 schrieb "BentTranberg" <notifications@github.com>:

[2017-06-11 17:49] BentTranberg commented on #3075
I understand your point, @forki, but the two SO reports are just some additional information that perhaps might make sense when investigating the original report I filed. We don't need to be able to replicate them in order to fix the original problem reported. The original problem is easily reproduced, and don't need a repro submitted.

[2017-06-11 19:17] cartermp commented on #3075
I'm not able to reproduce it.  The error flashed for a second, but was replaced by the green squiggles because of a code fix being valid:

<img width="475" alt="screen shot 2017-06-11 at 12 15 31 pm" src="https://user-images.githubusercontent.com/6309070/27013795-c183fbb0-4e9f-11e7-9860-a730dbf1dfa6.png">

We'll need your specific repro case, otherwise there isn't really anything that can be done.

[2017-06-11 21:27] BentTranberg commented on #3075
Any source will do, but I have tested that this source, which was uploaded as repro for another issue, has this issue also. Link: https://github.com/Microsoft/visualfsharp/files/945386/TDNet.zip

But read this first: Judging from your screenshot, I believe I possibly haven't explained in sufficient detail what's happening. So I am posting screenshots.

You need to type `System.` and no more. Just

[2017-06-12 06:29] forki commented on #3075
Ok before that last post I really had no idea what you meant. So what you say is that in this case only FS0599 should be raised?

[2017-06-12 09:27] BentTranberg commented on #3075
Perhaps that's one possible solution. But in addition there's the case when you don't have the dot after System. Then only FS0039 is there. The compiler is right about there being an error in the source, but it definitely should emit some other error message. Maybe it should check whether the identifier is an assembly, and handle that separately from other identifiers.

[2017-06-12 13:50] dsyme commented on #3180
Closing as I am convinced this is fixed.  @cartermp Do we need @ImaginaryDevelopment to verify?

[2017-06-12 13:50] #3180 closed

[2017-06-12 13:51] dsyme commented on #3171
Closing as this has been fixed.

[2017-06-12 13:51] #3171 closed

[2017-06-12 15:39] cartermp commented on #3180
It'd be great if you could verify the fix @ImaginaryDevelopment, but the code is now safe and won't crash in the manner described above so I think this is good to close.

[2017-06-13 06:36] BentTranberg opened #3202 "Order of items in fsproj files change for no good reason"
I created a new F# library, then commited that. Then i added the FSharp.Data.SqlClient type provider from NuGet to the library. Then I wanted to see what changes were made. This is the diff of the library's fsproj file.

![changemessy](https://user-images.githubusercontent.com/15068882/27068424-5b2f9fc8-5010-11e7-98d6-18a7fdd02ebb.jpg)

It looks like some XML tags have been moved around for no goo

[2017-06-13 07:14] vasily-kirichenko commented on #3202
Just use Paket.

[2017-06-13 09:40] chillitom opened #3204 "FSharp.Core nupkg and dll version number differences confusing."
I'm working on a solution where a custom version of FSharp.Core.dll has been bundled in a package called FSharp.Core.4.3.1.0.nupkg.  None of the projects that use this package can be upgraded to later packaged versions of FSharp.Core because of this. as dependency resolution fails.  Latest nupkg version number is 4.2.1 and contains dll version 4.4.1.0.

We'll correct the issue by switching to the

[2017-06-13 12:15] ArtemyB opened #3205 "Visual Studio's "Rename" doesn't work properly for enumeration values"
#### Actual behavior

"Rename" works only for enum value or record field, that was selected (so it finds only 1 reference).

Demo for enumeration:
![Enum demo](http://i.imgur.com/u4THq5c.png)

Demo for record:
![Record demo](http://i.imgur.com/tIOZmGo.png)

#### Expected behavior

Find all references of the enum value/record field (as it does for DU cases, for example).

#### Related information

[2017-06-13 13:20] realvictorprm commented on #2321
I'm trying to play around with this, maybe something can be done here?
Line 10958

[2017-06-13 15:03] joj commented on #2992
Fixed via https://github.com/Microsoft/visualfsharp/pull/3206

[2017-06-13 16:56] enricosada commented on #3204
Yes 👍 please 💯 .
Starting from next `FSharp.Core`  package minor version, if possibile
Use 4.3 or better just skip to `4.5` so version number is higher than `4.4.1.0`..

[2017-06-13 22:11] livarcocc opened #3207 "FSC should ignore error diagnostic identifiers that it does not understand."
This came up in this PR for the .NET SDK: https://github.com/dotnet/sdk/pull/1329.

Specifically: https://github.com/dotnet/sdk/pull/1329/files#diff-7eff410a9a7fafbb40f5405239e45623R106.

We are making NU1605 a default WarningAsError and this fails in F#, because the compiler does not understand the identifier and breaks. Roslyn simply ignores these unknown identifiers. So I am asking for parity h

[2017-06-13 22:46] realvictorprm commented on #3207
I'm not sure whether this is fine with the specification.
CC @cartermp @donsyme

[2017-06-13 22:55] thinkbeforecoding commented on #2609
It also surfaces with dealing with MemoryMappedFiles and MemoryViewAccessor.
When using a view: MemoryViewAccessor, doing:
view.Read<StructRec>(0L)
emit the same error message:
The type 'StructRec' is not compatible with the type 'ValueType'.

After analyzing a bit the issue, in F#, declaring a function:
let f<'a when 'a : struct>() = ...

the function works with Struct Records, and display a cons

[2017-06-13 23:27] cartermp commented on #3207
cc @dsyme I don't know what the ramifications of this could be.

[2017-06-14 03:38] aggieben opened #3209 "Compiler resolves overload incorrectly with reverse pipeline, but correctly with parenthetical expression"
While writing an `async` expression, I found that the `Async.AwaitTask : task:Task.Tasks -> Async<unit>` overload is not resolved by the compiler when a reverse pipeline operator is used, but instead the compiler resolves the `Tasks.Task<'a> -> Async<'a>` overload and fails to build the file because of the type mismatch.

For instance:

[code]

Error:
`Program.fs(13,32): error FS0001: The type 'Ta

[2017-06-14 13:14] thinkbeforecoding commented on #2609
@dsyme the PR #3208 fixes it by returning a ValueType base type for both struct records and struct unions.

[2017-06-15 05:56] moloneymb opened #3210 "Useful stale type check information is thrown out"
Changes made to a type that result in a failure to type check will mean that type check information will not appear.

Previously you could work on a member of a type and would access to the (stale but still useful) parameter information of the other members of the type.

#### Repro steps

Provide the steps required to reproduce the problem

1. Step A

[code]

2. Step B

Type out the middle line to

[2017-06-15 07:32] saul commented on #3210
+1 to this, cc @dsyme and @vasily-kirichenko

Also please can you raise a separate issue for "Tools -> Options -> F# Tools -> IntelliSense". Thanks

[2017-06-15 07:33] saul commented on #3209
Do you know if this worked in F# 4.0?

[2017-06-15 14:44] saul commented on #2107
@cartermp, it's distinctly worse. For a 450 project solution (mixture of C# and F#), I see the following:

[code]

It looks like VS 2017 is twice as slow. After the solution loaded, I saw a lot of "Updating sources and flags" dialogs that may be a result of @dsyme's latest PR to solution loading performance.

[2017-06-15 15:14] NatElkins opened #3211 "Duplicate entries in error list and Intellisense - VS2017"
When using VS2017, there will be duplicate errors in the error list and in the Intellisense tooltip.  Also, once the error is resolved, only one of the errors will disappear; the other will remain.

#### Repro steps

1. Clone Paket https://github.com/fsprojects/Paket
2. Run build.cmd
3. Open in VS2017 with VF# installed.
4. Reload the two unloaded projects, Paket.Core and Paket (you may not be abl

[2017-06-15 16:15] cartermp commented on #2107
Yikes, that's not good at all 😕

[2017-06-15 16:34] vasily-kirichenko commented on #2107
@saul it would be interesting to know how fast Rider at loading your solution.

[2017-06-15 17:44] saul commented on #2107
As it loads projects asynchronously it's basically instant. We absolutely need lightweight solution load support in F# @cartermp

[2017-06-15 18:18] dsyme commented on #3207
@livarcocc If you'd like this behavior implemented, please submit a PR for it, thanks

[2017-06-15 18:21] dsyme commented on #2609
@thinkbeforecoding Super, thanks!

[2017-06-15 18:26] dsyme commented on #3209
@aggieben Yes, this would only be considered a bug if behaviour had changed. Otherwise it is likely per-spec

[2017-06-15 18:31] dsyme commented on #3204
Could we just use 4.3.0.0, 4.4.0.0, 4.4.1.0, 4.4.2.0?

[2017-06-15 18:32] dsyme commented on #3207
I have no real sense if this change is a good idea - if Roslyn ignores the IDs then I'd be OK with it, after review by Roslyn team members.

[2017-06-15 19:34] thinkbeforecoding commented on #2609
Btw the fix also return System.Enum base type for F# enums...

[2017-06-16 01:46] CHBen opened #3213 "XML documentation in Visual Studio 2017"
I would like to add a multi-line XML documentation that will appear in the Intelli-Sense bubble when my mouse hover over it. Please see the following post:

https://stackoverflow.com/questions/44565660/f-xml-multiline-documentation-visual-studio-2017

#### Repro steps

1. Use Visual Studio 2017.

2. Type the following code, and hover your mouse over it.

![](https://i.stack.imgur.com/sQuA2.png)

#

[2017-06-16 01:49] davkean commented on #2107
@Saul When you are testing VS2015 and VS2017, are you testing first open or subsequent opens? These two go down different paths (the later will turn on Async load - assuming you are not in our A/B test to turn it off).

[2017-06-16 01:51] davkean commented on #2107
The other thing, now that I've read out - on subsequent opens the legacy C#/VB project system skip the initial design-time build (call to Compile) and instead read from a cache.

[2017-06-16 08:24] jakzale commented on #2308
I am getting a somewhat similar error when I try to load a file that calls a C# method that returns a ValueTuple.  The error occurs only in FSI, as I can compile the file just fine.

[code]

[2017-06-16 12:55] ptrelford opened #3214 "Operator precedence with dynamic (?) operator"
#### Repro steps

Create a console project in Visual Studio 2017 (with the F# nightly build installed), and add the following code:

[code]

Build the project

#### Expected behavior

The code should compile as it does in VS2015, VS2013, VS2012, ....

#### Actual behavior

error FS0072: Lookup on object of indeterminate type based on information prior to this program point. A type annotation may b

[2017-06-16 13:18] dsyme commented on #3214
@ptrelford BTW the duplicate bug is this one: https://github.com/Microsoft/visualfsharp/issues/2416.  Please reopen if you can confirm that this is not fixed, thanks

[2017-06-16 13:18] #3214 closed

[2017-06-16 13:38] ptrelford commented on #3214
@dsyme I ran dir fsc.exe /s - the latest fsc.exe I have installed on my machine is dated 23/02/2017 and in folder C:\Program Files (x86)\Microsoft SDKs\F#\4.1\Framework\v4.0\
What are the recommended steps to get the latest fsc.exe with the fix?

[2017-06-16 13:55] dsyme commented on #3214
I'm not totally sure, but my understanding is that the nightly package installs the ``fsc.exe in the same place as a manual install of the built extension.  This is a very, very obscure location, on my machine it is

    C:\Users\dsyme\AppData\Local\Microsoft\VisualStudio\15.0_80d64992\Extensions\0xjx03ws.2mz

I might be wrong about that for the nightlies though.

Anyway, if all you want to do is

[2017-06-16 14:05] ptrelford commented on #3214
I have a similar folder C:\Users\p.trelford\AppData\Local\Microsoft\VisualStudio\15.0_95a66079\Extensions\l55uj42h.kzt with fsi.exe, FSharp.Editor, etc. but no fsc.exe which I guess is why "dir" didn't pick it up.

[2017-06-16 14:15] ptrelford commented on #3214
OK, I now have a workaround for getting the latest fsc.exe using the instructions on the F# Foundation site: http://fsharp.org/use/windows/

Follow Option 4 / Option B: Standalone installations / Item 4 - [Install the free F# 4.1 Compiler SDK from Microsoft](http://download.microsoft.com/download/F/3/D/F3D6045E-4040-4058-ADAD-2698F1793CBC/Microsoft.FSharp.SDK.Core.msi) which installs the latest fs

[2017-06-16 14:44] dsyme commented on #3214
Urgh, yes, you are right

Thanks for the other details!

[2017-06-16 15:05] dsyme commented on #3214
Can I ask - what did you have installed before this?  Thanks.  I would have assumed your install of Visual Studio 2017 had this?  Or did installing this mean that the nightly install also updated this component?

[2017-06-16 22:47] Korporal commented on #1585
@KevinRansom - I cannot find any documentation about this new /sourcelink option, can you possibly shed some light?

[2017-06-17 04:00] moloneymb commented on #3210
Sure I can do that

[2017-06-17 04:02] moloneymb opened #3216 "Tools -> Options -> F# Tools -> IntelliSense property page throws an error"
Visual F# Version 5.4

Expected to not throw an error.

Needed so I can switch on Use Stale so intellisense is less painfully slow

[2017-06-17 04:20] moloneymb commented on #2964
Hi folks, I have tested a variety of code completion delays on a number of users. A rough guideline of the results is as follows:
< 300ms -> Types are the best thing ever
300ms - 1000ms -> Types are OK
1000ms - 2000ms -> I'm vaguely aware that my life is wasting away one second at a time (general sadness inside)

In other words; if anything takes > 2 seconds you might as well not bother.

[2017-06-17 07:30] forki opened #3218 "If NuGet restore fails then build still continues"
We should let the build fail if a restore doesn't work.

![image](https://user-images.githubusercontent.com/57396/27251089-8bd38734-533f-11e7-9d5a-5251dd67607a.png)

#### Repro steps

get on slow internet connection and run build.

[2017-06-17 08:10] isaacabraham commented on #2964
I wasn't sure if this was just because of the size of the FSharp.Core solution (that's the only solution I dare use VS2017 on) but if this is par for the course even on smaller solutions... not great.

[2017-06-17 14:07] enricosada commented on #3204
@dsyme `4.4.2.0` for package `4.2.0`? leaving prefix `4` seems a lot complicated to understand for everyone but compiler developers.
We can continue to leave as is, until we reach `4.5`. but after that, we should use normal versioning.

As an additional feedback, we really need to continue to increment `AssemblyVersion` now that is not in GAC? is not possibile to leave it fixed, and just increment

[2017-06-17 17:20] cartermp commented on #3216
@moloneymb Is this with one of the Update 3 previews of VS 2017?  If so, this is a known issue that has been fixed.  This can be the canonical bug for traceability on GitHub, though.

[2017-06-17 19:46] cartermp commented on #3213
Interesting.  The XML parsing logic was changed along with a significant revamp of how textual information is represented in the language service.  But I'm surprised that `<para>` tags are now ignored.

[2017-06-18 14:29] matthid opened #3219 "Async.StartAsTask behavior in cancellation scenarios."
[Today](https://github.com/fsprojects/Paket/pull/2439) I stumbled on some unexpected behavior when cancelling a asynchronous workflow which interacts with Tasks.
When `StartAsTask` is used it is not giving any chance to the underlying workflow to cancel in a regular way and just continues with a `OperationCanceledException`, basically throwing away all information from the workflow.

DISCLAIMER: M

[2017-06-18 20:03] aggieben commented on #3209
@dsyme Could you point out where the spec indicates this behavior?  I searched for it in an effort to answer this question for myself, but didn't find anything direct that indicated any difference between the two syntaxes.  Granted, I'm still new to F♯ and may have missed something direct because it wasn't obvious to me.

@saul I guess not - I tried it in LinqPad (which afaict uses F# 4.0) and got

[2017-06-18 20:11] realvictorprm commented on #3209
If the specs tell something different I would wonder why. The syntax looks fine to me...

[2017-06-18 23:36] cartermp commented on #3218
Thoughts @kevinransom?

[2017-06-19 08:56] ptrelford commented on #3214
I had VS2017 that I installed around May 2017, which I then added the F# nightly builds to.
The version of fsc.exe I had on my machine prior to installing the F# 4.1 Compiler SDK was dated 23/02/2017. Installing the F# 4.1 Compiler SDK appeared to overwrite the fsc.exe installed with VS2017 with a newer version.

[2017-06-19 09:27] dsyme commented on #3209
Start at section 6.4 of http://fsharp.org/specs/language-spec/4.0/FSharpSpec-4.0-latest.pdf and follow it through.

Basically if you use
[code]
then the types of ``args`` will be taken into account to help resolve the overloading.  If you use
[code]
then the overload resolution method will be different, based on resolving ``(fun y -> x.OverloadedMethod(y))`` unless other type information is availa

[2017-06-19 09:27] #3209 closed

[2017-06-19 09:28] realvictorprm commented on #3209
thanks for resolving this.

[2017-06-19 09:32] dsyme commented on #3213
@cartermp Just to mention that there are different layout pathways for intra-assembly and inter-assembly XMLDocs.  For example this means it is possible that `<para>` tags are being respected on one pathway but not another.

[2017-06-19 09:34] dsyme commented on #2964
@isaacabraham I chatted with @moloneymb and he's working in a 20,000 line file.  So size is an issue here

[2017-06-19 10:06] realvictorprm commented on #2964
@dsyme People can work with such big files? Interesting. Do we have somewhere a list containing ideas where performance can be improved in code?

[2017-06-19 10:39] saul commented on #3211
Already fixed in https://github.com/Microsoft/visualfsharp/pull/3071

[2017-06-19 12:48] saul commented on #3038
@dsyme This bit me over the past couples of days during some refactoring and it's been really difficult to pin down. I've made a minimal reproduction for you, see the following F# script file:

[code]

[2017-06-19 15:33] mattmccutchen-microsoft opened #3220 "can't type "match / with" properly if there is a function with "with" (again)"
I'm seeing the same problem as #2731: when I type `match ... with` and press Enter, `with` gets replaced by an identifier in scope that contains `with`, in my case `withSkippedString` from FParsec.  I don't know if this is a real bug or something broken in my environment.

#### Repro steps

1. Create a F# console application.
2. Add the FParsec NuGet package.
3. At the top of Program.fs, add: `ope

[2017-06-19 18:16] 0x53A opened #3221 "[design-time only] Assembly reference was not found or is invalid"
This is only an issue at design time, build is ok.

![image](https://user-images.githubusercontent.com/4236651/27299225-ef92d994-552b-11e7-8a58-42c6987ef3aa.png)

The file exists on disk, and was built by a different (C#) project in the same solution.

![image](https://user-images.githubusercontent.com/4236651/27299271-1768a6a6-552c-11e7-9d51-5f9face2a3a2.png)

![image](https://user-images.githubu

[2017-06-19 18:22] dsyme commented on #3221
@0x53A We'll need a step-by-step repro for this.  Does rebuilding the project succeed?

It could also be a manifestation of https://github.com/Microsoft/visualfsharp/issues/3047

[2017-06-19 18:26] 0x53A commented on #3221
@dsyme Yeah, thats the great thing about this and https://github.com/Microsoft/visualfsharp/issues/3054#issuecomment-302085371, it's not reproducible in a small isolated project.

Build and Rebuild work fine, but do not clear the error.

[2017-06-19 18:43] 0x53A commented on #3221
I have this and https://github.com/Microsoft/visualfsharp/issues/3054#issuecomment-302085371 in a base-lib which depends on 5 other projects. If I remove everything except these five projects from the solution, then the error stops happening, even though there _should_ be no change from the view of these projects.

For me it looks like something completely unrelated in the solution fucks VS up.

T

[2017-06-19 18:46] 0x53A commented on #3054
This issue happens reliably in a base-lib which depends on 5 other projects. If I remove everything except these six projects from the solution, then the error stops happening, even though there should be no change from the view of these projects.

For me it looks like something completely unrelated in the solution fucks VS up.

The whole solution has ~60 projects, so I'm not going to try all perm

[2017-06-19 18:47] dsyme commented on #3221
Did you check if switching between "Build" and "Build + Intellisense" clears the error?

Re [#3054 (comment)(https://github.com/Microsoft/visualfsharp/issues/3054#issuecomment-302085371) it feels likes this should be tracked by a separate bug.

[2017-06-19 18:59] 0x53A opened #3222 "Missing language service features for some projects in a solution if the project is up-to-date"
ref https://github.com/Microsoft/visualfsharp/issues/3054#issuecomment-302085371

In some projects nothing works at all (colors, completion, ...):
![image](https://user-images.githubusercontent.com/4236651/27300738-fbe26804-5530-11e7-83bb-6e3d6bad471c.png)

This occurs reliably in a large solution with ~60 projects, but is not reproducible when reduced.

The issue happens in multiple projects, the

[2017-06-19 19:05] 0x53A commented on #3221
Yes and No. It is visible in the "Error List" for either "Intellisense Only" or "Build+IntelliSense", but is always visible as a red squiggle in the document at location (0,0). Switching does not affect the squiggle in the document.

-----

My previous remark

is not completely true: when VS was started, the file did not yet exist (if the solution was built before opening, I hit https://github.com

[2017-06-19 19:29] vasily-kirichenko commented on #3054
👍

[2017-06-19 19:39] dsyme commented on #3054
Guys, don't troll please :)

[2017-06-19 19:41] realvictorprm commented on #3054
Thanks, I agree on that. I'll need to look into this again too...

Am 19.06.2017 21:39 schrieb "Don Syme" <notifications@github.com>:

[2017-06-19 19:43] dsyme commented on #3222
@0x53A I know you've said you can't make a public repro for this, but we'll really need one to make progress on it, unless we get lucky and find the bug by some other means (which is likely sooner or later)

(Also is this using latest nightly? thx)

[2017-06-19 19:44] 0x53A commented on #3222
So, I experimented a bit more.

Remember I said above that it works after a clean, and fails after a build?

I was able to reduce it to one dll with one large embedded resource (15MB). Something else in the VS stack seems to choke on that and then poisons something so that VF# fails.

* If I delete the dll and restart VS, everything works.
* If I keep the dll, but remove the embedded resources (us

[2017-06-19 19:45] dsyme commented on #3222
@0x53A Interesting, thanks.  Can you share that repro?

[2017-06-19 19:46] 0x53A commented on #3222
No, because when I remove all other projects, the error stops happening.

The error still only happens in the large, 60 project solution.

The solution contains WinForms projects, WPF projects, WIX projects, C++/CLI projects, it must be one of these.

[2017-06-19 19:47] dsyme commented on #3222
@0x53A Thanks. Nasty bug, we should protect F# (and Roslyn) from whatever is happening

[2017-06-19 19:48] 0x53A commented on #3222
Only F# is affected, C# does not have any issues.

[2017-06-19 20:07] vasily-kirichenko commented on #3054
I was not trolling.

[2017-06-19 20:10] dsyme commented on #3054
@vasily-kirichenko OK

[2017-06-19 20:17] cartermp commented on #3222
Yikes, that sounds bad.  cc @Pilchie [this](https://github.com/Microsoft/visualfsharp/issues/3222#issuecomment-309550901) sounds troubling

[2017-06-19 20:19] dsyme commented on #3222
@cartermp We really need a standalone repro to make progress on this - i the bug is as described it could come from any of those project flavours

[2017-06-19 20:36] cartermp commented on #3222
Agreed.  However, in the essence of narrowing the problem down...

@0x53A Is this using VS 2017 Update 2, or Update 3?  About when would you say this issue started happening?

[2017-06-19 20:41] 0x53A commented on #3222
@cartermp  VS 2017 Update 2. I have the latest nightly, but have also seen this issue with a colleague, who does not have the nightly.

I'm not sure when it started, at first it was only an unimportant project, so I didn't bother.
That it's now worse is probably related to something changed in our solution (added projects, added references, whatever).

I can try to check old versions from source c

[2017-06-19 20:44] cartermp commented on #3222
Argh.  Sorry to hear that.  Maybe there's a way for someone at MS to look at your solution under an NDA or something?  I honestly don't know how that process works if it exists.  @Pilchie probably would know, though.

[2017-06-19 21:02] 0x53A commented on #3222
The easiest way (for me :D) would be if you could look at it on my computer through TeamViewer or something like that.

Sending it out may also be possible, but I would probably need to ask my bosses' boss.

It's interesting that we seem to be the only ones hitting this issue, either no-one uses VS2017, or this is really one specific corner case.

[2017-06-19 21:05] dsyme commented on #3113
@enricosada @KevinRansom Where are we with this - does it have to be done for the SDK work to count as feature complete?

[2017-06-19 21:06] dsyme commented on #3067
@brettfo where are we with this one?  Thanks

[2017-06-19 21:07] dsyme commented on #2107
I think that's not a perf hit (though it is a UI mistake in dialog up/down logic)

[2017-06-19 21:08] saul commented on #2107
I'm not convinced - it took twice as long to open in VS 2017 and I'm pretty confident before the PR to improve performance it wasn't that slow :(

[2017-06-19 21:09] dsyme commented on #3222
It feels quite specific.  But I do think people often have an option to go back to VS2015 or switch to another editor these days.  Which is good...

[2017-06-19 21:10] dsyme commented on #2107
@saul Yes, sorry, I only meant the bit about "sources and flags dialog".  I edited after I posted.  The actual load-time regression is real.

[2017-06-19 21:11] dsyme commented on #2107
@saul If you get a chance you might check VS2015 v VS2017 load time on some of tests\projects\stress\... and dump the figures here.  That will likely give us independent confirmation

[2017-06-19 21:15] 0x53A commented on #3222
Not if you want intellisense for C# / F# vLatest, and C#7 >>> C#6 :\

Rider works well. =)

---------

I will see how hard it is to get rid of the embedded resource, maybe that will "fix" the issue.

[2017-06-19 21:16] Pilchie commented on #3222
We could either set up a OneDrive for Business link for you to upload to, or sure, we can try to get someone to remote into the machine.

[2017-06-19 21:40] 0x53A commented on #3222
It is definitely related to that one project, but it seems like it is not the embedded resource. :-\
I removed all embedded resources from the project, but the issue still occurs. Maybe what "fixed" it when I modified the dll using dnSpy was just the updated timestamp?

![fs](https://user-images.githubusercontent.com/4236651/27307118-85901ecc-5548-11e7-92fa-713e3ef1c8d9.gif)

Maybe I can find out

[2017-06-19 21:52] 0x53A commented on #3222
So it doesn't seem to be related to anything specific:

* If the project is up-to-date, nothing works.
* If the project is not up-to-date, everything works.
* If I do any change that causes a reload (remove/add reference for example), then colorization kicks in.

So modifying the dll with dnSpy just updated the timestamp, which caused to project to NOT be up-to-date, and "fixed" the issue, but it

[2017-06-19 22:23] brettfo commented on #3067
The code currently in `master` (which is what builds to our nightly VSIX channel) will only work on 15.2 builds of Visual Studio.  The `vs2017-rtm` branch (which doesn't build to any VSIX channel) will work against 15.3 preview builds of VS.

The current recommendation is to either:
-  Use 15.2 build of VS with or without nightlies.
-  Use 15.3 preview build of VS _without_ nightlies.

Once we've

[2017-06-20 09:00] Lamarth commented on #2992
This appears to be the same issue here: https://bugzilla.xamarin.com/show_bug.cgi?id=53291
It's "RESOLVED FIXED", for all the good it does. I have one computer with lots of old stuff on it and it all still works there, otherwise I'd be rather desperate by now. Still haven't worked out what it takes to get it working from a fresh install.

[2017-06-20 09:55] dsyme commented on #3222
What this says to me is that the underlying problem is something like
* the initial computation of the SourcesAndFlags for the project failed
* the initial computation of the SourcesAndFlags produced a bad set of options which caused something else to fail
* another error occurred which meant Roslyn decided no to list the file for analysis

or something like that.  We can definitely fix this if we

[2017-06-20 09:57] #3211 closed

[2017-06-20 09:57] dsyme commented on #3211
Closing as addressed/tracked by #3071

[2017-06-20 10:01] dsyme commented on #3202
I'll close this as won't fix - the project system code is responsible for project file adjustments is either (a) out of this project or (b) due to be replaced by the roslyn project system and (c) not worth the risk given that this is not a functionality bug, and is just an inconvenience.

[2017-06-20 10:01] #3202 closed

[2017-06-20 10:04] forki commented on #3202
If I understood @cartermp correctly then "new roslyn project system" will only work for the MSBuild 15 projects. So we should actually really fix stuff like that and reconsider the choice

[2017-06-20 10:06] #2732 closed

[2017-06-20 10:06] dsyme commented on #2732
Closing this discussion since the issue is not clarified

[2017-06-20 10:09] dsyme commented on #3074
This has already been completed in the project system code

[2017-06-20 10:09] #3074 closed

[2017-06-20 10:09] #3081 closed

[2017-06-20 10:10] dsyme commented on #3094
@asik Could you please try again on latest nightly?  It is likely #3025 fixed this

[2017-06-20 10:15] dsyme commented on #1042
Closing due to merge of #2954 - thanks for the feature @davidglassborow !

[2017-06-20 10:15] #1042 closed

[2017-06-20 10:16] dsyme commented on #1485
This is by design - not all constructs are supported in query translation

[2017-06-20 10:16] #1485 closed

[2017-06-20 10:17] dsyme commented on #2774
Closing old discussion

[2017-06-20 10:17] #2774 closed

[2017-06-20 12:37] Thorium commented on #1485
Would that actually hurt someone to pass those unknown method-calls forward as-is? So that I would get a LINQ-method call to my custom method?

[2017-06-20 12:59] dsyme commented on #2970
This was fixed a while back

[2017-06-20 12:59] #2970 closed

[2017-06-20 13:00] dsyme commented on #2983
Closing as @KevinRansom says:

[2017-06-20 13:00] #2983 closed

[2017-06-20 13:01] dsyme commented on #3053
Closing as this was a problem with the project file

[2017-06-20 13:03] dsyme commented on #983
My understanding is that this issue has been resoled and Argu was unblocked

[2017-06-20 13:03] #983 closed

[2017-06-20 13:04] dsyme commented on #673
Closing as this is really a language suggestion. Right now what we have is by design, but has this limitation

[2017-06-20 13:04] #673 closed

[2017-06-20 13:05] dsyme commented on #1172
@KevinRansom Just to check - is this required in order to complete FSC on .NET Core?  Just trying to work out the priority of this

[2017-06-20 13:38] cartermp commented on #3202
@forki Initially yes, but it's also the replacement project system for all managed languages moving forward.  Since this is a minor issue, I think it's fine to wontfix it given that (although we'd obviously take a PR).  Coincidentally, F# will probably be easier to completely move over to the new project system because it's 100% managed, whereas C#/VB have lots of very old native code in there.

[2017-06-20 13:53] dsyme commented on #3067
@brettfo OK, thanks.

* So post 15.3 nightlies will only work if you have 15.3 installed?  Is there a way we can condition the nightly so it doesn't install into 15.2?

* Could you advise me on #3071? This requires 15.3 binaries (or we need to validate it against 15.3 binaries, and put a hack in to make sure it doesn't activate against 15.2.  If we can assume 15.3 binaries then all the better,

[2017-06-20 13:56] AnthonyLloyd commented on #3053
@dsyme I think there still may be an issue in that intellisense always works from the default and not the current solution config. I think this leads to odd errors when default not there or out of sync.

[2017-06-20 15:09] Qubitus opened #3225 "FSharpType.IsUnion problem"
I have the following code which gives different results when upgrading FSharp.Core:

F#:
[code]

C#:
`FSharpType.IsUnion(typeof(Side), FSharpOption<BindingFlags>.None)`

FSharp.Core 4.0.0.1 NuGet: returns **true**
FSharp.Core 4.2.1.0 NuGet: returns **false**

[2017-06-20 15:55] dsyme commented on #3092
@cartermp Could you check the repro please when you get the chance? Going back to the original repro, I don't repro this with Nightly installed (I haven't tried without it installed).  F# Interactive Alt-Enter works OK for me

Perhaps I fiddled with my key bindings though,

[2017-06-20 15:56] dsyme commented on #3092
(I reset my key bindings to "Default" and still couldn't repro
1. Start VS
2. Open an existing .fsx script
3. Highlight some text and hit Alt-Enter

[2017-06-20 16:06] joj commented on #2992
@Lamarth the fix is in the PR I commented on (the comment before yours). I marked as resolved fixed in Bugzilla because of that PR. I'm not sure when F# is releasing. The workaround would be to compile it (it's really not hard) or use an old version.

[2017-06-20 16:18] cartermp commented on #2992
This fix will ship in Update 3 of VS 2017.

[2017-06-20 16:49] dsyme commented on #155
I'm closing this old bug out as "won't fix" for the project system cod e(which will eventually be replaced in any case). Nuget packages that do install actions into VS like this are rare now AFAIK

[2017-06-20 16:49] #155 closed

[2017-06-20 16:50] dsyme commented on #132
I'm closing this - it's a really minor cosmetic bug to do with numeric literal forms.

[2017-06-20 16:50] #132 closed

[2017-06-20 16:51] dsyme commented on #284
Closing this old cosmetic bug.

[2017-06-20 16:51] #284 closed

[2017-06-20 16:51] dsyme commented on #2684
Covering problems with the ``--sig`` option by the single bug https://github.com/Microsoft/visualfsharp/issues/393

[2017-06-20 16:53] #2684 closed

[2017-06-20 16:53] dsyme commented on #2685
Covering problems with the --sig option by the single bug #393

[2017-06-20 16:53] #2685 closed

[2017-06-20 16:55] dsyme commented on #2756
I've not seen this.  We can probably just close it, I don't believe it is related to the Visual F# addin?

[2017-06-20 17:03] matthid commented on #3219
Would a PR be accepted or at least help with the discussion?

[2017-06-20 17:34] asik commented on #3094
When I switch from Release to Debug or vice-versa, initially the coloring is incorrect as described above, but it fixes itself after about 10 seconds. This is a test project with a single 40-line file, so while it is working, it is very slow.

[2017-06-20 17:44] dsyme commented on #3225
@Qubitus There's something odd about this

Running master:
[code]

[2017-06-20 17:57] dsyme commented on #3225
@Qubitus I don't repro this with an F#/C# solution,

See this zip:

https://1drv.ms/u/s!Aq5gXOPBI5HdirhPo8sp6HqtMp6-8w

[2017-06-20 19:49] BentTranberg opened #3229 "Certain errors show only when F# file is focused in VS 2017"
Error messages appear almost immediately in Error List pane when I open and focus one particular file, but stays only as long as I keep that file tab focused.

Screenshot of editor and error list:

![image](https://user-images.githubusercontent.com/15068882/27349449-8af1197a-55f7-11e7-8986-52547413642f.png)

The entire solution compiles successfully, and an application that uses the assemblies in

[2017-06-20 20:18] dsyme commented on #3229
May be related to #3049

[2017-06-20 20:19] dsyme commented on #3229
@BentTranberg A standalone repro would help enormously to determine the problem and fix it

[2017-06-20 20:27] dsyme commented on #3094
@asik Related: https://github.com/Microsoft/visualfsharp/issues/3000#issuecomment-299855523

[2017-06-20 20:28] dsyme commented on #3219
@matthid Yes, that would be great

[2017-06-20 20:32] dsyme commented on #3053
@AnthonyLloyd Ok, thanks

[2017-06-20 20:51] dsyme commented on #1485
@Thorium That can't happen when translating to SQL (which is going to run on the datavase). It does happen when processing in-memory

[2017-06-20 20:54] BentTranberg commented on #3229
When working on reducing source for a minimal repro for this, I ran into the problem that an actual error during build is not reported in the Error List pane. Only in the Output pane.

![image](https://user-images.githubusercontent.com/15068882/27355306-d49de7de-560a-11e7-9ff2-8781e91cd32a.png)

The error is that in the expression "sqlPakkedata sort", the sqlPakkedata is no longer a function, but

[2017-06-20 21:12] BentTranberg commented on #3229
When working on reducing source for a minimal repro for this, I discovered the following behavior.

When opening the repro, building the solution, and then opening LegacyReportsTypedSql.fs, the following errors appear.

![image](https://user-images.githubusercontent.com/15068882/27355994-328f6636-560d-11e7-85ae-93bf321e87bd.png)

It's the same errors repeating to the end.

This is not the errors I

[2017-06-20 21:17] BentTranberg commented on #3229
Here is the repro, a compilable solution. I believe the zip contains source only.

[Repro.zip](https://github.com/Microsoft/visualfsharp/files/1089711/Repro.zip)

[2017-06-20 21:56] cartermp commented on #2756
Yeah, I'm not convinced that this is an issue we have.  I've also not seen it for quite some time.

[2017-06-20 21:56] #2756 closed

[2017-06-20 21:57] asik commented on #3094
It is much longer than the 1,5 seconds Roslyn delay, more like 10 seconds; there must be something more going on.

[2017-06-20 22:48] #1510 closed

[2017-06-20 22:49] #2174 closed

[2017-06-20 22:58] #3076 closed

[2017-06-20 23:58] eiriktsarpalis commented on #3219
This does the trick:
[code]
Honestly, I think that the problem here lies with `Async.RunSynchronously`, which is inconsistently surfacing exceptions on workflow cancellation.

[2017-06-21 00:11] #3118 closed

[2017-06-21 03:24] knocte opened #3231 "F# allows same module names if in different namespaces, but not same file names even if in different folders"
When having module name clashes, namespacing is important.

For example, you have two modules named "Foo" in the same F# assembly. If you place them under namespaces Bar.Foo and Baz.Foo, the compiler is happy.

However, normally developers try to mimic directory-file name structures to map exactly with namespace-type ones. In this case, the F# compiler is not helping, because placing two Foo.fs fo

[2017-06-21 07:00] forki commented on #3231
Didn't we fix this already?

[2017-06-21 07:40] forki commented on #3231
related https://github.com/Microsoft/visualfsharp/pull/2772

[2017-06-21 08:06] #3120 closed

[2017-06-21 08:20] vasily-kirichenko opened #3234 "Regression: IDE does not see provided types generated in referenced projects"
1. git clone https://github.com/vasily-kirichenko/TypeProvidersBug.git
2. .paket\paket.bootstrapper.exe
3. .paket\paket restore
4. Open the solution in VS 2015, build it:

![image](https://user-images.githubusercontent.com/873919/27373719-0e1273ec-5672-11e7-9b95-fb6ef9dfd783.png)

5. Open the solution in VS 2017:

![image](https://user-images.githubusercontent.com/873919/27373740-227059d0-5672-11e

[2017-06-21 08:33] forki commented on #3234
I can confirm this is a regression.

It works for me in VS2015.
It doesn't work in VS2017 or Ionide.

[2017-06-21 09:41] vasily-kirichenko commented on #3234
ILSpy shows that `Foo` is public:

[code]
What is `TypeProviderEditorHideMethods` for?

[2017-06-21 09:44] dsyme commented on #3234
@vasily-kirichenko Great to have the repro. I will look at it now. It only appears to affect cross-assembly references w.r.t. generated types

[2017-06-21 09:48] vasily-kirichenko commented on #3234
@dsyme Thanks! :) Yes, it seems so.

VS 2017 C# editor shows the property:

![image](https://user-images.githubusercontent.com/873919/27378179-c070b4e2-567f-11e7-9993-eab9651e0d4b.png)

But Rider does not:

![image](https://user-images.githubusercontent.com/873919/27378193-cf4f23ea-567f-11e7-97e8-9741edbc87fe.png)

That's super strange :(

[2017-06-21 09:53] dsyme opened #3235 "Loss of test coverage w.r.t. building FSharp.Core"
Tracking issue for my comment here: https://github.com/Microsoft/visualfsharp/pull/3230#issuecomment-310028873

[2017-06-21 10:17] knocte commented on #3231
@forki I see the fix for that was merged in the 3rd of April. Did that change make it to the F#4.1 release?

[2017-06-21 10:21] dsyme commented on #3234
@vasily-kirichenko I think I understand what's happening

* VS2017 and VFPT both enabled in-memory cross-assembly references where the DLLs for referenced projects aren't read from disk but rather the projects are type-checked in-memory and the metadata constructed in-memory

* For generative type providers, there is a "late stage" in the process of preparing an assembly's metadata which staticall

[2017-06-21 10:22] dsyme commented on #3234
@vasily-kirichenko I will also endeavour to add an option to turn off in-memory cross-project references altogether (leaving them on by default)

[2017-06-21 10:26] vasily-kirichenko commented on #3225
I have this issue as well:
[code]
The code:
(in a compiled dll):
[code]
(in a script)
[code]

[2017-06-21 10:29] vasily-kirichenko commented on #3234
Thanks!

[2017-06-21 10:40] dsyme commented on #3234
I can't yet add the option because I'm getting this error when using the nightly with 15.2 (which is what I'm developing against)

![image](https://user-images.githubusercontent.com/7204669/27380254-567ac2ac-5676-11e7-8452-c144fb3c425f.png)

Not sure what the workaround is for this.  I assume it's working in 15.3 but can't verify

[2017-06-21 10:50] vasily-kirichenko commented on #3234
I have the same behavior on a version dated May, 17.

[2017-06-21 10:57] vasily-kirichenko commented on #3234
I attached to it, no exceptions, nothing in debug output.

[2017-06-21 11:01] Qubitus commented on #3225
@dsyne I've tried to reproduce this behavior in a new test solution, however without result.

I've tried writing a test application from scratch and even importing the original dll's containing the unions.
Each time I got the correct result, but within my original solution I was still experiencing this bug when using a version above 4.0.0.1 of the FSharp.Core NuGet package.

I've now added the fol

[2017-06-21 11:07] dsyme commented on #3225
I see, it seems likely that you were somehow binding to multiple copies of FSHarp.Core

Are you using [AutoGenerateBindingRedirects](https://fsharp.github.io/2015/04/18/fsharp-core-notes.html#use-autogeneratebindingredirectstrue-in-applications)?

[2017-06-21 11:15] Qubitus commented on #3225
@dsyme Yes, I am using AutoGenerateBindingRedirects.

I'm glad I was able to 'fix' my issue, however I keep wondering why I would get an incorrect return value...

[2017-06-21 12:25] dsyme commented on #3088
I suspect this may be the same error as https://github.com/Microsoft/visualfsharp/issues/3234, fixed by https://github.com/Microsoft/visualfsharp/pull/3236

[2017-06-21 12:26] dsyme commented on #3234
Fix is ready

[2017-06-21 13:27] dsyme commented on #3088
@denisnikolayev I haven't been able to run your repro yet (need to install database bits on my machine) but I'm fairly confident that #3236 fixes the problem

[2017-06-21 13:35] vasily-kirichenko commented on #3088
I confirm it's fixed in that PR.

[2017-06-21 13:37] dsyme commented on #3088
Thanks!

[2017-06-21 13:37] dsyme commented on #3088
I'll close this as a duplicate of https://github.com/Microsoft/visualfsharp/issues/3234

[2017-06-21 13:37] #3088 closed

[2017-06-21 13:38] dsyme commented on #3113
@enricosada @KevinRansom ping... (I'm trying to clarify the status of all the "Urgency Now" bugs)

[2017-06-21 13:42] enricosada commented on #3113
@dsyme i am half finished it, i hope one or two days

[2017-06-21 14:16] dsyme commented on #3225
@vasily-kirichenko Could you post a full repro for that please?  Also check my attempt to make a repro if you get the chance

[2017-06-21 14:19] dsyme commented on #3225
@vasily-kirichenko For your case, using VS2017 fsi.exe:

[code]

[2017-06-21 14:37] dsyme commented on #3094
@asik Could you attach exact step-by-step repro with an example project please.

[2017-06-21 15:33] vasily-kirichenko commented on #3225
I used FSharp.Core 4.4.1.0 with F# 4.0 (VS 2015). May it cause that behavior? I've downgraded to 4.4.0.0 and it works now. If FSharp.Core 4.4.1.0+ must not be used with F# compiler 4.0, we should document it and make very visible.

[2017-06-21 18:22] asik commented on #3094
1. File -> New Project -> Visual F# -> Console Application
2. Replace Program.fs with the following code:
[code]
3. Switch to Release configuration

After ~1 second the coloring changes but only partially.
After 8-11 seconds the coloring changes again and this time it is correct.

4. Switch to Debug configuration.
5. Focus some other windows outside Visual Studio and keep the mouse cursor outside

[2017-06-21 20:38] dsyme commented on #3094
@asik Thanks, I repro that behaviour too

[2017-06-21 20:41] dsyme commented on #3225
I'm not aware of a technical reason why that combination would cause that behaviour, but will try to repro it

[2017-06-21 21:16] #3234 closed

[2017-06-21 21:54] dsyme commented on #3094
Here is a trace from the reactor thread when the configuration switch happens:
[code]

[2017-06-21 22:17] dsyme commented on #3094
The problems are

1. three calls to "pausing 1 second" by the FSharp.Compiler.Service before beginning background work.  I believe these can basically be removed, perhaps we pause 0.05 seconds instead to allow more UI requests to be processed

2. a very long 3.5 second pause by Roslyn  here:
[code]

I don't know why it is pausing that long before firing an analyzer (or more precisely, for the anal

[2017-06-21 23:08] dsyme commented on #3094
This is what it looks like after
* removing the 1 second pauses
* removing the startup pauses for the above 4 analyzers (which get run in sequence)
* disabling the SimplifyName analyzer, since that can take a long time to run (this is surely the cause of a lot of problems if the analyzers are not always being called in parallel, which seems to be the case afer Reanalyze is called)

The overall rea

[2017-06-22 00:45] dsyme commented on #3094
@asik https://github.com/Microsoft/visualfsharp/pull/3238/ makes some improvements if you would like to give it a go.

[2017-06-22 00:49] dsyme commented on #2107
@saul Could you try with https://github.com/Microsoft/visualfsharp/pull/3238/?

In particular [this line](https://github.com/Microsoft/visualfsharp/pull/3238/files#diff-cdf0a4fbb7615b8029d78133924259c3R451) appears to have made a pretty ramatic difference when loading ``tests\projects\stress\huge\dense\Dense.sln``

[2017-06-22 03:15] asik commented on #3094
I am going on a long vacation so I probably won't be firing up Visual Studio anytime soon. But I'm happy to see progress being made on this issue.

[2017-06-22 05:07] realvictorprm commented on #2107
I'll test this too.

[2017-06-22 12:43] dsyme commented on #3229
@BentTranberg Can you check against master?  This looks like the same bug as #3120 and it appears fixed when I am using master

I had to build the solution in order to get intellisense to show

[2017-06-22 12:43] #3229 closed

[2017-06-22 12:45] dsyme commented on #3009
Closing old discussion issue

[2017-06-22 12:45] #3009 closed

[2017-06-22 12:48] dsyme commented on #3054
@realvictorprm I believe much of this is addressed by #3238. Could you try that out (or nightly once integrated)?

@0x53A It is unclear to me if #3238 addresses your issues, which seem about correctness not perf

There are undoubtedly some remaining sources of slowness. Please resubmit a new issue with repro steps for any specific cases. thanks

[2017-06-22 12:50] dsyme commented on #3235
Closing as only `Proto\net40\bin\FSharp.Core.dll`` is built this way, ``Release\net40\bin\FSharp.Core.dll`` is still built the same way AFAICS

[2017-06-22 12:50] #3235 closed

[2017-06-22 12:56] dsyme commented on #3225
@vasily-kirichenko @Qubitus I still can't repro this even when using the F# 4.0 compiler (I was using the one that comes with Visual Studio 2015)

1>------ Rebuild All started: Project: Library4, Configuration: Debug Any CPU ------
1>C:\Program Files (x86)\MSBuild\14.0\bin\Microsoft.Common.CurrentVersion.targets(1820,5): warning 1>	C:\Program Files (x86)\Microsoft SDKs\F#\4.0\Framework\v4.0\fsc.ex

[2017-06-22 12:56] dsyme commented on #3225
I'll close this as we don't have a repro using F# 4.1

[2017-06-22 12:56] #3225 closed

[2017-06-22 12:57] dsyme commented on #56
Closing as suggestion is tracked by https://github.com/fsharp/fslang-suggestions/issues/542

[2017-06-22 12:57] #56 closed

[2017-06-22 12:59] dsyme commented on #481
Closing this old issue - it is by design to show "string" in ``?x : string``

[2017-06-22 12:59] #481 closed

[2017-06-22 13:00] dsyme commented on #582
Closing in favour of master bug #2544

[2017-06-22 13:00] #582 closed

[2017-06-22 13:08] dsyme commented on #619
@TIHan The F# compiler is considering the transformation from

        x1 * x2 + y1 * y2 + z1 * z2

to

        v1.x * v2.x + v1.y * v2.y + v1.z * v2.z

as potentially duplicating work because field reads are being duplicated.

I'll close this because it's not clear that the adjusting codegen to consider field reads to be "free" is a good idea unless we get detailed perf results about the situatio

[2017-06-22 13:08] #619 closed

[2017-06-22 13:08] 0x53A commented on #3222
@dsyme Currently I don't have any spare time to continue with this. Rider works mostly, so I'm using that, and we only have a few F# projects anyway, atm most of my time is in C#.

In a few days I will try again to a) reduce it, and b) send either the original, or the reduced solution to you.

Just to clarify for your title edit, really nothing works, it's not just colorization that's missing. And

[2017-06-22 13:08] 0x53A commented on #3054
@dsyme yeah, my issue is not time based. I can try out the next master (later ...) anyway, but I don't have any hope that that will magically fix it.

[2017-06-22 13:09] dsyme commented on #702
Duplicate of https://github.com/Microsoft/visualfsharp/issues/1040

[2017-06-22 13:09] #702 closed

[2017-06-22 13:10] dsyme commented on #1204
There has been a lot of work on prioritization since the more to Roslyn.  I'll close this old specific issue

[2017-06-22 13:10] #1204 closed

[2017-06-22 13:12] dsyme commented on #1784
This is external.  @morrisjoe do you have a tracking bug we can link to for the feature request for your team? thanks

[2017-06-22 13:14] dsyme commented on #1504
Closing in favour of language tracking suggestion https://github.com/fsharp/fslang-suggestions/issues/585

[2017-06-22 13:14] #1504 closed

[2017-06-22 13:18] dsyme commented on #2754
This is a language suggestion, closing to track by https://github.com/fsharp/fslang-suggestions/issues/586

[2017-06-22 13:18] #2754 closed

[2017-06-22 13:23] dsyme commented on #3222
@0x53A Thanks, I totally understand.  Reducing repros from problems that occur in large private solutions is super important. But also super time consuming.

If you send me the original solution privately with repro steps then I can deal with that

thanks again

[2017-06-22 13:40] dsyme commented on #3231
@knocte It will be in the 15.3 update, and is in the process of being integrated into the Mono 5.x series (which already contain F# 4.1, but not this fix)

[2017-06-22 13:40] #3231 closed

[2017-06-22 13:41] dsyme commented on #2609
fixed, thanks

[2017-06-22 13:41] #2609 closed

[2017-06-22 13:44] dsyme commented on #2542
I'll close this now as it's been inactive for a while and there isn't a specific repro

[2017-06-22 13:44] #2542 closed

[2017-06-22 13:44] dsyme commented on #2502
This has been done

[2017-06-22 13:44] #2502 closed

[2017-06-22 13:47] dsyme commented on #2224
@cartermp Do we have a tacking .NET JIT bug for this? thanks

[2017-06-22 13:51] dsyme commented on #2118
I'm closing - agreed this is an annoyance, and something we could improve, but not something we need to track with an issue

[2017-06-22 13:51] #2118 closed

[2017-06-22 14:25] dsyme opened #3241 "Standalone file gives error about System.ValueTuple.dll.dll missing"
Using a standalone .fs file I see this error:

![image](https://user-images.githubusercontent.com/7204669/27439105-f8757136-575e-11e7-8b72-ab806e53227e.png)

[2017-06-22 14:48] dsyme commented on #3059
@Tarmil We will need a reliable step-by-step repro for this, I haven't been able to repro it

Please reopen if you get an exact repro

[2017-06-22 14:48] #3059 closed

[2017-06-22 14:53] dsyme commented on #3034
I don't reproduce either, will close for now

[2017-06-22 14:53] #3034 closed

[2017-06-22 14:56] #3185 closed

[2017-06-22 14:56] dsyme commented on #3185
done

[2017-06-22 15:02] dsyme commented on #3216
@cartermp I am seeing this even with 15.2 + master.  I don't know what this issue is though

[2017-06-22 15:03] dsyme commented on #3046
The external issue has now been resolved

[2017-06-22 15:03] #3046 closed

[2017-06-22 15:05] dsyme commented on #2932
@enricosada Can you repro this? thanks

[2017-06-22 15:12] dsyme commented on #2864
Fixed by direct commit in https://github.com/Microsoft/visualfsharp/commit/e69a774973a79b3d605c7f623b3dc612d8e067b0

[2017-06-22 15:12] #2864 closed

[2017-06-22 15:12] dsyme commented on #3037
This has been done

[2017-06-22 15:12] #3037 closed

[2017-06-22 15:30] saul commented on #2107
@dsyme that sounds fantastic :) Unfortunately I can't build the tools at work, but once it's merged I can try it out.

[2017-06-22 15:32] saul commented on #3086
@vasily-kirichenko I think the fix here is to not commit autocomplete on `]`

[2017-06-22 15:33] dsyme commented on #2107
There are a lot of variables here so I'm only cautiously optimistic.  If it doesn't work then let's make a synthetic repro project that captures your characteristics better and reveals the regression

[2017-06-22 15:35] saul commented on #3220
@mattmccutchen-microsoft I can't repro this anymore. Are you using the latest nightly?

[2017-06-22 15:37] saul commented on #2961
This has been significantly interfering with my ability to code this week, I'm using generics everywhere and this is making it even more painful than it needs to be.

@vasily-kirichenko can you point me in the right direction for the code that needs to be changed here?

[2017-06-22 15:53] cartermp commented on #3216
Likely a roslyn refs issue on master.  @brettfo should have this fixed in the forthcoming preview of 15.3

[2017-06-22 15:54] dsyme commented on #3220
I don't repro this either.  I believe there was a fix in this area, so we can close

[2017-06-22 15:54] #3220 closed

[2017-06-22 15:54] dsyme commented on #3216
OK, thanks - @brettfo  can you check please?

[2017-06-22 15:57] cartermp commented on #2224
Not sure.  @KevinRansom have you confirmed that this is being looked at by the JIT team?

[2017-06-22 16:32] dsyme commented on #2399
This is a duplicate of https://github.com/Microsoft/visualfsharp/issues/3049 (it is also by design - the type provider needs to be adjusted)

[2017-06-22 16:32] #2399 closed

[2017-06-22 16:37] dsyme commented on #2720
@blumu Thanks for looking into this in such detail. I'm not sure what to do here - Historically Mono has had bugs that affect async, but there are no known remaining bugs in this area Mono 5.x.

I think I will close this since it only affects a particular verion of Mono.  If it is still having problems with Mono 5.x then please add a bug in the Mono bug tracking system and reopen this bug here?

t

[2017-06-22 16:37] #2720 closed

[2017-06-22 16:40] dsyme commented on #595
This was fixed a long time ago

[2017-06-22 16:40] #595 closed

[2017-06-22 16:42] dsyme commented on #675
Closing in favour of #393 which is being used as the master bug for all issues with ``--sig``

[2017-06-22 16:42] #675 closed

[2017-06-22 16:43] dsyme commented on #814
Closing this old test issue

[2017-06-22 16:43] #814 closed

[2017-06-22 16:48] dsyme commented on #844
This is a very old bug report.  I checked what happens on VS2017 today and the AutoGenerateBindingRedirects means the final config file contains the right settings

[2017-06-22 16:48] #844 closed

[2017-06-22 16:48] dsyme commented on #975
This is a duplicate of https://github.com/Microsoft/visualfsharp/issues/232

[2017-06-22 16:48] #975 closed

[2017-06-22 16:50] dsyme commented on #1248
@KevinRansom What's the status on this old tracking issue?  Is it needed to complete the .NET Core work?

[2017-06-22 16:56] dsyme commented on #2010
@forki Should we close this, or else submit a PR for the inconsistent english messages?  thx

[2017-06-22 16:56] forki commented on #2010
I won't too much work

[2017-06-22 16:56] #2010 closed

[2017-06-22 16:58] dsyme commented on #1293
Fixed the error message.  Anything else here would be a language suggestion (please open an fslang-suggestion issue if you'd like it tracked)

[2017-06-22 16:58] #1293 closed

[2017-06-22 17:05] dsyme commented on #2010
:) Yes, I read the thread about 5 times and thought the same!

[2017-06-22 17:28] dsyme commented on #3086
@saul That sounds good

[2017-06-22 17:31] dsyme commented on #2149
Tracking as an FCS bug https://github.com/fsharp/FSharp.Compiler.Service/issues/783

[2017-06-22 17:31] #2149 closed

[2017-06-22 17:33] dsyme commented on #1746
I've never seen this problem, and I work on an x64 platform all the time.

I think we can close it because no one else has reported the problem.

@destroyhimmyrobots please reopen if you see this again?

thanks

[2017-06-22 17:33] #1746 closed

[2017-06-22 17:38] dsyme commented on #2410
Closing as the major issues have been fixed

[2017-06-22 17:38] #2410 closed

[2017-06-22 17:58] amazingant commented on #2399
@dsyme Understood. Is it possible for some of the documentation around type providers to be adjusted to point this out and highlight how easy it is to run into? This is the single reason that I cannot open any of my work projects in VS 2017, until management gives me time to go back and adjust our internally-developed type providers and update third-party ones.

It was easy enough for me to get th

[2017-06-22 18:26] dsyme opened #3244 "Make SimplifyName analyzer off by default rather than disabled"
See https://github.com/Microsoft/visualfsharp/pull/3238#discussion_r123585155

[2017-06-22 18:47] dsyme commented on #2399
@amazingant Yes, it's a significant overall issue. We need to revamp type provider docs for .NET Core too.

Probably the best place to add a tracking issue for type provider docs and basic SDK issues is  in https://github.com/fsprojects/FSharp.TypeProviders.StarterPack/

[2017-06-22 19:22] dsyme commented on #2729
The problem here is that https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/CheckFormatStrings.fs#L52 is not taking into acount that simple ``"abc"`` strings in F# can use ``\`` at the end-of-line.  This means that the reconstructed format string is incorrect, with dangling ``\`` characters

The fix is probably a simple hack to take that kind of string into account when regenerating

[2017-06-22 19:24] kmiller77 commented on #2100
I'm on version 15.2 (26430.14) and i still see these errors :/

Warning	AD0001	Analyzer 'Microsoft.VisualStudio.FSharp.Editor.FSharpDocumentDiagnosticAnalyzer' threw an exception of type 'System.Threading.Tasks.TaskCanceledException' with message 'A task was canceled.'.

[2017-06-22 19:30] vasily-kirichenko commented on #3086
I think we should not commit on any character but Enter and Tab.

[2017-06-22 19:40] Pilchie commented on #3086
@vasily-kirichenko VS supports "Suggestion mode" completion, where there is an extra field at the top, and commit of the "soft selected" item only happens with tab, or after an explicit selection in the window.

In C# you can toggle into that mode with this toolbar button:

![image](https://user-images.githubusercontent.com/312835/27452570-e0991674-5747-11e7-91ca-ca5eba6e3db4.png)

Not sure if F#

[2017-06-22 19:44] dsyme commented on #2100
@kmiller77 Yes, the fix will be in 15.3

[2017-06-22 19:48] kmiller77 commented on #2100
Excellent, thank you!!!!

[2017-06-22 22:13] dsyme commented on #2107
@realvictorprm Thanks, it would be great if you can test this

@saul I'm going to close this now #3238 has been pulled, but please reopen (or open a new bug) if your load times are still regressed from VS2015

[2017-06-22 22:14] dsyme commented on #3094
@asik Thanks for reporting this.  I'll close it now #3238 has been fixed. As metnioned on the bug this doesn't make everything "instantaneous", but it is a good improvement

[2017-06-22 22:14] #3094 closed

[2017-06-22 22:23] brettfo commented on #3216
This appears to be a different issue; I'm seeing the error on both VS 15.2 (with nightlies) and on 15.3 preview (without nightlies).

[2017-06-22 22:24] dsyme commented on #3000
We've investigated the delays and made considerable improvements https://github.com/Microsoft/visualfsharp/pull/3238.  This includes a fix for a potentially unbounded delay in large files, as described in the PR, as well as other improvements

[2017-06-22 22:24] #3000 closed

[2017-06-22 22:33] dsyme commented on #3000
@isaksky I looked at your repro

https://github.com/isaksky/FsSqlDom/blob/master/examples/GraphTableRelationships.fsx

In normal editing in that file errors now take 3-4 seconds to refresh

[2017-06-22 22:39] dsyme commented on #3216
@brettfo @cartermp OK, then we **really** need to fix this.....

[2017-06-22 22:45] dsyme commented on #3216
Might be relevant (though I see other similar errors thrown)
[code]

[2017-06-22 22:59] dsyme commented on #3216
@brettfo @cartermp @vasily-kirichenko Is this just something we get when using  the VisualFSharpOpenSource,vsix?

For example I see these in the code:
[code]
But I don't see at least two of these options pages here:
![image](https://user-images.githubusercontent.com/7204669/27459418-10638f70-57a6-11e7-9039-78c392ed51e2.png)

So it seems there's a mismatch going on = something just isn't right.  Is

[2017-06-22 23:04] dsyme commented on #3216
@brettfo Were you using VisualFSharpOpenSource.vsix?  Any idea on what might be missing ? thx

[2017-06-23 02:33] knocte commented on #3231
Thanks for the info, but what is 15.3 exactly? Is it a minor version number? F# 4.1.15.3? Where is that version number reflected?

[2017-06-23 02:43] cartermp commented on #3231
15.3 --> VS 2017 Update 3.

VS 2017 is the 15th version of VS and how we refer to it internally.  That leaks out into GitHub sometimes out of habit.

[2017-06-23 02:53] knocte commented on #3231
ok thanks very much @cartermp

[2017-06-23 04:00] buybackoff commented on #1637
I have created a simple workaround for this - just to [rewrite](https://github.com/Spreads/Spreads/blob/master/tools/ILSub/Program.cs#L207-L227) IL after build and repack it with ilasm. It was simpler than #3154 for me. Such trick was used in corefxlab in the very early implementation of the `S.R.CS.Unsafe` package. All code is in [this commit](https://github.com/Spreads/Spreads/commit/e05817cc008

[2017-06-23 05:50] vasily-kirichenko commented on #3216
@dsyme those other property pages are under Editor -> F# nodes.

[2017-06-23 05:52] vasily-kirichenko commented on #3216
And they works OK.

[2017-06-23 08:20] dsyme commented on #3216
Oh! I see. I had no idea.  We should move the old "Intellisense" node there or remove it

[2017-06-23 08:20] dsyme commented on #3216
@vasily-kirichenko Thanks :)

[2017-06-23 09:36] dsyme commented on #1635
@forki I've submitted https://github.com/Microsoft/visualfsharp/pull/3248 to improve the error message rather than change the language design

[2017-06-23 10:20] #3241 closed

[2017-06-23 10:28] #2632 closed

[2017-06-23 13:35] ArtemyB opened #3250 "VS automatic brace completion support"
I think, it should be clear what this is all about. Probably everybody knows and rememers that already.

For now there is no automatic closing of: `()` , `[]` , `{}` , `""` , `''`. And "Automatic brace completion" setting  in "Options → Text Editor → F# → General" is not available to turn on/off.

#### Repro steps

1. Type `(` , `[` , `{` , `"` or `'` in VS F# text editor.

2. See that there is no

[2017-06-23 14:32] isaksky commented on #3000
@dsyme This is great news!

[2017-06-23 15:09] dsyme commented on #3000
@isaksky Please try master or nightlies as they become available. The more you can validate (and find new issues with repros) the better

BTW all the very best for XLedger - exciting!

[2017-06-23 15:40] dsyme commented on #3216
I'm closing this since the "Editor -> F#" pages are working fine

@vasily-kirichenko Do you see the same "F# Tools --> Intellisense" page error that I indicate above?  I can't find where that old page is created in the code.  It must be somewhere in the old C# project system code but searching for the obvious strings doesn't show it.

[2017-06-23 15:50] dsyme commented on #1637
@buybackoff The fix https://github.com/Microsoft/visualfsharp/issues/3154 is now ready

[2017-06-23 16:01] vasily-kirichenko commented on #3216
@dsyme yes, I see the same error. However, I'm not sure it's an old prop page, I think it was added several months ago and should be repaired.

[2017-06-23 16:05] dsyme commented on #681
@kurtschelfthout Apologies I didn't answer when you wrote your comment above.  You were exactly right - the code there needed to be adjusted, and I fixed the garbled comment

See https://github.com/Microsoft/visualfsharp/pull/3251

Thanks!

[2017-06-23 16:08] toburger commented on #3000
I can confirm that build 15.4.1.17062301 is now much faster and responsive.

[2017-06-23 16:09] dsyme commented on #3216
OK, thanks.

[2017-06-23 16:23] cartermp commented on #3216
Yes, this pagewas added a few months back.  I had thought that the issue was Roslyn refs and that @brettfo  had addressed that issue

[2017-06-23 16:24] ImaginaryDevelopment commented on #2100
any eta? or link to the vs update that will encapsulate it?

On Thu, Jun 22, 2017 at 3:48 PM, kmiller77 <notifications@github.com> wrote:

[2017-06-23 16:24] dsyme commented on #3216
@cartermp - @brettfo says

[2017-06-23 16:26] dsyme commented on #2100
@ImaginaryDevelopment You can either
- switch to the nightly https://blogs.msdn.microsoft.com/dotnet/2017/03/14/announcing-nightly-releases-for-the-visual-f-tools/
- build master
- wait for Visual Studio 2017 Update 3 (= version "15.3")

[2017-06-23 16:34] dsyme commented on #3216
@cartermp Note that this "IntelliSense" option page is working ok:

![image](https://user-images.githubusercontent.com/7204669/27491391-1f3ffaee-583a-11e7-8c11-eba72dd417d0.png)

It's this strange one that isn't:

![image](https://user-images.githubusercontent.com/7204669/27491415-317a8c06-583a-11e7-8642-2bd78951f2df.png)

[2017-06-23 17:09] matthid commented on #3219
@eiriktsarpalis That answer makes me a bit sad to be honest.

In principle I agree with you: Asyncs should be cancelled immediately.
But when interacting with the real work (ie. with tasks) it doesn't make any sense to just "pretend" that stuff has been cancelled when **in fact it hasn't**. It's not only wrong, it can set wrong expectations and introduce subtle bugs.

When you get the cancellation

[2017-06-23 17:22] buybackoff commented on #1637
@dsyme Thanks a lot! When it will be available? Several percents are not a game changer but they are real and free 😄

[2017-06-23 17:30] BentTranberg commented on #2100
@dsyme, I am a bit confused following your last comment. I have VS 2017 Pro 15.2 (26430.14), and Visual F# Nightly 15.4.1.17062301. I still see the warnings, and my understanding from the conversations I have been following was that this was expected until I get Update 3. But if you did not expect me to see the warnings at my current setup, please let me know so I can start work on creating a new

[2017-06-23 17:32] matthid commented on #3219
@eiriktsarpalis Maybe I should ask the other way around: What would you suggest for my scenario? I use asyncs though some level of a call-stack and have cancellation in place. Now I want to mark some "await" places in such a way that I can print where it was waiting at some topmost waiting place.

Example:

[code]

Note: The only thing I want is useful/custom information in the exception object.

[2017-06-23 17:53] dsyme commented on #2340
Just to mention I had a build problem with a project file using the raw "cmd" command prompt (on AppVeyor CI actually) which was fixed by adding this to the top of the project file (for some reason it was missing)

     <Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" Condition="Exists('$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props')

[2017-06-23 17:54] eiriktsarpalis commented on #3219
This really begs the question: why are you passing a cancellation token to the parent workflow in the first place?

[2017-06-23 17:57] eiriktsarpalis commented on #3219
It's pretty much the point of the cancellation continuation: signalling cooperative cancellation without caring about the result of the computation. It should be used with care.

[2017-06-23 18:12] dsyme commented on #2100
Hmmmm... I am no longer seeing these warnings (unless I've been blanking them out without thinking about it).  If you have a simple repro please send it along (open a new issue or add it here)

[2017-06-23 18:15] dsyme commented on #1637
@buybackoff probably not until Visual Studio 2017 Update 4, unless you're using some other packaging of the F# compiler.  Maybe Visual Studio 2017 Update 3 but that depends on what the Microsoft ship people decide.

[2017-06-23 18:16] saul commented on #2100
@dsyme for what it's worth I've been on the nightlies for weeks now and haven't seen a single one (this is on a 400 project solution, and I was seeing them tons before).

[2017-06-23 19:05] #3244 closed

[2017-06-23 20:03] matthid commented on #3219
@eiriktsarpalis Sorry for being so resistant and thanks for taking the time to answer :)

So this basically means to never use it? Tbh. I already argued above that it's probably better to pass my own tokens. I thought I could use the build-in feature for this and get around passing my own tokens everywhere....

I do not care about the result. I do care about errors in the cancellation process. And

[2017-06-23 20:45] eiriktsarpalis commented on #3219
For all intents and purposes I consider exceptions to also be results of a computation. Exceptions can be caught and used for control flow. Cancellation cannot be caught and does not yield a result; it only allows for finally blocks to be executed.

I don't. I content that the behaviour isn't even related to StartAsTask, but it's part of the nature of tasks, that is different to Async in many sign

[2017-06-23 20:47] blumu commented on #2720
OK. (We have not seen this issue again since we've upgraded to a more recent version of Mono.)

[2017-06-23 21:08] matthid commented on #3219
@eiriktsarpalis Yes I agree that tasks work differently and work by passing the token explicitly.
But that's not the point I'm making. Even if you use `httpClient.SendAsync(request, ct)` or a similar function we currently don't "wait" for the cancellation to properly finish. We just immediately abort the Task returned by `StartAsTask`. It's not a cooperative cancellation whatsover. It is really ju

[2017-06-23 21:13] matthid commented on #3219
And fundamentally I still think we should forward the exception information as inner exceptions there is just no reason not to do that

[2017-06-23 21:15] matthid commented on #3219
This might even bring our two opinions together because then I'd agree that we can change the `RunSynchronously` behavior (but again we need to preserve the original information as "inner" Exception, otherwise it is lost)

[2017-06-23 21:29] kurtschelfthout commented on #681
No worries, thanks for fixing!

[2017-06-23 21:45] #1611 closed

[2017-06-23 21:46] eiriktsarpalis commented on #3219
Cancellation continuations don't pass any information, for good reason imo. I don't see how you could achieve this without rewriting async internals and risk breaking backward compat in the process. The payoff seems extremely tiny to justify this, and goes against -at least what I consider- good practice when using async cancellation.

You are right to point out that StartAsTask cancels immediatel

[2017-06-23 21:51] #681 closed

[2017-06-23 21:52] BentTranberg commented on #2100
This is a reasonably small repro. I suspect it takes a certain amount of source, so I haven't tried to minimize it. Never mind what the source looks like. I used a machete on it.

I haven't found a way to reproduce the warnings consistently at this time. (See my previous post above for version information at this time.) Try to compile, open files, edit some here and there, but don't leave compile

[2017-06-23 21:52] #1720 closed

[2017-06-23 22:02] cartermp commented on #3092
I can reproduce this with Alt+Enter, but not with right-click+Execute in Interactive.

1. Start VS
2. Create new F# Script file (Script1.fsx)
3. Write some quick, basic code
4. Select all and Alt+Enter

[2017-06-23 22:11] cartermp commented on #3216
Okay, so I can confirm on the latest 15.2 + Nightlies that the latter (F# Tools --> IntelliSense) is not working.  The new configuration for QuickInfo and IntelliSense loads and works.

Re-opening, because these are needed to unblock @moloneymb.

[2017-06-23 22:36] BentTranberg commented on #2100
I compiled Repro4.zip on another freshly installed machine with a fresh VS 2017, and got these warnings.

![image](https://user-images.githubusercontent.com/15068882/27502430-4a371f4a-5874-11e7-9a86-0d7e05ad47b0.png)

I haven't seen these before. I should have. Right now the only explanation I can think of, is that these are warnings that should have been reported instead of the warnings we are st

[2017-06-24 07:28] matthid commented on #3219
@eiriktsarpalis Ok one last try to clarify..

Are those written anywhere to compare with?

IMHO this issue is all about which information the cancellation should give to the waiter. You say it should be none, but than there is absolutely no point in the cancellation-process (1). For me this information should be given:

- It should return (by default) only when everything was successfully cancelle

[2017-06-24 07:37] matthid commented on #3219
I think we should task about compatibility later (if we can agree on something), but to be honest I don't see a lot of problems there: I don't think there is any existing code depending on "InnerException" being `null` on the `OperationCancelledException`. I feel the change you suggest on `RunSynchronously` could be more harmful if people depend on a different exception at the moment (but I'd acce

[2017-06-24 07:50] eiriktsarpalis commented on #3219
I think I need ask again, why do you want to cancel the parent workflow?
On Sat, Jun 24, 2017 at 08:37 Matthias Dittrich <notifications@github.com>
wrote:

[2017-06-24 07:51] matthid commented on #3219
@eiriktsarpalis I don't understand. What else should I cancel? Can you give a sample?

[2017-06-24 07:53] eiriktsarpalis commented on #3219
In the app you are writing, what prompts you to wire the parent to an
external cancellation token?
On Sat, Jun 24, 2017 at 08:51 Matthias Dittrich <notifications@github.com>
wrote:

[2017-06-24 08:00] matthid commented on #3219
@eiriktsarpalis Not sure how that matters here. I'm discussing the problems on a fundamental level.

But basically you can see it in the paket pull request I linked in my initial post. What I was trying to do is to start some request logic which is doing requests to servers, some logic and eventually end up with a value. This is started in some custom "pre-loading" scheduler. Now at some point suc

[2017-06-24 08:21] eiriktsarpalis commented on #3219
My opinion is that binding on an asynchronous computation that could be
cancelled is bad practice. I typically reserve the functionality that don't
return anything (such as disposing mailbox processors or scheduling
`Async<unit>` jobs that have proper fault tolerance set up).

Attempting to route the ccont into the econt is futile, just look at how
[`bind` is implemented](
https://github.com/Micro

[2017-06-24 08:50] matthid commented on #3219
@eiriktsarpalis Sorry I don't get it. Escaping the token is not my problem. I already scoped it in `StartAsTask`, that's why I opened this issue (which is about `StartAsTask` behavior being wrong).

So maybe it helps to answer my question about which properties you expect from cancellation? Because obviously you don't agree with mine from above...

[2017-06-24 09:00] forki opened #3252 "Improve error message for let! in invalid location (e.g. r.h.s. of ``let``)"
This code doesn't compile:

    let f() = async { return 1 }
    let a = async {
        let x =
            match 1 with
            | 1 ->
                let! x = f()
                x
            | _ ->  1
        return x
    }

![image](https://user-images.githubusercontent.com/57396/27507255-a256090a-58cb-11e7-8814-68a2e3331f65.png)

The message is misleading since I'm inside an async workf

[2017-06-24 09:04] realvictorprm commented on #3252
I think this is a bug, however I'm still looking into language specs.

[2017-06-24 09:04] matthid commented on #3252
I thought about making a language suggestion about this, because this is in fact frustrating from time to time.
But it looks quite hard to do, because even if we implicitly add the `async` scope to the match your code wouldn't compile, because at the very least you need to use `let! x =` instead of `let x =`
and within the match you probably would need to use `return` in both match cases which is

[2017-06-24 09:06] realvictorprm commented on #3252
I agree on @matthid's idea. I'm not yet that into the compiler so any ideas where we can add this check?

[2017-06-24 09:07] matthid commented on #3252
@realvictorprm I'm pretty sure it's according to the spec, it was like this forever. You explicitly need to mark computation expressions, they don't get inherited by regular bindings...

[code]

is the only way.

[2017-06-24 09:12] realvictorprm commented on #3252
Ah no you are right @matthid. I'm sorry so tiny little details here. Should we really consider to get this working?

[2017-06-24 09:18] matthid commented on #3252
To be honest I tried to write a spec/suggestion to do it implicitly (ie make @forki's code "just work" / leave out the inner async block) but I couldn't find a syntax I was happy with. I guess that's the reason we don't have it. Also there are so much emerging problems (for example that you still need to use `return` and how would the compiler do this in a backwards compat way?). That I just got o

[2017-06-24 09:21] realvictorprm commented on #3252
@matthid We would need to keep information about whether the current code is in an async block.

On the other hand, honestly isn't the example code an example for bad async code?

[2017-06-24 09:37] realvictorprm commented on #3252
@forki Would it help to change it to "This construct may only be used within computation expressions. _Global computation expressions don't apply to inner bindings._"

[2017-06-24 09:42] forki commented on #3252
If we can't make it compile then the error message should point me in the right direction to resolve it. This is not very easy here, but I just wanted to raise it since the workarounds end in really annoying code.

[2017-06-24 09:44] realvictorprm commented on #3252
@forki so far I saw (through debugging) we need to add further properties or checks which point out whether the current function lies inside of an async block.

If we want this to work we need to think about which further changes need to be applied and then extend the specification + compiler

[2017-06-24 10:42] matthid opened #3253 "Trouble downloading StrawberryPerl64 package means build fails"
is a frustrating experience :)

From https://github.com/Microsoft/visualfsharp/blob/master/DEVGUIDE.md I installed the dependencies, cloned the repository and run `build.cmd`:

[code]

or sometimes

[code]

Please provide a succinct description of the issue.

#### Expected behavior

Non-Error message? Successful Build?

#### Actual behavior

See error above.

#### Known workarounds

@forki told me

[2017-06-24 11:14] forki commented on #3253
Yeah unfortunately this is very common.

Am 24.06.2017 12:42 schrieb "Matthias Dittrich" <notifications@github.com>:

[2017-06-24 11:38] vasily-kirichenko commented on #2961
@saul You can make https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/vs/ServiceUntypedParse.fs#L930 return `CompletionContext.Invalid` if we are at type parameters or add a new case into it and handle it in https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/vs/service.fs#L783

[2017-06-24 11:39] vasily-kirichenko commented on #2961
But I suspect there's no AST in code like `type My<|`

[2017-06-24 11:57] eiriktsarpalis commented on #3219
So to summarize what (I think) is being discussed here:
1. `Async.StartAsTask` cancellation wired directly to the input token, rather than a cancellation continuation.
2. Cancellation continuations should preserve exception information, or should even just use the exception continuation.

I maintain that the two issues are independent. Are you aiming at both here or do you really only care about o

[2017-06-24 12:11] matthid commented on #3219
Wow sad. So you actually saying cancellation is undefined (there are no guarantees to anything). Which imho means it should just never be used ever. And we leave it like this for the sake of backwards compat...

[2017-06-24 12:16] eiriktsarpalis commented on #3219
Am I being sad for pointing this out? Is it an issue of opinion? I think I've provided more than enough data to back this up.

[2017-06-24 12:18] eiriktsarpalis commented on #3219
Please also explain to me how you expect the following to have deterministic cancellation:
[code]

[2017-06-24 12:26] matthid commented on #3219
No I'm sad :). Sorry it shouldn't be offensive. It's just that I don't agree with your position. I think we should have a set of guarantees in the default implementations and provide primitives to lift some of those guarantees explicitly (if the user don't need them).

Which data? I can only see references to the existing implementation. I'm talking about changing those. I also don't agree with yo

[2017-06-24 12:30] matthid commented on #3219
That's what I'm talking about the whole time so your example is a good one. We should take a practical approach here. We shouldn't pretend that we can cancel something running in the real world, this only leads to confusion and broken code/subtle bugs.

[2017-06-24 12:39] matthid commented on #3219
This doesn't make any sense to me. You say it's by design because it is implemented this way?

I don't get why we cannot change this, make the thing well defined and keep potentially critical information. I think I will step in and try to provide an implementation (to see what changes are actually required to provide this)... Accepted or not: It might make the discussion easier (because atm I don'

[2017-06-24 13:20] realvictorprm commented on #3253
Is there somewhere the story why we need this big package @forki?

[2017-06-24 13:27] vasily-kirichenko commented on #3253
It's used to run tests. Why do you ask?

[2017-06-24 13:30] realvictorprm commented on #3253
cc @vasily-kirichenko
It's a very big package (about 700mb?) and consumes always space on my main hard drive which has less space. Can we somehow refactor the tests so we aren't depending on this nuget package anymore?

[2017-06-24 13:32] forki commented on #3253
Yes we could refactor the tests to use f#. @enricosada started a long time ago. Don't know status.

[2017-06-24 13:35] realvictorprm commented on #3253
Thanks @forki. So I asume @dsyme was fine with this too, right?
@enricosada I would like to take care of re-factoring the tests. Will be a nice and educational experience.

[2017-06-24 13:38] forki commented on #3253
Don't underestimate the amount of work

[2017-06-24 13:40] realvictorprm commented on #3253
@forki Do we have a seperate issue for this? Should I open one to stop spamming here with details?

[2017-06-24 13:41] forki commented on #3253
Go through @enricosada's pull request history. Must be somewhere

Am 24.06.2017 15:40 schrieb "Victor Peter Rouven Müller" <
notifications@github.com>:

[2017-06-24 13:46] realvictorprm commented on #603
@dsyme can we still work on removing perl dependencies?

[2017-06-24 13:48] eiriktsarpalis opened #3254 "Async computation hanging in lastest F# 4.1 builds"
While going through the discussion in #3219 I noticed that a particular computation seems to be hanging when run in F# Interactive 4.1

cc @matthid

#### Repro steps

In F# Interactive 4.1
[code]
function test does execute as expected.

#### Expected behavior

Should fail with OperationCanceledException

#### Actual behavior

Hangs indefinitely

#### Related information

This only occurs in F# int

[2017-06-24 13:53] matthid commented on #3254
@eiriktsarpalis If you want I can take care of this as well, as I'm already looking at the code and writing some tests. Even if we don't want to accept my PR as a whole we can probably cherry-pick this fix afterwards (or I can send a separate PR after the discussion)...

[2017-06-24 13:57] matthid commented on #3254
Hm I can't actually reproduce this. I have `Microsoft (R) F# Interactive version 4.1` with
[code]

[code]

Should fsi use another `FSharp.Core` version?

[2017-06-24 13:58] forki commented on #3254
@matthid as a general rule in this project: please split things up in very very small parts. That increases the chances to get something in in time. Bug pull requests often rot for very long time since people are afraid to merge.

[2017-06-24 13:59] matthid commented on #3254
@forki Yeah I know, it's just for discussion and POC once we decide what is acceptable and what not I can split it up. Because this might mean doing things differently...

[2017-06-24 13:59] realvictorprm commented on #3254
@matthid, @eiriktsarpalis I can reproduce this with the latest master starting fsi any cpu in debug mode.

[2017-06-24 14:08] matthid commented on #3254
@eiriktsarpalis I can now reproduce in a unit test :)

[2017-06-24 14:09] eiriktsarpalis commented on #3254
Weird, but it looks like I cannot reproduce when I launch fsi from the command line, only from Visual Studio. I can't reproduce in ionide on windows, but I it happens consistently in ionide on mono. Strange...

[2017-06-24 14:10] realvictorprm commented on #3254
@eiriktsarpalis We need a version dif because it looks like this bug was introduced after the last update for the fsi on windows.

[2017-06-24 14:17] eiriktsarpalis commented on #3254
@realvictorprm Does VF# run a different build of fsi 4.1 than the one installed in the dev tools? Running
[code]
seems to indicate that VF# launches some temp copy
[code]
whereas cli and ionide give the expected path
[code]

[2017-06-24 14:19] eiriktsarpalis commented on #3254
@realvictorprm My linux box uses the latest fsharp OSS built from source, which seems consistent with a recent bug causing this.

[2017-06-24 14:21] realvictorprm commented on #3254
@eiriktsarpalis With the Visual F# solution you will always use the latest version.
However if you're installing the Visual F# tools you're going to use the installed sdk stuff (so far I know).

[2017-06-24 14:23] realvictorprm commented on #3254
Darn I don't know who I should ping :smile:
@eiriktsarpalis can you give the output of fsi after startup (there should be the version included).

[2017-06-24 14:31] eiriktsarpalis commented on #3254
@realvictorprm confirming that this reproduces with the latest master in F# OSS (commit 4f50d4f22e090a59889412f96fdefa0cc209a1c9). There's no version number as such printed in fsi other than the obvious (4.1)

[2017-06-24 14:32] realvictorprm commented on #3254
@eiriktsarpalis I realized so too 😢 Currently trying to figure out the version of fsi on my pc. I do know that the last change to the file has been made on 10th May 😄

[2017-06-24 15:09] matthid commented on #3254
@eiriktsarpalis Problem is probably here: https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/FSharp.Core/control.fs#L1560

What the cancellationToken does at this place is cancel the Task which is RETURNED by `ContinueWith` which means the continuation is never called. I'd remove this parameter.

Bug was introduced here: https://github.com/Microsoft/visualfsharp/commit/7dfa68941ce9f6

[2017-06-24 15:11] matthid commented on #3254
Btw it's a bit strange to call different overloads of `ContinueWith` depending on compiler directives. The helper function `continueWithExtra` even has different signatures as far as I can see...

[2017-06-24 15:14] eiriktsarpalis commented on #3219
I will reiterate that this not my opinion, I'm just describing how cancellation works in F# async. I would still like to know whether you're concerned about issue (1) or issue (2) as I described them earlier. I would also like to know whether your proposal of addressing (2) includes passing cancellation through the exception continuation.

I think a PR addressing (1) would be easier to accept, pen

[2017-06-24 15:23] eiriktsarpalis commented on #3219
On a final note, consider `Async.Parallel` and the recent `Async.Choice`. These are parallelism combinators whose exception semantics behave as follows: on the first child to raise an exception, its siblings are signaled for cancellation and their results are discarded. This happens regardless of whether the siblings were successful or exceptional, their result is simply never surfaced by async. I

[2017-06-24 15:35] matthid commented on #3219
@eiriktsarpalis I'm concerned about both

(1) Yes a fix is probably more straightforward to accept. Not sure if application should depend on the current (imho broken) behavior. We could certainly have some new function (maybe `Task * CancellationToken -> Task` for immediate cancellation - leaving the original task running or an additional parameter).

(2) I'm still looking at it but it doesn't loo

[2017-06-24 16:03] eiriktsarpalis commented on #3219
Implementation difficulties aside, I'm not sure I like the inner exception idea either. In my view an inner exception indicates a root cause for the parent exception. In this case we have an exception saying "I fired because the workflow canceled, but incidentally here's an unrelated exception (or two) that I happened to come across as I was unwinding the stack".

[2017-06-24 16:33] matthid commented on #3219
Now it really is a philosophical question if the cancellation started and continued because the task we were awaiting has honored the cancellation and thrown an exception or if we cancel because the token was marked as cancelled. Again for pragmatical reasons I'd just use that field :)
The super clear solution would probably be to define our own exception type which can collect errors happened whi

[2017-06-25 09:16] enricosada commented on #3253
for `test/fsharp` (cambridege suite) is done.

For fsharpqa i need to finish the PR, is closed until i have time to finish it, but was like 80 test not passing of 2900, and some refactoring needed to address feedback on how integrate it better. https://github.com/Microsoft/visualfsharp/pull/872
Will do in the summer i hope, for sure not before sdk 2.0 is done

[2017-06-26 12:44] dsyme commented on #3216
@cartermp I actually think that @moloneymb needed the "Editor --> F# --> Intellisense" settings (his request came after I told him to look at "F# Tools --> IntelliSense" in a direct communication)

[2017-06-26 12:49] dsyme commented on #3252
@forki Yes, @matthid is correct that [this](https://github.com/Microsoft/visualfsharp/issues/3252#issuecomment-310826738) is the way to code this.

Could you adjust this to be an error message feature request?

thanks
don

[2017-06-26 12:52] dsyme commented on #3253
I'd love to get rid of the dependence on Perl in that test suite.  But yes, it's an annoyingly large job.

[2017-06-26 15:16] dsyme commented on #1637
Merged

[2017-06-26 15:16] #1637 closed

[2017-06-26 15:16] #1635 closed

[2017-06-26 15:16] dsyme commented on #1635
Merged

[2017-06-26 15:45] dsyme commented on #3092
@cartermp Still no repro for me.  What VS setup profile do you have installed?  And any other tools?

[2017-06-26 15:51] cartermp commented on #3092
Default profile when installed - I don't have anything custom.

In this case, I also have Xamarin tools installed.  Perhaps that affected it?  This is on the latest servicing release of 15.2 (though I observed it prior to those servicing releases as well).

[2017-06-26 16:00] cartermp commented on #3252
This would be fantastic as an error message improvement.

[2017-06-26 20:03] auduchinok opened #3259 "Some info is missing in PartialAssemblySignature when signature file exists"
Here're several cases which may be connected:
* Consider a type with attributes declared in `*.fs` and `*.fsi` files. After type-checking the `*.fs` file and getting its partial assembly signature, the type contains attributes from the signature file only. When getting the same type via `GetAllUsesOfAllSymbolsInFile`, all attributes are shown.
* When type-checking a signature file, its partial ass

[2017-06-26 21:12] dsyme commented on #3259
@auduchinok Could you put this issue in http://github.com/fsharp/FSharp.Compiler.Service please? We're still tracking FCS issues there

[2017-06-26 21:37] #3259 closed

[2017-06-26 21:42] dsyme commented on #3259
@auduchinok Add a tracking link here too please when you've opened the new issue, thanks!

[2017-06-26 22:03] realvictorprm commented on #3250
@cartermp shouldn't be too difficult to add right?

[2017-06-26 23:13] brettfo commented on #3216
Thanks to @KevinRansom for helping me look into this.

**Short answer:** The F# Tools -> IntelliSense page is expected to throw an error and not be displayed; the working options page at Text Editor -> F# -> IntelliSense is a superset of the missing page and should be used.  Unfortunately this page never contained the option that @moloneymb was looking for.

**Long answer:** VS 2017 Update 2 shipp

[2017-06-26 23:13] #3216 closed

[2017-06-27 07:19] vasily-kirichenko opened #3260 "15.3 preview 3: FCS does not respect file ordering defined in .NET Core project files"
![image](https://user-images.githubusercontent.com/873919/27575061-284bfbbc-5b21-11e7-921d-818c4ed947e1.png)

Code completion, tooltips, etc. don't work either.

[2017-06-27 07:24] forki commented on #3260
OMG.

[2017-06-27 07:24] vasily-kirichenko opened #3261 "15.3 preview 3: dependency conflicts"
1. dotnet new console -n xxx -lang F#
2. dotnet restore
3. open the project in VS
4. result

![image](https://user-images.githubusercontent.com/873919/27575492-b133f88e-5b22-11e7-9829-c29fed4edc6d.png)

[2017-06-27 07:27] realvictorprm commented on #3260
Epic fail :(

[2017-06-27 07:41] rodrigovidal commented on #3260
Same here

[2017-06-27 07:53] realvictorprm commented on #3222
@0x53A just for being sure, are there any errors shown?

[2017-06-27 08:39] isaacabraham commented on #3260
Sob

[2017-06-27 08:48] vasily-kirichenko opened #3262 "15.3 preview 3: debugging .NET Core 2.0 preview 2 projects does not work"
![image](https://user-images.githubusercontent.com/873919/27578954-736188bc-5b2e-11e7-9a3c-3d0e9dad3a02.png)

[2017-06-27 08:49] vasily-kirichenko opened #3263 "15.3 preview 3: Solution Explorer does not show SDK nodes for .NET Core 2.0 preview 2 projects"
![image](https://user-images.githubusercontent.com/873919/27578976-930178d0-5b2e-11e7-91b5-5039aeaf7b8b.png)

[2017-06-27 08:50] vasily-kirichenko opened #3264 "15.3 preview 3: Solution Explorer does not show proper icons for F# source files"
![image](https://user-images.githubusercontent.com/873919/27579026-c09f0b04-5b2e-11e7-8e55-8aa08ba2525c.png)

[2017-06-27 08:52] vasily-kirichenko opened #3265 "15.3 preview 3: adding source files via Solution Explorer results with a new ItemGroup in project file"
![image](https://user-images.githubusercontent.com/873919/27579103-084a9252-5b2f-11e7-8286-52152d59a435.png)

[2017-06-27 08:54] vasily-kirichenko commented on #3260
I checked it on both .NET Core 1.0.4 and .NET Core 2.0 preview 2: the same behavior.

[2017-06-27 09:19] saul commented on #3260
Absolutely no surprise. Nobody on the .Net project team side seemed to care that we didn't have file ordering.

[2017-06-27 09:20] saul commented on #3264
Are they defined as <Compile> in the project file?

[2017-06-27 09:20] saul commented on #3265
It's weird that adding source files also adds them as <None> instead of <Compile>

[2017-06-27 09:21] saul commented on #3260
Also I'm pretty sure all of the issues you've raised for 15.3 should be raised in dotnet/project-system, not here. The code doesn't even live in this repo.

[2017-06-27 09:24] dsyme commented on #3261
Please reopen in https://github.com/dotnet/project-system/

[2017-06-27 09:24] dsyme commented on #3263
Please reopen in https://github.com/dotnet/project-system/

[2017-06-27 09:24] dsyme commented on #3260
Please reopen in https://github.com/dotnet/project-system/

[2017-06-27 09:27] enricosada commented on #3260
@saul it is a surprise.

UI treeview is a thing (minor priority for now).
but this is build (ok vs build not msbuild), how to get fsc args should be the same.

[2017-06-27 09:28] vasily-kirichenko commented on #3260
OMG so we now depend on another thing that's controlled by people who don't care about F# at all (the first thing - Roslyn)? Very nice.

[2017-06-27 09:31] enricosada commented on #3262
can you try use this nuget.config?

https://github.com/fsharp/FsAutoComplete/blob/master/test/FsAutoComplete.IntegrationTests/DotNetSdk2.0/sample1/nuget.config

sdk 2.0 project require .net core 2.0 runtime, and that's preview atm, the nuget.config add the .net core dev nuget feed. that's normal atm for .net core `2.0.0-preview2` (`preview1` instead is on nuget.org already)

[2017-06-27 09:37] auduchinok commented on #3259
The issue on FCS repo: https://github.com/fsharp/FSharp.Compiler.Service/issues/784.

[2017-06-27 09:49] forki commented on #3262
(can it work with paket?)

[2017-06-27 09:51] enricosada commented on #3260
@vasily-kirichenko Roslyn (https://github.com/dotnet/roslyn) <> Roslyn project system (https://github.com/dotnet/roslyn-project-system).
Name is strange, but because is based on roslyn-workspaces and new CPS, but there is not a lot c# specific there.
collaborating with roslyn-ps, no issue at all. they fixed and refactored a lot for F#

[2017-06-27 10:00] enricosada commented on #3265
@davkean @srivatsn any clue?

[2017-06-27 11:21] forki opened #3266 "[.NET Core SDK projects] 15.3 preview 3: dependencies are not loaded in VS"
The following solution builds fine in ionide and from command line but VS  15.3 preview 3 complains.

![image](https://user-images.githubusercontent.com/57396/27585202-860f8bf0-5b3b-11e7-80c6-9fb82e784c3f.png)

#### Repro steps

* clone https://github.com/fable-compiler/fable-suave-scaffold
* Open ClientServer.sln
* Go to Client project Utils.fs

#### Expected behavior

Showing no errors

#### Act

[2017-06-27 11:23] forki commented on #3266
/cc @davkean I remember that we checked that for C# together,

[2017-06-27 11:28] isaacabraham commented on #3266
Is this paket support being broken or something else?

[2017-06-27 11:29] forki commented on #3266
paket works fine from cmd line and in ionide

[2017-06-27 12:05] magnushammar opened #3267 "Arrow keys and backspace stopped working"
In build 15.3 with *62604 of F# Tools the arrow keys and backspace don't work.

Related:
Delete button works
In C# projects all keys work as expected.
Windows 10 with English display language and Swedish Qwerty keyboard.

[2017-06-27 12:08] forki commented on #3267
what? I can perfectly find delete code

[2017-06-27 12:18] dsyme commented on #3267
@magnushammar I've occasionally noticed something odd with keybindings.  As a workaround I've found that closing/opening the editor tab fixes things.  I assume it is a general VS bug but maybe F# brings it out

[2017-06-27 12:26] forki commented on #3266
btw: the Solution Explorer shows the deps correctly:

![image](https://user-images.githubusercontent.com/57396/27587401-944a38ec-5b44-11e7-9b6b-a9a05d989013.png)

[2017-06-27 12:35] TWith2Sugars commented on #3267
@magnushammar I've noticed the same thing, @dsyme work around fixes the issue for me.

[2017-06-27 13:02] srivatsn commented on #3265
The SDK has a glob for None and that's picking up the fs files. @brettfo fixed this recently (https://github.com/Microsoft/visualfsharp/pull/3212) by making the SDK set `<EnableDefaultNoneItems>false</EnableDefaultNoneItems>` for F# but I guess that change hasn't made it into this build.

[2017-06-27 13:09] dsyme commented on #3265
@srivatsn Is the workaround to add

    <EnableDefaultNoneItems>false</EnableDefaultNoneItems>

explicitly to the project file?

[2017-06-27 13:10] srivatsn commented on #3265
Yes that should work.

[2017-06-27 13:14] srivatsn commented on #3265
Also looking at the screenshot, the project doesn't have the dependencies node (and a bunch of other stuff is likely broken) - that needs this fix in the SDK - https://github.com/dotnet/sdk/pull/1350. i.e you need the latest 2.0 SDK to make that work

[2017-06-27 13:17] magnushammar commented on #3267
Thank you @dsyme  that worked...  It only happens on one file in the project I opened. It is clear though that the navigation keys work, its just that the text editor does not "get" the navigation keys but they instead move focus on the chrome surrounding the editor (Codelens, drop down boxes etc...)

1. I did -> git clone https://github.com/Prolucid/Elmish.WPF.git
2. Open Elmish.Counter -> Progra

[2017-06-27 13:39] forki commented on #3266
Ok this is only a problem with F#. I create one C# and one F# solution with dotnet new and run `paket convert-from-nuget` on it. I then added Newtosoft.Json as dependency to both projects:

[fsharp.zip](https://github.com/Microsoft/visualfsharp/files/1105425/fsharp.zip)
[csharp.zip](https://github.com/Microsoft/visualfsharp/files/1105427/csharp.zip)

In the C# project intellisense will show Newton

[2017-06-27 13:44] forki commented on #3266
Even if you just `dotnet new console -lang f#` and add the PackageReference without NuGet it does not work. [fsharp-nuget.zip](https://github.com/Microsoft/visualfsharp/files/1105444/fsharp-nuget.zip)

[2017-06-27 13:46] cartermp commented on #3262
@vasily-kirichenko Is this with the .NET Core 2.0 SDK (with .NET Core 2.0 Preview 1) installed?

[2017-06-27 13:50] cartermp commented on #3265
Closing this out as the issue is fixed.  Should be available in preview 4.

[2017-06-27 14:15] enricosada commented on #3262
i can repro.

- `<TargetFramework>netcoreapp2.0</TargetFramework>` same error.

- `<TargetFramework>net462</TargetFramework>` or `net47 works

[2017-06-27 14:17] enricosada commented on #3263
can repro. using `<Project Sdk="Microsoft.NET.Sdk">` projects.
And no `Dependencies` node either.

using `<Project Sdk="FSharp.NET.Sdk;Microsoft.NET.Sdk">` projects:
![image](https://user-images.githubusercontent.com/147243/27592179-20d200d8-5b54-11e7-89ac-981800ad3699.png)

[2017-06-27 14:19] enricosada commented on #3264
cannot repro, icons are ok for me.

![image](https://user-images.githubusercontent.com/147243/27592261-544436a2-5b54-11e7-883c-dea71787f2f6.png)

[2017-06-27 14:29] forki commented on #2224
can we cc someone or raise it somewhere else?

[2017-06-27 15:52] cartermp commented on #3260
@srivatsn Any idea where this comes from?

Is this the remaining issues with the argument parser?

[2017-06-27 15:53] #3254 closed

[2017-06-27 15:54] dsyme commented on #3254
Fixed - a huge thank you to both of you @matthid  and @eiriktsarpalis

[2017-06-27 15:56] dsyme commented on #3265
@cartermp @srivatsn Great to know!

[2017-06-27 16:16] Pilchie commented on #3267
We've seen this a few times, usually when the editor and shell are confused about where the focus is.  Maybe something about the clickable quickinfo triggers it?

@olegtk do you have any ideas about how to diagnose?

[2017-06-27 16:17] dsyme commented on #3267
@Pilchie If it helps, it is always on startup, or at least always on "document open".

[2017-06-27 16:18] Pilchie commented on #3266
I think the general problem here is that the F# language service doesn't get the commandline arguments yet :-/, even though the project system and build do have them.

We're working on this for preview 4.  (@brettfo is hoping to look at it this week I think).

[2017-06-27 16:21] dsyme commented on #2224
@forki I've opened a bug here: https://github.com/dotnet/coreclr/issues/12480

I'll close this as external

[2017-06-27 16:21] #2224 closed

[2017-06-27 16:26] cartermp commented on #3260
@Pilchie Do you think this is related to your comment here? https://github.com/Microsoft/visualfsharp/issues/3266#issuecomment-311409483

[2017-06-27 16:27] forki commented on #3266
Is this something that could be fixed here?

[2017-06-27 16:27] enricosada commented on #3263
fix in https://github.com/Microsoft/visualfsharp/issues/3266 /cc @brettfo @KevinRansom @cartermp @Pilchie

locally change `C:\Program Files\dotnet\sdk\2.0.0-preview2-006502\Sdks\Microsoft.NET.Sdk\build\Microsoft.NET.Sdk.FSharp.targets` to apply the PR changes

[2017-06-27 16:30] Pilchie commented on #3266
Even though I've had it explained to me 2 or 3 times now, I forget the exact details of what needs to happen here :-/

@srivatsn or @brettfo can you elaborate?

[2017-06-27 16:33] Pilchie commented on #3260
@cartermp - no that should be a VS editor thing only.  Wouldn't effect build or the solution explorer.

BTW @enricosada and @vasily-kirichenko `dotnet/roslyn-project-system` was already renamed to just `dotnet/project-system`.

[2017-06-27 16:34] forki commented on #3266
I mean in the blog announcement we read F# support works so we were very
optimistic

Am 27.06.2017 6:30 nachm. schrieb "Kevin Pilch" <notifications@github.com>:

[2017-06-27 16:37] enricosada commented on #3266
yes, please @Pilchie ask to remove it from blog (cc @cartermp ) at least is not another disappoinment for F# ppl (and is annoying download a preview 5GB an nothings works)

[2017-06-27 16:42] cartermp commented on #3266
Which blog?  Neither the .NET nor VS blogs have announced a release saying that F# support works.  There are release notes which can be edited [here](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-Preview-relnotes#dotnetcoreimprovements15P3), but that's the only thing I'm aware of.

[2017-06-27 16:44] forki commented on #3266
"F# Support: You can use the .NET CLI to create .NET Core console
applications and .NET Core /.NET Standard class libraries in F#. These
projects will load in this preview release of Visual Studio. We are still
working on templates to enable you to create these same projects from
within the IDE"

Am 27.06.2017 6:42 nachm. schrieb "Phillip Carter" <notifications@github.com

[2017-06-27 16:47] enricosada commented on #3262
fixed by https://github.com/dotnet/sdk/pull/1372

[2017-06-27 16:58] enricosada commented on #3261
cannot repro after fix https://github.com/dotnet/sdk/pull/1372

[2017-06-27 17:06] KevinRansom commented on #3263
@enricosada

So ... the fix for this is in, however, it is not yet in master, nor is it in the preview 2.0 branch, it is in the release 2.0.0 branch.

https://github.com/dotnet/sdk/blob/release/2.0.0/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.Sdk.FSharp.targets#L51

@cartermp will be working on updated instructions.

[2017-06-27 17:14] srivatsn commented on #3260
Ya the file order in the tree doesn't affect the language service. The project system grabs the command line arguments as they are sent to the compiler (which is correct as evidenced by the build succeeding) and send that to the language service. Something's going wrong in the language service.

[2017-06-27 17:16] enricosada commented on #3266
anyway, language service and command line args bug aside, the new roslyn project system is really lightning fast (love i can edit any imported msbuild file, not just project, and it will instantly reload)

[2017-06-27 17:21] enricosada commented on #3260
probably is the same language service bug, as reported in https://github.com/Microsoft/visualfsharp/issues/3266#issuecomment-311409483
is confirmed doesnt load command line args correctly.

@srivatsn @Pilchie @KevinRansom there is a log setting to enable/sethigher to confirm is a dupe? to see args passed to language service is enough.

[2017-06-27 17:24] cartermp commented on #3266
I made the request to remove that bullet point completely from the release notes.

Just to clarify, the release notes are the only thing mentioning this.  There are no blog posts or announcements for F# support here, nor will there be any going on until the multiple things we have in-flight are all merged in their respective branches.

For now, there are ways to be unblocked if you use nightly rel

[2017-06-27 17:27] srivatsn commented on #3260
I just looked at the F# LS code and it seems to be getting all [source files\references etc from an IProjectSite](https://github.com/Microsoft/visualfsharp/blob/20e93a4bfeec8e0075960c9cfd0ca51fe92b473f/vsintegration/src/FSharp.LanguageService/ProjectSitesAndFiles.fs#L241) from a IProjectSite (which is the interface that the old F# PS implements) instead of getting them from the Roslyn workspaces w

[2017-06-27 17:27] cartermp commented on #3265
Re-opening until we have clarity for Preview 4 - @brettfo can you confirm when this change is inserted into VS?

[2017-06-27 17:37] Pilchie commented on #3266
*BUT* We're going to work today on getting something documenting what you need to pull from where to get this working, right @cartermp ? 😉

[2017-06-27 17:40] Pilchie commented on #3260
@srivatsn and I chatted, and we think the easiest way to do this might be to create an implementation of `IProjectSite` directly in the F# language service code and implement it to ask the Roslyn `Project` objects for their references and files.  This will leave `#defines` not working right, since they don't get set in the roslyn workspace, but will be a big first step up.

@brettfo Is working on

[2017-06-27 17:43] cartermp commented on #3266
Yup.  I'll get instructions out as a part of an announcement on this repo w.r.t .NET Core support in VS.

[2017-06-27 17:53] dsyme commented on #3260
I was wondering about the ``#defines``.  Thanks for tracking this

For completeness, some other options are relevant to on-the-fly type checking, notably these (after searching through ``CompileOps.fs``)
* ``--o`` The output assembly name (for InternalsVisibleTo)
* ``--warn/nowarn/warnon/warnaserror``
* ``--codepage`` (the input code page)
* ``--checked`` (indicates if ``open FSharp.Operators.Chec

[2017-06-27 17:53] enricosada commented on #3260
@srivatsn @Pilchie as a note, why instead of parse back all the fsc arguments, the language service dont just read the [FscCommandLineArgs msbuild items](https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/FSharp.Build/Microsoft.FSharp.Targets#L269)? is already the array splitted with fsc args.. works really well for [FSAC](https://github.com/fsharp/FsAutoComplete/] in vscode/vim/emac

[2017-06-27 18:05] srivatsn commented on #3260
That msbuild item itself is not available at this layer, however that string (the entire command line) get passed to [this method ](http://source.roslyn.io/#Microsoft.VisualStudio.LanguageServices.Implementation/ProjectSystem/CPS/CPSProject_IWorkspaceProjectContext.cs,118) - right now, that method no-ops for F# since there's no CommandLineParser. However, we can implement a type that gets that and

[2017-06-27 18:16] enricosada commented on #3260
@srivatsn just curiosity, why the `string` was choosen as parameter? also c# use an array (` CscCommandLineArgs`) so less concat+parse needed.

@srivatsn awesome, afaik (/cc @dsyme @KevinRansom), the F# compiler arguments api is the same of c#, so the `string -> IEnumerable<string>` splitter can be reused from c#

[code]

the rest is pattern match on args..

but is not already implemented in https

[2017-06-27 18:45] enricosada commented on #3260
[CommonCommandLineArguments.OutputFileName](http://source.roslyn.io/#Microsoft.CodeAnalysis/CommandLine/CommonCommandLineArguments.cs,b6fc61ee72fe57aa,references)?

[CommonCommandLineArguments.Encoding](http://source.roslyn.io/#Microsoft.CodeAnalysis/CommandLine/CommonCommandLineArguments.cs,89e19f8553c91eda,references)

CompilationOptions. CompilationOptions.Features ?

[CompilationOptions. Compi

[2017-06-27 19:35] srivatsn commented on #3260
The parser in the project system basically just enough to understand what's a reference and source file versus what's not. This is so that it can track changes to references and source files individually and incrementally update the language service. If any of the options change, since that's rarer, it simply tells the LS to recreate a compilation. Ideally the Project system wouldn't ever parse an

[2017-06-27 20:02] enricosada commented on #3260
thx for info @srivatsn , really appreciated

[2017-06-28 01:50] chadunit commented on #3267
I've experienced this starting in build 17062301 of the Visual F# Tools in a project in which it happens every time at startup of VS. As an experiment I switched back and forth between 2301 and 2201 three times and it reproduced in 2301 every time, and never in 2201.

[2017-06-28 04:08] cata commented on #3267
I am also seeing this, very frequently starting with 17062301 (on a large solution, one in every 3-4 file opening operations). I did experience the issue before 17062301, but very infrequently (e.g. maybe once a week, and without an accompanying error dialog - see below)
What I am seeing:
 * Visual Studio pops up an error dialog upon opening the file in the editor, with the rather unhelpful messag

[2017-06-28 08:34] magnushammar commented on #3267
@cata. I can also get the error message with my example project depending on in what order I open files.

1. Load Solution
2. Open Elmish.WPF -> Viewmodel.fs
3. Open Elmish.Counter -> Program.fs
4. Focus bug in Program.fs (Not Viewmodel.fs) and Error message: An item with the same key has already been added.

1. Load Solution
3. Open Elmish.Counter -> Program.fs
4. No error message. But still the

[2017-06-28 12:39] dsyme commented on #3267
I suspect this line https://github.com/Microsoft/visualfsharp/commit/bac1458936940aa36ef32d1930fab5faa327c6a0#diff-cdf0a4fbb7615b8029d78133924259c3R451

[2017-06-28 12:51] dsyme commented on #3267
@magnushammar I can repro both of those cases, thank you for submitting this

[2017-06-28 13:19] dsyme commented on #3267
@magnushammar @cata @chadunit @TWith2Sugars This appears to fix it: https://github.com/Microsoft/visualfsharp/pull/3270

If someone else could verify that would be great.

[2017-06-28 14:16] chadunit commented on #3267
@dsyme The fix works for me running from source, I can repro with master and your PR fixes it.

[2017-06-28 15:18] chadunit commented on #3267
Incidentally how can I tell what changes are in the nightly VSIX packages and how they are triggered? For example since June 25 there are 10 new builds on https://dotnet.myget.org/feed/fsharp/package/vsix/VisualFSharp and I don't know how they map to activity in this repo.

[2017-06-28 15:45] cartermp commented on #3267
@chadunit There's no way to track it.  The VSIXs are the output of an automated signed build done internally.  Generally speaking, if there's a commit to master done today, a VSIX tomorrow will have that commit.

[2017-06-28 15:51] saul commented on #3038
@dsyme it's worth pointing out that the above error (if the file is large enough) crashes Visual Studio. I've been using these 'crate' types very liberally in the code that I'm working on, and refactoring (removing/adding parameters) has been impossible. I've had to use VS Code because otherwise Visual Studio is crashing left/right/center due to this compile error.

I know you're extremely busy, b

[2017-06-28 15:52] forki commented on #3267
I think it would help a lot if the addin would show last merged master
commit hash somewhere in the settings.

Am 28.06.2017 5:45 nachm. schrieb "Phillip Carter" <notifications@github.com

[2017-06-28 16:25] cartermp commented on #3267
Not really sure if there's even a way to do that.  Perhaps with some trickery it could be embedded into the version number, but that would be really confusing.  The extensions infrastructure doesn't support this sort of thing.

[2017-06-28 16:30] forki commented on #3267
We often do that in release builds by putting commit hash into a static property in some class in a pre-compile step. Then the settings page is just displaying it. It's no magic needed.

[2017-06-28 16:34] dsyme commented on #3267
@forki I think the problem may be that the internal build uses a different added hash (e.g. after localization is added or whatever)

[2017-06-28 16:36] forki commented on #3267
Yes depend on if there submodules or how it's done technically.

[2017-06-28 16:46] cartermp commented on #3267
Well, either way this is a very low priority for us right now.  Perhaps when .NET Core cools down and we can address other infrastructure issues we can take a look.

[2017-06-28 16:59] dsyme commented on #3267
@brettfo @cartermp If this fix can make it into 15.3 alongside https://github.com/Microsoft/visualfsharp/pull/3238 that would be great

[2017-06-28 16:59] dsyme commented on #3038
@saul OK, thanks

[2017-06-28 17:08] Pilchie commented on #3267
Re: stamping commit hash - roslyn recently started doing that (though its loc story is currently different), but we should work to consolidate that.  Let's file a separate issue to track that though.  And, as @cartermp says - we'll work on it once some of the .NET Core pieces are a little more put together :)

[2017-06-28 17:28] majocha commented on #3267
I'll just mention #2921. Possibly related.

[2017-06-28 18:19] cartermp commented on #3266
This is likely the same root cause as #3260, but surfacing as a different issue.

[2017-06-28 21:22] jindraivanek commented on #3038
I have workaround for @saul sample:

https://github.com/jindraivanek/visualfsharp/commit/8452d98b1dd4f68a20c0976fdc156aa23c0dd8b3

This doesn't solve my sample, looks like it really is a different issue.

[2017-06-28 21:27] saul commented on #3038
Thanks @jindraivanek - what compile error do you get on the code sample with your fixes?

[2017-06-28 21:36] jindraivanek commented on #3038
@saul
[code]

[2017-06-28 21:53] cartermp commented on #3267
@dsyme We should be able to get it in as a bug fix after @brettfo gets master as of this week merged in during Ask Mode.

[2017-06-29 00:00] magnushammar commented on #3267
A bit late to the party. The master branch is working as expected for me now. Awesome!

[2017-06-29 00:45] nguerrera opened #3272 "Fsc msbuild task does not seem to provide a way to set the preferred UI language on .NET Core"
I'm working on https://github.com/dotnet/cli/issues/4988 which will allow customizing the CLI's UI language to something other than the system default. I have the override flowing to csc.exe and vbc.exe, but cannot find a way to pass the language through to fsc.exe via the msbuild targets on .NET Core.

As far as I can tell:
*  The compiler has two switches for this `--preferreduilang:<string>` an

[2017-06-29 02:01] cata commented on #3267
I can also confirm that #3270 fixes the issue. Thank you @dsyme!

[2017-06-29 03:17] dsyme commented on #3272
Sounds right to me

[2017-06-29 03:45] dsyme commented on #719
@eiriktsarpalis It's been a long time but finally tracked this one down https://github.com/Microsoft/visualfsharp/pull/3273

[2017-06-29 03:46] dsyme commented on #1804
@KevinRansom Is this still an issue?  I presume not?

[2017-06-29 03:50] dsyme commented on #2607
@KevinRansom I will close this as by design.  It is correct that the compiler flag accepts Itanium for the case where we are cross-targeting to .NET Framework.

[2017-06-29 03:50] #2607 closed

[2017-06-29 04:14] dsyme commented on #3003
@cloudRoutine It took a while but see https://github.com/Microsoft/visualfsharp/issues/3274 for the fix

[2017-06-29 05:48] dsyme commented on #3038
OK, that particular problem is fixed here: https://github.com/Microsoft/visualfsharp/pull/3275/

Error messages are as above.  They aren't great in the case of a curried/uncurried mismtach "2 given, 2 expected" etc.

[2017-06-29 05:48] KevinRansom commented on #3038
@dsyme you need to get some sleep.

[2017-06-29 05:53] #3003 closed

[2017-06-29 06:40] dsyme commented on #3035
I checked this and it is working OK in master.  After clicking in the gutter:

![image](https://user-images.githubusercontent.com/7204669/27674570-37f2b3e8-5c9e-11e7-95fa-2df4fa2eaba1.png)

[2017-06-29 06:40] #3035 closed

[2017-06-29 06:55] dsyme commented on #2937
For this:
[code]
we get the extra tuple allocation:

[code]

[2017-06-29 07:12] srivatsn opened #3276 "The targetframework dropdown in the application prop page is empty for .NET Core projects"
After this PR https://github.com/dotnet/project-system/pull/2522, the application page shows up for CPS projects but the TargetFramework dropdown will be empty for .NETCore\.NET STandard projects,

This is because it asks the multi-targeting service for the TFMs and the multi-targeting service doesn't know about .NET Core\Standard. We made [a change to C#\VB pages ](https://github.com/dotnet/proje

[2017-06-29 07:13] srivatsn opened #3277 "Build Events page is broken for CPS projects"
This [line](https://github.com/Microsoft/visualfsharp/blob/6afc4f9776a5dba903ca6b11965a206fb8bc23d8/vsintegration/src/FSharp.ProjectSystem.PropertyPages/PropertyPages/BuildEventsPropPage.vb#L215) needs to be fixed - when the RunPostBuildEvent property is not set, the old PS returned a special missing value where CPS returns an empty string. That code needs to account for the empty string.