[2017-03-09 21:59] majocha commented on #2569
Good catch, wasn't String.Join overload added in .Net 4.0?

[2017-03-09 22:06] KevinRansom commented on #2564
I think I see the issue now.

[2017-03-09 22:29] saul commented on #2569
Looks that way: https://msdn.microsoft.com/en-us/library/dd783876(v=vs.110).aspx

.NET Framework
Available since 4.0

So we should be able to use it in FSharp.Core :)

[2017-03-09 22:48] davkean commented on #1193
@cloudRoutine You need to separate http://github.com/dotnet/roslyn-project-system from CPS. The former are the C#/VB extensions on top of CPS. CPS itself is not (yet) usable outside of Visual Studio.

[2017-03-09 23:00] smoothdeveloper commented on #2566
@KevinRansom the problem with multi-targetting is that it is tied to which `FSharp.Core` version you'll end up with, which leads to many headaches due to binding redirect issues.

The main reason most F# users relies on FSharp.Core from nuget.org and use paket is that they want the binding redirects issue to be taken care automatically.

[2017-03-09 23:06] cloudRoutine commented on #1193
@davkean i thought the `Microsoft.VisualStudio.ProjectSystem`, `Microsoft.VisualStudio.Threading` Microsoft.VisualStudio.Validation`, the `Microsoft.VisualStudio.Composition.Configuration`, `Microsoft.VisualStudio.Composition` dlls were host agnostic.

maybe I got some of the nomenclature wrong, it's hard to keep track of all of these APIs

I started working on a prototype splitting the layers usi

[2017-03-09 23:13] davkean commented on #1193
CPS is made up of more than those dlls. Microsoft.VisualStudio.ProjectSystem is only a reference dll containing interfaces and helper classes.

[2017-03-09 23:45] cloudRoutine commented on #1193
@davkean Then CPS was wrong term, I was trying to do a core project system implementation that could work as a part of a language server to provide F# tooling to a variety of editors.  And then the connection to all of the VS layer APIs would be in a layer built on top of that. That way all of the F# tooling could leverage the same system.

But if you think that's not feasible I'll have to upgrade

[2017-03-09 23:55] davkean commented on #1193
Given the current state - I don't see as feasible. Some of the dlls you need (ie the actual implementation of Microosft.VisualStudio.ProjectSystem), only ship as a part of Visual Studio. We want to get it to where people can do exactly what you are trying to do - but we're >1 year away from that.

[2017-03-09 23:59] cloudRoutine commented on #1193
cool thanks, focusing on only using the `Microsoft.CodeAnalysis` dlls that are netcore compatible makes this a lot simpler.

[2017-03-10 00:02] KevinRansom commented on #1193
You might want to hook up with @DustinCampbell I think he may have some ideas about using workspaces in other editors from his vscode work.

[2017-03-10 00:04] #2569 closed

[2017-03-10 05:19] #2555 closed

[2017-03-10 07:43] vasily-kirichenko commented on #2490
I think it's `Editor.QuickActions` binding hide our 'send to interactive`. After removing it everything is ok. I suspect they added `Alt+Enter` for quick actions in RTW. I've no idea how to fight it.

[2017-03-10 07:46] vasily-kirichenko opened #2572 "Suggestions delimited by empty lines in VS FSI"
![image](https://cloud.githubusercontent.com/assets/873919/23786545/b9d5313c-057e-11e7-931e-803355145c31.png)

I don't think it's good. @forki any ideas?

[2017-03-10 08:00] forki commented on #2572
I think we need to understand where errors are reported. There is already a
switch for one line option. But this looks like an issue with fsi
formatting new lines as 2 linebreaks

Am 10.03.2017 08:46 schrieb "Vasily Kirichenko" <notifications@github.com>:

[2017-03-10 08:01] vasily-kirichenko opened #2573 "No completion after dot inside computation expression"
No completion

![image](https://cloud.githubusercontent.com/assets/873919/23786966/c50b854a-0580-11e7-9fe6-5495744669bf.png)

Completion

![image](https://cloud.githubusercontent.com/assets/873919/23786972/d4a385c0-0580-11e7-92fc-124c7cdba1f8.png)

[2017-03-10 09:41] JoshVarty commented on #2490
The reason we had to introduce the `FSharpEditorFactory` was because of the `Editor.QuickActions` command, but that's not the root cause here.

The issue is that our command bound to the `FSharpEditorFactory`. But for some reason when you uninstall the main VSIX and re-install `FSharpOpenSource.vsix` the `FSharpEditorFactory` is no longer being used to create our F# editors, the standard editor fa

[2017-03-10 15:38] nethatix commented on #2100
Hello,
I'd like to add my info on this issue that I experienced along with issue 2550 on an existing solution that I opened with visual studio 2017.

### Errors
I have been getting both 1-or more warnings `FSharpDocumentDiagnosticAnalyzer throws TaskCanceledException` and abundant SQL type `is not defined` errors though not consistently. Rarely I also get errors about the compiled project dll. Thi

[2017-03-10 16:11] cartermp commented on #2490
@JoshVarty `VisualFSharpFull.vsix` is indeed what VS installs, and it's what we build internally for a release.  `VisualFSharpOpenSource.vsix` is for OSS developers to install locally on their machines.

[2017-03-10 17:07] #2563 closed

[2017-03-10 18:37] JoshVarty commented on #2490
I'm still unsure *why* we need two different DLLs and what the differences between them are.

[2017-03-10 18:44] 0x53A opened #2577 "Include FSharp.Core in the VS2017 offline package directory"
(ref https://github.com/Microsoft/visualfsharp/pull/2575#issuecomment-285749814)

Many templates in VS2017 now include nuget packages. To also enable offline scenarios, VS 2017 includes a few select packages.

Maybe not surprisingly, this does include ``Microsoft.CSharp``, but not ``FSharp.Core``.
![image](https://cloud.githubusercontent.com/assets/4236651/23808230/6b430968-05c9-11e7-935e-4f6fa501

[2017-03-10 18:53] JoshVarty opened #2578 "Move to AsyncPackage"
Occasionally while using `VisualStudioOpenSource.vsix` I receive notifications indicating that F# Tools are slowing down solution load:

![image](https://cloud.githubusercontent.com/assets/1249087/23808531/0abb8c2c-057f-11e7-8c86-b7a9eb0101ab.png)

In the performance manager:

![image](https://cloud.githubusercontent.com/assets/1249087/23808542/1a80d91e-057f-11e7-9e7e-0257d734625d.png)

This notif

[2017-03-10 19:01] cartermp commented on #2578
👍

[2017-03-10 19:01] cartermp commented on #2578
cc @brettfo

[2017-03-10 23:25] KevinRansom commented on #2554
@smoothdeveloper
package dependencies and dll's are not strictly the same.  Except in the case of one dll per package.  Which may be what you mean by the sane case.

[2017-03-10 23:37] smoothdeveloper commented on #2554
@KevinRansom yes, if a package has several assemblies, it still behave properly in paket (I worked with @matthid and @baronfel on that generate script feature), I'm using it everyday to load large amount of packages with many assemblies and haven't faced a "version" conflict yet.

If I try to do the same in a F# project, I do need binding redirects, but FSI handles it well somehow.

[2017-03-11 00:25] KevinRansom commented on #2554
Well ... in the new world ... we compile against reference assemblies and execute against implementation assemblies.  So FSI is going to need to be able to deal with this ("Frankly horrifically busted scenario") somehow ...

So you just filter out subsequent dll's with the same name?

[2017-03-11 00:37] smoothdeveloper commented on #2554
@KevinRansom I didn't really understand the specifity of new world...

In current world, (assuming we can perform the resolution in one hop) paket will:
* identify nuget packages (includes transitive, and resolve conflicts, only one version of C in my first example, even if A and B depend on two different versions)
* for each package, it will check the assemblies to resolve the order (one package

[2017-03-11 02:08] KevinRansom commented on #2554
@smoothdeveloper

indeed if there were no references assemblies what you describe would be correct.  Indeed, that is how it is on the desktop most of the time.  Except with portable profiles of course.

When you compile against System.Runtime.dll, on the desktop the implementation of the types in it are in mscorlib.dll.  On coreclr they are in System.Private.Corlib ... at lest some of the types ar

[2017-03-11 02:22] smoothdeveloper commented on #2554
@KevinRansom thanks, this helps understand all what it is about, and the fact that FSC can remain oblivious because it just needs the interfaces/signatures, while FSI has to eventually load actual implementation assemblies which can be different on each platform.

In new world, is it always "one ref assembly points to a single impl assembly" or there can be more than one impl assembly involved?

L

[2017-03-11 02:59] KevinRansom commented on #2554
For two years I have struggled to understand how to move forward on FSI.  It didn’t really click until Don and I had a long …. long chat about the issue, and about what was happening with the paket integration that it became clear that the real issue was to teach FSI about Ref assemblies and implementation assemblies.

There must be a loadable assembly with a name that matches the assembly name fo

[2017-03-11 08:53] smoothdeveloper commented on #2554
So is this information located in the ref assembly itself? Is there any way we can avoid introducing extra `#r "impl:"` or others just to handle that and let FSI/runtime do the right thing?

It has come before, I haven't faced this but people told me they faced the issue and we decided to implement it.

We could disable this as an option in paket and indeed it would save some time, for all package

[2017-03-11 09:38] matthid commented on #2554
Sorry to interrupt this discussion, but I need more information about exactly this process you are discussing for implementing the new FAKE.netcore version.
I think I have understood the principle and what I did for now was using reference assemblies for compilation (ref folder) but loading the runtime dlls from the current folder (which worked in preview2).
With "current folder" I meant the curre

[2017-03-11 10:24] cloudRoutine commented on #1939
@Pilchie any updates on this?

[2017-03-11 13:57] haf opened #2581 "UTF-8 characters are broken in fsharpi"
#### Repro steps

Provide the steps required to reproduce the problem

TERM_PROGRAM_VERSION=3.0.4
TERM_PROGRAM=iTerm.app

[code]
1. Start `fsharpi` on OS X
2. Type `ä` with a Swedish keyboard.
3.
   <img width="138" alt="screen shot 2016-07-27 at 13 38 48" src="https://cloud.githubusercontent.com/assets/193115/17174147/a3073116-53ff-11e6-8f72-6ae70a8ad307.png">
#### Expected behavior

`ä` is displ

[2017-03-11 16:31] smoothdeveloper commented on #2411
This bug is specific to fsi AFAICS, fsc compiles same code fine.

Minimum repro:

[code]

[code]

[code]

[code]

[2017-03-11 18:00] smoothdeveloper opened #2584 "VS2017: No QuickInfo when debugging"
In VS2017, while using the debugger, there is no type information in F# code when I hover any of the symbols.

-------------------
(@cartermp edit: repro)

1. Create new Console app project.
2. Replace the code with the following, then debug it:

[code]

**Expected:** When hovering over `printfn`, I can see its type signature.
**Actual:** Nothing is displayed when it is hovered.

[2017-03-11 18:05] vasily-kirichenko commented on #2584
Yes, I saw it once in RTW. It's gone after VS restart.

[2017-03-11 18:05] KevinRansom commented on #2584
I see this, did you have something else in mind?

<img width="1090" alt="screen shot 2017-03-11 at 12 02 37 pm" src="https://cloud.githubusercontent.com/assets/5175830/23825641/fb464ce4-0652-11e7-961e-dec714292431.png">

[2017-03-11 18:06] smoothdeveloper commented on #2411
In `queryableTypeGetMethodBySearch`, there is a test for generic method arity, but there is no check on type constraints.

[code]

I think adding a check there before going into the else branch would solve the problem, I'm trying to figure out if everything is at hand to issue such check.

[2017-03-11 18:31] smoothdeveloper opened #2585 "VS2017 colorization bug / generic argument becomes punctuation like"
There is a discrepency in colorization:

![image](https://cloud.githubusercontent.com/assets/87944/23825803/0ebf28c0-0691-11e7-9b90-75f89691a58f.png)

When a type constructor is called with `new` the colorization of generic arguments changes, I think the correct color is the one when `new` is not used.

[2017-03-11 18:52] smoothdeveloper commented on #2584
@KevinRansom yes (sorry should have made screenshot)

![image](https://cloud.githubusercontent.com/assets/87944/23825982/31d3b40e-0694-11e7-9968-f505eee629b8.png)

[2017-03-11 20:03] smoothdeveloper opened #2588 "IDE Feature Suggestion: goto anything for member signature"
I'd like to leverage the "goto anything" from Visual Studio to allow to search for member signature:

example of signatures:
* `_ -> System.Type` matches anything which is a function (whatever arity) and returns a System.Type
* `'a [] ->'a -> bool ` matches things like `Array.contains` (it doesn't care of the order of arguments)
* `string seq -> string` matches things like `String.concat`

Equival

[2017-03-11 20:29] cartermp commented on #2588
The first thing we'd need is a decision on the prefix character.  We could try to extend `t` to recognize when you're tying a type signature rather than a type name, or come up with another prefix character.

Part of the issue is that Go to All is fundamentally based on names, so introducing this is a whole new mode of use.  I think it's a fantastic idea, but we'd also have to make sure whatever w

[2017-03-11 20:29] vasily-kirichenko commented on #2588
go to anything uses parser trees. this feature requires typed ast, which I don't think possible for performance reasons.

[2017-03-11 20:30] SirEel opened #2589 "VS 2017 crashes: unhandled exception in Microsoft.VisualStudio.Package.Colorizer.GetLineInfo()"
#### Repro steps
Installed VS 2017 RTM with F# language chosen. Additionally installed Desktop, ASP.NET, ASP.NET Core, Data, and Azure workflows.

I always use Tools-Options to change the font in text editor and FSI to DejaVu Sans Mono instead of the default Consolas. This worked fine in VS 2015. I also customize the text editor's background color when using the Blue color scheme, but I've encount

[2017-03-11 20:32] vasily-kirichenko commented on #2589
It's fixed in master long time ago.

[2017-03-11 20:37] SirEel commented on #2589
Vasily, then whatever VS 2017 installed is pretty old.

Can you please point me to instructions for installing the latest stable build.

Thank you.

[2017-03-11 20:40] cartermp commented on #2589
@SirEel Correct, VS 2017 bits are equivalent to what was shipped in RC 4 (as is the case with almost all of VS).  There's a significant delay from master <--> VS RTW across most products.

You can install the latest stable master from CI here: https://github.com/Microsoft/visualfsharp/wiki/Using-CI-Builds

Note that these are unsigned, though, so you'll need to use the tool mentioned in the above

[2017-03-11 20:40] smoothdeveloper commented on #2588
@vasily-kirichenko / @cartermp actually thinking it doesn't have to fit in goto anything if that's a constraint, it could be a specific search tool similar to find all references.

[2017-03-11 20:49] SirEel commented on #2589
Phillip, Vasily,
Thanks. When the new signed build is available, will there be much delay before it feeds into Tools - Options - Extensions and Updates?

[2017-03-11 21:08] cartermp commented on #2589
Good question.  @brettfo or @KevinRansom could answer if there's a delay, but personally I think there *should* be a bit of a delay there.  We're likely to spin up a build of master every day or two, so you'd constantly be pinged in VS for an update.  We haven't discussed that particular cadence yet.

[2017-03-11 22:13] KevinRansom commented on #2589
@SirEel ... I believe the intent is for us to publish vsix' for our daily build.  So ... no there should not be  large delay.  @brettfo is handling this work and may have more accurate information.

Kevin

[2017-03-11 22:29] SirEel commented on #2589
Which leads to: when, and how frequently, do you expect an F# developer update to the current build? Many of us interpret Update notices in Visual Studio as a sign that the new thing is a good thing, without going on Github to see what's in it. However, my experience with Newtonsoft.Json has taught me to be skeptical of that package's many frequent updates. I'd still be in favor of a frequent upda

[2017-03-11 22:39] KevinRansom commented on #2589
@SirEel as frequently as they feel comfortable with, or whenever there is a new feature in the preview tooling they want to try out.  I don't think we will be deploying via The VS Gallery, and so there will not likely be update notices on VS until the official release of the updated tooling.

I hope this helps

Kevin

[2017-03-11 23:24] SirEel commented on #2589
OK, I'll try getting used to installing VSIXs.

BTW the instructions at https://github.com/Microsoft/visualfsharp/wiki/Using-CI-Builds seem to omit a few things.

1. If I run the last step,   sn -Vu *,*, then I can't use Visual F#. I have to leave -Vr in place until I'm done in Visual Studio. This should go away when the build is signed, but meanwhile your instructions don't make this clear.

2. I

[2017-03-11 23:25] KevinRansom commented on #2589
The wiki is writeable, feel free to update it as you feel appropriate.

[2017-03-11 23:44] SirEel commented on #2589
Kevin, hopefully it's more clear now. Thanks.

[2017-03-12 00:00] cartermp commented on #2589
👍 Thanks for the update to it, @SirEel.

We're also still experimenting with how bet to handle updates with VS 2017 and onward.  The update model has changed considerably since previous releases, and we also have an entirely new infrastructure with which to push updates.  We described what our current plan is in [our blog post](https://blogs.msdn.microsoft.com/dotnet/2017/03/07/announcing-f-4-1-an

[2017-03-12 00:01] cartermp commented on #2589
Closing this as a dupe of #2318 for now.

[2017-03-12 00:01] #2589 closed

[2017-03-12 00:03] cartermp commented on #2553
FYI - I'll have this done next week.

[2017-03-12 00:07] cartermp commented on #2100
@nethatix Thanks for the info.  I'll see if I can repro this on my own.

[2017-03-12 07:04] vasily-kirichenko opened #2591 "EntityRef.get_Stamp() raises exception"
1. Ctrl+F5 in debug configuration
2. Open FSharp.Configuration solution
3. Open YamlProvider.fs

![image](https://cloud.githubusercontent.com/assets/873919/23829744/fcc9cc5e-070a-11e7-919e-8edd6c040962.png)

another one

![image](https://cloud.githubusercontent.com/assets/873919/23829748/148ebf34-070b-11e7-8244-021a87079689.png)

[2017-03-12 07:39] VSDekar commented on #406
Any update on this?

[2017-03-12 08:10] vasily-kirichenko commented on #406
See https://github.com/Microsoft/visualfsharp/pull/1842

Correct status of this:

* UI is never, ever blocked on completion
* What's left is to formalize the logic of auto triggering, since it was too aggressive in that PR (similar to VS Code, but still more intelligent, like it was not triggered inside strings and excluded code blocks, etc)

[2017-03-12 08:43] forki commented on #2553
How often will we see updates over there? Will people get notifications in VS?

[2017-03-12 10:29] smoothdeveloper commented on #2584
To clarify, when I hover a function, I'd like to see the signature, right now it shows nothing.

I understand that for variables, the debug inspector tooltip is good enough.

[2017-03-12 11:04] tldrlol opened #2593 "module rec causes compilation error"
Environment: VS2017 community, Windows 10, F# 4.1 Console Application with warning level set to 5

The following snippet (pasted verbatim into `Program.fs`) fails to compile. As the comment suggests, removing the `rec` keyword makes this a compiling program that prints `10` as expected.

[code]

Errors don't appear in the "Error List" window. The build Output window however lists the following:

[

[2017-03-12 12:57] vasily-kirichenko commented on #2584
Is it how it works in C# editor?

[2017-03-12 13:09] vasily-kirichenko commented on #406
@VSDekar I've made a new PR, works OK. Please test it and give feedback https://github.com/Microsoft/visualfsharp/pull/2594

[2017-03-12 13:21] smoothdeveloper commented on #2584
I'll check, but in C# editor I don't have choice other than having full method signatures in the code :)

I think the infobar will help if it can be ported from VFPT.

[2017-03-12 13:55] BentTranberg commented on #2548
The installation instructions for the VSIX on the "Using-CI-Builds" page changed, and I finally managed to get things working. Thanks for that. I don't know how you identify it, but the vsix file I use now, has a creation stamp of 8th March 18:37.

NEW STATUS

The Error List pane no longer has frenetic activity ("lots and lots of errors"), and there are no longer "squiggles everywhere" in the sour

[2017-03-12 14:53] vasily-kirichenko commented on #2548
I'm not sure how build errors should find their way to Errors List window, but our project-wide diagnostics analyzer is disabled because we cannot make it to work properly (it's a long story).

[2017-03-12 15:40] jack-pappas opened #2595 "Mono builds don't produce usable output"
The mono-based builds (e.g., what we're running for CI builds on Jenkins) complete successfully, but don't produce usable binaries as output. I've been trying to get some of the tests running on mono (on macOS) but get errors like this when I try to build/run the FSharp.Core unit tests via ``./build.sh net40 test``:

[code]

After looking at the logs, I think I figured out what's causing the failu

[2017-03-12 16:12] cartermp commented on #2553
I imagine we'll have an update once the bugs in multicase struct unions are addressed, but probably not after then until F# 4.2 is released.  I'm not aware of any notification VS could send to indicate that there's a new download in MS Download Center.  Two very different systems.

[2017-03-12 16:18] forki commented on #2553
Sigh. I hoped it could work like updates in VS code. I thought you guys
changed the VS installer with that in mind.

Am 12.03.2017 5:12 nachm. schrieb "Phillip Carter" <notifications@github.com

I imagine we'll have an update once the bugs in multicase struct unions are
addressed, but probably not after then until F# 4.2 is released. I'm not
aware of any notification VS could send to indicate that

[2017-03-12 16:19] cartermp commented on #2553
You're confusing the VS Gallery with the MS Download Center.  The latter is where _many_ people download the standalone F# 4.1 MSI today.  It has no connection with VS.

[2017-03-12 17:07] forki commented on #2553
Tbh I don't care where things are stored. If the gallery is the right place
to notify users then we need to push updates over there.

Am 12.03.2017 17:19 schrieb "Phillip Carter" <notifications@github.com>:

[2017-03-12 19:34] vasily-kirichenko commented on #2573
Fixed in https://github.com/Microsoft/visualfsharp/pull/2596

[2017-03-12 20:11] BentTranberg commented on #2548
I did a little study of how things behave in the Error List pane in VS 2015 versus 2017. Based on that, I have this theory of what might have happened.

C#, 2015, Build : only updated when you explicitly build. OK
C#, 2015, IntelliSense : continuously updates as you edit. OK
F#, 2015, Build : continuously updates as you edit. Uhm .. sort of OK
F#, 2015, IntelliSense : receives nothing.

So there i

[2017-03-13 01:00] cloudRoutine commented on #2578
@JoshVarty won't that require a reimplementation of the `AbstractPackage` and `AbstractLanguageService` on top of `AsyncPackage` instead of `Package`?  It might be easier just to profile and attack the bottlenecks

[2017-03-13 03:03] sayurin commented on #2564
Still need more info?

[2017-03-13 03:04] KevinRansom commented on #2564
No I can repro the problem.

Thank you for finding this.

[2017-03-13 05:42] JoshVarty commented on #2578
Yeah it might not work since we're using the Roslyn base classes here, but I'm not very familiar with them so I can't say one way or the other.

Profiling might be a better option here.

[2017-03-13 07:40] sergey-tihon commented on #2406
Do we know why `Save()` from `System.Reflection.Emit` is not part of `.NET Standard 2.0`? Explanation page or some discussion that may be linked? // cc @terrajobst

What alternatives we have if `Save()` will not be part of `.NET Standard 2.0`?

I think that I have a TP that should be generative - [SwaggerProvider](http://fsprojects.github.io/SwaggerProvider/).
In we could keep this TP generative a

[2017-03-13 08:15] #2573 closed

[2017-03-13 08:17] matthid commented on #2406
The issue is tracked here
https://github.com/dotnet/corefx/issues/4491
and there is a linked issue created by Kevin explaining in-depth what this means for F#...

[2017-03-13 08:25] sergey-tihon commented on #2406
Ok, found issue created by Kevin - https://github.com/dotnet/coreclr/issues/1709

[2017-03-13 17:37] KevinRansom opened #2600 "Test case fsharp\regressions\655 generates unverifiable code with coreclr compiler. Desktop compiler is okay"
I have been ensuring that build ci_part3 does not rely on the net40 build at all and came across this.

The coreclr compiler generates unverifiable code on coreclr for this regression test.

[code]

[2017-03-13 19:01] vasily-kirichenko opened #2602 "100% CPU load"
![image](https://cloud.githubusercontent.com/assets/873919/23870672/423bd56a-0838-11e7-8ac1-c9ed98c4784d.png)

![image](https://cloud.githubusercontent.com/assets/873919/23870692/55afc69c-0838-11e7-8fa4-b593cb831325.png)

![image](https://cloud.githubusercontent.com/assets/873919/23870732/7e8974c8-0838-11e7-8915-e91dbd96e71b.png)

![image](https://cloud.githubusercontent.com/assets/873919/23870772

[2017-03-13 19:04] vasily-kirichenko commented on #2602
@dsyme it's my, relatively new (post RTW) code:
[code]

Please, help.

[2017-03-13 21:05] JoshVarty commented on #2490
I've made some progress.

When F# wants to open a file (eg. clicking an item in Solution Explorer) it calls [`IVsUIShellOpenDocument.OpenStandardEditor()`](https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.shell.interop.ivsuishellopendocument.openstandardeditor.aspx). F# makes this call [here](https://github.com/Microsoft/visualfsharp/blob/e28fcd7a39c463b388a94d66a7e114580e669a6f/vsi

[2017-03-13 21:28] BentTranberg commented on #2550
I believe there are at least three issues here. One of them is described only in the title itself, and is a duplicate of #2548. Then there is #2100. But I believe the rest of the report deals with "frenetic IntelliSense activity", which can pretty much cripple work with F# in VS 2017, but is fixed in the latest VSIX. I feel it important this be known. Thanks goes to Vasily Kirichenko for helping m

[2017-03-13 22:14] cartermp commented on #2550
There is a related issue in VS feedback here: https://developercommunity.visualstudio.com/content/problem/24309/vs2017-fsharp-intellisense-across-projects.html

I'm looking at this today/tomorrow (busy around here for me right now...).  It's difficult to tease out the specific problems, but I think they should be much better once we get our nightly builds up.

[2017-03-13 22:16] cartermp commented on #2602
@vasily-kirichenko Which PR was that?

[2017-03-13 22:41] JoshVarty commented on #2490
Looking through the shell code, there is an explicit check in `GetProvisionalViewingStatus` to see whether or not we're using an external (custom) editor factory. If so, it says preview is disabled. Presumably this is to avoid loading designers and stuff (eg. for .xaml files) while you're scrolling through the menu.

I believe that this should be achievable by looking at the physical view attribut

[2017-03-14 01:04] jeroldhaas commented on #2432
This would be desirable:

[code]

@smoothdeveloper  mentioned: "it might be possible to reuse logic from VFPT which implements interface to have a codefix also, we could have a dialog showing list of overrideable members"

[2017-03-14 01:13] KevinRansom opened #2607 "Coreclr does not support itanium --- fsc for coreclr says it does."
[code]

[2017-03-14 03:18] CodEFouR opened #2608 "Exception thrown when sending code to F# Interactive"
When sending the code to the F# Interactive, I always came across the exception below:

![default](https://cloud.githubusercontent.com/assets/594939/23884033/4a1eca18-08a5-11e7-9dd4-f909cc02b4e2.png)

Don't know what triggers this and how to reproduce the issue, but it seems that the issue appears first time sending the code to interactive. The execution of the sent code is not impacted. And it do

[2017-03-14 04:48] vasily-kirichenko commented on #2602
@cartermp https://github.com/Microsoft/visualfsharp/pull/2488

[2017-03-14 05:19] vasily-kirichenko commented on #2608
It's fixed long time ago. Use latest VisualFSharpOpenSource.vsix

[2017-03-14 05:45] CodEFouR commented on #2608
I'm running the latest VS2017:
![default](https://cloud.githubusercontent.com/assets/594939/23887362/6876954c-08bc-11e7-8167-baf910265483.png)
![1](https://cloud.githubusercontent.com/assets/594939/23887363/68794850-08bc-11e7-802c-982b90525362.png)

[2017-03-14 05:47] cartermp commented on #2602
Thanks!  Is this on VisualFSharp.sln?  If so, which file?

Interesting that this is happening.  For some reason the [loop](https://github.com/Microsoft/visualfsharp/blob/8da728657e3380f5971f67c6a33c677c3211df72/src/fsharp/infos.fs#L105) within a [loop](https://github.com/Microsoft/visualfsharp/blob/8da728657e3380f5971f67c6a33c677c3211df72/src/fsharp/infos.fs#L161) is just slamming the dictionary i

[2017-03-14 06:04] CodEFouR commented on #2608
Ah sorry I didn't check out VisualFSharpOpenSource.vsix in my last post. I got it and will give it a try. Thank you.

[2017-03-14 06:56] vasily-kirichenko commented on #2602
@cartermp many files were opened at that time :( One thing I can think about is trying to call `IsDisposableType` for `IDisposable` itself.

[2017-03-14 13:14] dsyme commented on #2591
Stepp back a bit, the overall aim hould be to make [GetSemanticClassification](https://github.com/Microsoft/visualfsharp/blob/4a43f48a8bfa6bc514a5824c9d16b298b9296675/src/fsharp/vs/service.fs#L1500) be tolerant of missing assembly references.

One sure way to fix this is to put a ``protect`` around the processing of each individual ``resolution`` https://github.com/Microsoft/visualfsharp/blob/4a43

[2017-03-14 13:17] dsyme commented on #2602
Either a quadratic (or worse) algorithm or a concurrency problem accessing that dictionary?

[2017-03-14 13:19] neildanson opened #2609 "Struct Records cannot be stored in Nullable"
Given the point of using Struct Records/union is to reduce allocations, I think using heap allocated Option to box in this case is sub-optimal. Nullable should work, but gives compiler error.

#### Repro steps

[code]
also

[code]

#### Expected behavior

Code builds, and Point can be used in a `Nullable<'t>`

#### Actual behavior
`Error	FS0001	The type 'Point' is not compatible with the type 'Sys

[2017-03-14 13:19] dsyme commented on #2561
Closing as fixed

[2017-03-14 13:19] #2561 closed

[2017-03-14 13:21] dsyme commented on #2566
Closing as by design (somewhat unfortunately, but the past is hard to change)

[2017-03-14 13:21] #2566 closed

[2017-03-14 13:27] dsyme commented on #2593
I think it's best to consider this "by design". For better or worse this counts as a use-before-definition w.r.t. "inline".  Just remove the "inline" or put the test code in another file.

[2017-03-14 13:27] #2593 closed

[2017-03-14 13:35] dsyme commented on #2600
@KevinRansom From the log it looks like you re-compiled test.fs before pack.dll?

[code]

[2017-03-14 13:37] dsyme commented on #2609
Changed title - the problem is that the F# compiler doesn't consider struct records and unions to be subtypes of System.ValueType.  This was missed in the RFCs for these language features.

[2017-03-14 13:38] dsyme commented on #2608
Closing as already fixed in master

[2017-03-14 13:38] #2608 closed

[2017-03-14 13:39] dsyme commented on #2577
This seems like a good idea

[2017-03-14 13:42] dsyme commented on #2546
I'll close this as a duplicate of https://github.com/Microsoft/visualfsharp/issues/2547

[2017-03-14 13:42] #2546 closed

[2017-03-14 13:44] dsyme commented on #2520
Closing as fixed (thanks @vasily-kirichenko  :) )

[2017-03-14 13:44] #2520 closed

[2017-03-14 13:46] dsyme commented on #2516
@vasily-kirichenko @eiriktsarpalis I'll close this as by design, though somewhat reluctantly since I don't think it's a bug as such.  However it's likely we would accept a PR that actually implements this well and cleanly.  I can see the suggestion is sound and sensible, I'm only closing it because exceptions are considered exceptional in .NET and F# programming

[2017-03-14 13:46] #2516 closed

[2017-03-14 13:48] smoothdeveloper opened #2610 "VS2017: completion bug on provided members with . in them"
I'm facing some issues with completion and colorization in VS2017 which didn't exist in previous release.

# completion bug  of TP members

When I pick members which are to be escaped with ` `` `, it doesn't escape them when committing the completion

VS2017:

![vs2017 completion](https://cloud.githubusercontent.com/assets/87944/23903349/87995f1a-08c4-11e7-87dd-a56f4403879e.gif)

VS2015:

![vs2015

[2017-03-14 13:49] dsyme commented on #2471
Closing - feature suggestion best tracked on user voice or elsewhere (also viasfora shoud just add F# support?)

[2017-03-14 13:49] #2471 closed

[2017-03-14 13:50] dsyme commented on #2463
Closing as a duplicate of #1678 (though this has additional test cases and useful discussion)

[2017-03-14 13:50] #2463 closed

[2017-03-14 13:52] dsyme commented on #2538
Closing since the "Simplify name analyzer" is disabled by default, and we believe this is what's responsible

[2017-03-14 13:52] #2538 closed

[2017-03-14 13:54] dsyme commented on #2461
@cartermp Looks really important - any idea where we are with this? thanks :)

[2017-03-14 13:58] dsyme commented on #2405
Closing since the feature is turned off

[2017-03-14 13:58] #2405 closed

[2017-03-14 13:59] dsyme commented on #2392
Closing this since ths issue is minor - and seems likely to be external in any case

[2017-03-14 13:59] #2392 closed

[2017-03-14 14:00] dsyme commented on #2379
Closing since @vasily-kirichenko says fixed on master (or at least not blocking any more)

[2017-03-14 14:00] #2379 closed

[2017-03-14 14:01] dsyme commented on #2362
Closing old RC3 issue

[2017-03-14 14:01] #2362 closed

[2017-03-14 14:02] dsyme commented on #2345
Closing as we've done a fair bit of memory work.  More may be needed but we should identify specific scenarios and do new logging

[2017-03-14 14:02] #2345 closed

[2017-03-14 14:03] dsyme commented on #2319
@cartermp Ping - any update on this?

[2017-03-14 14:07] vasily-kirichenko commented on #2610
I've completely forgot, but it may be the case that I fixed some of these bugs in https://github.com/Microsoft/visualfsharp/pull/2235. Maybe you could resurrect it and check?

[2017-03-14 14:10] smoothdeveloper commented on #2610
@vasily-kirichenko I see, I'll try to pull that and test it with my case, thanks!

[2017-03-14 14:14] tldrlol commented on #2593
Would it at all be possible to receive more explanation of why that is?

In particular, how it is that a seemingly unrelated keyword `rec` describing a module introduces a compilation error?

[2017-03-14 17:45] drvink commented on #2593
@tldrlol Basically, use of `inline` in any recursive binding construct (`let rec ... and ...`, `class`, and as of F# 4.1, `module rec` and `namespace rec`) imposes ordering requirements. This works:

[code]

This doesn't:

[code]

[F# RFC FS-1009 - Allow mutually referential types and modules over larger scopes within files](https://github.com/fsharp/fslang-design/blob/master/FSharp-4.1/FS-1009-mu

[2017-03-14 17:59] cartermp commented on #2461
I think we're at the same place we were when I first created the issue.  It's likely related to lack of support for .NET Standard/.NET Core reference model in our own project system, which may mean quite a bit of work on our own project system.  Since @brettfo is going to be working on F# support on the Roslyn Project system so that we can replace what we currently have, it may be best to hold off

[2017-03-14 18:02] cartermp commented on #2319
Sent email just now.

[2017-03-14 19:18] eiriktsarpalis commented on #2516
@vasily-kirichenko @dsyme An important property lost when using `Async.Raise` instead of `raise` is that debuggers and profilers are unable to detect errors. That said, `Async.Raise` is still useful if you want to raise a caught exception (e.g. the exception result of a task) without wiping its stacktrace. Still, replacing one with the other is not ideal in most cases.

[2017-03-14 19:26] smoothdeveloper commented on #2411
closed via #2590

[2017-03-14 19:26] #2411 closed

[2017-03-14 19:27] smoothdeveloper commented on #2351
I'm still having this error on updated master.

[2017-03-14 21:23] cartermp commented on #2319
Okay, so it seems like a bit of a strange issue:

1. Some articles do not have the metadata defined  to be recognized by the service.  That can be fixed, though it may take a while before everything works properly.  We're also migrating the F# Reference material, so we may just wait until it's on the new system before we go changing stuff.

2. It *does* work for [articles without metadata](https:/

[2017-03-14 21:59] cartermp opened #2611 "No IntelliSense after re-opening multi-project solution on VS reload"
If you create a solution where one project references another, close VS, then re-open that solution, you will not get IntelliSense in VS 2017 RTW.

#### Repro steps

1. Create a new Class Library with the following (template) code:

[code]

2. Create a new Console App with the following:

[code]

3. Close VS.
4. Open VS with the solution you just created.

#### Expected behavior

IntelliSense and

[2017-03-14 22:33] KevinRansom commented on #2554
@smoothdeveloper. nugget/msbuild creates an assets file which is json format.  I expect paket does something similar.  You can determine from the assets whether a dll is reference, or runtime.

[2017-03-14 23:42] jack-pappas commented on #2351
Did you investigate that warning you were getting? E.g., ``Found conflicts between different versions of the same dependent assembly that could not be resolved.  These reference conflicts are listed in the build log when log verbosity is set to detailed.``

https://blogs.msdn.microsoft.com/visualstudio/2010/02/24/troubleshooting-extensions-with-the-activity-log/

[2017-03-15 02:37] smoothdeveloper commented on #2351
@jack-pappas thanks for your help, here is what I found:

[code]

there are probably others (28mb log file) and that reminds me the stuff we've gone through in VFPT when harmonizing VSSDK dependencies.

To get that log, I've added ` /fl /flp:logfile=build.log.log;verbosity=diagnostic  ` to the line setting msbuild options in `build.cmd` (`set msbuildflags`)
[build.zip](https://github.com/Microsoft

[2017-03-15 02:50] smoothdeveloper commented on #2351
In our fsproj files we have stuff like this:

[code]

can we:
* change nuget stuff to just restore under "Microsoft.VisualStudio.CoreUtility" rather than "Microsoft.VisualStudio.CoreUtility.14.3.25407" (note I don't have any package with 0.0 under packages/ folder)
* are we sure all packages in the dreaded `packages.config` are consistent, including transitive dependencies? (that's an area paket s

[2017-03-15 04:43] cartermp commented on #2001
Okay.  Closing this as fixed for now, since we addressed some issues here and it seems to have been fixed since RC4.

[2017-03-15 04:43] #2001 closed

[2017-03-15 04:49] cartermp commented on #2123
Since we'll be moving to the new project system, I'll close this since:

a. Not a regression
b. Debug build, so it may have been there before as @dsyme says

[2017-03-15 04:49] #2123 closed

[2017-03-15 04:49] cartermp commented on #2181
This is dependent on project system support, hence the change in milestone.

[2017-03-15 04:56] cartermp commented on #1684
@abelbraaksma Have you been able to repro this with the VS 2017 RTM bits?

[2017-03-15 04:59] #1919 closed

[2017-03-15 05:02] #2306 closed

[2017-03-15 05:12] vasily-kirichenko commented on #2611
Another repro: open any file in FsharpProject project in vft solution - nothing works. Go to project settings dialog, change (wrong) project type from console app to library - everything works.

[2017-03-15 09:36] gusty opened #2613 "Visual Studio 2017 Crash when executing code in FSI"
This is hard to reproduce but from time to time I'm getting:

 - Exceptions displayed like this:

![image](https://cloud.githubusercontent.com/assets/1261319/23941656/ed955b66-0969-11e7-912d-5932df8b51d8.png)

(the file is attached)

 - Visual Studio crashes, and then it restarts. This happens when sending code to the fsi window.

#### Repro steps

Unfortunately I can't find steps to reproduce it

[2017-03-15 10:43] vasily-kirichenko commented on #2613
This is fixed in master.

[2017-03-15 11:41] forki opened #2614 "Loading two scripts with same name from different folders doesn't work in fsi"
![image](https://cloud.githubusercontent.com/assets/57396/23946846/60baace2-097c-11e7-8161-b61150897e40.png)

[fileload.zip](https://github.com/Microsoft/visualfsharp/files/844321/fileload.zip)

The issue is QualFileNameOfFilename in CompileOps.fs doesn't look at the file path and therefor generates two implicit module names with same name.

[2017-03-15 11:50] smoothdeveloper commented on #2614
thinking the modules should be combined if possible, or the name of subsequent scripts altered (to not be a breaking change).

[2017-03-15 12:56] dsyme commented on #2614
@forki  It seems reasonable for QualFileNameOfFilename to either include the file path  in some way, or a stable hash of the file path

[2017-03-15 12:57] smoothdeveloper commented on #2614
@dsyme is that going to change the implicit name given of the module?

[2017-03-15 14:03] dsyme commented on #2614
@smoothdeveloper Yes, the change should be made with that in mind. e.g. only add the hash if there is a clash with an existing file in the compilation. (I think anything else would be a breaking change)

[2017-03-15 14:15] smoothdeveloper commented on #2614
Right, I had this in mind (when I stated "name of subsequent scripts altered" I meant to write module names).

Although I'm wondering if there aren't messy problems down the road by doing so, opening the same script in different places will bring the implicit module stuff under different names which could be a problem.

I guess it is a problem with work around (open the right module or don't do st

[2017-03-15 15:24] #2554 closed

[2017-03-15 15:55] KevinRansom commented on #2614
@dsyme @smoothdeveloper

perhaps extend #load to allow a developer to specify the module name instead of inferring it.  Then the packagemanager (or developer)  can specify whatever name it likes, and the default behavior remains unchanged and so no breaking change.

Kevin

[2017-03-15 15:58] majocha commented on #2611
For me the result on RTW is
<img width="828" alt="2017-03-15" src="https://cloud.githubusercontent.com/assets/1760221/23957424/9d0acee8-099f-11e7-9086-2b42308a3190.png">
but on master everything works fine.
<img width="767" alt="2017-03-15 2" src="https://cloud.githubusercontent.com/assets/1760221/23957756/71f40278-09a0-11e7-8e9b-cd4dc9f54a87.png">

[2017-03-15 16:12] vasily-kirichenko commented on #2611
Why file bugs found in RTW at all? It's tremendously outdated.

[2017-03-15 16:18] smoothdeveloper commented on #2614
That's a possibility although I don't see any breaking change in having better automatic naming happening, because currently FSI doesn't accept that situation (I'm surprised I never faced it so far).

Even when we specify a name, there is still going to be room for clash AFAIU, right?

[2017-03-15 16:46] cartermp commented on #2611
@vasily-kirichenko People provide feedback through VS, which eventually turns into a TFS bug that finds its way to us.  Any way we can convert that to GitHub, point people towards it, and verify with a larger audience, the better.  It also helps in tracking what issues are (or were), and for which release.

[2017-03-15 17:00] cartermp commented on #2614
This seems to work with fsharpi and mono.

`one/Script1.fsx`:
[code]

`two/Script1.fsx`:
[code]

`Script.fsx`:
[code]

Then run `fsharpi Script1.fsx`:

<img width="280" alt="screen shot 2017-03-15 at 9 59 55 am" src="https://cloud.githubusercontent.com/assets/6309070/23960810/32629546-0966-11e7-88a4-0c2c190f39ca.png">

[2017-03-15 17:02] forki commented on #2614
Yeah I have a suspicion that we regressed here

Am 15.03.2017 18:00 schrieb "Phillip Carter" <notifications@github.com>:

[2017-03-15 17:11] smoothdeveloper commented on #2614
It works from FSI but the problem is in VS, same problem exists in VS2015.

[2017-03-15 17:33] cartermp commented on #2611
Confirmed that this is fixed in the latest nightly.  Yay!

[2017-03-15 17:33] #2611 closed

[2017-03-15 17:55] cartermp commented on #2355
CLOSIN'

https://blogs.msdn.microsoft.com/dotnet/2017/03/14/announcing-nightly-releases-for-the-visual-f-tools/

[2017-03-15 17:55] #2355 closed

[2017-03-15 18:15] brettfo opened #2616 "The test FSharp-Tests-Core+GeneratedSignatureTests.access-GENERATED_SIGNATURE is flaky."
Out of the last 7 official F# builds there have been 4 failures and 3 of them were this test failing peverify:

[code]

[2017-03-15 18:39] vasily-kirichenko opened #2618 "Intellisense list is sorted very wrongly"
Not-after-dot completion sorted very wrongly:

![image](https://cloud.githubusercontent.com/assets/873919/23965016/a84cfdbc-09c7-11e7-88b1-a760906b6c15.png)

It's fixed in https://github.com/Microsoft/visualfsharp/pull/2594 (not entirely, but almost). Does it make sense to make a separate PR?

[2017-03-15 21:11] vivainio opened #2619 "Wishlist: better debugger display for List, Set, Map"
Currently, you get a good overview of data structure contents for Array (i.e. actual items in a flat list).

List, Set and Map should provide a similar overview. Instead, you need to click through the internal data structure to see the contents.

[2017-03-15 21:25] forki commented on #2619
You need to activate "use old C#/VB debugger visualizers" or something like that in VS options. Then it works like in VS 2015. Unfortunately there is no way to reactivate that for VF#. It's a bit fucked up situation

[2017-03-15 21:47] vivainio commented on #2619
I tried that, and it worked.

For posteriority, it's here:

Tools => Options => Debugging => General => "Use the legacy C# and VB expression evaluators".

My immediate problem is solved with this one, but I'll leave the ticket open in case we get around to getting a "non legacy" solution for this as well, eventually.

[2017-03-15 21:57] forki commented on #2619
I think it's a duplicate since I raised exactly the same thing couple of weeks ago. It's just unfortunate that MS did not activate that thing again...

[2017-03-15 22:38] smoothdeveloper commented on #2619
#2184

[2017-03-16 02:51] #2490 closed

[2017-03-16 03:50] KevinRansom commented on #2618
@vasily-kirichenko I just pulled #2594.  So feel free to submit any fixes you think are needed.

[2017-03-16 08:36] #2619 closed

[2017-03-16 08:36] vivainio commented on #2619
Closed as duplicate of #2184

[2017-03-16 09:17] JoshVarty commented on #2618
Out of curiosity: What's the ideal order in your view?

C# uses alphabetical, but I've heard some people want "more intelligent" sorting.

[2017-03-16 09:26] vasily-kirichenko commented on #2618
@JoshVarty R# like.

[2017-03-16 09:28] smoothdeveloper commented on #2618
@JoshVarty one thing R# does is having a MRU of committed completions, and in general you want locals/parameters before the rest.

[2017-03-16 10:55] smoothdeveloper commented on #2351
I've tried to put this in `build-everything.proj`

[code]

but it doesn't seem to help.

[2017-03-16 11:40] vasily-kirichenko commented on #2351
Have you tried to delete
`c:\Users\<you>\AppData\Roaming\Microsoft\VisualStudio\15.0_<some number here>FSharpDev`
and
`c:\Users\<you>\AppData\Local\Microsoft\VisualStudio\15.0_<some number hereFSharpDev`
?

[2017-03-16 12:12] smoothdeveloper commented on #2351
@vasily-kirichenko it builds!

Do we have to do that whenever `packages.config` changes?

[2017-03-16 12:13] vasily-kirichenko commented on #2351
No idea :) That's what I always do when it refuses to build.

[2017-03-16 13:48] dsyme commented on #2490
Great, that's a relief to have this fixed :)

[2017-03-16 15:52] enricosada opened #2625 "an refresh of Microsoft.FSharp.*.netcore on nuget.org"
@KevinRansom Is possibile to have a new release of package [Microsoft.FSharp.Compiler.netcore](https://www.nuget.org/packages/Microsoft.FSharp.Compiler.netcore) on nuget.org? Maybe fsharp.core too, if needed.
Atm version is `1.0.0-rc-170122`.  /cc @cartermp

To get fsc args (https://github.com/fsharp/FSharp.Compiler.Service/issues/707) required by FSAC  (https://github.com/fsharp/FSharp.Compiler.S

[2017-03-16 16:07] cartermp commented on #2619
Just to chime in, support for all three means support for an F# Expression Evaluator.  That's a very nontrivial bit of work that we've got as a high priority internally, but won't be able to get to until at least when the project system work is finished.

[2017-03-16 16:40] cartermp opened #2626 "Double-clicking error in error list on dirty file duplicates tab"
Looks like #2417 didn't catch this.

#### Repro steps

1. Create a new Class Library.

2. Make it fail to compile (I typed `asdfa` somewhere)

3. Double-click the error in the Error List window.

#### Expected behavior

Takes me to the line with the error

#### Actual behavior

takes me to the line with the error **and** opens a duplicate tab of the file.

![duplicate-tab](https://cloud.githubuser

[2017-03-16 16:59] dsyme commented on #2619
I consider this a bug in the current C# EE? It should always have continued to support DebugView on any F# (or Visual Basic or whatever) objects.  That is I don't understand why the existing DebugView's don't just work with the new C# EE

[2017-03-16 17:19] sergey-tihon opened #2627 "Used `open` colored as unused"
Incorrect coloring of used `open` statements.

#### Repro steps

Paste following code samples in `VS2017`

[code]

#### Expected behavior

`open System` in `Module A` is unused
`open System` in `Module B` is used

#### Actual behavior

<img width="703" alt="screen shot 2017-03-16 at 8 16 04 pm" src="https://cloud.githubusercontent.com/assets/1197905/24009247/7110fb14-0a85-11e7-8e87-e82fae7dceff.pn

[2017-03-16 17:20] Soldalma opened #2628 "Intellisense Quick Info blocks half of my screen when I hover over some keywords"
I am using VS 2017, programming in F#. When the mouse cursor hovers over Deedle.Frame and a few other keywords the Quick Info popup takes almost half my screen.

#### Repro steps

1. Install the Deedle package from NuGet and insert "open Deedle" in your code. Type "Frame" in a blank line.

2. Hover with the mouse cursor over the word "Frame".

#### Expected behavior

What I would like to have is e

[2017-03-16 17:32] vasily-kirichenko opened #2629 "Nightly VSIX failed to install"
1. The first nightly build installed, everything works
2. Notification come
3. Update
4. Installer fails saying the extension is already installed
5. Open VS, it says VFT package failed to load

![image](https://cloud.githubusercontent.com/assets/873919/24009986/9645806a-0a87-11e7-9355-63dcb8efad72.png)

![image](https://cloud.githubusercontent.com/assets/873919/24009886/4ded1eea-0a87-11e7-97e9-a3

[2017-03-16 17:39] vasily-kirichenko commented on #2626
It caught. Looks like https://github.com/Microsoft/visualfsharp/pull/2606 bring back duplication.

Find usages - click on a symbol in the result window => duplicated tab
GoToAll - find a symbol - go to it => duplicated tab
F12 on a symbol definition => duplicated tab

@JoshVarty are you sure your PR don't yield duplicated tabs?

[2017-03-16 17:45] vasily-kirichenko commented on #2628
@cartermp @KevinRansom could you delete or greatly simplify the issue template? I see no usefulness in it, but a lot of noise and, I'm sure, people spend much time filling all these info.

@Soldalma could you provide a screenshot?

[2017-03-16 17:46] cloudRoutine commented on #2628
@Soldalma his `ESC`

[2017-03-16 17:48] AmadeusW commented on #2618
I'm working on a new Intellisense API specification for VS. I'm interested in what are the desired sorting mechanisms. We are now open for suggestions, and so far we've heard of sorting by

* Camel case match (this will be performed by VS on each keystroke, before other sorts)
---
* Scope distance (locals before class members before rest)
* Recently used
* Suggested name (when language service pro

[2017-03-16 17:59] vasily-kirichenko commented on #2618
We implemented the following order in F# editor:

For completion after dot:

* Recently used (but not extension methods)
* Own (defined in the type before dot) properties
* Inherited properties
* Own fields
* Inherited fields
* Own methods
* Inherited methods
* Own events
* Inherited events
* Everything else
* Extension methods

Then alphabetically Inside each group.

About completion which does n

[2017-03-16 18:02] dsyme commented on #2628
Perhaps we can simplify it, but I think it's just being filled in badly.  There is real usefulness in making people fill in "repro", "actual" and "expected" steps.  It is also be crucial to get version and runtime information

I think we should keep it as is and, if anything, be more forceful about making people fill it in.

[2017-03-16 18:04] dsyme commented on #2628
@vasily-kirichenko Looking at the above - if anything, I think we should **add** "If this is a Visual F# Tools bug, please provide an animated screenshot" to the template text, and give a link to a tool to take an animated screen capture GIF.

[2017-03-16 18:25] cartermp commented on #2619
@tmat, would you know more about this?

[2017-03-16 18:26] KevinRansom commented on #2625
Done Version="1.0.0-rc-170316-0"... it's just indexing

https://www.nuget.org/packages/Microsoft.FSharp.Compiler.netcore/1.0.0-rc-170316-0
https://www.nuget.org/packages/Microsoft.FSharp.Core.netcore/1.0.0-rc-170316-0

[2017-03-16 18:34] enricosada commented on #2625
Awesome, thx a lot @KevinRansom . i'll try update fsharp packages now 👍 and some test, after that i'll close it

[2017-03-16 18:49] tmat commented on #2619
@cartermp Can you point me to the nupkg and assembly in it that defines the types in question?

[2017-03-16 18:56] cartermp opened #2630 "Ctrl+; keybinding (search solution explorer) doesn't trigger with F# files are in focus"
#### Repro steps

1. Create a new F# project.

2. Click in the editor on an F# project.

3. Press `Ctrl+;` keybinding.

#### Expected behavior

Focus is brought into the Solution Explorer search bar.

#### Actual behavior

Nothing happens.  Doesn't appear broken on C# or XAML.

![search-solution-fails](https://cloud.githubusercontent.com/assets/6309070/24013713/8c6f868c-0a3f-11e7-96d1-ca6040b3d55c

[2017-03-16 19:01] cartermp commented on #2619
@tmat Code is here: https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/FSharp.Core/prim-types.fs#L3512

The assembly is FSharp.Core.dll (not distributed via nupkg in vs2017) - we ship versions 4.4.1.0, 4.4.0.0, 4.3.1.0, and 4.3.0.0 which each define the type.  We ship a nupkg for .NET Core [here](https://www.nuget.org/packages/Microsoft.FSharp.Core.netcore/1.0.0-rc-170316-0).

The on

[2017-03-16 19:28] cartermp commented on #2627
Tagging this for VS 2017 updates for now, though I may move it from that milestone in the future since it's fairly low-priority

[2017-03-16 19:32] cartermp commented on #2629
@brettfo Is looking at this right now.  The current workaround is to uninstall it first, then install the update.  He's working with the extensions team in VS right now to see what's up.

[2017-03-16 19:43] sergey-tihon commented on #2627
Thanks @cartermp, sure. When do you use label:"Up for Grabs" ?

[2017-03-16 19:46] KevinRansom commented on #2614
@forki, @smoothdeveloper, @dsyme, @cartermp
Is someone working on this, or should I take a look at it?

[2017-03-16 19:48] forki commented on #2614
I looked at it, but tbh I am already preparing next vacation ;-)

[2017-03-16 19:49] KevinRansom commented on #2614
I would prefer not to duplicate work, so I can take a look if no one else is.

From: Steffen Forkmann [mailto:notifications@github.com]
Sent: Thursday, March 16, 2017 2:48 PM
To: Microsoft/visualfsharp <visualfsharp@noreply.github.com>
Cc: Kevin Ransom <Kevin.Ransom@microsoft.com>; Comment <comment@noreply.github.com>
Subject: Re: [Microsoft/visualfsharp] Loading two scripts with same name from di

[2017-03-16 19:52] cartermp commented on #2627
Good question.  I suppose that's always implicitly up - though I suspect @vasily-kirichenko would need to be involved (certainly for a code review) since he wrote this part of the tools.

[2017-03-16 19:54] forki commented on #2614
yeah what I was trying to say was. I'm not working on it.

[2017-03-16 19:56] jack-pappas commented on #2533
@mmitche Have you had a chance to look at these machines?

[2017-03-16 19:57] jack-pappas commented on #2629
For comparison, I was able to install just fine. The first time I brought up VS after installing the nightly, VS crashed. I restarted and everything has been fine since then.

[2017-03-16 20:00] jonschoning commented on #2543
https://blogs.msdn.microsoft.com/dotnet/2017/03/14/announcing-nightly-releases-for-the-visual-f-tools/ appears to solve this

[2017-03-16 20:00] #2543 closed

[2017-03-16 20:00] KevinRansom commented on #2627
The milestone thing, is really for when Don, Phillip, Brett or Me will look at it.  If a member of the community wants to fix it, we will incorporate their fix when it is ready, not when it's milestone is achieved.

We don't have a good strategy for up-for grabs, mainly because there seems to be a notion that up-for grabs are somehow 'entry level bug fixes' good for beginners as it were.  Obviousl

[2017-03-16 20:02] smoothdeveloper commented on #2618
@AmadeusW please also consider looking beyond sorting for Intellisense API revisions:

* making the list resizeable (when I use APIs with hundreds of members, I really need a bigger list)
* having more info in the list: R# shows namespaces for members in the list that aren't in scope (it will open the namespace for you if you commit the completion), and it also put the type signature of the elemen

[2017-03-16 20:06] smoothdeveloper commented on #2614
@KevinRansom not working on it, tried to get us thinking about what we want instead of current behaviour and intend to work on other smallish bugs in the IDE I logged recently.

[2017-03-16 20:09] KevinRansom commented on #2614
Okay ... I will add to the list of things to get on with ...

[2017-03-16 22:19] cartermp commented on #1684
Closing this, since (a) haven't noticed white-on-white highlighting when it's in focus, and (b) I doubt that highlighting color is something we control.

[2017-03-16 22:19] #1684 closed

[2017-03-16 22:39] cartermp commented on #2372
Closing, as this is fixed.

[2017-03-16 22:39] #2372 closed

[2017-03-16 22:40] smoothdeveloper opened #2631 "Nightly release pipeline: add commit id"
Is it possible to have a way to correlate the nightly releases to specific commits from this repository?

I'd like to know which commit corresponds the version I'm running

https://dotnet.myget.org/feed/fsharp/package/vsix/VisualFSharp/15.4.1.17031602

![image](https://cloud.githubusercontent.com/assets/87944/24021561/dfd47faa-0aa1-11e7-935f-4bf732761beb.png)

[2017-03-16 22:50] cartermp commented on #2107
@saul Would you say this could be closed given that your work is now available in nightlies?

[2017-03-16 23:00] JoshVarty commented on #2626
Which version number? `15.4.1.17031503`?

[2017-03-16 23:26] JoshVarty commented on #2626
So I tried to repro this and got some weird behavior:

- If I start Visual Studio and previously opened documents are open, I can repro this behavior.
- If I close the documents and then re-open them, I can no longer repro this behavior.

@cartermp @vasily-kirichenko Can you repro this behavior once you close your open tabs?

[2017-03-16 23:45] cartermp commented on #2626
@JoshVarty This was with 15.4.1.17031602, but I cannot reproduce this anymore with 15.4.1.17031603.

[2017-03-16 23:47] smoothdeveloper opened #2632 "using debug VSIX on VisualFSharp.sln: Assert failed in unused opens"
using debug VSIX from master (minus #2612), loading CompileOps.fs and waiting for type check to complete in the solution:

![image](https://cloud.githubusercontent.com/assets/87944/24023236/24472288-0aab-11e7-8146-fab394cab42e.png)

[2017-03-16 23:51] JoshVarty commented on #2629
I saw this behavior today as well. After installing I ran `devenv /updateConfiguration` from a developer command prompt and it seemed to get things working properly again.

[2017-03-16 23:52] smoothdeveloper opened #2633 "Repository CI: add end-to-end test in CI"
I'm thinking adding this integration test will catch issues with tooling:

* compile this repository `build proto net40 release vs`
* deploy vsix in Visual Studio
* get a clean clone of this repository
* compile `proto net40 release`
* open VisualFSharp.sln with devenv (with the VSIX just compiled)
* run VisualFSharpOpenSource project
* open VisualFSharp.sln in new instance
* open a file
* wait 2

[2017-03-16 23:52] cartermp commented on #2626
Neither do Go to Definition, nor Find all References.  I can't seem to repro it on VisualFSharp.sln, either.  I'll close this for now.

[2017-03-16 23:56] JoshVarty commented on #2626
I'd actually leave it open because I can repro it reliably via:

1. Install any nightly build
2. Open a `.fs` file in a solution.
3. Close VS
4. Uninstall the F# tools
5. Install a different nightly build.
6. Open your original solution. (Visual Studio will automatically open the previous `.fs` file.
7. Introduce the error your mentioned above
8. Click the error list and observe a duplicate tab is

[2017-03-17 00:10] cartermp commented on #2626
Sounds good.

[2017-03-17 00:11] JoshVarty commented on #2626
Ah, there's an issue with `VisualFSharp.15.4.1.17031503.vsix`.
It does not have the `.pkgdef` changes.

`VisualFSharp.15.4.1.17031503.vsix`. was generated at Wed, 15 Mar 2017 15:42:57 GMT
My PR was merged on Thurs, 16 Mar 2017 2:51:00 GMT

So it's likely just an issue with the PR not being present in that copy.

[2017-03-17 00:19] smoothdeveloper commented on #2610
memo: @cloudRoutine mentions I should look at `CompletionProvider.fs` to troubleshoot that issue

[code]

[2017-03-17 00:21] JoshVarty commented on #2626
Actually upon further review (and failing to repro this by switching between versions that include #2606) I don't think this will be a problem going forward.

It's likely you had tabs open from previous installs of the Visual F# Tools. These tabs were created with the `Source (Text) Editor Factory`. When Visual Studio restarts, it always opens tabs with the same editor factory they were opened wit

[2017-03-17 00:24] smoothdeveloper commented on #2632
another one when opening the script from #2610 but there is no clear part in stack trace:

![image](https://cloud.githubusercontent.com/assets/87944/24024025/81103108-0ab0-11e7-8a4a-a27bf6d2cbad.png)

[2017-03-17 05:12] cartermp commented on #2628
I think there's definitely an issue here.  You can see it if you hover over other large types, like `Async`.  Personally, I don't see much value in listing so many members for a type, and the large tooltips feel like they get in my way.  However, that behavior has existed for a while and certainly some people would prefer it.

[2017-03-17 05:14] KevinRansom commented on #2628
@vasily-kirichenko
I think @dsyme Added it.  The first thing I do when adding an issue is delete the text that's there.   But then I am not a good rule follower.

Kevin

[2017-03-17 05:17] cloudRoutine commented on #2628
if possible we could take a page out of vscode's book and create tooltip windows that can be scrolled

![](http://i.imgur.com/4fFQ6Sy.png)
![](http://i.imgur.com/VznGvEj.png)

that way we can restrict the size and stop truncating the content

(with better formatting of course 😉 )

[2017-03-17 05:22] KevinRansom commented on #2628
@cloudRoutine It seems like scrolling would be good for tooltips over the an enum or a DU type.

[2017-03-17 05:31] vasily-kirichenko commented on #2628
Scrollable (and rather ugly) tooltips has been in Idea for years. I hate them. The info you need is always hidden and you have to scroll.

[2017-03-17 06:57] vasily-kirichenko commented on #2626
@JoshVarty I confirm that if I close all previously opened tabs, than duplicated tabs don't appear anymore. Thanks!

[2017-03-17 06:58] vasily-kirichenko commented on #2618
Fixed in https://github.com/Microsoft/visualfsharp/pull/2594

[2017-03-17 06:58] #2618 closed

[2017-03-17 07:05] vasily-kirichenko commented on #2610
@smoothdeveloper that code just replaces completion item name with `nameInCode`, which we stored into properties earlier. You should look at how we form it here https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/vs/ServiceDeclarations.fs#L1501

[2017-03-17 07:13] saul commented on #2107
@cartermp unfortunately not. I believe there have been other regressions in our solution load performance - it's even worse than 2015 now. This is making the 2017 upgrade impossible for us at work :( However I'm under the impression that in a few weeks I'll have 2/3 weeks timeboxed to work on this full time in the office, so don't close it just yet :)

[2017-03-17 07:15] vasily-kirichenko commented on #2107
I confirm that my solution at work is loaded slower in VS 2017 than in VS 2015. However, switching between configurations (debug <-> release) is faster in VS 2017.

[2017-03-17 07:17] saul commented on #2630
This is also an issue with Ctrl+Q (and Alt+Enter?). Was it not fixed in #2606?

[2017-03-17 07:20] saul commented on #2628
@vasily-kirichenko didn't you fix the huge Async tooltip? I'm 99% sure someone sorted this around the time we introduced syntax highlighted tooltips

[2017-03-17 07:21] vasily-kirichenko commented on #2628
@saul yes, @vladima fixed it.

[2017-03-17 07:24] vasily-kirichenko commented on #2630
`Alt+'`, `Ctrl+;`, `Ctrl+Q` do not for me on latest nightly. `Alt+Enter` works, but I set the binding manually yesterday (and for `Alt+'` as well, it's stopped working).

[2017-03-17 07:24] saul commented on #2107
I profiled it again and it's no surprise that 98% of load time is spent in MSBuild. Even doing "msbuild /t ResolveReferences" on a large project can take minutes - we're definitely doing something different than C# here.

[2017-03-17 08:01] saul commented on #2107
Yeah I'm well aware of F# on Roslyn Project System, but I'd rather get this fixed *now* so we can use it *now* as opposed to waiting an indeterminate time to use an untested project system.

[2017-03-17 08:04] vasily-kirichenko commented on #2107
@saul after reading comments on that issue carefully I agree that a lot of work left there and nobody is gonna do it.

How are you going to optimize the current project system's load time as it just call msbuild? AFAIK everything we can do is check that it's not called more that once for each project.

[2017-03-17 08:06] saul commented on #2107
I'm going to compare how ResolveReferences works for C# vs F# - it's super quick (seconds) for C# but takes minutes for large projects for F#. I believe there's some optimisation we're missing here, or the fact that we're clearing some MSBuild cache when we do OnActiveProjectCfgChange.

[2017-03-17 09:18] s952163 opened #2634 "Quick info toolbar/code lens from VFPT (VS2015) in VS2017"
This is an enhancement request.

VFPT in VS2015 provides a very handy quick info toolbar that shows the function signature and is clickable for copy&paste.

<img width="695" alt="quickinfotoolbar" src="https://cloud.githubusercontent.com/assets/16188516/24036602/8d7d6234-0b3d-11e7-832e-6d23021e2c3b.PNG">

It would be very nice to have the same quick info toolbar and/or codelens style signatures in

[2017-03-17 09:47] vasily-kirichenko commented on #2634
I started porting it from VFPT, but it uses the old way of watching text buffer change, throttling events, getting cursor position and source text via raw VS API and so on. We should not do it. We should find a proper, Roslyn-powered way to do it.

[2017-03-17 10:54] OnurGumus commented on #2461
This is a critical issue for us as we have some portable libraries consumed by other F# portable libraries and we are considering to move these portables to .NET Standard.
Can we estimate, _among friends_, this will be supported during some time in 2017? If not we might consider rewriting those F# libraries in C#.

[2017-03-17 10:54] s952163 commented on #2634
Yes, it does seem complicated. If Roslyn is the way to go forward that's best.

[2017-03-17 11:02] forki commented on #2461
doesn it work from cmd line?

[2017-03-17 11:31] davidfowl commented on #2501
You need to add imports to your project file because even though portable is API "compatible", it's still not netstandard. It would be better to have a netstandard1.0 or netstandard1.1 asset that as well as the PCL259 dll.

[2017-03-17 13:34] forki commented on #569
PR at https://github.com/Microsoft/visualfsharp/pull/2635

[2017-03-17 13:50] OnurGumus opened #2636 "Referencing a VS 2017 created C# Portable Class Library shows a warning in the reference icon."
**Repro steps from VS 2017**:

1. Create a Class Library (Portable) C# project and accept the default targets.
2. Create an F# Console Application Targeting .NET 4.6.2
3. Attempt to add a reference to the portable project from the F# Console App.

**Expected behavior**

It adds the reference without any warnings.

**Actual behavior**

It adds the reference but with a warning icon:

![image](https:

[2017-03-17 14:29] cartermp commented on #2461
@OnurGumus Definitely this year.  I've asked @brettfo to take a look at this and see how easy it would be to address this problem before he moves to Roslyn Project System support (where it will be fixed, just it'll take longer).  We're targeting .NET Standard/.NET Core 2.0 as the release where our VS support is up to par.

@forki Yes. You can manually add the reference to a project file:

[code]

[2017-03-17 14:36] cartermp commented on #2630
Seems like something serious has regressed and we're swallowing common keybindings.  I have no idea what could be causing this, and lack context on anything which could have changed on the VS side of things.  @JoshVarty would you know more?

[2017-03-17 14:40] #2626 closed

[2017-03-17 14:44] s952163 commented on #2628
![tooltip](https://cloud.githubusercontent.com/assets/16188516/24048220/7c06ab18-0b6b-11e7-8f14-e23713e5c557.gif)

I think the issue is that tooltip shows up, you move the mouse, hit escape, and as long as you're on the same word it reappears.

[2017-03-17 15:14] vasily-kirichenko commented on #2628
you could restrict width of tooltips to, say, 70% of VS main window size. and 50% of its height. thoughts?

[2017-03-17 15:18] smoothdeveloper commented on #2628
@vasily-kirichenko tooltip can overflow the main window, VS is not always maximized.

On small screen though, the tooltip would flash if there is no room for it so there is something we need to figure out still.

[2017-03-17 15:49] vasily-kirichenko opened #2642 "Editor does not replace tabs with spaces"
![1](https://cloud.githubusercontent.com/assets/873919/24051177/5634a634-0b42-11e7-9204-f3d998dba299.gif)

[2017-03-17 15:51] dsyme commented on #2461
@cartermp Can you also use a ``<Reference>`` node directly to the DLL, rather than the project?

[2017-03-17 16:03] cartermp commented on #2642
Works just fine for me on nightly `15.4.1.17031702`:

![f1-works](https://cloud.githubusercontent.com/assets/6309070/24051823/9df56fc8-0af0-11e7-9fea-6e56939ac295.gif)

[2017-03-17 16:09] vasily-kirichenko commented on #2642
This setting was switched by itself

![image](https://cloud.githubusercontent.com/assets/873919/24052041/2e067aa4-0b45-11e7-810c-7bd85142ea58.png)

No idea how it's possible :(

[2017-03-17 16:09] #2642 closed

[2017-03-17 16:29] charlesroddie opened #2643 "Incorrect slicing: l.[..(-1)] should give [] not an error"
## `l.[..j]` does not currently satisfy any reasonable definition
    let l=[1;2]
    l.[0..(-1)] // gives []
    l.[..(-1)] // gives an index out of range error; should give []
    l.[2..] // gives [], correctly but inconsistently with l.[..(-1)]

The same applies to arrays and strings.

The slicing tests at https://github.com/Microsoft/visualfsharp/blob/master/tests/fsharp/core/array/test.fsx ex

[2017-03-17 17:30] JoshVarty commented on #2630
On `15.4.1.17031702` I can repro for `Ctrl+;` and `Ctrl+Q`. (Both global commands)

`Alt+Enter` and `Alt+'` work for me. For these two ensure you've installed `15.4.1.17031601` or later.

I'll investigate why global commands seem to be swallowed.

[2017-03-17 17:41] dsyme commented on #2642
I saw that once too (not recently)

[2017-03-17 17:48] JoshVarty commented on #2630
Interestingly not all global commands are affected. `Ctr+'` (`Team.TeamExplorerSearch`) and `Ctr+,` (`Edit.GoToAll`) work fine.

Also there has been a relevant issued opened at Roslyn here: https://github.com/Microsoft/visualfsharp/issues/2335

[2017-03-17 18:14] cartermp commented on #2461
@dsyme Yeah, in fact that actually works best:

![add-disk-dll](https://cloud.githubusercontent.com/assets/6309070/24056946/c9cc78dc-0b02-11e7-9dc9-aedb6e5fd42c.PNG)

Editor doesn't lock up or anything.

[2017-03-17 18:16] KevinRansom commented on #2643
Thanks for this Analysis, it seems there may even be a few extra issues related to your analysis.

l.[..-1]       //gives a build error intuitively a -1 should work in a slice as well as (-1)

l.[(-1)..] // gives an index out of range error; should give []

Fixing these issues will not be breaking, because currently they will result in runtime errors or a compile error.

Kevin

[2017-03-17 18:18] KevinRansom commented on #2643
@charlesroddie

Thanks for this Analysis, it seems there may even be a few extra issues related to your analysis.
\l.[..-1]       //gives a build error intuitively a -1 should work in a slice as well as (-1)

l.[(-1)..] // gives an index out of range error; should give []

Fixing these issues will not be breaking, because currently they currently result in runtime errors or a compile error.

Kevin

[2017-03-17 18:33] majocha commented on #2634
Looking at Roslyn, it also uses `Caret.PositionChanged` event everywhere.
However, Roslyn does take care of reanalyzing when needed. It would be great to get some callback whenever we have fresh results.

[2017-03-17 18:38] charlesroddie commented on #2643
Yes that is another issue. `let x = -1; l.[0..-x]` works while `l.[..-x]` doesn't. But people who use F# are used to having to put brackets around things if they don't compile :).

I think `l.[(-1)..]` giving an error is OK. It's the same as `l.[-1..2]`, which also gives an error, because it tries to look up the indices -1,0,1,2.

Alternatively you could take `l.[(-1)..]` to mean: take the infinit

[2017-03-17 20:41] JoshVarty commented on #2630
More info:

**Chord**: `Ctr+Q`
`pguidCmdGroup` : `{d63db1f0-404e-4b21-9648-ca8d99245ec3}`
`commandId` : `18`
CommandName: [`VSStd11CmdID.GlobalSearch`](https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.vsconstants.vsstd11cmdid.aspx)

**Chord**: `Alt+'`
`pguidCmdGroup` : `{d63db1f0-404e-4b21-9648-ca8d99245ec3}`
`commandId` : `20`
CommandName [`VSStd11CmdID.SolutionExplorerSearch`](htt

[2017-03-17 21:02] majocha commented on #2630
Commenting out the export here
[https://github.com/Microsoft/visualfsharp/blob/30cd23e6f70b7688c034e2c1ea5eef9eed9b2be4/vsintegration/src/FSharp.Editor/Commands/FsiCommandService.fs#L76](https://github.com/Microsoft/visualfsharp/blob/30cd23e6f70b7688c034e2c1ea5eef9eed9b2be4/vsintegration/src/FSharp.Editor/Commands/FsiCommandService.fs#L76)

fixes `Ctrl-Q` and `Ctrl-;`

[2017-03-17 21:23] Pilchie commented on #2461
But it won't track configuration switches.

[2017-03-17 21:28] JoshVarty commented on #2630
I believe the problem lies here: https://github.com/Microsoft/visualfsharp/blob/30cd23e6f70b7688c034e2c1ea5eef9eed9b2be4/vsintegration/src/FSharp.Editor/Commands/FsiCommandService.fs#L39-L44

I haven't written F# much but I believe this is always returning `VSConstants.S_OK` so the command is never routed back to the shell where it would be properly handled. Returning `VSConstants.S_OK` essentiall

[2017-03-17 21:29] KevinRansom commented on #2461
If you are looking for a short term hack,.. then fine.  However, part of the CPS / net SDK work is going to involve getting this all working and tested.

@brettfo is tasked to work on this next, now that he has done the work to get the nightly VSIXshipped OOB.

Kevin

[2017-03-17 21:30] JoshVarty commented on #2630
@majocha I believe that should fix these keybindings but probably breaks `Alt+Enter` and `Alt+'`

[2017-03-17 21:37] majocha commented on #2630
Yes, it's just indication of the problem. I think the logic in the ifs ladder is a bit wrong and it returns S_OK where it shouldn't, swallowing some commands.

[2017-03-17 21:38] majocha commented on #2630
Probably we should rewrite it all using Roslyn helpers...

[2017-03-17 21:39] dsyme commented on #2461
That's great news.  A workaround is good, but doing it properly much better

[2017-03-17 21:47] JoshVarty commented on #2630
It should be alright for now. I'm actually (in my normal work) redesigning commanding within the editor so Roslyn, F# etc. don't need to use this `IOleCommandTarget` at all. I'm hoping that should simplify things for all language services.

[2017-03-17 21:52] majocha commented on #2630
[code]
should work...

[2017-03-17 21:56] JoshVarty commented on #2630
Out of curiosity, do I need the `do` keyword on `Hooks.OnMLSend projectSystemPackage.Value FsiEditorSendAction.ExecuteLine null null`?

It seems work without it, but I don't know what it does.

[2017-03-17 21:59] majocha commented on #2630
No,, it's optional. I used it to indicate what doesn't return a value.

[2017-03-17 22:04] saul commented on #2630
@majocha while you're looking at this stuff, do you mind taking a look at why the "Move up" and "Move down" context menu commands on folders (I think?) in the solution explorer. I imagine it's exactly the same bug that you're seeing here.

Great work by the way :)

[2017-03-17 22:18] JoshVarty commented on #2630
@saul It's probably unrelated since the solution explorer handles commands independently from the editor. Solution folders have been a constant source of pain and introduce a class of problems of their own. :(

[2017-03-17 22:20] JoshVarty commented on #2050
I'll try to take a look at this. No guarantees though as I don't know much about the solution explorer APIs.

[2017-03-17 22:41] JoshVarty commented on #2050
Interestingly, it looks like it no longer shows up at all as of [`15.4.1.17031702`](https://dotnet.myget.org/feed/fsharp/package/vsix/VisualFSharp/15.4.1.17031702)

![image](https://cloud.githubusercontent.com/assets/1249087/24065387/b6d47f0c-0b27-11e7-8f26-63dc5267754d.png)

[2017-03-17 22:46] majocha commented on #2630
Yes, from debugging it seems FSharpFolderNode is never being queried for any FSharpProjectCmdSet commands.

[2017-03-17 23:02] enricosada commented on #2625
All ok for now! published as [FSharp.Compiler.Tools/4.1.1](https://www.nuget.org/packages/FSharp.Compiler.Tools/4.1.1),

@KevinRansom @cartermp thx a lot! Just adding a gif on why i am so happy about it

clean repo -> open code -> `dotnet restore` -> intellisense! -> F5 -> debug!

![rec-vscode-102](https://cloud.githubusercontent.com/assets/147243/24065781/e986501a-0b6d-11e7-9564-db9c68002f30.gif)

[2017-03-17 23:02] #2625 closed

[2017-03-17 23:14] saul commented on #2050
@joshvarty that's the problem :) it may only work on folders and not files. There is a ticket but I'm on mobile so I'm struggling to find it!

[2017-03-18 01:05] cloudRoutine opened #2646 "[Feature Enhancement] Show inherited interfaces in tooltip"
For classes we can see the inherited class in the tooltip

![](http://i.imgur.com/WpkNZeO.png)

But for interfaces we cannot

![](http://i.imgur.com/SH65iHG.png)

[`IDocumentNavigationService` inherits `IWorkspaceService`](http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Navigation/IDocumentNavigationService.cs,9)

This would be particularly useful for checking the service type when workin

[2017-03-18 01:46] pblasucci opened #2647 "Marshaling multi-case struct unions causes run-time errors"
An otherwise valid and working struct union will cause run-time errors when used with functions on the `System.Runtime.InteropServices.Marshal` type. (Note: I didn't test ever possible function on the `Marshal` type).

#### Repro steps

1. Define a small struct union
[code]

2. Instantiate and use with `Marshal` functions
[code]

[2017-03-18 02:33] s952163 commented on #2628
@vasily-kirichenko

I don't particularly mind the current behavior. It seems though there are two possible usability enhancements: 1) restrict the size of the tooltip, and make it expandable/scrollable (:scream cat:) when there is more text 2) make it possible to toggle the appearance/disappearance with some keyboard shortcut or menu setting in options.

@Soldalma any thoughts.

[2017-03-18 03:04] smoothdeveloper commented on #2610
@cloudRoutine / @vasily-kirichenko thanks for the pointers, the first bug should be fixed in #2649 (and hopefully no regression).

The second one looks a bit esoteric, hopefully it is also happening around same place.

[2017-03-18 03:17] smoothdeveloper commented on #2628
[code]

Let's not make change without having choice to configure

[2017-03-18 05:04] cloudRoutine opened #2650 "Show argument names in tooltips for functions defined inside classes"
Currently the tooltips for functions only show the signature without the argument names

![](http://i.imgur.com/14LJoO0.png)

The tooltips are using signature file syntax, which supports including argument names

![](http://i.imgur.com/hv3jch3.png)

We should take advantage of this for better usability with first class functions

[2017-03-18 05:45] #2630 closed

[2017-03-18 09:32] majocha commented on #2628
Another offender:
![tooltip](https://cloud.githubusercontent.com/assets/1760221/24070875/9d06a05c-0bc5-11e7-9d71-5de48fd516ac.png)
That strange ellipsis in the middle looks like layout bug.

[2017-03-18 09:38] cloudRoutine commented on #2650
Looks like this only happens for functions defined in classes
[code]
![](http://i.imgur.com/JcLY2Jm.png)

![](http://i.imgur.com/ip0Ennc.png)

[2017-03-18 12:51] Soldalma commented on #2628
Both alternatives are good, although I would prefer the second one. There
is a third alternative: making the tooltip go away with a key combination
and not come back until the mouse hovers over a different keyword.

On Fri, Mar 17, 2017 at 11:33 PM, s952163 <notifications@github.com> wrote:

[2017-03-18 12:57] Soldalma commented on #2628
I have attached a screenshot. For some reason I could not paste the image
on the email.

On Fri, Mar 17, 2017 at 11:33 PM, s952163 <notifications@github.com> wrote:

[2017-03-18 19:05] smoothdeveloper commented on #2461
It can track those, you need to use `$(Configuration)` in the path instead of hardcoding to release/debug

Also, adjusting solution build order might be required to make sure the assembly is being built before the project.

[2017-03-19 05:09] WsbPro opened #2659 "IntelliSense not working for variables (types etc) auto-completion"
I'm currently working on VS2017 (Windows 10 64bit) and programming in F#.
![capture](https://cloud.githubusercontent.com/assets/5794638/24078283/90dbf25c-0ca4-11e7-8e4c-aafab901239c.JPG)

In the following pull request I found that the F# editor has the function of triggering completion automatically:
https://github.com/Microsoft/visualfsharp/pull/2594
However in my project, no auto-completion trig

[2017-03-19 05:21] WsbPro commented on #2659
OK, in my F# tool settings, I find that there is no "Intellisense" tab

![capture](https://cloud.githubusercontent.com/assets/5794638/24078367/81beec82-0ca6-11e7-9776-23875fc0dbeb.JPG)

Different from this:
![capture](https://cloud.githubusercontent.com/assets/5794638/24078374/a606c560-0ca6-11e7-8a96-7149d46c4ed1.JPG)

Is it because this feature is still under development?

[2017-03-19 06:05] WsbPro commented on #2659
Ok, install nightly build and problem solved.

[2017-03-19 06:05] #2659 closed

[2017-03-19 19:58] zpodlovics opened #2661 "Inlining struct static methods in debug mode will result TypeLoadException during the execution (based on the generated IL, the struct will be wrapped in System.Tuple`N)"
#### Please provide a succinct description of the issue:

Inlining struct static methods in debug mode will result  System.TypeLoadException : The generic type 'System.Tuple`2' was used with an invalid instantiation in assembly 'System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e'. Based on the generated IL that the struct for some reason the struct wrapped to

[2017-03-19 23:41] cartermp commented on #2050
@JoshVarty Shows up for me on `15.4.1.17031702`.  The options are greyed out, though.

[2017-03-20 10:39] majocha commented on #1944
Simple repro is to rename a script file in Solution Explorer.

Cause of this bug is that we currently don't handle script file renaming. Roslyn exports a `MiscellaneousFilesWorkspace` which tracks renaming scripts by implementing `IVsRunningDocTableEvents2` but we don't use it.

[2017-03-20 10:52] vasily-kirichenko opened #2664 "Is the nightly auto publisher dead?"
![image](https://cloud.githubusercontent.com/assets/873919/24096862/6a34a4ca-0d74-11e7-93e4-f304b82c0938.png)

![image](https://cloud.githubusercontent.com/assets/873919/24096841/59b615b6-0d74-11e7-8a5a-3cd0783cce47.png)

[2017-03-20 13:12] majocha commented on #2664
Switched off for the weekend? When Redmond wakes up someone will flip the switch back :)

[2017-03-20 14:51] pblasucci commented on #2647
FWIW, I am _not_ seeing this behavior with struct records. They work as one would expect.

[2017-03-20 15:23] cartermp commented on #2664
@brettfo Would know more, but this could be due to one of two reasons:

1. Coincidentally, no microbuild was kicked off
2. No automated microbuild gets kicked off over the weekend

If it's the latter, maybe we can do something.  Closing for now though, since the process isn't dead

[2017-03-20 15:23] #2664 closed

[2017-03-20 15:32] dsyme commented on #2647
In your repro code you don't put ``[<Struct>]`` - I assume you did that in practice? thanks

[2017-03-20 16:21] pblasucci commented on #2647
Whoops! My bad.  :-(

Yes. The actual code _did_ apply the `[<Struct>]` attribute. I've update the repo steps accordingly.

Sorry for any confusion.

[2017-03-20 17:16] #2646 closed

[2017-03-20 17:19] #2595 closed

[2017-03-20 17:56] brettfo commented on #2664
In short, the package should get updated every morning, Monday through Friday.

Long answer:
- A new package is published every time our internal `microbuild` branch builds successfully.
- That branch is set to build on every push.
- We have a scheduled task that merges `master` every weekday morning at 2am (Redmond time).
- If there were no changes then there is no build.

We chose to not build o

[2017-03-20 17:58] forki commented on #2664
If there is a build failure then no vsix will be produced and we will wait
until Monday. No need to disable, right?

Am 20.03.2017 17:56 schrieb "Brett V. Forsgren" <notifications@github.com>:

[2017-03-20 18:03] brettfo commented on #2664
That's correct.

Nothing gets disabled on a build failure (or re-enabled on a build success.)  The package upload is simply the last step of the build script so any failure before then will short-circuit the package publish step.

[2017-03-20 18:05] forki commented on #2664
No I meant no need to disable the build on weekends.

Am 20.03.2017 18:03 schrieb "Brett V. Forsgren" <notifications@github.com>:

[2017-03-20 18:16] brettfo commented on #2664
Ahh, I understand the question now.

Ultimately it comes back to the part about nobody being in on the weekends to look at build failures.  We try to keep our build queues green and if a build break gets merged on Friday afternoon, we'd have 3 red builds come Monday morning to triage; Saturday, Sunday, and Monday.  Even though all three build failures would (likely) be the same issue, we've been a

[2017-03-20 18:22] forki commented on #2664
I think most of the code comes on weekends. But tbf if Kevin is not in the
office it usually would not land in master. So that's OK. I also now think
more important that build failure is a a big bug in the vsix itself. So if
a new vsix is released and nobody is there to roll it back then this can
indeed be bad. So I think I now agree. Keep it as is and don't release in
weekends.

Am 20.03.2017 18:

[2017-03-21 08:59] OnurGumus commented on #2636
Also note that these new portables is somewhat different than the portables created in VS 2015. In VS 2015's portables we did not have project.json. Also old portables target profiles like Profile111. These new ones  are rather different in their respective project files.

[2017-03-21 09:07] OnurGumus opened #2669 ""Main module of program is empty: nothing will happen when it is run" warning when running xunit tests on .net core."
Please provide a succinct description of the issue.

#### Repro steps

Create a test directory then from command line

1. `dotnet new xunit -lang F# `

2. `dotnet add package xUnit`

3. `dotnet restore`

4. `dotnet test`

#### Expected behavior

Run the tests without warnings.

#### Actual behavior

It generates a warning, **Main module of program is empty: nothing will happen when it is run**

He

[2017-03-21 09:23] cloudRoutine commented on #2669
this a problem with the template, netcore test projects are all console apps, and F# console apps need a function with `[<EntryPoint>]`

this is all you need to make the warning go away
[code]

![](http://i.imgur.com/KB7NhRN.png)
cc @enricosada

[2017-03-21 09:47] enricosada commented on #2669
@OnurGumus it's like @cloudRoutine say, and is tracked in https://github.com/dotnet/netcorecli-fsc/issues/79

@KevinRansom this can be closed, the update of xunit/mstest templates is tracked in the referenced issue

[2017-03-21 09:53] #2669 closed

[2017-03-21 11:58] vasily-kirichenko opened #2670 "Code inside <c></c> is not highlighted in XML Doc"
![image](https://cloud.githubusercontent.com/assets/873919/24146419/b31c3676-0e46-11e7-8068-4148316f5d68.png)

No go to definition links either.

/cc @majocha

[2017-03-21 13:22] 7sharp9 commented on #2400
One of the big things is that generative type providers service the wider ecosystem not just **F#**, they are the most important aspect in that respect.

Unchecked quotations for generative providers is also something that sorely needed to avoid having to reflectively call quotation builders to build the type provider.

[2017-03-21 13:24] 7sharp9 commented on #2406
Duplicating my comments from the other issue this is linked from:

One of the big things is that generative type providers service the wider ecosystem not just F#, they are the most important aspect in that respect.

Unchecked quotations for generative providers is also something that sorely needed to avoid having to reflectively call quotation builders to build the type provider.

[2017-03-21 13:38] majocha commented on #2670
It was like this before.
It is not tagged as type so it doesn't get style or links.
I touched as little as possible in `niceprint.fs` et al. I'll try to look into this but the code in there is quite intimidating :)

[2017-03-21 14:24] vasily-kirichenko commented on #2670
I think @vladima rewrote from scratch the part that generates layout for XML Doc comments, so it seems easy to add parsing <c> tags there.

[2017-03-21 14:27] vasily-kirichenko commented on #2670
@majocha like add some more stuff here https://github.com/Microsoft/visualfsharp/blob/master/vsintegration/src/FSharp.LanguageService/XmlDocumentation.fs#L125 :)

[2017-03-21 14:41] majocha commented on #2670
@vasily-kirichenko indeed, styling as type should be easy. Resolving the text as type for browsing might be tricky, but I think still can be done.

[2017-03-21 15:33] majocha commented on #2670
Adding
[code]
does the job of tagging, assuming the text in `<c>` is a type. There is no check for this at the moment.

[2017-03-21 15:53] OnurGumus commented on #526
I have encountered this issue while making some research on F# equality. To me, this is surprisingly frightening. Any love for this?

[2017-03-21 16:04] smoothdeveloper commented on #2670
`c` isn't meant for type names but more generally, just code: https://docs.microsoft.com/en-us/dotnet/articles/fsharp/language-reference/xml-documentation

AFAIU, it is only `cref` attributes that we could interpret as pointing to a type or member or parameter name.

[2017-03-21 17:54] cloudRoutine opened #2673 "[Feature Enhancement] Quickinfo with Navigation links"
Feauture added in [Clickable QuickInfo with "go to type" ](https://github.com/Microsoft/visualfsharp/pull/2574)

I really love this feature and I think we can take it a lot further than its initial implementation

- **Allow navigation to modules**

![](http://i.imgur.com/IMWQcQA.png)

- **Allow navigation to function bindings**

![](http://i.imgur.com/WHs8jmf.png)

- **Allow navigation to operator

[2017-03-21 18:35] asik commented on #526
I'm getting the same performance numbers on the current Visual F# 2017 nightly.
This has also become more relevant with struct tuples, struct records and struct DUs.

[code]

[2017-03-21 18:38] manofstick commented on #526
@OnurGumus

The Phoenix of #513 will rise again at some stage, but i have been on a bit of a round about adventure which sees me currently in #2587

Although I do see that @dsyme had given this the "urgency soon" and "bug" labels; so maybe they have some alternative thoughts on this?

[2017-03-21 19:40] majocha commented on #2673
Thank you, @cloudRoutine. I have a small improvement to add so I'll write missing comments with it and also make it a bit less scattered.

The interesting stuff of the implementation is deep inside, true :) Searching all references to `NavigableTaggedText` helps here.

It builds on @vladima's titanic commit ed948aba. The idea is to piggyback some more info on top of the classified text in `Layout`

[2017-03-21 19:43] cloudRoutine commented on #2673
Couldn't you move quickinfo down in the compilation order, move the tooltip generation to a class method, construct the class with an MEF import on the gotodefinition class and then use that to handle the navigation?

[2017-03-21 19:43] vasily-kirichenko commented on #2673
We use `PreferProvisionalTab` in `FSharpGoToDefinitionService` and it works OK I think.

[2017-03-21 19:44] vasily-kirichenko commented on #2673
@majocha that small tooltip-for-tooltip should be colorized as well ;)

[2017-03-21 19:45] vasily-kirichenko commented on #2673
...and has links to navigate to, say, intermediate module... ;)

[2017-03-21 19:50] majocha commented on #2673
@vasily-kirichenko colorized and browsable, yes :)
I'm not sure what's going on with the ProvisionalTab. Should work.

[2017-03-21 19:52] majocha commented on #2673
@cloudRoutine I can try, but in the and GotoDefinition service also just calls TryNavigateToSpan.

[2017-03-21 20:03] majocha commented on #2673
@cloudRoutine Now I see that would be the correct approach. GoToDefinitionService sometimes blocks for quite some time, but that should not happen in our case. At the moment quick info shows up, the document is parsed and checked already.

[2017-03-21 20:18] zpodlovics commented on #2406
How about the successor(?) of IKVM.Reflection.Emit from Jeroen Frijters as his name already mentioned in the System.Reflection.Emit.AssemblyBuilder.Save corefx issue [1]? A preview release are available from NuGet.

"Managed.Reflection is a fully managed replacement of System.Reflection and System.Reflection.Emit. Unlike System.Reflection, it is not tied to the runtime it is running on.

It target

[2017-03-21 20:18] smoothdeveloper commented on #2673
Hey, right click / find all references could be useful too!

[2017-03-21 20:22] vasily-kirichenko commented on #2673
:)

[2017-03-21 20:23] cloudRoutine commented on #2673
@majocha I've addressed the speed issue in my generate metadata PR, so eventually that won't be a big deal

[2017-03-21 20:46] matthid commented on #2406
@zpodlovics considering the comments I think (after discussing with the maintainers of course) such a PR making it work would be welcome... Its just nothing they have time for *right now*

[2017-03-21 23:26] xperiandri commented on #2316
How can this process be speed up? Which help is required?

[2017-03-21 23:29] enricosada commented on #2316
@xperiandri see comments in https://github.com/dotnet/roslyn-project-system/pull/1670
work is pratically finish that PR.
with `FSharp.NET.Sdk` 1.0.2 the msbuild fsc task should be ok

[2017-03-21 23:42] xperiandri commented on #2316
How this affects ability to use it in Visual Studio 2017 soon?
Will Visual F# tools update just support it or it will require a new build of Visual Studio 2017 Update Preview to try this?

[2017-03-22 07:50] OnurGumus commented on #526
I think the correct solution here is to define a new equals operator dedicated to structs. And compiler should give a  warning for the old usage. This way nothing breaks and people can gradually fix their code.

[2017-03-22 08:32] OnurGumus commented on #526
Here's a script file demonstrating the problem for List.contains

[code]

and the output is:
[code]

[2017-03-22 08:34] manofstick commented on #526
@onurgumus

It's not quite that simple. Internally in library functions such as groupBy or the list element comparisons or tuples etc. what you have suggested just doesn't work. This was the reason why #513 existed.

[2017-03-22 09:59] OnurGumus commented on #526
@manofstick Sorry but I fail to see how #513 is relevant to this issue at all. Correct me if I am wrong but #513 is about an optimization regarding value types with generic type parameters. Here we don't have that.

Finally  I don't get why it is not simple to fix the below code for List.contains in F# Core:

[code]

There is a single e = h1 expression leading to boxing. We just need to get rid of

[2017-03-22 10:04] manofstick commented on #526
@onurgumus

Short answer: you'll just have to believe me!

Longer answer: there are more complex rules around how f# handles equality than straight IEquatable and they have to be honoured.

[2017-03-22 10:08] OnurGumus commented on #526
@manofstick, And is there a longer answer ? 😄

[2017-03-22 11:27] 7sharp9 commented on #2406
Ive partially patched reflection stuff with `IKVM.Reflection` when I was working on an iOS feature for xamarin so it could be worth investigating.

[2017-03-22 13:07] et1975 opened #2679 "Same file name across different folders fails the compilation with error FS0239"
"An implementation of the file or module '%s' has already been given"
coming from:
https://github.com/Microsoft/visualfsharp/blob/d2915e6ffa0d852cb3002199e66ef83bd2e8d1d0/src/fsharp/CompileOps.fs#L5221

File is not a module and perhaps the compiler should take into account the folder it is in.

#### Repro steps

Create a project and organize it using following folder structure:

/folder1/a.fs
/fol

[2017-03-22 13:14] majocha commented on #2673
More entities allow navigation now. In the end there is no obstacle to make everything navigable, ![function](https://cloud.githubusercontent.com/assets/1760221/24198844/d3088b44-0f07-11e7-8d65-dfc6582dec9b.gif)
but it doesn't always look nice:
![more](https://cloud.githubusercontent.com/assets/1760221/24198847/d5b73b06-0f07-11e7-8bfb-896d3ffd65d2.gif)

GoToDefinitionService is used now but there

[2017-03-22 13:22] cloudRoutine commented on #2673
@majocha I'll PR some of the gotodef speed improvements I made onto your branch and try to get rid of that roundtrip

[2017-03-22 13:30] majocha commented on #2673
@cloudRoutine I don't think we can get rid of it because it's what GoToDefinitionService do, it looks up a definition.

[2017-03-22 13:43] enricosada commented on #2679
should work.
time ago there was a bug in VF# (so VS extension) about *folder* with same name, but i fixed that.
it continue to be a problem if you do

[code]

becaue treeview cannot render it because need to repeat folder2 twice (but vf# show a message about that)

can you build from command line the project using `/v:n` attribute? so is possibile to see fsc arguments

[2017-03-22 13:50] enricosada commented on #2679
I can repro.

[code]

I added a repro with new fsproj, but is fsc who complains, i checked fsc args afaik are correct.

just unzip the repro

[tempet.zip](https://github.com/Microsoft/visualfsharp/files/861574/tempet.zip)

[code]

fsc arguments are right

[code]

*NOTE that modules are not called 'A' and 'B', but have a namespace and module inside* /cc @KevinRansom

added a screenshot because now

[2017-03-22 13:56] OnurGumus commented on #526
Similarly the comparison only considers IComparable and not IComparable<'T> causes boxing as in below code:
[code]
with the output:
[code]

So much for the struct performance in F#!

[2017-03-22 18:43] cloudRoutine commented on #2673
@majocha I totally got rid of it ;) https://github.com/majocha/visualfsharp/pull/1

[2017-03-22 18:47] cloudRoutine commented on #2673
@majocha totally got rid of it https://github.com/majocha/visualfsharp/pull/1

[2017-03-22 19:02] dhwed opened #2680 "Syntax highlighting fails when using for...to inside a computation expression"
If you use a `for...to` expression inside of a computation expression, the syntax highlighting is wrong:

![image](https://cloud.githubusercontent.com/assets/10184638/24215596/46160cac-0f07-11e7-893b-9345e18eda5d.png)

I'm using VS 2017 RTM with the VisualFSharpOpenSource.vsix compiled from master.

Here's the code from the screenshot:
[code]

[2017-03-22 19:12] majocha commented on #2673
Awesome! One minute because I was mucking around with it later and there's a conflict.

[2017-03-22 19:36] vasily-kirichenko commented on #2680
I can reproduce it on master

![image](https://cloud.githubusercontent.com/assets/873919/24217157/f3c6ffb2-0f4f-11e7-966e-9ceaee5d6582.png)

@dsyme I'm really puzzled with this. Any tips what could go wrong?

[2017-03-22 19:58] cloudRoutine commented on #2680
@vasily-kirichenko
https://marketplace.visualstudio.com/items?itemName=MadsKristensen.ExtensibilityTools

![](http://i.imgur.com/YR1FJlU.png)
adds this toolbar on the bottom

it lets you see the classifiers so that leads me to believe it's the semantic colorization function that's acting up

[2017-03-22 20:06] manofstick commented on #526
@OnurGumus

Yes, #513 looked after IComparables as well.

OK, the problem is that f# views equality/comparison as structural, which means that things

    let a = [ for i = 0 to 9  do yield i + 1 ]
    let b = [ for i = 2 to 11 do yield i - 1 ]

    if not (obj.ReferenceEquals (a, b)) then  printfn "nothing up my sleeve!"
    if a = b then printfn "equality for all!"

work. Or on generic record ty

[2017-03-22 20:36] vasily-kirichenko commented on #2680
Fixed in https://github.com/Microsoft/visualfsharp/pull/2681

[2017-03-22 21:40] fierval commented on #2044
I have the same issue in the VS2017 Enterprise, Productivity PowerTools installed. Several open F# windows bog down the IDE, progressively making it less and less usable until it stops responding after some trivial command (e.g.: Close All Documents). I have a solution with 25 projects, mostly F#. Had roll back to VS 2015.

[2017-03-22 22:12] alfonsogarciacaro opened #2682 "StackOverflowException when compiling with FSharp.Compiler.Tools 4.1.1"
This seems to be a regression in the latest release of FSharp.Compiler.Tools (4.1.1).

After upgrading to latest FSharp.NET.Sdk (1.0.2 which has a dependency of FSharp.Compiler.Tools 4.1.1), when I build Fable and use it on a big project I get a StackOverflow exception. Unfortunately, because I cannot catch the exception I don't know exactly where it occurs but I have added logs to all my recursiv

[2017-03-22 23:01] forki commented on #2682
For the sake of making it very easy for contributors to reproduce: could
you please upload a zip with everything restored so that a single command
can reproduce the bug? Thanks

Am 22.03.2017 22:12 schrieb "Alfonso Garcia-Caro" <notifications@github.com

[2017-03-22 23:56] alfonsogarciacaro commented on #2682
My Fable folder is already 1.6GB ;) But I have prepared a trimmed version only with the things you should need (I've also added the FCS code that's necessary to build Fable's REPL), you can download it from [here](https://1drv.ms/u/s!Apwf9PG7zU1G1D24MnQDhoMLw5FM). After unzipping, please make sure you have dotnet SDK installed and then do steps 2 and 3 listed above.

[2017-03-23 04:16] hafuu opened #2684 "OptionalAttribute and DefaultParameterValueAttribute is not output to signature file by --sig option"
#### Repro steps

1. Compile following code with `--sig` option and generate signature file.
[code]

#### Expected behavior

`OptionalAttribute` and `DefaultParameterValueAttribute` is output to signature file.

#### Actual behavior

`OptionalAttribute` and `DefaultParameterValueAttribute` is not output.

[code]

#### Known workarounds

none

#### Related information

Windows 10, F# 4.1, Visual St

[2017-03-23 05:04] #2680 closed

[2017-03-23 05:04] vasily-kirichenko commented on #2044
@fierval Do you use latest nightly or RTM?

[2017-03-23 05:07] vasily-kirichenko commented on #2682
Could you attach to the process with the debugger before it's alive? I believe it should show (very long) stack trace as SO raises.

[2017-03-23 05:07] fierval commented on #2044
@vasily-kirichenko  RTM. Also, using type providers (CSV) relatively heavily.

[2017-03-23 05:13] hafuu opened #2685 "When "module rec" is used, a file that can not be compiled is output by --sig option"
#### Repro steps

1. Compile following code with `--sig` option and generate signature file.
[code]

2. Add the generated signature file to project.

#### Expected behavior

It generates the compilable signature.

#### Actual behavior

A compile error occurs: Unexpected keyword 'and' in signature file.

[code]

#### Known workarounds

Edit the generated signature file manually as follows:

1. repl

[2017-03-23 05:15] vasily-kirichenko commented on #2044
RTM has major performance (and other) bugs. Install the nightly build, please. Instructions are here https://blogs.msdn.microsoft.com/dotnet/2017/03/14/announcing-nightly-releases-for-the-visual-f-tools/ (it's as simple as adding an extra extensions feed and install VFT via it).

[2017-03-23 05:39] fierval commented on #2044
@vasily-kirichenko Cool. Done, thanks.

[2017-03-23 09:48] alfonsogarciacaro commented on #2682
I've attached the debugger, and pausing it I get the following screenshot:

<img width="1280" alt="capture" src="https://cloud.githubusercontent.com/assets/8275461/24241332/c9e982ea-0fb4-11e7-8856-0609e12d4a44.PNG">

As you can see, there's some deep recursion happening to parse big AST expressions, but it's not in the number of hundreds of calls so I guess this shouldn't blow the stack.

However,

[2017-03-23 10:04] vasily-kirichenko commented on #2682
Use ProcDump https://technet.microsoft.com/en-us/sysinternals/dd996900.aspx Run it for watching your process, when the process crashes, it saves a dump. The dump can be opened in VS to debug.

[2017-03-23 11:10] alfonsogarciacaro commented on #2682
UPDATE: If I'm not messing up the builds. It seems the SO also occur when building Fable with F# compiler 4.1.0 with **Debug** config (but not in Release). With F# compiler 4.1.1 it happens both in Debug and Release configs (in previous F# compiler versions the problem didn't seem to happen at all).

I've created a [new zip](https://1drv.ms/u/s!Apwf9PG7zU1G1D7gcVt2kNuwHOa6) with FAKE build targets

[2017-03-23 11:23] alfonsogarciacaro commented on #2682
@vasily-kirichenko Thanks! Where's the dump file saved? I only see this:
<img width="422" alt="capture" src="https://cloud.githubusercontent.com/assets/8275461/24245526/85242c96-0fc3-11e7-91c9-e8e5830ce29e.PNG">
<img width="328" alt="capture2" src="https://cloud.githubusercontent.com/assets/8275461/24245529/88368f46-0fc3-11e7-8e85-fdef8317a57d.PNG">

[2017-03-23 11:38] vasily-kirichenko commented on #2682
I think somewhere in `Dump folder: ...` :)

[2017-03-23 11:53] alfonsogarciacaro commented on #2682
Hmm, I cannot find that `Dump` folder anywhere. Even giving the dump file a name (`procdump -ma -e dotnet.exe fable_fcs.dmp`) I cannot find it anywhere on my hard drive. Maybe the last message ("Dump count not reached") means the dump file hasn't been created?

[2017-03-23 11:56] vasily-kirichenko commented on #2682
Yeah, looks like it just output exceptions to the console. Play with cmd arguments. I forget the exact combination.

[2017-03-23 12:17] enricosada commented on #2682
add `-g` for managed

with filter on first SO is (but try without filter maybe)

`procdump -ma -e 1 -f C00000FD.STACK_OVERFLOW -g -w <your process name>.exe`

[2017-03-23 12:26] alfonsogarciacaro commented on #2682
Thanks @enricosada. I found the same info in SO (the site). Unfortunately, when debugging the dump file with VS it tells me the source is not available, and I cannot read assembly :(

<img width="1280" alt="capture" src="https://cloud.githubusercontent.com/assets/8275461/24247521/512e3cac-0fcc-11e7-95cb-2d87cb3430ec.PNG">

I've uploaded the [dump file here](https://1drv.ms/u/s!Apwf9PG7zU1G1D_-N7EW

[2017-03-23 13:04] vasily-kirichenko commented on #2682
Managed stuff was not dumped

![image](https://cloud.githubusercontent.com/assets/873919/24248905/59be23f8-0fe2-11e7-91eb-a953579d6c7c.png)

[2017-03-23 13:05] vasily-kirichenko commented on #2682
There is a registry key where you can put a process name and a dump will be created every time it crashes. It produces better dumps. I completely forget where it is :(

[2017-03-23 13:09] vasily-kirichenko commented on #2682
Found it https://github.com/dotnet/roslyn/issues/16900#issuecomment-277034792
[code]

[2017-03-23 13:56] alfonsogarciacaro commented on #2682
Ok, now I'm really leaving my comfort zone ;) I don't know about these things so I have to Google and make guesses for any instruction that goes beyond copy&paste. I've tried the following:

[code]

No dump file was automatically created in C:\Dump. I tried again with procdump but the managed stuff didn't appear this time either.

I don't have more time available for this, so for now I'll just use

[2017-03-23 13:59] vasily-kirichenko commented on #2682
The registry keys did work for me (for devenv.exe). And the dump was good.

[2017-03-23 14:15] forki commented on #2682
@vasily-kirichenko could you please try to reproduce?

[2017-03-23 16:09] FunctionalFirst commented on #2685
Isn't the issue that `[<StructAttribute>]` is in the wrong position? It should be after `and`.

[2017-03-23 16:27] smoothdeveloper commented on #2351
@vasily-kirichenko whenever I delete the folders, the side effects are:
* I need to close my VS instances
* next launch of VS2017 takes a while longer (it seems to reinstall my settings)
* it removes the feed for fsharp-nightlies

I'm still facing this error practically any time I want to update to and build a branch.

Are we all facing the same problem?

[2017-03-23 16:30] WallaceKelly opened #2687 "WPF XAML Intellisense does not work in VS2017, F# Console Application"
In Visual Studio 2015, I can add a XAML file to a F# Console Application project, and edit with the aid of Intellisense. This does not work in Visual Studio 2017.

#### Repro steps

1. Create a new F# Console Application project.

2. Add assembly references to `PresentationCore`, `PresentationFramework`, `WindowsBase`, and `System.Xaml`.

3. Add a New Item to the project, an XML file named MainWin

[2017-03-23 16:40] vasily-kirichenko commented on #2351
No. I forget when I deleted the folders last time. There was a bug in prior rc4 versions when exp instance was messed up if you f5 having a previously launched instance running, but it's not the case anymore. So I have no idea what's wrong with your installation.

[2017-03-23 16:42] vasily-kirichenko commented on #2687
AFAIK it's now tightly coupled to Roslyn, so it's unlikely it will be fixed.

[2017-03-23 17:27] alfonsogarciacaro commented on #2682
Seems fate has decided I cannot give up on this issue. In a happy? coincidence it just happened that I got another SO exception in my project at work so I used the procdump trick to get the dump file and that time it worked. So it occurred to me that I should try building Fable for full .NET Framework, I did it and still got the SO exception (which is a good thing because it means it's not a NETCo

[2017-03-23 18:13] majocha commented on #2687
Strange that all else works but the Intellisense.

[2017-03-23 19:15] Pilchie commented on #2687
Tagging @mgoertz - any idea what happened here?

[2017-03-23 22:49] mariomeyrelles commented on #104
I also had this problem using VS2017 today. I copied a file instead of adding the file...

[2017-03-23 23:53] TIHan opened #2688 "Struct Unions don't directly grab backing field for a custom defined property, causes performance overhead."
Struct Unions don't directly grab backing field for a custom defined property, causes performance overhead. This only occurs if the Unions are value types. Reference types are fine.

#### Repro steps

We will use these types to compare performance overhead when accessing the `M` property.
[code]

And here are the decompiled to C# versions (notice TestStruct3 doesn't directly grab the backing field

[2017-03-24 09:32] forki commented on #2682
Wow

[2017-03-24 13:02] dsyme commented on #2688
@TIHan In theory I believe we should be getting the field addresses here:

https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/TastOps.fs#L5548

However the additional copy may be coming from the pattern match compiler - it could well be hard to remove since IIRC the compiler is currently set up to accept a copy of the value, not an address to the value as input, i.e. [topv](https://g

[2017-03-24 16:47] ctaggart commented on #2364
#2690 should help everyone avoid this problem

[2017-03-24 16:49] ctaggart commented on #1761
#2690 should help everyone avoid this problem

[2017-03-24 17:19] vasily-kirichenko commented on #2682
Looks like sformat enter endless loop on a specific recursive types group. Could you build an assembly containing that an instance of `EntityKind` so I can reference it and call `sprintf "%A"` on it to reproduce?

[2017-03-24 19:35] lasp91 opened #2693 "VS: Make Fantomas auto-discoverable when user invokes F# format document/selection"
We should make Fantomas-for-VS auto-discoverable, e.g. suggest the marketplace addin by the community when the user invokes F# format-document or format-selection

----

Old notes:

I can't format any code in F# with VS2017, using the edit/format/advanced/document or selection. This is working perfectly in VS2015.

In VS2015 I had this issue at some stage and if disabling the the "Productive Power

[2017-03-24 20:26] vasily-kirichenko commented on #2693
Formatting has never been supported. Visual F# Power Tools added it into VS 2012-2015, but we decided not to port it to VS 2017.

[2017-03-24 21:36] lasp91 commented on #2693
Hi Vasily,

What a pity. Hopefully you all change this idea and put it back as a good facility.

Thank you.
Regards.

From: Vasily Kirichenko [mailto:notifications@github.com]
Sent: Saturday, March 25, 2017 9:26 AM
To: Microsoft/visualfsharp <visualfsharp@noreply.github.com>
Cc: lasp91 <la.de.peyon@xtra.co.nz>; State change <state_change@noreply.github.com>
Subject: Re: [Microsoft/visualfsharp] F#

[2017-03-25 00:54] cartermp commented on #2693
I think this is actually a good candidate to bring over from VFPT.  Though not the most critical, formatting is definitely used a lot by people, and many folks do have `ctrl+k+d` and the like something they instinctively hit whenever they're coding.  Also tagging as Up for Grabs since this wasn't a priority for folks porting over VFPT features.

@vasily-kirichenko Were there some issues in quality

[2017-03-25 05:40] TIHan commented on #2688
Thank you @dsyme for your guidance.

[2017-03-25 06:39] vasily-kirichenko commented on #2693
The main ccncern was that it did not allow style settings. Another issue is that we used it via fantomas nuget package, which, in turn, depended on FCS package. We cannot use this approach in this repo.

[2017-03-25 09:17] lasp91 commented on #2693
I have a simple question regarding this limitation... Why is F# different from C# and C++ for example, when dealing with code formating?
Any very/huge specific reason for not behaving like the other languages in .Net or even better, in Visual Studio?
It's really kind of weird for me. Not truly acceptable for a product coming out of Microsoft.

[2017-03-25 09:41] forki commented on #2693
The answer is simple as well: limited resources. While Visual F# is a Microsoft product most of the stuff in this area is done by the open source community. There is a lot happening around tooling at the moment and I assume someone will take care of formatting eventually. But right now it seems people's interests/priorities are at other (important) features. TBH there is very little hope that Micr

[2017-03-25 10:04] vasily-kirichenko commented on #2693
If we port Fantomas sources, it's easy. @dungpa do you mind?

[2017-03-25 10:42] vasily-kirichenko commented on #2693
It seems quite easy to hook "format document" to Roslyn, see http://source.roslyn.io/#Microsoft.CodeAnalysis.EditorFeatures/Implementation/Formatting/FormatCommandHandler.cs,24
I could just copy-paste this whole folder https://github.com/dungpa/fantomas/tree/master/src/Fantomas and hook it. @dungpa @cartermp I'm not sure about licensing and stuff here.

[2017-03-25 11:21] smoothdeveloper commented on #2693
This is a major issue we are facing with the FCS split, and work to enhance VisualF# Tools; and it is detrimental to the state of all F# tooling outside VisualStudio.

Porting over Fantomas code will cause another split in the tooling, require backporting back & forth of enhancements and bugfixes.

Same problem appear with FSharpLint, and in fact any F# tooling backed by FCS.

The easiest approach

[2017-03-25 13:02] vasily-kirichenko commented on #2693
We cannot use fantomas nuget anyway, because it depends on fcs, but we don't use the same fcs here and, if even we could, we'd get endless versions collision, like we got in vfpt.

[2017-03-25 14:18] Houndolon commented on #1339
Regarding F# project files, would it be possible to create an F# project format which gets translated to .fsproj using FAKE which then gets built using MSBuild?

[2017-03-25 14:25] Krzysztof-Cieslak commented on #1339
Yes it is possible ;]

VS support is a problem.... as always

[2017-03-25 14:36] alfonsogarciacaro commented on #2682
Thank you @vasily-kirichenko! I'm attaching below a build of Fable.Core.dll (I built it for net45 hoping that'll be easier for you) with a static property `Fable.AST.Fable.EntityKind.Sample` that returns an EntityKind instance.

[Fable.Core.zip](https://github.com/Microsoft/visualfsharp/files/870093/Fable.Core.zip)

However, although it's true there seems to be a problem with the print formatting,

[2017-03-25 14:42] cloudRoutine commented on #2693
we'd need to do even more extensive testing of fantomas as it can break code

[2017-03-25 16:02] cartermp commented on #2693
@lasp91 Another thing to keep in mind is that a source code formatter is one of the most [deceptively difficult programs to write](http://journal.stuffwithstuff.com/2015/09/08/the-hardest-program-ive-ever-written/).  The space of valid F# constructs and decisions which have to get made by pretty-printing the syntax tree is massive.

I think that porting over Fantomas code and modifying it to not d

[2017-03-26 04:50] cloudRoutine commented on #2539
- https://github.com/Microsoft/visualfsharp/pull/2692
- https://github.com/Microsoft/visualfsharp/pull/2689
@financial-engineer

[2017-03-26 09:37] saul commented on #117
@enricosada did you fix this?

[2017-03-26 10:26] vasily-kirichenko opened #2701 "Numbers with underscores cause compilation error sometimes"
![image](https://cloud.githubusercontent.com/assets/873919/24330474/a06d700a-1227-11e7-9936-dbff82df38cf.png)

I cannot reproduce it with code like:
[code]

[2017-03-26 11:04] forki commented on #2682
I can't repro. I added .paket folder to your sample and run `build.cmd BuildDebug_4.1.1`

![image](https://cloud.githubusercontent.com/assets/57396/24330690/9746e4d2-1224-11e7-8f5f-6049a7d1a55a.png)

[2017-03-26 11:17] forki commented on #2701
Ok I can repro on master.

[2017-03-26 11:19] alfonsogarciacaro commented on #2682
@forki The error is not in the build, you need to do steps 2. and 3. of the first post of this thread :)

[2017-03-26 11:34] forki commented on #2682
sigh

[2017-03-26 12:36] forki commented on #2701
fix in https://github.com/Microsoft/visualfsharp/pull/2702

[2017-03-26 13:19] dungpa commented on #2693
@vasily-kirichenko Feel free to do whatever you want with the code.

Just a word of warning, writing a code formatter for F# is significantly harder due to indentation-based syntax. Moreover, the fact that F# ASTs throw away formatting information (e.g. comments) makes the matter even worse.

[2017-03-26 13:40] vasily-kirichenko commented on #2693
@dungpa thanks :)

[2017-03-26 16:08] saul commented on #2163
Can this be deleted now?

[2017-03-26 16:18] ctaggart commented on #2631
@smoothdeveloper, is this for debugging purposes? If #2675 is merged and the pdb files are packaged with the nightly builds, then they will contain the commit id. You should even be able to debug into the exact source code without having a local clone. That is the goal anyhow. Once nightly builds show up with source link enabled, I'll show how to get the commit id.

[2017-03-26 16:34] cartermp commented on #2163
@saul Not deleted, but probably worth closing.

[2017-03-26 16:34] #2163 closed

[2017-03-26 17:43] vasily-kirichenko opened #2703 "Better style for Quick Info links"
I find style used for links on Quick Info tooltips is a bit heavyweight:

![1](https://cloud.githubusercontent.com/assets/873919/24333669/cebae7a2-1264-11e7-893e-fc07e0b2d487.gif)

I've found this XAML to customize links http://www.java2s.com/Tutorial/CSharp/0470__Windows-Presentation-Foundation/TextBlockUnderlinedecorationwithdashes.htm:

[code]
I have no idea how to port it to our code though.

[2017-03-26 19:06] enricosada commented on #117
@saul nope, i fixed with https://github.com/Microsoft/visualfsharp/pull/391 the bug https://github.com/Microsoft/visualfsharp/issues/246 about the unique name,

but not this one.

[2017-03-26 19:13] majocha commented on #2703
We should probably upgrade the current code to XAML. Styling in imperative code one can quickly go crazy :)

I just figured out how to load XAML :sweat_smile: so I'll try to refactor it ASAP into proper controls.

[2017-03-26 19:13] AviAvni opened #2704 "FSharp.Core that used in the proto compiler"
When investigating the bug https://github.com/Microsoft/visualfsharp/pull/2702
I found that the proto compiler use FSharp.Core 4.4.0
from the lkg https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/FSharp.Compiler-proto/FSharp.Compiler-proto.fsproj#L449
The problem is that changes to FSharp.Core not affect the build of this repository until someone update the lkg
It's means some perfo

[2017-03-26 22:37] saul commented on #2703
I think a pen offset of 1px and an opacity of ~60/70% will make it feel a lot lighter.

[2017-03-26 23:24] fierval opened #2705 "Generate References for FSI"
VS 2017, Nightly builds of F# Tools, missing "Generate References for F# interactive".
Is the feature going to be ported?

[2017-03-27 00:20] cloudRoutine commented on #2705
eventually

[2017-03-27 02:07] cloudRoutine commented on #2703
@majocha let's also build a custom options page to allow more tooltip customization

- scale with editor
- max dimensions
- enable scrolling
- which kinds of information to include (assembly, exceptions, etc)
- hide on mouse move
- show original typeinfo for alias
- full typeinfo on parameters
- collapse overloads

I'm sure there are other useful parameters that I've left out.

[2017-03-27 07:27] dsyme commented on #2704
It's correct to use the lkg. The proto compiler is built by the lkg and should run with its fsharp.core.

[2017-03-27 07:27] #2704 closed

[2017-03-27 07:29] forki commented on #2704
ok can we change it to update the lkg then?

[2017-03-27 08:39] toburger commented on #1339
I like the idea of having a F# DSL (or data structure) to describe the project structure of an F# project.
Clojure (leiningen) for example uses a project file written in Clojure (S-expressions) for defining the [project structure](https://github.com/technomancy/leiningen/blob/stable/sample.project.clj).

We can even do better by incorporating F# type providers into the project definition process,

[2017-03-27 08:40] forki commented on #1339
The problem with custom project system is always tooling. We can't even get
the MSBuild ones working properly...

Am 27.03.2017 10:39 vorm. schrieb "Tobias Burger" <notifications@github.com

[2017-03-27 09:05] toburger commented on #1339
Yes tooling is a big concern! But I think it depends from where the project gets created.

If someone creates a project from Visual Studio then he expects good tooling for project files from the VS side.
When creating a project from the command line msbuild is a hassle. Even with the new .NET Core .fsproj file.

Creating a (dynamic) .fsproj file from the DSL should be possible (so any msbuild-comp

[2017-03-27 10:07] majocha commented on #2703
I like @saul 's idea very much. We could go even lower with opacity but leave underline always on for discoverability.
With PenOffset 1 and A set to 0x64:
<img width="1065" alt="2017-03-27" src="https://cloud.githubusercontent.com/assets/1760221/24351282/680a656a-12e5-11e7-92f0-0731943b14d8.png">
<img width="998" alt="2017-03-27 1" src="https://cloud.githubusercontent.com/assets/1760221/24351284/6

[2017-03-27 10:26] vasily-kirichenko commented on #2703
@majocha looks great :) PR?

[2017-03-27 10:45] Krzysztof-Cieslak commented on #1339
I think current project and build system is really huge problem for anyone trying out F# who was not C# dev before (https://www.reddit.com/r/programming/comments/61kt36/functional_programming_design_patterns_by_scott/dffbida/) - personally, I don't know anyone who was non .Net dev and understood MsBuild right away, and felt it was user friendly, easy to use etc.

I'd argue about it. Most tooling s

[2017-03-27 10:49] forki commented on #2682
I assume https://github.com/Microsoft/visualfsharp/blob/master/src/utils/sformat.fs#L1349 is recursive and calls the squashTo method and that calls the leadformatter again. @dsyme is that correct?

[2017-03-27 12:37] dsyme commented on #2682
@alfonsogarciacaro @forki I can take a look at this today/tomorrow.

I suspect either [this change](https://github.com/fsharp/FSharp.Compiler.Service/commit/ed948abaec8e2723c4fcafbde969a1071a4d72b1#diff-d394a7d9ed7a227da0c33ec249596510) or the addition of sprintf "%A" formatting for union types by default or both have conspired to cause this

What's the simplest repro steps?  Please remember I'm n

[2017-03-27 12:44] smoothdeveloper commented on #2631
@ctaggart, thanks for the update, the main purpose was to know which commit the nightly I'd install is made from (so I know which feature is there or not & else).

Having ability to debug and source link as extra side effects is very nice!

[2017-03-27 12:51] majocha commented on #2703
@vasily-kirichenko will do a PR to @cloudRoutine' s one in a few hours when I'm back at my PC.

[2017-03-27 15:10] 21c-HK commented on #1339
We had a similar discussion earlier in this thread. I will repost a few relevant quotes at the end of this comment for convenience.

@Krzysztof-Cieslak

You hit it on the nail! I think it's always best to separate things that can be separated. Each of these concerns should be a separate file - each possibly consumed/produced by separate tools - and not all files necessarily have to - but could - s

[2017-03-27 15:19] 21c-HK commented on #1339
@Krzysztof-Cieslak

I think there is a lot of interest for core issues like these even if it is not necessarily visible. Feedback/involvement like yours is much appreciated by passionate F# developers like me and raise awareness for issues that hold back F# adoption. And this is ultimately why I wanted to continue the discussion of F# adoption in this thread. I don't know if I can take even a litt

[2017-03-27 15:39] alfonsogarciacaro commented on #2682
Thanks a lot for your help @forki, @dsyme!

@dsyme For your convenience I've created [the repro-so branch in Fable](https://github.com/fable-compiler/Fable/tree/repro-so) (I think that's easier than having to upload a .zip file somewhere every time) with a `ReproSO` FAKE target that runs all the necessary step automatically. So you just need to:

[code]

Info about the target:
- It builds Fable wi

[2017-03-27 15:48] majocha commented on #2703
Code is here:
[https://github.com/cloudRoutine/visualfsharp/pull/2/commits/b21a41aae63c25f2a6edb4ad3e648b06c6f62c2e](https://github.com/cloudRoutine/visualfsharp/pull/2/commits/b21a41aae63c25f2a6edb4ad3e648b06c6f62c2e)

[2017-03-27 15:51] majocha commented on #2703
I've been thinking about copying some tried and tested code from [FsXaml](https://github.com/fsprojects/FsXaml). Namely the [utilities](https://github.com/fsprojects/FsXaml/blob/master/src/FsXaml.Wpf/Utilities.fs) to load XAML from resources. It would be useful in loading markup for options pages and also with Quick Info.
@ReedCopsey would you be OK with this?

/cc @vasily-kirichenko for opinion/a

[2017-03-27 16:14] Krzysztof-Cieslak commented on #1339
I think going to so many separate files is moving to another extreme. I think having project definition, and package definition in one file is OK... maybe even build configurations as long as it's static (i.e. doesn't contain custom programming language to manage like MsBuild with its conditionals and variable assignments). The biggest issue for me are dynamic parts of MsBuild - conditionals, vari

[2017-03-27 16:29] vasily-kirichenko commented on #2703
@majocha do whatever you want if it simplify the XAML related code. I know close to nothing about this stuff.

[2017-03-27 16:35] cartermp commented on #1339
I don't really think that the .NET approach for projects and builds are hampering adoption much.  It's an easy whipping boy which isn't the root of various issues with F#.  The link @Krzysztof-Cieslak pulled up:

(a) Lacks the detail to be actionable
(b) At face value, demonstrates a lack of comfort with compiled languages in general

If there's any truth to the latter, F# won't be picking up prog

[2017-03-27 16:39] saul commented on #2703
@majocha is there a reason why we can't just take a NuGet reference on FsXaml?

[2017-03-27 16:59] majocha commented on #2703
@saul I'm not sure. We can't use it as intended, because of the type provider IIUC.

[2017-03-27 17:37] vasily-kirichenko commented on #2703
Yes, we should not use FsXaml because it would conflict with its newer versions being used in users' projects. We learned this in VFPT.

[2017-03-27 17:37] Krzysztof-Cieslak commented on #1339
I don't think I agree, given projects I'm working on I'm often contacted by people struggling with MsBuild. From my anecdotal experience getting started UX is pretty bad [unless someone is committed to MSFT tooling - VS / XS which for various reason is often a problem for people who don't have .Net background]).  I've seen same reactions on various non-.Net conferences, or in my consulting work. M

[2017-03-27 17:44] gulshan commented on #1339
This is a minimal F# wrapper over asp.net core-
https://github.com/dustinmoris/Giraffe

[2017-03-27 17:49] GiorgioG commented on #1339
Not to beat a dead horse (again,) but F# being a second class citizen in VS releases definitely makes driving adoption much harder.  Right now many people want to start using .NET Core (and the latest VS release of course.)  That usually means folks will be creating new projects given that .NET Core and legacy .NET Framework projects don't play nice...and what better excuse to give people a reason

[2017-03-27 18:06] smoothdeveloper commented on #2703
@saul one reason I know of is that when VS loads a type provider in the process, it becomes impossible to have that same type provider (but another version) handled in your project. @ReedCopsey faced that issue and was forced to push updates to VFPT for that reason on each new release of FsXaml.

I think this could call for starting to use paket and file dependencies (we can commit the file as wel

[2017-03-27 18:25] 7sharp9 commented on #1339
Thankfully its not Visual Studio.
We have a whole cornucopia of option, vscode, sublime, emacs, visual studio, and xamarin studio.  Lets not get sidetracked by a development environment choice, F# is not a windows only product.

[2017-03-27 18:33] GiorgioG commented on #1339
@7sharp9 I absolutely agree that F# is not a Windows-only product and for non-Windows users, they can absolutely use VS for Mac/VSCode/etc and if part of the goal is to drive adoption significantly higher, targeting the large number of existing developers who already invested in VS / .NET might be give us the biggest bang for our buck.

[2017-03-27 20:12] sergey-tihon commented on #99
Am I right that if I still see this issue on `AppVeyor`
https://ci.appveyor.com/project/sergey-tihon/swaggerprovider/build/0.0.1.335#L391
the only solution it to use newer F# compiler (VS2017 image)?

and generative TP that want to support full .net and pcl (xamarin) should provide assemblies compiled for both frameworks, because pcl assemblies references from full .net may break compilation in VS

[2017-03-27 20:14] saul commented on #117
In which case I suggest that this issue is closed - I don't really think this is a bug.

[2017-03-27 20:20] saul commented on #828
This can be closed. F# and C# both show "Delete" and "Exclude from project" on both linked files/normal files.

[2017-03-27 20:34] saul opened #2710 "Limit "Go to all" results to improve performance"
"Go to all" currently causes a UI freeze of around 10 seconds on my machine when I try to search for something broad like "a". Even if I have a particularly narrow search, the freeze is still very noticeable.

I originally thought this was because we were doing an async as RunSyncronously, but it turns out 99.9% of the time is spent in WPF UpdateLayout. I assume this is because we're returning a h

[2017-03-27 20:50] toburger commented on #1339
People are complaining about .fsproj files/msbuild on conferences: https://youtu.be/JgWQPPnKWZU?t=10m23s. I don't think it is that bad of a situation to decide against F#, but I can understand his complaints.

[2017-03-27 21:11] cloudRoutine commented on #2710
we could also batch collect the results in the background and throttle the publishing

[2017-03-27 21:13] majocha commented on #2710
I tried to do this with a sizeable C# solution (Roslyn). Much worse freeze.

[2017-03-27 21:15] cloudRoutine commented on #2710
How did you implement it?

[2017-03-27 21:23] majocha commented on #2710
Miscommunication :) I tried `Ctrl-T`
Looking at the interface of `INavigateToSearchService` it only allows for per-project granularity. We can't do anything on our side. Returning not all results would be incorrect. It's simply not optimized in Visual Studio.

[2017-03-27 21:41] majocha commented on #2710
One idea that comes to mind:
Don't use fuzzy matching for one char search pattern.

Another:
For single letter return only results that start with it.

[2017-03-27 21:51] saul commented on #2710
@majocha are you saying the problem also exists in large C# solutions?

[2017-03-27 22:04] #2701 closed

[2017-03-27 23:09] #2050 closed

[2017-03-28 00:41] #828 closed

[2017-03-28 02:02] TIHan commented on #2688
@dsyme is there where the copy of the value is happening? https://github.com/Microsoft/visualfsharp/blob/6142611eb02737069132130ddc7d7960fd92929b/src/fsharp/TypeChecker.fs#L3234
I found 2 other places where something like this happens before a CompilePatternMatch.

Should I also look at these two TPat cases?
[code]
Now, I'm not entirely sure if I can get the ValRef I need from those cases. Or I'm

[2017-03-28 03:32] Pauan commented on #1339
@cartermp I'm probably in the minority, but the old `.fsproj` file was a big impediment to me. I'm on Linux, and I'm not using VS or VSCode, so I have to hand-edit the `.fsproj` file.

I don't like clicking buttons in fancy IDEs either, I prefer to actually understand how the files work. And the documentation I found for `.fsproj` is atrociously bad, probably because it's assumed that everybody is

[2017-03-28 06:05] cartermp commented on #1339
@toburger @Pauan To be clear: I'm not saying that `.fsproj` isn't an issue.  I'm saying that in terms of adoption, I don't think that it's a big factor.  That's a downlevel concern.  I'm not particularly concerned about that, especially since there's already a clear path forward with MSBuild 15-based project files.  I'm interested in the answers to questions which come *before* someone is concerne

[2017-03-28 07:13] forki commented on #1339
Probably Microsoft employees. It's 2017 and they still use "restore" for a resolution call ;-)
(and it's really weird since you use exactly the same dotnet restore to do a actual "restore" in paket.)

[2017-03-28 07:38] forki commented on #1339
@cartermp honestly. Look at cargo. Look how really good project file + package manager integration works. "paket will confuse people that just come to .NET " - that's really really bad thinking especially since most other platforms have a package manager that works similarly. Nuget is the odd thing. It really is. Having still no lock file is what people let themselves shoot in the foot.
I never cl

[2017-03-28 07:40] buybackoff commented on #1339
@forki I enjoyed FAKE and understood the value of Paket, but overall VS packaging solution became easier (less boilerplate and additional dependencies and mental overhead) since project.json, and since VS2017 it is kind of joy (relative to all the pain before with .NET Core, now references to/from Core and NET45 projects "just work"). And NuGet started to work as it always should have been - fast

[2017-03-28 07:43] forki commented on #1339
Coming back to the original topic. MSBuild (even 15 and PackageReferences) is a real problem for adoption. If discuss this away then you obviously never spend time in the fable gitter chat. A lot of the people come from Javascript ecosystem. They are not scared by F# or functional programming because we mainly show super simple + super effective elmish architecture. But they are indeed scared by o

[2017-03-28 07:44] forki commented on #1339
No it doesn't. You just not noticed it yet.

[2017-03-28 08:13] majocha commented on #2710
@saul it surely seems so.

[2017-03-28 08:39] vasily-kirichenko commented on #2710
We returned empty list on single-character filter in VFPT. We could do the same here. Agree?

[2017-03-28 08:54] majocha commented on #2710
@vasily-kirichenko and what if I'm looking for a single letter identifier :)?

[2017-03-28 09:10] vasily-kirichenko commented on #2710
OK, we can return exact match for single char.

[2017-03-28 11:51] Krzysztof-Cieslak commented on #1339
People going from Ruby to Elixir are not scared of FP, people going from JS to Elm are not scared of FP. Personally I believe that "blaming FP" is just excuse... and what's more important, many other communities stopped using it, and instead they are doing right things to make developers live easier.

For last 5 years it was "Nuget is OK because it's better than old dll hell" . Now it is "`dotnet

[2017-03-28 12:36] 21c-HK commented on #1339
The last few posts (especially by @forki and @Krzysztof-Cieslak) is exactly why this thread/discussion is so important. Microsoft employees may have a certain view of the state of things - and while the participants in this thread may not be representative of the F# community at large - the disagreement in the last few posts shows that the F# OSS may have a different view of the state of things. N

[2017-03-28 12:38] GiorgioG commented on #1339
@Krzysztof-Cieslak I agree with that we seem to content ourselves with incremental improvements to a crappy set of existing conditions (let's not sugar-coat it, csproj/fsproj/NuGet suck.) Incremental improvements will not move the adoption needle.

I don't think that's meant to slight non-Windows / VS users (or potential users.) Existing VS users simply provide a lower barrier to adoption than say

[2017-03-28 13:00] dsyme commented on #2688
@TIHan Yes, I believe so, when combined with this ``let``:

https://github.com/Microsoft/visualfsharp/blob/6142611eb02737069132130ddc7d7960fd92929b/src/fsharp/TypeChecker.fs#L8180

In the cases we're interested in (struct inputs) that ``let`` should be binding the address of the matched expression, not the expression itself.  You would have to be careful that that didn't apply to basic value types

[2017-03-28 13:03] 21c-HK commented on #1339
Regarding the project/build system, I need to quote myself to re-establish the context:

@21c-HK (me)

....

...

@Krzysztof-Cieslak

As I said, I was still undecided and I agree with you in principle. I just wanted to list the concerns and map each concern to the preferred format/language as a basis for discussion. We can see that project definition, dependencies and build configuration could use

[2017-03-28 13:13] dsyme commented on #1339
@Krzysztof-Cieslak

I'm coming around to that the best approach to this is to encourage the maintainers to recruit at least 1-4 other maintainers.  And to encourage all users to become contributors.  There are many structural things we can do as a community to help each other achieve this.  Sharing best practice around CI, docs, API key management, simplifying base tooling, avoiding churn in base

[2017-03-28 13:36] rmunn commented on #1339
@Krzysztof-Cieslak wrote:

There is at least one *senior* developer among my colleagues who would disagree. We have a lot of internal libraries that several of our software products use -- and our build scripts are currently set up so that if product A uses library B, it *downloads `libB.dll` from the relevant build artifacts on our TeamCity server*. I am **NOT** making this up. I recently brought

[2017-03-28 14:09] forki commented on #1339
@rmunn manual dependency management is a very sane approach. Especially for smaller solutions (with not too many external deps and only a handful of projects) it's basically ideal. I'm not joking here.
For bigger solutions it can become really hard to keep track of everything, so a package manager usually helps. If you are in situation with hundreds of projects and many many deps then it's basical

[2017-03-28 15:13] haf commented on #2014
How do I make this warning disappear? The code compiles, works and is correctly inferred and I can't add any more type annotations AFAIK

<img width="1185" alt="screen shot 2017-03-28 at 17 12 47" src="https://cloud.githubusercontent.com/assets/193115/24412829/d54a9fce-13d9-11e7-948e-4e936e3032f7.png">

[2017-03-28 15:17] cartermp commented on #1339
@Krzysztof-Cieslak

Why?  Having different anecdotal experiences shouldn't discourage you from engaging further.  This just means that _both_ of us have more to learn.

@forki

Nope.

It sounds like you're saying that  you could be a drop-in replacement for NuGet w.r.t. `PackageReference`?  If so, that's great.  Precisely the sort of thing that ought to happen.

@21c-HK

Good idea.  Not sure where

[2017-03-28 15:22] forki commented on #1339
There is a subset of paket.references features that would work with PackageReferences in fsproj. Yes. But I'm not 100% sure it's a good idea.

[2017-03-28 16:04] enricosada commented on #1339
my feedback, doing a lot of fsprj stuff.

the `dotnet restore` (who is just nuget as msbuild task, in fact is `dotnet msbuild /t:Restore`) and `PackageReference` doesnt fix the old issues of nuget (lock file for app, deps version ranges for libraries), neither does the transitive dependencies.
these just hide the problem, with a less verbose and easy to use sintax.
A `PackageReference` is just the

[2017-03-28 16:23] cartermp opened #2714 "Accessibility and Mutable Highlights"
**Note:**  This is a tracking issue for accessibility, but there is no action to take at this time.

I spoke with @dpoeschl about accessibility requirements for default colorization in the Blue Theme for VS.  This is the theme which has requirements in this area.  Colorization for mutables does not fall within the required contrast ratio.  Same with other colors we use.  That said, Roslyn also use

[2017-03-28 16:29] cartermp commented on #2710
Exact match for single char seems like a good approach.

[2017-03-28 16:58] 21c-HK commented on #1339
Well, everything is _just_ a language. But languages _do_ matter! Otherwise we would still be programming in assembly, which is also "just a language". MSBuild sucks. It has always sucked. Granted, it's old and back in the day when every one ~~was insane~~ thought XML was the solution for everything, lots of dumb things were developed that were based on XML. But it's 2017, we should learn from pas

[2017-03-28 16:58] cartermp opened #2715 "Structure/ServiceUntypedParse convergence"
We currently have ServiceUntypedParse for traversing UASTs.  It was not sufficient for support Structured Guidelines, so @cloudRoutine built [`Structure.fs`](https://github.com/Microsoft/visualfsharp/blob/master/vsintegration/src/FSharp.Editor/Structure/Structure.fs).  There are similar goals here.  It could also be the case that Structure solves some problems in existing code in ServiceUntypedPar

[2017-03-28 17:08] bryanedds commented on #1339
Unfortunately nowadays, we build these things in json - which is about as bad as XML.

S-expressions are the way to go. Fortunately, there is an F# library that uses s-exprs for serialization, DSLs, and even a dynamic and pluggable scripting language - https://www.nuget.org/packages/Prime/

😀

[2017-03-28 17:17] 21c-HK commented on #1339
Completely agree.

S-expression are even worse than JSON or XML, because it has less structure and even less type information than either. Structured data types like record types and union types in F# that can be checked statically is the best you could possibly hope for with regards to typed data, but TOML is fine for simple configuration information.

[2017-03-28 17:18] cartermp commented on #1339
@21c-HK Just to offer a bit more historical context:

project.json was an ultimately failed effort to replace MSBuild.  This was driven fundamentally by the fact that it could not talk to existing code in VS.  That's a problem when the corpus of code is written in VS.  That said, it brought certain capabilities to the table which have since been adopted by MSBuild, including:

* Transitive project

[2017-03-28 17:21] bryanedds commented on #1339
It is factually incorrect to say that s-exprs have less type information
the XML. Json may have additional literal types, such as date time, but
that's nit-picking a bit. The advantages of s-expressions are structural -
try writing a scripting language with json syntax - you really can't.

On Tue, Mar 28, 2017 at 1:17 PM, 21c-HK <notifications@github.com> wrote:

[2017-03-28 17:26] vasily-kirichenko commented on #2714
I don't even understand what it's all about.

[2017-03-28 17:31] 21c-HK commented on #1339
the XML.

I meant type information as in product types (record or tuple in F#) and sum types (i.e. union in F#). XML has both even if I don't remember from the top of my head whether XML supports full blown unions or just enums as in C#. S-expressions by themselves have no explicit type information other than the basic type literals. All structured type information is implicit.

Don't get me wrong

[2017-03-28 17:39] cartermp commented on #2714
@vasily-kirichenko Compliance.  A 4.5:1 (or higher) contrast ratio is the bar for accessibility requirements on colors for VS Blue Theme.  Mutables in Blue Theme are at 3:1.  We're below that for other colors as well.  So is Roslyn, though, and because we share some colors there may not end up being any action we have to table.

[2017-03-28 17:50] dpoeschl commented on #2714
We are still in the process of deciding whether classification colors in particular need to satisfy this 4.5:1 requirement.

[2017-03-28 17:51] saul commented on #2710
I'm going to raise an issue with Roslyn as well as it's more of a fundamental issue with rendering a huge amount of results.

[2017-03-28 17:59] vasily-kirichenko commented on #2710
https://github.com/Microsoft/visualfsharp/pull/2716 However, it works OK on my machines. No blazing fast, but definitely usable.

[2017-03-28 18:00] majocha commented on #2714
Currently we don't have separate theme for Blue vs Light. Both use the same set of colors. Personally I'm all for making mutables red again :)

[2017-03-28 18:04] vasily-kirichenko commented on #2714
@majocha red makes errors hard to see, same for dark orange.

[2017-03-28 20:02] saul opened #2717 "'do' within a match case causes incorrect indent guidelines"
![image](https://cloud.githubusercontent.com/assets/64654/24424753/a643bc40-13f9-11e7-970e-ab0afdd8089d.png)

`do` seems to break indent guides within match case blocks

cc @vasily-kirichenko if you point me in the right direction I'm willing to try and fix this myself 👍

[2017-03-28 20:06] smoothdeveloper commented on #2717
@saul you might look at https://github.com/Microsoft/visualfsharp/blob/master/vsintegration/src/FSharp.Editor/Structure/Structure.fs
@cloudRoutine surely knows better to help you with more accurate details.

[2017-03-28 20:06] cloudRoutine commented on #2717
@saul the parsing to identify the ranges for outlining happens in https://github.com/Microsoft/visualfsharp/blob/master/vsintegration/src/FSharp.Editor/Structure/Structure.fs

[2017-03-28 20:06] saul commented on #2717
Thanks guys - will take a look now. I was searching for "indent" and "guide" which wasn't helping...

[2017-03-28 20:08] saul opened #2718 "Function fields on records are not highlighted as functions"
![image](https://cloud.githubusercontent.com/assets/64654/24425040/8dde2324-13fa-11e7-88d0-7e355b8be45c.png)

I expect the red underlined text to be classified as a function (e.g bold, as `y` is)

[2017-03-28 20:11] cloudRoutine commented on #2717
the problem is that not all syntax constructs are represented in the UAST and sometimes the ranges provided by the UAST are wrong.

iirc the `do` doesn't show up in certain contexts

[2017-03-28 20:13] saul opened #2719 "Fields are not shown as being part of their encapsulating type in 'Go to'"
![image](https://cloud.githubusercontent.com/assets/64654/24425193/2c3681ce-13fb-11e7-953e-e2685177eb18.png)

I'm expecting the red boxed "namespace Library1" to read "type MyRecord".

P.S. apologies for the influx of reports - I spend my day using the F# nightlies at work and take note of all the issues I'm finding.

[2017-03-28 20:20] cloudRoutine commented on #2717
@saul you can close this issue, i added this case to https://github.com/Microsoft/visualfsharp/issues/2431

[2017-03-28 20:24] saul commented on #2717
Duplicate of #2431

[2017-03-28 20:24] #2717 closed

[2017-03-28 20:33] cartermp commented on #2719
@saul 👍 on the reports.  More folks using it with day-to-day projects the better!

[2017-03-28 20:38] cloudRoutine commented on #2718
added to https://github.com/Microsoft/visualfsharp/issues/2410

[2017-03-28 21:22] stishkin opened #2720 ""Unexpected no result" error when executing Async computation"
Unfortunately I do not have much info on this issue.
Just the following stack trace. This is intermittent issue, and I have no repro for this.

F# 4.1 compiler running on Mono mono-complete-4.6.2.7-0.xamarin.1.x86_64
OS: Redhat 7.2

  at Microsoft.FSharp.Control.AsyncImpl+ResultCell`1[T].GrabResult () [0x0000b] in <58b0ca73904cf4daa745038373cab058>:0
  at <StartupCode$FSharp-Core>.$Control+AsyncWa

[2017-03-28 21:29] ImaginaryDevelopment commented on #2550
getting a ton of errors that aren't errors continues to plague after switching to nightly builds even. It makes it REALLY tough to find real errors when they exist.

[2017-03-28 22:12] cloudRoutine opened #2723 "AutoComplete - Keywords appearing in completion list during '.' completion"
![](http://i.imgur.com/sIJepDp.png)

![](http://i.imgur.com/7eU4vGs.png)

They should not be appearing in this completion context

cc @vasily-kirichenko

[2017-03-28 22:27] cartermp commented on #2550
@ImaginaryDevelopment Could you post a screenshot?

[2017-03-29 04:17] #2718 closed

[2017-03-29 05:41] BentTranberg commented on #2550
I used to have this problem, but it was fixed more than a week ago. I also configured nightly builds, and todays version of Visual F# Tools is 15.4.1.17032701. @ImaginaryDevelopment , which version do you have?

List of versions, with dates: https://dotnet.myget.org/feed/fsharp/package/vsix/VisualFSharp

[2017-03-29 06:07] BentTranberg commented on #2548
The situation has been hugely improved since my last feedback, and there is no longer any practical problem whatsoever due to this issue, at least for me. I am working on a large project with a mix of C# and F#. The practical problems was caused by this issue in combination with other issues that has now been fixed.

The F# compiler no longer floods the Error List pane with errors, but keep the co

[2017-03-29 06:19] #2719 closed

[2017-03-29 11:50] nethatix commented on #2550
Indeed the build issues are laid to rest with 15.4.1.17032701 and a **big thank you** for the nightly builds! But for those who don't want to burden their C# comrades with extra install requirements for F# are waiting for the IDE update :) Any ETA for that?

[2017-03-29 12:30] Kurren123 commented on #2100
I am also experiencing this

[2017-03-29 13:17] et1975 commented on #2679
Thanks for a quick fix folks, where can I find the fixed release?
Apparently the problem is exacerbated by the new Fable project system, same file name *in a referenced dependency project* is causing this error as well!
/cc @alfonsogarciacaro

[2017-03-29 13:23] vasily-kirichenko commented on #2679
@et1975 I've closed my fix PR because I cannot fix some tests.

[2017-03-29 13:24] cartermp commented on #2550
@nethatix Still TBD.  We haven't announced update times yet.  That said, the update model for VS 2017 is different than before.  We'll have an official update before the traditional "Update 1" timeframe.

[2017-03-29 14:22] ImaginaryDevelopment commented on #2550
![image](https://cloud.githubusercontent.com/assets/121276/24459298/2eccd726-1469-11e7-9455-b31cf9d19c33.png)

FSharp tools version: 15.4.1.17032701
![image](https://cloud.githubusercontent.com/assets/121276/24459352/51a41f0c-1469-11e7-8514-b419162bcc4a.png)

![image](https://cloud.githubusercontent.com/assets/121276/24459371/67193d04-1469-11e7-89c2-836be0c27158.png)

![image](https://cloud.github

[2017-03-29 15:01] BentTranberg commented on #2550
The latest is VisualStudio/15.0.0+26228.10 which I noticed myself in "Updates" only this morning before my previous post, but I have no clue whether it can help with your case, @ImaginaryDevelopment.

[2017-03-29 15:16] vasily-kirichenko commented on #2550
Is there an error squiggle at the left upper corner of the file? A very short one, at the first open statement? If it's there, what it says?

[2017-03-29 15:43] ImaginaryDevelopment commented on #2550
@vasily-kirichenko  I don't have any red squiggles at the left upper corner of the files, in any open statements. Also I updated @BentTranberg that right after making the screenshots. There was no change in behavior.

[2017-03-29 17:01] smoothdeveloper opened #2729 "printf format specifier incorrectly identified in multiline strings"
Having this in a .fsx file:

[code]

In VS2015 there is no error reported, but VS2017 wrongly reports this error:

The snippet executes fine in FSI from VS in both cases.

**Workaround** - use  ``"""..."""`` multiline strings for the format specifier, which work correctly. These don't require ``\`` at the end of line

[2017-03-29 17:07] saul commented on #2410
@cloudRoutine #2722 also fixed enum case colouring

[2017-03-29 17:14] saul opened #2730 "Compiler type inference regression"
[code]

In F# 4.0 (and prior), the above code worked fine. However in F# 4.1 there seems to have been some kind of regression:

onstrain the type of the object. This may allow the lookup to be resolved.

This regression means we cannot use F# 4.1 (or VS 2017 due to IntelliSense errors) at work due to this regression in type inference that the code heavily depends upon.

/cc @dsyme

[2017-03-29 17:15] smoothdeveloper commented on #2410
@cloudroutine:

it looks like a +1 / -1 thing on line number for this case, look how "trimBoth length" matches the color expected on above line.

[2017-03-29 17:17] saul commented on #2410
@cloudRoutine @smoothdeveloper - notice the `# 3` directive - I think everything's shifted by 2 lines.

[2017-03-29 17:22] saul commented on #2100
Digging into this, it looks like [ComputeProjectDiagnosticAnalyzerDiagnosticsAsync](http://source.roslyn.io/#Microsoft.CodeAnalysis.Features/Diagnostics/EngineV2/DiagnosticIncrementalAnalyzer.Executor.cs,71ad559976c39f3c) has a try/catch to see whether the cancellation came from the same cancellation token as the one that was passed into the analyzer. Maybe we're failing that check?

[2017-03-29 17:23] saul commented on #2320
@cartermp has this been fixed? When should we expect this to have rolled out?

[2017-03-29 17:28] dsyme commented on #2730
@saul Ouch, that's unexpected and frustrating.

I wonder if the cause is the optimizations to constraint solving https://github.com/Microsoft/visualfsharp/pull/1650 and https://github.com/Microsoft/visualfsharp/pull/1530.  It would be good to do before/after checks or a bisect

// cc @gusty

[2017-03-29 17:39] 0x53A commented on #1548
The error message is still printed three times:

21>Program.fs(68,21): error FS0039: The type 'Type' is not defined in 'B'.
21>Program.fs(68,21): error FS0039: The type 'Type' is not defined in 'B'.
21>Program.fs(68,21): error FS0039: The type 'Type' is not defined in 'B'.

I don't get any suggestions at all for Type now (which is ok, because of the difference in size), but I get a suggestion for

[2017-03-29 17:42] 0x53A commented on #1843
I am now using FSharp.Compiler.Tools in all our projects, so that they can be built even on a build server without VS2017.

Thank you @dsyme.

[2017-03-29 17:42] #1843 closed

[2017-03-29 17:52] cartermp commented on #2320
@saul No, it has not been fixed.  There's currently no ETA, though one of the team members did get preliminary F# support working as an experiment.

[2017-03-29 17:58] smoothdeveloper opened #2731 "can't type "match / with" properly if there is a function with "with""
Using nightly 15.4.1.17032701, having this code:

[code]

I can't type `match x with` without `with` being changed to `endsWith`, the workaround is to type ESC before ENTER

[2017-03-29 18:03] 0x53A commented on #2731
similar with ``for x in y do``, if you instantly press enter after ``do``, it will complete to ``double``, but if you wait a little bit, it will keep the ``do``.

[2017-03-29 18:06] smoothdeveloper opened #2732 "automatic triggered completion annoyance: exact match with single result"
My muscle memory is pretty strong on adding `| _ -> None` on a new line and pressing UP-ARROW subsequently to get back at the interesting piece of work.

[code]

When my carret is here, I type UP-ARROW and don't expect to be bogged down by autocompletion since this is an exact match and there is only a single result.

[2017-03-29 18:21] dsyme commented on #2729
@smoothdeveloper Are you sure?  I just compiled it using fsc.exe with VS2017 OK

[2017-03-29 18:26] dsyme commented on #2731
That needs to be fixed :)

[2017-03-29 18:27] dsyme commented on #2720
@stishkin We will need a reliable repro for this I think

[2017-03-29 18:45] vasily-kirichenko commented on #2731
![1](https://cloud.githubusercontent.com/assets/873919/24470856/0432701a-14c9-11e7-8874-2cd629b3bd0f.gif)

[2017-03-29 19:00] vasily-kirichenko commented on #2731
About `do`, it's the old good dreadful range operator, which spreads from `f` in `for` to `do` and father. So we detect completion context as `Some RangeOperator`. We don't return keywords into completion list if context <> `None`, so the result.

[2017-03-29 19:06] 0x53A commented on #2729
I think this is a design time only issue:

[code]

![image](https://cloud.githubusercontent.com/assets/4236651/24471786/838fca7a-14c3-11e7-9342-534d7d6b7045.png)

Note how it doesn't color the last %A.

But it compiles fine:

[2017-03-29 19:09] forki commented on #2729
Lol that's taken from paket source right? I saw that as well and had it on my ever growing investigation list.

[2017-03-29 19:25] gusty commented on #2730
Yes, it could be related to those optimizations. I'll dig again into it and find out why is not inferring ``dt`` based on the type of ``x``. It's a shame we didn't have a test like this available.
Anyway looks like a fix shouldn't be complicate.

[2017-03-29 19:34] 0x53A commented on #2730
Tooltips actually work correctly on both dt and dt.Year, but it seems to be unable to infer the type of y:

![image](https://cloud.githubusercontent.com/assets/4236651/24472057/9be195bc-14c4-11e7-9103-9e4517d60b28.png)

![image](https://cloud.githubusercontent.com/assets/4236651/24472072/a8fd9de0-14c4-11e7-9b09-e25b485c8293.png)

![image](https://cloud.githubusercontent.com/assets/4236651/24472230

[2017-03-29 20:24] saul commented on #2710
Closing as this is definitely a platform problem and not an F# issue. See https://github.com/dotnet/roslyn/issues/18253

@vasily-kirichenko you may as well close your PR.

[2017-03-29 20:24] #2710 closed

[2017-03-29 20:32] nethatix commented on #2550
Unfortunately, after a few hours, the intelligence errors came back on my combined c# (asp.net mvc)/f# 4.6.1 solution but not in the all f# 4.6.1 solution (sharing 2 f# projects). With this improved stability comes the challenge to replicate this now... This is with FSharp tools version: 15.4.1.17032701 installed.

[2017-03-29 20:34] 0x53A opened #2734 "build fails in a clean CMD - works in DEV15 shell"
#### Repro steps

1) Clone master
2) Open a clean cmd and navigate to dir
3) build

#### Expected behavior
It builds

#### Actual behavior

![image](https://cloud.githubusercontent.com/assets/4236651/24475105/26d723da-14cf-11e7-95e1-2180c4e7d192.png)

#### Known workarounds
Open a Developer Command Prompt for VS2017 and then enter build

#### Cause

With a lot of ECHO debugging, I narrowed it down

[2017-03-29 20:42] smoothdeveloper commented on #2730
@0x53A just FYI and based on my experience (with associated confusion) the tooling/tooltip will use a "larger part" of code in the inference while the compiler has somehow a more restricted way to unify the type.

I've had a few tickets where the tooling would allow me completion on infered types (#1310 is one of those) but the compiler will refuse with same FS0072 error.

[2017-03-29 20:45] gusty commented on #2730
Yes, that's almost always the case. It would be nice to make the compiler's type inference as smarter.

[2017-03-29 20:46] smoothdeveloper commented on #2729
@dsyme this is actually in the tooling only, I indicated that it executes fine in FSI, but somehow the tooling (in VS2017 nightly) is behaving another way.

@forki yes, taken from Paket :smile:

[2017-03-29 20:49] smoothdeveloper commented on #2731
@vasily-kirichenko somehow this is what I have (what tool do you use instead of licecap to get the completion captured properly?):

![vswith](https://cloud.githubusercontent.com/assets/87944/24475926/d7fa9f5a-14d1-11e7-90f9-c650acf25377.gif)

[2017-03-29 21:00] saul commented on #1939
I've made a bit of progress on navigating to C# projects that are within the same solution:

![go to csharp definition](https://cloud.githubusercontent.com/assets/64654/24476407/0e5af79a-14cb-11e7-8cf2-6fedb2da2ef7.gif)

[2017-03-29 21:30] smoothdeveloper commented on #1939
@saul curious if you could add a VB.NET project in that solution to confirm if it also works the same?

[2017-03-29 23:26] #2734 closed

[2017-03-30 04:45] vasily-kirichenko commented on #2731
licecap only. so you press Enter at the end?

[2017-03-30 04:51] vasily-kirichenko commented on #1939
@saul this is fantastic! :) Any chance to make it working the other way around (C# -> F#)?

[2017-03-30 06:40] alfonsogarciacaro commented on #2679
This is going to be a huge pain point for Fable if not fixed. At the moment we are merging all files (from every project) into a single project because this is the only (or at least easiest) way to get the full AST and inline functions across projects. As this is also a problem for .NET F# projects, I think it makes sense fixing it here instead of trying to find a workaround in Fable.

@dsyme @for

[2017-03-30 07:12] saul commented on #1939
@smoothdeveloper yeah I'm sure it would - I'll try it later but as it just uses Roslyn's SymbolFinder I have no reason to believe it wouldn't work.

And @vasily-kirichenko I haven't investigated that yet - i imagine it'll be quite a bit harder.

[2017-03-30 09:32] isaacabraham opened #2739 "Improve Error Reporting: "inner" expressions inside computations expressions"
@dsyme - as per your email w/ Dave Thomas...

## What
If you create a computation expression that has a nested expression inside it bound to a value, you need to explicitly create a "child" computation expression for the nested expression.

[code]

You can fix it either by explicitly wrapping the nested `match` expression branches in their own CEs: -

[code]
or the entire child expression

[code]

[2017-03-30 09:39] isaacabraham commented on #1136
Is there a way to progress this? @cartermp would it be possible / acceptable to set up something on F# MSDN which contains a list of all F# compiler error messages along with examples of each. Then, we can look to bake that into Code + VS so that every compiler error has either a URL link to the error, or even better a little pop-up with the details?

As long as all the pages follow a standard for

[2017-03-30 09:46] isaacabraham commented on #1431
@anton-pt can you suggest an error message that should be displayed - we should be able to come up with one easily, and then this can be marked as up for grabs.

[2017-03-30 09:49] isaacabraham commented on #2307
@KevinRansom @dsyme would it be worth as a quick win updating the error message for e.g. F# vNext and then doing the "most bestest" solution as something further down the line? Would you be ok to accept a PR that changed the error text as per above?

[2017-03-30 09:51] isaacabraham commented on #569
@forki Can this be closed?

[2017-03-30 09:52] isaacabraham commented on #1103
Just done a quick review here. There are a few issues that seem to me to be "up for grabs" i.e. there's been a discussion on the issue and there seems to be consensus on what the outcome should be - someone "just" needs to do the work.

There are also some that need some discussion to review them and decide the best way forward.

[2017-03-30 09:55] forki commented on #569
yep

[2017-03-30 10:05] anton-pt commented on #1431
How about something like this?

Warning: defined function [f] marked as EntryPoint was not invoked. Execute [f argv] in order to invoke [f] with the appropriate string array of command line arguments.

[2017-03-30 10:29] smoothdeveloper commented on #2731
Yes enter, sometimes even before the list pops up.

[2017-03-30 11:14] vasily-kirichenko commented on #2731
Are keywords and "xxx (open yyy)" stuff in the list?

[2017-03-30 12:45] 21c-HK commented on #1339
I see barriers to adoption as resistance on multiple levels. Every developer has an individual resistance threshold (or "pain"-threshold). If the technology directly or indirectly puts up enough resistance to overcome the threshold of that particular developer, then you have lost the interest of that developer - often times for good. This happened to me with Haskell's tooling on Windows when I tri

[2017-03-30 13:13] smoothdeveloper commented on #2731
@vasily-kirichenko no, not sure why it is not there. Do you suspect my VF# tools aren't the one we expect?

I checked again and it is  15.4.1.17032701:

![image](https://cloud.githubusercontent.com/assets/87944/24505747/562e95fa-155b-11e7-9dc9-bdc386b4b2cd.png)

[2017-03-30 13:43] vasily-kirichenko commented on #2731
yes, they are outdated. Nightly is broken March, 27.

[2017-03-30 13:43] GiorgioG commented on #1339
The core reason I'm interesting in learning and using F# is the promise of simplicity and increased productivity.  I've been a .NET developer since v1.0 beta (when I had just graduated from university.) As much as I prefer C# over other C-family languages, I'm sick of all the boilerplate I have to write, and I've become weary of OOP - it's too complex to design a flexible, well-thought out system

[2017-03-30 14:16] smoothdeveloper commented on #1136
@isaacabraham I think it would be a relevant content to host on fsharp.org: https://compiler.fsharp.org/messages/fs0001

[2017-03-30 14:46] dsyme commented on #2307
Yes, though you probably want

[code]

[2017-03-30 14:46] dsyme commented on #1103
Thanks!  Such great progress overall :)

[2017-03-30 14:47] #569 closed

[2017-03-30 15:02] dsyme commented on #1339
@21c-HK Thank you for such an excellent and well-thought out summary post.

I'd add at least one other kind of resistance: loosely **cultural resistance** or **network resistance**: "I want to use F#, and there are no ideological, theoretical or practical reasons not to do it, and lots of reasons why it's a good idea, but the weight of my social/work/professional/economic/... network around me mak

[2017-03-30 16:39] bryanedds commented on #1339
In the US, and likely other Western countries, we have a serious problem of capital allocation. For example, the way that capital is allocated in the US tends to be way overly conservative. Nowadays, capital only tends to flow from a vanishingly small set of highly risk-averse actors, either purely for the motive of lottery-level profit seeking, or straight up politics. Give how locked up the US e

[2017-03-30 17:21] bryanedds commented on #1339
BTW - I turned the above comment into a full-blown article here - https://medium.com/@bryanedds/how-locked-up-economies-put-the-adoption-of-programming-technologies-into-slow-motion-b8c2da89b93e

[2017-03-30 17:52] vasily-kirichenko opened #2741 "Improve async stack traces"
C#

![image](https://cloud.githubusercontent.com/assets/873919/24518023/17694a26-1589-11e7-8700-cc371a34c6d0.png)

F#

![image](https://cloud.githubusercontent.com/assets/873919/24518043/2558ee84-1589-11e7-97be-cf1381106100.png)

1. The stack trace is completely lost between `main` and `bazz`.
2. `ConsoleApplication1.exe!Program.bazz@6-1.Invoke(Microsoft.FSharp.Core.Unit unitVar = null)`

Why not

[2017-03-30 17:56] vasily-kirichenko commented on #2741
https://eiriktsarpalis.wordpress.com/2015/12/27/reconciling-stacktraces-with-computation-expressions/

[2017-03-30 17:57] vasily-kirichenko commented on #2741
@Pilchie Do you know how such nice stack traces for async C# code are implemented? Is it open sourced?

[2017-03-30 17:58] 21c-HK commented on #1339
@dsyme Thank you for the (most) important addition with regards to kinds of resistance. You explained it better than I could have anyway. Of course, cultural resistance is the resistance with the most impact and also the most difficult to tackle due to its (sometimes unintuitive) complexity. **Changing culture is always very hard (if not impossible).**

One (for me at least) [unexpected cultural f

[2017-03-30 18:19] cloudRoutine commented on #2741
@vasily-kirichenko that's the old one  ^^
[code]
[code]
[code]
https://eiriktsarpalis.wordpress.com/2016/11/19/reconciling-stacktraces-with-computation-expressions-revisited/

[2017-03-30 18:24] cartermp commented on #2731
We've got a broken build right now (not in CI, but internally) preventing a nightly from going out.  @KevinRansom is getting it fixed.

[2017-03-30 18:28] dsyme commented on #2682
@alfonsogarciacaro @forki I plan to look at this next.  I got distracted by some serious Linux packaging issues, but this is next on the list.

[2017-03-30 18:33] cloudRoutine commented on #2729
It's the last trailing backslash that causes this, I've actually run into this error a ton of times.

![](http://i.imgur.com/w6u2OCk.png)

![](http://i.imgur.com/k4hNNPu.png)

[2017-03-30 18:34] vasily-kirichenko commented on #2741
@dsyme is it possible to use this ^^^ approach right in FSharp.Core to improve async stack traces?

[2017-03-30 19:16] cartermp opened #2742 "QuickInfo doesn't show XML doc comment when F# value has default constructor type constraint"
1. Enter the following code:

[code]

2. Hover over `bad`.

#### Expected behavior

"Test comment" is shown in QuickInfo.

#### Actual behavior

No XML comment:

![no-comment](https://cloud.githubusercontent.com/assets/6309070/24521892/91e9873a-1542-11e7-9224-c76f9300afe0.PNG)

Note that it works for `good`:

![yes-comment](https://cloud.githubusercontent.com/assets/6309070/24521897/996496b2-1542-

[2017-03-30 19:25] rmunn commented on #1339
On a slightly different but still tooling-related note, one of the reasons I'm still holding back from introducing F# to my coworkers is documentation. Specifically, the documentation of FAKE, which is [quite hard to find things in even when you know what you're looking for](https://github.com/fsharp/FAKE/issues/1485). Since FAKE is pretty much the *de facto* standard build tool for F# projects (u

[2017-03-30 20:11] alfonsogarciacaro commented on #2682
@dsyme That'd be awesome, thank you! Although right now probably #2728 is more urgent as it's breaking many Fable projects (Fable 1.0 merges all files from referenced libraries in a single project so name collisions are more likely). This one at least can be fixed by using F# compiler 4.1.0.

[2017-03-30 20:29] forki commented on #2682
@alfonsogarciacaro yes but if the other one gets fixed and you upgrade then this one gets serious as well ;-)

[2017-03-31 00:05] cloudRoutine commented on #2742
@cartermp I don't think quickinfo is the source of the issue, if you compile the module and check the output xml file

[code]

[2017-03-31 06:17] xenocons opened #2747 "Type Provider / Intellisense UX Improvement"
When certain references go missing from a project, unhelpful UX can occur in the form of missing or hidden error messages. I am not sure if this belongs in visualfsharp or FSharp.Data, I have a feeling that it may be really a limitation in how type providers work, but there might be some smoothness that can be hacked into the VS UX to make things easier.

#### Repro
1. Create a new solution, add 2

[2017-03-31 07:17] nosami opened #2748 "Mono 5.0.0.28 / F# 4.1.5 scripting woes"
When evaluating this script on Mono 5.0.0.28  / F# 4.1.5

[code]

I hit a Stack Overflow in Mono.

[code]

[2017-03-31 07:30] nosami commented on #2748
Wrong repo. Moved to https://github.com/fsharp/fsharp/issues/702

[2017-03-31 07:30] #2748 closed

[2017-03-31 10:04] vasily-kirichenko opened #2750 "build.sh fails on CentOS"
[code]

[2017-03-31 10:04] 7sharp9 opened #2751 "Build failure during ./build.sh but appears to continue"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. .build.sh

#### Expected behavior

build succeeds with no errors.

#### Actual behavior

Build fails with:
[code]
#### Related information

Provide any related information

* Operating system osx
* mono-4.8.0-branch/e4a3cf3

[2017-03-31 10:06] 7sharp9 opened #2752 "On running ./build.sh a cert download is shown for mono"
#### Repro steps

Provide the steps required to reproduce the problem

1../build.sh

#### Expected behavior

No cert warning, this does not show on fsharp/fsharp

#### Actual behavior

[code]

#### Related information

osx
mono 4.8

[2017-03-31 10:07] forki commented on #2751
Error downloading 'NUnitLite.3.5.0' from 'https://dotnetmyget.blob.core.windows.net/artifacts/dotnet-core/nuget/v3/flatcontainer/nunitlite/3.5.0/nunitlite.3.5.0.nupkg'.
    An error occurred while sending the request

wtf is that url? Do you have machine wide nuget.config?

[2017-03-31 10:20] 7sharp9 opened #2753 "On trying to compile on osx the resulting compiler exe is broken"
Please provide a succinct description of the issue.

#### Repro steps

Provide the steps required to reproduce the problem

1. `./build.sh`
2. `mono fsc.exe` from output folder

#### Expected behavior

program runs

#### Actual behavior

program fails:
[code]

#### Related information

OS osx
Mono 4.8

[2017-03-31 10:27] chillitom opened #2754 "Redundant pattern detection fails for simple duplicates cases when active pattern used"
Presence of active patterns disables the detection of simple duplicates cases.

[code]
When active patterns are present checking whether a match is exhaustive clearly becomes difficult/impossible but duplicate cases can still be detected.

[2017-03-31 10:28] vasily-kirichenko commented on #2750
build.sh finished successfully after installing mono-complete.

[2017-03-31 10:28] #2750 closed

[2017-03-31 10:34] vasily-kirichenko commented on #2753
Same on CentOS 7:
[code]

[2017-03-31 11:12] vasily-kirichenko commented on #2747
The bug on the last screenshot is fixed in https://github.com/Microsoft/visualfsharp/pull/2755

[2017-03-31 11:31] dsyme commented on #2729
It's very odd, since the same text is being processed by the compiler and the language service.  Perhaps there's a `\r\n` v `\n` difference in the text sent to the language service and that processed by the compiler

[2017-03-31 11:32] dsyme commented on #2741
@vasily-kirichenko I'm not sure - I haven't looked closely, particualrly about whether it would be  breaking change  Erik did some important work in improving things but it looks like we need to do more.  Marking more FSharp.Core things with relevant "do not show this in the debugger" attributes may bee a huge help

[2017-03-31 11:35] dsyme commented on #1339
@rmunn That's true.  I'd reckon @forki would appreciate a few people becoming co-maintainers on FAKE with a view to documentation and issue management.  It's basically very stable and its a good time for people to come in and work on those perspectives.

[2017-03-31 11:47] dsyme commented on #2754
I've labelled it as a feature request.  There has always been some limitations in redundancy checking for APs, we knew that when we implemented them

[2017-03-31 11:48] dsyme commented on #2753
We've fixed this in fsharp/fsharp, I'll merge the changes back

[2017-03-31 12:31] rmunn commented on #1339
I'm already planning on doing some work on the FAKE documentation, but currently since I haven't yet gotten my coworkers to use F#, I can only justify working on F# stuff in my limited evenings-and-weekends time. But there's also the RFC I need to write for my "simple arithmetic in numeric literals" suggestion, and then I need to start reading the F# compiler code to figure out how to implement it

[2017-03-31 12:37] dsyme commented on #2682
I managed to repro the SO by doing

    .\build.cmd ReproSO

but this invbokes a lengthy set of operations and I need to be able to connect a debugger to the exact process that has the SO.

How do I see the exact command line that is being run that has the SO?  When I run

    build\fable\dotnet-fable.exe npm-run build

(after doing the ``    .\build.cmd ReproSO``) all I see is a window pop up and

[2017-03-31 12:40] dsyme commented on #2682
Ah, I see, I was in the wrong directory. This reproduces it:
[code]

[2017-03-31 13:01] dsyme commented on #2682
Here's the stack for the true SO below.

This appears to be happening at the point where the fable compiler is trying to compile itself (which is all quite meta) - in particular it is compiling this very large function:
[code]
This happens to also be the function that is executing.

I suspect this is a "true" SO in that the expression being compiled is huge.  Either that part of the Fable compiler

[2017-03-31 13:35] alfonsogarciacaro commented on #2682
@dsyme Thanks for looking into this. It could possibly be this, but I'm surprised this only happens when building with the latest compiler version. The function is very big because it matches all the active patterns in the typed AST plus a few ones, but I guess I can try extracting all code that doesn't belong to the pattern match. I'll do it and come back to you :+1:

[2017-03-31 13:48] dsyme commented on #2682
@alfonsogarciacaro The compiler gets further if I split the method, but some later expression also causes an SO.

I think some change in FCS or Fable must be chewing through more stack in some way.  So it fails with FCS 11.0.2 but succeeds with 11.0.1?

[2017-03-31 14:00] alfonsogarciacaro commented on #2682
@dsyme So there are two steps here:

1. Compile Fable to .NET: Use F# compiler 4.1.**1**
2. Use the compiled Fable (plus FCS.dll) to compile FCS+Fable source files to JS: the SO occurs

I haven't tried with different versions of FCS.dll, but I have noticed that when I do step 1 with F# compiler 4.1.**0** (with **Release** config) the SO doesn't happen in step 2. I can push another build target so

[2017-03-31 14:06] dsyme commented on #2682
Ah.  So you're saying that compiling with FSharp.Compiler.Tools 4.1.1 appears to produce an F# program that uses more stack than compiling with FSharp.Compiler.Tools 4.1.0.2?

[2017-03-31 14:07] alfonsogarciacaro commented on #2682
Yes, that seems to be the case.

[2017-03-31 14:14] dsyme commented on #2682
FWIW here's the diff: https://github.com/fsharp/fsharp/compare/4.1.0.2...4.1.1.  The main thing in that diff is this update:
[code]
That represents a significant chunk of work in the F# .NET Core compiler release, roughly speaking [all these changes](https://github.com/Microsoft/visualfsharp/compare/d9217259b0c2dd6bb8f9b3867f019fecbb1db2aa...d93e854842016ad15f09ef3cda47c516b63c12fd)

The problem c

[2017-03-31 14:22] dsyme commented on #2682
@alfonsogarciacaro Hmmm.....

The ``repro-so`` branch I'm using has this in a few project files. But you also said that using FSharp.COmpiler.Tools 4.1.0 meant that the stack overflow disappeared?
[code]

So I'm confused - if this makes the SO disappear then why am I seeing the SO?

[2017-03-31 14:31] alfonsogarciacaro commented on #2682
Yeah, sorry. That's because the `ReproSo` build target is actually [building the projects in `src/netfx`](https://github.com/fable-compiler/Fable/blob/870bb3d9ec97d02aa98e3aae9d5f6f68b81b1db3/build.fsx#L564-L565) which just use the F# compiler 4.1.1 (the default in FSharp.NET.Sdk 1.0.2) and target net45.

[2017-03-31 14:32] dsyme commented on #2682
@alfonsogarciacaro Ok, I see, thanks

[2017-03-31 14:36] alfonsogarciacaro commented on #2682
@dsyme I just pushed a `ReproNoSo` target that doesn't cause the SO: https://github.com/fable-compiler/Fable/commit/2afa0f18c41611a4b4d2b15c9db14b794b2206fc

1. Compile Fable as a netcoreapp1.0: Use F# compiler 4.1.0
2. Use the compiled Fable (plus FCS.dll) to compile FCS+Fable source files to JS: no SO occurs

[2017-03-31 14:38] dsyme commented on #2682
@alfonsogarciacaro So there are two differences there -

The Fable compiler build by ``.\build.cmd ReproSO`` seems to be the debug one - is that right?  e.g. the "false" here in build.fsx

    buildTools "src/netfx" false ()

Gives:

![image](https://cloud.githubusercontent.com/assets/7204669/24555115/d699b608-1627-11e7-9b9e-926c5990dac5.png)

Does release also have this problem?

[2017-03-31 14:40] dsyme commented on #2682
Oh, I just see you changed that https://github.com/fable-compiler/Fable/commit/2afa0f18c41611a4b4d2b15c9db14b794b2206fc

I presume the SO still happens, am trying now

[2017-03-31 14:40] alfonsogarciacaro commented on #2682
Sorry, I just submitted a fix

[2017-03-31 14:43] bryanedds commented on #1339
@21c-HK - Sorry this is getting too far afield, but I wrote an article demonstrating why s-exprs are better than XML and Json. You can apply its arguments against TOML, too (one example TOML is a poor data representation is because it doesn't represent data well when that data happens to be code) -

https://medium.com/@bryanedds/a-powerful-f-library-shows-how-s-expressions-can-beat-xml-and-json-20

[2017-03-31 14:52] dsyme commented on #2682
@alfonsogarciacaro I see you're switching between FSHarp.Compiler.Tools 4.1.0.2 and 4.1.1 - out of curiosity why are you also switching between .NET Fx and .NET Core? thx

[2017-03-31 15:00] alfonsogarciacaro commented on #2682
@dsyme I just did it because I imagined the .NET FX target would be easier to debug (for example, I didn't manage to get the stack with procdump when targeting netcore), but you can change the target and the SO will happen the same. The key seems to be the FSharp.Compiler.Tools 4.1.0.2 vs 4.1.1

[2017-03-31 15:13] breyed opened #2756 "Wrong tooltip font"
Installing the nightly Visual F# Tools visx causes tooltip fonts to be lost.

#### Repro steps

1. Install VS2017 RTW.
2. Set Text Editor font to 11 pt Calibri.
3. Install today's Visual F# Tools nightly build.
4. Hover over an error of symbol in an F# file.

#### Expected behavior

Nice looking tooltips.

#### Actual behavior

Big honking tooltips with 11 pt Consolas.

Interestingly, Tools > Opti

[2017-03-31 15:13] eiriktsarpalis commented on #2741
@dsyme @vasily-kirichenko From a production point of view, I think that the value offered by such an addition far outweighs any backward compatibility concerns.

[2017-03-31 15:28] cartermp commented on #2548
@BentTranberg I updated this with the following labels and set the milestone to VS 2017 Updates.  This could end up getting fixed incidentally through various minor fixes which come in over time.  I'm happy that the nightlies seem to make this problem far less severe, though.

[2017-03-31 15:29] nicholas-peterson commented on #1339
F# needs a database built in F#. I know that sounds like a shot in the dark, but honestly most large projects that brought recognition to the Clojure and Scala communities are alternative databases (or similar projects).

I think a decent, columnar, in-memory database, with strong type provider integration, aimed at analytics, would be a really nice addition to the F# community. Then start tuning

[2017-03-31 15:30] dsyme commented on #2682
@alfonsogarciacaro OK.  This is quite hard :)

* Those compiler toolchains should really be generating essentially identical code and behaving identically. There are differences to be sure (see above) but I don't know of any differences in raw compiler logic that should be having such a dramatic effect.

* There are differences in the fsc command line build logic - @enricosada knows more about tha

[2017-03-31 15:36] vasily-kirichenko commented on #2741
+1000 for the last @eiriktsarpalis message. It's really terrible to find meaningless stack trace in a log file. Do I understand correctly that all we need is just apply Eirik's approach to Async CE?

[2017-03-31 15:38] cartermp commented on #1339
@nicholas-peterson

Me too!  I embarrassingly forgot the first parameter to `Array.fold` while livecoding and talking at the same time.  I guess my brain can only do two things at once 😄.

Interesting point about having a database technology written in F#.  There are certainly examples of other languages being successful because of this.  I think that you could also say the same about distributed

[2017-03-31 15:40] cartermp commented on #2741
I think this is a very important feature to have.

[2017-03-31 15:44] haf commented on #1339
My 2 cents of tasks that would help:

 - Make it easy to use F# in part, like webpack-fable does /cc @alfonsogarciacaro  👍
 - I just checked the MSDN docs and saw they were editable 👍
 - Consider creating a compile-to-native story for F# that works on Linux to capture devops-community mind-share
 - Consider that public presentations by Don should be geared towards the zen of F# programming and les

[2017-03-31 15:48] charlesroddie commented on #1096
Can we have an update on this please? It's a huge problem for F# and the delay is getting more and more riduculous.

Are there people working on this? Has there been progress made in the last year? Has there been any successful compilation of F# code with .Net Native?

F# can make Windows 8.1 apps but the technology is becoming obsolete and is often supported by 3rd party controls.

Are there peop

[2017-03-31 15:50] dsyme commented on #2682
@alfonsogarciacaro  I'm still lost here.  I applied the diff below and ``build ReproSO`` still gives a stack overflow for me.  I thought switching to the 4.1.0 tools meant that the SO went away?  (In your ``build ReproNoSO`` you are also switching to .NET Core - this is staying with .NET Framework)

I'm trying your ``build ReproNoSo`` now to see if that removes the SO

![image](https://cloud.githu

[2017-03-31 15:58] breyed opened #2757 "Can't access full definition of types outside solution"
Using the nightly build, if I hover over a type defined outside the solution (such as a .NET Framework type), F# nicely shows the type's definition as F# code in the tooltip. It reasonably truncates the view so that the tooltip doesn't get too big.

However, I can't view the definition standalone (useful for seeing all of it and for searching):
* Go To Definition shows the error, "Cannot navigate

[2017-03-31 16:07] Pilchie commented on #2741
No idea, but @tmat, @cston, or @kevinh-msft might.

[2017-03-31 16:21] cartermp commented on #2756
@breyed Every once in a while I'd get a blown-up FSI font with the default F# Tools install.  I can't say I know what the cause is.  Perhaps this is related in some way?  I've never seen this happen before.

What happens if you uninstall that VSIX and then reinstall?

[2017-03-31 16:21] alfonsogarciacaro commented on #2682
@dsyme I made a mistake with a the `ReproNoSo` target and commented some lines, not sure if you noticed. I sent a fix. Sorry for the mess, I'm not used to having so many fronts open.

You're right, that diff **should** prevent the SO exception in `ReproSO`, but I'm also getting it :/ The only difference with `ReproNoSo` should be the target and a compilation constant (NETFX) to make some APIs comp

[2017-03-31 16:23] cartermp commented on #2757
@breyed Go to Definition / Peek / Implementation doesn't work for anything other that F# items in your solution.  Cross-C#/VB or .NET Framework metadata is currently unsupported.  #2658 is the work to address the latter.  The former is still a prototype that @saul is working on.

Long story short, it's a lot of work that still needs to be implemented.

[2017-03-31 16:31] tmat commented on #2741
It's implemented in the debugger. Not open sourced.

[2017-03-31 16:34] dsyme commented on #2682
@alfonsogarciacaro

OK, so I tried the diff below, which is src/dotnet/...  with the use of 4.1.0 commented out.

But the ``build ReproNoSO`` succeeds - shouldn't we be expecting this to fail?

![image](https://cloud.githubusercontent.com/assets/7204669/24559734/b6406518-1637-11e7-85dc-e7ed24ac32fd.png)

[2017-03-31 16:40] dsyme commented on #2682
@alfonsogarciacaro So basically I can't get the .NET Core version to SO yet.  And the .NET Framework version SO's all the time.  I'm wondering if it's an issue where the default stack size for .NET Framework is smaller?

[2017-03-31 16:51] alfonsogarciacaro commented on #2682
@dsyme I'm getting your same results :/

I'm completely puzzled because we did see the SO in netcore in the first place from [this commit](https://github.com/fable-compiler/Fable/commit/131819a834df1191add86a4382055e5c4aa8f8eb) on, which updated the `src/dotnet` projects to latest FSharp.NET.Sdk. FYI, @ncave made me notice it [here](https://github.com/fable-compiler/Fable/commit/5758b516f343acee13

[2017-03-31 16:53] breyed commented on #2757
Thanks for letting me know. I saw #2658 but wasn't sure. It seems sooooo close, since all the info is right there in a tooltip. Just need to break it out of its straitjacket.

[2017-03-31 16:53] #2757 closed

[2017-03-31 17:01] dsyme commented on #2682
@alfonsogarciacaro For .NET Framework, using

    editbin /stack:10000000 ..\..\..\..\build\fable\dotnet-fable.exe

solves the problem - it pushes the default thread stack size up to near 10MB.  The windows default is 1MB IIRC.

You can set this on the F# compiler command line using ``/stackReserveSize:10000000`` though I haven't tried that

The deep stacks may potentially cause performance proble

[2017-03-31 17:07] alfonsogarciacaro commented on #2682
@dsyme Thanks, that's really helpful! Do you want me to close the issue or better to keep it open just in case?

[2017-03-31 17:14] 0x53A commented on #2741
I think one big difference is that F# computation expressions use an external state machine (the CE builder), and C# async / await compiles down to a specialized state machine.

So in the C# case it is "easy" to just generate the correct sequence points in the pdb, to point back to the correct source.

In the F# case, all frames are from the external state machine, not from the actual expression.

[2017-03-31 17:18] GiorgioG commented on #1339
We might also consider building tools for existing large open source projects in F# - especially popular projects such asKubernetes so as to piggyback off their popularity and indirectly boost F#'s audience. Contributors would likely want to add additional functionally, fix bugs, etc and  they would have to learn/use F# to do so.

[2017-03-31 17:18] breyed commented on #2757
An alternative would be a View in Object Browser feature, which Go To Definition could fall back to for symbols outside the solution. I'm surprised that Object Browser gets so little love in terms of the IDE navigating into it. It's not so good at searching within type, but otherwise, it's very efficient for learning about an API.

[2017-03-31 17:30] breyed commented on #2756
I tried uninstalling the nightly build, but after it was done, when I reopened VS, it still shows the nightly build F# extension. Not sure if it's related to being on the nightly NuGet feed, but it's more time consuming to debug than I can take on right now.

[2017-03-31 17:40] krontogiannis opened #2758 "Nested Linq expression trees result in quotation related calls"
Trying to extract a Linq expression which contains a nested Linq expression results in expression with Quotation related calls.

#### Repro steps

[code]

#### Expected behavior

The resulting expression tree should not contain quotation related calls, but probably use an `ExpressionType.Quote` for the nested expression.

#### Actual behavior

Expression tree contains this expression tree:
[code]

[2017-03-31 18:29] cartermp commented on #2757
Unfortunately, that likely won't be possible.  I don't think there's a direct way to connect to object browser and find the correct symbol.  That would likely be more work than what #2658 does.

[2017-03-31 18:31] cartermp commented on #2756
If you use VSIXInstaller it should get rid of it for you.  The nightly VSIX is installed in `%AppData%`, and Visual Studio basically uses that one to override the VSIX which is deployed via the Visual Studio Installer.  Running `VSIXInstaller.exe /u:VisualFSharp` should remove the VSIX in `%AppData%`.  You'll have to restart Visual Studio to see the changes, though.

[2017-03-31 18:35] majocha commented on #2756
@breyed try cycling dark/light modes. I've seen this bug in Visual Studio 2017 also without F# Tools.

[2017-03-31 18:39] majocha commented on #2756
I believe it's related to this:
[https://github.com/dotnet/roslyn/blob/45c60edef9ddc10dd2e15c668ea4ab4cec22141b/src/VisualStudio/Core/Def/HACK_ThemeColorFixer.cs#L11-L20](https://github.com/dotnet/roslyn/blob/45c60edef9ddc10dd2e15c668ea4ab4cec22141b/src/VisualStudio/Core/Def/HACK_ThemeColorFixer.cs#L11-L20)

[2017-03-31 18:42] breyed commented on #2756
I had clicked Uninstall on it in the VS Extensions and Updates dialog. This brought up the VS Installer to remove the component.

[2017-03-31 18:45] cartermp commented on #2756
@breyed Ah, yes, that would likely remove the release version of the Visual F# Tools.  Basically:

VSIXINstaller --> remove the nightly
VS Installer or Tools/Extensions --> remove the RTM Visual F# Tools

It's a bit confusing.  There's currently three ways to remove something, only one of which removes the nightly.  Consolidating these setup problems in the VS Installer is an area that the VS Plat

[2017-03-31 18:50] cloudRoutine commented on #2682
@alfonsogarciacaro I can try to reimplement https://github.com/fable-compiler/Fable/blob/narumi/src/dotnet/Fable.Compiler/FSharp2Fable.fs#L149 so that it's tail recursive, do you want to go down that path?

[2017-03-31 18:51] breyed commented on #2756
I had just discovered as much. I removed nightly, run VS again to verify tooltips are as expected, reinstalled night, ran VS again, and this time the tooltips are still fine. So I'm unable to repro at this point short of a full VS reinstall.

If there is work on the issue that @majocha identified, I think it would make sense to see that through first, and then wait to see if anyone experiences thi

[2017-03-31 19:01] majocha commented on #2756
@breyed Repro for this is elusive.
I think It could happen if you manage to make a tooltip appear before the Roslyn's `HACK_ThemeColorFixer` runs.
It also seems to happen only after fresh install(?).

[2017-03-31 19:02] breyed commented on #2756
I happened for me only after a fresh install, but it was a sample size of 2 attempts, one after fresh install, one after nightly reinstall. So it could easily be timing coincidence.

[2017-03-31 19:13] breyed commented on #2757
The command ClassViewContextMenus.ClassViewProjectReference.ViewinObjectBrowser purports to navigate into the Object Browser, albeit only for a symbol in the solution. So it seems like there's a way. However, it doesn't appear to work, so maybe it's functionality that was dropped at some point. I just reported the following as a problem in VS feedback (not sure how to get a link).