[2017-09-13 23:28] abelbraaksma commented on #3576
FWIW, this is not a regression (and you don't claim it is, I know), I checked your code with VS2015, F# 4.0 and it raises basically the same error:

![image](https://user-images.githubusercontent.com/16015770/30405309-5c60e48c-98eb-11e7-99d1-6bd4d7834f0f.png)

I agree though that improvement would be nice. I have seen that error a bunch of times, esp in Record-type hungry solutions.

Wouldn't the

[2017-09-13 23:29] KevinRansom commented on #3509
@abelbraaksma the nightly is a VSIX, it doesn't carry fsc.exe.

The initial goal for nightlies was to get eyes on the amazing amount of IDE work that Vasily, Saul, Don and a few others were doing earlier in the year.

We need to get around to adding the compiler to the VSIX deployment, and dropping the Microsoft SDK install location for the compiler.  Once we do that, then F5 deployment and the ni

[2017-09-13 23:30] octaviordz commented on #47
Is there any document describing current limitations of "query expression" being used against MSSQL,
Thanks.

[2017-09-13 23:36] abelbraaksma commented on #3570
@dsyme, I think that is exactly what @KevinRansom means. Though I think it is also related to editing a large project and finding that it gets annoyingly slow very quickly (to the point where even typing a simple comment ends up at about a character a second!). It often takes less than a half hour of editing for this to happen. Waiting it out and continuing does not give back performance (once slo

[2017-09-13 23:40] abelbraaksma commented on #3509
@KevinRansom, if that could be done, that would be awesome! I don't know how many people have made the same (wrong) assumptions I did, but even if we improve on informing them, it would make a big difference in early-adoption testing if the FSC.exe could become part of the VSIX. I have no idea what it would take to do so (sorry, never made a VSIX myself), but having it would be a big win in many w

[2017-09-14 01:12] abelbraaksma opened #3579 "CI test coverage of F# unit tests"
In some threads, specifically this one (#2745, on new Seq module) I was asked by @dsyme and @manofstick  to have a look at test coverage.

I'm not 100% sure how to drive this, but let's get the good news out of the way first:

* I've managed to get NCrunch running with the NUnit (and FsCheck etc) tests (this wasn't trivial due to the way FSharp.sln is set up with dependencies that cannot be auto-d

[2017-09-14 02:11] manofstick commented on #3579
Nice work :-)

This will definitely be handy for checking the new Seq implementation, except (outside of your control)...

I believe this is because the compiler throws away all line/line number information from where the function originated. I make this assertion not through detailed knowledge, but rather just from anecdotal evidence from when debugged, There are parts of my work code-base that h

[2017-09-14 06:32] forki commented on #3579
Most thing in the compiler are tested indirectly by running compilation

Am 14.09.2017 4:11 vorm. schrieb "Paul Westcott" <notifications@github.com>:

[2017-09-14 10:51] dsyme commented on #3509
You're right, fsc.exe is not installed into the extension directory, e.g. ``C:\Users\dsyme\AppData\Local\Microsoft\VisualStudio\15.0_80d64992\Extensions\ao1tjmmj.34g`` on my machine right now.

[2017-09-14 10:53] dsyme commented on #3509
In this scenario, how will the targets entry in the project file be redirected to use the VSIX-installed deployment?

[code]

[2017-09-14 11:21] dsyme commented on #3574
@cartermp The nit is more in the compiler than the language service - the compiler has resolved the record label, and then decided that on a subsequent check that the types don't add up.

So it's related to the error message and is the same nit.

[2017-09-14 11:28] dsyme commented on #3579
@abelbraaksma This is fantastic work.  NUnit integration is likely enough for now, that will cover FSharp.Core.Unittests

* Could you write up step-by-step instructions, including which tools to install etc. and submti them to DEVGUIDE.md?
* Is it possible to get coverage information from CI runs?

thanks
don

[2017-09-14 11:29] 0x53A commented on #3579
### inline:

It should be possible to add sequence points that point to the original function in the IL.

I did a quick test, and it seems line inlined functions don't have any sequence points at all:

[code]

[code]

Note how the IL code in ``addAndMultiplyAndDivide`` does have sequence points, but the inlined one in ``main`` not.

This would probably also help with debugging, if the correct sequ

[2017-09-14 11:45] dsyme commented on #3579
This is correct, we don't generate any debug information for inlined functions. The specific places where we throw this information away are in the calls to ``copyExpr ...CloneAllAndMarkExprValsAsCompilerGenerated`` in ``Optimizer.fs``

It's not something we would change lightly as it only seems to get noticed in code coverage reports - and maintaining the source marks might make for even more odd

[2017-09-14 11:47] 0x53A commented on #3579
I am pretty sure breakpoints in inlined functions also currently don't get hit.

[2017-09-14 11:49] manofstick commented on #3579
They don't. It's a pain.

[2017-09-14 11:51] dsyme commented on #3579
This is correct, we don't generate any debug information for inlined functions. The specific places where we throw this information away are in the calls to ``copyExpr ...CloneAllAndMarkExprValsAsCompilerGenerated`` in ``Optimizer.fs``

It's not something we would change lightly - though the point about breakpoints is a good one.

I'm concerned that maintaining the source marks might make for even

[2017-09-14 12:02] dsyme commented on #47
@octaviordz I think this is one of the only known limitations.

[2017-09-14 12:08] dsyme commented on #3576
The relevant code is here: https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/NameResolution.fs#L3127

The "record field" case should be adjusted so that it only kicks in if the type ``typ`` is a variable type or record type (something like ``not (isNominalTy typ) || isRecordTy ...``)

[2017-09-14 12:38] abelbraaksma commented on #3579
@dsyme, it's the breakpoints and stepping into, it's code coverage and it's profiling. I do a lot of profiling and the only way to find performance of an inline function is to write it as a non-inlined one, and often that's not even possible (think `let inline add x y = x + y` or explicit static member constraints).

I find myself trying very hard not to need debugging at all and do it the old Jav

[2017-09-14 12:50] abelbraaksma commented on #3579
Btw, sometimes `inline` bindings or members do seem to get code coverage. I don't know what the rule of thumb is for when this happens, though. It seems random:

![image](https://user-images.githubusercontent.com/16015770/30430573-e84074e8-995b-11e7-8536-0f6d9ec4ba15.png)

Or this (I assume the `while` does not get inlined here but ends up being its own non-inlined function, hence the coverage):

[2017-09-14 12:53] dsyme commented on #3579
Code coverage can be done using debug code.   Standard recommendation is to only use explicit ``inline`` very rarely.  If you require both code coverage and a lot of explcit inlining then I suppose you should currently use an ``#if`` as above.

Profiling is trickier.  I don't think people expect accurate profilng when code is being inlined, nor will the CLR be able to provide it.

We could likely

[2017-09-14 13:17] abelbraaksma opened #3580 "Double backticks do not follow syntax rules in function arguments, i.e. can be used without spaces"
Arguments to a function must be separated by spaces. But if an argument is an identifier written with double backticks (between ``` `` ... `` ```), adjacent arguments can be given without spaces.

Same is true for combining backtick-identifiers with non-back-identifiers.

### Repro steps

Minimal repro:

    let ``hi`` = 12
    let ``bye`` = 13
    let f x y = x + y
    let g = f``hi````bye``   //

[2017-09-14 13:21] abelbraaksma commented on #3580
In fact, it is worse. I thought it was only when the idents are used, but it also happens on definition, this appears legal:

    let ``hi````bye`` = 3     // creates a function ``hi`` with argument ``bye``, not expected

but the spec clearly says (p27):

tabs, and double-backtick pairs themselves, is treated as an identifier.

[2017-09-14 13:26] abelbraaksma commented on #3579
@dsyme, are you suggesting that this is deliberately erased? In that case, would it be possible to (perhaps temporarily on a separate branch or so) switch off this erase function and just "see what happens"? With a bit of luck it'll give us what we need (and we could turn it into a compiler directive/option or something). If not, at least we learn something ;).

[2017-09-14 14:17] 0x53A commented on #3579
Code Coverage (and profiling) _should_ also work reasonably well with Release code.

In the case of Profiling, debug code often is slow in different parts, so you may chaise the wrong issues.

We want to experiment with running all manual tests under Code Coverage. The reason is so that we can see which code paths will be used by real-world usage.

Manual testing is done with a Release build, beca

[2017-09-14 14:20] mrakgr opened #3581 "internal error: Could not load type 'EnvStack1' from assembly via the Repl"
[code]
When I try to run the above in the Repl it gives me: `error FS0193: internal error: Could not load type 'EnvStack1' from assembly 'FSI-ASSEMBLY, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null'.`

The Repl version is `14.0.23413.0` - the one that comes with VS2015.

I've tried compiling it and I do not run into the same error.  It also works if I load it in two steps, first the types

[2017-09-14 15:24] abelbraaksma commented on #3579
@0x53A: yes, I see your point. Currently, coverage is much worse than with debug build, simply because much more gets inlined. Same with profiling, I agree that that (usually, not always) makes more sense in release builds.

But how would that work in practice? I can write 10 lines of code that end up being compiled into a single instruction three assemblies further, after passing through two othe

[2017-09-14 15:29] abelbraaksma commented on #3509
Can we update that definition? For instance, I believe this could work:

[code]

[2017-09-14 15:49] 0x53A commented on #3579
Yes.

It is just a simple mapping IL instruction -> file path + start row/column + end row/column.

So yes, it would be possible to add a link to the original file in the pdb, but I don't think that makes sense, because you very likely don't have access to that file.

So in cross-assembly inlining, this should probably not be done.

[2017-09-14 16:52] KevinRansom commented on #3509
@dsyme ... we will have to make everything work ... there is the build task, the targets, and the compiler.  Actually doing it will be fairly easy.  The least appealing part is to make the multi-targeting properties work on the properties dialog.  That and the bug tail ...

[2017-09-14 16:54] KevinRansom commented on #3509
@dsyme to ask your direct question ... we already drop shims to forward to the targets file ... they will need some manipulation ... possibly that will be slightly tricky because the deployment directories name is a random guid.

[2017-09-14 17:00] KevinRansom commented on #3509
Compared, however, to getting loc done in the OSS build, getting the build off of project .json, getting dotnet sdk projects working in the ide.  Enabling FSI in coreclr, adding package management to FSI, Large project load performance ... this is kind of at the lower end of priorities right now.

However, it might well ... make an interesting weekend project.

[2017-09-14 17:31] abelbraaksma opened #3583 "The JaroWinkler tests fail on different locales"
There are four JaroWinkler distance tests. These fail when run on a computer with a different locale.

### Repro steps

Run the tests under `FSharp.Compiler.Unittests.EditDistance` on a German, Dutch or basically any non-US/UK computer and you will get four failing tests, because the output uses `ToString` internally without taking care of the locale.

Suggested fix: add `Culture.InvariantCulture`

[2017-09-14 18:35] piaste opened #3585 "Funny behaviour for "member .. interface with .. end" on the same line"
Ok, this is about as low-priority as an issue can be. The only way I can imagine it _ever_ being a problem would require, I don't know, a code generation tool that steadfastedly refused to use newlines.

I almost didn't want to open this issue, but I figure there's always a chance it could help as a clue to some other, actually significant problems with the lexer. Also, I find it interesting becau

[2017-09-14 18:47] realvictorprm commented on #3585
Haha this bug is funny :smile:

The workarounds also:

:joy:

[2017-09-14 19:02] dsyme commented on #3509
Yes, that's what I'm asking about - I don't know a solution to that?

[2017-09-14 19:11] abelbraaksma opened #3586 "VerifyArea test fails on master for FSharpOption.IsNone and IsSome, unclear cause"
I'm not sure this is a bug or anything, but on my system (Win7, VS2017 15.4) running the VerifyArea test fails with the following error:

I'm reporting this because I'm not sure where to look for a cause. I.,e., is it possible that the function signature inference fails because of possible differences in system configuration? I'd assume it shouldn't fail, and I think that master is only merged whe

[2017-09-14 19:28] abelbraaksma opened #3587 "Some tests are extremely slow, is this to be expected?"
A bunch of tests run > 1 min on my system. This may be due to system settings, or they are designed that way (i.e., meant as stresstests).

Also when I run them in parallel (though each test in its process!), they run basically forever (killed the processes after some hours), I have yet to investigate why this is even possible, they should not be in each others way and certainly not cross-process.

[2017-09-14 19:40] abelbraaksma opened #3588 "Uploading images to Github seems to be disallowed / blocked by amazonaws.com, response 503 "slow down"?"
This is rather weird and I hope I can close this soon again. But it seems like uploading resources to this repo has been blocked, at least for me. Each time I Ctrl-V an image I receive the message:

Using select-file-then-upload gives the same error. I can see the following in the console, which may or may not be related:

With my limited understanding of AmazonAWS I would interpret this as if som

[2017-09-14 20:10] dsyme commented on #3579
Yes

[2017-09-14 20:19] dsyme commented on #3588
![image](https://user-images.githubusercontent.com/7204669/30453915-72d1d652-9992-11e7-99cc-41cdefc8bbd8.png)

[2017-09-14 20:20] #3588 closed

[2017-09-14 20:22] dsyme commented on #3587
Note these may be FsCheck tests, and you may need to disable or control them in some way.  I don't think it's useful to repeatedly run 7 minute FsCheck tests when we're not even changing those functions

[2017-09-14 20:23] dsyme commented on #3586
Could you look into why the test failure isn't failing CI?

[2017-09-14 20:30] abelbraaksma commented on #3587
@dsyme: yes, these are indeed FsCheck tests running so slowly. I also may have found why tests are hanging, which does not seem to have to do with whether or not they are atomic: the remote task runner reports a signature mismatch. I'll have to investigate what that means.

[2017-09-14 20:31] abelbraaksma commented on #3588
I just managed to upload again as well, probably a glitch. Nice kitten! :100:

[2017-09-14 20:34] abelbraaksma commented on #3586
@dsyme: I don't understand your question? I assume you mean the CI process run here, and then I assume that the mentioned error is simply not reported, unless of course the test is ignored. The latter seems doubtful, considering this checks the whole surface area.

I can check logs, but no idea where/how/what? Sorry, bit of a learning curve here...

[2017-09-14 20:42] dsyme commented on #3586
Here's what I tried

1. Looking at build.cmd, the FSharp.Core unit tests are run in ``ci_part2`` https://github.com/Microsoft/visualfsharp/blob/master/build.cmd#L248

2. Clicking on this on the front page of the repo:

![image](https://user-images.githubusercontent.com/7204669/30454615-cd03da42-9994-11e7-8b6b-84919a5b356e.png)

4. takes us to https://ci2.dot.net/job/Microsoft_visualfsharp/job/mast

[2017-09-14 21:05] abelbraaksma commented on #3586
@dsyme, tx for showing the steps. I've tried to locate any of the `FSharp.Core.UnitTests` I am seeing when running it locally and wondering now whether I am running the right things. I tried to find some tests in the different builds, but can't find `SurfaceAreaTest` either, nor `MakeTypeType`, `TypeForwarding` of `JaroWinklerTest`.

I'm missing a browsable interface that simple shows a report tes

[2017-09-15 06:51] forki commented on #3583
Feel free to fix it ;-)

Am 14.09.2017 7:31 nachm. schrieb "Abel Braaksma" <notifications@github.com

[2017-09-15 10:10] dsyme commented on #3586
I think the test is being executed on CI. Here's the execution of the unit tests in the CI log

[code]

Here's an entry from the XML (not the "output log")
[code]

[2017-09-15 10:12] dsyme commented on #3586
``MakeTupleType`` and ``TypeForwarding`` are also in that XML file. I presume the JaroWinkler one is in the FSharp.Compiler.UnitTests.dll log (a separate run of unit tests)

[2017-09-15 10:13] dsyme commented on #3586
I still don't understand what's causing these differences on your machine though
[code]

[2017-09-15 13:28] vasily-kirichenko opened #3589 "Repeated rebuilding of compiler"
1. Select a test in Test Explorer
2. Run it
3. FSharp.Compiler.Private builds
4. Change no code, rerun the test
5. FSharp.Compiler.Private builds again

Investigating the cause with this registry flag https://blogs.msdn.microsoft.com/kirillosenkov/2014/08/04/how-to-investigate-rebuilding-in-visual-studio-when-nothing-has-changed/ I get the following output:
[code]
The stalest output corresponds to

[2017-09-15 15:21] eiriktsarpalis opened #3590 "Async.DefaultCancellationToken susceptible to memory leaks"
We experienced a major memory leak in one of our production systems which our investigation revealed to have been contributed by async's default cancellation token.

#### Minimal Reproduction

[code]
This happens because `Async.RunSynchronously` (and in fact most Async runners) will pass the [default, global cancellation token](https://github.com/Microsoft/visualfsharp/blob/4769a923d2bf277fbf1cae0

[2017-09-15 15:31] dsyme commented on #3590
That sounds fine

[2017-09-15 15:53] dsyme commented on #3590
@eiriktsarpalis Strictly speaking the repro doesn't show a specific fault - it's expected that that would leak in any circumstance, isn't it?  Or are you saying that using a wrapper linked token for Async.RunSynchronously and disposing it would also dispose the second linked token source?  I suppose it would, but I haven't checked.

[2017-09-15 16:57] eiriktsarpalis commented on #3590
My expectation was that any state appended to the cancellation token would be garbage collected once the computation completes, given that I'm not explicitly specifying a cancellation. Here's a PoC that illustrates how this could be achieved: https://github.com/Microsoft/visualfsharp/compare/master...eiriktsarpalis:fix/wrap-default-ct

[2017-09-15 18:53] realvictorprm opened #3591 "Improving the compiler is painful"
During my intensive hours with the F# compiler today I noticed some points which made the experience unfortuantely not funny:
1. It takes ages to compile the compiler again after even small changes. Big development times so. (Even worser, the compiler is **always recompiled** whether there are changes or not ;))
2. Missing Colorization, Intellisense and Visual F# crashes during development. Adding

[2017-09-15 19:13] mrange opened #3592 "Internal compiler error on slightly wrong code involving generic interface methods"
I hit internal compiler error when making slight mistakes in generic interface methods. It makes it hard to diagnose the problem as the compiler error is confusing.

#### Repro steps

[code]

#### Expected behavior

The compiler fails indicating I missing an argument for member F: : `{ new A with member x.F a = a }`

#### Actual behavior

The compiler reports internal error:

[code]

#### Known wo

[2017-09-15 19:14] mrange commented on #3592
I searched in the issues but didn't find an active issue that match my problem.

[2017-09-15 19:17] realvictorprm commented on #3592
Hey @mrange great to hear something from you. Let me have a look.

[2017-09-15 19:22] realvictorprm commented on #3592
I cannot reproduce this behaviour in FSI @mrange.
![image](https://user-images.githubusercontent.com/25414896/30499713-e544842c-9a5b-11e7-9f28-8371bae054b6.png)

[2017-09-15 19:22] mrange commented on #3591
Not sure if my opinions are still valid since it was a long time since I did contributions

I agree but for me the most challenging part was getting the test-coverage right in order to reach confidence.

I found that I could improve my experience by extracting the modules of the compiler or library I wanted to improve into a separate solution and experiment in that solution and then backport it in

[2017-09-15 19:24] realvictorprm commented on #3591
I'm currently working on the String-Interpolation feature and so for now working in the lexing and parsing part. However the autogeneration there is confusing, I wonder whether it could be removed and replaced with something more straightforward.

[2017-09-15 19:24] realvictorprm commented on #3591
Hm is it possible to share your old workflow with us @mrange?

[2017-09-15 19:40] mrange commented on #3591
The lexer/parser I remember. I also think that it adds to the confusion that F# has it's own implementation the framework that drives the lexer/parser and whenever you get problems there it's very tough drilling to the root cause. Might have changed these days. The lexer/parser is however quite competent and reasonable fast IIRC.

Unfortunately I might have added to the complexity with `pplex` and

[2017-09-15 19:42] realvictorprm commented on #3591
Well @mrange in my current situation it would be helpful to know how to add tokens haha :joy:
I slowly understand how it works ...

Also I can agree that the generation is fast. Somewhere else much happens I guess.

[2017-09-15 19:42] mrange commented on #3591
When I did updates to the lexer/parser I did break out those parts into a seperate solution and used the OSS version to get it roughly right: http://fsprojects.github.io/FsLexYacc/

I spent a long time on getting the fallbacks for invalid syntax working decently. Not an expert on lexx/yavv.

[2017-09-15 19:44] mrange commented on #3591
@realvictorprm are you trying to do string interpolation in the lexer? The lexer parses IIRC string literals so it feels like it's that place that needs extending.

[2017-09-15 19:45] realvictorprm commented on #3591
@mrange exactly! That's where I spend my last 6 hours 🙂. I tried figuring out how to add a correct token which contains the necessary information for the type checker "I'm an interpolated string and need special treatment" ;)

[2017-09-15 20:00] mrange commented on #3591
I am not saying this is the right approach but one could add an INTERPOLATED_STRING in `pars.fsy`
[code]

This holds strings separated by formatted values. The expression trees needs expanding to support this but let's focus on the parser/lexer first.

Now the lexer has to be changed to generate INTERPOLATED_STRING tokens.

The lexer parses strings using common helper method
[code]
You can added s

[2017-09-15 20:02] realvictorprm commented on #3591
Great, looks like I was playing at the right location. I already touched the DOLLAR symbol and replaced the former compilation error with an conversion to strings. I've added the token to the parser generator and now I need to figure out how it goes on. My first goal currently is to at least pass to the type checker that we have an interpolated string.

[2017-09-15 20:03] mrange commented on #3591
You could look at `pplex.fsl` and `pppars.fsy` because the grammar is much simpler and that can help with understanding the `lex.fsl` and `pars.fsy`

[2017-09-15 20:05] realvictorprm commented on #3591
Let us move to the RRC, this issue should actually be filled with ideas on how to ease contributing to the compiler :smile: Although the stuff we talk about here should give people an insight too!
https://github.com/fsharp/fslang-design/issues/6

[2017-09-16 06:02] #1373 closed

[2017-09-16 06:15] vasily-kirichenko commented on #3589
`build test-net40-fsharpqa include xxx` causes rebuilding as well each time a QA test is run, which takes a minute and I consider it a terrible experience.

[2017-09-16 09:34] majocha opened #3595 "Type check fails in the IDE when referencing solution projects"
Current master:

![image](https://user-images.githubusercontent.com/1760221/30511091-25d90212-9ad2-11e7-94c7-6cdb8a3b90ec.png)

I'm getting this in any multiple projects solution.

![image](https://user-images.githubusercontent.com/1760221/30511152-3c24a5fc-9ad3-11e7-992e-386fd5781ec1.png)

[2017-09-16 09:41] majocha commented on #3595
Looks like it's the same as #3545

[2017-09-16 10:03] majocha commented on #3545
I can repro this on current master by referencing a library in a console app.
[Repro](https://github.com/majocha/Repro3545)

[2017-09-16 10:53] majocha opened #3596 "[.NET Framework Projects] IDE is confused about the last file to compile"
Current master
![image](https://user-images.githubusercontent.com/1760221/30511617-7716a890-9add-11e7-89c8-44fb8312a8f5.png)

It builds and runs OK. The false error is only in the IDE.

Repro:

Create a solution with [two or more console app projects](https://github.com/majocha/Repro3596).

[2017-09-16 11:29] dsyme commented on #3589
@vasily-kirichenko AFAIK this is a recent regression in incremental building of some kind

[2017-09-16 11:45] vasily-kirichenko commented on #3596
.net core? this is expected

[2017-09-16 11:47] dsyme commented on #3545
@majocha Thank you for the repro. Could you write out step by step instructions please?  I tried opening Library3.sln but didn't reproduce this error.

Also indicate if you have in-memory-project-references on or off (it is on by default, see Text Editor --> F# --> Performance).

@cartermp I've marked this as "fix now" since the above error should really never happen.

Thanks
Don

[2017-09-16 11:49] majocha commented on #3596
Not dotnet core, .Net Framework 4.6.1
I've noticed this in Gjallarhorn WPF sample projects at first.

[2017-09-16 12:07] dsyme commented on #3596
@KevinRansom @cartermp Something is quite busted on master, I think it is to do with cases where source files in projects get interpreted as if they are single file projects

![image](https://user-images.githubusercontent.com/7204669/30512135-ea203a8e-9adf-11e7-96e3-ae81075b98ba.png)

[2017-09-16 12:11] majocha commented on #3545
@dsyme Now I had problems myself, but I think I nailed it. It appears it happens for pre-opened files only.

Repro steps

1. current master build VisualFSharp, in-memory references enabled.
2. clone repo, open solution
3. open Program.fs
4. close and reopen solution so the Program.fs gets auto loaded into editor

[2017-09-16 13:18] eiriktsarpalis commented on #3590
@dsyme let me know if you think this should be a PR

[2017-09-16 13:30] dsyme commented on #3590
@eiriktsarpalis That looks totally fine - just add a couple of tests - thanks!

[2017-09-16 13:31] dsyme commented on #3590
@eiriktsarpalis Actually I'm not sure of the scope of the disposal in these cases:

+            use tokenWrapper = TokenWrapper.FromUserCancellationToken cancellationToken

Shouldn't the disposal be across the lifetime of executing the task/computation, rather than the lifetime of starting the task/computation?

[2017-09-16 13:54] eiriktsarpalis commented on #3590
Good catch, thanks

[2017-09-16 16:54] cartermp commented on #3595
Closing as dupe of #3545

[2017-09-16 16:54] #3595 closed

[2017-09-16 17:29] Thorium commented on #3303
I'm trying to build an erasing type provider on .Net core and my problem is:

[code]

If I target to netstandard2.0 I fail compiling the typeprovider, and if I target to netcoreapp2.0 everything goes ok, until I try to build my test project: when compilation of the test project is done, the compiler executes some code related to TypeProviderAssemblyAttribute which somehow refers a non-core-version

[2017-09-16 23:13] majocha commented on #3596
@KevinRansom I think I have some idea what's going on.

https://github.com/Microsoft/visualfsharp/blob/6c6de72d154a550732dd1ce818f64ad75fee843c/vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs#L414-L417

This event with `ProjectAdded` args fires during solution load, and it can fire well before `SetupProjectFile` or `SyncProject` had a chance to run for a given project. Execution

[2017-09-17 00:12] 0x53A commented on #3592
Not sure if same cause, but I get the same symptom when I try to build https://github.com/mbraceproject/FsPickler/commit/1a58b0421077ebd1671f07aa27e8bb557401f54d:

![image](https://user-images.githubusercontent.com/4236651/30516926-902e7c7a-9b4d-11e7-956d-bf432c659b02.png)

[2017-09-17 13:42] dsyme commented on #3596
Yes, that sounds like the problem

AFAIK the line is only needed for new-style .NET SDK project files (where a Roslyn project already exists).  SetupProjectFile is needed for old-style project files.  We need to somehow do the right thing here for old-style projects

[2017-09-17 17:17] #3574 closed

[2017-09-18 00:04] abelbraaksma commented on #3585
@dsyme, I would argue that legal code that doesn't compile soulless typically be treated as a (serious) bug, not a feature or improvement request (and noticing the compiler seems to accept an even number of members and not an uneven number sets off some alarmbells with me, in that it may be a more serious bug than it seems). Fixing it might even result in other mysterious  compile behaviours to di

[2017-09-18 00:07] abelbraaksma commented on #3583
@forki, I'm planning on doing that :)

[2017-09-18 09:25] auduchinok opened #3599 "FCS package dependency System.Collections.Immutable versions conflict"
FCS NuGet package depends on System.Collections.Immutable 1.2.0 and System.Reflection.Metadata 1.4.2 while the second depends on System.Collections.Immutable 1.3.1 making `dotnet build` fail with warnings and errors like:
[code]
[code]
Why do F# compiler projects need exactly `1.2.0` while it leads to versions conflict?
Is it safe to change the version to `1.3.1` across the whole repo? Should it b

[2017-09-18 09:34] vasily-kirichenko commented on #3599
I think it uses the same version as Roslyn does.

[2017-09-18 13:53] abelbraaksma commented on #1905
As a belated follow-up (and to reassure anybody getting here through googling or other means), I can confirm this works in the current VS RTM, for both F# 4.0 and F# 4.1, and in the latest nightlies + previews:

![image](https://user-images.githubusercontent.com/16015770/30545280-75d3d392-9c89-11e7-8073-a4ade2a29b0c.png)

Thanks again!

[2017-09-18 14:01] abelbraaksma commented on #3592
@mrange, could you test your scenario with the (latest VS2017 Preview Release)[https://www.visualstudio.com/vs/preview/]? I copied your code and tried to repro with VS2017 15.4.0 Preview 2, but get the expected error, so perhaps this has meanwhile been fixed?

On the type:

![image](https://user-images.githubusercontent.com/16015770/30545583-596cbd30-9c8a-11e7-94da-8c651b81124f.png)

On the method

[2017-09-18 14:08] enricosada opened #3600 "fsi reference order matter"
## scenario

User has a working project, and try to run some part in fsi, so:

1. send the references to fsi, correctly
2. evaluate some code => error

[code]

but <Assembly1> was already sent to fsi and referenced correctly.

The error happen if:
- exists `Assembly1` and `Assembly2`
- `Assembly2` depend on `Assembly1`
- the `Assembly2` is `#r`'d before `Assembly1` . both #r are correct. (`--> Ref

[2017-09-18 14:14] enricosada commented on #3583
@abelbraaksma there is an helper to require locale us in tests, this is an issue for other tests too

[2017-09-18 15:52] abelbraaksma commented on #3509
@dsyme, @KevinRansom, since we are all developers here, would a temporary solution be to create a `*.cmd` file, or `*.ps` script that can download the latest FSC.exe and set the correct params? This could then be linked in the `DEVGUIDE.md` and `TESTGUIDE.md` so that people are going to actually use the correct versions when to try to test the resolution of a bug.

Or, on top of that, add a warnin

[2017-09-18 18:03] KevinRansom commented on #3596
Hmmm looks like I broke something.  On it.

[2017-09-18 18:22] cartermp commented on #3596
cc @Pilchie for FYI

[2017-09-18 19:09] saul commented on #3591
@realvictorprm do the colourisation errors occur around `#line` declarations? Are there any in the file?

[2017-09-18 19:16] saul opened #3602 "File re-ordering is slow"
Re-ordering files in the Solution Explorer is unnecessarily slow - each movement causes the project to be reloaded with ComputeSourcesAndFlags. It's not necessary - we know what the new source file layout will look like so we should just use that instead.

Happy to take a look at this this week.

[2017-09-18 20:34] realvictorprm commented on #3591
Yes my example was in the parser.fs file.

[2017-09-18 22:50] KevinRansom commented on #3600
@enricosada this is by design.
FSI is really quite lazy about assembly references and tries very hard to delay going and getting them.

I tried quite hard to reproduce tour issue, and it was harder than I thought however, this is what I did.

Create 2 assemblies A and B

B has a dependency on A and 2 apis, one which uses the dependency, and one which does not.

Then I referenced B
used the API tha

[2017-09-19 07:04] realvictorprm commented on #3591
This PR #3601 seems to improve the whole Visual F# experience and so also eases work in the solution itself 🙂

[2017-09-19 07:07] realvictorprm commented on #2368
I consider to change my current PR to add only "sideways" Code-Lens similar to those recently added to Ionide. I think those could work without big problems.

[2017-09-19 15:14] abelbraaksma commented on #1587
It's a bit late, but I can confirm that the problem doesn't occur anymore. Tx!

[2017-09-19 17:02] abelbraaksma commented on #3586
@dsyme, I was typing a response yesterday while my computer spontaneously restarted (this has happened a few times since recent installs of VS2017 previews and/or F# nightlies, and seem to happen only when running a lot of tests at once, but I have not yet determined a clear correlation, nothing in the event logs).

My response was essentially that I found the source. NCrunch adds instrumentation

[2017-09-19 17:02] #3586 closed

[2017-09-19 17:24] abelbraaksma opened #3605 "The test StartAsTaskCancellation contains a Debugger.Break(), can it be removed safely?"
My test runner hiccups on `Debugger.Break()` in tests (not surprisingly, a normal executable would do too). I was wondering if this break is intentional and serves a purpose, or was left their as a remnant of some temporary debugging situation.

Also, the `|> ignore` is redundant.

The test:

[code]

I can remove this line if nobody objects.

[2017-09-19 17:34] abelbraaksma commented on #3587
@dsyme: a follow up. I have found that the instrumentation added to FSharp.Core greatly reduces the executation time. Not too surprising, as the instrumentation can well mean that the tests will not be inlined anymore by JIT, or certain tail recursion may even be hampered (the latter rather unlikely though, because the instrumentation always has void return).

We need the instrumentation for code

[2017-09-19 19:17] dsyme commented on #3605
Yes, please do

[2017-09-19 19:25] dsyme commented on #3585
Yes, but it might also create instability - given the workarounds I would be loathe to make a fix until a more serious customer-facing scenario was documented

But my initial categorization was based on reading just the first line of the issue, and the workarounds -
 I've adjusted it :)

[2017-09-19 19:26] dsyme commented on #3599
@KevinRansom Do you know the background to this?  Or can we just fix it?

[2017-09-19 19:26] dsyme commented on #1905
@abelbraaksma Thanks for checking!!

[2017-09-20 05:16] cartermp commented on #3599
Not sure where Roslyn stores the version, but I did find this, which is 1.3.1: https://github.com/dotnet/roslyn/blob/a005d6883c5939705e3e9c41a80e18cece85eb20/build/Targets/Packages.props#L154

@Pilchie is this accurate?  If so, we should upgrade.

[2017-09-20 07:13] KevinRansom commented on #3599
We will use the version that Roslyn uses.  There is too much risk of unexpected issues within VS if we don't do that.  And too many VS components to coordinate changes that we can't just drag them all up a version.

The desktop FSharp dll's run in-process with VS and so we are dependent on their current version.  We have much more leeway with the coreclr, although there are still soe restrictions

[2017-09-20 08:08] vasily-kirichenko opened #3610 "No symbols uses for enum fields in patterns"
VS, Rider, Code:

![1](https://user-images.githubusercontent.com/873919/30633301-d5ac9004-9df3-11e7-8552-7327522068ec.gif)

VS behaves a bit better (it shows tooltip, the others do not).

[2017-09-20 08:21] vasily-kirichenko opened #3611 "Go to Definition does not work"
![1](https://user-images.githubusercontent.com/873919/30633834-d73f6692-9df5-11e7-85dc-f7f8f727bb53.gif)

[2017-09-20 08:25] vasily-kirichenko commented on #3610
The enum fields are not in scope:

![image](https://user-images.githubusercontent.com/873919/30634010-558e34a6-9df6-11e7-876a-a9e3cf7c28f9.png)

[2017-09-20 08:49] vasily-kirichenko commented on #3610
Fixed in https://github.com/Microsoft/visualfsharp/pull/3612

[2017-09-20 08:53] KevinRansom commented on #3567
@luminescent sorry it took so long for me to see this.

The interesting part of the error is this:
Could not load file or assembly 'C:\Program Files\dotnet\sdk\2.0.0\FSharp\FSharp.Build.dll'.
Format of the executable (.exe) or library (.dll) is invalid.

I don't know how this can happen, If this is still reproducible could you please zip up the 'C:\Program Files\dotnet\sdk\2.0.0\FSharp\'  director

[2017-09-20 09:20] vasily-kirichenko opened #3613 "Find all references and Rename refactoring do not work on dirty buffers"
![1](https://user-images.githubusercontent.com/873919/30636353-e0602fa6-9dfd-11e7-8632-301e74a8b650.gif)

![1](https://user-images.githubusercontent.com/873919/30636405-0911b42e-9dfe-11e7-98ad-fc1873e85646.gif)

[2017-09-20 09:33] vasily-kirichenko commented on #3610
The bug is also affects module and class literal values:

![image](https://user-images.githubusercontent.com/873919/30636768-0a55bbcc-9dff-11e7-97a4-e1458ed1ea04.png)

![image](https://user-images.githubusercontent.com/873919/30636824-2bc97a28-9dff-11e7-9aca-530895534954.png)

These are also fixed in the PR.

[2017-09-20 09:47] vasily-kirichenko commented on #2729
The bug is still in 15.3.5

![1](https://user-images.githubusercontent.com/873919/30637725-d9a1adda-9e01-11e7-8cb6-1888a5bb3da6.gif)

[2017-09-20 11:43] dsyme commented on #3580
I think we would adjust/clarify  the spec in these cases. Do you have a section reference for "Identifiers must be separated by spaces"? A better wording would be ``must be separate tokens``

On the second one - to me the spec says that ``hi`` and ``bye`` are separate tokens?  Hence one is a function and one an argument

[2017-09-20 11:46] dsyme commented on #3611
@vasily-kirichenko How often are you seeing this? Just for that method in that solution, or for all methods always?

[2017-09-20 11:51] vasily-kirichenko commented on #3611
I rarely use VS these days, some Go to Definitions have worked for me today, some - have not.

[2017-09-20 11:52] dsyme commented on #3581
This seems to be fixed in master (or perhaps a fix in .NET)
[code]

[2017-09-20 11:52] #3581 closed

[2017-09-20 11:56] dsyme commented on #3303
@Thorium This is not yet supported

[2017-09-20 12:04] dsyme commented on #3602
When you say "reanalyzed" are you meaning FCS typechecking reanalysis?  Or project loading?

[2017-09-20 12:17] dsyme commented on #3591
I'm looking into this now.  A definite regression in the development experience

[2017-09-20 12:19] dsyme commented on #3591
There are some archaic bits.  By all means clean them up / modernize them

[2017-09-20 12:39] dsyme commented on #3605
I'll close since the answer to the question in the issue is simply "yes" :) thanks!

[2017-09-20 12:39] #3605 closed

[2017-09-20 12:44] dsyme commented on #3600
@KevinRansom @enricosada  I don't see any specific why this should fail - both ``#r`` are known to FSI, we should be able to resolve these assemblies correctly.

[2017-09-20 12:47] dsyme commented on #3592
@abelbraaksma  I do think we fixed this along the way.  Perhaps Rider has not updated to latest FCS?

I will close - please reopen if we have a repro using master

[2017-09-20 12:47] #3592 closed

[2017-09-20 12:53] dsyme commented on #3589
Looking at ``master`` now, the repeated rebuilding when using ``.\build net40`` seems to come from this:

[code]
which comes from this
[code]

[2017-09-20 12:54] dsyme commented on #3589
This will be related to https://github.com/Microsoft/visualfsharp/pull/3577 // cc @brettfo

[2017-09-20 13:20] dsyme commented on #3596
Fixed by #3603 - thanks for resolving this @KevinRansom

[2017-09-20 13:20] #3596 closed

[2017-09-20 14:08] Pilchie commented on #3599
Yes, that should be the right version for Roslyn.  @jaredpar to double check me.  Also, for CoreCLR, you probably still want to use the version Roslyn uses, since it will be in the shared framework...

[2017-09-20 14:13] #3589 closed

[2017-09-20 14:13] dsyme commented on #3383
Closing old issue

[2017-09-20 14:13] #3383 closed

[2017-09-20 14:14] dsyme commented on #3301
Closing old issue

[2017-09-20 14:14] #3301 closed

[2017-09-20 14:53] dsyme commented on #2616
Closing old issue

[2017-09-20 14:53] #2616 closed

[2017-09-20 16:12] jaredpar commented on #3599
Yes that is the right version (and the right place to look for it)

[2017-09-20 17:22] vasily-kirichenko opened #3615 "No XML Doc in tooltips"
![1](https://user-images.githubusercontent.com/873919/30657804-6a59957e-9e41-11e7-8363-6d2a498397fa.gif)

[2017-09-20 17:35] #3610 closed

[2017-09-20 17:49] saul commented on #3602
I'm referring to ComputeSourcesAndFlags - so project loading.

[2017-09-20 18:05] vasily-kirichenko commented on #3615
It seems to reproduce for symbols defined in `mscorlib.dll` only. This is the root cause:

![image](https://user-images.githubusercontent.com/873919/30659568-d7dc1f0e-9e46-11e7-96d3-ac2b480a1605.png)

(`GetMemberIndexOfAssembly` returns `None` here)

If I understand correctly, it searches for `mscorlib.xml` file, but it does not exists:

![image](https://user-images.githubusercontent.com/873919/30

[2017-09-20 18:10] vasily-kirichenko commented on #3615
Aha. `c:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.6.1\` looks different:

![image](https://user-images.githubusercontent.com/873919/30659835-bc9f05d4-9e47-11e7-9d64-2a2c479807bd.png)

there _is_ the xml file, but it contains a redirect (yep there is such thing...):

[code]
And we finally can find the full xml file there:

![image](https://user-images.githubuser

[2017-09-20 18:12] KevinRansom commented on #3569
fixed with:  https://github.com/Microsoft/visualfsharp/pull/3564

[2017-09-20 18:13] vasily-kirichenko commented on #3615
And yes, switching to 4.6.1 or 4.7 fixes the tooltip:

![image](https://user-images.githubusercontent.com/873919/30660075-5a789658-9e48-11e7-9c10-74f62035e4f3.png)

So the problem is that 4.6.2 does not contain xml files. Is it my local problem or a general one with this specific version?

[2017-09-20 18:20] #3569 closed

[2017-09-20 18:21] KevinRansom commented on #3260
This is addressed by: https://github.com/Microsoft/visualfsharp/pull/3564

[2017-09-20 18:21] #3260 closed

[2017-09-20 18:27] cartermp commented on #3615
Closing this since it's not an F# or F# setup thing - though I would argue that this sort of violates the principle of least surprise that you can create net462 projects, but can't get XML intellisense.

[2017-09-20 18:27] #3615 closed

[2017-09-20 18:42] auduchinok opened #3617 "Parser adds new line symbol to the source being parsed"

[2017-09-20 18:50] vasily-kirichenko commented on #3615
I think VFT should warn users some way, because absent XML docs on majority of symbols feels like a huge bug.

[2017-09-20 18:52] vasily-kirichenko commented on #3615
OK, C# editor works exactly the same.

[2017-09-20 18:55] forki commented on #3615
Works exactly the same = doesn't work

Am 20.09.2017 20:52 schrieb "Vasily Kirichenko" <notifications@github.com>:

[2017-09-20 18:58] vasily-kirichenko commented on #3615
I think we should show a warning right in the tooltip if we cannot find a xml doc for framework assemblies, like "to get xml doc please install .net 4.x.x targeting pack (link)".

[2017-09-20 21:33] abelbraaksma commented on #3580
@dsyme, I checked, but couldn't find it. But the syntax, which sends some variant of ebnf does require spaces between about every token. When we were writing the XPath specification, we had a general statement on whitespace being allowed between tokens, except when marked as whitespace explicit (for instance in F# that would be with `UL` and the like, abs a minority of the operators).

If this isn

[2017-09-20 22:32] abelbraaksma opened #3618 "VS2017 15.4.0 P2 + current nightlies chokes on compiler-specific syntax for ILASM like `(#...#)`"
I don't know if I'm the only one seeing this, but since Visual Studio 15.4.0 P2 came out, and (at least) since nightly build 15.4.1.17091801, possibly earlier, constructs with compiler-only syntax, like `(#...#)` for ILASM generates errors in the editor.

These errors didn't use to be there (unless you were trying to use these outside this particular project).

I started seeing them after making a

[2017-09-20 23:11] dsyme commented on #3617
@auduchinok Could you give more context on why this is a problem

Context I know is

* New line is only added if the file doesn't already end in a new line
* This applies only to ParseAndCheckFileInProject and ParseFileInProject

But I don't know what specific problems it causes to add the new line character.  Equally, I don't know why our tests are so sensitive to the character being there (beyon

[2017-09-20 23:40] abelbraaksma opened #3619 "Build for VisualFSharp always reports: ERROR: The system was unable to find the specified registry key or value."
As in the title, this error is always thrown. Looks like I am not the first to be alarmed by it. It seems harmless, but can we remove / suppress this? I have no idea what causes it.

    ERROR: The system was unable to find the specified registry key or value.

## Repro steps

Run `build.cmd`

## Expected behavior

No errors, provided prerequisites are satisfied.

## Actual behavior

The error as

[2017-09-20 23:41] auduchinok commented on #3617
@dsyme Adding new line changes AST ranges which we rely on. We currently map these ranges to R# document offsets using approach very similar to the one used in [RoslynHelpers.fs](https://github.com/Microsoft/visualfsharp/blob/master/vsintegration/src/FSharp.Editor/Common/RoslynHelpers.fs#L25) except getting min of lines count and a range line. It works fine when an empty line isn't added to the so

[2017-09-20 23:45] dsyme commented on #3619
Yes, please fix it! for all the reasons you explain :)

[2017-09-20 23:46] dsyme commented on #3617
@auduchinok OK thanks, that makes sense

[2017-09-20 23:48] dsyme commented on #3617
@auduchinok I'm labelling this a "Urgency Later" since we workaround it at the moment, but please feel free to submit a fix for it.

[2017-09-20 23:49] abelbraaksma commented on #3611
@dsyme, I am seeing every other time I have the solution open, or after some hours. What seems to fix it is reopening the solution, sometimes several times.

Usually, when it doesn't work, hovering for quicktips doesn't work either, and coloring is mostly completely absent. IntelliSense doesn't work at all in such cases. Building doesn't show any problems, but doesn't solve the editor problems eit

[2017-09-21 11:52] abelbraaksma commented on #3581
@mrakgr, just to clarify @dsyme's comment, he means this is fixed in VS2017. I just tried your example on my installation of VS2017 and I can confirm that it indeed works. I also tried it on VS2015 and there it fails.

You write that you are using VS2015 but I believe that, unless for security issues, no new updates are expected for that platform, anything new (including the already released F# 4.

[2017-09-21 12:13] 0x53A commented on #3581
If you want to continue using VS2015, you can also install the nuget package "FSharp.Compiler.Tools", this will replace the VS compiler with the one contained in that package.

You may need to edit your project file once:

Either replace the large choose block with

[code]

or just remove it completely. (``FSharpTargetsPath`` is defined by the package itself, so it doesn't need to be defined in th

[2017-09-22 10:13] thinkbeforecoding commented on #3491
It seems that it is not required.
Createing an empty struct in C# works as expected:

C# code:
[code]

Result IL:
[code]

[2017-09-22 10:22] thinkbeforecoding commented on #3491
It also seems to work already with F# compiler:
[code]
Result IL:
[code]
Which is only longer because of equality impl

[2017-09-22 10:42] zpodlovics commented on #3491
The struct without member require non-zero sized **runtime representation**, however it does not mean that it needs dummy members to have non-zero runtime runtime representation. For an empty struct the CoreCLR will generate a one byte runtime representation (this is what the sizeof<EmptyStruct> will return). It fact the whole CoreCLR codebase have several tests for empty struct cases, because it

[2017-09-22 11:02] thinkbeforecoding commented on #3491
true emitted struct seems to have a
[<StructLayout(Size=1)>] attribute.

[2017-09-22 11:55] manchoz commented on #3303
Yet another solution to get `fsc.exe` working on any platform combining the ones above and https://github.com/Microsoft/msbuild/issues/539#issuecomment-289930591 (no need of `$(OS)` environment variable).

Please, note that YMMV for `<FscToolPath>`.

Maybe we can get the ultimate solution combining @Dzoukr solution using tools from `FSharp.Compiler.Tools` with scripts add-ons proposed by @dsyme.

[2017-09-22 12:46] obeobe commented on #2938
My two cents: this is how Rider does it and I find it quite annoying and wish they didn't. The fact that I'm searching for usages doesn't necessarily mean that I want to go there. Maybe I just want to have a look at it at the preview window? Why throw me away from the context I'm at?

Also, in general, I find inconsistent behavior annoying. It doesn't make sense to me that the IDE would sometimes

[2017-09-22 13:00] auduchinok commented on #3599
@KevinRansom it failed during restore in some conditions for me. After repacking with referencing 1.3.1 I could successfully restore the solution.
Unfortunately, I don't remember which of NuGet.exe, msbuild and dotnet restore it was when it failed, but if it's important I can reproduce.

[2017-09-22 13:01] vasily-kirichenko commented on #2938
My two cents: I use Rider all the time and find this behavior awesome.

[2017-09-22 13:06] obeobe commented on #2938
@vasily-kirichenko nonetheless it should still be configurable. Anything that interacts with your work in intrusive ways (i.e. implicit navigation, live code refactoring, automatic completion of code like quotes, braces, etc...) - needs to be configurable.

[2017-09-22 13:13] vasily-kirichenko commented on #2938
Of course. Anyway, it's unlikely to be implemented, so this discussion is meaningless :)

[2017-09-22 16:16] cartermp commented on #3599
@brettfo If you have the chance, can you take a look to see if taking a dependency on 1.3.1 is fine for 15.5?

[2017-09-22 16:30] cartermp commented on #3613
Related: #2204

[2017-09-22 16:49] brettfo commented on #3599
[Roslyn 15.5 currently uses 1.3.1](https://github.com/dotnet/roslyn/blob/dev15.5/build/Targets/Packages.props#L153), so we're good.

[2017-09-22 16:57] vasily-kirichenko opened #3621 "FSharp.Core project is broken"
![image](https://user-images.githubusercontent.com/873919/30755678-432c41f0-9fd0-11e7-826f-7f21110de41d.png)

[2017-09-22 16:59] vasily-kirichenko commented on #3621
@brettfo it would be great if you tried to load the solution into VS before merging.

[2017-09-22 17:18] vasily-kirichenko commented on #3621
@brettfo sorry, but it's master after all...

[2017-09-22 17:19] abelbraaksma commented on #3573
@vasily-kirichenko, rereading my own comment it looks rather derisive, it wasn't meant that way, my apologies. I'm just starting out getting test coverage working and I figured, let's stick to the defaults given by the instructions in DEVGUIDE.md, before getting more adventurous and trying it with other tools.

Certainly, I didn't mean to suggest this project may only be used with MS tools, on the

[2017-09-22 17:19] vasily-kirichenko opened #3623 "Cannot put breakpoints inside a CE"
![1](https://user-images.githubusercontent.com/873919/30756432-5ea9f172-9fd3-11e7-9453-4a86743eac89.gif)

[2017-09-22 17:20] brettfo commented on #3621
No need to apologize, I broke it when it should never have been broken.

[2017-09-22 17:21] abelbraaksma commented on #3573
Btw, I think I ought to close this thread, as this is an issue caused by the GIT provider or Visual Studio and has nothing to do with Visual F# tools.

[2017-09-22 17:21] #3573 closed

[2017-09-22 17:31] vasily-kirichenko opened #3624 "No value tooltip for "this" in debugger"
![1](https://user-images.githubusercontent.com/873919/30756878-08b1bd70-9fd5-11e7-8822-7687153fdcb7.gif)

[2017-09-22 17:48] vasily-kirichenko commented on #3624
Rider sees `this` as "obj0`, not perfect, but it works:

![image](https://user-images.githubusercontent.com/873919/30757406-49e714c8-9fd7-11e7-8023-3476c4b907ad.png)

[2017-09-22 17:52] vasily-kirichenko opened #3625 "Attached VS debugger makes everything unbelievably slow with IntelliTrace on"
VS 15.3.5

![1](https://user-images.githubusercontent.com/873919/30757553-cecf826a-9fd7-11e7-8271-7d327803ad9d.gif)

Rider:

![1](https://user-images.githubusercontent.com/873919/30757281-c4092602-9fd6-11e7-9982-88064d15fbea.gif)

I have to words.

[2017-09-22 17:56] vasily-kirichenko commented on #3625
Solved: VS debugger become as fast as Rider's after turning off IntelliTrace.

[2017-09-22 17:56] forki commented on #3625
Haha

Am 22.09.2017 19:56 schrieb "Vasily Kirichenko" <notifications@github.com>:

[2017-09-22 18:02] vasily-kirichenko commented on #3625
@forki yes, it was very funny, thanks for your help.

[2017-09-22 18:03] mishra14 opened #3626 "F# compiler option --nowarn does not accept alphanumeric warning codes"
_From @mishra14 on September 21, 2017 20:1_

Stemming from: https://github.com/NuGet/Home/issues/5913

It seems that F# compiler option [--nowarn](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/compiler-options) only accepts integers. Which seems fine based on the description on the docs page.

But the docs also state that the option is equivalent to C# compiler option [/nowarn]

[2017-09-22 18:03] mishra14 commented on #3626
_From @forki on September 22, 2017 5:43_

I tink it should be posted in https://github.com/Microsoft/visualfsharp
/cc @cartermp

[2017-09-22 18:03] mishra14 commented on #3626
_From @cartermp on September 22, 2017 16:11_

Yep, @mishra14 can you repost this on visualfsharp?  Thanks!

[2017-09-22 18:06] forki commented on #3625
Can you please send a pull request to the readme. I'm sure others will have
the same problem and we should take it as opportunity to document.

Am 22.09.2017 20:02 schrieb "Vasily Kirichenko" <notifications@github.com>:

@forki <https://github.com/forki> yes, it was very funny, thanks for your
help.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on Git

[2017-09-22 20:21] abelbraaksma commented on #3605
@dsyme, you closed it already, but it wasn't fixed yet. It is now (or at least if it gets accepted) ;).

[2017-09-22 20:21] abelbraaksma commented on #3583
A fix is now in PR #3627.

[2017-09-22 20:31] KevinRansom commented on #3626
Seems like a reasonable suggestions, just out of curiosity:  what does the
    /nowarn:NU1603;  is that a C# compiler error message?

[2017-09-22 20:37] KevinRansom commented on #3626
@mishra14, @forki

Okay ...

so we won't validate the alpha chars, and we will only warn for fsxxxx numbers.  And I guess we will need to make sure that we keep the arguments as passed and pass them through the compilation ...

Does that sound like what we need?.

[2017-09-22 20:53] #3621 closed

[2017-09-22 20:58] cartermp opened #3628 "Nightlies down for now"
As you're likely aware, we produce signed nightly binaries that go through the VS update channel.

There haven't been any nightlies this week, despite changes going in.  This is due to outages in our infrastructure, which have been affected by the recent natural disasters.  We'll close this issue once things are back to a good state.

[2017-09-22 21:01] mishra14 commented on #3626
@KevinRansom: NUxxxx warnings are NuGet related warnings which were recently added.

Your description seems about right. The same warning codes should be acceptable in `--nowarn` and `--warnaserror`.

[2017-09-22 21:06] abelbraaksma opened #3629 "150+ warnings when building VisualFSharp from VS: NU1605: Detected package downgrade: [...]"
As in the title, a large number of NU1605 Detected Package Downgrade are reported.

Can this warning be ignored? Is it safe to switch off for the project? Or is it a sign that in my build I am referencing the wrong packages? (and if so, please advise).

## Repro steps

Just build `FSharp.sln` from within Visual Studio 2017.

## Expected behavior

No warnings.

## Actual behavior

Many warnings as

[2017-09-22 22:50] KevinRansom commented on #3626
@mishra14 @forki
**Yeah ... C#** is broken, so I will not make this change in the compiler.  I will fix the issue in the targets file or build task, I will just strip out values our compiler doesn't understand we don't understand..

**The C# bug:**
[code]
Microsoft (R) Visual C# Compiler version 2.3.2.62019 (b7354608)
Copyright (C) Microsoft Corporation. All rights reserved.

Program.cs(13,17): wa

[2017-09-22 23:08] CyrusNajmabadi commented on #2938
Why is it unlikely to be implemented?  I already sketched out how it could possibly be done.  I think it would make sense to go behind an option, but i think it would be totally fine to do.

The code that you would have to update would be around here: https://github.com/dotnet/roslyn/blob/master/src/EditorFeatures/Core/FindReferences/FindReferencesCommandHandler.cs#L129

Basically, instead of call

[2017-09-22 23:09] CyrusNajmabadi commented on #2938
Feel free to make such a change and submit it to Roslyn.  I think it would be taken.  Tagging @kaseyu for visibility here as I think she might like this change.

[2017-09-22 23:51] mishra14 commented on #3626
@KevinRansom Thanks for the detailed response.

I have one correction - /nowarn:CS0219 works as expected -

F:\validation\test\addpkg>csc Program.cs  /nowarn:CS0219
Microsoft (R) Visual C# Compiler version 2.4.0.62025 (a0507c1e)
Copyright (C) Microsoft Corporation. All rights reserved.

[code]

Note that it is case sensitive, so `cs0219` is not the same as `CS0219`.

[2017-09-23 00:13] KevinRansom commented on #3583
@abelbraaksma there is no harm in fixing this.

[2017-09-23 01:47] abelbraaksma commented on #3583
@KevinRansom, sorry, I think I misunderstood the process. I thought you approved my changes in PR #3627, hence I closed it. Guess that was too early? I see it now mentions "closed with unmerged commits". Sorry, first time PR to this repo... I'll reopen the PR.

[2017-09-23 02:07] forki commented on #3626
I just wished nuget would not mess with compiler flags. But it seems it's
too late. Again...

Am 23.09.2017 01:51 schrieb "Ankit Mishra" <notifications@github.com>:

[2017-09-23 03:07] KevinRansom commented on #3626
@forki ... it's 6 of one, half a dozen of the other.

Clearly that C# doesn't validate arguments is a bug ... however ... it is convenient that no UI is needed to add the nugget nowarn setting in VS because they can re-use the nowarnings field in the compiler settings.

So I can see it both ways ... anyway ... it is no big deal

[2017-09-23 06:22] forki commented on #3626
It's convenient and wrong.

Am 23.09.2017 05:07 schrieb "Kevin Ransom (msft)" <notifications@github.com

[2017-09-23 06:30] vasily-kirichenko commented on #2938
Thanks for explanation, I believe Visual F# team will implement it soon.

[2017-09-23 14:06] abelbraaksma opened #3632 "Many tests in FSharp.Tests.FSharpSuite cannot run in parallel because they compile executables with the same name `test.exe`"
Tests in, for example `FSharp.Tests.Core.CoreTests` fail if they run in parallel, even if the parallelization is achieved by different processes.

## Repro steps

Run all tests in `FSharp.Tests.Core.CoreTests` with any test runner that can run multiple tests at once in difference processes, or just fire up two test runs (i.e., NUnit GUI or VS) in parallel.

See for instance these tests and `test.e

[2017-09-23 16:49] abelbraaksma opened #3633 "Inexplicable intellisense error FS3160 on top of source file, referring to Eval...?"
Seen this a few times today, anybody any idea where it comes from?

![image](https://user-images.githubusercontent.com/16015770/30775105-680ae4d6-a08e-11e7-8f27-a0dad0f17644.png)

In text:

[code]

No idea what it means, where it comes from or what the proper user-action is supposed to be. Rebuilding, clean etc does not remove the error.

My assumption is that this error is caused by the in-memory

[2017-09-23 17:11] abelbraaksma commented on #3545
@majocha, @dsyme, the repro from the previous post works reliably (using current nightly, in my case, not necessarily the same as current master). And as he said, you need to have tabs open from your previous session to receive this error.

Also, rebuilding, clean etc does not remove the error. Closing/reopening the offended tab does not resolve it either. You can see it in this vid, using the abo

[2017-09-23 17:14] abelbraaksma commented on #3633
Closing as duplicate of #3545, see [my comment there](https://github.com/Microsoft/visualfsharp/issues/3545#issuecomment-331652660) for a vid on the repro provided by @majocha.

[2017-09-23 17:14] #3633 closed

[2017-09-23 17:35] vasily-kirichenko opened #3634 "rec inline function failed to compile, but the editor does not show any errors"
[code]
compilation errors:
[code]

![image](https://user-images.githubusercontent.com/873919/30775560-b2b018ac-a09e-11e7-86b4-798497981404.png)

[2017-09-23 23:34] ShalokShalom commented on #1096
@NumberByColors You might like to mention in your update section, that the .Net Native compiler is now open source: https://github.com/dotnet/corert

[2017-09-23 23:58] abelbraaksma commented on #1565
@dsyme, I think we should reopen this. I must have incorrectly tested it. Try the first example in VS2017:

* no error when loaded
* errors when compiled as described

This report by @vasily-kirichenko reminded me that this old bug isn't fixed yet. #3634.

[2017-09-24 00:00] realvictorprm commented on #1096
Nice point. So can we do something there?

[2017-09-24 00:01] abelbraaksma commented on #3634
Possibly related: #1565, which I incorrectly closed a while back. it contains other examples that cause the same errors you mention here, which are not shown in the editor.

My (not so educated) guess is, these inline functions can only really be resolved when compiling in full and whatever is used by IntelliSense is not so rigorous.

[2017-09-24 00:11] abelbraaksma commented on #1096
Just a stupid question, but I often wondered about this (and admittedly, I don't know too much about the details of .NET Native). It is already possible to precompile F# CIL code with NGEN. If that works, why doesn't it work with .NET Native? Or does NGEN skip some parts that .NET Native promises to address (apart from support for a larger set of platforms, I guess).

Just saying, if it is possibl

[2017-09-24 00:16] ShalokShalom commented on #1096
Just to mention something: If this truly compiles F# into native code, A LOT of people get interested, since it means independence from .NET. Is see far too less marketing about that aspect yet, which might be probably related due to the current state. So, once release ready; Shout it out in the world.

F# is free. I see some OCaml guys coming, who would like a cleaner syntax.. without curly brack

[2017-09-24 00:56] cartermp commented on #1096
Just as a point of distinction, corert is not the .NET Native compiler toolchain and runtime.  .NET Native is still closed-source, proprietary technology.

NGEN is a separate technology as well.

That said, corert is likely to be the future of cross-platform native compilation of .NET code, and it has some very basic F# support already.  Because it is open source, it’s relatively easy to contribut

[2017-09-24 01:13] ShalokShalom commented on #1096
What is that? https://github.com/dotnet/corert/tree/master/src/Native
And the description text says that: `with the accompanying .NET Native compiler toolchain`

The availability of different tools is the .Net ecosystem is truly diverse, which leads a newbie like me into some kind of confusion. :smile:

So, I can use CoreRT anyway to compile into native code? Also to Linux? Thats awesome.

@forki

[2017-09-24 01:50] abelbraaksma commented on #1096
@cartermp, it is my understanding the NGEN creates binary images. I know these images are per-assembly (or per module, not sure) and thus they will still need the CLR. But since any lib including mscorlib can be NGEN'ed, essentially this means they can all become native.

And taken from another perspective, JIT compiles to native, and if currently AoT (.NET Native / CoreRT) contains gaps in covera

[2017-09-24 11:01] dsyme commented on #3303
@manchoz Thanks for that workaround - I've added it above.  I removed the ``Condition="'$(MSBuildRuntimeType)' == 'Core'"`` - I don't think it's needed or correct when using Mono?  Could you check please?  Thanks

[2017-09-24 14:17] abelbraaksma opened #3636 "Referencing any project that is compiled with --standalone changes returned type of the array index operator and causes FS0001"
A simple use of the array index operator (like `[|1; 2; 3 |].[1]`) fails when you use a reference that was compiled with `--standalone`.

**Just referencing is enough. No need to actually use _anything_ from the referenced assembly.**

## Repro steps

Basically: just try to compile the provided solution [FSharpBug#3636.zip](https://github.com/Microsoft/visualfsharp/files/1327376/FSharpBug.3636.zip

[2017-09-24 15:11] abelbraaksma opened #3637 "The "other flags" in the properties window shown are always the properties belonging to the RELEASE build"
Regardless of whether you select Debug or Release build, setting "Other flags" always shows the settings of the Release build, resulting in confusion if these settings are different.

### Example (set only for Release)

#### Release view:

![image](https://user-images.githubusercontent.com/16015770/30783789-4c6bf236-a149-11e7-859a-4f82bfd0651e.png)

#### Debug view (should be empty)

![image](http

[2017-09-24 17:12] majocha commented on #3545
@abelbraaksma this should be already fixed on master.

[2017-09-24 17:19] abelbraaksma opened #3638 "Cannot build Visual F# Tools tools with `build vs`, MSB4066 "GenerateSource" is unrecognized."
I receive the following error on 13 projects:

### Repro steps

In my case, following the instructions in DEVGUIDE.md and just running `build vs` got me this error. I though perhaps I needed to downgrade to MSBUILD 12 as mentioned there are a prerequisite, but that didn't change anything.

Note that `build` (without params) just works. It fails with `build vs`.

### Expected behavior

Build should

[2017-09-24 18:05] majocha commented on #3638
@abelbraaksma  IIRC I did `build proto` and then `build vs`  and got it fixed.

[2017-09-24 19:18] realvictorprm commented on #3638
I usually take a fresh copy and then run always in administrator mode (in the VS developer command prompt) just

[2017-09-24 21:19] 0x53A opened #3639 "[Build] Errors in fscomp.txt are not printed to the log"
Make FSComp.txt fail: just add something invalid, like ``xxxxxxxxxxxxx`` to the end

#### Actual:

[code]

#### Expected: any indication that there is an issue with FSComp. Even just printing a generic error "FScomp failed" would be better than nothing.

[2017-09-24 21:47] CyrusNajmabadi commented on #2938
Sounds good.  Let me know if you need any help/clarity here.  The toughest parts (afaict) will be writing your own 'buffering' FindUsagesContext that can act as a sink, and then flush itself appropriately to the real context.  This will also be a bit complex because the creation of the real context needs to happen on the UI thread.  However, due to the async nature of the context API it should not

[2017-09-24 23:04] abelbraaksma commented on #3638
@majocha and @realvictorprm, thanks. It looks like there's a bug here:

That didn't help, neither did cleaning the copy, or rolling back to an older revision (though prior to #3607, a different error was logged).

Indeed, and that's also in the `DEVGUIDE.md`, and if you don't, you will get `E_ACCESS_DENIED` errors from the `ngen` commands and registry changes for installing the `vsix`.

That solve

[2017-09-24 23:11] abelbraaksma commented on #3638
In fact, this code should take care of that:

[code]

And that's where the problem lies: it doesn't take into account that on some systems (like the one I am testing on) only a Preview edition is available. Unfortunately I cannot afford full licenses on all dev systems and VM's I use, and besides, it is probably even a good idea if some programmers run this with the most recent previews from time

[2017-09-24 23:19] abelbraaksma commented on #3638
In addition, this doesn't seem to be accurate anymore:

![image](https://user-images.githubusercontent.com/16015770/30787678-ab896592-a18e-11e7-8c96-d040dab52822.png)

While it successfully builds from a VS2015 command prompt, that's only because `build.cmd` tries to find `VsDevCmd.bat`. It is precisely because it doesn't find at, that the `build.cmd` still thinks everything is OK, but downstream

[2017-09-25 00:23] cata commented on #3222
I am seeing this too (in 15.3.5) and it is very frustrating.
The issue definitely got worse in 15.3 - I don't recall having so much trouble before.

[2017-09-25 03:20] abelbraaksma commented on #3545
@majocha, I just did another `build vs`, which I believe installs this and other things into VS, but I still see the same error. Though not always, i.e. I don't get it in FSharp.sln.

[2017-09-25 03:25] abelbraaksma opened #3640 "Can we update NUnit from version 3.5 to 3.8?"
The used NUnit version is **about 2 years old**, version 3.5.0. We currently are at 3.8.0.

I tried to fix it by changing this in `FSharpSource.targets` to see the effect on the tests, but it didn't seem to change the used NUnit in the output dir, so I guess there is not a "single point" where this is currently configured.

[code]

![image](https://user-images.githubusercontent.com/16015770/307912

[2017-09-25 04:35] abelbraaksma commented on #3222
I've actually seen this happen on small projects too. I thought it was almost random, but reading this thread gives me some hints. FWIW, I'm using 15.4 preview 2 currently, so recent changes in VS did not change this behaviour. @dsyme, did you find anything useful when you analysed this? Can we help? It's rather frustrating, so even a partial fix would be really welcome!

[2017-09-25 05:38] realvictorprm commented on #3638
I can tell you, that it's pretty difficult to achieve finding the correct paths to Visual Studio 2017. I'll always recommend to use the developer command prompt instead of trying to fix this for hours.

[2017-09-25 08:38] #3619 closed

[2017-09-25 08:38] #3638 closed

[2017-09-25 08:39] dsyme commented on #3640
@abelbraaksma Is there anything specific we gain by updating?  I don't mind updating just historically I've found NUnit versions a bit of a PITA to update and just end up sticking to the same version if there's nothing specifically wrong with it

[2017-09-25 08:46] dsyme commented on #3625
Is IntelliTrace just as slow with C#, or is it an F# + IntelliTrace interaction?

[2017-09-25 08:46] dsyme commented on #3625
I'll reopen until we know the extent of the problem, I've had other people tell me informally about this

[2017-09-25 08:47] #3583 closed

[2017-09-25 08:48] vasily-kirichenko commented on #3625
No, for C# it's fast. I remember I debugger Roslyn and everything worked perfectly fast.

[2017-09-25 08:48] dsyme commented on #3605
@abelbraaksma OK, thanks

[2017-09-25 08:49] dsyme commented on #3629
Fixed by https://github.com/Microsoft/visualfsharp/pull/3641

[2017-09-25 08:54] dsyme commented on #3632
This is not true

[2017-09-25 08:58] dsyme commented on #3634
This is a known issue - you just have to run the compiler to discover these errors.

Running the optimization phase (which prepares optimization info) in the IDE developer loop is too expensive

[2017-09-25 08:58] #3634 closed

[2017-09-25 09:00] dsyme commented on #3636
Thanks for the report

[2017-09-25 09:02] forki commented on #3634
But the combination of keywords is not really useful right? We could warn.

[2017-09-25 09:13] PatrickMcDonald commented on #3640
@abelbraaksma  It looks like these commits were used to last update to 3.5: https://github.com/Microsoft/visualfsharp/commit/db5aec23dfbc71d1dbec3aee0ef98af28a90f869 https://github.com/Microsoft/visualfsharp/commit/1f6b0f75c73fb6e485a304560b062013167744c2

[2017-09-25 11:29] auduchinok opened #3642 "Mutable `let` binding in recursive module error text is confusing"
[code]
[code]

[2017-09-25 12:10] abelbraaksma commented on #3640
@PatrickMcDonald, thanks. @dsyme, I still have "hanging" tests. They appear to hang on creation or invocation and this seems to be caused by the test driver or by the test framework. To exclude that it is caused by a bug in NUnit, I would like to update.

Besides, I believe that several features have been added that may be useful, like `MaxTime`, `Combinatorial`. Some existed earlier, but were bug

[2017-09-25 13:43] dsyme commented on #3629
Fixed

[2017-09-25 14:03] abelbraaksma commented on #3632
@dsyme, thanks. Could you answer this too?

As I've no problem fixing this, but would like to know if it'll have your blessing or whether you'd prefer to wait for `nameof` to fix it that way (in fact, in my own project I have a dynamic version of `nameof`, which could perhaps be used here, but then, I prefer tests that aren't too complex in their logic).

[2017-09-25 14:10] auduchinok commented on #3514
It is works now in master, thank you @KevinRansom.
It would be great to include the fix into the next dotnet SDK update.

[2017-09-25 14:12] abelbraaksma opened #3643 "How to determine version or date/time stamp of currently used FSC.exe, FSI.exe and other F# tools in Visual Studio"
More of a question than an issue, but I often find myself wondering what the current version is that I am using in Visual Studio. With multiple branches, nightlies vs RTM releases, multiple PR's often being switched/build all the time and one VS Preview installation, I wonder how I can check this. Thinking of:

* version/date of used FSC.exe, FSI.exe
* version/date of compiler / language service (

[2017-09-25 14:15] abelbraaksma opened #3644 "When building in VS2017 Preview, focus switches to a different source file"
VS 2017 15.4 Preview 2: when you compile (Ctrl-Shift-B) then after a few seconds the editor suddenly switches to a different source file. This is rather annoying but doesn't happen always. Not sure it is a VS bug or an F# bug.

Not a true repro yet, but I see this happening at least sometimes when I open a solution that previously had tabs open. Then hit Ctrl-Shift-B and focus changes to a differe

[2017-09-25 14:47] dsyme commented on #3632
Do it any way you like but don't wait for ``nameof``, thanks

[2017-09-25 14:50] dsyme commented on #3640
OK, thanks

Yes, it would be accepted once all CI is green.  A lot of engineering improvements fall in this category :)

[2017-09-25 15:07] ylibrach commented on #3628
@cartermp would it be possible to get a nightly posted manually for now, at something like a once-a-week cadence? The current nightlies have a pretty big IDE issue with regards to loss of syntax highlighting and intellisense.

[2017-09-25 15:12] Pilchie commented on #3628
Unfortunately not - our entire ability to produce signed binaries is blocked, because the infrastructure for it is in Puerto Rico, and they have more important things to deal with right now.

However, you can manually download and install an older version of a nightly from the myget feed at https://dotnet.myget.org/feed/fsharp/package/vsix/VisualFSharp

[2017-09-25 15:14] Pilchie commented on #2938
Note that it's @kuhlenh, not @KaseyU (sorry!)

[2017-09-25 15:16] forki commented on #3628
wow.

[2017-09-25 15:18] realvictorprm commented on #3628
Now I'm surprised too. I'm sorry for the people there.

[2017-09-25 15:18] ylibrach commented on #3628
@Pilchie understood. Based on the fact that the infrastructure is in Puerto Rico, and that Puerto Rico is likely facing months before things start getting back to normal, are we to assume that there will be no new nightlies for at least several more weeks?

[2017-09-25 15:19] Pilchie commented on #3626
For reference, the C# compiler does this because it runs analyzers (which have their own custom error prefixes) and emits the diagnostics from analyzers, and allows suppression with `/nowarn` and `#pragma warning disable`.

[2017-09-25 15:19] Pilchie commented on #3626
I.e., it's not so much for other exes in the build like NuGet, etc, as it is for other analyzers running within csc.exe.

[2017-09-25 15:23] Pilchie commented on #3628
@ylibrach We're not sure yet.  Microsoft as a whole has signing facilities in a few other locations world-wide, but the Visual Studio org normally runs through Puerto Rico.  People are looking at failover to other facilities, but they are also near capacity.  I don't expect it to be weeks/months before we get *any* signed builds again, but we might not get automatic nightly signed builds for a whi

[2017-09-25 15:35] realvictorprm commented on #3628
@ylibrach Even if you don't get nightlies this way you can still build Visual F# yourself and install it :)

@Pilchie I'm currently unsure whether we described how to do such clean so people don't face version problems (so far I see in my dev environment the resulting version of the tools would be 42.42.42.42?)

[2017-09-25 16:23] abelbraaksma opened #3645 "Improve contributor experience with build.cmd"
This issue is to minute suggested changes in a soon to be created PR. This follows from my recent bug reports on `build.cmd`. At the moment I am thinking of some cleaning up and slightly improved error reporting:

1. Remove code that can cause `build.cmd` and related build scripts to fallback to older build tools
    * For instance, if the VS2017 tools are not found, it will default to VS2015 or e

[2017-09-25 16:58] cartermp commented on #3514
@livarcocc, we recently fixed a bug in the compiler that affects debugging with portable PDBs.  Which branch should we target for an update?

[2017-09-25 17:01] mydogisbox commented on #1096
@ShalokShalom See the "Architecture" section here: https://github.com/dotnet/corert/blob/master/Documentation/intro-to-corert.md  From that I understand that the difference is that one is for the .Net Core runtime and the other is for the UWP runtime.

[2017-09-25 17:04] livarcocc commented on #3514
We are creating a release/15.5 branch today. It should target that.

[2017-09-25 17:16] auduchinok commented on #3514
@dsyme @cartermp Just to add another case: I got ReSharperHost crashing on Mono when loading a R# plugin and FCS compiled using compilers from installed toolsets (Mono 5.2, dotnet 2.0), and it works fine using fsc.exe built from master.

[2017-09-25 17:19] dsyme commented on #3645
@abelbraaksma I totally agree, Thank you for working on the getting-started experience.

[2017-09-25 19:40] manchoz commented on #3303
@dsyme yes, it works. Thanks!

[2017-09-25 20:45] cartermp commented on #3632
@abelbraaksma Good find.  IMO, an approach like you found in ``` ``sigs pos17`` ``` sounds good.

[2017-09-25 20:47] cartermp commented on #3642
cc @isaacabraham

[2017-09-25 20:56] cartermp commented on #3644
I've no idea what could cause this.  @Pilchie, any ideas?

[2017-09-25 20:58] Pilchie commented on #3644
No.  That's very odd indeed.

[2017-09-25 20:59] KevinRansom commented on #3645
@abelbraaksma

sigh !!! there is so much wrong with our build it is hard to know where to begin.

- That the build depends on VS 2017 at all is a mistake.  I would welcome any pull request that eliminated the need to have an install of VS for the purpose of build at all.  If we need to reference it, then nuget should be how we aquire it.  If it isn't acquirable that we we should work with someone

[2017-09-25 21:29] dsyme commented on #3368
Closing old discussion

[2017-09-25 21:29] #3368 closed

[2017-09-25 21:31] dsyme commented on #3643
I think we would normally want this https://github.com/Microsoft/visualfsharp/issues/2323?

[2017-09-25 23:48] abelbraaksma commented on #3645
@KevinRansom, thanks for your input.

It currently depends on an installation of, in order:

* VS2017 Enterprise, Professional, Community
* VS2017 Preview Enterprise, Preview Professional, Community
* VS2017 MS Build tools (devguide says 2013, not true)

However, if none of these are found, it currently gets hairy. If you have any other installation of VS installed, it will find that (back to 2012

[2017-09-25 23:52] abelbraaksma opened #3648 "Unclear error, FS3204: If a union type has more than one case and is a struct, then all fields within the union type must be given unique names"
That error is thrown for a construct like this:

[code]

Could we update that error to say what is actually wrong or somehow make it clearer? I have no idea what is wrong with the code above, as the two cases have unique names `B` and `C`.

[2017-09-26 00:03] abelbraaksma commented on #3629
@dsyme, I just rebuild everything and I still get the warnings. If I build FSharp.sln from within VS2017, does it even use the compiled `FSC.exe`? Because that could explain why I still have these errors.

[2017-09-26 00:08] abelbraaksma commented on #3618
@dsyme, @KevinRansom , did you commit anything to fix this? Saturday this was still a problem. With the master of this morning (or at least, the current one), this seems to be fixed. It looks "normal" again:

![image](https://user-images.githubusercontent.com/16015770/30836592-75180d52-a25f-11e7-9b53-38383768cd89.png)

[2017-09-26 01:15] abelbraaksma commented on #3629
@dsyme, just managed to test this, I have all tools, incl SDK tools up-to-date to master and still there's 166 of those warnings when compiling `FSharp.sln`. I think this needs to be reopened.

[2017-09-26 05:00] vasily-kirichenko commented on #3618
maybe error highlighting is broken?

[2017-09-26 05:06] cartermp commented on #3618
@abelbraaksma I don't think we fixed this over the weekend or today.  If you restart VS, does it still result in no errors?

[2017-09-26 05:08] cartermp commented on #3629
Do you see this in `VisualFSharp.sln` as well?

[2017-09-26 05:14] realvictorprm commented on #3629
@abelbraaksma did you used a fresh clone / cleaned before?

(Visual F# is one if those repositories which are very critical about existing files and so often the solution is to clean, that's why I suggest. If it works it still should be investigated though)

[2017-09-26 06:31] isaacabraham commented on #3642
I'm on it Where can I read up more on this error? What should it read instead?

[2017-09-26 07:26] thinkbeforecoding commented on #3648
B and C are the cases, the fields are int and ... int... but you can give them names:
[code]
So it should solve your problem, but it's true that the error message could be clearer.

[2017-09-26 07:30] thinkbeforecoding commented on #3648
I see with a `sizeof<A>` that there is no field compaction in this case, event if both `b` and `c`  fields are int, the size is 12 = 3 * `sizeof<int>`: one int for the case, one int for `b` and one for `c`.
In .net, reference fields cannot be merged with other fields, but value fields can.

[2017-09-26 07:32] thinkbeforecoding commented on #3648
What would be a better error message to suggest the solution ?

[2017-09-26 09:55] SvetlanaZj opened #3649 "TypeLoadException raised when starting fsi from Visual Studio"
After installing nuget package 4.1.23 and pointing Visual Studio to the installation folder, there is a TypeLoadException. Visual Studio starts fsi.exe as follows:

"%FSharpInstallDir%\fsi.exe" --fsi-server-output-codepage:65001 --fsi-server-input-codepage:65001 --fsi-server-lcid:1033 --fsi-server:FSIChannel_5160_912619280_1750851008  --optimize

The output is:

Microsoft (R) F# Interactive versio

[2017-09-26 11:09] ShalokShalom commented on #1096
The whole situation all around the compiler state in the .Net world is highly confusing. So many different projects, I think it take both hands to count them all. :smile:

@mydogisbox Thanks for the link, very informative. :+1:

[2017-09-26 12:19] dsyme commented on #3649
@SvetlanaZj Could you give exact step-by-step repro steps please?  For example

- which nuget package
- What do you mean by "pointing Visual Studio to the installation folder"
- which version of Visual Studio are you using?  Which version of the Visual F# Tools do you have - the default install or a nightly?

[2017-09-26 18:03] abelbraaksma commented on #3618
@cartermp, I also installed VS 2017 15.4.0 P3. But several merges were done of fixes that date back further than this weekend. Another thing that I noticed on my own system is that, while I did run the `VSIXInstaller`, I did not to a `update-vsintegration.cmd`. While I believe this only updates the local SDK installation, perhaps this is of influence somehow?

Did anybody else notice the original

[2017-09-26 19:52] auduchinok opened #3652 "Better error message when method call is resolved to a C# extension method instead of the type own one"
According to C# extension methods documentation, a method call wouldn't resolve to an extension method if the type implements a method with the same signature.
However in F# I get type error due to resolve to an extension method instead of the type own one. I'm not sure whether it is a language design choice or a bug.

I'm facing it when I open a namespace that contains classes with extension meth

[2017-09-26 19:53] abelbraaksma commented on #3648
@thinkbeforecoding, thanks for taking the time to look into this and explaining it. The current error is puzzling (and to be honest, I don't understand why `Struct` requires field names, I thought these were nothing more than decoration and shouldn't change the semantics).

Note that the documentation is confusing, as [it says this](https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference

[2017-09-26 20:07] thinkbeforecoding commented on #3648
Actually when doing reflection on CLR types generated by a union without field names, the type has properties named Item1, Item2 ...
When you give names to Union type fields, they're named accordingly...
I think this is why...
when using reference Unions, each subclass can have the same properties Item1.. but with as struct, there is a single type in the end, and it cannot have several different p

[2017-09-26 20:17] SvetlanaZj commented on #3649
Hi Don,

Sure, with pleasure. Thought it was clear, but then I assume you have not been able to reproduce the problem.

Here is a detailed step by step.

Precondition:

a) I have Visual Studio 2010 Pro with standard F# 2.0 which came with the installation. It was an expensive purchase but it is still adequate for my purposes, except when I wanted to start more seriously with F#. Of course, all upd

[2017-09-26 22:35] abelbraaksma commented on #3648
@thinkbeforecoding, I'm not sure I follow your reasoning. Because with that idea, you wouldn't be allowed to have the names `Item1` and `Item2`. I'd assume they must be unique to the type, and `Item1` and `Item2` are also unique to the type.

Just saying that, when declared as a `struct`, it _should_ be possible to autogen these fieldnames. But I'm drifting away from my original issue. It is what

[2017-09-26 22:49] abelbraaksma commented on #3652
You've hit on one of the more peculiar areas of F#'s type magic. For byref methods, i.e. like `TryParse` or `TryGetValue` that return a `byref` value, the method signature takes two parameters, where the second is the `out` parameter.

However, F# tries to make things easy on you and if it encounters a signature that has the last param as an out-param (or ref-param, not sure) then it will wrap the

[2017-09-26 23:00] abelbraaksma commented on #3643
@dsyme, that thread (and its related threads) suggest to somehow lock the github SHA in the metadata of the assemblies. While I think that is a good idea, it wouldn't fully resolve this issue:

* The SHA won't be clear for "normal" users, adding a timestamp would certainly be beneficial
* You cannot access whatever is inside `FSC.exe` from your code, because your code does not know what `FSC.exe`

[2017-09-26 23:50] KevinRansom commented on #3643
The File Version field from the details tab is the "official version number".
It doesn't tell what source branch or hash originated it.

The nightlies do not deliver an updated compiler.

The CSC command displays the version number like this, with a detailed version number and the SHA.
Microsoft (R) Visual C# Compiler version 2.3.2.62019 (b7354608)
Copyright (C) Microsoft Corporation. All rights r

[2017-09-27 04:50] xenocons commented on #3546
Hesitatingly posting here with a 'me too' as I am not sure it is the same issue, but on Linux (Debian 9) using .NET Core 2.0.0 I get the same issue, I also have mono 5.2.0.224 installed (as required by ionide). Running `dotnet build` on my project causes `/usr/share/dotnet/sdk/2.0.0/FSharp/Microsoft.FSharp.Targets(224,9): error MSB6006: "RunFsc.sh" exited with code 134.` and viewing output of `dot

[2017-09-27 06:31] haf commented on #3546
Unsubscribing. If you need me, ping me.

[2017-09-27 07:24] Thorium commented on #3303
I included netstandard.dll, System.Console.dll, System.IO.dll, System.Reflection.dll, System.Runtime.dll from the .NET Standard SDK to the type provider NuGet package and now it seems to work... I don't know if there will be problems but I'll probably find out soon...

[2017-09-27 08:56] xenocons commented on #3546
I am going to create this as a separate issue, I have reduced the crash and believe the above to be a false positive on my part.

[2017-09-27 10:29] Martin521 commented on #3302
Here is another case of this error message (on `B<'T>` below), where also the above mentioned improvements are not helping.
[code]

[2017-09-27 10:58] auduchinok commented on #3652
@abelbraaksma, yeah, now it seams clear, thank you.
The error message wasn't very straightforward there though, probably due to this trick around matching a tuple for a `ByRef` return. Maybe there should it be a better error message with a hint about `ByRef`?

[2017-09-27 11:52] dsyme commented on #3649
@SvetlanaZj Thanks for the details.  Modifying a VS2010 install is an unsupported scenario - indeed TBH I think there are multiple such things happening here

[2017-09-27 13:08] dsyme commented on #3629
@realvictorprm This only happens when building inside Visual Studio, when restoring pacakges.  It doesn't happen when doing ``msbuild FSharp.sln /t:Restore`` for example.

By default VS seems to do some extra kind of implicit restore that can involve encountering .NET Core 1.0 whackiness even when all your packages are for net45 only. It's very annoying. Perhaps it will go away when we move all pr

[2017-09-27 13:45] xenocons opened #3654 "Netcore 2.0.0, Type Providers, FSC Stack Overflow - Assembly Load Infinite Loop"
When compiling using `dotnet`, I am running into a stack overflow exception. It appears to be related to the FSharp.Data.SqlProvider package, but regardless of what a 3rd party library does, I see this as a bug in fsc.exe

I understand that fsharp does not quite yet support type providers in netcore, I hope that this issue can help to work towards it working. Side note, could someone provide instr

[2017-09-27 14:06] auduchinok commented on #3599
Fixed by #3641.

[2017-09-27 14:06] #3599 closed

[2017-09-27 14:51] cartermp commented on #3652
cc @isaacabraham - another to add to #1103?

[2017-09-27 15:25] isaacabraham commented on #3652
@cartermp sure - if someone can create the issue, I'm happy to add to the list - not sure what exactly the original + recommended error messages should be.

[2017-09-27 16:12] abelbraaksma commented on #3623
Is this async-specific? Not so long ago I am sure I have used breakpoints in home-grown computation expressions (though they are hardly ever useful).

[2017-09-27 17:14] KevinRansom commented on #3649
@SvetlanaZj you should try VS2017 community edition or VSCode with Ionide.  They are both quite nice.

[2017-09-27 17:14] abelbraaksma opened #3655 "Running tests with VS2017's test tools"
This is in part more of a question than a bug report. Has anybody ever tried running tests with Visual Studio's test tools?

If I try to run them (i.e. the `FSharp.Core.UnitTest` project), it says there are zero tests. It seems like it tries to find tests in the source, perhaps it doesn't understand F#, or Visual Studio's own test runner doesn't understand NUnit tests to begin with?

Just wonderin

[2017-09-27 17:39] vasily-kirichenko commented on #3649
Try VS Code. If it's too simplistic for your needs, try JetBrains Rider. I suggest to forget about VS 2017 - it's buggy and slow as hell and it's not getting better from update to update. If you truly need VS, try VS 2015 + Visual F# Power Tools addin, this combination is stable and works quite good.

[2017-09-27 18:07] dhwed opened #3656 "With dotnet core sdk F# projects, Visual Studio's NuGet package manager is confused about the version of FSharp.Core"
To reproduce:
[code]

A NuGetBug.fsproj is created:
[code]

Open NuGetBug.fsproj in Visual Studio, right click the project, and 'Manage NuGet Packages...'

![image](https://user-images.githubusercontent.com/10184638/30929304-b1329756-a383-11e7-85f1-ef8af2b027dd.png)

The Solution explorer shows that FSharp.Core 4.2.3 is installed, but the NuGet Package Manager UI shows the installed version of FSh

[2017-09-27 18:11] abelbraaksma commented on #3643
@KevinRansom, yes, that would be great, and thanks for the summary!

But that would be only half way, as still, it would be beneficial to know "from code" what compiler was used (even if it were only to know that running the tests uses the compiler you intended the tests for). Compare, for instance, `phpInfo()` from PHP (and I still remember that after years _not_ using PHP :p ), though PHP is of

[2017-09-27 18:49] SvetlanaZj commented on #3649
Thanks everyone for all your comments. Indeed I fear to use VS2017 since it has become an enormous download and installation for just about everything. So many things need to be loaded, I cannot even keep an overview of all that is offered and needed. I much prefer slim and efficient tools only for the purpose I need. I will have a look at your suggestions. Thanks for replying to me.

[2017-09-27 18:55] #3626 closed

[2017-09-27 19:07] dsyme commented on #3656
@KevinRansom Is there any way we can just make this less magic? I know it was discussed but I can't remember the reason why we do it?

[2017-09-27 19:16] KevinRansom commented on #3656
@dsyme
It's not magic, this way there is no need for the majority of projects to explicitly reference FSharp.Core, or System.ValueTuple.dll

**To disable implicit FSharp.Core reference**:
[code]
**To specify a specific version of the FSharp.Core nuget package**:
[code]
**Similarly for System.ValueTuple.dll**:
[code]

[2017-09-27 19:19] vasily-kirichenko commented on #3649
If you love slim tools, you will love VS Code for sure :)

[2017-09-27 19:19] dsyme commented on #3656
@KevinRansom But why don't we want to make this explicit?  I mean, is it to make project files smaller?  Or easier to shift to newer versions of F#?

[2017-09-27 19:22] dhwed commented on #3656
@KevinRansom Thanks, I can use those to fix my issue.

And you meant:

[code]

Out of curiosity, where is the FSharpCoreImplicitPackageVersion originally defined?

[2017-09-27 19:29] KevinRansom commented on #3656
Simpler project files.  And it doesn't make upgrading F# core harder.

Effectively the project file only needs to express the developer required customizations.  And since all F# projects will need to specify an F# core it is not itself a customization.

Implicit FSharp.Core selection is specified as:
[code]
so we will automatically upgrade the project to the latest FSharp.Core, that matches the F

[2017-09-27 19:31] KevinRansom commented on #3656
@dhwed Copy and past error :-)

It's in: Microsoft.FSharp.NetSdk.targets

https://github.com/Microsoft/visualfsharp/blob/780b6c4ad1e13b3bc60dd2b1589220bf5fc4f601/src/fsharp/FSharp.Build/Microsoft.FSharp.NetSdk.targets#L72

[2017-09-27 19:38] KevinRansom commented on #3654
Pretty sure I know where this bug is and I know the fix.  I didn't know it also impacts TP's but now that I think about, I can see that it would.

[2017-09-27 19:56] dhwed commented on #3656
@KevinRansom Thanks again.

My understanding is that .NET Framework 4.7 includes `System.ValueTuple` in `mscorlib`, so I would not expect `_FrameworkNeedsValueTupleReference` to be true with a `TargetFramework` of `net47`.

Is this a mistake, or does .NET 4.7 actually need a `System.ValueTuple` NuGet package?

&nbsp;

Also, it looks like the real problem here is that the NuGet Package Manager UI d

[2017-09-27 20:17] KevinRansom commented on #3656
@dsyme there was a bug there.  They put the type in mscorlib, but didn't include the shim, or add the reference to the framework.  I believe 4.7.1 is the one where everything is fixed.  Regardless ... most folk are going to be downlevel for quite a while.  Hence the _FrameworkNeedsAValueTuple test.

[2017-09-27 20:22] forki commented on #3656
/cc @matthid

Am 27.09.2017 22:17 schrieb "Kevin Ransom (msft)" <notifications@github.com

[2017-09-27 20:34] dsyme commented on #3655
@abelbraaksma Have you installed the VS test runner for NUnit?

[2017-09-27 20:36] #3649 closed

[2017-09-27 20:37] dsyme commented on #3654
@KevinRansom Yes, this has been blocking loading any TPs into .NET Core.  If you know the fix please let us know what to do...

[2017-09-27 20:40] KevinRansom commented on #3654
I will submit a PR .... it's the same reason that FSI doesn't work on coreclr 2.0.  I have to figure out how to do mutually exclusive things.  But It shouldn't be hard.

[2017-09-27 22:27] rrelyea commented on #3656
@patobeltran - this is the issue you are looking to address (how floating versions show up in NuGet PM UI, right?)

[2017-09-27 22:34] matthid commented on #3656
Yes this issue seems to have been hijacked because of the last by the way sentence. the reported issue seems to be just a ui bug in how to report floating versions.

I'd assume C# has the same problem?
This is actually quite funny because what is the "installed" version? Nobody knows as it could change between showing in ui and running the application?

[2017-09-27 22:42] PatoBeltran commented on #3656
Yes, this issue is the same as https://github.com/NuGet/Home/issues/3788 ... NuGet team is currently working on fixing it. [Here](https://github.com/NuGet/Home/wiki/%5BSpec%5D-NuGet-Build-Integrated-Project-handling-of-floating-versions-and-ranges-in-Visual-Studio-Client) is a link to the spec that gives more info on the proposed solution

[2017-09-27 23:49] dhwed commented on #3656
Thanks everyone; I'm going to go ahead and close this issue since the root cause is already being tracked by the NuGet team.

[2017-09-27 23:49] #3656 closed

[2017-09-28 10:26] forki commented on #3649
@SvetlanaZj Visual Studio Code and Ionide (http://ionide.io/) is a really great alternative to get the latest compiler goodies and also have a nice dev environment that is "free". I really like it and now spend most of my F# development in it. Also @Krzysztof-Cieslak is a very helpful maintainer

[2017-09-28 18:56] varon opened #3660 "Needless allocations on invocation of array of functions"
Using an indexed for loop to iterate through an array of functions and invoke them causes a closure allocation for each invocation.

#### Repro steps

[code]

#### Expected behavior

This shouldn't allocate.

#### Actual behavior

This allocates a closure for each item in the array, whenever runAllClosure is called!
70,000 objects. (7 calls * 1000 size of array)!

This is probably automatically ca

[2017-09-28 19:34] vasily-kirichenko opened #3661 "Compiler internal error if ctor signature differs in sig and impl files"
![image](https://user-images.githubusercontent.com/873919/30986733-209b0ef6-a49d-11e7-87ab-f90682977412.png)

[2017-09-29 01:15] ghost opened #3663 "CoreCLR build script fails on Linux"
Checking out the visualfsharp repo and running `./autogen.sh && ./build.sh coreclr` results in permissions denied issues. It seems the scripts/ folder does not have the execute bit set on required files.

#### URL/versioning issues
Unfortunately, this isn't the end of the problems, after running `chmod +x scripts/dotnet-install.sh` (then re-running ./buiild.sh coreclr) we then get the following:

[2017-09-29 01:46] abelbraaksma commented on #3663
Let me link this to #3645. I don't have an answer, though (I don't have enough knowledge of Linux), but in light of the other post I am trying to make the build experience smoother, and this is certainly related to that.

[2017-09-29 01:47] xenocons commented on #3663
Yes agreed, and thank you! I am working on getting it to build today and will post here once I have more. It may very well be similar issues between the windows build and linux.

[2017-09-29 02:10] abelbraaksma opened #3664 "Questions / solutions to deploying local builds, nightlies, and multiple instances of Visual Studio 2017 (nicknames)"
Motivation for this question: the instructions say you can run `update-vsintegration.cmd` and if you want to restore, you can do so by running a Repair using Visual Studio 2017 setup. After I did that, I found out that several files in the deployed directories were still the local-built assemblies, yet others were rolled back correctly.

So, the goal is to collect some more insights, try them out,

[2017-09-29 04:26] KevinRansom commented on #3664
@abelbraaksma :

We will add the compiler to the VSIX, there needs to be some magic to wire it up to msbuild.  Roslyn does something similar.  The MSI installer does not work for multiple instances and needs to be used only for reference assemblies  dll's.  It breaks our side by side story and the F5/Vsix install.

Nightlies and F5 install only install the VSIX (FSI/Editor/LangageService/ProjectSy

[2017-09-29 05:21] abelbraaksma commented on #3664
Wow, many thanks @KevinRansom, this **helps a lot!!! 💯 🥇 **.

So, essentially this means that, if you start playing around with the code and run some builds and run the VSIX or manual `xcopy` them, the syntax-parser/checker/highlighter *is different from the compiler used when doing a Ctrl-Shift-B build in Visual Studio*.

While that makes sense, for people like me, who like to check upon resolved

[2017-09-29 05:28] KevinRansom commented on #3664
Well ... the trick is to install the vsix ... except that doesn't yet deploy the compiler.  We would have included fsc in the VSIX when we first created it, except wiring it up to msbuild requires some magic to happen, because the VSIX installer puts the package in a directory with a random name and we need to find it.  There is a way to do this, roslyn does it, by writing a breadcrumb file on pac

[2017-09-29 05:33] KevinRansom commented on #3664
@abelbraaksma that directory is the path to FSharp.Core.dll v2.0 portable profile for profile 78.  Off the top of my head: net45+sl+win8 store+win phone 8 + Xamarin.

The name netcore predates the coreclr and in fact refers to the --targetprofile:netcore command line switch which is used to tell the F# compiler that object is in System.Runtime.  Until I remove that requirement ... again other stuf

[2017-09-29 05:35] abelbraaksma commented on #3664
@KevinRansom, that sounds like that, once it is in VSIX, it becomes self-contained, that means, the SDK remains untouched and the VSIX will have all its files in one place? That sounds like an improvement to me (though at the expense of a bigger complexity).

[2017-09-29 05:37] abelbraaksma commented on #3664
Well said! That haunts me everyday!

Tx, I should've known about those profiles. I don't do much .NET-for-mobile development, so it's easy to get confused.

[2017-09-29 05:42] KevinRansom commented on #3664
Actually it will be less complex.
- The compiler will no longer go into the sdk at all ... oh yeah side by side again.
- The MSI will only deploy the profile dll's and earlier versions of fsharp.core into the reference assemblies directory.
- The VSIX will ship with the project and install into a well known location, the compiler/fsi/build tasks/targets files/LanguageService/ProjectFiles and IDE
-

[2017-09-29 05:49] abelbraaksma commented on #3664
Aha. I thought I heard such rumor...

The story on the considered update for the installation and debugging experience sounds awesome, esp. the last line:

which is precisely what I have been struggling with to get right. Just no wish to have to install a whole VM just to do some testing, or do a full repair just because I'm not 100% sure I didn't utterly screw something up in the myriad of files,

[2017-09-29 05:54] KevinRansom commented on #3664
@abelbraaksma we know it is a pain in the nether regions, it's just there is so much to do that this low hanging fruit takes a long time to get done.  @OmarTawfik put the vsix together and @brettfo wired up the nightlies.  Once we add the compiler and refactor the VSIX we will be set.  Well apart from the 900 other things of course :-)

[2017-09-29 06:02] abelbraaksma commented on #3664
@KevinRansom, I totally understand, I wasn't trying to put pressure on you or anybody else in any way. I really appreciate the fast feedback I'm getting in this project 👍 .

For me to do some meaningful work, it is necessary to understand this process properly. My current update for the `update-vsintegration.cmd` will lessen the immediate need for an updated VSIX, as I've added a rollback mechanis

[2017-09-29 06:10] KevinRansom commented on #3664
I didn't interpret it as pressure my friend.  This is a hard repo to deal with, and we fail at some of the easy stuff.  But it really is amazingly better than it was and it is slowly getting better.  The test stuff is what worries me the most.  I have no idea how to deal with it.

[2017-09-29 06:15] abelbraaksma commented on #3664
You mean coverage? Cause I'm working on that, at least for the reporting of it ( these other questions are related to it), or do you mean stability of tests?  Or the complexity of the whole test set and the difficulty of running gui tests?

[2017-09-29 06:17] KevinRansom commented on #3664
Coverage would be good … but we have 3 or 4 different test frameworks.  They have poor integration with VS … are hard to run, hard to debug, and hard to diagnose.

From: Abel Braaksma [mailto:notifications@github.com]
Sent: Thursday, September 28, 2017 11:16 PM
To: Microsoft/visualfsharp <visualfsharp@noreply.github.com>
Cc: Kevin Ransom <Kevin.Ransom@microsoft.com>; Mention <mention@noreply.githu

[2017-09-29 06:28] xenocons commented on #3663
Ooookay, there goes 5 hours of messing around, no actual build success. I am going to have to throw in the towel and wait til someone who knows the build system can answer. I was expecting at the very least this to work:
` dotnet build /p:Configuration=Proto /p:TargetDotnetProfile=coreclr src/fsharp/FSharp.Build-proto/FSharp.Build-proto.fspro` Unfortunately it dies at

[code]

[2017-09-29 06:53] abelbraaksma commented on #3664
Ah, you mean the mix of nunit, fsunit,unquote etc? I don't think they integrate badly (at least not with ncrunch, though there are some issues), but some  tests give problems due to the way they are written. That won't change with a different framework. It's also on my to-do list ;)

[2017-09-29 06:54] KevinRansom commented on #3664
You, me and @brettfo  have them on our todo list :-)

[2017-09-29 06:56] abelbraaksma commented on #3663
seems like some build targets are not found. Not sure what the prerequisites are, but possibly you beef to install some build extensions or SDKs.

[2017-09-29 07:45] KevinRansom commented on #3654
fixed trying to figure out why we cant get the TypeInfo()

[2017-09-29 07:45] #3654 closed

[2017-09-29 09:34] forki commented on #3660
what happens if you don't use the index like:

    for i = 0 to fArr.Length - 1 do
        n <- n + fArr.[0] x

stil allocating?

[2017-09-29 11:51] dsyme commented on #3661
repro code please?

[2017-09-29 12:53] mrakgr opened #3665 "Negative numbers are not being parsed correctly inside records when directly next to ="
[code]
It is a small thing, but the above gives an error. To fix it, the -1 needs to be further apart from the equals character like in the following example.
[code]
This is in F# 4.0. I am not sure if it was fixed in the latest version.

[2017-09-29 12:55] realvictorprm commented on #3665
Happens also in F# Interactive 4.1 :(

Thanks for the report @mrakgr
I think this is a bug but I'm not sure.

[2017-09-29 13:03] mrakgr commented on #3665
It also happens in standard let statements such as `let a = -1`. I'd be interested in knowing whether this should be considered a bug too.

[2017-09-29 13:15] mrakgr commented on #3665
The main reason I am asking is because I am making a language with a syntax very similar to F#'s and I had these exact problems happen to me there, so I went ahead and fixed it just now. I think the grammar is fairly unambiguous in record assignments and let statements so it should not be a problem to remove the necessity of having a whitespace character between `=` and `-`

[2017-09-29 13:18] realvictorprm commented on #3665
@mrakgr problem is here that it's threat as operator (which isn't that wrong)

[2017-09-29 13:44] webwarrior-ws opened #3666 "Request: Shared Project Support"
F# Shared Project type is not available in Visual Studio, unlike C# Shared Project.

Visual Studio 2017 version 15.3.5

See https://bugzilla.xamarin.com/show_bug.cgi?id=40954

[2017-09-29 14:58] Pilchie commented on #3664
BTW - see https://github.com/dotnet/roslyn/tree/master/src/Compilers/Extension (specifically [here](https://github.com/dotnet/roslyn/blob/0e68c3e5efc402ae281ce7e24d33e154f2b31a77/src/Compilers/Extension/CompilerPackage.cs#L49)) for how Roslyn manages this.  There is a VSIX that on-load updates some msbuild extensions in per-user folders to redirect the compiler path.

[2017-09-29 16:04] dsyme commented on #3665
It's by design - '=-' is an operator token

[2017-09-29 16:10] mrakgr commented on #3665
I am not too familiar with lexers as I am using Fparsec for my language, but it was an easy fix for me. I am guessing that since F# is tokenizing operators before the later passes, this would be a very difficult thing to change?

If so, I am happy to let this issue rest.

[2017-09-29 16:15] forki commented on #3665
=- is a valid operator name. So you can "fix it" without making that
operator invalid. That would be a breaking change since people might
already use it.

Am 29.09.2017 18:11 schrieb "mrakgr" <notifications@github.com>:

[2017-09-29 16:21] mrakgr commented on #3665
No, I did not mean suggest that =- should be made invalid. What I did in  `let ... =` and `{...=...; ...=...}` is parse the `=` without considering them as operators, rather they are just pieces of syntax. This was easy to do as I am using parser combinators, but if you are doing tokenization then things are more difficult. I suppose you could try splitting the `=-` token into two in the later sta

[2017-09-29 16:29] forki commented on #3665
Or we keep like now and don't introduce new ambiguities ;-)

Am 29.09.2017 18:21 schrieb "mrakgr" <notifications@github.com>:

[2017-09-29 16:38] mrakgr commented on #3665
It would not introduce ambiguities right now, as far as I can tell. The only thing it might do is block introducing new let forms with different separator keywords, such as `let ... =-`, `let ... =+` or something along those lines. It would only really concern the unary operators immediately following the `=` in let and record statements.

[2017-09-29 16:43] forki commented on #3665
Ok. Let me ask more constructively: what do you think is the gain here?

Am 29.09.2017 18:38 schrieb "mrakgr" <notifications@github.com>:

[2017-09-29 16:45] abelbraaksma opened #3667 "Suggestion to close or update item in Visual Studio UserVoice about refactoring and renaming support"
I believe that this (providing moderate refactoring support, and implementing Power Tools) has been done and been completed. Considering the amount of votes and how Google brings you to that UserVoice issue, perhaps someone could change the status on that ticket, perhaps with someone "officially" summarizing some of the amazing things that have been added so far (rename of folders, drag/drop, rena

[2017-09-29 16:45] mrakgr commented on #3665
A slight syntax improvement for the language.

[2017-09-29 16:50] forki commented on #3665
let x = ref false
let y = { A=!x}

Should work as well? And all operators combined with =?

What about {A=-a=a}?

That will bring interest new ways to improve our error reporting :-)

Am 29.09.2017 18:45 schrieb "mrakgr" <notifications@github.com>:

A slight syntax improvement for the language.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub
<https

[2017-09-29 16:56] Pilchie commented on #3667
Thanks - @cartermp can you take care of this?

[2017-09-29 16:58] mrakgr commented on #3665
Ok, I give.

I think that to make a better argument for my case here I would need to look into the F# compiler and see what is possible and isn't during the parsing stage, and how it interacts with error reporting. Not something I am interested in doing right now, at any rate.

[2017-09-29 16:58] #3665 closed

[2017-09-29 17:54] forki commented on #3665
Sorry. I didn't want to scare you away. But this is really a very difficult
change. Maybe not impossible, but very difficult. And a lot can go wrong.

Am 29.09.2017 18:58 schrieb "mrakgr" <notifications@github.com>:

[2017-09-29 18:58] isaacabraham commented on #3049
@dsyme is there a well-documented fix for this that could be applied to type providers for this? Or is it essentially "you must upgrade to FSharp.Core 4.1"?

[2017-09-29 21:24] abelbraaksma opened #3668 "License text in build tools, SDK files, confusing and license.txt not in RTM setup of build tools"
The current license header in, for instance, `Microsoft.FSharp.NetSdk.targets` reads:

[code]

The previous (F# 4.1) version was:

[code]

In both cases it says ***See License.txt in the project root for license information***. But there is no "project root" in the SDK dir `C:\Program Files (x86)\Microsoft SDKs\F#\4.1\Framework\v4.0` and while a higher dir has `Licenses`, it does not contain this

[2017-09-29 21:27] KevinRansom commented on #3668
yes we should do something about that.

[2017-09-29 21:37] abelbraaksma opened #3669 "Running Micorosoft.FSharp.Core.msi does not repair installation of F# SDK, nor does a Visual Studio 2017 Repair"
This may well be a known issue, but we have several places where we suggest that if you overwrite your local SDK tools with a local built or version of those tools, that you can run Visual Studio 2017 Setup to repair said tools.

This doesn't work. I tested several scenarios and it is repeatable.

### Repro steps

Repro 1

1. Install Visual Studio 2017 + F# on a clean system
2. Check `C:\Program F

[2017-09-29 21:44] KevinRansom commented on #3669
This is a good catch.  And yet another reason to move the Compiler into the vsix.  I am for sure going to look at that this weekend.

From: Abel Braaksma [mailto:notifications@github.com]
Sent: Friday, September 29, 2017 2:37 PM
To: Microsoft/visualfsharp <visualfsharp@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Microsoft/visualfsharp] Running Micorosoft.FSharp.Cor

[2017-09-30 02:08] abelbraaksma commented on #3669
As an aside, there seems to be a bug in responding to the email, the entire email is copied in (also in some other threads), including the links to unsubscribe _you_ from the discussion threads. I'd imagine that's not a good thing...

[2017-09-30 02:44] abelbraaksma opened #3671 "Add ability to backup/repair when clobbering F# SDK, improve error reporting of update-vsintegration.cmd"
The `update-vsintegration.cmd` is currently (probably) little used, because it is so hard to do a rollback. The instruction in `DEVGUIDE.md` say "do a repair is the currently the only way to undo those changes", but as reported in #3669, not even a _Repair_ will save your day.

So, I sat to work to add the following things in this PR:

Mini RFC:

* Add option to backup, aptly named `backup`
* Add

[2017-09-30 04:24] KevinRansom commented on #3654
@xenocons

That type provider is compiled with a desktop FSharp.Core.dll.  To run cross platform on the coreclr it needs to be built with the coreclr version of FSharp.Core.dll.

If you have a repro of the failure using a correctly built tp I will take another look.

Note that the FSharp.Core has a reference to mscorlib, system.core, system and system.numerics.  While the TP references netstandard

[2017-09-30 10:47] dsyme commented on #3049
@isaacabraham My understanding is that the ix is to make the relevant type provider be a cross-targeting type provider. https://github.com/fsprojects/FSharp.TypeProviders.StarterPack#the-providedtypes-api---cross-targeting-type-providers

[2017-09-30 17:11] Dolfik1 commented on #3511
I'm thinking about trying to fix this bug. What could be the problem?

[2017-09-30 18:10] abelbraaksma commented on #3665
Note that this is actually quite consistent. Operators are roughly defined by a set of characters that can be combined to form new operators. Chaining operators together without spaces in-between them is not possible and is not only ambiguous, it non-deterministic:

Suppose you have a hypothetical (but valid!) operator like so:

[code]

Now, you could argue, did I write `12 = -0` (i.e, is `foo` se

[2017-09-30 22:44] cartermp commented on #3667
Yep, I'll get to this next week.

[2017-10-01 14:22] mrakgr commented on #3665
After doing more experimentation on my own language which has very similar syntax to F#, I came to the conclusion that `let ... =-x` would indeed be ambiguous, but not for the reasons stated above. As a background, F# has fairly complex way of disambiguating the unary from binary operators.

For example, in `let f g x = g -x`, the `g` would get inferred as `int -> 'a` and hence the one `-` as a un

[2017-10-01 17:26] piaste commented on #3628
A less drastic solution is to [download the CI builds](https://github.com/Microsoft/visualfsharp/wiki/Using-CI-Builds) :)

[2017-10-01 18:57] ninjarobot opened #3673 "Project generated from .NET Core 2.0 SDK fails to build on mono msbuild with 'CreateManifestResourceNames'"
A project generated with the .NET Core 2.0 SDK `dotnet new console -lang F#` won't build under mono's msbuild, instead getting the error:
/usr/lib/mono/msbuild/15.0/bin/Microsoft.Common.CurrentVersion.targets(2646,7): error MSB4057: The target "CreateManifestResourceNames" does not exist in the project.

This worked with the old SDK, so I suspect there is some different behavior with the bundled F

[2017-10-01 19:58] nosami commented on #3673
It's working fine with Mono 5.4.0.199/ OSX - https://gist.github.com/nosami/67457807ef29fcce3e41e16ffea2c5a4

[2017-10-01 22:20] zaaack commented on #3303
Would this trick working on FSharp.Compiler.Service like fable? I'm trying using FSharp.Data.GraphQL client TP in fable, I update TP in FSharp.Data.GraphQL follow the cross target tutorial, and build successfully in dotnet build, but keeps throwing error for cannot find the provided type in Fable.

[2017-10-01 23:13] enricosada commented on #3632
A way maybe is to copy the test directory in another directory, who is a temp directory for the test.
this can be done in a single place (inside `testConfig` )
So then asking for

[code]

this copy that directory to a temp dir, and so the rest of the test is the same (current dir is in the `cfg`)

this allow run the test in parallel. But nunit has some restriction about test parallelization (usual

[2017-10-02 01:36] cartermp commented on #3666
Dupe of this: https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/6429294-add-support-for-universal-apps-shared-projects

But I'm likely to go through and close out the old uservoice things since we see far more activity in GitHub and the tools are OSS.

[2017-10-02 01:41] cartermp commented on #3673
@ninjarobot can you confirm that this works for you with Mono 5.4.0.199?  I suspect this to be an issue with previous mono based on @nosami's comment

[2017-10-02 09:17] nosami commented on #3673
I used msbuild 15.4 from this commit https://github.com/mono/msbuild/commit/f296e67b

and fsharp/fsharp 4.1.25 with a couple of patches (see https://github.com/mono/mono/blob/2017-06/packaging/MacSDK/fsharp.py to see how F# is packaged for OSX. Branch 2017-06 corresponds to the 15.4 release). I imagine you would need this [patch](https://github.com/mono/mono/blob/2017-06/packaging/MacSDK/patches/f

[2017-10-02 16:24] cartermp commented on #3667
Done.

[2017-10-02 16:24] #3667 closed

[2017-10-02 17:13] abelbraaksma commented on #3667
Great @cartermp, looks good 👍 :)

[2017-10-02 17:38] cartermp commented on #3667
I've been cleaning house a bit in there as well.

[2017-10-02 18:04] cartermp opened #3675 "[From VSTS] Incremental Build error case seems to be getting hit"
This line:

https://github.com/Microsoft/visualfsharp/blob/20573b7decc4989b625a769952c45a4c53fc510a/src/fsharp/vs/IncrementalBuild.fs#L1602

Appears to be getting hit:

* https://developercommunity.visualstudio.com/content/problem/118911/fsharp-syntax-highlighting-broken.html
* https://twitter.com/d3dal3/status/913832012800241664

I've personally never seen this before, but given that different pe

[2017-10-02 18:18] #3671 closed

[2017-10-02 18:39] dsyme commented on #3675
Duplicate of https://github.com/Microsoft/visualfsharp/issues/3545

This is a bad bug - I believe it was because of the mismatch in options for a file in a project and has now been fixed, but I'm not sure

[2017-10-02 18:45] dsyme commented on #3545
@abelbraaksma No, ``build vs`` doesn't install into master.  See the DEVGUIDE.md for how to install the bits after you build them

[2017-10-02 18:49] dsyme commented on #3663
@abelbraaksma I actually think ``build.sh`` is out of date as well -

@KevinRansom Is ``src/buildfromsource.sh`` the better way to do a build on Linux? (though without testing etc.)?

[2017-10-02 18:54] dsyme commented on #3625
@cartermp If this is F# only then this is quite a significant problem.  Can we repro it? And if neccessary add a tracking bug with the debugger team?  F# should not be hit disproportionately here? thanks

[2017-10-02 18:54] dsyme commented on #3618
@abelbraaksma I'm going to close this - it must have been some kind of glitch for you

[2017-10-02 18:54] #3618 closed

[2017-10-02 19:07] cartermp commented on #3625
@gregg-miskelly for FYI.  Is this something we know of for other langs?

[2017-10-02 19:08] #3675 closed

[2017-10-02 19:09] cartermp commented on #3675
#3545 doesn't result in a complete loss of colorization and editor features, does it?  I've seen #3545 before as well, but never with a completely hosed editor.

[2017-10-02 20:03] gregg-miskelly commented on #3625
If you go to the events tab in the diagnostics tools window, do you see a ton of some kind of event? (ex: exceptions)

[2017-10-02 20:24] cartermp opened #3677 "[From 15.5 preview test day] - Newly-added file is not recognized"
Give this test script: https://gist.github.com/cartermp/b19e80506b6a51c54cb9006fcd6eb07b

Step 13 fails because IntelliSense does not pick up the file.  This was working when I tested out #3564, and afterwards when I reviewed the script, so something may have gone awry between after we merged and when we tested a build of 15.5 internally.

[2017-10-02 20:33] KevinRansom commented on #3677
That issue is because of:
https://github.com/Microsoft/visualfsharp/blob/master/vsintegration/src/FSharp.Editor/LanguageService/LanguageService.fs#L418

There was a huge performance degrade for legacy projects with the updated event.  However, that is now fixed and the updated event is in the Project References PR.

https://github.com/KevinRansom/visualfsharp/blob/d887a3b7feb998ccbda584bf458793d47

[2017-10-02 20:35] cartermp commented on #3677
@KevinRansom awesome.  Sounds great.  #3653.

[2017-10-02 20:35] dsyme commented on #3675
@cartermp I think it would.  But either way we need reliable repros and we need to fix these

[2017-10-02 20:55] Alxandr opened #3678 "Add FSharp.Core package reference with IsImplicitlyDefined = true"
I just wrote a tool that extracts `ProjectReference` entries from a msbuild project. It removes any references that is automatically added by the framework by checking for metadata `IsImplicitlyDefined`. This works for C# and VB, but F# does not add this metadata.

Also, looking at [this](https://github.com/Microsoft/visualfsharp/blob/master/src/fsharp/FSharp.Build/Microsoft.FSharp.NetSdk.targets#

[2017-10-02 22:01] auduchinok opened #3679 "No member completion when particular namespaces are opened"
There's no completions for some values members when particular namespaces from ReSharper.SDK are opened. I've encountered this behaviour when opened these namespaces: `JetBrains.DataFlow` and `JetBrains.Util`.

Here's a small repro solution: [NoCompletionRepro.zip](https://github.com/Microsoft/visualfsharp/files/1350544/NoCompletionRepro.zip).
Commenting `open JetBrains.Util` out makes completions

[2017-10-02 22:55] abelbraaksma commented on #3618
@dsyme, it is repeatable with the code of the master branch at the time. But since it's not happening anymore (and it's useless to check historical commits), it's either fixed by accident, or whatever else. Either way, closing is a good thing ;)

[2017-10-02 23:18] KevinRansom commented on #3546
@xenocons does this:    https://github.com/Microsoft/visualfsharp/pull/3658  fix this issue.  I think it should.

[2017-10-03 01:31] abelbraaksma commented on #3671
fixed as proposed

[2017-10-03 07:02] #3107 closed

[2017-10-03 09:36] enricosada opened #3680 "netcoreapp library fails to build"
First create a console app

[code]

and remove the

[code]

so is a library targeting .net core runtime. Now trying to build with

[code]

result in the error

[code]

I checked and the target type is correct ` --target:library`, but the file order list is wrong.

[code]

Btw the same issue happen with a library who contains a file with `[<EntryPoint>], the `AssemblyAttributes.fs` is always create

[2017-10-03 10:39] nosami commented on #3673
I seem to remember @directhex mentioning that Debian/Ubuntu packages need to be built from a tagged release.
We don't have that restriction on OSX.

[2017-10-03 12:27] vasily-kirichenko opened #3681 "Add a user setting to disable code folding"
C# editor has such one on Advanced page.

[2017-10-03 12:34] xenocons commented on #3546
looping back in @haf , hijacked his issue by accident.

[2017-10-03 14:28] dsyme commented on #3680
For .NET Framework we use:
[code]

[2017-10-03 14:33] dsyme commented on #3673
@nosami @ninjarobot I just tagged 4.1.26 in the fsharp repo

[2017-10-03 14:41] enricosada commented on #3680
yes, about best way to fix this:

using `CompileBefore` to place it first, is always better afaik, why use also `CompileAfter` (who generate this issue)? i cannot think a reason atm but maybe there is a scenario where is needed..
If not need, we can just remove the final part of the conditional

[2017-10-03 15:06] dsyme commented on #3680
If not need, we can just remove the final part of the conditional

CompileAfter is only needed for FSharp.Core.  Otherwise we could always use CompileBefore

[2017-10-03 18:09] KevinRansom commented on #3680
@enricosada please use compile before for the assembly attributes.

@dsyme
history shows that the last fcs integration caused the change ... prior to that it was just CompileBefore.

https://github.com/Microsoft/visualfsharp/blame/ff6aec7a32fe438a667b9c9a1b380c408182edb2/src/fsharp/FSharp.Build/Microsoft.FSharp.targets#L307

I wonder why the fcs repo had this change?

Kevin

[2017-10-03 18:12] enricosada commented on #3680
https://github.com/fsharp/fsharp/commit/13c90698e0f6e8feb3443aa9a91a5b26183cdfe9

[2017-10-03 18:33] enricosada commented on #3680
@KevinRansom sure.

i tried to follow the history, seems was added by https://github.com/fsharp/fsharp/commit/948e2c78e4dec774e07b82adfd8f5c240adfb621

diff https://github.com/fsharp/fsharp/commit/948e2c78e4dec774e07b82adfd8f5c240adfb621#diff-49ce6451b286088fc986cb94c6e9abab

[2017-10-03 18:35] enricosada commented on #3680
The way seems to be in same diff, removed code:

[code]

so seems that was for avoid do ReorderCompileItems, without the FSharp.Core errors

[2017-10-03 18:49] KevinRansom commented on #3680
Cripes ... that's a bit interesting

what is it about the file that impacts the fsharp.core build.  It just has standard framework types in it.

Why does fsharp.core need it built at the end?

[2017-10-03 19:07] auduchinok opened #3685 "Possible overloads errors ranges are trimmed"
When getting type check errors, possible overloads are shown as errors with trimmed ranges. What is the purpose of the trimming?
For me it looks like a bug as related errors should have the same range as the main one. Disabling trimming in code below makes producing correct error ranges.

https://github.com/Microsoft/visualfsharp/blob/841dc2c9b1d541b0f71dd0ce4102dc0c2090c29d/src/fsharp/symbols/Sym

[2017-10-03 21:06] dsyme commented on #3685
It was probably to stop the "PossibleOverload" error being chosen as the one to show in a mouse-hover error text

[2017-10-03 21:08] dsyme commented on #3680
FSharp.Core needs it at the end because the relevant types like "unit" don't exist at the start of the compilation

[2017-10-03 22:12] dsyme commented on #3679
@auduchinok Any chance you could put together a failing test under ``tests\service``?  That would make it much easier to debug this.

[2017-10-03 22:13] #3374 closed

[2017-10-04 00:12] enricosada commented on #3680
I can add a property to choose behaviour

`TargetFrameworkMonikerAssemblyAttributesAtEnd` => true/false

Something like that. by default is false, and put that at start (where should be usually).
the fsharp.core fsproj can just set that property to true.

can be ok?

[2017-10-04 00:20] dsyme commented on #3680
@enricosada I suppose so.  I hadn't considered the strange case of having a library with a ``[<EntryPoint>]``

[2017-10-04 00:24] KevinRansom commented on #3680
@enricosada the name is fine.

[2017-10-04 01:16] dsyme opened #3689 "Bad code generation for resource"
@brettfo There seems to be a problem with resource generation

Building `tests\projects\Sample_VS2012_FSharp_ConsoleApp_net45_with_resource`` using

    cd tests\projects\Sample_VS2012_FSharp_ConsoleApp_net45_with_resource
    msbuild /p:FSharpTargetsPath=C:\GitHub\dsyme\visualfsharp\release\net40\bin\Microsoft.FSharp.Targets

which has
[code]

Gives multiple bad source files such as ``obj\Debug\R

[2017-10-04 01:19] dsyme commented on #3689
I see this in ``Fsc.fs`` but I don't know it's generating a correct module name
[code]

[2017-10-04 01:26] dsyme commented on #3689
Fix is here : https://github.com/Microsoft/visualfsharp/pull/3690

[2017-10-04 01:59] #3689 closed

[2017-10-04 02:07] dsyme commented on #3689
@brettfo Please do a post-review on this and check if the same problem occurs anywhere else?  Also review the testing of the resource code generation please, thx

[2017-10-04 11:30] abelbraaksma opened #3692 "Raise a warning if an extension method is ignored"
Every [now](https://stackoverflow.com/questions/45363232/overriding-static-properties-in-f-with-extension-methods) and then this pops up again. Since it confuses users massively, even seasoned programmers, I suggest we raise a warning if an extension method is ignored (that is, if it has an intrinsic method on the original type).

Suggested text to be some variant of:

To raise a warning was sugge

[2017-10-04 13:38] gusty commented on #3692
Thanks @abelbraaksma for taking the time to materialize the suggestion of the warning.

Regarding [your comments](https://github.com/Microsoft/visualfsharp/pull/3582#issuecomment-334151995)

Well, if a compiler cannot detect it, how can it possibly emits this warning?

I partially agree, certainly breaking one single method is not the same breaking change as changing the overload resolution of eve

[2017-10-04 13:56] abelbraaksma commented on #3692
It's about the word "defective". When something is a defect, a compiler can raise an error. If it is something that is _maybe_ defective, the compiler can issue a warning. The programmer can then make a decision to ignore the warning, or add a `#nowarn` to the code, or fix the code if it is indeed a defect.

Though it'd be interesting how this warning should fair with referenced libraries. The sam

[2017-10-04 13:58] abelbraaksma commented on #3692
Certainly! But we should gauge what others at the F# team think of this, then we could spend some time in coming up with a proposal or RFC. I personally think new syntax is a better approach and easier to drive forward, but that doesn't mean we shouldn't look into a way to make this work without new syntax.

[2017-10-04 14:20] abelbraaksma commented on #740
Tested this today again with the VS2017 Enterprise RTM release. It works, no need to reopen. Tx!

[2017-10-04 14:26] dsyme commented on #3692
We are all "the F# team" :) Especially when it comes to the language design.

We very, very rarely add methods to FSharp.Core.  (.NET is a different matter) But if a good warning were implemented I think it would solve the problem.

[2017-10-04 14:27] dsyme commented on #740
@abelbraaksma Thank you so much!

[2017-10-04 14:37] abelbraaksma commented on #3692
@dsyme, do you mean _methods on the type_ as opposed to _extension methods_? Because from F# 4.0 to F# 4.1 we saw quite a few new methods in `Seq`, `List` and `Array`, the `Result` type was added and `Option` was extended. I'm sure there are more examples. And some of these broke my existing codebase when trying to merge to F# 4.1, simply because I had my own versions of these methods, leading to

[2017-10-04 14:40] dsyme commented on #3692
Yes

[2017-10-04 19:09] dhwed opened #3695 "Visual Studio crash (FailFast) when using new style fsproj files"
I converted a couple of my project files over to the new fsproj format, and now I'm getting this crash every time I open Visual Studio:

[code]

I'm using a vsix compiled from the latest commit (d39cba7b0fe4247f05f4065927dc4868ec34cb6a), and this happens both on VS 15.3 and VS 15.4 preview 4.

[2017-10-04 19:28] vasily-kirichenko commented on #3695
I don’t think Visual F# Tools support new style projects (yet?)

[2017-10-04 20:00] cartermp commented on #3695
The tools in 15.3 and 15.4 do not have proper support for .NET Core SDK-based projects.  This is something targeted for 15.5, which there aren't public builds of yet.

That said, the stack trace there looks problematic, and we haven't seen that happen before.  BlockStructure was causing a nullreference exception in the Microsoft.CodeAnalysis layer in 15.3 and 15.4.  @KevinRansom @Pilchie for FYI

[2017-10-04 20:12] enricosada opened #3696 "fsc netcore crash (stackoverflow), .net full works"
Trying to build with .net core sdk 2.0 `fsc`, crash with stackoverflow
as a note, using .net full build correctly

#### Repro steps

1. clone this PR at that commit https://github.com/lefthandedgoat/canopy/pull/386/commits/15b075689262fa9f04cc44fffe0784ddb699b915
2. `build Build` (may fail, but will restore paket packages anyway)
3. `dotnet restore src\canopy.integration.netstandard`

now, if i do

[2017-10-04 21:36] jmarolf opened #3697 "Pull out Templates from MSI and Create Desktop Templates VSIX"
This is a tracking bug to sync with the setup + templates PR in VSTS.

[2017-10-04 21:38] gusty commented on #3692
Yes, definitely that's the best approach.

No, it's not the same problem if you invert the situation. Let's think about both scenarios:

**a) Methods in the type have priority over methods defined as extensions (current situation)**

As I said already, this is a source of breaking changes. Dev A develops a library with Type A, then Dev B uses that library and creates extension method B for type A.

[2017-10-04 22:19] dsyme commented on #3692
@gutsy  I think the C# team chose the first option for some of these additional reasons

* If you make a reflective call, and it succeeds, you expect it to call the same thing as the static version of a call

* They were nervous about security or code review problems caused by adding an extension method for an existing well known method.

* They were nervous about whether adding a "using" changed

[2017-10-04 22:21] dsyme commented on #3696
I think this is a duplicate of #3303 ?

[2017-10-04 23:48] KevinRansom commented on #3696
Fixed:  https://github.com/Microsoft/visualfsharp/pull/3658

[2017-10-05 00:28] cartermp commented on #3696
@KevinRansom this is the fix which was merged into the CLI's 15.5 branch, correct?

[2017-10-05 00:37] KevinRansom commented on #3696
No ... we should do a new merge though

[2017-10-05 07:21] alex-bogomaz opened #3698 "Different interpretaiton of specific quotation in VS2017 vs VS2015"
Following quotation expression is parsed/interpreted/decompiled differently across F# 4.0 and F# 4.1:
[code]
#### Repro steps
1. In VS 2015 FSI outcome is the following:
[code]
2. In VS 2017:
[code]
#### Expected behavior
Should be the same, and it seems that in VS2017 quotation is interpreted incorrectly - tuple ```(a, b)``` is missing - could you please clarify this?

Found this when compiling h

[2017-10-05 08:57] enricosada commented on #3696
Thanks!

[2017-10-05 10:33] auduchinok commented on #3685
I'd like to improve it on the FCS side. I see two ways to do it:
* simplify overloads error messages and merge related errors into the main one
* make FCS return proper ranges so it would be up to clients what to do with them (a field telling that error is related may be added)

Is there any other cases besides possible overloads/constraints where related errors are produced?

[2017-10-05 11:37] dsyme commented on #3685
I don't think so but check the code.  However I think it's a useful concept in general and rolling into one error message would be hard

I agree with these two - letting the IDE choose how to handle things should be an option.

[2017-10-05 11:40] dsyme commented on #3698
I think we regard this as a bug fix, and expect historical consumers of quotations to be able to process either form

[2017-10-05 12:41] auduchinok opened #3699 "Completion in inherit ctor doesn't include primary ctor params"
[code]

Filling an issue so don't I forget about it. I'll provide a failing test and, probably a fix, later.

[2017-10-05 14:07] dsyme commented on #3699
I think there's already an issue on this.  It seems likely it's a problem with the scope ranges coming from the type checker, but I'm not certain.

[2017-10-06 14:56] dsyme opened #3701 "Referencing a type provider requires IReflectableType (when running compiler with .NET Core)"
See https://github.com/Microsoft/visualfsharp/pull/3658#issuecomment-334773415

Basically, when the F# compiler runs on .NET CoreApp 2.0 it effectively requires that all System.Type have an implementation of IReflectableTYpe.  But we have no reasonable way to implement that interface. That requirement seems to be coming from uses of GetTypeInfo in FSharp.Core.dll (though hopefully not anywhere els

[2017-10-06 14:58] dsyme commented on #3701
It is possible that the fix is to avoid the use of GetTypeInfo in FSHarp.Core.

If so, that will almost certainly require making a .NET Standard 2.0 version of FSharp.Core (since AFAIK GetTypeInfo is a legacy thing from .NET Standard 1.x)

[2017-10-06 17:23] halcwb commented on #2705
What is the status of this feature request? This is much needed. I am going to revert to a previous VS if this isn't fixed soon ;-(

[2017-10-06 22:33] KevinRansom commented on #3701
@dsyme it's urgency soon.  It's not a regression, this has never worked on coreclr, it's a missing feature.

[2017-10-07 02:07] cartermp opened #3703 "[From VSTS] Semantic highlighting is off for precision formatting"
![format-bad](https://user-images.githubusercontent.com/6309070/31303834-83e2de44-aac9-11e7-8f69-3d5f654db830.PNG)

Note that the first line loses the teal coloring for `%.`.  This seems to be caused when `.` is encountered.

[2017-10-07 02:57] cartermp commented on #539
@KevinRansom Is this something you're considering in the .NET Core FSI work you'll be doing?

[2017-10-07 02:59] cartermp commented on #2432
Closing old discussion; this should really go into the RFC repo as a pull request.

[2017-10-07 02:59] #2432 closed

[2017-10-07 03:00] cartermp commented on #3455
Closing old discussion, as this didn't seem to arrive to a place of definitive action

[2017-10-07 03:00] #3455 closed

[2017-10-07 03:02] cartermp commented on #3507
Closing old discussion

[2017-10-07 03:02] #3507 closed

[2017-10-07 03:02] #3407 closed

[2017-10-07 03:06] cartermp commented on #2831
This isn't something I've been able to reproduce for quite a long time.  @Huqin-China, please re-open if you are still seeing this on 15.3.5 or higher.

[2017-10-07 03:06] #2831 closed

[2017-10-07 03:15] cartermp commented on #3306
This appears fixed on all counts with 15.3.5.

![fixed-1](https://user-images.githubusercontent.com/6309070/31304268-fa80fa1e-aad2-11e7-819a-aea12e9566ea.PNG)

![fixed-2](https://user-images.githubusercontent.com/6309070/31304269-fd669c66-aad2-11e7-8fb6-657dab191dae.PNG)

![fixed-3](https://user-images.githubusercontent.com/6309070/31304270-ff7cfbee-aad2-11e7-82bb-3b8b68465213.PNG)

[2017-10-07 03:15] #3306 closed

[2017-10-07 03:16] cartermp commented on #3404
@abelbraaksma This seems to be fixed with #3601.  Can you verify this?

[2017-10-07 03:18] cartermp commented on #3347
This issue seems to be mitigated.  You can still get a lightbulb which will remove it, but `Exceptions` is not greyed out anymore on 15.5.3.

[2017-10-07 04:05] cartermp commented on #3210
For 15.3.5:

1. Signature Help is show after typing `(`,
2. Signature Help is _not_ shown after typing `,` afterwards.

[2017-10-07 07:37] tldrlol opened #3704 "Debugger info is incorrect for shadowed bindings"
#### Repro steps

On a windows 10, fresh VS2017 install

[code]

![illustrated](https://i.imgur.com/YmoubfN.png)

#### Expected behavior

Tooltip will display `x` value of shadowing binding.

#### Actual behavior

Tooltip displays `x` value of shadowed binding.

[2017-10-07 07:54] realvictorprm commented on #3704
I know this issue..   It should behave the way around.

Am 07.10.2017 09:37 schrieb "Daniel Kirillov" <notifications@github.com>:

[2017-10-07 08:08] drvink commented on #3704
Adding refs: possibly same bug as #3141, possibly fixed in #3561

And some pretty pictures, just in case it's not the same bug:

vs2015:

![vs2015-debug](https://user-images.githubusercontent.com/4315061/31306019-fef761d2-ab81-11e7-86a9-549c0f1e9031.png)

vs2017.3:

![vs2017-debug](https://user-images.githubusercontent.com/4315061/31306022-0c355c50-ab82-11e7-9930-5b2f17540095.png)

[2017-10-07 08:14] vasily-kirichenko commented on #3704
Rider has similar (but not the same on .NET Core projects) issues, I created a bug report https://youtrack.jetbrains.com/issue/RIDER-10227

/cc @auduchinok

[2017-10-07 08:28] vasily-kirichenko commented on #3704
.NET Core 2.0 in Ionide:

![1](https://user-images.githubusercontent.com/873919/31306159-a27d3582-ab52-11e7-99f3-84072b8f12c6.gif)

[2017-10-07 09:11] ForNeVeR commented on #2406
@dsyme @7sharp9 @matthid I'd like to discuss the current difficulties in generative type provider support for .NET Core.

I am still new in the land of type providers, so I could ask really silly things, but could you please give me the directions? Please correct me if I'm saying anything wrong.

We've done a small research with @Dolfik1 on that matter, and have came to the following conclusions.

[2017-10-07 09:55] tldrlol opened #3705 "hidden variable names leak into normal namespace"
[code]

The above snippet compiles, runs and works (as expected). I imagine this is an oversight, buggy behavior that was not intended to happen. Specifically, being able to alias the arguments denoted by the ignore pattern with `_arg[n]` syntax.

On the plus side, tooling (vanilla VS2017) does not offer Intellisense or anything of the sort in this situation.

[2017-10-07 09:57] tldrlol commented on #3705
Apologies, I should clarify.

While they do not appear in the completion lists, hovering over them reveals type information as normal.

[2017-10-07 10:00] Krzysztof-Cieslak commented on #3705
I can report same in VSCode - no intellisense, tooltips are working, finding usages is working

![image](https://user-images.githubusercontent.com/5427083/31306764-e369f0d6-ab56-11e7-9871-ed33e39fbca0.png)

![image](https://user-images.githubusercontent.com/5427083/31306772-1ef27416-ab57-11e7-9b2c-4babea718141.png)

[2017-10-07 10:03] tldrlol commented on #3705
I had to calm down before posting this, because this was too funny also: 😄

I spoke too soon.

![tooling-help](https://i.imgur.com/qD9ylAT.png)

[2017-10-07 15:26] Dolfik1 commented on #2406
I found the [System.Reflection.Metadata](https://www.nuget.org/packages/System.Reflection.Metadata) library, it seems that we can generate assemblies using this library only.

[2017-10-07 15:26] vasily-kirichenko opened #3707 "Error highlighting takes 12 seconds to update"
![1](https://user-images.githubusercontent.com/873919/31309313-d50dcafe-ab8c-11e7-8f80-ff53f1a5a97a.gif)

[2017-10-07 15:43] vasily-kirichenko commented on #3707
Ionide is able to do the same job in about 3 seconds:

![1](https://user-images.githubusercontent.com/873919/31309468-5f674c50-ab8f-11e7-9118-ab7a002198d5.gif)

[2017-10-07 16:08] vasily-kirichenko commented on #3707
Rider is even faster:

![1](https://user-images.githubusercontent.com/873919/31309675-e7e4e940-ab92-11e7-86b8-b3024c04f1ed.gif)

[2017-10-07 16:27] vasily-kirichenko commented on #3707
CPU is hardly loaded at all:

![1](https://user-images.githubusercontent.com/873919/31309833-8d078836-ab95-11e7-88d7-ea57bc5d4ebe.gif)

[2017-10-07 17:34] dsyme commented on #3707
Yeah, it's not CPU perf. It's sure to be a combination of Roslyn choices, ordering of analyzers, ordering of which files are updated, and other delays.

You might also want to check if turning off in-memory project references makes a difference

[2017-10-07 17:54] vasily-kirichenko commented on #3707
12 seconds was with this settings:

![image](https://user-images.githubusercontent.com/873919/31310478-c026cec8-aba1-11e7-925b-d364562a2645.png)

[2017-10-07 18:01] vasily-kirichenko commented on #3707
OK, switching off Simplify Name analyzer makes error highlighting work as fast as Ionide (~3 seconds).

@dsyme I'm afraid you added some `Async.Sleep`s in the analyzer loop, it may cause this behavior (no CPU load, long delay).

[2017-10-07 18:42] vasily-kirichenko commented on #3707
https://github.com/Microsoft/visualfsharp/pull/3708

[2017-10-07 18:44] vasily-kirichenko commented on #3707
I think it's clear now that Simplify Name analyzer is executed _before_ document diagnostics analyzer.

[2017-10-07 19:20] auduchinok commented on #3679
@dsyme Sure, I'll try to make such a test. The bad thing is I have this behaviour reproduced only when referencing ReSharper.SDK nuget package which is rather a big thing to restore on a test run.
A small note: I've seen this bug in FCS ~14.x+ only, so it could be some recent regression.

[2017-10-07 19:25] auduchinok opened #3709 "Wrong completion items for location"
https://github.com/YaccConstructor/YaccConstructor/blob/67b6a137f8fc1d4d116316e15fd497227fc32c5a/src/RIGLRGenerator/RIGLRGenerator.fs#L23
When trigger completion inside `Split` identifier, FCS gives members from Array type instead of string.

[2017-10-07 19:52] vasily-kirichenko commented on #3709
No bug:
[code]

Bug:
[code]
Looks like it uses the type of resulting `args` instead of the string `args` if the names are equal.

[2017-10-08 00:36] Disco-Dave commented on #3303
Has anyone been able to get this to work with FSharp.Data.TypeProviders to connect to a SQL Server database yet?

[2017-10-08 03:52] abelbraaksma commented on #3404
I'll be on a holiday in two days, but I'll try to squeeze it in before that.

[2017-10-08 10:00] goswinr opened #3712 "Why is TextWriter called twice in fprintfn?"
To me it seems that using the function` fprintfn (textWriter: System.IO.TextWriter) fmt ` first calls
`textWriter.Write(theFormatedString)`
and then
`textWriter.WriteLine()`

wouldn't it be more idiomatic to just call ` textWriter.WriteLine(theFormatedString)`  once?

The `WriteLine(somestring`)  implementation on TextWriter seem to be not used at all.

My current implementation of TextWriter prin

[2017-10-08 10:03] forki commented on #3712
Mhm I am not sure about the reason, but a quick way to learn more about it
is to send a Pull request which changes the call. Then we will see if it
breaks something.

Am 08.10.2017 12:00 schrieb "Goswin" <notifications@github.com>:

[2017-10-08 17:12] abelbraaksma commented on #2406
While I can't answer your questions (@dsyme is much better suited for that) i doubt a dependency and third party libraries would be accepted, as that would mean that FSharp.Core will get a dependency outside of BCL. Though I'm  glad someone is looking into this, it's a much needed requirement ;).

[2017-10-09 05:33] ForNeVeR commented on #2406
@abelbraaksma if that's the biggest issue, we could solve that in one way or another.

One option is to either port or rewrite in F# the corresponding parts of Mono.Cecil/Reflection and/or System.Reflection.Metadata.

But, if I'm following Don correctly, in [this](https://github.com/fsprojects/FSharp.TypeProviders.SDK/issues/82#issuecomment-334952830) comment he suggests us to use the `ILReader` /

[2017-10-09 05:53] realvictorprm commented on #2406
@Fornever so far I see the situation we should pick everything existing up. Still though, dependencies are only being added to the F # compiler, not F# Core (how did this come up?).

Your conclusion make sense to me. We should focus on fixing type providers...

I hope to see a response soon from @dsyme (as soon as he can spend time for our questions :) )

[2017-10-09 08:20] varon commented on #3660
@forki - still allocates.

[2017-10-09 09:03] eriawan opened #3713 "Running "build.cmd" and "build.cmd vs" always having build failure"
Running "build.cmd" and "build.cmd vs" always having build failure. I have tried to follow instruction in this [DEVGUIDE](https://github.com/Microsoft/visualfsharp/blob/master/DEVGUIDE.md), but the build always failed.

#### Repro steps

Provide the steps required to reproduce the problem

Run one of these:
1. Run `build.cmd`
2. Run `build.cmd vs`
3. Run `build.cmd vs debug`

#### Expected behavio

[2017-10-09 11:25] vasily-kirichenko opened #3714 ""Remove/rename unused declaration" code fix hangs forever"
![image](https://user-images.githubusercontent.com/873919/31336005-9cea97a2-acfd-11e7-9109-f1ac9200a31c.png)

[2017-10-09 11:37] theprash commented on #3681
I would like to disable outlining by default to remove the visual clutter it creates.

Note that it can be disabled manually per opened file with the "Stop Outlining" command.

[2017-10-09 12:08] theprash commented on #2634
This is an important missing piece for me. Note that [the VFPT feature](http://fsprojects.github.io/VisualFSharpPowerTools/quickinfopanel.html) is actually advertised as showing errors, not types, but on my machine it shows types and not errors, and that's what I find the most useful.  However, this means I need reach over to the mouse and hover over errors. Ideally, both types and errors should b

[2017-10-09 12:40] dsyme commented on #3707
Yes. Note that SimplifyName is off by default, see this:
[code]

[2017-10-09 12:42] dsyme commented on #3707
@vasily-kirichenko My understanding is that removing the delays doesn't solve this problem, since my understanding is that the SimplifyName analysis process can take considerable time (it makes many FCS requests) - at least adding a few seconds.  Fundamentally we need Roslyn to support high-priority analyzers

[2017-10-09 12:43] dsyme commented on #3679
A small note: I've seen this bug in FCS ~14.x+ only, so it could be some recent regression.

Yeah, I figured it would require a big package.  Still, once we have a PR for the failing test we should be able to determine the underlying problem and create a more isolated repro

[2017-10-09 13:27] dsyme commented on #2406
@ForNeVeR Yes, your analysis is correct

Yes, I'm wondering if we should just go down that route.  There are pros and cons but it seems like a good option to be free of dependencies.

[2017-10-09 13:43] dsyme commented on #3660
@varon I agree this is a bug.  We are getting intermediate code roughly equivalent to ``InvokeFast2((fun fArr i -> fArr.[i]),fArr,i,x)``. I don't understand why as yet

[2017-10-09 13:46] dsyme commented on #3660
THis also avoids the allocations:
[code]

[2017-10-09 13:47] dsyme commented on #3713
@eriawan Did you do ``build proto`` or ``git clean -xfd`` before building?

[2017-10-09 14:15] ForNeVeR commented on #2406
Alright, then. We have the following plan.

@Dolfik1 is now implementing [a prototype](https://github.com/Dolfik1/AssemblyGenerator) of a `Assembly -> byte[]` function that'll be able to turn any `Assembly` into a byte array using `System.Reflection.Metadata` package. I'll work with him to turn that prototype into something useful for type providers.

I propose we first try to convert any simple t

[2017-10-09 14:49] eriawan commented on #3713
@dsyme
I have done `git clean -xfd` and still have the same errors.
Do I have to do `build proto` first before `build` or `build vs debug`?

[2017-10-09 14:51] dsyme commented on #3713
@eriawan No, it should just work. Could you paste a full log for a build after ``git clean -xfd`` please?

[2017-10-09 14:54] eriawan commented on #3713
ok, I'll try again now.

[2017-10-09 15:41] eriawan commented on #3713
@dsyme
it builds fine now after I ran `git clean -xfd`.
But I have to use `Developer command prompt for Visual Studio 2017` with Administrator rights in order to build successfully.

Is running build under Administrator right necessary?

[2017-10-09 15:42] forki commented on #3713
Yes

Am 09.10.2017 17:41 schrieb "Eriawan Kusumawardhono" <
notifications@github.com>:

[2017-10-09 15:46] eriawan commented on #3713
@forki thanks!

IMHO, the DEVGUIDE.md needs to be clarified with these steps then.

[2017-10-09 16:23] abelbraaksma commented on #3692
I'd love to agree with you, and wanted to, really, but given it more thought I think it is not as obvious as you explain it (great explanation, though!).

An instance method always has precedence over an extension method (see: [Closer is Better by Eric Lippert](https://ericlippert.com/2013/12/23/closer-is-better/)).

You state that it makes sense to let extension methods override instance methods.

[2017-10-09 16:30] eriawan commented on #3713
Thanks @dsyme and @forki for the feedback! I can build successfully now.

Don, could I propose an update to DEVGUIDE,md?

[2017-10-09 16:30] #3713 closed

[2017-10-09 16:40] abelbraaksma commented on #3713
The administrator right issue is mentioned there somewhere, but could certainly be more prominent. I have recently updated the script for `update-vsintegration.cmd` to give a meaningful error when those rights aren't there. I'm planning to do that for the other scripts as well, but it may take a short while as I'll be on a holiday first.

[2017-10-09 16:42] abelbraaksma commented on #3713
Note that the scripts should work in a normal prompt with administrator rights. If they don't, it's a bug. I believe there may be an issue with locating the correct location for the VS tools. It's also on my to-do list.

[2017-10-09 16:48] abelbraaksma commented on #2406
My bad, sorry for the fog. As @dsyme stated:

Which moots my comment ;).

[2017-10-09 17:26] KevinRansom commented on #2406
@Dolfik1 can you keep me in the loop on the results of your prototype ... it is an interesting proposal.

[2017-10-09 17:30] tldrlol opened #3715 "Inconsistency in Constructor tooltips"
Windows 10, vanilla VS 2017 install.

Given this (non-compiling code):

[code]

There is an inconsistency between the tooltips generated over the `System.String` line, and the one for `Foo`.

To illustrate:

![String c'tor tooltip](https://i.imgur.com/aruoQsM.png)

![Foo c'tor tooltip](https://i.imgur.com/o61fe1f.png)

[2017-10-09 17:34] ReedCopsey commented on #3715
Given that we can now treat ctor as a function (ie: you can pipe into a ctor, etc), it seems like String should definitely be  `new : char [] -> String` and similar in order to make sense from a discoverability POV.

[2017-10-09 17:39] matthid commented on #3715
Just to add, this would probably fix some open bugs in [FSharp.Formatting](https://github.com/fsprojects/FSharp.Formatting) as well

[2017-10-09 17:57] Dolfik1 commented on #2406
@KevinRansom Of course. At the moment we have been able to generate a basic assembly, it is not yet valid, but at least dotPeek shows that all the metadata and the IL code are in place.
Right now, me and @ForNeVeR trying to fix validation errors.

![default](https://user-images.githubusercontent.com/5128766/31351363-772a4c52-ad33-11e7-9a39-5db1fad4869f.png)

[2017-10-09 18:27] matthid commented on #3692
I have to say that I support this suggestion.
Obviously, changing priorities is not an option at this point as the decision has been already made.

Though I have to agree that there is something strange about the current situation. From a F# Language standpoint it kind of makes sense to "hide" existing stuff (just like operators for example) in order to provide a more functional API on top. Thinki

[2017-10-09 18:54] saul commented on #3707
@dsyme how does C#/VB inform the IDE of IntelliSense errors? I've always thought we're not using the correct mechanism.

[2017-10-09 19:14] abelbraaksma commented on #3692
@Mattis, an error? No. A warning? Yes. It can just as well mean that both the extension and original method are fine (I.e. an `Option.withDefault` in a library to be used in pre 4.1 and 4.1 onwards). With an error,  such 'soft' overloads would make using such library impossible.

So I strongly suggest we make it a warning.

[2017-10-09 19:22] gutsy commented on #3692
@gusty There was a comment up there for you, but they accidentally tagged me.

[2017-10-09 19:52] cartermp opened #3716 "[From VSTS] Display None as "None" instead of "null" in Data Tips"
From here: https://developercommunity.visualstudio.com/content/problem/44030/f-debugging-option-types-returns-null.html

The behavior described is also the same in VS2015 Update 3:

![null-vs2015](https://user-images.githubusercontent.com/6309070/31355797-866c58d8-acf0-11e7-859f-d3c77455cb80.PNG)

So this is not a regression.

[2017-10-09 19:55] matthid commented on #3692
@abelbraaksma Yes let me clarify, I never actually said the compiler should emit an error, yes it needs to be a warning.
I said such a situation "indicates" a (programming) error and therefore the compiler should emit a warning (because the compiler cannot actually know that it is an error).

Sorry for being a bit unspecific about that (It's basically what I meant with "I support this suggestion")

[2017-10-09 21:11] cartermp opened #3717 "Completion commits on brackets and pipes"
Typing the following:

[code]

Will bring up `log10` in completion (which is perfectly fine).  However, Typing `]` to finish to expression will commit `log10` instead of `10`.  Same with `|` if this were an array.  This can be annoying if you're doing data sciency/heavily numeric tasks.

[2017-10-09 21:26] dsyme commented on #3713
Yes, of course, please do

[2017-10-09 21:27] dsyme commented on #3715
Yes, I agree

[2017-10-09 22:05] dsyme commented on #3716
We could only do this with our own debugger engine which was aware of F# types

[2017-10-09 22:06] dsyme commented on #3707
@saul I don't the details. I assume we're using the right mechanism considering we're sitting on top of Roslyn

[2017-10-09 22:08] cartermp commented on #3716
@gregg-miskelly just to check - is this another case of "F# needs its own EE"?

[2017-10-09 22:08] dsyme commented on #2406
@ForNeVeR I'm not sure it's necessary to do a prototype via System.Reflection.Metadata.  I think we should just add the appropriate IL generator and binary writer to ProvidedTypes.fs https://github.com/fsprojects/FSharp.TypeProviders.SDK/tree/master/src

[2017-10-09 22:10] gregg-miskelly commented on #3716
Correct

[2017-10-09 22:22] gusty commented on #3692
Thanks @gutsy however I'm subscribed to the post and I receive it in any case.

@dsyme Thanks for giving some context regarding the historical reasons why we have this situation right now.

I have some comments about those reasons, probably you have the same remarks:

Regarding the reflective call I think [you did a breaking change in F# 4.1](https://github.com/Microsoft/visualfsharp/issues/1296)

[2017-10-09 22:27] cartermp commented on #3716
link #2544

[2017-10-09 22:36] matthid commented on #3692
@dsyme It really is worrying how often @gusty has been broken in _practice_ and in the past because of this issue. And he definitely has an argument here that he will probably be broken in the future just because his libraries seem to do a lot of core stuff, which eventually get added with different semantics to `FSharp.Core` (as the past has shown).

A warning is the absolute minimum to get into

[2017-10-09 22:39] matthid commented on #3716
And https://stackoverflow.com/questions/41337310/f-method-returns-null-instead-of-option

[2017-10-10 00:36] dsyme commented on #3701
This has been fixed via recent work in the Type Provider SDK https://github.com/fsprojects/FSharp.TypeProviders.SDK/

[2017-10-10 00:36] #3701 closed

[2017-10-10 00:57] dsyme commented on #2406
@KevinRansom asked offline

Yeah it’s a good question.

First the usual background…

Historically generative type providers were only introduced to allow other code generators (e.g. C# compiler, or svcgen.exe etc) to be hosted as TPs, with a thin erasing wrapper.  In that scenario “some other tool” did the codegen.

Over time the community (I think it was @v2m acting in community mode) added an ab

[2017-10-10 05:01] vasily-kirichenko commented on #3717
I think it works as expected, because you may want to type, say, [1..log10 x |> int]

[2017-10-10 05:29] vasily-kirichenko commented on #3717
Ah, you are talking about committing, not auto popping up. You are right.

[2017-10-10 06:37] 0x53A opened #3721 "internal error: Index was outside the bounds of the array"
![image](https://user-images.githubusercontent.com/4236651/31372266-3b8abd28-ad95-11e7-8e00-217114fffffd.png)

For me this happens reproducible when editing Program.fs in the FAKE solution.

![image](https://user-images.githubusercontent.com/4236651/31372318-743cebe6-ad95-11e7-8428-e953e8932f39.png)

![image](https://user-images.githubusercontent.com/4236651/31372341-95c517ca-ad95-11e7-821c-d95944

[2017-10-10 06:50] ForNeVeR commented on #2406
@dsyme thanks so much for your comment. It's both interesting and valuable.

Regarding to the "prototype" based on System.Reflection.Metadata: @Dolfik1 just was too enthusiastic about that approach, so he's already done a large part of work, and I feel bad about abandoning it. We could eventually even make this prototype an externally-useful (e.g. not tied to F# type providers) artifact of the res

[2017-10-10 07:06] AviAvni commented on #2406
@dsyme please also consider https://github.com/fsharp/fslang-suggestions/issues/154
Also maybe it's a silly suggestion but maybe we can make the GenerateAssembly  little shorter
And start from TAST it means that type provider produce TAST instead of ProvidedAssembly

[2017-10-10 09:31] mrakgr opened #3723 "For a language made in F# that compiles to F#, how should more complex types such as tuples and records be integrated?"
Sorry about posting this here, I've asked [on SO](https://stackoverflow.com/questions/46602208/how-to-add-metadata-to-the-system-type) twice now, but I have the feeling that what I am asking them is beyond their area of expertise and I want the people who actually have the knowledge to answer my question to see it.

Since February, I've been [working on](https://www.reddit.com/r/fsharp/comments/73

[2017-10-10 09:32] vasily-kirichenko opened #3724 "Send to FSI / send line to FSI commands is not presented in settings, the latter does not work"
![image](https://user-images.githubusercontent.com/873919/31379495-165a9d4e-adb7-11e7-81b1-d7f21ed12e2f.png)

[2017-10-10 09:59] isaacabraham commented on #3724
Funnily enough I just came up against this this morning. It's `EditorContextMenus.CodeWindow.ExecutiveInInteractive` now.

[2017-10-10 10:08] vasily-kirichenko commented on #3724
Thanks! :)

[2017-10-10 10:08] #3724 closed

[2017-10-10 12:24] theprash opened #3726 "FSX errors not in Error List after Open Folder"
1. Create a folder with an FSX file in it
2. Right click on the **folder** and select "Open in Visual Studio" (alternatively, start VS2017 directly, and do Open Folder on that folder)
3. Open the FSX file from the solution explorer
4. Write some non-compiling code

#### Expected behavior

The compile errors should be shown in the Error List.

#### Actual behavior

Errors are underlined red but the

[2017-10-10 13:28] dsyme commented on #3726
Could you show a screen shot of the Errors window please?  Do you have "Open Documents" or ... as your setting?

[2017-10-10 14:35] theprash commented on #3726
No, that's not it.

![image](https://user-images.githubusercontent.com/1362490/31392164-756d2810-add0-11e7-8aa7-39ec9e227351.png)

[2017-10-10 14:45] dsyme commented on #3726
@theprash Did you try the other settings?

[2017-10-10 15:08] dsyme commented on #2406
@ForNeVeR I'm trying to understand what the role of the AssemblyGenerator would be.  It seems it assumes the assembly coming in has code backed by IL, e.g. [here](https://github.com/Dolfik1/AssemblyGenerator/blob/master/src/AssemblyGenerator/AssemblyGenerator.Methods.cs#L59).  But in that case the Assembly would already normally have corresponding bytes in its existing on-disk image.

For generati

[2017-10-10 15:11] dsyme commented on #2406
@dsyme please also consider fsharp/fslang-suggestions#154

The TAST is not a public data structure.

Currently, generative type providers authored using the TPSDK specify the code contents of a generated assembly using quotations, e.g. ``InvokerCode`` in ``ProvidedMethod``, in the context of an overall ``ProvidedAssembly``.

[2017-10-10 15:33] theprash commented on #3726
@dsyme The other settings don't show the error either. But I would expect it to show for all 4 settings when it's the current document, like it does when I use the workaround mentioned above.

[2017-10-10 15:33] ForNeVeR commented on #2406
@dsyme at the same time, to me it looked like a generative TP would emit the code into the dynamically generated assembly: https://github.com/fsprojects/FSharp.TypeProviders.SDK/blob/36c892674c276265f2c028b8a2e36a99445acb3e/src/ProvidedTypes.fs#L7495-L7496

...and then get its' bytes using the standard `assembly.Save` call: https://github.com/fsprojects/FSharp.TypeProviders.SDK/blob/36c892674c2762

[2017-10-10 18:16] dsyme commented on #2406
@ForNeVeR Yes, that's correct - though at the start of the process the code for each method is an F# quotation - see that same file

[2017-10-10 18:16] dsyme commented on #3726
@theprash Yes, I agree,

[2017-10-10 18:23] dhwed commented on #3695
I'm on 15.4 now, and I've realized that this happens only when opening VS with a file from the new style fsproj already open.  After VS successfully loads, these files can then be viewed without any issues.

I haven't been able to reproduce this on a simple test solution, so it may be something specific to my real-world solution - I'll test again and update this issue once the 15.5 preview starts

[2017-10-10 18:35] andybrackley commented on #3318
Hi, I'm currently running into this issue in VS2017 Pro ( Version 15.3.5 ), Visual F# 4.1, Xamarin 4.7.9.45.
It seems as though this was fixed and closed sometime ago, do you know when this fix will be available?

Thanks

[2017-10-10 18:44] cartermp commented on #3318
This fix should be in for 15.4.

[2017-10-10 19:39] matthid commented on #3723
To be honest I'm not very sure what you are actually asking.

First I'd like to clarify some things:
Are you sure `System.Type` is the correct abstraction? For your own types you are compiling, there cannot be a `System.Type` until compilation has finished, correct?

If you compile your language to F#, I guess you somehow need to keep track of a mapping between your own type and what you have gene

[2017-10-10 20:46] mrakgr commented on #3723
Very well, I'll try my best to explain. Let me start by pasting the the type definition for Spiral's types.

[code]
I won't go into details what all of the above does, some of it is obvious by name, but the important part that I want to highlight would be last 3 types for those are the ones I am using for .NET interop.

Now suppose I wanted to use a type from the .NET land. First I would load the

[2017-10-10 21:24] matthid commented on #3723
So is (in your example)

[code]

The final result or only what the compiler is doing to resolve everything?

To get a type instance representing a tuple you can use the [Microsoft.FSharp.Reflection namespace](https://msdn.microsoft.com/en-us/visualfsharpdocs/conceptual/microsoft.fsharp.reflection-namespace-%5Bfsharp%5D) in particular the [MakeTupleType-Function](https://msdn.microsoft.com/visualfs

[2017-10-10 21:36] matthid commented on #3723
For other stuff in your `Ty` types you might need a pre-compiled runtime-library (like `FSharp.Core` for F# itself) to properly resolve them to `System.Type` if you cannot represent them with existing structures or if you cannot easily convert them in the compiler (or in the emitted code).

[2017-10-11 08:08] mrakgr commented on #3723
It is only what the compiler is doing to resolve everything. The `System.Type`s are only used at compile time and never at runtime. For example, once I have a variable of type `DotNetTypeInstanceT` of the aforementioned dictionary and I want to call `Add` on it here is what happens inside the compiler.

`dict .GetMethod("Add",[|typeof<int64>;typeof<int64>|])`

The reflection functions are only the

[2017-10-11 12:08] mrakgr commented on #3723
Maybe I should have asked this at the start, but what is F#'s type inference using to query the .NET methods? I have absolutely no idea, so it might be worth thinking in that direction.

[2017-10-11 13:48] forki opened #3730 "VS 15.4 and still having no F# features from time to time"
![image](https://user-images.githubusercontent.com/57396/31444112-883e51dc-ae9b-11e7-8221-583642887c62.png)

@KevinRansom I fear the "no F# support" bug is not fixed

[2017-10-11 14:05] 0x53A commented on #3730
dupe https://github.com/Microsoft/visualfsharp/issues/3222

[2017-10-11 14:17] forki commented on #3730
Sorry I thought it was claimed as fixed. Anyway it's still in 15.4 happening

[2017-10-11 14:17] #3730 closed

[2017-10-11 14:43] 0x53A commented on #3730
Well, the more people make noise, the better...

[2017-10-11 14:45] forki commented on #3730
I'm telling @cartermp at least every week. since the first time I saw it ;-)

[2017-10-11 14:55] 0x53A commented on #3730
``¯\_(ツ)_/¯``

[2017-10-11 16:03] forki commented on #3730
Exactly

Am 11.10.2017 16:55 schrieb "Lukas Rieger" <notifications@github.com>:

[2017-10-11 16:13] cartermp commented on #3222
@abelbraaksma Part of the problem is that this isn't easily (or for that matter, reliably) reproducible.  So it's going to involve figuring out a way to get a repro every time for debugging, then spelunking through the old project system to see where things are going wrong.  Any number of the changes there, since 15.0, could be causing this.

[2017-10-11 16:17] forki commented on #3222
Yes of course it's hard. But I think it's one of the most important things
that it works reliably.

Am 11.10.2017 18:14 schrieb "Phillip Carter" <notifications@github.com>:

[2017-10-11 16:30] matthid commented on #3222
@cartermp Even if we cannot figure out what the cause of this is and we do not want to invest the time into debugging the root cause (because it is the old project system). It would be nice to have some kind of workaround that resets this state. The reason why this is so frustrating for users is because when you encounter this situation Visual Studio is as useless as notepad and you cannot do anyt

[2017-10-11 16:46] 0x53A commented on #3222
I can 100% reproduce it with the solution I attached above:

https://1drv.ms/u/s!AszsyODn72JQjOV8KHr1iWtGRUXjLg

1) open solution
2) open AssemblyInfo.fs and notice that everything works.
3) build project
4) close vs
5) reopen solution
6) open AssemblyInfo.fs and notice that nothing works.

---

Otherwise this is (with the same steps) also reproducible with the paket solution (and others).

[2017-10-11 17:15] vasily-kirichenko commented on #3222
I can reproduce it. It's likely that the file is opened faster than F# package (or whatever) is loaded.

[2017-10-11 17:25] vasily-kirichenko opened #3731 "Master is broken"
[code]
[code]

[2017-10-11 17:44] vasily-kirichenko commented on #3222
This is an interesting bug:

7. Close the solution.
8. Open another simple one.
9. Everything works (!)
10. Close it, reopen the problematic one.
11. _Nothing works_ again (!!)

[2017-10-11 17:48] Pilchie commented on #3731
Tag @brettfo @KevinRansom

[2017-10-11 17:50] brettfo commented on #3731
I opened #3732 just a few minutes after you filed this :)

As soon as CI passes I'll merge it.

[2017-10-11 17:53] vasily-kirichenko opened #3733 "Assertion while opening Build project settings page"
![image](https://user-images.githubusercontent.com/873919/31457682-265bc866-aec6-11e7-9d3e-e6617faa759e.png)

[2017-10-11 18:04] dhwed opened #3734 "Visual Studio crash (FailFast) when using git blame"
Every time I do a git blame in VS (right click in an fsharp file, Source Control -> Git Blame (Annotate)), I get a VS crash.

I'm using VS 15.4 and a manually compiled vsix from 81d162ce55bd4c4c8bcd1eb2a0832c442888ec0e.  This crash does not happen on stock VS 15.4.

[code]

[2017-10-11 18:13] matthid commented on #3723
Yes I think that is what you are really after. It looks like customizing `System.Type` for your use-case (if possible at all) is a lot harder than what you actually need. All you need is to propagate your own info (type tokens) and then emit the proper stuff later.

One example is that you don't actually need the parameter types to query the available functions, all you need to do is to save your

[2017-10-11 18:18] vasily-kirichenko commented on #3222
OK, for this project `IProjectSite.SourceFilesOnDisk() returns empty array:

![image](https://user-images.githubusercontent.com/873919/31458609-46b702bc-aec9-11e7-842c-5c0009a0824e.png)

while for a "good" project it returns all source files.

`FSharpProjectNode.AllChildren` contains the source files:

![image](https://user-images.githubusercontent.com/873919/31458748-a58eb6c2-aec9-11e7-887d-c34d3

[2017-10-11 18:24] vasily-kirichenko commented on #3222
Here

![image](https://user-images.githubusercontent.com/873919/31459022-849c72d2-aeca-11e7-97f0-dda8a08cb546.png)

[2017-10-11 18:29] forki commented on #3222
Oh wow. They talk about build - but not background build

[2017-10-11 18:35] #3731 closed

[2017-10-11 18:50] vasily-kirichenko opened #3735 "VS crashes in debugger"
Set breakpoint here:

![image](https://user-images.githubusercontent.com/873919/31460137-110eeaa8-aece-11e7-911c-561b46730ac2.png)

Hover over `projectSite.State`.

Result: VS (main instance) crashes.

[2017-10-11 18:54] vasily-kirichenko commented on #3222
`projectSite.State` = `Opening`

[2017-10-11 18:57] forki commented on #3222
From the comment it should better be a pattern match and only select the not building case

[2017-10-11 19:20] vasily-kirichenko commented on #3222
OK, this line is called for both bad and good projects:

![image](https://user-images.githubusercontent.com/873919/31461443-3ce5c42c-aed2-11e7-9a00-f97dc5eefead.png)

But for the good one it results with calling this method:

![image](https://user-images.githubusercontent.com/873919/31461509-62623e24-aed2-11e7-8af3-365c90beeb0a.png)

which fills source files list and everything, for the bad projec

[2017-10-11 19:24] vasily-kirichenko commented on #3222
Commenting one line solves the problem:

[code]

Any ideas?

@dsyme

[2017-10-11 19:43] dsyme opened #3736 "Proposal: Type provider design-time DLLs should be chosen more appropriately"
Recent PRs in the Type Provider SDK repo (e.g. https://github.com/fsprojects/FSharp.TypeProviders.SDK/pull/139) are a big step towards completing our type provider story for .NET Core With this work, properly written type providers using the latest version of the TPSDK can now _always_ produce target code for either .NET Core or .NET Framework – i.e. they properly adjust for the target reference a

[2017-10-11 19:52] matthid commented on #3736
In (C#) Roslyn-Analyzer world is it really the compiler figuring out the paths?
To be honest I'm a bit skeptical to add NuGet implementation details to the F#-Compiler...
What about dependencies of the Design-Time assembly?

[2017-10-11 19:52] vasily-kirichenko commented on #3222
Simpler repro steps:

1. Create a new library project targeting .net 4.6.1, build it, everything is good, all features work.
2. Add FSharp.Compiler.Tools package via VS nuget UI.
3. Build the project, everything is still good.
4. Close the solution, open it again.
5. Boom! Nothing works, all black source code.

[2017-10-11 19:53] matthid commented on #3222
Wow, good progress thanks! /cc @enricosada

[2017-10-11 19:57] dsyme commented on #3736
I think its inevitable in some form.  The referenced DLL and the design-time DLL live in the same package and we have to separate them.

The design-time DLL is loaded using LoadFrom and must carry **all** its dependencies in the same directory as the DLL (or loadable using standard binding rules after a LoadFrom).  One huge advantage of the above is that each design-time configuration (e.g. x86 an

[2017-10-11 19:58] matthid commented on #3222
Is it possible to get to the Visual Studio internal msbuild (or whatever they use internally) error? (The one which seems to happen according to the long code-comment above).

I suspect that they might not support `$(MSBuildThisFileDirectory)` or something funny like that. Or they expect some property to be set.

But you can still build the project successfully, correct?

[2017-10-11 20:03] dsyme commented on #3736
Note the other alternative would be to have logic in our MSBuild targets file and add a first-class  "/typeproviderreference:MyDesignTime.dll" flag to the compiler.  However I think that's very obscure and won't work for tools like F# Interactive (fsi.exe), which must locate type provider design-time components without resorting to using MSBuild.

[2017-10-11 20:15] vasily-kirichenko commented on #3222
Yes, it compiles successfully.

[2017-10-11 20:29] matthid commented on #3736
To be honest that sounds a lot better and if we add a corresponding `#typeproviderr` (or however we call it) to F# scripting, we can extend Paket to properly add those into the load scripts including the proper dependencies. This way we leave resolving dependencies to the caller (as it should be).

Yes but a compiler solution introduces a lot of other problems
 - what if multiple type providers bu

[2017-10-11 20:32] matthid commented on #3736
And it will be solved via https://github.com/Microsoft/visualfsharp/pull/2483 ;)

[2017-10-11 20:43] smoothdeveloper commented on #3736
@matthid:

I see it not as NuGet implementation, but as providing a stable layout relative to the runtime assembly.

This could be done leveraging #2483:

[code]

paket in the load script generation would identify assemblies exposing type providers and add the reference in that way rather than simple assembly reference.

The `typeprovider` resolution handler would be implemented with the conventio

[2017-10-11 22:38] dsyme commented on #3736
I don't expect Paket or Nuget will ever seriously get into the business of managing dependencies of compile-time tools and add-ins. At least not in a timeframe that's useful.  Indeed I don't think they could - they just don't know enough about host tooling. We could maybe push something bespoke into Paket, but its only use cases would be for F# type-provider add-ins, so there's not much point.

I'

[2017-10-11 22:58] dhwed commented on #3695
This is still happening on VS 15.5 preview 1 with the vsix compiled from b714ecb83648de5d145c49c9939f02766c7280a8.

With the vsix included in VS 15.5 preview 1 there is no crash, but I don't get any semantic highlighting in the files in my new style fsproj (I do have working expand/collapse regions though).

[2017-10-11 23:00] cartermp commented on #3695
cc @KevinRansom

[2017-10-11 23:00] dsyme commented on #3736
I don't think this solves type provider references.

Say that separate TPDTCs are available for .NET Framework 4.5 and .NET Standard  2.0. Which type TPDTC reference is emitted into the load script when running in FSI.EXE (.NET Framework 4.6 32 bit)?  What about when type checking in devenv.exe (.NET Framework 32 bit)?  When running in the F# Compiler (.NET Core 2.0 64 bit)? The package manager li

[2017-10-11 23:12] cartermp commented on #3695
@dhwed Can you provide a project or solution where you see this?  I just tested this with the [SAFE Bookstore](https://github.com/SAFE-Stack/SAFE-BookStore) and it loaded/restored packages and had features light up without issue.

[2017-10-12 00:43] dsyme commented on #2406
@ForNeVeR The TPSDK has now been updated with support for cross-targeting generative type providers by integrating the binary writer.

You should now be able to build generative type providers for .NET Core though that has not yet been specifically tested (and might require an updated F# compiler for .NET Core).

[2017-10-12 06:57] matthid commented on #3736
Yes please let's figure out their solution and go down the same/a similar route.
It seems they have to specify all deps by command line: https://github.com/dotnet/roslyn/issues/14866#issuecomment-259788735

Also it might be that we want to support language agnostic analyzers sooner or later one way or another, but in the mean-time we could even use the unused "fsharp" folder in there:
 https://doc

[2017-10-12 07:16] dsyme commented on #3736
https://docs.microsoft.com/en-us/nuget/schema/analyzers-conventions

TPDTCs are not analyzers, so putting them in the analyzers directory seems problematic

[2017-10-12 08:05] krauthaufen opened #3737 "F# compiler treats FSharpFunc as sealed in latest update to F# 4.1"
Hi everyone,

I know it's bad practice to inherit FSharpFunc directly in user code but in certain scenarios i had to do that.
typeof<int -> int>.IsSealed reports false obviously but the new (4.1) compiler complains about FSharpFunc<int, int> being sealed.

I understand the general idea of making all the concrete implementations sealed but why did you decide to treat the base-type as if it was seal

[2017-10-12 08:07] vasily-kirichenko commented on #3737
https://github.com/Microsoft/visualfsharp/issues/3020

[2017-10-12 08:33] krauthaufen commented on #3737
Hi, I'm aware that the implementers shall be sealed but why does the compiler treat the base type itself as if it was sealed?

The point here is that FSharpFunc itself is not sealed but the compiler forbids inheriting it with "cannot inherit a sealed type"

[2017-10-12 08:57] mrakgr commented on #3723
I've looked at the two libraries you've recommended, but I do not know what to make of them. I do not think they are what I need. They barely have any documentation.

Last night I had a good idea that turned out to be unworkable. It occurred to me that I could use the `WeakConditionalTable` to attach metadata to type objects, but what tripped me up is that the `System.Type` instances are all globa

[2017-10-12 09:09] forki opened #3738 "Alphabetical file order in VS 15.5 Preview1 for sdk projects"
#### Repro steps

1. git clone https://github.com/SAFE-Stack/SAFE-BookStore.git
1. cd SAFE-BookStore
1. open BookStore.sln

#### Expected behavior

File order as in fspro.

#### Actual behavior

File order is alphabetical,

![image](https://user-images.githubusercontent.com/57396/31488375-c0576304-af3d-11e7-91bc-e19a7e999fe1.png)

[2017-10-12 09:31] matthid commented on #3723
They are "a better alternative way of querying the .NET API.".

I can only warn you explicitly again:
`System.Type` and in particular `Assembly.Load` and even `Assembly.ReflectionOnlyLoadFrom` have a lot of limitations you will encounter sooner or later. But yes they will give you the feeling of quick early success. We tried to go down that route in `Paket` and use `Mono.Cecil` now for basically e

[2017-10-12 10:33] forki opened #3739 "Semantic highlighting/Intellisense not working after VS 15.5 reload with new SDK"
#### Repro steps

1. git clone https://github.com/SAFE-Stack/SAFE-BookStore.git
1. cd SAFE-BookStore
1. open BookStore.sln
1. open `src/Server/Program.fs`
1. restore runs in background automatically
1. wait until Semantic Highlighting is there
1. build sln (Ctrl+Shift+b)
1. close sln
1. reopen sln
1. open `src/Server/Program.fs`

#### Expected behavior

Semantic highlighting/Intellisense working

[2017-10-12 11:36] forki commented on #3222
I just tried @0x53A's zip to repro. and it reproduces 100% on VS 15.5 preview1.

That said: if you clear the `/obj` before you start VS then everything works again. It the case of the repo the `obj` is custom and lies in `root/BuildTemp`. so you need to clear that dir.

Further testing reveals: you only need to nuke the `BuildTemp\Debug\DbQueries\Debug\DbQueries.fsproj.CoreCompileInputs.cache` bef

[2017-10-12 11:49] forki commented on #3222
so that file only contains an hash. if you nuke it and rebuild the new file contains the same hash.

[2017-10-12 12:06] enricosada commented on #3736
@dsyme, can we just use a nuget package to ship the design assemblies?
so TP depend on that package, and that package add the right design.time based on runtime

[2017-10-12 12:08] forki commented on #3739
ok so this is actually exact duplicate of #3222 but with the new sdk.
When I delete *CoreCompileInputs.cache after step 8 then F# feature work fine.
I'm closing this in favor of #3222

[2017-10-12 12:08] forki commented on #3222
https://github.com/Microsoft/visualfsharp/issues/3739#issuecomment-336110300 shows that exactly the same bug is happening with new SDK projects

[2017-10-12 12:17] forki commented on #3739
But just to make that point very clear: all new-style fsproj projects are now broken after first build and reopening of sln

[2017-10-12 12:34] mrakgr commented on #3723
So that I may better plan for the future, would you mind elaborating on the differences between `Mono.Cecil` and the `System.Reflection`? What are the limitations that you have encountered?

The examples are sparse, so it is not at all obvious to me what problems those two libraries you've mentioned address.

[2017-10-12 13:28] forki commented on #3222
@davkean is this https://github.com/Microsoft/msbuild/issues/1577 related?

[2017-10-12 13:48] forki commented on #3739
ok one new workaround:

After step 9:
* Run "BUILD/Clean Solution"
* Run "BUILD/Build Solution"

==> F# features come back

BUT:

if you just run "BUILD/Rebuild solution" they don't come back.

Is it that Rebuild doesn't call Clean properly?

[2017-10-12 14:18] dsyme commented on #3736
@enricosada No - trying that would mean the TPDTCs get referenced as normal assemblies during the compilation, which is wrong.  Also, tools like nuget and paket would select the DLLs based on the target runtime, not the compile-time runtime (the runtime and platform being used to execute the F# compiler or other host tool).

[2017-10-12 15:00] forki opened #3740 "No way to add a new file to correct position in VS 15.5"
#### Repro steps

1. git clone https://github.com/SAFE-Stack/SAFE-BookStore.git
1. open solution
1. Try to add a file to src/Server/Server.fsproj to a specific location

#### Expected behavior

* Right click on any file allows you to add a new file above or below

#### Actual behavior

Only folder and project nodes allow to add new files. And they are always added to the top of the childs of that

[2017-10-12 15:32] cartermp commented on #3738
Closing as a dupe of https://github.com/dotnet/project-system/issues/2793

[2017-10-12 15:32] #3738 closed

[2017-10-12 15:41] cartermp commented on #3740
Closing in favor of https://github.com/dotnet/project-system/issues/2887

[2017-10-12 15:41] #3740 closed

[2017-10-12 17:10] mrakgr commented on #3723
Well regarding the `Assembly.Load`, in [this article](http://tech.wonga.com/2014/04/02/unifying-generic-type-parameters-using-mono-cecil.html) it mentions that an `Assembly` cannot be unloaded once loaded using reflection and that `Cecil` takes care of that. So I guess there is no need to explain that.

Though the documentation on the Github repo is sparse, there are various tutorials online, so i

[2017-10-12 17:22] dhwed commented on #3695
Looks like this is happening because I have a Common.props file so that things like the warning level can be defined in one place and then be consistent between all of my projects.

So, this can be reproduced with a `dotnet new console -lang F#` project with two minor modifications:

Add a new Common.props file with this content (my file actually has a `<PropertyGroup>`, but it isn't necessary to

[2017-10-12 19:37] vasily-kirichenko opened #3742 "All analyzers are called twice after any document change"
I added logging to all analyzers here https://github.com/vasily-kirichenko/visualfsharp/commit/43f6ce2b1f64ecc9187c44777fbd239701f81be5

This is what I see after adding a single space into a file in FSharp.Editor project:
[code]
Collapsing 0-2 stages:
[code]
So we have:
* 2 DocumentDiagnostic.AnalyzeSyntaxAsync
* 2 DocumentDiagnostic.AnalyzeSemanticsAsync
* 2 UnusedDeclarations.AnalyzeSemanticsAsy

[2017-10-12 20:19] vasily-kirichenko commented on #3742
My bad, the main instance has logging VSIX installed and the two VSs were interfere somehow. Cannot reproduce anymore.

[2017-10-12 20:19] #3742 closed

[2017-10-12 21:37] eiriktsarpalis commented on #3737
+1 I just came across this, and it's a breaking change in cases where defining stable closure names is a requirement, e.g. https://github.com/mbraceproject/MBrace.Core/blob/f7a2b8bc13ddd0f59928b82054f05a7be52e3755/src/MBrace.Core/Continuation/Builders.fs#L91

[2017-10-12 21:48] dsyme commented on #3737
@eiriktsarpalis Thanks - yes it looks like https://github.com/Microsoft/visualfsharp/issues/3020 was a breaking change.

I see this comment:

        // F# won't let use inherit OptimizedClosures.FSharpFunc<_,_,_> because of the unit return type
        inherit FSharpFunc<ExecutionContext, Continuation<'T> -> unit> ()

Is there a way to use a non-unit return type here?  e.g. can you use a type par

[2017-10-12 21:53] eiriktsarpalis commented on #3737
@dsyme I think we'd have to use an async style `FakeUnit` return type for the continuations.

[2017-10-12 21:57] dsyme commented on #3737
Hmm so https://github.com/Microsoft/visualfsharp/pull/3031/ which implemented #3020 is not the change responsible here, since that is about making the closures that implement FSharpFunc sealed.

The change happened after F# 4.1 RTM. I think the change responsible is https://github.com/Microsoft/visualfsharp/pull/3283, which decodes FSharpFunc to the compiler's view on function types. There is an e

[2017-10-12 22:11] cartermp commented on #3737
Just as a note, we're likely past the window of getting this into a compiler update for 15.5, but for a 15.6 update we could conceivably take this.  No timeline is in place for either release at the moment, but 15.5 will be sooner since we're now in Escrow.

[2017-10-12 23:14] dhwed opened #3743 "Recursive functions defined inside computation expressions fail after installing VS 15.5 preview 1"
After installing VS 15.5 preview 1, this fails:

[code]

![image](https://user-images.githubusercontent.com/10184638/31523333-658ababc-af78-11e7-8b63-444ee066aef2.png)

This happens even in VS 15.4 now.

[2017-10-12 23:24] dsyme commented on #3743
@dhwed Oh wow, that's a regression. The culprit will be https://github.com/Microsoft/visualfsharp/pull/3536

[2017-10-12 23:26] dsyme commented on #3743
@cartermp I'll start on these regressions tomorrow (particularly this one)

[2017-10-12 23:29] dsyme commented on #3737
@cartermp I don't think this is super-urgent - 15.6 will be fine

I'm more concerned by https://github.com/Microsoft/visualfsharp/issues/3743.

[2017-10-12 23:32] dsyme commented on #3743
Workaround 1 - in this case compiling in "Release" mode makes NRE go away

Workaround 2 - lift the ``let rec`` out of the list/array/sequence expression, adding any captured variables as arguments

[2017-10-13 04:10] cartermp commented on #2320
Closing this out.  Official statement:

Although the above mentions C# and VB projects, F# projects using the .NET Core SDK will benefit from the work going into project load time improvements.  Although 15.5 won't be the release when we declare victory there, subsequent releases will see F# + .NET Core SDK projects benefit, especially as we work out perf issues in our own language service hookup

[2017-10-13 04:10] #2320 closed

[2017-10-13 04:12] cartermp commented on #2107
See here: https://github.com/Microsoft/visualfsharp/issues/2320#issuecomment-336345411

LSL is to be deprecated, so my previous statements about getting LSL support in for F# are also deprecated.

[2017-10-13 06:57] saul commented on #2107
I think this ticket is more about the performance regression around solution loading. Further I still think it’d be useful to backport whatever performance fixes that were implemented for .Net Core - a lot of companies have huge F# codebases that aren’t going to be migrated to Core any time soon. I’m happy to do this performance work still as it’s biting me daily. An alternative would be to port a

[2017-10-13 07:03] forki commented on #2107
Yes I think that's what the F# team is recommending for the future. To port
all projects to sdk and compile against net451 or whatever you have

Am 13.10.2017 08:57 schrieb "Saul Rennison" <notifications@github.com>:

[2017-10-13 07:24] Alxandr commented on #3680
I think I just encountered something similar (at least I was linked to this issue). I'm trying to build a library targeting `netcoreapp2.0`. The reason I want a library, is that I don't want to have an entry point, and currently if I don't have an entrypoint, it blows up at runtime because statics aren't initialized (ie. let bindings are `null`). I tried settings `<OutputType>Library</OutputType>`

[2017-10-13 09:15] dsyme commented on #3678
@KevinRansom Could you take a look at this please?

[2017-10-13 09:19] dsyme commented on #3704
@cartermp I presume we need our own debug engine for this in VS.  Unless we restrict the range of the first local.  Perhaps we could reverse the order we emit locals or the like, though I don't think there's any perfect solution

[2017-10-13 09:19] dsyme commented on #3707
Since SImplifyName is off by default I'm going to close this

[2017-10-13 09:19] #3707 closed

[2017-10-13 09:20] dsyme commented on #3712
@goswinr Yes, please just send a PR for this

[2017-10-13 09:21] dsyme commented on #3714
@vasily-kirichenko Is this a reliable repro? thanks

[2017-10-13 09:26] dsyme commented on #3715
I presume this issue is around here https://github.com/Microsoft/visualfsharp/blob/44fa027b308681a1b78a089e44fa1ab35ff77b41/src/fsharp/NicePrint.fs#L1302

I think we should use this instead https://github.com/Microsoft/visualfsharp/blob/44fa027b308681a1b78a089e44fa1ab35ff77b41/src/fsharp/MethodCalls.fs#L589

[2017-10-13 09:30] dsyme commented on #3721
@0x53A Thanks, the second looks unrelated to the first, but should be fixed.

[2017-10-13 09:52] krauthaufen opened #3745 "extend Expr with inline call information"
Hi everyone,

In our project [FShade](https://github.com/krauthaufen/FShade) we're making heavy use of quotations and we're totally happy with most of the features available for inspecting and changing them.

However there is one big issue I'd like to share since I could not quite get my head around the compiler-code responsible for that.

## Statically resolved parameters
When using functions lik

[2017-10-13 10:03] vasily-kirichenko commented on #3714
No.

[2017-10-13 10:07] dsyme commented on #3745
@krauthaufen I agree this would increase the utility of quotations substantially.  It is implementable but not that easy - I think it could also be made a non-breaking change. by having a special quotation active pattern to look into the inlined/resolved code.  I suppose this could also be made to work for op_Addition if we added a quotation node that represents a sequence of simple IL instruction