[2022-08-17 22:34] dsyme commented on #13710
The fix is here - still needs automated testing https://github.com/dotnet/fsharp/pull/13721

[2022-08-18 09:40] bddckr commented on #13678
It does indeed help. For my team, this reliably pulls down the version found on NuGet.org.

So the steps are
1. Ensure your project(s) use `<DisableImplicitLibraryPacksFolder>true</DisableImplicitLibraryPacksFolder>`.
1. Delete the locally cached copy of 6.0.5 out of your `.nuget` folder, i.e. delete the folder `C:\Users\<your windows user>\.nuget\packages\fsharp.core\6.0.5` on Windows.
1. Restore

[2022-08-18 09:53] cmeeren commented on #13678
A couple of questions:

1. What exactly is `DisableImplicitLibraryPacksFolder`? Web searches turn up nothing useful about this. I'm hesitant to use it (especially since I am now using the 6.0.302 SDK as a simple and reliable workaround).
2. In the steps posted by @bddckr above, would it cause problems if some projects/solutions on your machine did not use `DisableImplicitLibraryPacksFolder`? Would

[2022-08-18 09:58] bddckr commented on #13678
Apologies, I copied the wrong property and confused myself.

My team is using `DisableImplicitNuGetFallbackFolder` like the original poster said. This works fine - as long as every team member ensures to delete the cached version that has the "wrong" hash. We do _NOT_ use `DisableImplicitLibraryPacksFolder`.

I've edited my earlier message to fix that.

[2022-08-18 10:01] bddckr commented on #13678
Both properties are seemingly very closely related for the same thing - the extra search paths pointing to files not sourced from NuGet:
https://github.com/dotnet/sdk/blob/a30e465a2e2ea4e2550f319a2dc088daaafe5649/src/Tasks/Microsoft.NET.Build.Tasks/targets/Microsoft.NET.NuGetOfflineCache.targets#L20-L29

I'm thinking about enabling both moving forward. I believe `DisableImplicitLibraryPacksFolder`

[2022-08-18 10:54] En3Tho commented on #13644
So far I haven't been able to make it not fail with OOM.
--tailscalls- or DOTNET_ReadyToRun=0 didn't help
Also, for some reason dotnet trace doesn't  produce a trace I can actually run, it fails with an exception "Read past the end of a stream"

[2022-08-18 10:57] bddckr opened #13724 "MSB4011 warning when using net6.0-macos (inside Visual Studio only)"
**Repro steps**

Provide the steps required to reproduce the problem:

1. Create a new .NET 6 `fsproj` class library via the stock template Visual Studio uses, then change the `TargetFramework` to `net6.0-macos` instead of `net6.0`.
2. Build the project.

The full repro is simply the default project with the mentioned `TargetFramework` change:
[code]

**Expected behavior**

No build warnings occur

[2022-08-18 11:05] En3Tho commented on #13644
Is there any way to get a trace from F# compiler, at least a stack trace or smth

[2022-08-18 11:23] cmeeren commented on #13678
Not sure what you mean by "works fine". I have long used `DisableImplicitNuGetFallbackFolder` (and not `DisableImplicitLibraryPacksFolder`), deleting the NuGet cache did not change the content hash in the lock files after `dotnet restore --force-evaluate`.

Makes sense. Would be great to have someone else confirm this.

[2022-08-18 11:27] En3Tho commented on #13644
@jkonas sorry to tag but maybe you can help here? What is the best way to diagnoze oom when app fails right away?

I'm not sure how to collect traces from it using dotnet-trace because they end up corrupted somehow. dotnet-trace collect -- dotnet fsc.dll hw.fs end up with 3meg trace. On exit dotnet trace indicates that process (I guess dotnet itself) ended with code 134. And this trace cannot be o

[2022-08-18 11:33] bddckr commented on #13678
Hmmm. I just set up a fresh Windows VM (for something unrelated) and tried it there as well. You're right. It keeps using the library-packs folder. I must have gotten my results wrong when I was testing `DisableImplicitLibraryPacksFolder` earlier as well.

Finally, to confirm (sorry for the back and forth): If I'm setting both `DisableImplicitNuGetFallbackFolder` and `DisableImplicitLibraryPacksFo

[2022-08-18 11:36] En3Tho commented on #13644
This is an output of "free" util
              total        used        free      shared  buff/cache   available
Mem:        4013232      828400      620368      215744     2564464     2237376
Swap:             0           0           0

[2022-08-18 11:52] shushanhf commented on #13644
@En3Tho
Thanks very much for your debuging.

Does the `fsc.dll` have some special configuration, for example the PageSize ? LA64's PageSize is 16k which is different the arm64/x64.

[2022-08-18 12:59] cmeeren commented on #13678
Happy to hear it.

Would be great to get confirmation from at least one other knowledgeable person that using `DisableImplicitLibraryPacksFolder` is a general good idea for the same reasons as `DisableImplicitNuGetFallbackFolder`.

[2022-08-18 13:03] vzarytovskii commented on #13678
It's fine to use it. It was made for scenarios like this - when there's need to turn off implicit packs import.

[2022-08-18 13:14] cmeeren commented on #13678
Thanks! Should it then perhaps be added alongside https://github.com/dotnet/reproducible-builds/blob/main/Documentation/Reproducible-MSBuild/Techniques/DisableImplicitNuGetFallbackFolder.md?

[2022-08-18 13:20] baronfel commented on #13678
I'm a maintainer on that project and would gladly accept a contribution outlining how and why to disable this property. Happy to help wordsmith it too!

[2022-08-18 13:25] 0101 commented on #13696
How do you like this formatting?
[code]

https://github.com/dotnet/fsharp/pull/13727

[2022-08-18 13:37] En3Tho commented on #13644
I've been able to collect a better trace by modifying fsc. Will try to look into it.

Just in case I'm sharing it here

[dotnet_20220818_213246.zip](https://github.com/dotnet/fsharp/files/9374246/dotnet_20220818_213246.zip)

[2022-08-18 13:45] En3Tho commented on #13644
@shushanhf I'm not sure. It is running in fact. I'd rather see it as GC/Jit bug to be honest. But this needs more investigation

[2022-08-18 14:04] MangelMaxime opened #13728 "Unfinished let error if a line of string interpolation starts with a format instructions inside of a module"
Please provide a succinct description of the issue.

**Repro steps**

Provide the steps required to reproduce the problem:

[code]

![image](https://user-images.githubusercontent.com/4760796/185414056-e98dfa4c-11ca-40f3-8789-73e2c34ce737.png)

If I add at least 3 spaces at the beginning of the line `%s{errors}"""` then the error goes away.

There is no error if the function is not under a module:

[2022-08-18 14:18] En3Tho commented on #13644
Maybe there is some knobs on GC that need to be tuned or something is calculated incorretly in LA64.
Max GC Heap Size: 34,337 MB
It's doing lots of Start/Stop EE after last AllocSmall event and fails to reclaim anything I guess.

I will try to run a memory intensive test. Maybe it will result in the same OOM

[2022-08-18 15:58] En3Tho commented on #13644
Tried a small app just to test allocations. App runs fine with 2gb heap and 1.2gb of gen0 and alloc rate of 150-180 megs/sec.

[2022-08-18 17:57] En3Tho commented on #13644
Some new information:

OOM is deterministic, it basically has this stack:

 ---> System.OutOfMemoryException: Exception of type 'System.OutOfMemoryException' was thrown.
   at System.String.Concat(String str0, String str1, String str2)
   at FSharp.Compiler.TcGlobals.initializer@1-4(TcGlobals this, Int32 idx) in G:\source\repos\dotnet\fsharp\src\Compiler\unknown:line 341
   at FSharp.Compiler.TcGl

[2022-08-18 19:10] vzarytovskii commented on #13644
Interesting it OOMs in the concatenation

[2022-08-18 21:39] jkotas commented on #13644
Yes, this looks like a codegen issue or GC heap corruption. It does not look like a real OOM.

[2022-08-18 21:54] vzarytovskii commented on #13644
Interestingly, It only crashes on that arch, the compiler is anycpu, and works fine on both arm and x86.

[2022-08-18 22:00] jkotas commented on #13644
It is most likely a bug in the .NET runtime port to LA64. It is unlikely to be a bug in the F# compiler itself.

[2022-08-18 22:27] shushanhf commented on #13644
@En3Tho @jkotas
Thanks a lot.
I will try to debug it on LA.

[2022-08-19 11:36] vzarytovskii opened #13730 "Major compiler slowdown due to changes in .NET GC between .NET 7 preview2 and .NET 7 preview3"
`Build.cmd -c Debug` is getting stuck for some time (5+ minutes on my local machine) on generating tables:
[code]
I've seen reports of this from other people, we should investigate. Can reproduce it roughly every other clean build.

**Update 1:**
Also, after terminating the build, and doing it again (without cleaning), it is stuck here for about 10 minutes already:
[code]
**Update 2:** From the du

[2022-08-19 11:44] vzarytovskii commented on #13730
Also, after terminating the build, and doing it again (without cleaning), it is stuck here for about 10 minutes already:
[code]

[2022-08-19 11:45] vzarytovskii commented on #13730
@auduchinok You've mentioned that you have seen some slowness too, right?

[2022-08-19 12:35] vzarytovskii commented on #13730
So, judging by the tracing, it is doing something in background (i.e. not completely stuck), but is very slow.

[2022-08-19 12:40] NinoFloris opened #13731 "Overload resolution does not eliminate incompatible Nullable candidates"
Found in https://github.com/dotnet/fsharp/pull/13673

[code]

If we know nothing we should prefer int, 'T should always be better than Nullable<'T> today we produce an ambiguity error.

https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AbEAzAzmgFxAEsMAfAgTwAcYACAWQAoBKOgXgFgAoOvu3AQCGBYmDoBbGBOAwodAIJMAdiDoBlSoOkA6AHIBXDBiHAMMADxgAFkKgA+NuzrUoxZQWzK6AIgCMPjz8AsKi4lIycooqau4ETi5uHl6+KIHc5gR0BDCCTAhqAOQ

[2022-08-19 13:23] auduchinok commented on #13730
Yes, it looked like the same place in the tables generation. I've used `build.cmd -noVisualStudio` on a clean local copy.

[2022-08-19 14:29] vzarytovskii commented on #13730
So, when building with .NET7-p7:
![image](https://user-images.githubusercontent.com/1260985/185640721-9254d915-2847-4318-942d-e8016fb9ac65.png)

And when with .NET7-p2 (dev17.3 branch for example):
![image](https://user-images.githubusercontent.com/1260985/185640926-692c88f3-ff2e-4212-b39d-5fc1d6864979.png)

Spends almost 3 times less building compiler.

Will try and collect snapshot diffs.

[2022-08-19 17:14] vzarytovskii commented on #13730
Some experimenting:
	Same fsharp compiler repo commit (HEAD).
	Build with preview2 of SDK - proto build is ok ~90s
	Build with preview3 of SDK - proto build is very slow (8m and counting)

[2022-08-19 19:05] dsyme commented on #13730
From discussion with @Maoni0  and @mangod9

* The problem is related to .NET 7 enabling GC regions by default, particularly for "workstation GC". For example the initial compilation of the F# compiler:

  With .NET 6.0:
[code]
  With .NET 7.0 Preview 7 on exactly same inputs
[code]

* The very large slowdown disappears if we turn on ServerGC for `fsc` - this can be done globally via an environment

[2022-08-19 19:06] dsyme commented on #13730
Repro.

1. Get this repo and checkout the current main:

       git clone https://github.com/dotnet/fsharp
       git checkout 75e1f5f1900a351ca036081cf2d1ed453ddf5ef1

2. .\build -noVisualStudio

3. Then do the build step that is using the F# compiler coming from the .NET SDK:

        cd src\Compiler

    and copy https://gist.github.com/dsyme/07499d160e3d16e60aa2af03742ba63e. Adjust paths to nu

[2022-08-19 19:39] vzarytovskii commented on #13730
I guess as a temporary resolution, we should switch to old GC (via the runtimeconfig, if possible).

[2022-08-19 21:08] TIHan commented on #13730
Fascinating, I saw this happen yesterday too when building the compiler with my own built runtime to get SuperPMI collections.

[2022-08-19 22:58] En3Tho commented on #13730
I don't know if this is relevant, but main dominators shown in dotmemory are FSharpLists (they behave like linked lists).

My theory is that gen0 budget gets exhausted very quickly and afterwards GC basically keeps scanning all the memory because of huge object graphs. Are regions linked list friendly by the way?

Traces show that most GC events are AllocSmall - Gen2 and very rarely AllocSmall - G

[2022-08-19 23:04] En3Tho commented on #13644
@shushanhf You're welcome. If you need help please tell. I will do whatever I can :)

[2022-08-19 23:34] dsyme commented on #13730
@En3Tho I don't think it's useful to speculate about the specific nature of the application being run and I'd advise against analysing.  Whatever else, the GC was handling this application (the F# compiler) beautifully before and it seems to me that simply too much has changed and much more caution is needd  - in particular there has to be an easy fallback to get the old behaviour, and I'd also qu

[2022-08-20 01:34] shushanhf commented on #13644
Thanks very much again for your helping.
I will debug it on LA first.

[2022-08-20 12:29] dsyme commented on #404
@vzarytovskii @KevinRansom I'm reopening as I'd like to revalidate whether using gcServer is a perf win or not.  On bootstrapping the compiler it gives a noticeable slowdown.

[2022-08-20 12:32] dsyme commented on #404
I was quite surprised to find out that we use server GC for fsc.exe on .NET Framework [which has an ​fsc.exe.config​ with GC Server enabled](https://github.com/dotnet/fsharp/blob/main/src/fsc/App.config#L6) as well as a few other settings.

You can see this applies in the product here:

    ​C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\IDE\CommonExtensions\Microsoft\FSharp\Tool

[2022-08-20 12:54] dsyme opened #13739 "Revalidate perf of batch/server GC settings for fsc, fsi on .NET Framework and .NET Core"
This is a tracking issue to make sure we revalidate the settings that we use for GC on both .NET Framework and .NET 6/7.

* gcServer
* LatencyMode.Batch

So the current situation is

* .NET SDK compiler: Server off, Batch on
* .NET Framework compiler: Server on, Batch on

[2022-08-20 12:55] dsyme commented on #404
Closing in favour of https://github.com/dotnet/fsharp/issues/13739

[2022-08-20 12:55] #404 closed

[2022-08-20 13:06] dsyme commented on #13739
Here is the matrix on my machine for compiler-compiling-the-compiler, based on wallclock timings (they seem to vary about +/- 4%)

| .NET Version | GCBatch | GCServer | Parse | Typecheck | Optimize | Total | Notes |
|----:|----:|----:|----:|----:|----:|----:|:-----|
| .NET 472 32bit | no | no | 11.6 |  20.5 |  16.2 | 60.2 |  |
| .NET 472 32bit | yes | no | 11.6 | 20.8 | 16.4 | 60.4 |  |
| .NET 472

[2022-08-20 15:58] EgorBo commented on #13328
PR: https://dev.azure.com/dnceng/internal/_git/dotnet-optimization/pullrequest/25175

I played with the resulting MIBC locally - it doesn't give much, but it works good with R2RComposite, e.g. I was measuring how long it takes to build https://github.com/giraffe-fsharp/Giraffe
[code]
[code]

[2022-08-20 15:58] dsyme commented on #13739
Hmmm  I think I'm wrong about ServerGC being slower. `--times` is showing as slower for overall CPU time reported but the server GC is actually faster on wall time.

To see this, I took logs using MSBuild `-verbosity d` which includes a processor graph at the end with actual times for each process launched by the build and also shows core utilization. It's pretty wild though - according to `--time

[2022-08-20 16:06] dsyme commented on #13739
In more detail, I did some more validation on wether Server GC is a gain or a loss.

In https://github.com/dotnet/fsharp/issues/13739 I had validated manually that turning gcServer off improved compile time for compiling `FSharp.Compiler.Service.dll` alone. However tried to validate a perf improvement on end-to-end build of the repo (when the Bootstrap compiler uses .NET Framework).  Surprisingly

[2022-08-20 17:26] dsyme commented on #13739
Here's our latest `main` compiler running on .NET 6, compiling FSharp.Compiler.Service.dll, batch mode turned off.
[code]
So wallclock gain is 10% with Server GC.

[2022-08-20 19:30] ray440 opened #13743 "comments with quotes"
Just an FYI: I would say this is a very low-priority bug.
The following fails to compile:
[code]

[2022-08-20 20:53] auduchinok commented on #13743
Unfortunately, it seems to work per spec: the second quotes start another string and `*)` is considered a part of a string even inside a comment.

[2022-08-20 21:13] ray440 commented on #13743
Right. Even this fails:
[code]
So the opening `(*` is ignored?  Or the quotes take precedence...?

[2022-08-20 21:16] auduchinok commented on #13743
Nope, it's not ignored. It's an unfinished string inside an unfinished comment.

[2022-08-20 21:21] ray440 commented on #13743
LOL! I guess that's the interpretation according to spec.  Indeed, a possible "fix" is to complete the string and comment.

[code]

[2022-08-20 23:27] Xyncgas commented on #5139
What did you mean by trust seq{...} expression, how can you

[2022-08-22 11:00] allisonchou opened #13746 "[Automated] PRs inserted in VS build main-32822.23"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/02e72a1a51d72f7b16b80f7cb96ea4202d237172...c851a184e338879a6ef0f040e9b881a5c25b639d?w=1)
- [stop using batch mdoe (13742)](https://github.com/dotnet/fsharp/pull/13742)
- [Revert "Update roslyn components used by F#" (13734)](https://github.com/dotnet/fsharp/pull/13734)
- [Update xcopy-msbuild to fix signed builds (13729)](htt

[2022-08-22 13:22] psfinaki opened #13748 "Use proper process exiting mechanism in FSC"
On the review with @KevinRansom, we've realized that there's an existing mechanism for proper exit from the compiler - using of exiters (with StopProcessing exceptions probably).

For example:
https://github.com/dotnet/fsharp/blob/af0015e5cac978bef2aa10264f63c886a2532bda/src/fsc/fscmain.fs#L77-L108

or:

https://github.com/dotnet/fsharp/blob/af0015e5cac978bef2aa10264f63c886a2532bda/src/Compiler/Se

[2022-08-22 13:23] psfinaki opened #13749 "Refactor language version behavior in FSC"
@KevinRansom Yep, thanks for the point, I think I will address that separately in a followup. That thing is just ridiculous - the function is called "setLanguageVersion" but actually it sometimes sets the version and sometimes gets the versions. That's like against all the coding principles, so I'll better do a small refactoring and testing around that.

_Originally posted by @psfinaki in https://

[2022-08-22 13:26] psfinaki opened #13750 "Add tests for adequate help output in FSC"
This should be a replacement for current perl-run tests bound to the `--dumpAllCommandLineOptions` option.

[2022-08-22 13:27] #12994 closed

[2022-08-22 14:05] dsyme commented on #12860
Fixed in https://github.com/dotnet/fsharp/pull/13673

[2022-08-22 14:05] #12860 closed

[2022-08-22 15:25] #13549 closed

[2022-08-23 00:01] mairaw opened #13753 "[Tracking] Consider adding a "help wanted" label"
Using the **help wanted** label is especially recognized by GitHub and we're trying to get a consistent experience for newcomers. See context at https://github.com/dotnet/runtime/issues/71496

I also noticed this project already exists in up-for-grabs.net but it has the wrong label configured since the up for grabs label doesn't exist in this repo. So ideally we can add the **help wanted** label a

[2022-08-23 09:05] nojaf opened #13756 "Signature file generation does not handle internal record with xml comment"
When generating a signature file from an internal record with a code comment, the generated code is not indented far enough.

**Repro steps**

[code]

leads to

[code]

**Expected behaviour**

The generated signature should be considered equivalent to the backing source file.

**Actual behaviour**

The generated code isn't valid:

![image](https://user-images.githubusercontent.com/2621499/18611835

[2022-08-23 09:10] nojaf opened #13757 "Signature file generation does not handle empty assembly info input"
When generating a signature file from an assembly info file, the generated code is empty.

**Repro steps**

[code]

leads to

[code]

**Expected behaviour**

The generated signature should be considered equivalent to the backing source file.

**Actual behaviour**

The generated code isn't valid:

![image](https://user-images.githubusercontent.com/2621499/186119348-f05c62b4-c662-485f-b29c-b2ae28210

[2022-08-23 09:13] nojaf opened #13758 "Signature file generation does not handle attributes on nested modules"
When generating a signature file from a nested module with attributes, the generated code does not contain any attributes for the nested module.

**Repro steps**

[code]

leads to

[code]

**Expected behaviour**

The generated signature should be considered equivalent to the backing source file.

**Actual behaviour**

The generated code isn't valid, error in implementation:

![image](https://user-

[2022-08-23 09:18] nojaf opened #13759 "Signature file generation does not handle arguments in attributes"
When generating a signature file from a type with attributes with arguments, the generated code does not contain any arugments.

**Repro steps**

[code]

leads to

[code]

**Expected behaviour**

The generated signature should be considered equivalent to the backing source file.

**Actual behaviour**

The generated code isn't valid, warning in implementation file:

![image](https://user-images.git

[2022-08-23 09:23] nojaf opened #13760 "Signature file generation does not handle statically resolved type parameter"
When generating a signature file from a function with statically resolved type parameters, the generated code requires an additional space.

**Repro steps**

[code]

leads to

[code]

**Expected behaviour**

The generated signature should be considered equivalent to the backing source file.

**Actual behaviour**

The generated code isn't valid:

![image](https://user-images.githubusercontent.com/2

[2022-08-23 09:41] nojaf opened #13761 "Signature file generation does not handle types from a shared namespace"
When generating a signature file from a type annotation with a type from a shared namespace, the generated code requires an additional inclusion of the shared namespace.

**Repro steps**

[code]

leads to

[code]

**Expected behaviour**

The generated signature should be considered equivalent to the backing source file.

**Actual behaviour**

The generated code isn't valid:

![image](https://user-

[2022-08-23 12:24] allisonchou opened #13763 "[Automated] PRs inserted in VS build main-32823.41"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/c851a184e338879a6ef0f040e9b881a5c25b639d...4e67cca0eff2507bcc1e5c63ea10834949b92a8a?w=1)
- [Reflection free code gen (12960)](https://github.com/dotnet/fsharp/pull/12960)

[2022-08-23 20:49] KevinRansom commented on #13761
@nojaf ... nice, you have found a bug farm :-)

[2022-08-23 22:19] KevinRansom commented on #12023
System.Drawing.Common is not a standard: Microsoft.NETCore.App assembly.
It is in fact a : Microsoft.WindowsDesktop.App assembly

We don't probe there and fsi is not compiled: Microsoft.WindowsDesktop.App.  So the runtime doesn't know to probe there either.

I'm not sure what to do about this.  We haven't really considered the impact of Microsoft.WindowsDesktop.App or Microsoft.AspNetCore.App on f

[2022-08-23 22:20] KevinRansom commented on #12023
Here is another example:  https://github.com/dotnet/fsharp/issues/13473

[2022-08-23 22:38] KevinRansom commented on #12023
Okay, I think we may be able to do it using #r nuget: ... it's going to take some work though.

Nuget has packages with binaries, which look like they may work ...

If we do it right, I might be able to eliminate the preloading hack we do today although maybe not because of namespaces.

Prioritization remains to be seen.

[2022-08-24 01:10] 0x53A commented on #12239
@abelbraaksma maybe it was true instead of false, I’m not sure

[2022-08-24 06:31] nojaf commented on #13761
Yes, this is quite the lesser-used functionality 😸

[2022-08-24 06:55] francotiveron opened #13769 "F# strange difference in resolving class method calls"
Given the following F# code
[code]
in MyWorker2 the call this.DoWork is resolved as recursive call. I'd expect to behave as in MyWorker1, that is call (*3*).

[2022-08-24 06:59] gusty commented on #13769
I think I found myself in situations derived by this mini-repro many times.

My wild guess of what's happening is that in the 2nd class the introduction of a flexible adds a type parameter  ` 'a`  , which requires a call to the constraint solver.

Now the constraint solver performs overload resolution, then at some point, looking at the candidates, the constraint that the type parameter  ` 'a`  is

[2022-08-24 11:01] abelbraaksma commented on #13769
It appears to only happen with `seq`. It doesn't matter what types you use, i.e. `#obj` leads to the same issue. Unless the type is sealed, i.e. `#string` is fine. Change `seq` to `list` or to `array` resolves correctly. It does show, however, that the type-resolver adds a second type constraint, but both are equal: `when 'a :> MyClass`.

Since `seq` is an intrinsic, where `array` and `list` are n

[2022-08-24 11:19] smoothdeveloper commented on #10323
@vzarytovskii / @KevinRansom can we remove "needs-repro", and reopen this issue?

I'm attaching another sample, which involves a type provider that supports netstandard, switching the target to net6.0 in the sample doesn't change the outcome.

[sqlclienttp.zip](https://github.com/dotnet/fsharp/files/9415570/sqlclienttp.zip)

Maybe there is a way to improve the compiler report more details about th

[2022-08-24 12:36] nojaf opened #13772 "Add optional width parameter for FSharpCheckFileResults.GetToolTip"
**Is your feature request related to a problem? Please describe.**

When the IDE gets a tooltip via [FSharpCheckFileResults.GetToolTip](https://fsharp.github.io/fsharp-compiler-docs/reference/fsharp-compiler-codeanalysis-fsharpcheckfileresults.html#GetToolTip), it will eventually print a layout from NicePrint.

**Describe the solution you'd like**

https://github.com/dotnet/fsharp/blob/bdb64624f0c

[2022-08-24 13:22] vzarytovskii commented on #13753
I will add the label and relabel where necessary.

[2022-08-24 13:26] vzarytovskii commented on #13753
Done, added the label

[2022-08-24 13:26] #13753 closed

[2022-08-24 13:26] allisonchou opened #13774 "[Automated] PRs inserted in VS build main-32824.32"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/4e67cca0eff2507bcc1e5c63ea10834949b92a8a...e179164eeb1ecc7d7eb35beda83a856ea6e7f6e4?w=1)
- [Enable f sharp70 (13688)](https://github.com/dotnet/fsharp/pull/13688)
- [To net70 (13706)](https://github.com/dotnet/fsharp/pull/13706)
- [Fixed a few typos (13752)](https://github.com/dotnet/fsharp/pull/13752)
- [Properly handle cons

[2022-08-24 14:32] #13761 closed

[2022-08-24 16:05] gusty commented on #13769
@abelbraaksma I don't think `seq` is special here.
`seq` is the `IEnumerable` interface whereas `array` and `list` are (sealed) types, so you can inherit from `seq` but not from arrays and lists.

There's a point where the constraint solver checks if a type is sealed and if it's not it adds the `'t :> [type]` constraint.

Here's an example using `IEnumerator` instead of `IEnumerable` (seqs) and it

[2022-08-24 16:11] gusty commented on #13769
For more info, here's the line I suspect is causing this https://github.com/dotnet/fsharp/blob/710a5d1e81708b67ef6924234a87b69f920c5af7/src/Compiler/Checking/ConstraintSolver.fs#L1362-L1365

In the past many bugs investigations I did, pointed me to that same fragment of code, my feeling is that it needs to check some additional conditions before adding the constraint.

[2022-08-24 18:26] mairaw commented on #13753
Thanks. I created a PR for the label update as well: https://github.com/up-for-grabs/up-for-grabs.net/pull/3332

[2022-08-24 19:06] #13750 closed

[2022-08-25 00:40] abelbraaksma opened #13780 "warning FS0057: Experimental library feature for use of CompilerServices.StateMachineHelpers"
Basically, just using anything from `FSharp.Core.CompilerServices.StateMachineHelpers` throws the FS0057 warning.

I noticed these while experimenting with the `taskSeq` code from the F# perf tests, i.e.: https://github.com/dotnet/fsharp/blob/d5312aae8aad650f0043f055bb14c3aa8117e12e/tests/benchmarks/CompiledCodeBenchmarks/TaskPerf/TaskPerf/taskSeq.fs

## Repro steps

[code]

## Expected behavior

[2022-08-25 15:30] auduchinok commented on #7861
@dsyme I've tried to remove the workaround with additional explicit reference today, and it seems it hasn't been fixed:
[code]

[2022-08-26 03:42] alfonsogarciacaro commented on #13759
I'm seeing something similar in Fable, suddenly FCS doesn't expose the attributes of arguments of `FSharpMemberOrFunctionOrValue`. Note in my case it's an implementation file and the typed AST.

[2022-08-26 12:25] alfonsogarciacaro opened #13786 "FSharpMemberOrFunctionOrValue doesn't include attributes for params in CurriedParameterGroups"
This seems to be a known issue because there are several comments in `FSharpMemberOrFunctionOrValue` like this one: https://github.com/dotnet/fsharp/blob/236db9817ee215ce3c086928ace8c891d8c3564d/src/Compiler/Symbols/Symbols.fs#L2047-L2062

Not sure if this something that is not possible/easy to implement or it's been a TODO that has remained in the code base. Interestingly when members are interna

[2022-08-26 18:07] KevinRansom commented on #13780
@abelbraaksma  ... it turns out that we left the experimental attributes in F# Core.   Coincidentally I removed them just last week, so can you try to repro with a build from Main.

https://github.com/dotnet/fsharp/pull/13688/files#diff-0570f54b81d22a577cd83100ba455f5dd8ccbf39b50497b6af94d84b4236b2d5R17

[2022-08-26 18:46] jwosty opened #13789 "Confusing type inference error in task expression"
Not sure whether or not this is a bug, or should be a feature request, but I ran into this and found it incredibly confusing.

It seems that the ``task`` CE produces certain kinds of typing errors on the wrong lines, where the equivalent ``async`` expression produces no errors at all.

**Repro Steps**

Compile the following code:

[code]

**Expected behavior**

This code should either compile with

[2022-08-26 18:50] jwosty commented on #13789
Potentially related to https://github.com/dotnet/fsharp/issues/12929

[2022-08-27 21:37] AntonLapounov commented on #9397
Fixed by #13428 and #13770.

[2022-08-27 22:56] #13638 closed

[2022-08-27 22:56] #13649 closed

[2022-08-27 22:56] #13746 closed

[2022-08-27 22:56] #13763 closed

[2022-08-27 22:56] #13774 closed

[2022-08-27 23:33] KevinRansom commented on #13714
@vzarytovskii
The project system displays the C# warning levels mechanism for F# project, we should look at this.

![image](https://user-images.githubusercontent.com/5175830/187051330-ffac5779-489e-458b-a836-223f0f2b8970.png)

[2022-08-29 12:57] MarkNicholls opened #13799 "error FS0073: internal error: tcrefOfAppTy (Failure) - using latest vs 17.3.2"
I'm getting this error

    error FS0073: internal error: tcrefOfAppTy (Failure)

reported on this code

[code]
apologies for the strange code, this is part of a much much bigger project with literally hundreds if not thousands of types (I'm wondering if that's the problem somehow), and this is the simplest example I can give.

This code DID used to compile on azure devops on a "windows-2019" box,

[2022-08-29 13:04] MarkNicholls commented on #13799
I looked at that one it says:

Changing the .NET SDK to 6.0.302 (and changing the <TargetFramework>) does allow this sample to compile.

thats why I tried downgrading to 6.0.302

it still doesnt work

[2022-08-29 13:11] vzarytovskii commented on #13799
It should help (just checked it) when using only .NET SDK, and not VS msbuild. Since the bug was introduced in `6.0.400` and latest VS17.3, I think, if you have installed VS and use its SDK, it will fail.

It was also fixed in the VS 17.4, which is in preview now.

We are trying to do the servicing release for 17.3.x and 6.0.xxx, but there's no ETA for now.

[2022-08-29 13:13] MarkNicholls commented on #13799
ok, its not core functionality for me, so I'll wait for 17.4 and let u know if that doesnt fix it.
Thanks v much

[2022-08-29 13:53] auduchinok opened #13801 "build.cmd fails"
Trying to build `main` in a clean working copy:
[code]

[code]

According to the readme, `build.cmd -noVisualStudio` should not require any Visual Studio version, but I've updated it to the latest release just in case:
[code]

[2022-08-29 14:21] allisonchou opened #13802 "[Automated] PRs inserted in VS build main-32829.35"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/e179164eeb1ecc7d7eb35beda83a856ea6e7f6e4...4d297243ce02e28bd92dfc3a8d95da3812d2461a?w=1)
- [Make GetReverseIndex Experimental again (13788)](https://github.com/dotnet/fsharp/pull/13788)
- [Fixed missing import (13790)](https://github.com/dotnet/fsharp/pull/13790)
- [Fixed FSComp typo (13787)](https://github.com/dotnet/fsharp/

[2022-08-29 16:22] mmitche opened #13804 "Specify all source-built dependencies and ensure they are regularly updated"
### Overview

Source-build works today by building a repository, gathering the versions of the outputs, and creating a property file with those versions. This property file is then fed to downstream repositories, which import it after their `eng/Versions.props`. The resulting behavior is that the downstream repo overrides all dependency versions specified in `eng/Versions.props` with the versions

[2022-08-29 16:52] vsfeedback opened #13805 "F# compilation for linux-arm (Raspberry Pi) results in System.BadImageFormatException."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/F-compilation-for-linux-arm-Raspberry-/10126267)._

---
[severity:I'm unable to use this version] [regression] [worked-in:VS 17.3.0]
Create new F# Console app in VS (Windows/Mac).
Compile targeting linux-arm, self-contained=true.
Run on a Raspberry Pi.

Result:
Unhandled exception. Syste

[2022-08-29 16:54] vsfeedback opened #13806 "IDE crashing (StackOverflow in FCS)"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/IDE-crashing-often-without-having-change/10126676)._

---
Reporting this on request of David Kean (see https://twitter.com/davkean/status/1561539959236210688)

---
### Original Comments

#### Feedback Bot on 8/22/2022, 07:10 AM:

(private comment, text removed)
#### David Kean [MSFT] on

[2022-08-29 16:55] vzarytovskii commented on #13806
More info: https://dev.azure.com/devdiv/DevDiv/_workitems/edit/1597537

[2022-08-29 16:56] vzarytovskii commented on #13806
cc @davkean

[2022-08-29 18:46] KevinRansom commented on #13805
Hmm ... did I break 32 bit arm builds. I will take a look.

[2022-08-30 04:13] samritchie commented on #13084
I've upgraded to Ionide 7.1.0/FSAC 0.56.2 and intellisense is not instant but is at least usable - possibly it was related to this: https://github.com/fsharp/FsAutoComplete/pull/977. This version still crashes with an SO opening the repro file without the `FSHARP_TcStackGuardDepth` workaround.

[2022-08-30 06:44] kentcb commented on #13806
@vzarytovskii Thanks for moving this to GH. This issue is really slaughtering my productivity with the one solution that it appears to affect (which is unfortunately the main solution I'm working with day-to-day). No trying to rush things, but is there any chance this will be looked at soon? Just want to figure out whether I need to pivot somehow, although I've already tried Rider and it exhibits

[2022-08-30 09:30] dsyme commented on #13806
Odd stack, need to look at this code, don't really expect 30+ deep module hierarchies and wouldn't really expect this to use so much stack anyway even if we did
[code]

[2022-08-30 09:33] dsyme commented on #13806
Looks like unusually deeply nested module/namespace/type, would be good to confirm that @kentcb . Possibly from type provider or other codegen, maybe from imported assembly.

[2022-08-30 12:46] nojaf opened #13809 "Signature file generation does not handle attributes above recursive types"
When generating a signature file from a recursive type with an attribute, the generated code places the attribute above the `and` keyword.

**Repro steps**

[code]

leads to

[code]

**Expected behaviour**

The generated signature should be considered equivalent to the backing source file.

**Actual behaviour**

The generated code isn't valid:

![image](https://user-images.githubusercontent.com/26

[2022-08-30 12:50] nojaf opened #13810 "Signature file generation does not handle literal values"
When generating a signature file from an attribute that uses a literal, the generated code will have the constant value instead of the literal.

**Repro steps**

[code]

leads to

[code]

**Expected behaviour**

The generated signature should be considered equivalent to the backing source file.

**Actual behaviour**

The generated code is using a hardcoded string instead of the defined literal.

*

[2022-08-30 14:56] allisonchou opened #13811 "[Automated] PRs inserted in VS build main-32830.53"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/4d297243ce02e28bd92dfc3a8d95da3812d2461a...22514929f2e903ea8c14947bea7c2b242886e1ee?w=1)
- [Missed a spot when updating to -Svc pool provider (13807)](https://github.com/dotnet/fsharp/pull/13807)
- [Staticize some overly instanced methods (13794)](https://github.com/dotnet/fsharp/pull/13794)

[2022-08-30 15:10] #13811 closed

[2022-08-30 15:31] #13756 closed

[2022-08-30 15:56] mmitche opened #13812 "Unified Build control update"
### Description

**This issue is dependent on https://github.com/dotnet/source-build/issues/2974 and is a placeholder for .NET 8 required work in product repositories.**

Instructions for implementation will be updated once https://github.com/dotnet/source-build/issues/2974 but will likely be a mechanical shift of properties in this repo. In a general sense, this is scaffolding work for expanding

[2022-08-30 15:56] mmitche commented on #13812
This is .NET 8 work

[2022-08-30 16:06] vzarytovskii commented on #13667
This is done

[2022-08-30 16:06] #13667 closed

[2022-08-30 18:36] auduchinok commented on #7861
If the literal reference is removed too early and is not easy to get back at this point, could using the type of the attribute field/property help?

[2022-08-31 01:04] Quetzalcoatl2435 commented on #13805
Thanks for taking a look at this. Just wanted to add it's still broken on 17.3.2 for linux-arm. It does work for win-x86/x64 and osx-x64, though.

I currently don't have a linux-arm64 device on hand, but one should be coming in the next week or so. I'll update this when I get a chance to test it on that device.

[2022-08-31 13:06] abelbraaksma commented on #12239
Well, either way, @vzarytovskii has solved it! 🎆 .

[2022-08-31 17:15] abelbraaksma opened #13816 "Can we get feedback when compiling, about what FSC version is being used?"
This may be more relevant to people working with developing the compiler itself, but I often find myself wondering what compiler is being configured from my Visual Studio. Having both VS 2022, older version and VS 2022 Preview, plus the one compiled by the F# repo, I'm often not 100% sure what version I'm using.

This is even more relevant when reporting bugs. People tend to be behind on updates,

[2022-08-31 23:36] abelbraaksma commented on #13549
Just (finally) tested it locally with latest from `main`. Works. Thanks so much!

[2022-08-31 23:49] abelbraaksma commented on #13801
I cannot repro. I just did a `git clean -xdf` and ran `build.cmd`. This was on Windows. Are you running this from a Developer Command Prompt? And if so, is that the VS Preview command prompt?

I can actually run it from a "normal" command prompt. I'm a little surprised that the paths resolved appear to find the Version 15 of the build tools.

I appear to have the exact same version:

[code]

Can y

[2022-09-01 00:07] kentcb commented on #13806
@dsyme I wrote a little script (below for reference) to load all app assemblies and determine namespace depth. The deepest is 6, which I'm assuming is completely reasonable. It feels like I must be missing something...

[code]

[2022-09-01 00:53] abelbraaksma opened #13817 "Single quote in function name in external library means xmldoc lookup fails"
Basically, I see this with `FsToolkit.ErrorHandling` version 2.13 (unclear whether it happens to other members as well):

![image](https://user-images.githubusercontent.com/16015770/187809002-7c0b2e40-557a-4f20-9387-3292ca9f4bf4.png)

## Repro steps

Use `FsToolkit.ErrorHandling` and type `List.traver` to get the list of `traverseXXX` functions. Scroll down to `traverseValidationA'` (the one with

[2022-09-01 08:35] nojaf commented on #12119
Hello @dsyme, what are your thoughts on formatting some more files?
I've taken an interest in `NicePrint.fs` which is currently ignored by `src/Compiler/Checking/**/*.fs`.
What would the approach be to include more files?

[2022-09-01 09:40] auduchinok commented on #13801
No, I never run it from the Developer Command Prompt, as this is `build.cmd -noVisualStudio` and it's expected to not depend on anything VS specific. A ~month ago `main` was building fine in `MINGW64`/`bash`.

[2022-09-01 10:05] vzarytovskii commented on #13801
That should not be affecting `noVisualStudio` builds though. For some reason it seems that it ignores the flag (or building something which relies on VS).

[2022-09-01 10:41] auduchinok commented on #13801
Sorry, it turned out to be a problem on my side: I've cloned a wrong fork repo.

[2022-09-01 10:41] #13801 closed

[2022-09-01 12:34] abelbraaksma opened #13823 "Type alias does not get applied in some cases"
In the example below, the type alias is not present on `map`, but is on the operator. Note that it doesn't matter whether the second binding is an operator or just another function.

## Repro steps
Take this code:

[code]

## Expected behavior

The types shown in either the tooltips in VS or VSCode, or in FSI, should be as follows:

[code]

## Actual behavior

But they aren't. The first of the fun

[2022-09-01 14:41] nojaf commented on #13760
Appears to be no longer a problem in dotnet 7.

[2022-09-01 14:41] #13760 closed

[2022-09-01 18:34] mmitche opened #13829 "TFM trimming, and elimination of net4* targeting in Linux source-build"
### Description

Trim away unneeded TFMs, and conditionalize away non-applicable TFMs for Linux source build.

**Requires** https://github.com/dotnet/source-build/issues/3013. source-build net4* targeting elimination required https://github.com/dotnet/source-build/issues/2974

The purpose of this operation is twofold:
- [ ] Reduce the number of TFMs present overall in .NET's build, potentially imp

[2022-09-01 18:34] mmitche commented on #13829
This is .NET 8 work

[2022-09-01 22:25] kentcb commented on #13806
@dsyme Interestingly, the crashes have stopped for me, and I believe I know the exact change that alleviated the problem, though I will admit I haven't confirmed (due to time constraints). That said, it's the only change that I would foresee having any bearing on this situation and intuitively it might explain things.

Here's an explanation. We've got a Fable React app that we're transitioning fro

[2022-09-02 00:02] #13805 closed

[2022-09-02 13:17] 0101 commented on #13606
I created some parsing and type checking benchmarks on FSharpPlus and FsToolkit.ErrorHandling which take reasonable amount of time but should also hopefully catch most regressions.

https://github.com/dotnet/performance/pull/2592

They can be run locally, with local build of FSC plugged in via project file. I'll think about making that easier somehow.

[2022-09-02 13:37] #13757 closed

[2022-09-02 15:04] auduchinok opened #13831 "Struct `SynType.Tuple` has invalid range"
Consider `struct` tuple type annotation:
[code]
After #13440 the type range doesn't include `struct (` and `)` anymore ([ast](https://fsprojects.github.io/fantomas-tools/#/ast?data=N4KABGBEAmCmBmBLAdrAzpAXFSAacUiaAYmolmPAIYA2as%2BEkAxgPZwWQ2wAuYA%2BtjQ8ATgFdmfABQo%2BAKjCyAlGAC8YKUsggAvkA)), despite they are parsed as part of the corresponding rules:
https://github.com/dotnet/fsharp/blob/bdb64624f0

[2022-09-02 15:08] 0101 opened #13832 "Incorrect signature generated for recursive module"
Discovered in https://github.com/dotnet/fsharp/pull/13813

**Repro steps**

Generating signature for:
[code]
**Expected output**

[code]

**Actual output**

[code]

Test code:
[code]

[2022-09-02 15:09] nojaf commented on #13831
@auduchinok good catch, let me take a look at that next week.

[2022-09-02 15:13] auduchinok commented on #13831
I'm glad we have lots of tests for these things 😅

[2022-09-02 16:40] auduchinok opened #13833 "SynMemberDefn.GetSetMember may miss XmlDoc"
After #13420, a type member may miss XmlDoc in the syntax tree ([ast](https://fsprojects.github.io/fantomas-tools/#/ast?data=N4KABGBEAmCmBmBLAdrAzpAXFSAacUiaAYmolmPAIYA2as%2BEkAxgPZwWQAuAngA6wwAQTABeADrIIEAPRywAIUnSwAW1iqARrABOYAB4A6BWADuiLgAswAc1hcAFAEoxYAKyQQAXyA)):
[code]

cc @nojaf

[2022-09-02 18:23] auduchinok opened #13834 "`SynPat.Range` doesn't include active pattern parens"
I think the pattern should include parens that are parsed as part of its identifier, but it doesn't ([ast](https://fsprojects.github.io/fantomas-tools/#/ast?data=N4KABGBEAmCmBmBLAdrAzpAXFSAacUiaAYmolmPAIYA2as%2BEkAxgPZwWQ2wAuYAFAB8AgoICUYALwCxkEAF8gA)):
[code]

[2022-09-05 15:17] NinoFloris commented on #12946
@vzarytovskii this one is also fixed by https://github.com/dotnet/fsharp/pull/13673

[2022-09-05 15:58] Zaid-Ajaj commented on #12946
@NinoFloris Any idea when it will ship in the next dotnet SDK?

[2022-09-05 17:11] auduchinok commented on #13833
Sorry, found an issue on our side. The new `GetSetMember` wasn't being handled correctly.

[2022-09-05 17:11] #13833 closed

[2022-09-05 18:23] auduchinok opened #13842 "`SynLongIdent.IdentsWithTrivia` throws exceptions"
[code]

[Ast](https://fsprojects.github.io/fantomas-tools/#/ast?data=N4KABGBEAmCmBmBLAdrAzpAXFSAacUiaAYmolmPAIYA2as%2BEkAxgPZwWQC27ArjbDABZPgIA6yCQEEAdJBABfIA). Trying to get the idents with trivia leads to the following exception:
[code]

I can make a workaround, but it's suspicious that the trivia is missing (i.e. empty list instead of `[None]`), and it should't probably throw instead of return

[2022-09-05 23:01] NinoFloris commented on #12946
Not sure, might have made it for rc1 but otherwise rc2 maybe?

[2022-09-06 05:47] eldenis commented on #4955
![2022-09-06 00_47_18-XliffParser (Debugging) - Microsoft Visual Studio](https://user-images.githubusercontent.com/4098971/188556337-88aea6d4-7717-4887-816c-a0ee52d5d5b8.png)
It's happening for me on VS2022.

[2022-09-06 08:15] nojaf commented on #13842
Any idea in the grammar where it is creating `A.`?
I feel like the problem is more over there that it created ident A without adding the trivia.

Debatable, I don't have any strong sentiment about that part.

[2022-09-06 10:56] abelbraaksma commented on #4955
@eldenis interesting! Hasn't happened for me ever again on VS 2022. Maybe reopen as a new issue, considering how old this one is (and it's closed)? Hope you have a repo, it was something that I never managed to get.

[2022-09-06 11:25] auduchinok commented on #13842
It looks like it could be this:
https://github.com/dotnet/fsharp/blob/bdb64624f0ca220ca4433c83d02dd5822fe767a5/src/Compiler/SyntaxTree/SyntaxTreeOps.fs#L466-L471

With this exception this API is just too dangerous to use, as it throws on unfinished code during normal typing (I had to remove all its usages for now). Adding `None` for missing trivia items would make it much safer.

[2022-09-06 13:10] auduchinok opened #13848 "`SynType.Tuple` doesn't include leading parameter names and attributes in signatures"
[code]

[Ast](https://fsprojects.github.io/fantomas-tools/#/ast?data=N4KABGBEAmCmBmBLAdrAzpAXFSAacUiaAYmolmAC4BOArrPhJAMYD2cFklAngA6xgAKmAC8AHWQQIAW1jSARrGpgAstl4BGbAEMwAKjDywAWgB8YFJQmQQAXyA). It seems previously names and attributes were included, as we used the tuple type `range` field to find where parameter signature starts.

cc @nojaf

[2022-09-06 13:31] nojaf commented on #13848
Being devil's advocate here, if the type is not in a tuple it also isn't included in the `SynType` range.

[Example](https://fsprojects.github.io/fantomas-tools/#/trivia?data=N4KABGBEDGD2AmBTSAuKAXAngB0WAKmALwA6AdhBALaJUBGiATmALJpjYAMaAzuowEsyAczAAbAXzABaAHwcAjGgCGYAFRg6M%2BUPTlIAGnBQkAMyGIeqKIeORJAMR4Dr-AK6IQAXyA)

`SynType.App` doesn't contains `p0`.

Aren't we missing a better representation in

[2022-09-06 14:42] nojaf commented on #13848
Proposal:

Fixing the bug first as is.
And in a future PR I'd like to have something like:

[code]

to represent `a: t`

[2022-09-06 15:16] auduchinok opened #13849 "Unused binding warning isn't reported for recursive binding in a type"
Consider the following type declaration:
[code]

Earlier FCS versions would report `f` as unused with `--warnon:1182` flag present, but the current `main` doesn't report it anymore.

@psfinaki Could it be somehow related to #13429?

[2022-09-06 16:41] NinoFloris opened #13851 "Pattern discard allowed for union case that takes no data"
Match discards aren't type checked against case

[code]

[2022-09-06 17:15] vzarytovskii commented on #13851
Duplicate of https://github.com/dotnet/fsharp/issues/10204 and https://github.com/dotnet/fsharp/issues/1592, which are not considered bugs, according to @dsyme.

[2022-09-06 19:38] edgarfgp commented on #13851
It always triggers me that when refactoring a DU my code still still complex where I’m using _ in pattern matching 😟

[2022-09-06 21:13] gusty commented on #10379
@dsyme just curious why did you remove the Regression label?

As per your comments above

Is there any chance this will be fixed anytime soon ? 🤔

[2022-09-07 10:58] dsyme commented on #12119
@nojaf Please just go ahead and apply the formatting to a suitable chunk of code, and we can review in PR

[2022-09-07 10:59] dsyme commented on #12119
@nojaf For example, you can expand out the list of files in `src/Compiler/Checking/**/*.fs`, and start to selectively remove them from the exclusion lists

[2022-09-07 11:00] dsyme commented on #13806
OK.  Since the crashes have stopped we can close this for now, please don't hesitate to reopen if they start again, thanks

[2022-09-07 11:00] #13806 closed

[2022-09-07 11:04] dsyme commented on #13851
Things have changed a bit since 2016, and we now are more inclined to emit new informationals and warnings, protected by a `/langversion` switch.

So I'd definitely be ok with emitting at least an informational, and possibly a warning for this case.

[2022-09-07 11:18] #13802 closed

[2022-09-07 12:39] vzarytovskii opened #13854 "Move PEverify tests to use ilverify"
PEverify fork is quite old and not compatible with coreclr (and has problems building with .net7p7+), we need to move those tests to use ilverify.

[2022-09-07 14:58] NinoFloris commented on #13851
Was this originally missed or was this intended as a source compatibility feature? (being able to drop data in select scenarios)

Do informational diags pop up in IDEs? I wouldn't mind a warning tbh.

[2022-09-07 15:40] auduchinok opened #13857 "Exception in `ParseAndCheckFile` when using FCS built in Debug configuration"
During an update of our FCS fork a pair of our tests started failing with a very strange exception deep in the type checker:

<details>
  <summary>More exception info from the test output</summary>

[code]
</details>

After the initial investigation I've discovered that the tests don't fail if I build FCS in Release configuration instead of Debug. My first thought here is it could probably been so

[2022-09-07 17:21] vzarytovskii commented on #13816
Yeah, I guess it makes sense to add it.

[2022-09-08 13:44] psfinaki commented on #13816
Hmmm good idea, thanks for specifying the actual usecases for this.
@vzarytovskii assigning this on me for now - but let's plan this separately later.

[2022-09-08 13:51] psfinaki commented on #13849
@auduchinok not that I can think of a direct connection - but cannot say for sure since CheckExpressions.fs is a very interconnected thing and everything can happen there. Or maybe @dsyme you have insights on that?

Regardless, this is a regression, not good - @vzarytovskii FYI.

[2022-09-08 14:19] vzarytovskii commented on #13849
It is likely related to the way we check it (i.e. we don't check if it has `CompilerGeneratedAttribute`)
Here:
https://github.com/dotnet/fsharp/blob/638e479dd2af2a072c34c9fd573ec61b1d3dff1a/src/Compiler/Checking/CheckIncrementalClasses.fs#L291-L293
And here:
https://github.com/dotnet/fsharp/blob/638e479dd2af2a072c34c9fd573ec61b1d3dff1a/src/Compiler/Checking/PostInferenceChecks.fs#L308-L319

We've

[2022-09-08 14:24] dsyme commented on #13849
Even just this is a repo:
[code]

[2022-09-08 14:52] 0101 commented on #13849
@vzarytovskii strange, the `TypedTree.Val` for `f` somehow gets the `isCompGen` flag. Not sure how.

[2022-09-08 15:00] 0101 commented on #13849
This seems to be where it happens.

![image](https://user-images.githubusercontent.com/217092/189156084-bae9a49f-e5d5-4893-88a2-28c38caaece7.png)

[2022-09-08 15:17] allisonchou opened #13860 "[Automated] PRs inserted in VS build main-32908.64"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/22514929f2e903ea8c14947bea7c2b242886e1ee...548527d5b68c860d0f17e93348b1628795286ceb?w=1)
- [Update public pool names (13819)](https://github.com/dotnet/fsharp/pull/13819)
- [Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 1964393 (13776)](https://github.com/dotnet/fsharp/pull/13776)
- [Fix net48

[2022-09-08 16:05] dsyme commented on #13849
I added this comment here, though didn't change the setting at that point:

https://github.com/dotnet/fsharp/pull/12432/files#diff-1166ef31585c9572a1ef181219c1bf3ee6cb3a444d787f0179c06cda56e96439R979-R981

[2022-09-08 16:18] dsyme commented on #13849
Note that in the checking of incremental classes, two Val are in play in IncrementalClasses.fs:

* We initially create a non-member value `f` and do most checking with respect to that.
* After the class is fully checked we then later decide on the representation of each local `let` as either
  * a field
  * a constructor-local
  * a method
  If it's a method then we create a new member value `f`,

[2022-09-08 16:52] DedSec256 opened #13861 "XmlDoc required for unnamed union case field"
**Repro**

[code]

![image](https://user-images.githubusercontent.com/26364714/189180256-113ca372-19a2-4273-8b2c-bd9da4e57f9e.png)

**Expected behavior**

XmlDoc is not required for the parameter

[2022-09-08 22:18] #13831 closed

[2022-09-09 02:05] abelbraaksma commented on #9298
Behavior of C# seems to have changed now. For a property with a single `ret` in the IL:

* C# doesn't crash when stopping at a breakpoint
* If it's the only property, it won't show it when hovering while debugging
* If there are more properties, it shows the other properties, but not the `void` one in the context-sensitive help
* You cannot access the property normally, only with the `get_` prefix

[2022-09-09 10:07] #13860 closed

[2022-09-09 10:47] auduchinok commented on #13861
This is inconsistent to other places where anonymous top-level parameters can be declared, like parameters in functions and methods, where unnamed patterns are ignored by this check.

@dsyme @vzarytovskii Would you accept a PR making the union cases behave in line with other places?

@DedSec256 Would you like to make a PR with the change? If yes, `IsNameGenerated` from https://github.com/dotnet/fs

[2022-09-09 11:18] nojaf commented on #12370
@vzarytovskii how would one do this? I've been fighting with Proto a lot the past couple of days.
It would sparkle joy if we could develop without it.

[2022-09-09 11:49] jkone27 opened #13866 "F# interactive fails to load proper project "version" when using multiple scripts load"
<img width="944" alt="image" src="https://user-images.githubusercontent.com/10419217/189342599-379c9c1a-4b0a-445c-b1e6-a2cf7b9bbbe6.png">

I get this behaviour when referencing multiple scripts from different files

<img width="359" alt="image" src="https://user-images.githubusercontent.com/10419217/189342704-3b78b841-b927-4ec3-80af-41a99cd8feb0.png">

i have a single Domain.fsx which i load in mu

[2022-09-09 12:00] dsyme commented on #12761
@JohSand @et1975 @TheAngryByrd I have pushed a fix for this.  I apologise for not getting to this earlier.

@JohSand is correct that the problem happens when `ResumableStateMachine<>` is used in a closure in the `AfterCode<,>`.

I don't think there's any workaround if it is necessary to capture the `ResumableStateMachine` struct type in a closure of the AfterCode.  For example, in this code for `b

[2022-09-09 12:08] dsyme commented on #13861
Aside: the whole question of XML docs for union cases is a signficant piece of the F# documentation puzzle that hasn't been properly addressed.  The underlying problem - like a lot of corner cases in F# - is that XML docs are a .NET standard w.r.t. the compiled representation - so what does an XML doc on a union case even refer to?

For the above case - I think the warning is actually reasonable -

[2022-09-09 12:17] dsyme commented on #12761
Note that the bug only manifests itself for generic code producing tasks where generic type parameters do not appear in the type of the thing returned by the task.  So this is ok:
[code]
but this is not:
[code]

[2022-09-09 14:18] dsyme opened #13869 "Running FSI prints "module FSI_001" before anything else"
Running FSI prints "module FSI_001" before anything else

This looks like a regression:

[code]

[2022-09-09 14:19] dsyme commented on #13869
@nojaf This may be related to your changes in module printing.

[2022-09-09 15:46] nojaf commented on #13869
This could very well be related, I'll take a look at this next week.
One question though, if this is an empty module, why is `dotnet fsi` printing it immediately to the screen? That feels like it is evaluating something before the user even entered anything.

[2022-09-09 16:01] dsyme commented on #13869
Yes, it evaluates a dummy, empty module to "JIT all the main code" so it's ready to compile and run user code faster.

[2022-09-09 16:52] vzarytovskii commented on #13780
That got fixed

[2022-09-09 16:52] #13780 closed

[2022-09-09 17:06] vzarytovskii commented on #13728
@MangelMaxime does this only show in VSCode, or VS too?
cc @baronfel

[2022-09-09 17:13] vzarytovskii commented on #13557
Going to close it for the time being? I couldn't reproduce it with latest main/dev17.4

[2022-09-09 17:13] #13557 closed

[2022-09-09 17:22] auduchinok commented on #5417
@dsyme @vzarytovskii Would you be open to a discussion about making changes that would allow errors like this to be reported?

There're similar cases (e.g. https://github.com/dotnet/fsharp/issues/5789, https://github.com/dotnet/fsharp/issues/5387, and many not reported ones), and it's hard to know about the errors, and to use any quick fixes available in an IDE. Here's another similar case that wa

[2022-09-09 17:34] dsyme commented on #5417
Yes sure, if there's a well-thought out approach that avoids cascading errors

One problem is that continuing on to later checking phases can caus instability (internal errors, possibly even loops) if the TypedTree is not left in a valid state

[2022-09-09 18:31] MangelMaxime commented on #13728
@vzarytovskii

The error happens in Ionide, FSI, `dotnet build` too.

![image](https://user-images.githubusercontent.com/4760796/189419830-668c7049-ddeb-484f-93a6-5aa278f555ac.png)

The code I provided in the issue should serve as a reproduction I believe.

[2022-09-09 18:50] #12761 closed

[2022-09-10 12:28] abelbraaksma commented on #13557
@vzarytovskii yes, that’s fine, the fix for FsCheck also fixed this. If we haven’t done so already, we should update the prerequisites in the readme. But this doesn’t have to stay open for that.

I think we should also mention somewhere that running tests locally always runs them twice: once for dotnet and once for framework. I haven’t yet figured out how to run only one of the two,

[2022-09-10 13:37] omppye commented on #13849
I'm working on this

[2022-09-10 16:44] smoothdeveloper opened #13871 "`dotnet fsi --help` is not helpful, can't get the list of compiler flags from command line."
I'd expect `dotnet fsi --help` to give the list of compiler flags that FSI understands, or maybe a link to https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/compiler-options#compiler-options-listed-alphabetically

For example, it is possible to use `dotnet fsi /warnon:1182` but I have to "discover" it, because the help output is:

[code]

Similarly, it would make sense to be able t

[2022-09-10 17:01] baronfel commented on #13871
We should have fixed this in https://github.com/dotnet/fsharp/issues/13520, and I just tested on nightly builds for 7.0.100 rc2. So I think we should close this issue.

[2022-09-10 17:24] #13871 closed

[2022-09-11 00:51] omppye commented on #13849
We didn't emit the warning because of two flags

- `Val.IsCompilerGenerated: bool` as @vzarytovskii said and
- `Val.IsCompiledAsTopLevel: bool` being true here:

https://github.com/dotnet/fsharp/blob/main/src/Compiler/Checking/CheckIncrementalClasses.fs#L291-L292

After reading some code involving this flag I think the `reportIfUnused` function can be simplified this way

[code]

What do you guys

[2022-09-11 01:15] omppye commented on #13849
After the changes

[code]

[2022-09-12 08:28] nojaf commented on #13869
An empty anonymous module will match the `|EmptyModuleOrNamespaces|_|` active pattern.
Is there any way to detect that the module had a generated name instead of when it had a named module?
Something in `TypedTree.Entity` perhaps?

[2022-09-12 09:33] auduchinok opened #13876 "Inconsistent type incompatible error range"
[code]

The highlighted range is different between cases when using a prefix application and a pipe operator: in one case the argument is highlighted and in another cases it's the function:

<img width="320" alt="Screenshot 2022-09-12 at 11 30 47" src="https://user-images.githubusercontent.com/3923587/189620584-aad31d76-9905-4810-a287-1127e5f2bf9f.png">

Maybe it'd be better (and feasible?) to hig

[2022-09-12 11:06] allisonchou opened #13877 "[Automated] PRs inserted in VS build main-32912.06"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/548527d5b68c860d0f17e93348b1628795286ceb...23fd568d337d3d6492869ce09a6e69a91cf4dc17?w=1)
- [Add name and depth fo the stackguard threads (#13859) (13868)](https://github.com/dotnet/fsharp/pull/13868)
- [fix 12761 (13865)](https://github.com/dotnet/fsharp/pull/13865)
- [Add name and depth fo the stackguard threads (13859)](htt

[2022-09-12 11:07] #13877 closed

[2022-09-12 12:22] psfinaki opened #13878 "Add extra tests for the compiler options parser"
We've recently spent quite some time on refactoring, breaking and fixing FSC options parser which means we should cover it with extra tests, ideally on the unit and component levels.

[2022-09-12 12:30] psfinaki opened #13880 "Investigate the options of migrating to some library for parsing cmd line args"
The original [parser](https://github.com/dotnet/fsharp/blob/main/src/Compiler/Driver/CompilerOptions.fs#L259) was written long time ago, since then a bunch of libraries for arg parsing popped up, we can try switching to some.

Some libs I know of: [Argu](https://github.com/fsprojects/Argu), [CommandLineParser](https://github.com/commandlineparser/commandline).

[2022-09-12 12:33] baronfel commented on #13880
If at all possible I'd advocate for System.CommandLine - we're trying to standardize on it across the board. It powers the dotnet CLI and has a broad range of functionality, including support for tab-completions and trimmability built-in

[2022-09-12 12:36] charlesroddie commented on #13876
I don't see a bug here. In the later case `|>` is the function, and it highlights the first input (the one to the right) which causes the types to be unreconcilable.

[2022-09-12 12:42] auduchinok commented on #13876
@charlesroddie The error is the same in both cases and is specifically about `obj` argument being incompatible with `IDisposable`, so it'd probably be nice to highlight the argument.

[2022-09-12 12:46] psfinaki commented on #13880
No objections from my side - haven't used it but definitely heard some good words about it.
The only argument for Argu would be that it's F# native and I think @dsyme was contributing to that so might have extra insight.

[2022-09-12 12:50] charlesroddie commented on #13876
It makes sense that the incompatibility is the same, but in the first case the first incompatible argument (of `|>`) is `f`, and in the second case the first incompatible argument (of `f`) is `o`.

In order to see `o` as "the argument" (presumably of `f`) in `o |> f` you would need to see it as if it were the implementation, and then match the implementation onto the written form. Seems like a big

[2022-09-12 12:51] vzarytovskii commented on #13880
If anything, I'd vote for **not** using anything 3rd-party. System.CommandLine sounds OK to me.

[2022-09-12 13:06] dsyme commented on #13869
Given this is a regression and we need a fix in, I guess just filtering on FsiDynamicModulePrefix is ok for now.

[2022-09-12 13:11] abonie commented on #13866
I could not repro this issue with information provided.

@jkone27: Would it be possible for you to narrow it down to a minimal sequence of steps that can reproduce this bug?

[2022-09-12 13:53] oleksandr-bilyk opened #13882 "C# to F# go to definition navigates to metadata, and not the source code"
Every year we have to buy Rider because Rider allows to navigate from C# code to F# method definition.
We had big expectations that VS2022 will support such a basic feature but not.
Our team decided to use F# in solution where we have many C# and F# projects calling each other.
This small feature is very important for future use of F# in our solutions.

[2022-09-12 13:55] vzarytovskii commented on #13882
@tmat do you have any insights on how should we approach it?

[2022-09-12 14:53] abelbraaksma commented on #13816
Thanks, @psfinaki. If you need help with this, like testing something or whatnot, let me know!

[2022-09-12 14:53] #13749 closed

[2022-09-12 15:49] auduchinok commented on #13849
It seems that removing `v.IsCompiledAsTopLevel` will enable it for top-level functions in modules leading to lots of false positive warnings?

[2022-09-12 16:36] psfinaki commented on #6066
Hey @abelbraaksma do you think this is still an issue? I wanted to look into that and spent 15 mins scrolling like crazy our CheckExpressions.fs (10 KLOC) but didn't this behavior. CodeLens seems to be _slow_ but not _broken_.

[2022-09-12 16:45] psfinaki opened #13886 "Broken rendering behavior for LineLens"
Another quirk, definitely broken behavior:

Create an ASP.NET Core app, modify the following method:

[code]

Very, very slowly type out a new value binding `let x = `.  At some point the textblock for the code lens will be empty, and any further typing will have it draw at the very top of the file.

![image](https://user-images.githubusercontent.com/6309070/96389145-963d5080-1162-11eb-827e-3b5184

[2022-09-12 16:47] psfinaki commented on #6964
So where are we with this?
The bug noticed by @cartermp is still there, I've just created a separate issue for that and will take it.

But in general this seems to be quite a useful thing and definitely worth having in on by default, do we have any blockers for doing that? @KathleenDollard

[2022-09-12 16:54] vzarytovskii commented on #6964
Well, the only blocker would be that the rendering is broken. Which needs fixing.

I don't know what is used for rendering - is it built-in mechanism (the same C# use)? If not, we should probably make it use built-in mechanism, and do not reinvent our own.

[2022-09-12 16:56] cartermp commented on #6964
Rendering is some custom WPF code. It's the most complicated part of it. My branch I have linked resolves all the other quirks with it.

[2022-09-12 16:57] psfinaki commented on #13886
Actually here's an even simpler repro :D

https://user-images.githubusercontent.com/5451366/189712479-3776dd11-7676-435a-a78b-8e2a2eac53c8.mp4

[2022-09-12 16:59] vzarytovskii commented on #6964
I see, got it. I thought Roslyn/VS did something which can be used out of the box already.

[2022-09-12 16:59] psfinaki commented on #6964
@cartermp so there were more quirks, right? If you think the branch is still worth reactivating, I will take it from there.
Also Phillip, do you know who can be a good person to reach out to with this WPF stuff?

[2022-09-12 18:34] smoothdeveloper opened #13887 "type resolution in script file doesn't work for type provider without qualified names"
**Repro steps**
Setting "Use .NET Core Scripting" to False:

![image](https://user-images.githubusercontent.com/87944/189715105-a9d6088a-6f08-4c96-a652-037c6c02e5ec.png)

I'm facing situation with a script such as:

[code]

the first `JsonProvider` shows squiggles

It doesn't happen with "Use .NET Core Scripting" to True.

It doesn't affect fsianycpu.exe evaluation but just the tooling.

**Actual

[2022-09-12 20:54] charlesroddie commented on #13876
More practically, if I have a function `f` and I am sure I want to use it, then I will probably write `f(x)`, and if they are incompatible then `x` is wrong. If I know I have an `x` and I want to transform it, then I will probably write `x |> f`, and if they are incompatible then `f` is wrong. The propagation of type information from left to right leads to this approach, which then works with the

[2022-09-12 20:59] smoothdeveloper commented on #13882
@oleksandr-bilyk please consider appending your experience in this discussion: https://github.com/dotnet/csharplang/discussions/6412#discussioncomment-3536860

it is about "C#-adjacent tooling experience" from C# Language Design Meeting notes discussions.

The reverse navigation works (Go To Definition on C# member from F# code reaches), which I think came at some point in VS 2019.

[2022-09-12 21:06] #12706 closed

[2022-09-13 10:41] psfinaki commented on #6964
Aaaanyway I'll try to bring back to life the aforementioned branch and fix the aforementioned issue then. Wish me luck

[2022-09-13 12:04] #13197 closed

[2022-09-13 13:14] auduchinok commented on #13849
Another difference is now `FSharpSymbol` produced for such a function returns different things:
* `mfv.DeclaringEntity` returns the containing type, previously it didn't
* `mfv.IsModuleValueOrMember` is `true` (I think it has been `false` previously)

[2022-09-13 13:37] edgarfgp commented on #11577
@vzarytovskii  @dsyme   regarding this issue is the expectation:
-  Raise a compiler error with a relevant message .
- Treat  both cases  interpreted as a tuple
[code]

[2022-09-13 13:38] jkone27 commented on #13866
[reproduce-load-issue.zip](https://github.com/dotnet/fsharp/files/9557643/reproduce-load-issue.zip)

[2022-09-13 15:10] dsyme commented on #11577
It should raise an error with the relevant message

[2022-09-13 16:09] #13857 closed

[2022-09-13 17:39] tmat commented on #13882
@CyrusNajmabadi IIRC LSP should be able to handle this, correct?

[2022-09-13 18:06] TheAngryByrd commented on #12761
@dsyme Thanks for the fix! It looks like 6.0.6 fixes this however I'm still concerned about your statement:

Something like this doesn't work:

[code]

While this is to be expected based on your comment, this still seems quite limiting to what you can do with these functions.

[2022-09-13 18:24] vzarytovskii commented on #12761
Surprised that it does, fix was not inserted into 17.3/6.x branch, only in 17.4/7

[2022-09-13 18:30] abelbraaksma commented on #6066
@psfinaki it's been many years ago. Per chance, I just enabled it again a few days ago. It's still very buggy (showing the annotations sometimes halfway the file or in a totally unrelated spot), but the "many tips overlaying" issue, no, I haven't seen that.

If anything, most of the time it doesn't show at all anymore nowadays. Sometimes partially after a long enough wait, on some functions.

###

[2022-09-14 02:46] jimfoye commented on #3648
Hello from the future (5 years). Bumped into this today and the message was so puzzling, but fortunately this GitHub issue is the top search result on Google.

[2022-09-14 06:10] BentTranberg opened #13897 "Error message FS3204 does not tell the truth, perhaps due to a compiler bug"
This is the error message FS3204:

"If a union type has more than one case and is a struct, then all fields within the union type must be given unique names."

This is an example of source that produce this error:

[code]
According to the error message, all fields must be named. However, when naming only one of the two fields, the compiler will not emit the error message.

[code]
Another example t

[2022-09-14 06:26] BentTranberg commented on #13897
Darn! The search function of GitHub is not nice to me. Just searching 3204 didn't give me the duplicate(s). All right, closing as duplicate of https://github.com/dotnet/fsharp/issues/5236. Darn, darn, ...

[2022-09-14 06:26] #13897 closed

[2022-09-14 08:47] daniel-wojcik commented on #1627
I'm really disappointed reading it is not planned to be fixed. It is a bug in many dev's opinion: Tab shifts text to the right by some number of spaces and Shift+Tab should do the same but to the left. I would understand if Tab shifted text also in the same manner as Shift+Tab is doing. But now both operations behaves completely different and one isn't reverse version of the other. I also don't un

[2022-09-14 10:32] dsyme commented on #12761
Oh yes, it's a highly problematic bug for `backgroundTask` - but if you fully annotate I guess there's a methodology to work around it, if painfully

[2022-09-14 10:49] cmeeren commented on #13657
I'm also seeing this crop up in CI, whereas it wasn't there previously (for the same code). As the OP describes, this specifically happens when using `for ... in` in a `task` CE.

@TimLariviere said this happened in 6.0.303. @sasmithjr said in the OP that this did not happen with  6.0.302. There's no inconsistency; the behavior seems to have been introduced in 6.0.303.

Considering the above, how

[2022-09-14 12:28] psfinaki commented on #6066
@abelbraaksma alright, thanks for getting back to that, trying this out and sharing screenshots :)

I guess I'll be working on that, I really root for this feature. In a while I'll probably close this particular issue but create new ones for the things you specified, with some good repros. And I'll reach out to you to give this a good testing before we take this out of beta!

[2022-09-14 12:34] abelbraaksma commented on #6066
VSCode does this excellently, which has been one of the main reasons I've been wanting to switch from VS to Code, but so far haven't for other reasons.

Anyway, I kept it on a little longer, but it starts to interfere with everyday work, so I'm going to switch it off again. Here are some more screenshots to show how messy it can get:

![image](https://user-images.githubusercontent.com/16015770/190

[2022-09-14 12:42] psfinaki commented on #6066
@abelbraaksma sure, feel free to switch it off, we now have (more than) enough of bugs to deal with here.
But yeah I'll ask you to switch it on again once the wave of fixes arrives :D

[2022-09-14 14:54] abonie commented on #13866
So far I got it down to a fairly small repro, four script files still needed:
[code]

~same error:
[code]

[2022-09-14 16:38] #13869 closed

[2022-09-14 16:38] stroborobo commented on #13661
Is there a chance we could get this fix rolled out soon? The SDK version 6.0.401 (released yesterday) is still failing to build our project even though the fix was merged one month ago.

[2022-09-14 16:44] TheAngryByrd commented on #12761
So the current work around is always return what was passed into a function that uses `backgroundTask`?

Something like:

[code]

[2022-09-14 16:44] vzarytovskii commented on #13661
Fix was only merged to .NET7 branch, we couldn't do servicing to 401, it was too late. One of future 6.x.x servicing is a target.

[2022-09-14 16:49] stroborobo commented on #13661
Ok, thanks for the quick response. We'll have to hold out another month or two then. :'(

[2022-09-14 16:50] vzarytovskii commented on #13661
Yeah, sorry for that, was a bit unfortunate timing for us.

[2022-09-14 16:56] TheAngryByrd commented on #12761
hmm maybe the fix you pushed isn't out on 6.0.6? Maybe i'm not comparing the right thing

[2022-09-15 10:00] vzarytovskii commented on #13882
https://github.com/dotnet/roslyn/pull/64010 is in, will experiment with it next week

[2022-09-15 10:01] kerams commented on #13882
You said that, but it stopped working for me with yesterday's VS preview update :).

[2022-09-15 10:01] #13759 closed

[2022-09-15 10:02] #13758 closed

[2022-09-15 10:07] vzarytovskii commented on #13882
Works for me:
![image](https://user-images.githubusercontent.com/1260985/190377140-cb6d6801-e141-483e-8d54-9dd3b2b378c9.png)
![image](https://user-images.githubusercontent.com/1260985/190377177-83bdc45c-16f5-4d00-a033-1fd315ac2c68.png)

[2022-09-15 10:11] kerams commented on #13882
![image](https://user-images.githubusercontent.com/5063478/190377387-09c72c71-b4bb-43f9-839a-653d4702b843.png)

BCL metadata navigation. I'm pressing F12 on this to no avail (it used to work). Perhaps it's a different use case.

[2022-09-15 10:16] vzarytovskii commented on #13882
Yep, doesn't work for me for `Newtonsoft.Json`.

[2022-09-15 10:16] goswinr opened #13905 "'do' statements in modules do not get evaluated ?"
It seems that `do` statements in modules do not get evaluated when the module is accessed from another assembly.

Creating an empty project
[code]
then changing the code to

[code]
and calling it from fsi

[code]
The `do` statement **was not evaluated**.
Whereas putting it all in fsi
[code]
the `do` statement evaluates as expected.

Is this behavior intentional? Did I miss some documentation on th

[2022-09-15 10:17] vzarytovskii opened #13906 "Go to definition on external dependency/metadata is broken in 17.4"
Yep, doesn't work for me for `Newtonsoft.Json`.

_Originally posted by @vzarytovskii in https://github.com/dotnet/fsharp/issues/13882#issuecomment-1247893240_

[2022-09-15 10:22] kerams commented on #13905
This would explain some strange initialization behavior I saw a couple of weeks ago. Thought I was going crazy.

[2022-09-15 10:22] vzarytovskii commented on #13882
I hopefully can fix it in one batch with C#->F# navigation.

[2022-09-15 10:43] smoothdeveloper commented on #13882
@kerams / @vzarytovskii I noticed in some F# editor "go to definition" use cases, it will generate F# signature (of C# code).

IMO, generating F# signatures is relevant, only if those cases don't resolve:
* project reference, with the source file
* assembly reference with pdb pointing to source file
* sourcelink

AND if, the assembly referenced is compiled with F#.

If it is not the case, it is pr

[2022-09-15 10:44] vzarytovskii opened #13909 "Expose parallel typechecking option in VS options"
Once https://github.com/dotnet/fsharp/pull/13737 is merged, we need to expose an option in VS which will be enabling it internally.

[2022-09-15 10:48] vzarytovskii commented on #13882
I think, if we know that we have source, we will navigate to it.

Not sure about these. Will try to remember and look at it. When I navigate to "WriteLine" source code now, it brings me to the source (not sure whether via sourcelink ok pdbs).

[2022-09-15 10:54] allisonchou opened #13910 "[Automated] PRs inserted in VS build main-32915.33"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/23fd568d337d3d6492869ce09a6e69a91cf4dc17...430d645d778ec0db10ad7ad0b02de9fab3ce5647?w=1)
- [Introduce SynType.SignatureParameter. (#13879) (13898)](https://github.com/dotnet/fsharp/pull/13898)
- [Add trimming XML files to FSharp.Core. (13853)](https://github.com/dotnet/fsharp/pull/13853)
- [Only process EmptyModuleOrNamespace

[2022-09-15 10:56] #13910 closed

[2022-09-15 14:46] #11577 closed

[2022-09-15 19:16] vzarytovskii commented on #13905
I _think_ it's by design due to how static members are processed in compiler and fsi.

[2022-09-15 19:22] goswinr commented on #13905
If it is by design, will `do` statements  in other assemblies never evaluate ?

[2022-09-15 21:19] K780420 commented on #13909
![image](https://user-images.githubusercontent.com/97131332/190510683-1c4bc002-b1d8-49e0-9f40-a4b91221b5f9.jpeg)

[2022-09-15 21:20] K780420 commented on #13906
![image](https://user-images.githubusercontent.com/97131332/190510865-c48a99cf-4e76-4531-98a8-99752b122b29.jpeg)

[2022-09-15 21:21] K780420 commented on #13905
![image](https://user-images.githubusercontent.com/97131332/190510997-f6d18b0a-e2fc-44d8-82af-cc21e1cfb777.jpeg)

[2022-09-15 21:23] K780420 commented on #13909
![image](https://user-images.githubusercontent.com/97131332/190511209-cf01b02a-99c0-440b-a913-2a7cf392e93e.jpeg)

[2022-09-15 21:27] K780420 commented on #13909
![image](https://user-images.githubusercontent.com/97131332/190511837-7ab3a830-6939-429d-87a0-45550684fc83.jpeg)

[2022-09-16 01:31] DedSec256 commented on #13861
Curiously, we have yet another way to specify documentation for a union case field

https://github.com/dotnet/fsharp/blob/03714a0dd69dc810445a94856afbdc11d2d6b7cd/tests/service/XmlDocTests.fs#L1170-L1184

[2022-09-16 12:47] abonie commented on #13866
This unfortunately seems to currently be by design for `fsi` - each time a script is loaded it gets wrapped in a new outer namespace. It seems to have been this way since dotnet 5 at least, maybe forever.

Fixing this would significantly improve `fsi` scripting story IMO, but it is more of a feature request that would have to be submitted as a proposal at [fslang-suggestions](https://github.com/fs

[2022-09-16 15:44] psfinaki commented on #12627
Most likely related to some bad programming practices [here](https://github.com/dotnet/fsharp/blob/6735c6fea5287a00279c2c560ee8b786c9b54c29/vsintegration/src/FSharp.Editor/CodeLens/CodeLensProvider.fs#L69).

Will handle this.

[2022-09-17 00:00] #13748 closed

[2022-09-17 12:39] charlesroddie commented on #13905
This is according to spec.

FSharp language specification 4.1, 12.5.1 execution of static initializers.

The thing causing the difference between FSI and a dll reference is that static initializer are run on the basis of files, and in the first case there is something needing initialization in the same file (because everything is in one file), and in the second it is a "different file".

[2022-09-17 13:40] abelbraaksma commented on #1627
@daniel-wojcik i don’t see this happening much in everyday coding anymore, yet the problem does persist when using record expressions where the first line uses a half tab. There’s different behaviour depending on whether you have smart tabs switched on or not.

I agree with you, though, that it’d be much better if this were fixed. Luckily it’s open source, so anybody really annoyed by this feature

[2022-09-17 13:45] abelbraaksma commented on #6964
Related: #6066, some more repro screenshots there.

[2022-09-17 14:12] abelbraaksma commented on #5236
Related or duplicate: #3648.

[2022-09-17 15:21] #13905 closed

[2022-09-17 16:03] kerams commented on #13905
If it's according to spec, I would, at the very least, expect to see a warning when `do` module initializers are used in class libraries.

The workaround I have come up with is

[code]

It feels very brittle and unintuitive though.

[2022-09-17 17:19] safesparrow opened #13919 "Expose "Parallel projects analysis" option in Visual Studio"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

1. I would like Visual Studio to expose an option in the UI to enable the "Parallel Projects Analysis" feature of the FCS.
That feature is being worked on in https://github.com/dotnet/fsharp/pull/13521 .
In its current form, enabling the feature in the FCS requires setting the `ParallelRe

[2022-09-17 21:47] charlesroddie commented on #13905
It would seem reasonable to warn when unit-valued ("do") initializers are used inside modules with no "observable initializers", implying that the unit-valued initializers will never be executed.

The module behaviour, while brittle, is well-defined, whereas class static dos apparently only run [sometime before the class is used](https://stackoverflow.com/questions/39361459/static-constructors-in-

[2022-09-18 16:06] TheAngryByrd commented on #12761
It doesn't seem like `6.0.6` or `7.0.0-beta.22427.1` works with

[code]

So it seems like the only  work around is always return what was passed in.

[2022-09-18 20:43] bmitc opened #13921 "Inconsistent error message between .NET interactive notebooks and VS / FSI session"
I'm having a lot of confusing issues with type inference when using type aliases with sequences. The behavior and errors reported differ between Visual Studio, .NET Interactive notebooks, and FSI.

**Repro steps**

[SequentialLogic.zip](https://github.com/dotnet/fsharp/files/9595208/SequentialLogic.zip)

1. See the attached `SequentialLogic.ipynb` notebook and note the error of

    val Not': (Sig

[2022-09-19 09:06] DedSec256 opened #13922 "Ability to write XML documentation for the primary constructor above the type"
Currently, for primary constructors, you can specify XML documentation with parameters in two ways

[code]

[code]

Consider some of the pros and cons of the first approach.

Pros:

- Consistency with documentation for functions: since the primary constructor is also a kind of function, it is logical to be able to specify documentation for it as for function

Cons:

- When generating a documentati

[2022-09-19 09:41] roboz0r opened #13923 "Compiler error Constructor on type 'FSharp.DependencyManager.Nuget.FSharpDependencyManager' not found."
I am building a tool to enable F# scripting within a native windows application. I've run into an issue with the ability to use `#r nuget` directives.

I have two different ways I am calling the compiler against the script files:

1. Producing a dynamic assembly

[code]

2. Producing a dll (to enable debugging)

[code]

Both of these versions of the code pass basic tests to compile and run the fol

[2022-09-19 10:08] smoothdeveloper commented on #13923
@roboz0r, not 100% sure, you may need to provide `compilertool` option with path that contains the Nuget extension.

It would be something similar than what is done in this test: https://github.com/fsprojects/Paket/blob/eac93a466a2ed15c5b8bae3ad00e41d1dabc68f2/integrationtests/Paket.IntegrationTests/FsiExtension.fs#L36

[2022-09-19 10:51] forki commented on #13805
this is still broken in 6.0.401 - I assume the fix did not ship with that boat.

[2022-09-19 10:54] vzarytovskii commented on #13805
No, fix was not ported to 6.x.x branch.

[2022-09-19 10:55] forki commented on #13805
well shit. It's rather important for us to run stuff on Raspberry Pis

[2022-09-19 10:56] vzarytovskii commented on #13805
We'll see what we can do

[2022-09-19 11:27] Mic43 commented on #9754
2 years and nothing? WTF?

[2022-09-19 12:23] abonie commented on #13921
Hi @bmitc, what you encountered here is F#'s [value restriction](https://learn.microsoft.com/en-us/dotnet/fsharp/language-reference/generics/automatic-generalization#value-restriction) being conservative in what can be generalized to polymorphic type (which is how F# deals with having both mutability and polymorphism) combined with subtyping (as [seq<'T> is essentially IEnumerable<'T>](https://fsh

[2022-09-19 12:58] edgarfgp commented on #12386
@gusty I have tried today with on a script and on fsi and seems to be fixed now :)
FYI @vzarytovskii
![Screenshot 2022-09-19 at 14 57 33](https://user-images.githubusercontent.com/31915729/191022553-8a2a3f18-cb8f-4b6c-9ef7-d871d6ec43d0.png)

[2022-09-19 13:03] roboz0r commented on #13923
@smoothdeveloper No luck sadly. I added `--compilertool:C:\...\net6.0-windows` which was the path to the directory containing `FSharp.DependencyManager.Nuget.dll`, `FSharp.Compiler.Service.dll`, `FSharp.Core` etc. I also tried various combinations `/compilertool` instead of `--`, `--compilertool:C:\...\net6.0-windows\FSharp.DependencyManager.Nuget.dll`.

This might be a complete red herring but I

[2022-09-19 13:17] smoothdeveloper commented on #13923
For the assembly load, maybe you need something akin to https://github.com/fsprojects/Paket/blob/eac93a466a2ed15c5b8bae3ad00e41d1dabc68f2/integrationtests/Paket.IntegrationTests/FsiExtension.fs#L21-L28

[2022-09-19 13:22] Quetzalcoatl2435 commented on #13805
Same. I really need it for work where all nodes are run on Raspberry Pis. I have to compile everything on my laptop which is still on 17.3.0, so I have a fallback, but an ETA would be nice. :)

[2022-09-19 13:22] Quetzalcoatl2435 commented on #13805
Thank you!

[2022-09-19 13:37] abelbraaksma opened #13926 "BadImageFormatException : Bad IL format when using `base`"
Using `base.XXX` to call a base method causes a `BadImageFormatException` to be raised.

**Repro steps**

The following code (requires Giraffe and FsUnit to run the test) throws a `BadImageFormatException`

[code]

### Expected behavior

Should call the base method.

### Actual behavior

Throws:

### Known workarounds

Don't use `base` in a derived method.

### Related information

On dotnet 6, us

[2022-09-19 14:05] vzarytovskii opened #13927 "VS2022 Colouring is broken when resetting "Fonts and Colors" to default values"
When resetting fonts and colors to default values (Tools -> Options -> Environment -> Fonts and Colors), VS treats everything as plain text (except keywords):
![image](https://user-images.githubusercontent.com/1260985/191036298-8fcf4558-c6db-4ef8-bbad-9a8bfe35cee8.png)

[2022-09-19 14:53] vzarytovskii commented on #13926
Reproduces on
[code]
Does not reproduce on:
[code]

Both release and debug

[2022-09-19 14:54] gusty commented on #12386
Yes, it works for me as well.
I wonder what was the fixing PR.

[2022-09-19 15:22] vzarytovskii commented on #13927
It does not reproduce in 17.3

[2022-09-19 15:43] vzarytovskii commented on #12386
It is likely that the work on the static abstract interface methods

[2022-09-19 16:20] gusty commented on #12386
Hmm, I don't think so. I'm still on F# 6 and it seems fixed.

[2022-09-19 16:32] vzarytovskii commented on #12386
Only feature itself is tied to language version, some changes and fixes are not.

[2022-09-19 16:44] edgarfgp commented on #12386
Might be worth adding a regression test 😀

[2022-09-20 04:13] sonicbhoc commented on #12761
I'm running into this everywhere in my code right now. I implemented IAsyncDisposable on one of my classes, and that's having the same issue because the type itself is generic. I'm hoping this gets fixed sooner than later; I don't want to have to sprinkle `ConfigureAwait(false)` everywhere in my code.

[2022-09-20 05:45] gusty commented on #12386
I just tried it again in both F# 6 and F#7 my second repro works well.

But the original repro (the one in the issue step by step) still fails in both, surprisingly in different ways:

 - In F#6 I get the original failure:
[code]

In F#7 I get a value restriction:

[code]

@edgarfgp I think you tried sending all the code to fsi at once. Try it in steps as described in the issue.

[2022-09-20 09:04] abonie commented on #13866
@jkone27 I believe I've found a viable workaround:
In `Script.fsx` replace multiple `#load`s:
[code]
with one:
[code]

I am not yet convinced if this is always a feasible solution to these kinds of issues, but @jkone27, let me know if it works for you

[2022-09-20 12:06] roboz0r commented on #13923
I've come up with a solution that seems to work. Pasting below so that others can make use of it:

[code]

[2022-09-20 19:07] DalekBaldwin commented on #13007
I've been playing around with static abstracts in F# with the latest release, but while attempting to get interop working, I stumbled on a very troubling discussion: https://github.com/dotnet/csharplang/issues/5955

Apparently the decision has been made to scale back the scope of this feature in C#, eliminating some of the most promising use cases, perhaps until additional annotations are provided

[2022-09-21 08:33] edgarfgp commented on #12386
@gusty You are right  I can reproduce it by sending line by line . But works when sending all at once, seems to be a FSI bug/limitation

Note: I have tried with ```dotnet fsi --multiemit``` and does NOT make a difference

[2022-09-21 08:53] abonie opened #13944 "Ctrl+D / Ctrl+L do not work in fsi repl"
Ctrl+D and Ctrl+L do not work in `dotnet fsi` repl

**Repro steps**

Press Ctrl+D or Ctrl+L in an interactive session of `dotnet fsi`

**Expected behavior**

Standard cli behavior:
Ctrl+D if pressed at the beginning of a line will exit the program
Ctrl+L will clear the screen

**Actual behavior**

An EOT (^D) or Form Feed (^L) character is typed

[code]

**Known workarounds**

Use `#quit` (or `exi

[2022-09-21 09:02] gusty commented on #12386
@edgarfgp note that this difference between sending all at once is not that uncommon: type inference uses "last minute" information to specialize generic functions. When you create the function and immediately after you use it, the "use" is taken into account. If you send both fragments separately type inference is independent.

[2022-09-21 09:33] 0101 commented on #13927
Caused by new preview feature in VS: https://github.com/dotnet/roslyn/issues/64168

Fix at the moment is disabling _C#/VB LSP semantic tokens experience_ under Environment -> Preview Features.

[2022-09-21 11:17] abelbraaksma commented on #5139
He means to use `seq{..}` and not to use `Seq.append` in cases I described here. See my penultimate comment on an example what can throw SO and what doesn't.

[2022-09-21 11:49] allisonchou opened #13945 "[Automated] PRs inserted in VS build main-32921.43"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/430d645d778ec0db10ad7ad0b02de9fab3ce5647...da42031ad1cf0880768dfedac75c782b721cd175?w=1)
- [Fix e2e tests for the combo provider (13935)](https://github.com/dotnet/fsharp/pull/13935)
- [Fix e2e tests for the combo provider (13930)](https://github.com/dotnet/fsharp/pull/13930)
- [`Cherry-Pick` Fix 13805 (#13815) (13924)](https

[2022-09-21 13:09] dsyme commented on #13944
Would be good to get to the bottom of this - I looked at src/fsi/console.fs but couldn't see anything obvious. Technique should be a binary chop on commits in `main` and running

    artifacts\bin\fsi\Debug\net6.0\fsi.exe

or

    artifacts\bin\fsi\Debug\net7.0\fsi.exe

Here's what I've done so far:

[code]

[2022-09-21 13:33] dsyme commented on #13944
Problem is here: https://github.com/dotnet/fsharp/pull/13531/files#r976515699

[2022-09-21 13:43] vsfeedback opened #13947 "F# editor does not consider begin..end blocks when expanding selection"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/F-editor-does-not-consider-beginend-b/10138374)._

---
[severity:It bothers me. A fix would be nice]
In the F# editor, when you invoke the Edit.ExpandSelection command, the selection should stop around the begin..end blocks.

---
### Original Comments

#### Feedback Bot on 9/5/2022, 03:3

[2022-09-21 13:43] vsfeedback opened #13948 "F# folder order not displayed correctly in Solution Explorer"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/F-folder-order-not-displayed-correctly-/10149550)._

---
[severity:It's more difficult to complete my work]
I'm working in an F# project (using .NET 6 and VS 2022 17.3.4) and my files are randomly not showing up in the correct order. In this case, the F# files under a subfolder are displ

[2022-09-21 13:44] dsyme commented on #13183
This feels like a VS bug - does the same thing really not happen for a C# program?

[2022-09-21 13:45] #13198 closed

[2022-09-21 13:46] dsyme commented on #13214
@vzarytovskii Did you do a check on this?

[2022-09-21 13:47] #13224 closed

[2022-09-21 13:51] vzarytovskii commented on #13214
Checked on today's build, it seems that all works fine.
@toburger have you tested it on the 17.4 preview by any chance?

[2022-09-21 13:56] #13945 closed

[2022-09-21 13:57] dsyme commented on #13316
Implemented in #13671

[2022-09-21 13:57] #13316 closed

[2022-09-21 14:09] #13125 closed

[2022-09-21 14:12] vzarytovskii commented on #12913
That's done, diasymreader-based framework is in place, can read scopes and sequence points

[2022-09-21 14:12] #12913 closed

[2022-09-21 14:15] dsyme commented on #13430
The assumption throughout the F# is that type abbreviations can be expanded and the result is semantically equivalent and doesn't affect code generation.

In this particular case, if you unwind the abbreviations, then you are instantiating `'T` at `T` with a constraint involving `Monoid` that has already been satisfied, but nothing is deduced about `'Monoid`.   That is, providing `Unchecked.defaul

[2022-09-21 14:15] dsyme commented on #13430
Closing as by-design

[2022-09-21 14:15] #13430 closed

[2022-09-21 14:17] #12363 closed

[2022-09-21 14:19] vzarytovskii commented on #13948
Duplicate of #12155

[2022-09-21 14:19] #13948 closed

[2022-09-21 14:27] dsyme commented on #13495
This is indeed fixed by #11681

[2022-09-21 14:27] #13495 closed

[2022-09-21 14:38] dsyme commented on #13519
Looks like this involves interop with methods that have both omitted optional arguments **and** ParamArray arguments:

[code]

[2022-09-21 14:48] dsyme commented on #13533
Yes we should lift this limitation.  Marking this as a good first issue.  Thanks!

[2022-09-21 14:49] dsyme commented on #13705
This is same as #13944

[2022-09-21 14:50] #13705 closed

[2022-09-21 14:50] abonie commented on #13823
I poked around a little bit. Here is a simpler repro in an fsi session:
[code]
Note the last entry - after retyping `g` it's printed type changed from `unit -> T` to `unit -> unit -> unit`, so type alias got "unapplied".

Also this:
[code]

This also affects signature files generated with fsc.exe:
Foo.fs:
[code]
Ran `fsc.exe --sig:Foo.fsi Foo.fs`
Resulting Foo.fsi (note that type alias is not used

[2022-09-21 15:02] dsyme commented on #13535
Interesting problem, thanks.  Yes we should at least emit a warning when this happens, and consider how we can allow explicit qualification so `FSharp.Core` doesn't come into scope.

[2022-09-21 15:05] dsyme commented on #13548
This was fixed somewhere along the way

[2022-09-21 15:05] #13548 closed

[2022-09-21 15:07] dsyme commented on #13576
This is by design, this function is not generic enough (it's limited to one unit parameter):
[code]

Try this:
[code]

[2022-09-21 15:07] #13576 closed

[2022-09-21 15:11] dsyme commented on #13678
@vzarytovskii What's the status, is it point in time and can be closed, or do we need to fix it? Thanks

[2022-09-21 15:12] vzarytovskii commented on #13678
Yeah, this should be closed I think, nothing we can do for this particular version. Should be fixed for future ones (I will also have a CI gate in place to check it won't happen again).

[2022-09-21 15:14] dsyme commented on #13697
I see the right thing:

![image](https://user-images.githubusercontent.com/7204669/191542920-10b5fd37-e183-47ef-8856-d4ffcdf10c7b.png)

[2022-09-21 15:16] dsyme commented on #13697
This is a classic case where error recovery and subsequent errors make later errors more obscure.

@vzarytovskii We should probably implement a general rule that 100% always suppresses **later** errors if they overlap with the range of an **earlier* error

[2022-09-21 15:24] #13944 closed

[2022-09-21 16:33] vzarytovskii opened #13951 "Move to MetadataAsSource as oppose of creating new project context"
Chatted with @tmat about an issue we are having navigating to metadata, we need to move to using [MetadataAsSource](https://sourceroslyn.io/#Microsoft.CodeAnalysis.Features/MetadataAsSource/MetadataAsSourceWorkspace.cs,2bd16135ce2791d7,references) instead of creating an on-demand project context, as we do now.
Additionally, we need to support Source Link go to definition in VS. @davidwengier may k

[2022-09-21 16:41] vzarytovskii commented on #13906
https://github.com/dotnet/fsharp/pull/13943 will be an intermediate fix, proper fix would be to use MetadataAsSource (https://github.com/dotnet/fsharp/issues/13951)

[2022-09-21 16:45] tmat commented on #13951
I think it would be best to define an internal interface between Roslyn and F# that allows F# to plug into our MAAS and Source Link GTD UI and implementation. Essentially just abstract what's specific to C#/VB in a way that F# can provide their implementation.

[2022-09-21 20:45] crummel opened #13953 "[source-build] Bootstrapping the F# compiler fails with a "no entrypoint" warning"
In the complete source-built SDK, our Linux partners will follow this procedure:
1. Source-build the SDK using the Microsoft-built SDK, producing the "stage 1 SDK".
2. Source-build the SDK again using the stage 1 SDK, producing the "stage 2 SDK", which is completely free of prebuilts and was not built using any prebuilt binaries.

In this process, we are seeing an issue in F#.  The stage 1 SDK is

[2022-09-22 08:26] T-Gro commented on #12062
Proposal: Renders the keyword itself (if the configured coloring for keywords), and below it the longer description as text.
I am checking the keyword descriptions, but so far they seem to be fit.

<img width="446" alt="image" src="https://user-images.githubusercontent.com/46543583/191696879-831f4893-4f38-4251-8656-241e07217eed.png">

[2022-09-22 11:09] vzarytovskii commented on #13953
@crummel what would be the easiest way of reproducing it? We also build Proto compiler with rc1 and then build product with Proto, and don't have this issue.

[2022-09-22 11:16] psfinaki commented on #12062
Looks good. What about the icon? Do we need it?

[2022-09-22 12:06] T-Gro commented on #12062
The icon was not appropriate, you are right and I am not a person with a good visual judgement.

This one makes it look more like a keyword:

<img width="551" alt="image" src="https://user-images.githubusercontent.com/46543583/191742119-01e97e38-00f7-49eb-98fe-2cbbc74ecb0e.png">

[2022-09-22 13:28] T-Gro commented on #12013
I tried to reproduce the error, but I was getting correct hover tips up to arrays of 32 dimensions. That was the max. that could be defined in F#.
<img width="685" alt="image" src="https://user-images.githubusercontent.com/46543583/191759951-f815ed58-5571-42bb-8da6-9b718f25828d.png">

Practically, 12D is the last one which can be created using Array.CreateInstance => this would be the pragmatic li

[2022-09-22 13:36] edgarfgp commented on #12013
Not sure when https://github.com/dotnet/fsharp/pull/13700 will be in VS but in theory from now on for multidimensional arrays you will see ```array2d``` and so on up to 32 I believe .

See https://github.com/dotnet/fsharp/blob/342a6d2564d4718acfdfadce7130b3fd1510d732/tests/FSharp.Compiler.ComponentTests/Signatures/ArrayTests.fs#L35

[2022-09-22 13:48] auduchinok commented on #13526
@dsyme Yes, I think it was about structs.

[2022-09-22 13:52] T-Gro commented on #12013
Pls correct me if I am wrong, but that looks like for being suited for "arrays of arrays of ..", which are irregular.
Whereas the example module from don above is a regular array, with dimensions having strict lengths.

=> supporting [,,,,,,]  up to 12D (limitation of System.Array.CreateInstance) still makes sense to me, even after #13700 .
What are your thoughts @edgarfgp  , @dsyme  ?

[2022-09-22 14:34] allisonchou opened #13957 "[Automated] PRs inserted in VS build main-32922.71"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/da42031ad1cf0880768dfedac75c782b721cd175...de216eb65d741d01aff5d32a4bdc495ca730290a?w=1)
- [Fix 13944 (13946)](https://github.com/dotnet/fsharp/pull/13946)
- [Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 1998941 (13941)](https://github.com/dotnet/fsharp/pull/13941)

[2022-09-22 15:05] dsyme opened #13960 "fsc on .NET 6/7 is spawning `dotnet` process"
We noticed that every invocation of `fsc` on .NET 6/7 is causing a spawn of dotnet to find the installed .NET SDKs, in order to determine which assembly references are "system" assemblies.

One attempt to fix that is here #13863

We should also prioritise a simpler fix as this is causing unnecessary loss of compiler perf.

[2022-09-22 15:06] dsyme commented on #13960
@vzarytovskii I'll propose a simpler fix for this

[2022-09-22 16:01] kant2002 opened #13961 "[Feature] Packaging FSX files as standalone application"
**Is your feature request related to a problem? Please describe.**

FSX as a scripts sometimes grow to size where they are neither programs, nor simple scripts. Something which you want to show to your manager, or even give you some other employees.
Because they are small, you really don't want to have overhead of project for managing these apps.

**Describe the solution you'd like**

Example usag

[2022-09-22 16:05] Szer commented on #13961
I'm a big F# script fan, I have dozens of gists with graphs/visualization/automation/user deletion/sso creation/etc

And I share those scripts often enough to feel the pain that the other side must have a dotnet-sdk installed (not even a runtime!)

That feature would allow me to share my work with colleagues without
- me converting every file to a project
- them installing dotnet-sdk

[2022-09-22 18:03] smoothdeveloper commented on #13961
related: #13341

[2022-09-22 18:33] #12062 closed

[2022-09-22 18:57] T-Gro commented on #13242
Are both points approved to be removed?
I would assume none of the (older) usages mentioned here are considered to be showstoppers as of today. And reducing the entry points surface would help the FCS codebase.

=> I am happy to proceed on this one if nobody gets hurt in the process

[2022-09-22 20:14] vzarytovskii commented on #13242
I think so, it's safe to remove them.

[2022-09-23 08:47] T-Gro commented on #13242
Even with those two removals, the legacy // default for .NET framework // way of emitting for FSI purposes will remain.
fsi --multiemit being disabled (= legacy single emit) [https://github.com/dotnet/fsharp/blob/main/docs/fsi-emit.md ]

That means some of the code doing ilreflect dynamic regeneration still has to exist. Unless we find a way of removing that as well?
That would involve changing th

[2022-09-23 10:06] kant2002 commented on #13341
Most probably I want to have `dotnet publish myscript.fsx`, because this is ultimately publishing with all parameters which dotnet publish can provide. I imaging if we can teach dotnet-publish to handle .fsx files as projects. If think this through, IronPython can benefit from this too, as other languages. but this way may require some form of support from dotnet SDK for scripting environments whi

[2022-09-23 10:15] T-Gro commented on #13242
For now, I will have to keep ilreflect code related to FSI output (SingleAssembly-style) generation as long as Visual Studio remains netframework472.
At least I can remove the other entry points mentioned in here, and ilreflect removal will have to wait for a little longer.

[2022-09-23 11:43] dsyme opened #13965 "Instance extension methods block legitimate unqualified name resolutions"
From @NiklasGustafsson in TorchSharp repo

If a C# type has both a nested type C.Name and there is an instance extension method called Name then the latter is always preferred, even for static unqualified resolution

Repro is something like this:

[code]

Here the extension method is an instance extension method but is being used as a resolution for a static invocation.  It's being used only to re

[2022-09-23 13:14] auduchinok commented on #13484
@vzarytovskii Is there a chance this could be planned for some near future? It'd simplify working on the parser a lot 🙂

[2022-09-23 13:16] vzarytovskii commented on #13484
Haven't planned it yet. Probably later next month.

[2022-09-23 13:19] edgarfgp commented on #12013
@T-Gro I think ```array12d```  is more readable that ```[,,,,,,,,,,,]``` in tooltips. and by using the same convention for types will be consistent :)

[2022-09-23 13:32] T-Gro commented on #12013
I might be misreading the implementation of the recently merged feature, but to me it appears to be working with jagged arrays (arrays of arrays), which is a different thing then .NET multidimension arrays.

If I am understanding the newly introduced active pattern, is capturing array<array<array<.. and display that as an n-D array, correct?

[2022-09-23 13:34] NiklasGustafsson commented on #13965
One minor detail about the repro -- all the classes in the example are `static` classes in the original problem. May not matter for the repro, but I thought it worth mentioning.

[2022-09-23 13:48] dsyme commented on #13880
I think we should not do this.  What is there works, is stable, and whatever else we use will have some weird compat problems. Plus the Fable version of the F# compiler would need an implementation of that library.

In general this last point means there is a structural advantage in fully F#-implemented functionality internalized in the compiler.  We can't always do that - and reusing other librar

[2022-09-23 13:55] dsyme commented on #13961
Treating as a duplicate of #13341

[2022-09-23 13:55] #13961 closed

[2022-09-23 13:57] dsyme commented on #13851
It crept in somewhere along the way

Yes they show, but very light decorations

[2022-09-23 14:01] dsyme commented on #13866
Please note the above is the correct approach

Closing as by-design.

[2022-09-23 14:01] #13866 closed

[2022-09-23 14:01] dsyme commented on #13876
This is not a bug - I agree with @charlesroddie's analysis here

[2022-09-23 14:01] #13876 closed

[2022-09-23 14:03] dsyme commented on #13882
@vzarytovskii I removed the VS label - trying to keep to one most-specific Area label per issue, unless it really is across multiple areas

[2022-09-23 14:06] dsyme commented on #13887
To use FSharp.Data with .NET 4.7.2 you must reference `System.Xml.Linq` in scripts:

[code]

[2022-09-23 14:06] #13887 closed

[2022-09-23 14:09] #13842 closed

[2022-09-23 14:10] T-Gro commented on #12013
Here is an example using the latest feature (launched with current main of the compiler).
Problem is, we now have two different types (jagged arrays, and classical multidimension arrays), both being rendered as array3d (ditto for higher dimensions).

I do like the new feature developed by @edgarfgp , I just think we should use distinct naming in higher dimensions.
Originally, F#'s Array2,3,4D arra

[2022-09-23 14:12] dsyme commented on #13842
@vzarytovskii Sorry was it incorrect to merge to main at the moment?

[2022-09-23 14:19] dsyme commented on #13834
@vzarytovskii Thinking we should use "Area-Compiler-Syntax" for user-facing bugs in lexing and syntax, and "Area-FCS-*" for things that are only visible to clients of the FCS APIs

[2022-09-23 14:32] edgarfgp commented on #12013
I shared the credit/blame 😅 of #13700  with @nojaf .

[2022-09-23 14:33] dsyme commented on #13849
Where is this FSharpSymbol acquired from?

[2022-09-23 14:36] dsyme commented on #13701
@KevinRansom This only happens when "--gui" event loop support is enabled, as in .NET Framework `fsi` but not in `dotnet fsi`.  I'm not sure it should be fixed.

I guess we should consider whether we want some kind of event loop support for `dotnet fsi`.  We haven't exactly documented this difference.

[2022-09-23 14:38] #13678 closed

[2022-09-23 14:38] smoothdeveloper commented on #13887
Thanks @dsyme, there is still an issue, IMO:

* if System.Xml.Linq was required, the qualified instantiation should also fail
* user can't figure there would be a dependency missing
* it only impacts the tooling, fsianycpu is 100% fine without the extra reference

What can be done to improve the situation? I feel the squiggle should actually surface the missing dependency, if that's the actual iss

[2022-09-23 14:39] vzarytovskii commented on #13834
Agreed

Yep

I would say we have to remove auto-labeling as bug, since it is sometimes misleading.

[2022-09-23 14:44] dsyme commented on #13512
Completion should hide all here by default.

@auduchinok I guess we would accept a PR for this, perhaps a command line flag is simplest

[2022-09-23 14:53] dsyme commented on #13713
Closing this out - the builds now use 64-bit tooling by default.

[2022-09-23 14:53] #13713 closed

[2022-09-23 14:58] dsyme commented on #13715
There isn't enough information to repro this

[2022-09-23 14:59] dsyme commented on #13730
This has been fixed by .NET team

[2022-09-23 14:59] #13730 closed

[2022-09-23 14:59] dsyme commented on #13739
Closing as done.  We need to enable Server mode by default, and have removed use of Batch

[2022-09-23 14:59] #13739 closed

[2022-09-23 15:15] dsyme commented on #13728
This is a non-trivial bug in the lexfilter, when processing the tokens of multi-line interpolated strings - it is interpreting one of the tokens as being offside of the `let`.

[2022-09-23 15:16] dsyme commented on #13728
I assume the fix will be to push a new LexFilter context for the duration of the processing of the `let`.  However it's not going to be a simple fix.

[2022-09-23 15:17] auduchinok commented on #13849
From results of `FSharpCheckFileResults.GetAllUsesOfAllSymbolsInFile`.

[2022-09-23 15:17] dsyme commented on #13716
I think we should close this, as it is using 32-bit tooling.  In 17.x 64-bit tooling is the default.

If there is a repro with 64-bit tooling we can follow up with that

[2022-09-23 15:17] #13716 closed

[2022-09-23 15:19] dsyme commented on #13816
I don't think this is possible, as `Build started...` is emitted by MSBuild and is not F# specific.

You can turn on detailed MSBuild output in the VS options, I think that's your best bet.

[2022-09-23 15:25] #13219 closed

[2022-09-23 16:12] dsyme commented on #13823
This is not quite as it seems.

In F#, a module-declared function has a statically known number of arguments based on its syntactic declaration, e.g.

[code]

By default (with no signature file) here `f0` and `f1` both result in a static method  with exactly one argument - while `f2` results in function-valued property. For `f1` the **immediate** use of `fun x -> ...` means it is considered a stat

[2022-09-23 16:12] #13823 closed

[2022-09-23 16:15] #13743 closed

[2022-09-23 16:15] dsyme commented on #13743
As noted above this is per spec

[2022-09-23 16:16] dsyme commented on #13772
@nojaf Agreed this is reasonable to do

[2022-09-23 16:22] dsyme commented on #13242
Hard to say, and definitely orthogonal. @KevinRansom has a plan to effectively create final archived binaries for .NET Framework scripting but I think we're some way from executing on that

Yes, thanks

[2022-09-23 16:38] dsyme commented on #12013
Jagged arrays should not have changed printing with 13700, it would be a mistake if they have

[2022-09-23 16:52] vzarytovskii commented on #13816
I guess we can add version output to the FCS msbuild task, which will just read it from the assembly?

[2022-09-23 17:05] dsyme commented on #13965
Zip of repro [ClassLibrary2.zip](https://github.com/dotnet/fsharp/files/9635678/ClassLibrary2.zip)

[2022-09-23 18:22] dsyme commented on #13965
C#:
[code]

F#:
[code]

[2022-09-24 17:30] tboby commented on #7784
I traced this back to
https://github.com/dotnet/fsharp/blob/4330fa1b60d8c7fd9c1dcb7dd8155fef5f025c61/src/Compiler/Checking/CheckPatterns.fs#L193

Where it relies on the presence of `@` to detect if something is compiler generated, even if `isCompGen` is false in `vFlags`.

[2022-09-25 02:41] #13861 closed

[2022-09-26 07:00] T-Gro commented on #12013
Good. Now that the naming conflict is resolved, I will assign this issue to myself.

@dsyme : **Considering the DiffSharp support**, did you had particular module functions and slicing support in mind as well?
Or mainly about having the option to define the type and index into its values?

[2022-09-26 10:42] auduchinok opened #13981 "Duplicate member signature error is not reported in signature files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue description

There're two signatures of `FSharpMemberOrFunctionOrValue.IsFunction` in the signature file, and the error is not reported:

https://github.com/dotnet/fsharp/blob/0e8f267ff6ec8c09087c1dd5c5e1135215831661/src/Compiler/Symbols/Symbols.fsi#L937

https://github.com/dotnet/fsharp/blob/0e8f267ff6e

[2022-09-26 11:27] abelbraaksma commented on #13823
Thanks @dsyme for diving into this. It's very subtle, but in the end I guess it makes sense. You specifically said "in the absence of a signature file". Using that here is probably a more stable way of getting type aliases to appear in signatures.

[2022-09-26 11:39] abelbraaksma commented on #13816
For a while now, this has always shown a beta version of F#, even though you are in a normal (non pre-release) VS 2022. I've reported it a few years back, but it is still there. That version has no semblance whatsoever with the FSC version.

Also, the concrete FSC executable used is _very hard_ to figure out. So if there's some way of getting this info, it would be so, so helpful. Since output of

[2022-09-26 11:51] #13906 closed

[2022-09-26 12:41] nojaf opened #13983 "The range of SynAttribute looks incorrect."
Please provide a succinct description of the issue.

Given the following F# code:

[code]

and matching AST:

[code]

Notice how the range of `SynAttribute` is `1,12--1,27`, while it has children that are well beyond `1,27`.

**Expected behaviour**

I would assume the range spans until the end of the `ArgExpr` node.

**Actual behaviour**

It only included the `TypeName`.

**Known workarounds**

A

[2022-09-26 13:44] #13957 closed

[2022-09-26 13:45] vzarytovskii commented on #13707
Both VisualFSharpFull and VisualFSharpDebug work for me in the latest 17.4

[2022-09-26 13:45] #13707 closed

[2022-09-26 14:15] vsfeedback opened #13984 "Text disabled by conditional compilation in F # with dark theme is too visible."
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/Text-disabled-by-conditional-compilation/10155343)._

---
The text that does not satisfy a conditional compilation rule, although not colored, strikes the eye too much and should be less visible, more transparent and possibly there should be the possibility of being able to set it in ita

[2022-09-26 18:14] dsyme opened #13986 "GoToDefinition is not working for some identifiers in VisualFSharp.sln"
Open VisualFSharp.sln, then open PatternMatchCompilation.fs, go to `computeWhatSuccessfulTypeTestImpliesAboutNullTest` and select go-to-definition on `TypeNullIsTrueValue`

[code]

Expected: navigation

Actual: "Can't navigate to symbol"

Other symbols seem available, so it's unclear to me what the problem is

[2022-09-26 18:42] dsyme commented on #13986
The problem seems to be related to large files.  This condition is failing in GoToDefinitionService.fs

                    if lexerSymbol.Range = targetRange then

[2022-09-26 18:46] dsyme commented on #13986
The symbol is resolved, but this call is failing to find the target symbol in the document:
[code]

[2022-09-26 19:11] dsyme commented on #8994
This is same as #13986

[2022-09-26 19:11] #8994 closed

[2022-09-26 19:12] dsyme commented on #8582
This is minor enough that I'm closing it

[2022-09-26 19:12] #8582 closed

[2022-09-26 19:14] dsyme commented on #13882
Closing https://github.com/dotnet/fsharp/issues/3497 as a duplicate of this more recent one.  There is interesting information there on prototype attempts to address this

[2022-09-26 19:14] dsyme commented on #3497
Duplicate

[2022-09-26 19:14] #3497 closed

[2022-09-26 23:25] dsyme commented on #6583
@auduchinok your initial analysis was spot on - the chunking PR was just broken for large files. Presumably this caused the duplicates I saw as well.

Really annoying we let this slip for so long, especially since you'd reported it.

[2022-09-27 08:07] #13986 closed

[2022-09-27 10:10] abonie commented on #13921
I spoke briefly with @jonsequitur and it seems that the bug is on FSI side rather than .NET interactive. I was able to repro when calling FSI API in a similar way that .NET interactive calls it
<img width="404" alt="image" src="https://user-images.githubusercontent.com/20281641/192498610-d8cb59ae-fd09-47f4-a0d5-d20cdede295c.png">

[2022-09-27 10:44] vzarytovskii opened #13990 "Trim signature and optimization data from runtime dependencies which we publish to SDK/VS"
We have the following runtime dependencies which we ship together with compiler in the SDK, for which we can safely strip signature and optimization data (unless I'm missing something):

- FSharp.Build.dll (210Kb):
    - FSharpOptimizationData: 1Kb
    - FSharpSignatureData: 53Kb
- FSharp.Compiler.Interactive.Settings.dll (75Kb):
    - FSharpOptimizationData: 2Kb
    - FSharpSignatureData: 15Kb
-

[2022-09-27 11:26] abelbraaksma commented on #7784
@tboby, yes, I figured (at the time) that this has something to do with the reason that `@`-signs are used for compiler-generated internals. It seems very shaky that we both allow that `@`-sign in names, and at the same time have a test that says `if there's an @-sign its internal`.

Feels very shaky. @dsyme, we use the attribute `CompilerGeneratedAttribute`, isn't that way better to use to deduct

[2022-09-27 11:29] vzarytovskii commented on #7784
Tagging @0101 who were tinkering with compiler generated attributes recently.

[2022-09-27 11:31] abelbraaksma commented on #13697
Sounds like a plan. Assuming the earlier error will usually be the more relevant one. Also, the later error (at least here) is incorrect, as the expression isn't invalid per se.

Thinking about this 2 seconds longer makes me think this would be a general improvement while editing code.

[2022-09-27 13:38] dsyme opened #13993 "Regression: Scripts are being edited as .NET Framework, not .NET Core"
In latest public preview and latest main, when opening and editing a script .NET Framework references are being used, not .NET Core references

Script:

[code]

With 17.3.3:

![image](https://user-images.githubusercontent.com/7204669/192541421-06347cf1-8065-4c38-a034-d11805adac78.png)

With 17.4.0 Preview 2.1 and latest main:

![image](https://user-images.githubusercontent.com/7204669/192541828-4b

[2022-09-27 14:27] abelbraaksma commented on #13548
@dsyme So that means it'll be fixed in F# 7 / .NET 7? Currently, this warning is still raised (.NET 6.0, VS 2022).

Perhaps not a big issue, considering the next version is almost around the corner.

[2022-09-27 14:29] dsyme commented on #13993
@KevinRansom Regression is here: https://github.com/dotnet/fsharp/commit/dc269a93179963f5c6874eb34dc14b52229349c5#r85153150

The problem is that when this code is running in devenv.exe (running TFM = net48), the target TFM must be based on the .NET Core sdkDir for the script.

[2022-09-27 14:34] abelbraaksma commented on #13533
Fixed by #13950.

[2022-09-27 14:34] #13533 closed

[2022-09-27 14:59] stefan-schweiger opened #13995 "Indentation aware raw string literals (similar to C# 11)"
**Is your feature request related to a problem? Please describe.**

Currently you have to be careful about the indentation of multiline strings in your code

[code]

**Describe the solution you'd like**

With [C# 11 raw string literals](https://learn.microsoft.com/en-gb/dotnet/csharp/whats-new/csharp-11#raw-string-literals) were introduced which remove indentation depending of the position of the

[2022-09-27 15:06] vzarytovskii commented on #13995
@stefan-schweiger I think it is covered by https://github.com/fsharp/fslang-suggestions/issues/1150
Does it match what you want? If no, please create another proposal in the https://github.com/fsharp/fslang-suggestions/issues

[2022-09-27 15:06] #13995 closed

[2022-09-27 15:49] crummel commented on #13953
This was fixed by https://github.com/dotnet/fsharp/pull/13963, thanks!

[2022-09-27 15:49] #13953 closed

[2022-09-27 17:26] abelbraaksma commented on #10609
It is not just notebook users. Any company with a private feed for their own packages (which I assume is quite a few) suffer this problem.

A _big problem_ is currently that, once you've configured an authenticated feed in `nuget.config`, *none of the normal feeds work anymore*.

Maybe there's a workaround. The above-mentioned "adding to local feed" is not very feasible in large organisations, I'm

[2022-09-27 22:19] MichaelSimons commented on #13953
What is the recommended solution for source-build in .NET 7.0?  @KevinRansom

[2022-09-27 23:01] vzarytovskii commented on #13953
If it's not fixed by the https://github.com/dotnet/fsharp/pull/13963, then it's fine to suppress it (or have a patch in place). It's only affecting (some of the) ref assemblies, so shouldn't be affecting the product, since we aren't shipping refassemblies.

[2022-09-28 02:00] MichaelSimons commented on #13953
Is https://github.com/dotnet/fsharp/pull/13963 going to flow into .NET 7.0?

[2022-09-28 08:55] Mic43 commented on #12625
Feature just does not work - Impact-Low.
This is a joke? Shameful

[2022-09-28 10:17] vzarytovskii commented on #12625
Feature is still experimental and disabled by default, hence the impact. We're still working on proper rendering for it

[2022-09-28 10:20] vzarytovskii commented on #13953
Yes, iirc, it is a part of https://github.com/dotnet/sdk/pull/28137 insertion and should be a part of rc2.

[2022-09-29 08:06] vincenzoml commented on #13533
Thanks!

[2022-09-29 11:06] T-Gro commented on #8970
@NinoFloris  you are right, and it is actually even worse.

If a struct is marked as readonly, Roslyn removes the readonly attribute on method level, and only keeps the top level one on the struct itself.
This is definitely helpful, I will have a look and what can be done.

![image](https://user-images.githubusercontent.com/46543583/193015717-b30b9e01-2a26-4796-bf73-847bbf74f5e0.png)

[2022-09-29 15:59] 0101 opened #14001 "Renaming function in VS causes a freeze followed by a crash"
**Repro steps**

Couldn't repro on any minimal example, probably requires a bigger project. This seems to consistently reproduce on FSharp solution:

1. Open [FSharp solution](https://github.com/dotnet/fsharp/blob/f30672421b38952abd81fb45b02097f75f50beb6/FSharp.sln)
2. Go to [CompilerDiagnostics.fs line 602](https://github.com/dotnet/fsharp/blob/f30672421b38952abd81fb45b02097f75f50beb6/src/Compile

[2022-09-30 05:57] forki opened #14002 "NullReferenceException in task workflow"
We have some healthcheck code with task workflows and the sometimes crash with NullReferenceException in some FSharp.Core code. I could not find the root cause yet, but I assume something in the task workflow compilation went wrong.

[code]

![image](https://user-images.githubusercontent.com/57396/193200282-60e3489f-256b-47db-ac02-756b01ca6780.png)

I think the code looks absolutely normal

[2022-09-30 08:21] #6628 closed

[2022-09-30 12:02] abelbraaksma commented on #6628
Awesome stuff, @edgarfgp. Can you record here what approach was taken? Ie, is it going to give a warning at all read and write accesses, or only at write (creation) and not in matching? I assume that a ‘catch all’ match will not trigger the warning? Just curious, I think either solution is great.

[2022-09-30 16:25] jkone27 commented on #13866
Thanks, just suggesting, maybe the compiler error should make this design decision more explicit to the user, or suggest this option if there is a multiline load
[code]
--> compiler fail with
[code]

[2022-09-30 17:43] edgarfgp commented on #14002
Seems similar  to https://github.com/dotnet/fsharp/issues/13657

[2022-09-30 18:14] vzarytovskii commented on #14002
Which SDK version was used to build it, and what runtime version is it running on?

[2022-09-30 20:42] smoothdeveloper commented on #13866
@jkone27 I believe there are subtleties about how those directives impact the evaluation, that would make such adjustment problematic, on top of backward compatibility.

Adjusting https://learn.microsoft.com/en-us/dotnet/fsharp/tools/fsharp-interactive/#f-interactive-directive-reference so it shows that several files can be loaded seems to be a good solution to make it explicit, what can be done w

[2022-10-01 11:22] kant2002 commented on #13341
It may be interesting to know, that C# people also want something similar as discussed here https://github.com/dotnet/designs/pull/213, and maybe this will lead to cooperation which give enough support in the .NET SDK to make this happens in more consistent way for .NET ecosystem, so changes to FSC/FSI would look organic.

[2022-10-01 13:47] kerams commented on #12839
Another one.

To reproduce it, get [this PR](https://github.com/Zaid-Ajaj/Fable.Remoting/pull/323), `dotnet tool restore`, open the solution and try to build Fable.Remoting.Giraffe in Release.

`warning FS3511: This state machine is not statically compilable. A resumable code invocation at '(46,12--46,18)' could not be reduced.`

FableGiraffeAdapter.fs
![devenv_5uZqpO7qpe](https://user-images.gith

[2022-10-01 17:04] nojaf opened #14007 "Better representation of cons pattern"
**Is your feature request related to a problem? Please describe.**

Given the following F# code:
[code]

and relevant AST:

[code]

The code doesn't really contain any tuple in this case.

**Describe the solution you'd like**

I'd be in favour of having a better representation, something similar to `SynPat.Or` or `SynPat.And`.
Proposal:

[code]

**Describe alternatives you've considered**

We curr

[2022-10-01 17:51] nojaf opened #14008 "Add trivia to SynArgPats.NamePatPairs"
**Is your feature request related to a problem? Please describe.**

Consider the following code:
[code]

and relevant AST:

[code]

It would be nice if we had the ranges of the parentheses as trivia.

**Describe the solution you'd like**

Add `SynArgPatsNamePatPairsTrivia` that contains both ranges.
We might also want to consider updating the range of `SynArgPats.NamePatPairs` to include the paren

[2022-10-01 18:58] edgarfgp commented on #13981
@auduchinok This seems related to what I'm covering in https://github.com/dotnet/fsharp/pull/13964 . I can take a look after my PR is merged :) .
cc @dsyme

[2022-10-01 20:47] abelbraaksma commented on #13981
Iirc, this is a rather old bug, I thought it was reported before. We should probably add a test for this scenario?

[2022-10-02 06:40] forki commented on #14002
It's running on the latest version of FSharp.Core and .NET SDK 6.0.401. Everything is on latest.

[2022-10-03 05:47] gusty opened #14011 "Incorrect warning about tupled arguments"
As of F#7 an incorrect warning is being displayed.

**Repro steps**

[code]

**Expected behavior**

Compiles without warnings.

**Actual behavior**

Compiles with warning:

[code]

**Known workarounds**

Ignore it.

**Related information**

Microsoft (R) F# Interactive version 12.0.5.0 for F# 7.0

Microsoft Visual Studio Community 2022 (64-bit) - Preview
Version 17.4.0 Preview 2.1

[2022-10-03 05:55] gusty opened #14012 "Bad image when calling op_Addition on interface"
Calling `op_Addition` on interface results in a Bad Image error.

**Repro steps**

1. `open System.Numerics;;`

2. `IAdditionOperators.op_Addition (3, 6) ;;`

**Expected behavior**

Compiles with `val it: int = 9`

**Actual behavior**

Fails compilation with:

[code]

**Known workarounds**

Don't call directly on the interface.

**Related information**

Other operations, like `op_CheckedAddition`

[2022-10-03 06:06] gusty opened #14013 "Calling op_Addition on primitive types doesn't work"
Calling op_Addition on primitive types doesn't work but works on new BCL types.

**Repro steps**

[code]

but

[code]

**Expected behavior**

Same in both cases

**Actual behavior**

The former doesn't work, the latter does.

**Known workarounds**

Don't do it.

**Related information**

In case this is somehow expected we need to document this in the RFC.
Also I wonder if the definition of standar

[2022-10-03 10:01] vzarytovskii commented on #14012
Checked version is `virtual` member, and normal is abstract. I think it should be disallowed in general - calling methods directly on the interfaces, wdyt @dsyme?

[2022-10-03 10:08] vzarytovskii opened #14014 "`Tracking` Visual Studio fixes & improvements"
Tracking issue for all VS fixes and improvements:
- https://github.com/dotnet/fsharp/issues/13927
- https://github.com/dotnet/fsharp/issues/13882
- https://github.com/dotnet/fsharp/issues/13951
- https://github.com/dotnet/fsharp/issues/13919
- https://github.com/dotnet/fsharp/issues/13909
- https://github.com/dotnet/fsharp/issues/13714
- https://github.com/dotnet/fsharp/issues/13717
- https://gith

[2022-10-03 10:17] vzarytovskii opened #14015 "`Tracking` C#<->F# interop"
Tracking issue for .NET/C# interop:
- [ ] Scoped refs.
- [ ] C# & F# Records interop - [suggestion](https://github.com/fsharp/fslang-suggestions/issues/1138)
- [ ] `CallerArgumentExpressionAttribute` support - [suggestion](https://github.com/fsharp/fslang-suggestions/issues/966)
- [ ] `DefaultInterpolatedStringHandler` support - [suggestion](https://github.com/fsharp/fslang-suggestions/issues/1108

[2022-10-03 10:22] vzarytovskii opened #14016 "`Tracking` Infra, engineering & testing improvements"
- https://github.com/dotnet/fsharp/issues/13990
- https://github.com/dotnet/fsharp/issues/13328
- https://github.com/dotnet/fsharp/issues/12368
- https://github.com/dotnet/fsharp/issues/13072
- https://github.com/dotnet/fsharp/issues/13367
- https://github.com/dotnet/fsharp/issues/13804
- https://github.com/dotnet/fsharp/issues/13829
- https://github.com/dotnet/fsharp/issues/13854
- https://github

[2022-10-03 10:26] vzarytovskii opened #14017 "`Tracking` Performance infrastructure & optimizations"
Tracking issues for any perf infra improvements + performance icebergs investigation/fixes:
- https://github.com/dotnet/fsharp/issues/12421
- https://github.com/dotnet/fsharp/issues/13606

[2022-10-03 10:46] vzarytovskii commented on #14013
There's difference of how operators are defined on both types:
https://github.com/dotnet/runtime/blob/200f533e063a470514c6bd95e5d4c6fcc5d97266/src/libraries/System.Private.CoreLib/src/System/Int32.cs#L300-L301, here explicit interface member is implemented:
[code]
https://github.com/dotnet/runtime/blob/200f533e063a470514c6bd95e5d4c6fcc5d97266/src/libraries/System.Private.CoreLib/src/System/Int128.

[2022-10-03 13:44] auduchinok opened #14018 "Wrong "Parameter name doesn't match signature" warning"
Consider these signature and implementation files:
[code]
[code]

The warning is reported for one of the implementation parameters instead of the whole tuple:

<img width="1039" alt="Screenshot 2022-10-03 at 15 42 06" src="https://user-images.githubusercontent.com/3923587/193592354-7cbff948-4f3f-4c37-aa1d-8292d7352819.png">

[2022-10-03 15:16] #14008 closed

[2022-10-03 16:43] #8970 closed

[2022-10-03 17:37] edgarfgp commented on #11868
@NinoFloris I have been looking at some of the Obsolete attributes bugs and I was looking into this one .

- I have added some test in [Obsolete Attribues Tests](https://github.com/dotnet/fsharp/blob/main/tests/FSharp.Compiler.ComponentTests/Language/ObsoleteAttributeCheckingTests.fs)
- I think F# reports error / warnings when you access properties/ fields (except records that is not consistent AT

[2022-10-03 17:48] NinoFloris commented on #11868
In the first example IgnoreNullValues is a property that is being set in the constructor. As such it should warn similarly, it's just a missed case. As the normal property setter does warn.

@dsyme would likely be best able to tell us whether this would be a feature request.

[2022-10-03 23:25] albertwoo opened #14020 "Derived class not accepted for a type constraint when it implements `IEquatable<T>`"
Please provide a succinct description of the issue.

**Repro steps**

Repo to reproduce: https://github.com/albertwoo/FSharpInheritIssue/blob/c805f56a2fad1e0313a09e85695e88c2bfef77f6/Program.fs#L10

![image](https://user-images.githubusercontent.com/8017681/193703025-00db0542-62ea-46c4-ab1b-0a0592d6ca78.png)

For other types this kind of inheritance is ok, but it looks like the Xaml panel or contr

[2022-10-04 09:01] vzarytovskii commented on #11868
This would be a bugfix, however I'm not sure if it should go under a language flag. We hid init-only properties check under F# 7, though it was a fix (but it produces an error instead of warning).
This should probably be treated as the rest of obsolete fixes - like a bugfix.

[2022-10-04 10:36] #12627 closed

[2022-10-04 12:26] edgarfgp commented on #11868
@vzarytovskii will create a Draft with the bug fix 😀

[2022-10-04 12:47] vzarytovskii commented on #11868
Great, thanks, could you also please check if it is ignored in case of normal methods setting properties, i.e.:
[code]
In this case, probably should also be checked, the check probably belongs somewhere here:
https://github.com/dotnet/fsharp/blob/30b3a8fa53bf48da2b79492cddd98b4d219336a3/src/Compiler/Checking/CheckExpressions.fs#L9785-L9786
as well as calling `set_PropName` explicitly (in case if w

[2022-10-04 19:05] #13909 closed

[2022-10-04 19:05] #13919 closed

[2022-10-04 23:09] voronoipotato commented on #3648
We just hit this in a demo for our F# meetup today :) .

[2022-10-05 08:16] T-Gro commented on #3648
IMO the best return of investment would be to change the name-generation strategy in case of structs - BUT, that would break backwards compatibility if those fields are used outside of F#. Not good.

I am thinking about having different messages depending on using / not using named fields.

My current understanding is that if a person is already using named fields, the message is not bad (?).
But

[2022-10-05 08:42] edgarfgp commented on #3648
@T-Gro Once you understand the error it make sense , but at fist glance is confusing :)

Some related issues and suggestions:

-  https://github.com/dotnet/fsharp/issues/9368,
-  https://github.com/fsharp/fslang-suggestions/issues/699
- https://github.com/dotnet/fsharp/issues/5215.
- https://github.com/dotnet/fsharp/pull/11718
- https://github.com/dotnet/fsharp/issues/5236
- https://github.com/dot

[2022-10-05 08:45] T-Gro commented on #3648
Exactly, should be optimized for a person who did not see it before, and maybe even for a person who might not know that fields in DUs can have optinal names.

What do you think of the message proposal? Or is there a better one?

[2022-10-05 09:00] edgarfgp commented on #3648
I think your message proposal is more clear :) .  I think we should use the DU field range to report error to make it more clear where the issue is , No the type one that is more ambiguous ?

[2022-10-05 09:02] T-Gro commented on #3648
True and a good idea. Issue is in the fields, not in the DU type

[2022-10-05 09:10] edgarfgp commented on #3648
Hopefully https://github.com/fsharp/fslang-suggestions/issues/699 gets implemented one day . to remove this limitation :)

[2022-10-05 09:36] #13886 closed

[2022-10-05 10:17] kevmal opened #14024 "FSI netcore not seeing System.Security.Cryptography asm"
In VS Version 17.4.0 Preview 2.1 editing a fsx file with "Use .NET Core Scripting" enabled:

![image](https://user-images.githubusercontent.com/7281367/194035014-8ee8883f-f73a-4993-97fb-bba670c90f4e.png)

Not showing any types from System.Security.Cryptography asm, (`Aes`, `AesCcm`, `AesCng`, ...)

In FSI (F# Interactive version 12.0.5.0 for F# 7.0):

[code]
Yet reflection works fine:

[code]

A F

[2022-10-05 12:55] 0101 commented on #14020
I believe the reason is because that `Panel` implements `IEquatable<Panel>` and `VirtualizingPanel` implements `IEquatable<VirtulizingPanel>`.

Since `'T` must satisfy `:> Panel` for class `A` the constraint solver figures that `IEquatable<Panel>` should equal `IEquatable<VirtualizingPanel>` and this is where the error message actually comes from.

So the behavior is correct, because `Virtualizing

[2022-10-05 16:11] #14007 closed

[2022-10-06 00:04] albertwoo commented on #14020
@0101 I think it is not message confusing. There are two reasons:
1. From the fsharp docs "The provided type must be equal to or derived from the type specified, or, if the type is an interface, the provided type must implement the interface.", So MySubClass is indeed derived from MyClass. So it should satisfy.
2. Same thing works in csharp, and from the sytax shape it make sense.
[code]

[2022-10-06 09:16] #13983 closed

[2022-10-06 09:32] 0101 commented on #14020
@albertwoo I guess you are right, it should probably accept any derived class.

[2022-10-06 09:51] vzarytovskii commented on #6066
This particular issue should be fixed in #14023 and should be in 17.5+

[2022-10-06 09:51] #6066 closed

[2022-10-06 09:52] pblasucci opened #14032 "FSI: Regression in processing signature files via `load` directive"
It used to be possible to load signature files into an interactive session, via the `#load "path/to/file.fsi"` directive. Currently, this generates an error about missing a corresponding implementation file.

**Repro steps**

1. Create an F# project.
2. Add both a signature file and its corresponding implementation file.
3. Add a script file containing two `#load` directives (one for the signature

[2022-10-06 10:20] vzarytovskii commented on #14032
@pblasucci Do you recall which version of SDK was it working on before? I have tested it on 5.0.408, and it's still the same diagnostic.

[2022-10-06 10:44] pblasucci commented on #14032
Unfortunately, I don't recall exactly. I thought it was .NET 5 -- but it may have been .NET Core 3.x 🫤

[2022-10-06 13:08] psfinaki commented on #12862
@dsyme @vzarytovskii so after spending 30mins trying to reproduce this, I am fairly sure this is actually related to F# CodeLens, and only in the "above the line" mode. You don't even need multiple tabs for that :D

https://user-images.githubusercontent.com/5451366/194320035-264f3eda-20a8-4568-a440-0119b5bfeae2.mp4

FYI I was just trying to type this:
[code]

This is as miserable as it can get - b

[2022-10-06 13:10] psfinaki commented on #12626
F# CodeLens "above the line" is broken as of now.

[2022-10-06 13:12] psfinaki commented on #12625
Confirming this is broken.

[2022-10-06 13:13] psfinaki commented on #12626
Basically a duplicate of #12625
Closing, will be addressed there.

[2022-10-06 13:13] #12626 closed

[2022-10-06 13:14] psfinaki commented on #12862
For now, closing this as a duplicate of #12625

Please reopen it if you can reproduce it without CodeLens involved.

[2022-10-06 13:17] psfinaki commented on #12476
Weird stuff. The Lens should be shown to the right of the line anyway.
![image](https://user-images.githubusercontent.com/5451366/194323021-1f474a43-1175-46cf-9513-718fd6963c6b.png)

[2022-10-06 13:19] psfinaki commented on #12475
Yep, this still applies

[2022-10-06 13:33] psfinaki commented on #11738
So I believe this should have been fixed in #14019
Basically, I removed all the instances of `Option.get` in the CodeLens code so this thing shouldn't happen there anymore.

That said, I cannot reproduce this even in the mainstream VS without the above fix.

Anyway, closing for now, please reopen if this error somehow pops up again.

[2022-10-06 13:33] #11738 closed

[2022-10-06 14:32] 0101 opened #14033 "Make Visual Studio provide `FSharpSource` objects based on live buffers"
Following up on https://github.com/dotnet/fsharp/issues/11976

It should also fix https://github.com/dotnet/fsharp/issues/5915

Prototype PR: https://github.com/dotnet/fsharp/pull/11588

[2022-10-06 14:35] psfinaki opened #14034 "CodeLens is terribly slow"
This:

https://user-images.githubusercontent.com/5451366/194339770-92dcf7a9-70bc-41ab-9303-40bb048b34fa.mp4

Is not acceptable.

C# experience to compare:

https://user-images.githubusercontent.com/5451366/194341168-a4148a26-dbf4-4bf4-a555-be2231a24713.mp4

I'd argue we shouldn't let CodeLens out of the experimental mode until those "movements" are visible.

[2022-10-06 14:44] psfinaki opened #14035 "Align F# CodeLens with Roslyn CodeLens"
F# CodeLens is currently a bunch of modules with custom WPF logic, implementing [these ideas](https://learn.microsoft.com/en-us/visualstudio/extensibility/inside-the-editor).

Since WPF is a pain and we will be also moving towards LSP, we need to investigate how much crap we can remove from the current implementation and either import or copy CodeLens logic in Roslyn. Presumable this can bring per

[2022-10-06 14:47] psfinaki opened #14036 "`Tracking` CodeLens & LineLens"
Here is a bunch of stuff we need to do with CodeLens to bring it back to life.

- https://github.com/dotnet/fsharp/issues/12625
- https://github.com/dotnet/fsharp/issues/12475
- https://github.com/dotnet/fsharp/issues/12474
- https://github.com/dotnet/fsharp/issues/12476

- https://github.com/dotnet/fsharp/issues/14034
- https://github.com/dotnet/fsharp/issues/14035

The current plan is to remove

[2022-10-06 14:47] psfinaki commented on #14035
@CyrusNajmabadi

[2022-10-06 17:58] T-Gro commented on #14034
Agree, the delay is too annoying to claim this "production ready".

[2022-10-06 19:13] #13960 closed

[2022-10-07 10:04] vzarytovskii commented on #13133
Can't repro it in 17.4/17.5 anymore, closing

[2022-10-07 10:04] #13133 closed

[2022-10-07 10:27] vzarytovskii commented on #12625
Ok, closing this one, since "above the line" code lens feature was removed (clearly was a bad experiment), we will properly plan the replacement for it.

[2022-10-07 10:27] #12625 closed

[2022-10-07 10:47] abonie opened #14039 "Allow double dollar signs for interpolated strings as in C# 11"
**Is your feature request related to a problem? Please describe.**

This issue is for tracking work on this feature suggestion https://github.com/fsharp/fslang-suggestions/issues/1150 that is "approved-in-principle"

It is meant for improving the experience of embedding another language (or JSON data) in F#

**Describe the solution you'd like**

Based on design principle from [FS-1001-StringInterp

[2022-10-07 10:59] forki commented on #14002
so I looked briefly at the code in resumptionInfo:

![image](https://user-images.githubusercontent.com/57396/194538127-aff6b444-92e9-48c3-8a55-7a75d3cae564.png)

so there is indeed some explicit null handling.

[2022-10-07 11:17] abonie commented on #14032
You can do it in one `#load` directive
[code]
I think that fully solves the issue?

[2022-10-07 12:10] vzarytovskii opened #14044 "testing issue, please ignore"

[2022-10-07 12:12] #14044 closed

[2022-10-07 13:02] pblasucci commented on #14032
Oh my days!!! :scream:

Thanks, @abonie! That does, indeed, solve the problem. :tada:

TIL :+1: :smile:

[2022-10-07 13:02] #14032 closed

[2022-10-07 14:22] #13710 closed

[2022-10-07 16:33] #13921 closed

[2022-10-07 17:30] dsyme commented on #13981
Can't see a duplicate of this

[2022-10-07 18:12] dsyme commented on #12862
@psfinaki Thanks!!

[2022-10-07 18:16] #13848 closed

[2022-10-07 22:16] genlu opened #14053 "Missing MEF export of IFSharpFindDefinitionService in VS"
I'm seeing a MEF error in VS main build.

[code]

And a quick search shows that this type is not implemented in F#.

[IFSharpFindDefinitionService - grep.app](https://grep.app/search?q=IFSharpFindDefinitionService&filter[repo][0]=dotnet/fsharp)

[2022-10-08 06:05] krauthaufen opened #14054 "Expr.TryGetReflectedDefinition on Blazor WebAssembly"
In our Blazor WebAssembly project `Expr.TryGetReflectedDefinition` fails when I change definetly unrelated parts of the code.
Basically we use quotations for our shaders in FShade and by changing an entirely different part of the code we suddenly see

<details>
    <summary>this error message</summary>
update failed: System.InvalidOperationException: type argument out of range
blazor.webassembly.j

[2022-10-08 11:54] SteveGilham commented on #14020
This of course generalises to any such hierarchy based on an instance of the curiously recurring template pattern
[code]
which results in
[code]
and not just the particular case of `IEquatable<'T>`

[2022-10-08 16:06] abelbraaksma commented on #6066
Awesome stuff @psfinaki! Once that's out (I unfortunately can't install currently due to installing Preview leading to non-Preview installations of VS defaulting to F# 7, side-by-side is currently broken). Hmm, maybe I test using the built-in "compile-and-run-in-visual-studio".

[2022-10-09 01:42] abelbraaksma commented on #13851
@edgarfgp great you’re trying to fix that old bug I reported 6yrs back in #1592. Once this is done, we should probably change the docs accordingly, see suggestion here on this issue: https://github.com/dotnet/docs/issues/20858.

Btw, if we make this informational (not a warning), surely a langversion switch isn’t necessary?

[2022-10-09 01:44] abelbraaksma commented on #1592
May be fixed by https://github.com/dotnet/fsharp/pull/14055.

[2022-10-09 01:44] abelbraaksma commented on #10204
May be fixed by: https://github.com/dotnet/fsharp/pull/14055

[2022-10-09 07:32] edgarfgp commented on #13851
@abelbraaksma Thanks for raising this years ago , This was confusing to me while I was learning . So I decided fix it :)

Yeah that is good idea. will update the docs if this gets merged

I thought the same while I was implementing this and IMO a warning (no informational) will be more explicit and will help us remove those unnecessary wildcards. Also, it seems the informational warning is shown,

[2022-10-09 13:54] krauthaufen commented on #14054
I found a clue: `Expr.TryGetReflectedDefinition` fails on F#-style extension properties that are defined in a referenced library and shouldn't have any reflected definitions. Still the relevant parts have not been changed since before the error happened.

[2022-10-09 14:20] Booksbaum opened #14057 "In Visual Studio: Renaming operator with `.` only renames right of `.`"
In VS: renaming an operator containing `.` only renames right of `.`, but keeps everything left (including `.`) of `.`

**Repro steps**

[code]

Rename (`F2`) on `-.-` (doesn't matter if decl or usage)
-> only last `-` gets selected and replaced when renamed with something:

![Rename Operator](https://user-images.githubusercontent.com/15612932/194761750-50c1e48a-5716-4be8-8cb7-8d8d2ef9855c.gif)

*

[2022-10-09 15:31] ntovas commented on #13377
I looked a bit into this  and to me it seems that the issue to be in `match` than in `nameof` implementation.
I would like some guidance to make a fix for this, @vzarytovskii can you help?

[2022-10-09 17:34] edgarfgp commented on #12198
Now that https://github.com/dotnet/fsharp/pull/13978 is merged . I think we can close this @vzarytovskii ?

[2022-10-09 17:35] #12198 closed

[2022-10-09 23:56] vzarytovskii commented on #13377
Hey, @ntovas, I'm on vacation currently, without acces to my phone unfortunately :(

Perhaps someone from the team can chime in, and help you looking into it? @dotnet/fsharp-team-msft ping!

[2022-10-10 08:20] #12013 closed

[2022-10-10 11:08] psfinaki commented on #6066
@abelbraaksma thanks for your eagerness :) no rush though, I think 17.5 should come out in November and by then I also hope to also address the performance [issue](https://github.com/dotnet/fsharp/issues/14034) so that the feature is not only (rather) bug-free but also usable :D

[2022-10-10 11:13] T-Gro commented on #13377
@ntovas :

This is the approach I would take:
Add a failing test into the Component.Tests suite, into \tests\FSharp.Compiler.**ComponentTests**\Language\**NameofTests**.fs .

Before starting it, sprinkle breakpoints around code in the TypeChecking state, so that you can step the execution and investigate the available parameters.

One of the places that seems to be related is \src\Compiler\**Check

[2022-10-10 11:37] vzarytovskii commented on #13377
I would also add that `nameof` is not your typical function, and has a special treatment in the compiler. That's why it behaves differently to all other functions.

[2022-10-10 12:17] T-Gro commented on #14054
Hi @krauthaufen .
Does this exhibit itself also in a non-Blazor situation? Would be great to have a minimal sample

[2022-10-10 12:23] T-Gro commented on #13851
I agree that **warning** + language switch is better in making this more visible.
Info-warnings are use very sparsely, typically only when deprecating language features...

[2022-10-10 12:24] krauthaufen commented on #14054
Not yet, I'm still looking for a repro but it doesn't seem to happen in the "real" dotnet. My guess would be some wrong name-mangling in the old mono code since these extensions get weird names containing a `.` in the methodname afaik. Maybe somr reflection stuff going wrong with these names...

[2022-10-10 12:37] T-Gro commented on #14020
Strangely this works when using 2 generic parameters for **B** (provided by the same real type at instantiation), maybe this might give a hint on where the issue is. Can also act as a workaround for the time being ;; @albertwoo and @SteveGilham .

`type ISprintable<'T> =
    abstract member Print : format:'T -> unit

type BaseClass() =
  interface ISprintable<BaseClass> with
    member this.Print

[2022-10-10 12:40] T-Gro commented on #14020
Seeing more trough it, this is a duplicate of https://github.com/dotnet/fsharp/issues/12206 .
And is covered by this (not implemented) lang suggestion https://github.com/fsharp/fslang-suggestions/issues/255

[2022-10-10 12:40] #14020 closed

[2022-10-10 12:48] vzarytovskii commented on #13851
Agree, I think it should be a warning behind language version. It should also be easy to add a quick fix to VS (and other IDEs) which will be removing unnecessary discards.

[2022-10-10 12:54] T-Gro commented on #14053
We do implement the `[<Export(typeof<IFSharp**GoTo**DefinitionService>)>]`, that covers the F12 functionality.
What VS action is triggered by IFSharp**Find**DefinitionService, is this something different?
I see that the return types are different, I am just thinking on how to test this with F#.

[2022-10-10 13:23] vzarytovskii commented on #14053
@T-Gro this is related Roslyn issue: https://github.com/dotnet/roslyn/issues/50391
Just a matter of implementing new service in 17.5 branch (and getting rid of old one, or rather refactor old one to the new one).

It's not super urgent since old service is still around.

If you'd like, I can take care of it once I'm back next week, I know exactly what to do and how to test it.

If you'd like to wo

[2022-10-10 13:30] En3Tho opened #14060 "Wierd error cases when trying to create static FSharpFunc: Value restriction. The value 'fsharpFunc' has been inferred to have generic type"
Please provide a succinct description of the issue.

**Repro steps**

Provide the steps required to reproduce the problem:

[code]

**Expected behavior**

Compiler has no problem creating singletons like that. I've provided different examples and it seems that this is a some kind of bug with generics. Compiler has no problem creating Funcs or returning Func.Invoke as FSharpFuncs. Is this some kind

[2022-10-10 15:08] cartermp opened #14061 "Exception with MMapped Files + Rename + Ionide + macOS"
Unclear if this is a bug, but it was thrown in  FCS so I'm filing this here.

1. Pull down the branch from here: https://github.com/honeycombio/honeycomb-opentelemetry-dotnet/pull/296
2. Go to `Routing.fs`, line **53**
3. Rename `endpoints` to something else, like `createEndpoints`

Throws an error:

[code]

Looks like it's the creation of the MMapped file that throws the exception, but maybe ther

[2022-10-10 15:08] abonie commented on #14060
I believe this is fully by-design. The issue you are running into is called value restriction (as per the error messages), it is a consequence of having both polymorphism and mutability and AFAIK is present in other ML languages too (like SML and OCaml).

Here is relevant page from F# language reference https://learn.microsoft.com/en-us/dotnet/fsharp/language-reference/generics/automatic-generaliz

[2022-10-10 15:08] #14060 closed

[2022-10-10 16:00] En3Tho commented on #14060
But why example works? It doesn't really make sense
[code]

[2022-10-10 16:25] T-Gro commented on #14061
Related to (and solveable via?) https://github.com/dotnet/runtime/issues/63240  and https://github.com/fsharp/FsAutoComplete/issues/939 .

According to the comments, should be fixed in dotnet7.
@cartermp  : I assume you were using dotnet 6, correct?

[2022-10-10 17:24] KevinRansom opened #14063 "Ctrl+C or Ctrl+Break for fsi in visual studio when using dotnet fsi"
Apparently I didn't add an issue for this.

When running vs fsi, ctrl+C or Ctrl+break does not interupt processing.

[2022-10-10 17:27] vzarytovskii commented on #13882
Note: new API with assembly name included: https://github.com/dotnet/roslyn/pull/64475
Will make changes once back next week.

[2022-10-10 17:39] cartermp commented on #14061
Oh yay, yes, this is that underlying .NET 6 issue. Closing!

[2022-10-10 17:39] #14061 closed

[2022-10-10 18:41] #13851 closed

[2022-10-10 19:39] edgarfgp opened #14066 "Remove quick fix for adding ```_``` when using a union case with not data"
Now that https://github.com/dotnet/fsharp/pull/14055 is merged and based on @vzarytovskii comment https://github.com/dotnet/fsharp/pull/14055#issuecomment-1273311276.

**We should remove the existing quick fix for adding  ```_``` See the image**

<img width="422" alt="image" src="https://user-images.githubusercontent.com/31915729/194939794-e66bf1f2-e27e-482f-bfc4-384727a40f8f.png">

**We should in

[2022-10-10 21:44] ntovas commented on #13504
Can't reproduce in VS: `Community`/`Enterprise` 2022 (64-bit) - Version: `17.4.0 preview 2.1`/`latest main branch` with either `.net 6.0`/`.net 7.0 rc1`

[2022-10-11 11:49] deyanp commented on #13126
@dsyme , can this be reopened?

I am getting the following error (after reinstalling dotnet sdk on Ubuntu 22.04):

[code]

[2022-10-11 11:59] deyanp opened #14077 "error FS0193: internal error: Unable to load one or more of the requested types. Method 'CompareTo' ..."
After re-installing dotnet sdk on Ubuntu 22.04 I am getting the following:

[code]

additional info:

[code]

[code]

[2022-10-11 13:27] abelbraaksma commented on #1592
Yep, fixed indeed! In https://github.com/dotnet/fsharp/pull/14055.

[2022-10-11 13:52] abelbraaksma commented on #13851
Awesome to see this fixed!

[2022-10-11 14:38] edgarfgp commented on #13511
@auduchinok I believe I have covered all the cases in this issue including events 😀See https://github.com/dotnet/fsharp/blob/main/tests/FSharp.Compiler.ComponentTests/Language/ObsoleteAttributeCheckingTests.fs

[2022-10-11 17:20] ntovas commented on #13377
Hey @T-Gro ,
Maybe you can check the linked PR?

[2022-10-11 19:11] T-Gro commented on #13377
On it :)

[2022-10-11 21:50] buvinghausen opened #14088 "F# records in reference assembly (/ref folder) are missing properties except for the last record in file [regression with 7.0.100-rc.2.22477.23 SDK ]"
After downloading and installing the latest 7.0.100-rc.2.22477.23 SDK I can no longer compile my C# libraries because if any code appears after the F# record declaration the compiler will throw a CS0117 error if you try to set a property on a CLIMutable record and/or a CS1061 error if you try to get any property on a record from C#.

**Repro steps**

Provide the steps required to reproduce the pro

[2022-10-12 07:10] forki commented on #13805
@vzarytovskii what about 6.0.402?

[2022-10-12 07:13] nojaf opened #14091 "Unstable mvid when using signature file"
When I have a project with a paired file (impl + sig), my reference assembly mvid should not change when I modify the implementation file where the signature did not change.
I think there are multiple situations where this happens.

Provide the steps required to reproduce the problem:
See https://github.com/nojaf/InstableMvid

**Expected behaviour**

The mvid should remain the same when the implem

[2022-10-12 08:23] vzarytovskii commented on #14091
Mvid depends on signature and optimization data, there's no "easy" fix for it.

[2022-10-12 08:33] T-Gro commented on #14088
The properties (in the C# view of things) are missing alltogether:

![image](https://user-images.githubusercontent.com/46543583/195292826-17406498-be09-49df-aaf3-14a73f91f58d.png)

[2022-10-12 08:54] vzarytovskii commented on #14088
One thing rc2 has on by default is producing refassemblies for net7 projects, this might be it.

We might want to roll it back until fully tested.

[2022-10-12 08:57] nojaf commented on #14091
Thinking out loud but if you know a file was backed by a signature, could you not trim `code, data and meta` for that file in

https://github.com/dotnet/fsharp/blob/8cd8973fce304c36d88467ed96bf91c0041adf6a/src/Compiler/AbstractIL/ilwrite.fs#L4135-L4141

Well, I wouldn't trim the existing stuff, just collect less when you can, purely for the mvid value.
I'm aware of the complexity of trimming the s

[2022-10-12 09:02] T-Gro commented on #14088
Indeed, the .dll within /ref folder is missing the properties for all but the last record:

![image](https://user-images.githubusercontent.com/46543583/195299675-fe4c2833-fb68-4c8e-9384-7bf03b8b89f7.png)

[2022-10-12 09:12] T-Gro commented on #14088
# Workaround

To overcome this, please disable generation of F# reference assemblies (is on by default). That is, put the following in the .fsproj.
Note that the files are still cached and ref from the obj/Debug/ref folder, so I had to close VS, delete bin and obj, and then reopen.

After that, the project builds and runs.

[code]

[2022-10-12 09:13] vzarytovskii commented on #14088
@T-Gro can you take a look at it please?

Ping me on teams if you'll need need help with figuring out how refassembly generation works.

[2022-10-12 09:17] vzarytovskii commented on #14088
`canGenPropertyDef` in `ilwrite.fs` is the place where we decide whether we want to emit property or not.

[2022-10-12 09:20] vzarytovskii commented on #14091
Tricky, we might want to experiment with it, however sigdata now has all members - internal and private.

I am unsure what will consequences of this be - how it is used by existing tooling (if at all).

[2022-10-12 09:22] vzarytovskii commented on #13805
I will need to check it after I'm back next Wednesday. If it didn't end up in 402, we'll get it in to the next one

[2022-10-12 10:12] T-Gro commented on #14088
The issue is curious at the IL gen level:

It only occurs when I have records with equaly-named properties.
What happens is that the properties in generated IL code get assigned to the last class in file, from all records across the module.

Even the screenshot above makes this clear - I had three records, and it generated each prop three times for the very last record.

[2022-10-12 10:17] vzarytovskii commented on #14088
Huh, that's interesting, wondering if it's because we don't take types into account when we decide how to generate them?

[2022-10-12 10:35] allisonchou opened #14092 "[Automated] PRs inserted in VS build main-33012.18"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/de216eb65d741d01aff5d32a4bdc495ca730290a...121c81e8270d6d5514e85c0e5bad5691167354e1?w=1)
- [Eagerly format exceptions in FSI's interactive scripting API (14026)](https://github.com/dotnet/fsharp/pull/14026)
- [Merge main to release/dev17.5 (14043)](https://github.com/dotnet/fsharp/pull/14043)
- [Update target branch for 17.4

[2022-10-12 10:43] vzarytovskii commented on #13805
Thanks for testing it! Sorry for the inconvenience with the bug.

[2022-10-12 10:53] Quetzalcoatl2435 commented on #13805
Updated VS and it didn't work for me. Still getting the same error.
Had to revert back to 304 for raspberry pis.

[2022-10-12 10:53] vzarytovskii commented on #14088
@buvinghausen while we're investigating, setting ProduceReferenceAssembly msbuild property can be used as a workaround. Sorry for the inconvenience.

[2022-10-12 10:59] edgarfgp commented on #14066
@auduchinok should I raised a similar issue in Rider to have to consistency across editors ?

cc @baronfel

[2022-10-12 11:00] vzarytovskii commented on #13805
For VS - fix should be in the recent 17.4

[2022-10-12 12:08] auduchinok commented on #14066
Yes, please do. I'll see if what we'd need to update on our side. 🙂

[2022-10-12 13:43] #8447 closed

[2022-10-12 14:28] vzarytovskii commented on #13678
CI gate is not in place yet.

@KevinRansom we again have different hashes for the package in nuget and SDK

[2022-10-12 15:36] vzarytovskii commented on #13678
Sigh..., it seems it is, in fact, caused by the differences in how insertions work for VS and SDK, and the package was published from VS pipeline, which has one less insertion.

[2022-10-12 16:46] vzarytovskii commented on #13678
We'll probably need to change the flow - how and from where do we publish nugets.

[2022-10-12 16:49] KevinRansom commented on #13678
sdk publishes them, and given that, I have no idea how they could mess that up.

[2022-10-12 17:09] KevinRansom commented on #13678
Okay, I believe I know what this is.  It highlighted a bug in the sdk publish process that caused them to not update the package in the upload cache.  I believe this release is the one they discovered it with and it will be fixed in the next release.  I will follow up with @mmitche later today and report back if necessary.

[2022-10-12 17:59] xperiandri opened #14097 "[SRTP] New syntax does not work on 7 RC2"
**Repro steps**

[code]

**Expected behavior**

Compiles well

**Actual behavior**

[code]

**Related information**

Provide any related information (optional):

* Windows 11 Pro 10.0.22621
* .NET Core 7.0.100-rc.2.22477.23
* Visual Studio 17.4.0 Preview 3.0

[2022-10-12 18:01] vzarytovskii commented on #14097
New syntax for sure works on static members, @dsyme does it suppose to work on instance members too?

[2022-10-12 20:45] bromanko commented on #12320
I'm also running in to this issue. It prevents being able to package F# projects using Nix dotnet support.

[2022-10-12 20:57] baronfel commented on #12320
A proposed fix might be to add a Condition to the `PackageFSharpDesignTimeTools` target that is driven by a boolean property, and default that property to `false`. Then, in documentation for Type Provider authors tell them to set the property to `true`. That way the majority of projects do not incur this hit and could continue along their merry way, and TP authors have a simple, unified way to sig

[2022-10-13 04:02] moloneymb opened #14101 "Text for VS FSI 64-bit option confuses"
Updated

The option about fsiAnyCpu sets 64-bit, fine. However the description text is very unclear. It should talk about 64-bit

--------

Original

F# Tools missing the ability to use 64-bit F# interactive

**Repro steps**

1. Install VS 17.3.6
2. Go to Tools -> Options -> F# Tools -> F# Interactive -> Misc
3. Note that there is no option to set 64bit

**Expected behavior**

![FSharpTools2](http

[2022-10-13 06:00] moloneymb commented on #14101
I just checked and fsiAnyCpu.exe works with 64bit libraries. So closing this issue. Do do think the description should be clearer. Platform neutral doesn't inspire confidence especially with the “Any CPU 32-bit preferred" confusion. Which is why I pin things to 64bit whenever possible. And so I have of habit I changing the FSI to 64bit mode in the tools.

[2022-10-13 06:03] moloneymb commented on #14101
Re-opened by request

[2022-10-13 06:04] dsyme commented on #14101
The option about fsiAnyCpu sets 64-bit

However the description text is very unclear. It should talk about 64-bit

[2022-10-13 10:50] Quetzalcoatl2435 commented on #13805
Ah, OK. I tried compiling from the command line and it does work. Thanks. :)

[2022-10-13 11:08] #13148 closed

[2022-10-13 20:21] vzarytovskii commented on #14088
The fix should be in the next released of 17.4 and .net7

[2022-10-13 20:24] charlesroddie commented on #3648
### If the word "field" is problematic, then change it or add docs to it

One possible difficulty is the use of the word "field". It may not be clear that the named arguments are "fields".
This isn't a lack of clarity as this is what the documentation says they are. For example documentation on names of DU arguments calls them fields: https://learn.microsoft.com/en-us/dotnet/fsharp/language-refere

[2022-10-14 17:41] KevinRansom opened #14114 "SyntypeOrTrivia does it need [<NoEquality; NoComparison>]?"
@nojaf ,
Hey mate while doing a merge I noticed this:

https://github.com/dotnet/fsharp/blob/823f7d5c55245954f468f1b239a189c3b88af34b/src/Compiler/SyntaxTree/SyntaxTrivia.fs#L322

[<NoEquality; NoComparison>] is missing from :

                  type SynTypeOrTrivia = { OrKeyword: range }

Is that intentional, or an oversight?

Thanks

Kevin

[2022-10-16 13:59] teo-tsirpanis commented on #10426
@dsyme, @vzarytovskii should we reopen this?

[2022-10-16 14:22] abelbraaksma opened #14121 "`Seq.zip`, `Seq.map2` etc behave different from `List.zip`, `List.map2`, `Array.zip` etc w.r.t. raising for different lengths"
In cases where you apply a pairwise operation to two sequences, like `Seq.zip`, the behavior in F# Core is defined by the implementation of `Seq.map2` and `List.map2` and the like. The behavior between collection types is different, however.

* `Array.zip` and `List.zip` throw an `ArgumentException` whenever the sequences have differing lengths
* `Seq.zip` on the other hand doesn't.

I doubt this

[2022-10-17 00:44] abelbraaksma opened #14124 "Adding an FSI Signature File removes generic type resolution in tooltips"
If you create a `*.fsi` file and it contains functions with generic types, then those types will no longer be resolved in tooltips, greatly hampering one of the key tools for F# development: type discovery.

### Repro steps

1. Create a new project with a `test.fs` file in it, like this and then observe tooltip behavior of `makeString`:

[code]

2. Add an extra source file and call it `test.fsi`,

[2022-10-17 05:10] bmitc commented on #13576
@dsyme Yes, that's the solution already given by `convertUnits2` in the workarounds section.

I'm still not sure I have a complete understanding. Why does the `let removeUnits (x: float<'Unit>)` function not complain about the same thing? In other words, when does one need to define the unit of measure as a generic type parameter rather than just a type annotation?

@vzarytovskii @dsyme I also fee

[2022-10-17 05:24] vzarytovskii commented on #14121
I guess the main difference is that seq can be lazy/a computation, and we may not know its length on advance, so to check it we may need to enumerate it.

I would say it makes sense for seq not to throw, since it's quite different from the collection types such as list or array

[2022-10-17 08:41] #13965 closed

[2022-10-17 10:06] abelbraaksma commented on #14121
Note that we're talking here specifically about pairwise enumerations here (zip, mapi2, map2, iter2 etc). Both sequences are advanced at the same time. So by the time one is exhausted, we know from the other one (through the paired call to `MoveNext`) whether it is also exhausted.

In other words, we can throw without having to enumerate the whole sequence, we would throw only if the two `MoveNext

[2022-10-17 10:11] ly29 commented on #14121
Altering behavior this would be a breaking change. I like the python like behaivour of not throwing things which make List.zip unusable in many cases. Compare to the slice operations that are safe now.

[2022-10-17 10:13] vzarytovskii commented on #14121
Yeah, we can do the check while enumerating it, however will unlikely change the behaviour, since it will be a huge breaking change.

[2022-10-17 10:21] #13809 closed

[2022-10-17 10:32] abelbraaksma commented on #14121
Oh, definitely. I understand it would be a breaking change. I should probably have opened this as a discussion instead. My main reason for asking, I guess, is to find out whether this was an oversight at the time (i.e. parity with other collections), or deliberate. As such, I'm considering what approach to take for `TaskSeq`. To raise (current behavior) or not.

This is a good argument against thr

[2022-10-17 10:35] abelbraaksma commented on #14121
Wait, I get it for `tryTail` now. If there are side effects, the minimum for it to return `Some` successfully is to eagerly evaluate at least two elements. But it shouldn't evaluate anything, unless asked. I.e. `let x =  [1] |> Seq.tail |> Seq.tail` is fine. It should only throw once you do `let y = Seq.toList x` or something of the sort.

[2022-10-17 10:40] edgarfgp commented on #14121
This seems to be inconsistent with LINQ . where is does not throw for the examples show in this issue .

https://github.com/dotnet/fsharp/issues/13207 . Is also not consistent with LINQ .

[2022-10-17 10:46] abelbraaksma commented on #14121
@edgarfgp, yes, I'm working on that issue (unrelated to this, though). Note that `LINQ` itself behaves inconsistent wrt that issue, see PR for discussion, but this has since been fixed in the latest .NET, I believe.

[2022-10-17 12:00] T-Gro commented on #14124
As far as I can see, this is also not working for all the Fsharp.Core functions (Option, List,..).
Not sure if it ever was though, but I think it was.

[2022-10-17 13:45] vzarytovskii opened #14128 "Testing issue to check if actions have proper permissions"

[2022-10-17 14:06] vzarytovskii commented on #14128
Well, apparently they're not

[2022-10-17 14:06] #14128 closed

[2022-10-17 14:45] vzarytovskii opened #14129 "Another issue to test actions, please ignore"

[2022-10-17 14:52] dsyme commented on #14121
This is by design, it's just always been this way, it's checked by tests in the repo.

[2022-10-17 14:54] dsyme commented on #14121
This is the rationale really.

[2022-10-17 14:57] dsyme commented on #14097
@xperiandri Could you include a full sample that exhibits the bug please?

[2022-10-17 16:11] buvinghausen commented on #14088
Thanks @vzarytovskii glad it will make it into the .NET 7.0 RTM cycle!

[2022-10-17 17:30] #13192 closed

[2022-10-17 19:35] edgarfgp commented on #3294
This seems to be fixed by https://github.com/dotnet/fsharp/pull/13020 ?

[2022-10-17 19:36] edgarfgp commented on #1281
Same here. This seems to be fixed by https://github.com/dotnet/fsharp/pull/13020

[2022-10-17 23:07] abelbraaksma commented on #14121
I understand the argument “it’s always been this way”, and that we can’t change it. I don’t understand the rationale, as none of my examples require iteration of the whole sequence to throw. In fact, **already during** the standard operation, all information is available to throw or not (mainly, the two or three booleans  that know whether to continue).

This is different from Haskell, btw, in whi

[2022-10-17 23:29] abelbraaksma commented on #14124
It actually **does work** on my machine. It would be really bad if in the general case, this doesn’t work anymore. It only  **doesn’t work** when I open the F# Core repo.

Perhaps this is something recent. I noticed that since .NET 7 RC1 came out, that side by side installation doesn’t work anymore. In other words, maybe this is a new bug, and VS 2022 just picks up the newer language service or so

[2022-10-18 08:57] T-Gro commented on #14124
If Fharp.Core is used "just" as a classical dependnecy, things are still working even on the latest.
It is missing only in the situation when you also have the source code open, and the generic functions are defined in signature files.
If the same code gets consumed as a nuget/.dll, it works.

[2022-10-18 09:41] #3648 closed

[2022-10-18 10:32] abelbraaksma commented on #14124
Ah, then we’re on the same page. That’s indeed what I meant (and slightly less worrying 😆).

[2022-10-18 13:33] psfinaki opened #14138 "Syntax highlighting is broken for F#.Editor"
In the current main, any file in this project seems to have the issue, e.g. SignatureHelp:
![image](https://user-images.githubusercontent.com/5451366/196443462-dd5ec6bd-53ed-41ab-8478-fcf805facc17.png)

Compare to VS GA:
![image](https://user-images.githubusercontent.com/5451366/196443711-2d26daa6-a5ee-4473-93b0-f37e61a9e09e.png)

[2022-10-18 14:48] edgarfgp commented on #13147
@T-Gro  @psfinaki  @0101  Would it make sense to split this in separate PRs?. Also, I'm a little lost regarding to what is allow or not allow at this point this code. Can we agree here. what or show raise a compiler warning so it will help to focus in one at the time . Thanks in advance :)

[2022-10-18 15:02] vzarytovskii commented on #13147
Up to you, I'd say - the more granular - the better. Easier to reason about particular feature.

What does the specification say for these?

[2022-10-18 15:06] edgarfgp commented on #13147
@vzarytovskii  Are we talking about this specification ? [4.1 spec](https://fsharp.org/specs/language-spec/4.1/FSharpSpec-4.1-latest.pdf). or there is more updated one ?

[2022-10-18 15:53] edgarfgp commented on #13147
Ok the first one I'm going to is:

Based on specification

So no ```new```  constructor should be allowed when the AbstractClass attribute is allowed

[code]

[2022-10-18 20:36] abelbraaksma opened #14140 "for 0 in ... do gives warning "Incomplete pattern matches" (FS0025)"
Ok, to be fair, I understand why this happens, but still, reporting it as I believe we can come up with a better warning in cases like this.

![image](https://user-images.githubusercontent.com/16015770/196536996-5aeece93-544a-4702-8394-55259f7cad56.png)

## Repro steps

Any `for..in..do` loop with a constant:

[code]

Or
[code]

## Expected behavior

A warning, sure, but not this one. It's rather

[2022-10-18 20:45] abelbraaksma commented on #14138
Is it possibly related to this other regression? #14124

[2022-10-18 20:49] abelbraaksma commented on #14097
It seems like even without a full repro by @xperiandri the bug is already fixed? Or was that an accidental reference?

[2022-10-18 20:55] vzarytovskii commented on #14097
No, that should've been fixed, need to do some testing, and will close it.

[2022-10-18 21:41] vzarytovskii commented on #14138
Looks unrelated, will look at it shortly.

[2022-10-19 05:13] Dolfik1 commented on #11929
@marklam did you find an alternative solution?

[2022-10-19 08:45] marklam commented on #11929
It looks like I've worked around it by defining a static member, and calling
that from the static do block.

From: Nikolay M ***@***.***>
Sent: 19 October 2022 06:14
To: dotnet/fsharp ***@***.***>
Cc: Mark Lambert ***@***.***>; Mention
***@***.***>
Subject: Re: [dotnet/fsharp] Calling protected static base member from
static do raises MethodAccessException (#11929)

@marklam <https://github.com/ma

[2022-10-19 09:13] #14129 closed

[2022-10-19 09:20] vzarytovskii opened #14143 "Testing workflows, please ignore"

[2022-10-19 09:31] vzarytovskii opened #14144 "More testing of workflows, ignore"

[2022-10-19 09:32] #14144 closed

[2022-10-19 09:32] vzarytovskii opened #14145 "More testing of workflows with pre-filled labels"

[2022-10-19 09:33] #14145 closed

[2022-10-19 10:01] vzarytovskii commented on #13147
Yeah, in the this spec or any rfcs. But apparently there's nothing which mentions this.

[2022-10-19 10:59] edgarfgp commented on #13147
Quick question :  Is there any specific rule  to why Sealed and Abstract attributes can be used at the same time in the same type ?  This is not allowed in C#

[code]

Or should raise a compiler error if both are used together in any type ?

@vzarytovskii @dsyme

[https://sharplab.io/#v2:C4LgTgrgdgPgsAKAAIGYAEBnApgQwDZYAmaSATCQIwDsaA3oomkyejgEYbB[…]dFaubqZAX3W7pmg01SUAbCQAsaALI4AllHlIKABjQBtALpoA+

[2022-10-19 12:14] edgarfgp commented on #13147
Hmm I see thanks . There is a lot going on this issue . it difficult to identify what if any error/ warning are missing in this repro . I would suggest to split this in small ones with some extra description to make it a "real" good-first-issue.

Im leaving this for now . Happy to help in the future :)

[2022-10-19 13:16] KevinRansom opened #14147 "F# / C# interop fails when upgrading to the RC2."
Reported here:  https://github.com/dotnet/core/issues/7865#issuecomment-1281666911

To reproduce, create a solution with two – F# Library and C# Console projects. Reference the F# project from the C# one. Add at least two types in the Library.fs file (two single case discriminated unions for simplicity…) and access THE FIRST ONE from the C# project. It will throw: ” Program.cs(1, 24): [CS0117] ‘Te

[2022-10-19 13:23] vzarytovskii commented on #14147
Duplicate of https://github.com/dotnet/fsharp/issues/14088

[2022-10-19 13:23] #14147 closed

[2022-10-19 13:26] #14092 closed

[2022-10-19 14:39] vzarytovskii commented on #1281
Yes, should be fixed, closing it for now.

[2022-10-19 14:39] #1281 closed

[2022-10-19 14:39] vzarytovskii commented on #3294
Yes, should be fixed, closing it for now.

[2022-10-19 14:39] #3294 closed

[2022-10-19 18:24] vzarytovskii commented on #13147
I guess we can produce an error if type is both sealed and abstract and has instance members defined?
cc @dsyme

[2022-10-20 08:19] T-Gro commented on #13147
Personally I would see it a lot cleaner to raise a 'dragons,beware'-style warning (not error because of backwards compat?) whenever [<Sealed;AbstractClass>] is used.

For any kind of newcomer, a module with functions should be always preferred over this.

Warning would mean it is only for when people know what and why they are doing (which I personally do not see at the moment).
From this issue it

[2022-10-20 08:26] vzarytovskii commented on #13147
Well if it now produces invalid IL, can be error by default guarded by language version (if someone, for some reason has this code).

[2022-10-20 08:41] T-Gro commented on #13147
I meant an info/warning for  [<Sealed;AbstractClass>]  any time it is used (instance properties or not).
It does carry the feeling of an undocumented and unsupported scenario/hack.

[2022-10-20 09:19] vzarytovskii commented on #13147
Oh, no, we probably shouldn't by default. It's a quite known way of having a "static class", when people don't want to use modules. I've seen it many times in different codebases.

Would be a good analyzer though, when we'll progress with the SDK.

[2022-10-20 09:28] allisonchou opened #14150 "[Automated] PRs inserted in VS build main-33020.10"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/121c81e8270d6d5514e85c0e5bad5691167354e1...e707dc8b7a99f0f7c4dd0195709488464b557f77?w=1)
- [Downgrade SDK, rc2 is failing signing (14146)](https://github.com/dotnet/fsharp/pull/14146)
- [Localized file check-in by OneLocBuild Task: Build definition ID 499: Build ID 2024009 (14139)](https://github.com/dotnet/fsharp/pull/14139)

[2022-10-20 09:42] #14150 closed

[2022-10-20 11:21] edgarfgp commented on #13147
Yeah this is what was advised in similar cases .

[2022-10-20 12:11] kerams commented on #14140
I wouldn't go that far. You might see the `KeyValuePair` active pattern in that position or possibly union case unwrapping (be it single case or even `for Ok v in errorsFilteredOut do`, in which case FS0025 is very appropriate).

Yeah, you should be able to do a similar thing at every `SynPat` and `SynSimplePat`.

[code]

So the problem is, how do we decide whether to emit FS0025 or something else

[2022-10-20 13:12] T-Gro opened #14152 "File-level hash directives are not supported if file is defined as a single module"
Hash directives on the very beginning of a file do not work when the file is defined as a module ; and not having any initial namespace declarations.

This **does not work**:
[code]
Results in an error:
_error FS0010: Unexpected start of structured construct in definition. Expected '=' or other token._

https://sharplab.io/#v2:EYLgxg9gTgpgtADwGwBYA0AbEAzAzgHwGJcIBbGABSgEMBzU6gWAChSIATAVwxgAIANQQDo

[2022-10-20 17:27] crummel opened #14153 "Eliminate net5.0 TFM usage in release/dev17.0"
The 6.0.1xx SDK is turned on deprecation warnings for the net5.0 TFM, leading to warnings like:
[code]

These warnings are treated as errors which causes the build to fail.  This may also apply to other 6.0 servicing branches.

[2022-10-20 17:41] abelbraaksma commented on #14140
@kerams, tx for chiming in! That seems reasonable. In `match .. with` and `function | 0 | 1 -> ...` it is reasonable to use constants. In a `let 0 = 10` pattern not so much. I'd suggest the same error _number_, just with a different message.

[2022-10-20 17:43] charlesroddie commented on #14140
I think this should go in FsLang discussion, or a slack discussion, as the feature request here is not clear at all, or the scope of it. In the worst case someone might attempt to fix this by adding a special case, thereby adding complexity to the language.

My suggestion for this would be that there should be a concept of a SimpleGuaranteedPattern which includes `x`, `(x, y)`, but excludes `Some

[2022-10-20 17:45] abelbraaksma commented on #14140
@charlesroddie I didn't want to go so far as to change the language, though your suggestions are good. The reason I raised this is that the warning isn't very useful to newbies, and sometimes seasoned programmers alike and I merely suggested to improve it. Not to forbid it, which would be a breaking change.

[2022-10-20 17:57] charlesroddie commented on #14140
Without a change to the language, "incomplete pattern matches on this expression" is the _correct_ reason for the error.

"Use of an incomplete pattern may lead to runtime errors" is better as the issue applies to more than constants, and also does not apply to the constant `()`. And this error is pretty much what we have now.

If you correct to "Use of an constant non-unit pattern may lead to run

[2022-10-20 19:50] vzarytovskii commented on #14153
Oof, I think it was quite painful to migrate from net5 to net6 tfm in one of the next branches iirc.

@KevinRansom do you think it'll be doable to just backport the change to 17.0?

[2022-10-20 20:27] abelbraaksma commented on #14140
For a long time we’re on the road of improving error messages. For instance, when an overload cannot be found, we show suggestions.

One of the major complaints about newcomers coming to the language is vague and seemingly unrelated error messages, like the one in the example.

Sure, my proposed wording may be a little too specific, but surely you wouldn’t disagree that we should improve the codin

[2022-10-21 15:06] psfinaki opened #14157 "Tracking: F# Hints"
We'll be introducing a feature called F# hints. It is inspired by C# [inline hints](https://learn.microsoft.com/en-us/visualstudio/ide/reference/options-text-editor-csharp-advanced?view=vs-2019#inline-hints) but will do more! The feature is going to be built on top of the dedicated [Roslyn API](https://github.com/dotnet/roslyn/tree/main/src/Tools/ExternalAccess/FSharp/Internal/InlineHints).

This

[2022-10-21 15:11] psfinaki opened #14158 "Implement inline type hints for F#"
This should act similar to C# [inline type hints](https://learn.microsoft.com/en-us/visualstudio/ide/reference/options-text-editor-csharp-advanced?view=vs-2019#inline-hints):
![image](https://user-images.githubusercontent.com/5451366/197228976-2395ae18-13a4-4092-b17c-84222c8f9e14.png)

![image](https://user-images.githubusercontent.com/5451366/197229029-2065c2fe-faaa-44ca-8fc4-06e40b1f77e4.png)

[2022-10-21 15:32] psfinaki commented on #10289
Closing in favor of https://github.com/dotnet/fsharp/issues/14157.

[2022-10-21 15:32] #10289 closed

[2022-10-21 16:11] abonie opened #14160 "In FSI, an invalid string literal can break further parsing of string in that interactive session"
In FSI, inputting an interpolated string literal that opens interpolation expression with `{` but does not close it, e.g. `$"{"` breaks the session in a way that further valid string literals can no longer be parsed

**Repro steps**

In `dotnet fsi` try:
[code]
followed by any(?) string literal, e.g. empty string:
[code]
Full session example:
[code]

Note: the invalid input results in "error FS337

[2022-10-21 18:21] vzarytovskii commented on #14140
Oh yeah, this is very confusing message. We should definitely improve it.

[2022-10-21 18:23] vzarytovskii commented on #10426
If C# allows it, I think it makes sense to allow it as well

[2022-10-21 19:39] charlesroddie commented on #14140
Yes it can be improved but:
- The current suggestion doesn't improve it and introduces conceptual unclarity and 2 mistakes.
- I have the impression that there is almost no review process for code that changes error messages, so there is a risk of prematurely merging PRs here without first having concrete suggestions, identifying the underlying issue, and with the possibility of improving certain a

[2022-10-21 22:29] abelbraaksma commented on #14140
Absolutely, it was not a proposal, just a hint as to what direction I was aiming for. I thought the phrase “something like this” made that clear.

I assume you meant “without” instead of “with”?

All we need is an improvement over the current error. I agree it shouldn’t create false positives or negatives, but changing a warning _message_ has never led to breaking changes. If you can think of a be

[2022-10-21 22:38] abelbraaksma commented on #3648
I agree, it’s a tricky message to improve. But it also hints at an implementation detail (like you mentioned) that’s totally superfluous. Just as with normal DUs, the compiler can freely come up with field names. That won’t be a breaking change, as currently, that’s not possible to do.

I thought there was already an issue or proposal for this, but I couldn’t readily find it. Also, typing this on

[2022-10-21 22:41] abelbraaksma commented on #3648
Oh wait, nvm, this has meanwhile been fixed. Awesome 👏 @edgarfgp and @T-Gro. For posterity, if I read it correctly, the new message is a vast improvement:

[2022-10-22 14:38] abelbraaksma commented on #13707
Yeah, works for me again as well. From time to time, it appears I need to update the dotnet SDK and/or the CLR or something, which makes sense, I guess. Not sure that was the cause here, but either way, all's well that ends well :).

[2022-10-23 15:26] abelbraaksma commented on #10426
@vzarytovskii I agree. As mentioned, this is `typeof`, not `GetType()`. We should also look at `typedefof`. Can you click the <kbd>ReOpen</kbd> button?

[2022-10-23 15:52] cartermp commented on #10426
Let me re-open.

[2022-10-23 17:48] abelbraaksma opened #14162 "FS3388 (implicit conversion warning) does not raise when it should+"
Please provide a succinct description of the issue.

**Repro steps**

Provide the steps required to reproduce the problem:

1. Step A
2. Step B

If possible attach a zip file with the repro case. This often makes it easier for others to reproduce.
The zip file should ideally represent the situation just before the call/step that is problematic.

**Expected behavior**

Provide a description of the

[2022-10-23 17:48] #14162 closed

[2022-10-23 18:01] abelbraaksma opened #14163 "FS3388 (implicit conversion warning) rarely gets triggered when it should, using `--warnon: 3388`"
Part of F# 6.0 was [more leniency towards implicit conversions](https://github.com/fsharp/fslang-design/blob/main/FSharp-6.0/FS-1093-additional-conversions.md#warnings-for-type-directed-conversions).

While there have been arguments both in favor and against it, the workaround for people wanting the "old behavior", warning FS3388, along with a few others, was introduced. Explicitly, it states:

Ho

[2022-10-23 18:43] brianrourkeboll commented on #13147
Yes, there are a few different things here. When I discovered one, I figured I might as well poke around and see what other related oddities I could find 🙃. Philosophically, though, they pretty much all have to do with one of the following:

1. Allowing instance-level constructs on types that cannot be instantiated (this is the more noteworthy one, since you get no compile-time error and get a run

[2022-10-23 21:58] abelbraaksma commented on #13147
Related:

* `BadImageFormatException` due to bad IL and inheritance using `base`: https://github.com/dotnet/fsharp/issues/13926
* `BadImageFormatException` when using `op_Addition` on interfaces: https://github.com/dotnet/fsharp/issues/14012
* `BadImageFormatException` using an additional, unknown generic argument in properties of interfaces: https://github.com/dotnet/fsharp/issues/12198 (solved,

[2022-10-23 22:30] brianrourkeboll commented on #13147
@abelbraaksma yes, that particular example doesn't yield a `BadImageFormatException` because, I think, the method call is optimized away altogether by the F# compiler (`x` is directly assigned the value `42`).

[2022-10-24 10:34] allisonchou opened #14165 "[Automated] PRs inserted in VS build main-33024.23"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/e707dc8b7a99f0f7c4dd0195709488464b557f77...49a0e2e80922016533573f4e550a6ab199006396?w=1)
- [Filter completions on abstract member type signature (13090)](https://github.com/dotnet/fsharp/pull/13090)
- [Use synthetic ranges when rewriting range expressions (13958)](https://github.com/dotnet/fsharp/pull/13958)
- [[main] Disable

[2022-10-24 11:13] #14165 closed

[2022-10-24 16:52] vzarytovskii commented on #13122
Resolved by https://github.com/dotnet/fsharp/pull/13182

[2022-10-24 16:52] #13122 closed

[2022-10-24 17:08] vzarytovskii commented on #13214
@toburger I can't reproduce it on the 2022, is it still a problem?

[2022-10-24 17:09] vzarytovskii opened #14166 "`Tracking`: F# Telemetry"
F# related telemetry in Visual Studio is currently quite rudimentary. We have a few things out of the box thanks to Roslyn, e.g. general F# usage but the split of telemetry within F# (e.g. by feature) is partially broken and partially absent.

Here is the proposed strategy to get on track with this topic.

**Stage 1**

- Start talking about this
- Grab some low-hanging telemetry fruit:
  - Fix exi

[2022-10-24 17:12] vzarytovskii commented on #12957
@jkone27 as per @dsyme's comment, I am going to close the issue. Please feel free to open a language suggestions at https://github.com/fsharp/fslang-suggestions

[2022-10-24 17:12] #12957 closed

[2022-10-24 17:15] vzarytovskii commented on #13051
@kevmal as per Don's comment, I'm closing this issue, please feel free to make a proposal over at https://github.com/fsharp/fslang-suggestions/issues

[2022-10-24 17:15] #13051 closed

[2022-10-24 17:21] vzarytovskii commented on #14088
This was fixed and inserted to 6.0 and 7.0

[2022-10-24 17:21] #14088 closed

[2022-10-25 01:56] nodakai commented on #12636
May I suggest F# team to run a .fsx script as part of `$PS1` as dogfooding 😉

[2022-10-25 06:52] T-Gro opened #14170 "Improve .fsi tooling experience to keep signatures and implementation in sync"
With the ability to type check implementation files in parallel in case of signature files present, build-time speed can now be a strong factor when considering signature files.

At the moment, they come with a maintenance cost of manually editing the same information twice - function and modules names, number and types of arguments, comments.

The CLI offers a way to refresh signature files based

[2022-10-25 07:16] nojaf commented on #14170
Somewhat related to https://github.com/dotnet/fsharp/issues/13215

[2022-10-25 09:46] vzarytovskii commented on #12636
Things should improve once we start incorporating mibc profiles, and ship stripped dlls.

[2022-10-25 11:46] allisonchou opened #14171 "[Automated] PRs inserted in VS build main-33025.38"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/49a0e2e80922016533573f4e550a6ab199006396...82c00c7dbc2e8e3509c1bef0d04a7fc1b5e0b707?w=1)

[2022-10-25 12:50] voronoipotato commented on #3648
Honestly I expected it to have come up with field names based on the case name by default unless explicitly overridden with different field names, but with the new error message it is at least intuitive to resolve.

[2022-10-25 12:52] #14171 closed

[2022-10-25 14:44] psfinaki opened #14174 "Implement parameter name inline hints for F#"
This should act similar to C# [inline parameter name hints](https://learn.microsoft.com/en-us/visualstudio/ide/reference/options-text-editor-csharp-advanced?view=vs-2019#inline-hints):
![image](https://user-images.githubusercontent.com/5451366/197228976-2395ae18-13a4-4092-b17c-84222c8f9e14.png)

![image](https://user-images.githubusercontent.com/5451366/199549239-5c86f9c1-eefe-4974-b1c2-7ebf32d94a

[2022-10-26 05:56] codingdave commented on #3207
Should the note in [Microsoft.NET.Sdk.CSharp.props](https://source.dot.net/#MSBuildFiles/C/hostedtoolcache/windows/dotnet/sdk/6.0.302/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.Sdk.CSharp.props,cc2e62edb89ad164) get removed or updated if the case is closed?

` `
`    <[WarningsAsErrors](https://source.dot.net/MSBuildProperties/R/WarningsAsErrors.html)>$([WarningsAsErrors](https://source.dot.net/

[2022-10-26 10:45] vzarytovskii opened #14178 "VS: Error dialog "Error HRESULT E-FAIL has been returned from a call..." displays when "add an item" to F# project"
1. Create a F# project e.g F# web(.net)
2. Right-click on project and click "add an item"
below error dialog display.

![image](https://user-images.githubusercontent.com/1260985/198006753-42e97b43-9074-45d2-9699-e137aec89398.png)

Does not happen for C# or VB projects

[2022-10-26 11:04] T-Gro opened #14179 "VisualStudio (17.4. Preview 5) fails on language features for projects referencing Fsharp.Compiler.Services"
When opening the VisualFsharp.sln, build works just fine.
Language services within the Fsharp.Compiler.Services work just fine as well.

However, when going into a project that directly or indirectly depends on Fsharp.Compiler.Service, language features stopped to work, demonstrated by a Object reference exception coming out of it.

When debugging the issue, the first failure happens on a pattern

[2022-10-26 11:26] vzarytovskii commented on #14179
One thing to look at - https://github.com/dotnet/fsharp/pull/13671

Since it's related to pickling

[2022-10-26 13:10] allisonchou opened #14180 "[Automated] PRs inserted in VS build main-33026.42"
[View Complete Diff of Changes](https://github.com/dotnet/fsharp/compare/82c00c7dbc2e8e3509c1bef0d04a7fc1b5e0b707...90f5b1ed0befe8337b923860d29dcd62d4735aef?w=1)
- [Generate SBOM for Fsharp (#14029) (14169)](https://github.com/dotnet/fsharp/pull/14169)

[2022-10-26 13:21] T-Gro commented on #14179
This does not happen at classical build.
The code path being hit when loading a project references that results into thousands of Unlinked entities is via Incremental build:

[code]